[2019-03-12 18:05] villesundell commented on #865
Is it intentional, that r, s and v are in "non-standard" order in the reference implementation:
https://github.com/OpenZeppelin/openzeppelin-solidity/pull/741/files#r264813474 ?

[2019-03-13 09:51] Roger-Wu commented on #1726
### Short Answer

We simply followed what PoWH3D did.
Something between 2\**128 and 2\**165 may be a better choice for `magnitude`.

### Long Answer

In this implementation, the constraints of `magnitude` is made by these lines:

[code]

[code]

We want
1. `(msg.value).mul(magnitude)` never overflows.
1. `magnifiedDividendPerShare` never overflows.
1. `magnifiedDividendPerShare.mul(balanceOf(_owne

[2019-03-13 17:21] MadeofTin commented on #1789
Definitely possible. I am a little confused on how to approach the second explicitly, but I think there is a way to get there. What are your thought on how the modules would be set up? @owocki

Overall, I have been reading over the recent discourse and recommend implementing 3 different voting modules to be effective.

- Establish Ecosystem Support (Vote Yay, Nay, Abstain) Mutually exclusive
- Vot

[2019-03-13 17:48] owocki commented on #1789
this makes sense at a high level to me.  i appreciate all the thought going into this!  let me circle up with a few people in the working group

[2019-03-13 18:52] jo-tud opened #1843 "ERC-1843 - Claims Token Standard"
---

eip: ERC-1843
title: Claims Token Standard
author: Johannes Pfeffer ([@jo-tud](https://github.com/jo-tud)), Johannes Escherich ([@jo-es](https://github.com/jo-es))
discussions-to: #1843
status: **Deprecated**
type: Standards Track
category: ERC
created: 2019-03-13
requires: ERC-20 (#20), ERC-223 (#223)
**superseded by: ERC-2222 (#2222 )**

---

## Simple Summary
A standard for a token that re

[2019-03-13 18:55] jo-tud commented on #1526
This is a great discussion which adds great points to the work we've done. I think the problem should be approached as general as possible - avoiding the term dividends.
I just proposed a standard for a claims token and would love to discuss it:
https://github.com/ethereum/EIPs/issues/1843

[2019-03-13 19:02] jo-tud commented on #1843
Maybe merge https://github.com/ethereum/EIPs/issues/1726 and this. @Roger-Wu

[2019-03-13 19:38] Roger-Wu commented on #1726
renamed `payAndDistributeDividends` to `distributeDividends`

[2019-03-13 21:49] Roger-Wu commented on #1526
This is another related interface standard and implementation for a dividend-paying ERC20 token.
ERC-1726: Dividend-Paying Token Standard #1726

Let's have a discussion and try to reach a consensus!

[2019-03-14 03:40] thefallentree commented on #225
I'm releasing my implementation of EIP225 at https://github.com/thefallentree/parity-clique  from now on. This software is being used as the only parity based goerli testnet authority node.  It can also be used to connect to rinkeby. I hope it will be useful to someone.

Thanks all.

[2019-03-14 04:52] fulldecent commented on #1843
totalReceivedFunds can overflow if you deposit tokens, withdraw, and then deposit them back in

[2019-03-14 11:02] jo-tud commented on #1843
Yes that is a potential problem. However it is limited by the economics of an attack:

`costFactorPerAttackCycle >= 1-fractionOwnedByAttacker`

- In case of Ether, overflowing totalReceivedFunds is economically only possible if the attacker is the only token holder. If there are one or more independent parties holding tokens, each round incurs a cost relative to the percentage of tokens held.
- In

[2019-03-14 15:34] MadeofTin commented on #1789
Another option would be to release each module separately. Something like module 1 then a week later release 2 and then a week after that release 3.

And, just to be clear, creating custom modules isn't a feature supported on Tennagraph right now, but all of the tech to make it happen is there for someone to put together. So, either someone from your team could submit a pull request and we can lau

[2019-03-14 15:41] MadeofTin commented on #1789
Is there a channel I can join to join the discussion? We have a bridged telegram https://t.me/tennagraph  and riot group https://riot.tennagraph.com would be a good place to discuss

[2019-03-14 15:43] owocki commented on #1789
hey @MadeofTin checkout the links at the  bottom of [this medium draft](https://medium.com/gitcoin/funding-open-source-in-the-blockchain-era-8ded753bf05f) for links to our telegram group

[2019-03-14 21:39] nicksavers commented on #225
@karalabe Maybe it's a good idea to clean up the first comment to take out the redundant information that's now in the EIP and put a [link](https://eips.ethereum.org/EIPS/eip-225) to it at the top. And now that it's up and running with multiple clients on Görli testnet, is it perhaps time to start moving to Last Call in order to Finalize it?

[2019-03-14 21:56] davidmurdoch commented on #1186
It depends on the data type returned by the RPC for the field in question. `0x0` is _always_ a _QUANTITY_ type and represents the number `0`. `0x00` is an invalid QUANTITY. The _DATA_ type allows for `0x` which represents an empty set, `bytes<>`. `0x00` is `bytes<00>`, an array with a single byte: `0`. `0x0000` is valid and different than `0x00` would represents `bytes<00, 00>`, an array of two by

[2019-03-15 07:42] gluk64 commented on #1837
The necessity to adjust smart contracts is a barrier for adoption. @radotzki, you can onboard more users in Portis if it's not application-specific.

@k06a you should talk to the mining pools first. They are they only people who you need to convince and the number is limited.

[2019-03-15 08:40] deacix commented on #1837
@gluk64 Thank you for the feedback! May you can provide some contacts to the mining pools?

[2019-03-15 10:35] mcdee commented on #777
@0xjac as mentioned above I'm happy to hep with anything that can be done to move this along.  It would be nice if #1820 was moved to last call and whatever work needs to be done on this is clearly stated along with details of where people can help out.

[2019-03-15 11:10] jo-tud commented on #1526
I'm not in favor of using the term "dividend". Dividends are a very loaded term with various meanings in finance. Something more neutral, like our "ClaimsToken", or even "ReturnOnClaimsToken" or "PaymentDistribtionToken" would be better.

As @rolandkofler put it, a dividend standard would just be a specialization of a return on claim standard.

[2019-03-15 12:06] snjax commented on #1837
I think HashCash will not work in general case, because GPU or ASIC miners of attackers will have much more power to produce the hashes.

But if we make hashcash mining process like ethereum mining and bring it to 3rd party (so, there are two reward transfers inside the block: one transfer for `block.coinbase`, another transfer to hashcash provider address, which is set with additional blinding pa

[2019-03-15 12:12] k06a commented on #1837
@snjax but I think ASIC miners will have not enough incentive to block valid gas-less transactions. Are you talking about generalizing transaction mining by 3rd parties? This would allow wallet owners to mine their client's transactions with some pools cooperation and earn on this.

[2019-03-15 12:41] jo-tud commented on #1526
@adamdossa

If I understand your point correctly, this should be taken care of in @Roger-Wu 's implementation and ours (#1843). The `DividendPayingToken` does this by keeping a dividend per share variable, which is adjusted at deposit & transfer time, `ClaimsToken` keeps account of processed and claimed funds and adjusts at transfer & withdrawal time.

[2019-03-15 12:44] snjax commented on #1837
@k06a yes, I said about generalizing transaction mining.

Also, there is another way how to provide gas-less transactions: wallet contracts.
dex can setup such contracts to their users. After that, the user can sign some instructions for such a contract and send it to somebody who executes the instructions at the contract.

[2019-03-15 15:50] mswezey23 commented on #1526
I looked over the code in #1843. I did not see where it was tracking a historical balance for `balance_A `.

For reference, looks at OZ's ERC20Snapshot contract here: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/drafts/ERC20Snapshot.sol

Feel free to point me in the right direction if I overlooked a piece of code.

[2019-03-15 15:55] jo-tud commented on #1526
Well, to be efficient, historical balances are not tracked directly in the ClaimsToken. Instead, there are two additional mappings per token holder, that track the processed and claimed funds. They make some accounting at every transfer and payout - but only for the active account. With this mechanism it is possible to distribute payments at exactly the token distribution at the time of payment, w

[2019-03-15 16:10] mswezey23 commented on #1526
Quick reply! Thanks, I'll respond here versus editing my previous comment.

I see now, after a closer inspection. The code is updating during `transfer` & `transferFrom` function calls.  As you stated above. And following the table of events, I see how it keeps track, over time, of available funds for withdrawal.  Very cool approach!

I will further digest the code and null it over.

Besides from

[2019-03-15 19:46] fulldecent commented on #1418
Copying relevant discussions from EM to here.

Thank you @arachnid and @jvluso for these points.

It is not spelled out in the proposal, but as-is this is by default a governed system. The storage cost can be changed at any time, this would require a hard fork. We are currently using the same approach with Constantinople. Specifically, EIP-1234 governs how the fixed fee for PoW miners will change.

[2019-03-16 22:48] ChrisCates commented on #1361
@madhavanmalolan, it would be nice to have Swift and Java implementations.

There are web3 libraries for Swift and Android. But do we really need those?

[2019-03-17 16:21] rudolfix commented on #1843
why do you add this to token itself instead of using snapshots from MiniMe token (that btw. are used extensively in AragonOs apps) and implementing separate, specialized disbursal contract? claiming token is an app on the snapshot/MiniMe token protocol and 90% of the code to implement it, would be token snapshot re-implementation.

[2019-03-17 22:00] chris-shyft commented on #85
we're probably going to just create something within Shyft that does this correspondence re: Identity, using a different PURPOSE' obviously. I'll send more info when we've concretized our plans.

[2019-03-18 17:25] kgcorps commented on #1411
Question: Is there a good reason for methods of IERC1594 to return "void"? I'd expect it to be inline with transferByPartition in a sense that it would return bytes32 indicating success or error state of the transfer.
I.E.
`
function transferWithData(address _to, uint256 _value, bytes _data) external returns (bytes32);
function transferFromWithData(address _from, address _to, uint256 _value, bytes

[2019-03-19 07:33] Georgi87 commented on #1155
We (Gnosis) are using ERC1155 in our new prediction market implementation (https://github.com/gnosis/hg-contracts). Different outcomes of prediction markets are represented with different tokens. ERC1155 allows us to significantly reduce gas costs by managing all tokens/outcomes in one contract.

We agree with all rationals but question the design decision to support only safe transfers for the fo

[2019-03-19 13:37] PhABC commented on #1155
Hey @Georgi87 , thanks for the comment! You are saying the smart contract accounts can't receive ERC-1155 as they do not implement the `onERC1155Received()`? Now that you mention this, perhaps the main problem is the lack of abstraction with the `onReceive()` function, which should be a verifying against a mapping variable on the receiver side instead of hard-coding a function for each standard.

[2019-03-19 15:17] JamesTherien commented on #1155
@Georgi87, you can solve the vanilla multi-sig contract issue easily. Just use an ERC1155 escrow contract contract owned by the multi-sig wallet.

[2019-03-19 15:38] LooseyGoosey728 opened #1849 "eip-721 issue"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2019-03-19 15:38] #1849 closed

[2019-03-19 15:40] matthewjablack opened #1851 "ERC 1850 Discussion"
---
eip: 1850
title: Hashed Time-Locked Principal Contract transactions
author: Matthew Black <matthew@atomicloans.io>, Tony Cai <tony@atomicloans.io>, Atomic Loans team <info@atomicloans.io>
status: Draft
discussions-to: https://github.com/ethereum/EIPs/issues/1851
type: Standards Track
category: ERC
created: 2019-03-19
---

## Simple Summary

This EIP describes a script for a generalized debt ag

[2019-03-20 07:20] rahuldamodar94 commented on #223
ya. this works !!! thanks bro .

[2019-03-20 11:10] jo-tud commented on #1843
The MiniMe token is great, no question! It can probably be used to create an alternative implementation for the proposed interface. However, I see the snapshots as an unnecessary overhead for the core functionality of claims distribution. The elegance in our reference implementation lies in the fact that the balance history doesn't have to be recorded explicitly and it is still possible to correct

[2019-03-20 13:01] Hackdom commented on #223
2 years later...this ERC is still going.

[2019-03-20 14:01] jo-tud commented on #1526
I don't think this should be part of the standard. It should be simple and modular to be integrated with compliance frameworks like #1400 . The ClaimsToken aims to do that.

[2019-03-21 09:24] wighawag commented on #1155
Hi @Georgi87 @PhABC

I personally would not mind adding the "unsafe" variants but a more robust option (that preserve the guarantees provided by the current spec) would be to use #1820 like #777 does so wallets like gnosis safe can simply register a receiving contract to handle ```onERC1155Received``` and ```onERC1155BatchReceived``` on its behalf.

[2019-03-21 10:22] MicahZoltu commented on #777
@mcdee I think it is probably time to execute option 3 from https://github.com/ethereum/EIPs/issues/777#issuecomment-467410654

While the maintainers do stop in from time to time and say something, this all should have been finished many months ago, the amount of work remaining looks like less than a days worth and has been for many months.

If you were to fork this and 820 right now with the nece

[2019-03-21 11:41] 0xjac commented on #777
@MicahZoltu Please do not assume that because I do not comment her I am not workin on ERC777.

I actually have been working on updating the ERC777 reference implementation to solidity 0.5 which is more than a one day jobs. And I worked on ERC1820 as well.

I know the rate is slow and to that end I took a week off work next week to finish ERC777. And I will do a final review and put ERC1820 to last

[2019-03-21 12:28] mcdee commented on #777
@0xjac #1820 doesn't need any more work it needs to be moved to last call.  It's a copy of #820 with 1 functional change (`0x08` -> `0x24`) and a simple replace of 820 with 1820.  It should take 5 minutes to do a diff of old and new, make sure that nothing else has changed, and submit.

I would not consider test coverage of a reference implementation (or indeed the reference implementation itself)

[2019-03-21 12:53] 0xjac commented on #777
@mcdee I see your point. I do want to have this finished as well and I will make efforts working on your direction and more in parallel. (Also thank you for your support.)

I have put ERC1820 to last call, I would kindly ask you to review it then. (See #1857)

The ERC777 reference implementation is being updated to Solidity 0.5 but coverage is not working (because [solidity-coverage does not suppo

[2019-03-21 12:57] MicahZoltu commented on #777
I think the disagreement cause for conflict here is that @mcdee and I don't believe that this EIP needs a reference implementation or tests to go into last call (or even final).  I believe it is acceptable to add a link to reference implementation to a final EIP as that is a non-normative change, much like improving readability, fixing a typo, reformatting the structure of the EIP copy for easy of

[2019-03-21 12:58] MicahZoltu commented on #777
Re: naming, I would probably just go with `Ethereum Token Standard v2`.  It is simple, makes it clear that this standard is newer (and presumably better) than the previous one, and scales if there is eventually a v3, etc.

[2019-03-21 13:02] MicahZoltu commented on #777
Something to keep in mind, moving an EIP to last call means that the __author__ is done making normative changes to the EIP.  It does not mean that discussion stops.

My point here being that you don't need to solicit additional review _before_ going into Last Call.  The act of putting it into Last Call _is_ the process for soliciting additional review.

[2019-03-21 13:22] 0xjac commented on #777
@MicahZoltu There might always be a risk that one of the aspect of ERC777 does not work as expected, it is not as simple as ERC20 and that is why i want to reviewing it carefully. Imagine there is an issues and it is detected after the standard is final. Then we would have to restart a new EIP from scratch all over again and this will take even longer.

The tests and coverage are here to make sure

[2019-03-21 13:35] mcdee commented on #777
I have checked ERC-1820 as a diff against ERC-820 and it looks good in terms of the changes.

I have read ERC-1820 and found no wayward instances of '820' where a search/replace might have gone wrong.

I have read and tested the ERC-1820 contract and it appears to function as expected.  There is a small discrepancy in the **comments** for `implementsERC165Interface()` where it states that the func

[2019-03-21 13:42] 0xjac commented on #777
@mcdee thanks

(Note, do you mind for the future posting your comments related to 1820 on #1820 just to keep things organized.)

I will have a look and go over your review this weekend, well before the end of the last call. If I can manage to fix the comment and regenerate the contract within that time I will do it as well.

[2019-03-21 13:43] mcdee commented on #777
@0xjac next I will take a full read through the ERC and compare the spec to your reference implementation to see if there are any discrepancies.  I expect to do so this evening and will report back tomorrow on my findings.

[2019-03-21 13:45] 0xjac commented on #777
@mcdee ok thanks, if you can have this done by Friday that would be great, that way I can tackle it Saturday.

[2019-03-21 17:40] ppoliani commented on #1594
@cyberience A transfer can fail for various reasons. A whitelisted address is definitely one of those reasons, which essentially add restrictions to who you can send the tokens to. At the same time, a transfer can fail due to insufficient balance from the sender.

[2019-03-22 00:19] mcdee commented on #777
Okay here's the review.  I've tried to keep it as factual as possible, avoiding opinion unless I believe it to be a major hindrance to understanding the specification.

# Specification

The line numbers below refer to the current HEAD as of 2019-03-21 23:00 UTC, commit is 695726d6be77d057a46227735657b0460a2634b0.

## Lines 42-72

This interface definition is out of date regarding Solidity 5 keywor

[2019-03-22 00:56] kwikiel commented on #1404
I think it's terribly bad idea to embrace security tokens:

Enforcing Token Lock-Up Periods (reasonable)
Enforcing Passed AML/KYC Checks (this is making ethereum less inclusive / it hurts people from blacklisted countries)
Private Real-Estate Investment Trusts ( why you need blockchain for that )
Delaware General Corporations Law Shares ( why you need blockchain for that )

Generally blockchains c

[2019-03-22 17:31] masonicGIT commented on #1404
Hello - We are simply using the Ethereum blockchain based on demand, its one of the best tested and widely adopted at the moment.

The Ethereum blockchain can always be used completely openly, however when integrated into businesses, they have regulatory obligations. This standard is designed to help them meet their corporate obligations while following their own laws. That in no way impinges cert

[2019-03-22 20:13] kwikiel commented on #1404
Sounds right - it seems that the most important part would detectTransferRestriction logic ( where most of the compliance code will be located )

[2019-03-23 14:47] jinserk commented on #998
HI,
The reference implementation is somewhat old solidity version, and got error when I use more than solc 0.5.0. Do you have any plan to upgrade this?

[2019-03-23 18:43] erkinalp commented on #1840
What about this (GPL-like patent clause):
`The licensee is allowed to use, reproduce, build upon, build over, develop, the patented products and processes based on the description, drawings and claims of the given patents.`

[2019-03-23 18:54] mudgen commented on #998
@jinserk I don't currently have a plan to upgrade it. I would be happy for someone else to upgrade it.

[2019-03-23 18:55] mudgen commented on #998
@awaldstein Sounds like an awesome presentation!

[2019-03-24 17:57] fulldecent opened #1860 "MathTeX does not render correctly"
# TEST CASE:

1. Fork this repo
2. `bundle install`
3. Edit any EIP and add `Hello, $x = y$` in the text
4. `bundle exec jekyll serve`
5. Load the page in your browser
6. View relevant source

# EXPECTED

The math equation is visible in all its TeX glory.

# ACTUAL

The source shows the code as `<script type="math/tex; mode=display">x = y</script>`, but it is not rendered in the browser.

# IMPACT

[2019-03-24 18:42] bmann commented on #1860
It’s not the GitHub pages default it’s the Jekyll default theme “minima” and yes it would need to be included in _layouts to be edited.

Did some reading on this: https://quuxplusone.github.io/blog/2018/08/05/mathjax-in-jekyll/

Also, Kramdown (the rendering engine) May already support this? See https://kramdown.gettalong.org/syntax.html

This should test it:
[code]

[2019-03-24 19:27] kandaris commented on #725
I think you have identified some of the critical components here... that are both items a. and b. I have given some thought to the nature of asynchronous process you mention.

[2019-03-24 21:33] fulldecent commented on #1860
Thank you for checking this out. So basically we just need to copy the default file and then add that one CDn line?

[2019-03-24 23:13] bmann commented on #1860
Yes I believe so!

[2019-03-25 00:29] 0xjac commented on #777
@mcdee Thanks a lot for your feedback. I will tackle the implementation tomorrow.

I have updated tp Solidty in #1864.

I have been over your feedback for the specification, and change the sepcs accordingly. The changes are in #1863. I have applied or answered all of your feedback which you can find below:

## Lines 42-72

Updated to Solidity 0.5 (See #1864)

## Lines 52+

I agree but since this i

[2019-03-25 02:20] MicahZoltu commented on #725
The ownership stuff in this EIP feels like an implementation detail that should not be part of the specification.  What is the argument for including it rather than letting each implementation decide how ownership/control works?

[2019-03-25 02:53] fulldecent commented on #1860
Cool. Here is a pull request https://github.com/ethereum/EIPs/pull/1866

Requesting assistance to test it.

[2019-03-25 04:24] gorgos commented on #1756
You realize that

is not possible for a public blockchain?

See [Random Number Generation for Solidity Smart Contracts](https://medium.com/@markuswaas/random-number-generation-for-solidity-smart-contracts-1-9ccfc7fcadf0) for more details.

-->

👍 👍

[2019-03-25 09:10] mcdee commented on #777
@0xjac many thanks for the quick turnaround and changes.

## Regarding `operatorSend()` and `operatorBurn()`:

Imagine you have an operator that is meant to transfer tokens on behalf of another holder.  Both the operator and holder have tokens in their accounts.  Input to the operator is in the form of a website where the holder provides details of their account and the recipient account (and amou

[2019-03-25 11:45] cbruguera commented on #725
@MicahZoltu I think that's precisely what this ERC725 "version 2" proposal does. `owner` is just an address. Whether that address is a user account or a smart contract implementing complex multi-sig or any other key-management mechanism is up to each implementation. I think this current version is pretty flexible in that regard.

@kandaris I think the comment you're replying to is no longer applia

[2019-03-25 11:58] wighawag commented on #725
@frozeman sorry did not realized you replied until now

Taking #1077 as an example, ```_data``` would be the actual data to send to ```_to``` and ```_operationData``` would contain what is relevant to the operation type which for 1077 would be the meta transaction information for relayer refund : gasPrice, gasLimit, gasToken...

This way there is no need to overload ```_data``` with these paramete

[2019-03-25 12:05] MicahZoltu commented on #725
@cbruguera I was saying that there is no need for this specification to have anything to do with ownership or defining who can call what, that is an implementation detail.  What matters for this specification is that the API for interfacing with the contract is well defined.

As an example, what if there are multiple owners?  Or maybe ownership rotates every 24 hours as part of a key rotation stra

[2019-03-25 12:09] kandaris commented on #725
@cbruguera  Thanks for the heads up Carlos, I am admittedly playing catch up here in this thread I plan to review the latest version of the identity contract as time permits.

[2019-03-25 12:28] Amxx commented on #725
Then this rotation / permission strategy would be implemented by ANOTHER contract (A) that will be the owner of the ERC725 proxy (B). And if at any point the owner wants to change the ownership logic it would have to deploy yet another contract with the new logic (A'), and change the owner of the ERC725 proxy (B) from the old logic (A) to the new logic (A')

[2019-03-25 12:56] MicahZoltu commented on #725
While you _can_ delegate ownership to another contract that has logic for owner rotation or multiple owners or whatever, then that contract would need the ability to proxy calls as well.  Reasonably, you would want that owning contract to be standardized, so you would make it ERC725, but you then it would need to delegate the logic again.  Repeat until you reach infinite number of delegated contra

[2019-03-25 13:11] Amxx commented on #725
I think you are completely missing the point of erc725.

The objective is NOT to implement ownership logic. This is NOT a multisig. This is NOT a contract with support for meta-transaction! This is an account proxy that will keep information and hold token for a user while leaving the multisig logic to ANOTHER (disposable) contract. And yes, the logic contract will have to perform calls (possibily

[2019-03-25 13:35] MicahZoltu commented on #725
This is also not a contract, it is a specification for a contract interface.  I'm not suggesting that this specification standardize how ownership works, in fact I'm advocating the opposite, that this specification should _not_ standardize how ownership works.

I think this conversation will progress better if you help me understand the benefits provided to future integrators by constraining how o

[2019-03-25 14:02] frozeman commented on #725
The idea is to create a *manageable* *verifiable* account.
If you dont want to use the ownership in your contract, as its un-owned or whatever, simply leave the `address owner public` variable, or set it to `0x0`

[2019-03-25 14:57] MicahZoltu commented on #725
The spec as written does not allow for that:

and

This means that, according to the spec, the owner must be a single address and it must be set to the `0` key and it only the owner can call `execute`.

----

I feel like you all don't actually want a specification so much as you want to write a contract.  If you want to write a manageable verifiable account contract, I fully support that but I don

[2019-03-25 15:04] MicahZoltu commented on #725
Bleh, I just realized I have already been over the "this doesn't need to be a standard" in this EIP, I think before it was reformed into v2.  I came here looking for a standard to follow for my proxy contract (which will have a method that looks something like the `execute` method here) and I want future tooling to be able to understand proxied calls through my proxy contract, thus I want a standa

[2019-03-25 21:11] frozeman commented on #725
I updated the spec above and also created a PR to update the EIP draft document: https://github.com/ethereum/EIPs/pull/1867

[2019-03-25 21:16] frozeman commented on #725
@MicahZoltu maybe you're looking for something different, but this standard discusses a *manageable verifiable* account. Without owner, this can only be done if the contract code itself can be updated, and contains more logic. Though to keep it simple, we simply add an owner (learning from 725v1, which is now #734)

You can take this execute function if you like and create a new standard. Though I

[2019-03-25 23:59] joequant commented on #1644
Hi,
I'm looking at polymath to tokenize an hedge fund, and forced transfer is a requirement.  However, to make forced transfer work, I'd prefer a syntax by which the controller designates an administrative address, and can *ONLY* make a forced transfer between the user addresses and the administrative addresses.

The workflow for a forced transfer would be that the administrator force transfers to

[2019-03-26 00:04] joequant commented on #1643
bytes32 is much too small.  the referenceid should be string.

[2019-03-26 00:14] joequant commented on #1643
One thing about document management is that it's necessary to somehow attach arbitrary metadata, and I think the basic conceptual question is what about the document gets stored on the blockchain and what gets stored offchain.

Both the uri and hash code should be optional fields.

[2019-03-26 01:06] 0xjac commented on #777
@mcdee some more changes:

## Lines 52+ (update: lines 46+)

Changed to *holder* everywhere. (I will also update the reference implementation accordingly).

## Lines 142-144 (update: lines 185 - 213)

I replaced the term "basic unit" with "internal denomination" which is mentioned at the beginning of the standard. I have thought and re-read the text multiple times but a part from a couple cosmetic

[2019-03-26 03:15] fulldecent commented on #1155
If anybody else is starting a last call review. Here are the changes since the previous last call.

https://github.com/ethereum/EIPs/compare/38def77...master#diff-a2c479cb10d20a1fefb8f0e226869334

[2019-03-26 04:27] fulldecent commented on #1538
Hello! Will you seek to publish this as draft document?

Right now you have a reference from ERC-1155 which is in Last Call status. If possible I would like that document to link to the published (DRAFT) version of this document rather than this issue.

[2019-03-26 06:02] fulldecent commented on #1155
Hello team, this is getting better. Here is my review of ERC-1155 at [`9ce2e5f`](https://github.com/ethereum/EIPs/blob/9ce2e5f657ba17dc4ec52e0536caa63693e59916/EIPS/eip-1155.md). My previous review ([above](https://github.com/ethereum/EIPs/issues/1155#issuecomment-450308037) on 2018-12-28) looked at [`38def77`](https://github.com/ethereum/EIPs/blob/38def77498d89ab761e1b5a0cb00e41138eb11ef/EIPS/eip

[2019-03-26 06:30] Chery46 opened #1877 "Chery46"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2019-03-26 11:47] mudgen commented on #1538
@fulldecent Yes, I will create a draft later today.

[2019-03-26 12:03] Roger-Wu commented on #1843
Is it possible to mint/burn tokens and keep the available funds unchanged in your implementation?

[2019-03-26 15:14] spalladino commented on #1538
Before going into a draft, can I make one last push to suggest a rename? We have been using the "transparent proxy" name for quite some time in ZeppelinOS for something entirely different, and I'd like to avoid clashes. Thanks!

[2019-03-26 15:54] pipermerriam opened #1878 "EIP1474 Does not render correctly on main EIPs website"
See: https://eips.ethereum.org/EIPS/eip-1474

It appears the markup on that page is interpreting all of the *collapsible* sections as being nested.

I would advocate for removing the collapse functionality in favor of a table of contents and maybe links in each section to take you back to the TOC.

[2019-03-26 19:50] mudgen commented on #1538
@spalladino @fulldecent I'll postpone making a draft for a day to give changing the name some thought.

Here are some immediate ideas for a different name:
1. Open Contract Standard
2. Open Source Contract Standard
3. Open Proxy Contract Standard
4. Unlimited and Open Proxy Contract Standard

Ideas? Likes?

[2019-03-26 20:00] markusj1201 commented on #1538
Thank you for your email update!

On Tue, Mar 26, 2019, 2:51 PM Nick Mudge <notifications@github.com> wrote:

[2019-03-26 20:27] Droopy78 commented on #1538
By "Unlimited" do you mean unlimited size?  Might be nice to also have such words as "upgradeable functions" since that's at the heart of what you can do with this (besides make unlimited size contracts). Though I know you want to convey that the functions can also be locked down and made immutable again, so it's a flexible standard.

What about something like "Flexible & Upgradable Proxy Contract

[2019-03-26 20:29] mudgen commented on #1538
@Droopy78 yes, I am liking your ideas.

[2019-03-26 20:43] nventuro commented on #1538
I'd personally try to keep the name short, rather than having it be fifteen words long and noting every single available feature. 'Upgradeable functions' has a nice ring to it, and is precisely what this does (as opposed to e.g. upgrading the whole contract at once).

[2019-03-26 22:09] mudgen commented on #1538
@nventuro yes, good point.

[2019-03-26 22:10] mudgen commented on #1538
How about the Proxy Functions Standard ?

[2019-03-26 22:19] nventuro commented on #1538
That could also work, but you then need the reader to understand what a proxy is. Everyone gets 'upgradeable'.

[2019-03-27 04:08] coinfork commented on #1155
@fulldecent thanks for your work here! I'm making some updates to the standard based on your notes. I've just approved the 3 PRs listed as well :)

[2019-03-27 07:35] kivanov82 commented on #998
Not sure what the current status of this EIP is at this moment, but I've done something similar, to be able to trade my NFTs (which wraps ERC20) as a sort of the loot box on OpenSee market.
See https://github.com/kivanov82/ERC20Box

[2019-03-27 11:36] Georgi87 commented on #1155
@wighawag @PhABC

We would still prefer adding the unsafe variants but your suggested option to use #1820 like #777 does is also a reasonable compromise. Could one of those still be added?

[2019-03-27 12:47] veikkoeeva commented on #1155
I concur could be clearer. Specifically I wonder if it should be explicitly mentioned if this appies to the URI or the Metadata JSON file pointed to or both and if so, in which way. I read it so metadata JSON and especially the `"properties"` part of the metadata is for the implementor to define (when not about the obligatory parts). This can be valuable to root authenticated, internal data and/or

[2019-03-27 17:13] mudgen commented on #998
The current status of the EIP is draft and people are using the standard.

[2019-03-27 17:16] mudgen commented on #1538
Okay, I don't find a suitable alternative name so I'm keeping the name as is.

[2019-03-27 17:40] mudgen commented on #1538
@fulldecent I just made a pull request to add draft EIP 1538.

[2019-03-27 18:31] AC0DEM0NK3Y commented on #1155
Moving from unsafe to safe isn't just about the safety factor for users but also the fact that you can rely on having a callback mechanism for each transfer / batch to send context info in to also be the "safety" or whatever extra functionality you may want.

You can't rely on that if unsafe ones are put in. You could use the 1820 style mechanism but I think at this stage its a little much to star

[2019-03-27 19:13] spalladino commented on #1538
Why not "function-upgradeable proxy", a twist on the original suggestion by @nventuro?

[2019-03-27 21:56] 0xjac commented on #777
@mcdee regarding the default `from` value for `operatorSend` & `operatorBurn`, I see your point. I talked with Jordi and he agrees, we've removed it.

I'm still working on the changes for the reference implementation, they are coming.

[2019-03-27 22:06] nventuro commented on #777
@0xjac we at OpenZeppelin are working on getting a draft implementation in this PR: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1684. I'm currently improving the test suite to make coverage as comprehensive as possible.

You're more than welcome to come take a look and share any feedback you may have regarding interpretation of the EIP specification, corner cases, etc.

[2019-03-27 22:38] yvesmessy commented on #945
This would be a great feature when it comes to real estate especially. Any dApps that have to go with wallet based user identification. Any word on the latest here? /Would love to contribute

[2019-03-28 06:31] Georgi87 commented on #1155
Having an additional escrow contract would work but adds unnecessary complexity for smart contract accounts and is in my view an unfavourable workaround.

I understand the advantage of having a callback to trigger an additional action within one transfer to save one transaction but I also see the disadvantage that different ERC1155 contracts will have very different behavior in terms of what a use

[2019-03-28 10:34] wighawag commented on #1155
I also agree with @fulldecent and @veikkoeeva in regard to URI event. It is not clear.

The idea of using URI event came from the realization that it could be a lot cheaper in term of gas to use event for URI since these have no need to be accessed by other smart contract.

But then some some implementer wanted to use template uris (which I personally do not like since they do not offer the token

[2019-03-28 14:39] AC0DEM0NK3Y commented on #1155
Yes it should still emit it (if it can, perhaps the uri is delivered programmatically), but it has to match what would return if the function is called. In this case, the uri can be ascertained by either method.

How would you revise this to make that clearer?

The simple test to me for that would be look for URI events regardless (it's probably one extra entry on a switch statement when parsing t

[2019-03-28 14:47] AC0DEM0NK3Y commented on #1155
I'd say altering the current standard at this stage is a much more unfavourable workaround just to cater for multi-sig wallets already in the wild. I would say that sort of setup for a user is quite niche.

Yes, but that's why you need a consistent flag to the receiving contract. Indeed different implementations will want different things but need a "trigger" for their implementation to do things

[2019-03-28 14:53] loredanacirstea opened #1882 "ERC-1900: Decentralized Type System for EVM"
The current draft can be found at https://eips.ethereum.org/EIPS/eip-1900

In-work implementation: https://github.com/pipeos-one/dType, along with a list of all related EIPs, articles and demo videos.

[2019-03-28 17:51] coinfork commented on #1155
It's not the 1155 contracts having different behavior, its the receiving contracts.

Just today I was writing a contract that can receive ERC-721 tokens, and was quite bummed out that I can't rely on the callback at all with ERC-721. There's no point in standardizing behavior if wallets would also have the option to use an unsafe version in the standard.

By keeping only the safe transfer function

[2019-03-28 18:25] jpitts commented on #1789
RE: the points of process brought up by @bmann and @expede, I agree with these points.

@owocki, what this EIP should be classified as is an "Informational EIP", as defined in the [EIP-1 Types](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md#eip-types).

EIP-1789 Information EIP forms the basis of a proposed system. As it matures, it can be referenced in a future Core EIP defining the i

[2019-03-28 18:30] owocki commented on #1789
thanks @jpitts  -- agree RE: points of process; we are planning on submitting the formal EIP within the next day or two

[2019-03-28 20:28] jpitts commented on #1789
Are there certain Issues that I should look at that will have more bearing on this formal EIP?

[2019-03-29 00:44] OFRBG commented on #1882
Kinda related: https://github.com/ewasm/design. I don't think it's desired to add overhead to L1 and L0. This would work better as a "TypeScript" for Solidity. Remix already includes some static analysis, which could be extended for an extended-type Solidity.

[2019-03-29 01:11] alcuadrado commented on #1404
I think it would be useful to specify the content of the revert message when a restriction prevents a `transfer` or `transferFrom` from running. Otherwise, if a transaction fails and its restrictions are removed immediately after the failure, there'd be no way to know why it failed.

One alternative is to dictate that the revert message should be the one returned by `messageForTransferRestriction`

[2019-03-29 03:13] youfoundron commented on #1404
@alcuadrado

We handle the revert message this way in all of our example and reference implementations -- https://github.com/simple-restricted-token/reference-implementation/blob/master/contracts/token/ERC1404/ERC1404ReferenceImpl.sol#L42

[2019-03-29 07:17] mcdee commented on #777
@0xjac changes look good.  A couple of comments:

## Granularity

I think that as long as the technical explanation is concise and accurate we're okay.  Perhaps tweak the first line to "Get the amount of which all changes to token balances must be a multiple."?  The indivisibility bit is more of the effect than the rule.

## tokenToSend/tokensReceive table at end

I understand what you and Jordi s

[2019-03-29 09:16] loredanacirstea commented on #1882
What is the overhead that you see? (so, I can properly answer)

[2019-03-29 09:39] chris-shyft commented on #1662
I'm hitting the same limit. Libraries aren't enough.. I don't care about high(er) deploy costs at whatever level, for some larger contracts that need to deal with asset transfers, you need the transaction costs to be low and deploy means very little at scale.

Meanwhile, cross-links (contracts with state to member contracts) are useful as well. But they still run into the same issue as mentioned a

[2019-03-29 10:00] maxsam4 commented on #1662
Thanks everyone for the feedback! I think I have got enough feedback to justify moving forward with this Idea. I will try to draft a proper proposal/document this weekend and will collect feedback on it via different mediums.

[2019-03-29 13:06] jo-tud commented on #1843
No, in the provided reference implementation this is not possible, it needs a fixed total supply (see requirements).

[2019-03-29 13:21] wighawag commented on #1155
@AC0DEM0NK3Y

What is an example where the uri change can't be expressed by an event ?

is that when the uri is changing even from variables outside of the control of the smart contract, like time... ?

In that case I understand though I am not sure of its usefulness. What examples had you in  mind?

It would means then that URI event are optional. To make it clearer we should make a URI event ext

[2019-03-29 13:52] alcuadrado commented on #1404
Hey @youfoundron, thanks for your quick reply.

I'm aware of that and forgot to mention it in my previous comment. My suggestion is to standardize that behavior, so every compliant implementation does the same.

[2019-03-29 14:10] villesundell commented on #865
It seems that it's intentional: same approach is used by the Zeppelin recover() implementation (https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v1.12.0/contracts/ECRecovery.sol) because of web3.eth.sign().

[2019-03-29 14:15] 0xbitcoin commented on #865
I deployed a working implementation of this complete with open source relay
servers!!! Check it out :

Relay.0xbtc.io
Lavatoken.com

There is also a fully-featured ERC20 Token wallet that supports this that
is also open source called LAVA wallet.

  It uses Signed Typed Data to allow users to submit an offchain signature
to any relay with an embedded incentivization reward in tokens.   When they
r

[2019-03-29 15:53] OFRBG commented on #1882
Adding extra lines of code of structs and memory allocation. IMHO Solidity code should be as short as possible, and higher level abstractions, such as types and pseudo-HOF should be used in a different dialect that finally compiles to native Solidity.

[2019-03-29 16:31] AC0DEM0NK3Y commented on #1155
We've been through this before :) I don't know why it's being brought up again during last call.

_Can't_ could be a "randomized" giveaway for example that assigns the uri/type on demand but I agree that would be quite a rare case.

What is perhaps not rare though is some thing like this (from God's Unchained public code): https://etherscan.io/address/0x6ebeaf8e8e946f0716e6533a6f2cefc83f60e8ab#cod

[2019-03-29 17:02] wighawag commented on #1155
Sorry if it feels rehashing but my goal was not to  change the standard but to make sure the standard is as clear as possible and fix it if necessary. For that I needed to first confirm I understand the standard.

In our previous conversation you were mentioning Gods Unchained indeed but I interpreted that as saying it won't emit URI events hence my thinking that in such case```it must not emit th

[2019-03-29 19:20] AC0DEM0NK3Y commented on #1155
I wouldn't mind this being added myself, it's not a a big complication to add and I think it might clear up some ambiguity perhaps.

You can use that to see "will this contract emit URI events? yes/no".
Then also be able to test if ERC1155Metadata_URI is supported to be able to call the uri function.

[2019-03-29 20:32] fulldecent commented on #1878
Please remove the collapse and TOC. If we will introduce a TOC later it will be done for all EIPS automatically using a preprocessor. Pull request is welcome to fix #1474. #1155 has this same problem.

[2019-03-29 21:11] paulbarclay commented on #1155
There’s no need for that bool - you can just look for the events; if there
aren’t any, then you know the contract isn’t emitting URI events.

Also, the Gods Unchained contract wouldn’t meet the requirements of this
EIP, as the event-based URIs wouldn’t be valid URIs if they didn’t also
include the base uri. However, I do think their approach is better than the
current one in this EIP, and I think

[2019-03-29 21:31] ericbinet commented on #1155
@paulbarclay The EIP states that you can rely on the URI function if emitting events is not possible so the Gods Unchained contract is compatible.

Enforcing the use of a base URI would imply that such a URI exists. You could have metadata stored on many different servers. It also wouldn't be compatible with IPFS URIs (ipfs://0xFEFEFE...).

Nothing in this standard forces the implementer to store

[2019-03-29 21:35] AC0DEM0NK3Y commented on #1155
I think you may have overlooked this part of the standard:

[code]

This is pretty much the same as the tokenURI function that Gods uses from 721:

[code]

[2019-03-29 21:48] wighawag commented on #1155
@paulbarclay

aren’t any, then you know the contract isn’t emitting URI events.

That's false, as mentioned above, there is another case where the contract will not have emitted any events : when there is still no token minted.

Again as mentioned above, that's the reason I propose to add that boolean

[2019-03-29 21:52] ericbinet commented on #1155
@wighawag I agree we need to query the contract, but wouldn't the absence of ERC1155Metadata_URI be enough to know that events _will_ be emitted? If a function is available, won't we prefer using it instead of searching blocks for URIs?

[2019-03-29 21:56] paulbarclay commented on #1155
I disagree that full, immutable, URIs are a good idea at all. URIs have to
change for all kinds of dumb reasons (for example bogus or real trademark
claims). If that happens to an erc1155 app, you’re hosed unless you can get
every single erc1155 compatible site to do a special case for you. Much
better to build that in up front.

It’s definitely compatible with an ipfs solution - just set the base

[2019-03-29 22:10] paulbarclay commented on #1155
While this case is true, it’s not particularly useful - if there’s no token
minted, there doesn’t seem to be any significant value in knowing whether
the contract is going to emit uris in the future (if you really need to
know, you can look at the code)

On Fri, Mar 29, 2019 at 2:49 PM, Ronan Sandford <notifications@github.com>
wrote:

--
Thanks,
Paul Barclay

[2019-03-29 22:16] wighawag commented on #1155
@ericbinet

Indeed, since in that case URI event are mandatory, the problem go away but when ERC1155Metdata_URI is enabled the problem still remain.

@paulbarclay I have the complete opposite view. For me what matter in the uri is not the location itself but the fact that an owner can prove at any time in the future that the metadata associated with the token is the one registered on the smart con

[2019-03-29 22:17] wighawag commented on #1155
The problem is with tools. What if they want to be ready from day one

[2019-03-29 22:28] paulbarclay commented on #1155
I could 100% get behind requiring the event to also store the hash of the
metadata, either in the uri itself or in a separate bytes32 field. That
would be very useful!

On Fri, Mar 29, 2019 at 3:17 PM, Ronan Sandford <notifications@github.com>
wrote:

--
Thanks,
Paul Barclay

[2019-03-29 22:48] wighawag commented on #1155
As you say, the uri can already handle that. As for making it mandatory, it appears that some project would disagree

[2019-03-29 23:14] pkieltyka commented on #1155
A very sensible pattern we've adopted it to return a string to the external URI of token metadata, as in..

https://github.com/horizon-games/multi-token-standard/blob/master/contracts/tokens/ERC1155/ERC1155.sol#L222-L224

[code]

block/txn indexing/scanning services can easily call this view function over json-rpc, and then traverse the URI to whatever scheme is returned. It could even be a JSON s

[2019-03-30 12:25] veikkoeeva commented on #1155
@pkieltyka Indeed, I could imagine emitting an event when the metadata contents change is too expensive. This is what I thought at https://github.com/ethereum/EIPs/issues/1155#issuecomment-477136752 with the note of "for the implementor to define". There is naturally a need for sufficient uniformity to the larger infrastructure/ecosystem to function, but I lack the insight to state anything in abs

[2019-03-30 17:48] loredanacirstea commented on #1882
@OFRBG ,
Regarding overhead: Solidity itself is an overhead over the bytecode. The question is not if an overhead exists, but whether it is justified or not. So, what did you understand as being the benefit of having a decentralized type system and why doesn't it justify this overhead? (I just published https://medium.com/@loredana.cirstea/a-vision-of-a-system-registry-for-the-world-computer-be1dc

[2019-03-30 19:43] kjekac commented on #1882
I really really like the general idea of this. Having a type system decoupled from the contract language would make language interoperability (and hence language experimentation) much easier, and generally just make all the data stored on-chain much easier to compute with.

However, I would personally want to detach this from anything C-like (`struct`, ...) and go straight to proper type theory, w

[2019-03-31 00:04] sorpaas commented on #615
Want to link EIP-1712 to here: https://github.com/ethereum/EIPs/pull/1712

[2019-03-31 07:22] Georgi87 commented on #1155
@AC0DEM0NK3Y

It is not only about existing multisig wallets. Also all new smart contract based wallets (Gnosis Safe and Argent) don't support ERC1155 as it is specified today. Support could eventually be added but would also create a precedent that smart contract accounts have to be upgraded to support eventually new token standards.

@coinfork

Agreed, what I actually wanted to say is transfers

[2019-03-31 08:43] AC0DEM0NK3Y commented on #1155
Both 777 and 1820 are not final yet and there is the 820 -> 1820 issue so I wouldn't exactly say it is risk free.

Will have to look into it a bit more and see how practical this is.

Some questions that spring to mind for me:

How many users does this actually affect? Using a wallet that wouldn't have first class support for the standard your assets are transported with seems unlikely.

Are safe

[2019-03-31 09:36] MicahZoltu commented on #719
One problem with this proposal is that the signer may not have access to the Ethereum network.  For example, an offline signer or a hardware wallet signer.

Consider: What if there exists a standardized way to pass the hash of the DSL into the function being called so that the signer can be confident that "someone downstream from me will validate the hash".  As an example, one can imagine saying t

[2019-03-31 10:11] maxsam4 commented on #1662
I have summed up most of my thoughts regarding this in a small write up available at https://ethereum-magicians.org/t/removing-or-increasing-the-contract-size-limit/3045

Please have a look. All feedback is welcome.

[2019-03-31 10:24] sadfool1 commented on #719
Project Hydro is a layer 2 of the Ethereum platform and has this exact protocol called 'ICE' which leverages on using digital identity aggregator #1495 or ERC 1484. Instead of sending across wallet services, you're sending to an Ethereum Identity Number (unique to you and other users). ICE whitepaper (draft): https://github.com/hydrogen-dev/hydro-docs/tree/master/Ice

However, i don't it can work

[2019-03-31 14:04] MicahZoltu commented on #1495
This EIP feels like an app/contract proposal, not a standard.  A lot of the stuff in this could be extracted out into separate independent EIPs, and a number of items in here don't really benefit significantly from being standardized.  For example, the recovery stuff both doesn't need to be an EIP (it doesn't benefit from standardization) and it could be extracted out into a separate EIP wholly un

[2019-03-31 15:47] greg-flexidao opened #1888 "ERC-1888: Transferable Certificate (Claim)"
[code]
## Simple Summary
A standard interface for a transferable certificate (claim). That extends highly flexible ERC-1155 Multi-token standard.

## Abstract
This standard extends the ERC-1155 Multi Token Standard, with transferable certificate. The standard describes functions for issuing and claiming of transferable certificates.
These certificates are attested by third parties (issuers).
Prima

[2019-03-31 21:57] wires commented on #1882
Great comment by @kjekac, really well explained!

I see the comments regarding overhead at the lower levels, but let me try to twist that kind of thinking a bit.

Something as fundamental as the types of the inputs and outputs to functions can have a huge impact on the complexity at the higher levels. We well chosen type theory can constrain behaviour and maintain hold on complexity. An unfortunat

[2019-04-01 08:07] Agusx1211 opened #1892 "ERC20D: rent-compatible ERC20 migration"
[code]

# Abstract

The following document describes a proposal on how to migrate an existing ERC20 (https://github.com/ethereum/eips/issues/20) token to a rent compatible implementation of the ERC20 (https://github.com/ethereum/eips/issues/20) standard.

# Motivation

The implementation of any rent mechanism in the Ethereum network (https://github.com/ethereum/EIPs/issues/35) (https://github.com/

[2019-04-01 09:39] loredanacirstea commented on #1882
@kjekac ,

For dType, our focus was:
- full Ethereum compatibility
- extensibility to other languages
- concept-oriented rather than type-oriented
- global consensus on types and data formats
- easily determining the type of a transaction side effect or constant function value

There are some type theory features that dType does not have, due to Solidity's limitations:
- converting a dtype into an

[2019-04-01 10:16] 0zAND1z commented on #1662
@gcolvin & @chriseth , could you please take a look into this & guide this thread ahead?

After multiple audits & optimizations, a lot of contract developers seems to sharing a common observation. We would love to have your inputs on this.

Cheers.

[2019-04-01 10:30] therealsovtoshi opened #1894 "Discussion: EIP 1881 - Introduce a sound money and store of value as secondary block reward"
---
eip: 1881
title: Introduce a sound money and store of value as secondary block reward on Ethereum
author: Sovtoshi
status: Draft
type: Meta
created: 2019-04-01
---

## Simple Summary

It has been shown that store of value is the primary and only use for blockchain. This EIP proposes Sound Money Coin (SOV), an Ethereum token with the sole purpose of being sound money and a store of value. SOV i

[2019-04-01 13:18] owocki commented on #1789
I am closing this issue as, per noted above, it does not follow the EIP process.  For further discussion on this topic, I recommend those reading this checkout [the telegram group](https://t.me/joinchat/DwEd_xahL5hHvzNYH2RnQA) and also https://github.com/ethereum/EIPs/issues/1890

[2019-04-01 13:18] #1789 closed

[2019-04-01 14:22] mcdee commented on #777
@0xjac any more movement on this?  #1820 should be final later this week and it would be nice to get this to last call by then.

[2019-04-01 15:50] liamzebedee commented on #1851
Love it. We're looking at implementing these, would be super relevant for other projects like [XCLAIM](https://www.xclaim.io/).

[2019-04-01 17:47] youfoundron commented on #1404
@alcuadrado Good suggestion. Thanks.

[2019-04-02 02:25] therealsovtoshi commented on #1894
Fix typos

[2019-04-02 02:31] flygoing commented on #1894
"Decimals: 8"

The real April fool's joke here

[2019-04-02 03:14] Arachnid commented on #1894
Please file this as a PR, so it can be merged as a draft.

[2019-04-02 03:54] therealsovtoshi commented on #1894
@Arachnid see #1893.

[2019-04-02 03:58] therealsovtoshi commented on #1894
@flygoing the decimals are modeled after Bitcoin the current leading (but inflationary) store of value. It is mathematically proven that an ideal store of value must have exactly 21,000,000 maximum supply and 8 decimals.

And you are absolutely right, only minting transactions should be discarded.

[2019-04-02 06:13] Georgi87 commented on #1155
Currently a few thousand accounts would be excluded but there is a chance smart contract based wallets/accounts gain significant market share. Gnosis Safe and Argent wallet are two solutions, which are still in their early stage but promising and both don't support ERC1155 at this stage.

[2019-04-02 19:02] shanejonas opened #1902 "Discussion: EIP 1901 Add OpenRPC Service Discovery To JSON-RPC Services"
# Add OpenRPC Service Discovery To JSON-RPC Services

    EIP: 1901
    Title: Add OpenRPC Service Discovery To JSON-RPC Services
    Author: Shane Jonas, Zachary Belford
    Status: Draft
    Type: Interface
    Created: 2019-02-25

# Abstract
### What is this?

This is a proposal to add [OpenRPC](https://github.com/open-rpc/spec) support to existing and future JSON-RPC services by adding the met

[2019-04-02 21:38] 0xjac commented on #777
@mcdee  yes, I am meeting with Jordi tomorrow or the day after and we hope to finish this. I also understand your previous point about the "SHOULD continue" and I am trying to think of a better wording for it.

[2019-04-03 22:23] OFRBG opened #1909 "EIP for DApp Website URL and Web3 HTTP Extension"
DApp websites currently implement their own workarounds when using standard HTTP and URL formats. In order to foster the web3 identity, setting semi-cosmetic standards for DApps would serve as a cornerstone.

For example, instead of having a scattered collection of DApp links:

https://www.cryptokitties.co/
https://idex.market/
https://etheroll.com/

which do not explicitly state belonging to the

[2019-04-04 07:04] nicksavers commented on #1909
HTTP is a client/server protocol.
![HTTP protocol](https://cdn-images-1.medium.com/max/1600/1*JSnJtHpU7cWUnWIgGupu7w.png)
If an app is hosted on a distributed file system, the URL changes to `ipfs://` or `bzz://`.
Would that be explicit enough?

[2019-04-04 07:29] OFRBG commented on #1909
I don't know if Cryptokitties would move to ipfs or bzz, for either the frontend or the API, at all. So yes, it is explicit enough, yet unfeasible in the foreseeable future.

[2019-04-04 14:08] PhABC commented on #1155
Here's my take on the `onReceive()` problem we have with respect to smart wallets and multisigs:

Smart wallets will be omnipresent in the next 2-4 years and we need to account for that. New token standards will come after ERC-1155 and we should account for that. I personally find 1820 quite complicated for what is needed here and I think there are simpler solutions that are just as effective.

1.

[2019-04-05 04:59] Duchoadongland opened #1912 "Previously, the signing story in the Ethereum space has been plagued by incompatibilities, insecurities, and indecipherability. This proposal moves the signing API a big step towards usability, usefulness, and security, so as far as I can tell, it's just a fantastic feature that I'd be excited to see what developers can do with."
Previously, the signing story in the Ethereum space has been plagued by incompatibilities, insecurities, and indecipherability. This proposal moves the signing API a big step towards usability, usefulness, and security, so as far as I can tell, it's just a fantastic feature that I'd be excited to see what developers can do with.

Unless there are major issues caught in this discussion, I'm very op

[2019-04-05 08:44] #1912 closed

[2019-04-05 08:46] nicksavers commented on #1909
My point being that if a centralized server is hosting a website over the HTTP protocol, we're not really talking about Web3. The website itself might be completely client-side, the domain that services it, is not.

[2019-04-05 10:49] wanseob opened #1913 "ERC: Casper PEPoW Token Standard for Layer 2 Solutions"
---
eip: 1913
title: Casper PEPoW token for layer 2 solutions
author: Wanseob Lim (@wanseob)
discussions-to: https://github.com/ethereum/EIPs/issues/1913
status: Draft
type: Standards Track
category: ERC
created: 2019-04-05
---

## Simple Summary

A standard interface of tokens for layer 2 solutions which are minted by Casper PEPoW algorithm.

## Abstract

The following standard is an extended ver

[2019-04-05 15:02] OFRBG commented on #1909
If the benchmark for something being or not web3 is serving content over IPFS with blockchain as a DB, web3 isn't going to happen. Fortunately we can have a middle ground, and instead of cutting out everyone who doesn't use unstable, experimental protocols, we could begin to build a recognizable internet identity.

[2019-04-05 18:49] winnal commented on #1238
I was thinking of a use-case of a non-transferable token for the purposes of a founders token, where tokens are bound to the user account, where the user can use the tokens for voting and spending to redeem a benefit, but cannot trade or transfer the token, which would make a founders token sale (FTO) exempt from securities regulation as the token cannot be traded, yet would enable there to be a d

[2019-04-05 20:48] AC0DEM0NK3Y commented on #1538
I was just knocking up an example using this standard and some of the ref code and was considering does the "function updateContract" actually need to be part of the standard?

It seems like an implementation could update the signatures (and any other data) however they wish, but must obey the requirement of outputting the FunctionUpdate and CommitMessage events as necessary.
I understand part of

[2019-04-05 21:25] mudgen commented on #1538
@AC0DEM0NK3Y You have an excellent point about this.  I will think about this some.  I am interested in what others think about this point as well.

[2019-04-06 07:59] frozeman commented on #725
I made a proposal for changing to bytes in the implementation: https://github.com/ERC725Alliance/erc725/pull/27

[2019-04-06 14:41] loredanacirstea opened #1921 "EIP-1921 dType - Extending the Decentralized Type System for Functions"
Draft can be found at: https://github.com/ethereum/EIPs/pull/2267

In-work implementation examples, articles, video demos & related EIPs can be found at https://github.com/pipeos-one/dType.

[2019-04-06 15:21] loredanacirstea commented on #1882
A draft has been submitted as a PR: https://github.com/ethereum/EIPs/pull/1900
An extension to this proposal can be found at https://github.com/ethereum/EIPs/issues/1921
I published a new blog post [dType — Decentralized Type System & Functional Programming on Ethereum](https://medium.com/@loredana.cirstea/dtype-decentralized-type-system-functional-programming-on-ethereum-4f7666377c9f), explaining

[2019-04-07 12:27] dekz commented on #1155
I agree with @PhABC on this. Backwards compatibility is an admirable goal, but making a tradeoff against stuck or lost funds and security in general is not a tradeoff I'd vote for.

This technology and standards are so nascent that we can't be held back by previous systems which lack upgradability. Doing so would hold us back for some unmeasurable gain. How I wish we had a time machine to re-desig

[2019-04-08 10:13] Westlad opened #1922 "EIP-1922: zk-SNARKs Verifier Standard Interface"
This is a placeholder for discussion on the zk-SNARKs Verifier Standard Interface. PR COMING!

[2019-04-08 10:14] Westlad opened #1923 "EIP-1923: zk-SNARKs Verifier Registry Standard Interface"
This is a placeholder for discussion on the zk-SNARKs Verifier Registry Standard Interface. PR COMING

[2019-04-08 21:49] NoahZinsmeister commented on #1495
Thanks for taking a look @MicahZoltu ! We certainly concede that there's a lot going on in this EIP, and since we made many aspects as modular as possible, some could almost certainly be extracted into their own EIPs.

Your point about interfaces is well taken. Especially in light of upcoming ETH 1.x/2 changes, it might have made more sense to, for example, a) allow multiple implementations of the

[2019-04-09 14:19] 0xjac commented on #777
Just a small update:

- ERC1820 is now final
- Going over the standard, there was a constraint about the data to be empty for minting. Looking back this seems unnecessary While there might not be much use for data in minting, enforcing it to be empty may go to far in the opposite direction, after talking with Tom and Jordi we agreed to remove that constraint. (See #1927)
- I have added the identif

[2019-04-09 17:55] dcarlcf commented on #1271
@PhABC , is there resolution on whether the function will return a bool or the magic value?

In your comment on Jan 17, you have this:

[code]

[2019-04-09 21:02] 0xjac commented on #777
@mcdee Regarding your previous comment, I have changed "SHOULD accept" to "continue".
For the granularity, I would argue that it is the other way around: The rule is that the granularity is the smallest non-divisible part of the token and the effect is that all balances are a multiple of the granularity. That being said I think it odes warrant an extra sentence in the second paragraph along the li

[2019-04-10 07:22] wighawag opened #1930 "EIP-1930: call variant with strict gas to ensure a specific amount is sent"
## EIP : https://eips.ethereum.org/EIPS/eip-1930

---
eip: 1930
title: CALLs with strict gas semantic. Revert if not enough gas available.
author: Ronan Sandford (@wighawag)
type: Standards Track
discussions-to: https://github.com/ethereum/EIPs/issues/1930
category: Core
status: Draft
created: 2019-04-10
---

## Simple Summary

Add the ability for smart contract to execute calls with a specific am

[2019-04-10 22:55] dmdque opened #1933 "fat finger, please ignore"

[2019-04-10 22:55] #1933 closed

[2019-04-11 06:34] TrevorJTClarke commented on #928
Looks like im late to the party.

Just to put this out there -- I think colorblindness should be considered if users are expected to recognize visual color palettes. Patterns that have similar lightness or hue are not easily distinguished.

Couple thoughts:
1. I really like that address coloring behind a hash
2. Maybe utilizing a hex string of 8 length in css to derive opacity, producing unique co

[2019-04-11 21:34] fubuloubu opened #1935 "Consider EIP1344 for the next upgrade (Meta: EIP1679)"
Per the proposed process for handling EIPs for Hardforks (detailed [here](https://github.com/ethereum/EIPs/blob/9233fd6aaa99161079e395f8733c26c9f4a3b17d/EIPsForHardfork.md)), we would like to propose [EIP-1344](https://eips.ethereum.org/EIPS/eip-1344) be formally considered for inclusion into the Istanbul hardfork (EIP-1679)

[2019-04-11 21:59] Arachnid commented on #1935
ISTM that this EIP is in no way ready for that. It needs to specify implementation details at a bare minimum; presently it's barely more than an idea.

[2019-04-11 22:52] fubuloubu commented on #1935
In the [discussion forum](https://ethereum-magicians.org/t/eip-1344-add-chain-id-opcode/1131), we talked about technical details of this proposal. The only outstanding concern was around the datatype that we might use to represent it from the opcode, opting for the full range of `uint256` to be maximally flexible with current use of chainId (some are more than `MAX_UINT32`) and also match with the

[2019-04-12 01:18] fubuloubu commented on #1935
I whipped up a quick implementation against Trinity here:
https://github.com/fubuloubu/py-evm/commit/eaab5ffa2164d4cc06ae5c855a49d030965be828

[2019-04-12 01:20] Arachnid commented on #1935
Sorry; the spec was so brief I missed reading it on the EIPs page.

You do, however, need to add the missing sections from EIP-X, such as tests, even if those sections are still 'TBD'. The formatting also needs fixing - the indentation and lack of linebreaks is causing it to render poorly on eips.ethereum.org.

[2019-04-12 01:42] fubuloubu commented on #1935
Will do! Do you see anything blocking it from a preliminary discussion tomorrow?

[2019-04-12 01:42] Arachnid commented on #1935
Not offhand, but I haven't been on an ACD call since I moved to NZ. :)

[2019-04-12 10:31] wighawag commented on #1155
@coinfork

Just rereading your following comment here and wanted to clarify something:

One thing worth noting is that the ERC1155 standard as it stands only force the callback to be called if the transfer is executed through a ```safeTransferFrom``` or ```safeBatchTransferFrom``` call, not if it is executed through other means.

For example for a dual ERC721 / ERC1155 the transfer (for NFT) can h

[2019-04-12 16:50] PhABC commented on #1155
I think @coinfork point was that you can't write a contract that will receive ERC-721 without adding both the `onReceivedERC721()` method and a approve/transferFrom(), because you don't know which methods people will call to deposit in your contract. If you send ERC-1155, you know that the only way to transfer tokens in the standard is via `safeTransferFrom()` so it's safe to assume that this is h

[2019-04-12 18:10] maurelian commented on #1155
Sorry, late to the party. I'm confused; the issue as @PhABC put it, is that:

But there is a non-safe `transferFrom()` method in the interface.. Is the problem that you assume contracts will only be setup to call the `safeTransferFrom()` method?

[2019-04-12 18:28] wighawag commented on #1155
@PhABC

As mentioned such behaviour would in practise break compatibility with ERC721, something which has been mentioned several time as a feature of this standard and of which we @pixowl relies on for our implementation. Plus that's not what is currently stated in the standard since it precise that the callback is triggered as part of the `safeTransferFrom` function

More precisely it does not s

[2019-04-12 19:08] jvluso commented on #1155
Many of the Agent/Actor/Avatar smart contracts are just implementing the various `onERCXRecieved` functions in the bare minimum possible way so that the various token standards will treat them as accounts. Would it make sense to create a standard that those smart account type contracts can implement that allows them to just implement an `isAccount` type function so that new tokens can be safely tr

[2019-04-13 19:06] 0xjac commented on #777
After checking with Jordi and Tom, I have moved ERC777 to last call. (See #1939 for the actual change.)

The review end date is set for **April 28th 2019**. And feedback is welcome. (But please try to keep your feedback in this thread.)

Thank you!

---
@mcdee I want to improve the reference implementation to make it more modular, remove truffle and run the tests against multiple versions of solid

[2019-04-13 19:11] mcdee commented on #777
@0xjac I haven't looked at the code recently, been waiting for the standard to settle down.  I should have some time next week if you have specific things you'd like me to look at.

[2019-04-13 19:15] dcarlcf commented on #1155
@PhABC

I think a token vault should be a last resort, should only be used without a better option.

I think using the fallback function is probably the most elegant method. But I think method #3 is more likely to gain adoption, because developers are more familiar with simply adding a function to their smart contracts, and less familiar to configuring the fallback function.

Should we propose a n

[2019-04-13 19:21] dcarlcf commented on #1155
This would sacrifice backwards compatibility, but smart contract wallets could just include old receiver functions in addition to an onReceive() to be more compatible

[2019-04-14 06:09] AC0DEM0NK3Y commented on #1155
One of the things that needs to be considered is that it isn't just a safety feature to have a guaranteed transfer path via the safeTransfer method but also opens up the possibility of logic on the receiving contract(s) end to reject/act on the receipt based on a rule set.

Lets say you have a contract that you only want to accept items from a particular subset. Maybe I only want it to be able to

[2019-04-14 10:59] oberstet commented on #965
As far as I can see, there are currently 2 proposal for tokens that allow gasless token transfers:

* EIP #865
* EIP #965

Are there more proposal?
Any new directions or recommendations rgd this feature in general?

[2019-04-14 11:02] oberstet commented on #865
As far as I can see, there are currently 2 proposals for tokens that allow gasless token transfers:

* EIP #865
* EIP #965

Are there more proposals?
Any new directions or recommendations rgd this feature in general?

[2019-04-15 05:35] yosriady commented on #1594
Hi folks, we've recently open sourced our implementation of ERC1594 (and ERC1644) here: http://github.com/tenx-tech/tenx-token

Cheers!

[2019-04-15 06:33] wighawag commented on #965
There is also #1776

[2019-04-15 08:26] wighawag commented on #1155
@AC0DEM0NK3Y I understand the appeal of what you describe. It is indeed important for ERC1155 token receivers contract to be able to ensure they can't receive tokens without them having a say. I agree thus that we should make sure this remains true.

Nevertheless having a dual ERC1155/ERC721 with shared id space is very important to us. It was the reason we chose ERC1155 but I ll show here that ER

[2019-04-15 10:20] juniset commented on #1155
Sorry to join the discussion so late, and thanks @Georgi87 for dropping our name in the conversation.

I can confirm that we have implemented the solution 2) described by @PhABC precisely to handle cases like this one.

While the Argent wallet does not support ERC-1155 yet, we are testing an ERC-1155 compatible module that supports safe transfers using the solution mentioned above. We will include

[2019-04-15 17:20] pazams commented on #1654
@frozeman thanks for pointing this out!

Let's assume a dapp get's a 130 byte signature as result of sign-in with personal sign flow. That's twice as long from the expected signature (user is using a multi sig wallet). The be able to query 725 methods, it first needs to split the signature into 65 byte chunks, recover each of the public keys, and query each of them.

That _could_ work, however, wi

[2019-04-15 19:13] pazams commented on #1271
@PhABC I think we agree on the description of the issue of, but have different opinions regarding it.

Imagine if Chrome's source code had that type mapping with google domains so it would deliver a special experience for those sites. That just leads to browser wars, app wars, etc'. In the same sense, I feel like there should be no special paths inside the contract, and all applications should be

[2019-04-15 23:56] AC0DEM0NK3Y commented on #1155
@wighawag I like the idea of being more explicit like the set you mentioned and adding in the "reject_erc1155_tokens()" for better error handling. I think we should do this, although in some sort of rules section perhaps.

----

I am less of a fan of adding in 721 things into this standard, especially this part:

as I think this should be up to the implementation as you say; But again, after they

[2019-04-16 06:34] lastmjs commented on #965
Hey everyone, I'm new to this, but this feature is very important to a use case for my project. What is involved in getting this proposal or similar proposals for gas delegation moving and implemented, and how long should I expect this to take? I'm most likely willing to put significant effort into helping this along come summer, I just need some guidance.

[2019-04-16 06:36] lastmjs commented on #865
Hey everyone, I'm new to this, but this feature is very important to a use case for my project. What is involved in getting this proposal or similar proposals for gas delegation moving and implemented, and how long should I expect this to take? I'm most likely willing to put significant effort into helping this along come summer, I just need some guidance.

[2019-04-16 09:55] wighawag commented on #1155
I don't mind where it is written as long as it is clear that ERC1155 receiver that want to be sure to track ERC1155 tokens need to either return the rejection magic value or the acceptance magic value and nothing else.

Indeed as part of ERC1155 standard ERC1155 event must be emitted. So for a ERC721/ERC1155 dual token both ERC721 and ERC1155 events are going to be emitted. I do not see any proble

[2019-04-16 15:16] AC0DEM0NK3Y commented on #1155
OK yes, I did not read that you have to call and respect the return value of the onERC1155Received even if you call to transfer using 721 functions. This works then, an 1155 receiver contract will always be notified it is receiving something (and just to note, it should have some mechanism to trust/verify the source it is receiving from if it changes state in that notification).

Although I am sti

[2019-04-17 00:26] devrajsinghrawat commented on #1410
Hi @adamdossa,

Kindly help me on below points.

1) According to transferByPartition

This function MUST throw if the transfer of tokens is not successful for any reason.
When transferring tokens from a particular partition, it is useful to know on-chain (i.e. not just via an event being fired) the destination partition of those tokens. The destination partition will be determined by the implement

[2019-04-17 12:11] 0xjac commented on #777
Small update, I have done a review of the standard with Jordi. Nothing substantial was added, changes include fixing typos and formatting as well as clarifying some concepts and constraints.

Have a look at the draft PR for the actual changes: #1945
You can see a rendered version of the standard at: https://0xjac.github.io/EIPs/EIPS/eip-777

Further comments are welcome.

---
@mcdee You may be int

[2019-04-17 12:31] mcdee commented on #777
Changes look good; they have improved the clarity in a number of locations and should help implementers.

[2019-04-17 14:29] #901 closed

[2019-04-17 15:23] chompomonim commented on #965
The main problem is that there is needed additional standard for wallets and services which would agree on accepting tokens as fee and send transaction into Ethereum networks with your signatures.

If you need that only for your own token, then you can use such techniques already today, you don't need to wait until any finalisations of one or another standard. But if you'd like to have such featur

[2019-04-17 19:52] oberstet commented on #965
@chompomonim ok, I see. can be made work (generically) in metamask (based app/sites), but not "for any wallet". fwiw, this gasless stuff is important IMO for UX though - practically (non pro users .. your mom;) anyways, thanks for hints and opinion!

[2019-04-17 20:19] veikkoeeva commented on #1155
Not related directly to this latest leg of discussion other than maybe for the dual implementation, but to the earlier points about logistics, GTINs and current systems: https://www.coindesk.com/ey-nightfall-ethereum-enterprise-public-blockchain. A consortium on that field, building on ZKs and ERC-721. Maybe useful to have this here for future reference.

[2019-04-18 02:37] zhiqipan commented on #1115
I don't see a clear benefit out of this new standard, perhaps I miss something? Here's my thoughts:

Given the hypothesis that:

1. the user can set up a server
2. the server is trusted and is on behalf of the user

Why won't the app just communicates with the server and authenticates the user, via a standardized interface?

The smart contract in this proposal stores:
1. username
2. user's public

[2019-04-18 02:51] sadfool1 commented on #1115
I know an excellent authentication app (MFA) that leverages on blockchain and is completely decentralized:

https://www.hydrogenplatform.com/hydro-app,

Also for user Digital Identity Aggregator, check out EIP #1495.

[2019-04-18 05:19] wighawag commented on #1155
That statement was made in the context of the previous sentences but I agree it might be misinterpreted. Also the word "MUST" is too strong in itself here since as per ERC721 spec it is allowed to revert for other reason (for example a dual token implementation might not want its tokens to be received by contract that do not implement ERC1155 hooks). So let's rephrase it this way :

```If the tran

[2019-04-18 20:53] PhABC commented on #1155
@jvluso & @dcarlcf

This might not work very well because some wallets might *want* to process the tokens they receive. They are an *account* yet they would have to put `isAccount` to false. At this point, I think `onReceived()` ([point 3](https://github.com/ethereum/EIPs/issues/1155#issuecomment-479912294)) serves the same purpose where smart wallets not caring about what they receive would simpl

[2019-04-19 12:36] bcashbankcoin opened #1951 "BCASHAirdrop"
pragma solidity ^0.4.24;

import "openzeppelin-solidity/contracts/ownership/Ownable.sol";
import "openzeppelin-solidity/contracts/token/ERC20/ERC20.sol";
import "sc-library/contracts/ERC223/ERC223Receiver.sol";

contract AirDrop is Ownable {
    ERC20 public token;
    uint public createdAt;
    constructor(address _target, ERC20 _token) public {
        owner = _target;
        token = _token;

[2019-04-19 13:17] wighawag commented on #1155
@AC0DEM0NK3Y  here is the implementation update with the rejection magic value implementation
https://github.com/pixowl/thesandbox-contracts/blob/27fb51dfa8145a4bd50baa6158c4db5c3a5fe6bd/src/Asset/ERC1155ERC721.sol#L547-L591

@PhABC

The reason behind the "reject" magic value was to support ERC721 receiver that do not implement ERC-1155 hooks (because they were created before ERC1155 or simply bec

[2019-04-19 13:19] blockchainassets commented on #777
Great Job! Looking forward to implementing 777 in our projetcs.

[2019-04-19 16:23] cag commented on #1155
@maurelian

At some point these methods were removed...

@dekz

This requirement doesn't prevent a formerly common case of funds being stuck or lost in the 0 account or incorrect EOAs. As for making sure that the receiving contract can properly receive ERC1155s, do we expect users to make raw calls to the chain? This seems like more of a dapp coding and configuration problem. If a contract address

[2019-04-19 17:18] jvluso commented on #1155
`isAccount` wouldn't replace `onReceived`, it would compliment it. Accounts that can process the token type with `onReceived` and say so with ERC165 could still process those tokens, regardless of the `isAccount` flag. However, if there is a new token type created later, they would still automatically be able to handle it without processing it if they are accounts.

[2019-04-19 20:28] AC0DEM0NK3Y commented on #1155
This makes some sense in the hybrid 721 case as what is happening in the above is basically saying the contract I want to send to doesn't know what 1155 is, so you revert to 721 rules if called by a 721 function.

But if this is just an 1155 contract then by arbitrarily allowing a transfer to succeed you are sacrificing users "safe" feature and potentially sending to an address where these tokens

[2019-04-19 21:49] cag commented on #1155
Here's what happens with this draft as is.

* If you send ERC1155 tokens to the wrong address, and that address is not a contract account, then your tokens are stuck.
* If you send tokens to address zero, they are stuck, as address zero is not a contract account.

The reasons why ERC20 tokens get stuck historically have been more a frontend story, and have been addressed to one degree or another:

[2019-04-19 23:07] AC0DEM0NK3Y commented on #1155
`>But honestly, you shouldn't ship if your dapp client causes tokens to be sent to unintended contracts. I'm all for security, but the illusion of security is more often a liability than asset.

_Shouldn't_ no...

If you have a wallet, smart or not it would be infeasible to whitelist all the possible contracts a user could send either on of off chain, there is no control over the environment so sa

[2019-04-20 12:59] KaiRo-at commented on #901
Is there an open (followup) proposal for this part?

[2019-04-20 13:06] k06a commented on #901
@KaiRo-at I realized that `tx.hash` could not be provided inside the smart contract since this value is computed on top of transaction execution results. The only way is to make `etherscan.io`  to have an API similar to this: `etherscan.io/tx/<sender_addresss>/<nonce>`

[2019-04-21 05:32] rizwab345 opened #1956 "Er-Tokens"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2019-04-21 12:02] fredbuluku opened #1957 "Request for acceptance"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2019-04-21 12:18] fredbuluku commented on #1957
I am interested in EIP

[2019-04-21 12:45] ramvi opened #1958 "EIP-1958: Smart contract functions payable in tokens"
[code]

## Simple Summary
Description of smart contracts being able to accept payment in ERC-20 tokens.

## Abstract
The following describes changes to the payable keyword in smart contracts so that payments can be made in ERC-20 tokens.

## Motivation
There's a clear divide between the first-class citizen currency ETH and tokens. Many proposals have been made to make ERC-20 tokens first-class cit

[2019-04-22 18:02] Amxx commented on #1958
require(msg.value == 100 DAI);

By design, `msg.value` is an amount of wei transferred by the transaction. It does not represent an ERC20 value.

If you do an ERC20 transfer, the ERC20 contract is the one receiving the transaction and updating its internal storage to account for the ownership change (of fungible tokens). The new owner does NOT receive any transaction. This is why you should not tr

[2019-04-22 21:23] tjayrush commented on #1958
I have no comment (yet) on this proposal, but I do think it would be improved if you referenced some of the "many other proposals" you mention here:

[2019-04-23 00:15] KaiRo-at commented on #901
I'm confused by that explanation as the `tx.hash` is actually known already when the transaction is broadcast, which is before the code is actually executed.
Also, Etherscan is not available inside the contract, for one thing, and for the other, depending on external resources like Etherscan is nothing I'm too happy with in systems I work on, as it adds risk of e.g. outages and/or (future) paywall

[2019-04-23 01:44] DennisBPeterson commented on #1559
Since the MINFEE change in each block is only a maximum change, not a required change, what is the incentive for a miner to ever increase MINFEE?

If the miners lower MINFEE whenever they can and never increase it, demand for gas will more often exceed the 16M max limit, and miners will get more revenue as people raise their premiums to outbid each other. Then we're mostly back to the current syst

[2019-04-23 06:32] k06a commented on #901
@KaiRo-at oh, thanks! My fail, it was about blockhash.

[2019-04-23 08:50] bitcoinbrisbane commented on #1909
Im working on something similar. Ill message you @OFRBG

[2019-04-23 16:55] zyfrank opened #1964 "eip-1767 miner of type Block seems not need a filter"
EIPS/eip-1767.md
seems
[code]

should be `miner: Account!`  ?
In one block to query miner of another block?

[2019-04-23 20:25] fredbuluku commented on #1957
Git I have a problem my google account has been locked up,in the message to the reason why it was blocked was based on Circle and google installation,please assist me to recover back my google account and let CircleC remain locked.

[2019-04-24 08:28] #1935 closed

[2019-04-24 13:45] sboucherit commented on #1776
Hello. Can we compare what has been done here with EIP1613/Tabookey ( https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1613.md ) ? Is one superior to another ? Or does they have very few or nothing in common in term of use cases ?

[2019-04-24 18:29] mudgen commented on #1538
@AC0DEM0NK3Y I considered more about the point that you brought up. The `updateContract` function is useful in the future when there is user interface software that helps people write contracts or modify contracts. Such software can be used with any contract that has the `updateContract` function.

That being said, the ERC1538 standard does not say you can't have other functions that also add/remo

[2019-04-24 20:54] ravachol70 commented on #1410
hiya @adamdossa:

"Modify ERC-1400 to be an umbrella of ERC-1410, ERC-1594, ERC-1643 and ERC-1644 with a few additional constraints to make these standards interoperate."

Could you please elaborate on this or drop some #umbrella #constraint markers into the specification itself. I'm interested to know what are the sticking points for these standards to interoperate. It sounds like good work, kudo

[2019-04-25 02:35] AC0DEM0NK3Y commented on #1538
If you force an API with the updateContract function being standardized, doing impl specific side updates may be infeasible as you can't rely on logic in those side functions anymore always being called, given there will always be the standard path that has to be catered for.
I ended up using the standardized version in my case for example because of that reason.

So its a trade-off, do you sacrif

[2019-04-25 06:35] hexoul commented on #1495
After I read your comments @NoahZinsmeister , I have a question. Don't you have a plan to develop this EIP any more before ETH 2.0?

I guess, if `paygas` will be applied to ETH 2.0, existing architectures which includes `delegate` concept should be replaced. Was it one of your concern in this step?

[2019-04-25 18:27] scherrey commented on #1155
Apologies for polluting the comment space with a request for practical use advice but I've been unable to find another source of information. Is there a chat room for discussing the state of 1155? I'm about to embark on what I anticipated would be an ERC-721 token then discovered I really need two related tokens which suggests there could be more later thus 1155 seems quite interesting.

Is it too

[2019-04-25 18:29] nventuro commented on #777
Hey all, we just put out the release candidate for OpenZeppelin v2.3, featuring ERC777 support (see [the announcement](https://forum.zeppelin.solutions/t/openzeppelin-2-3-0-release-candidate/572)). Anyone interested please take a look and let us know of any comments!

[2019-04-26 16:39] marsrobertson commented on #1497
### Evidence:

Is `fileTypeExtension` required? Maybe it can be derived from: https://en.wikipedia.org/wiki/MIME_type

_(as a security practice, do not rely on user-provided input, is it ZIP or PDF or HTML [Poc||GTFO](https://www.alchemistowl.org/pocorgtfo/pocorgtfo18.pdf))_

### MetaEvidence:

`title`, `question`, `category`, `description` - too many fields, repetetive.

`rulingOptions`, `type`,

[2019-04-26 20:16] satello commented on #1497
- `fileTypeExtension` is not required. If the file includes the MIME type it can be derived by the arbitrator interface that way. None of the fields are required. However, not including some fields may cause an Arbitrator interface to be unable to display a dispute.

- `title`, `question`, `category`, `description` all have different purposes so they are not redundant. It is not required that you

[2019-04-26 23:51] nbundi commented on #1843
@Roger-Wu this is a good point. in the financial context minting/burning is an interesting feature directly related to corporate actions such as stock splits for example.

[2019-04-27 05:18] frozeman commented on #725
A short flow diagram for interaction looks as follows:
`wallet provider -> owner contract/key manager -> 725 proxy -> any other contract`

In more detail:
`dapp send tx -> wallet provider checks if account is a 725 -> call 725.owner to get owner -> call owner.execute, using one of the owner keys -> owner calls 725.execute -> any other account/smart contract`

[2019-04-28 09:06] mcdee commented on #777
:birthday:

[2019-04-28 10:00] wighawag commented on #1930
How do we get that merged in? @Arachnid ?

[2019-04-28 11:17] marsrobertson commented on #1497
`event Dispute(Arbitrator indexed _arbitrator, uint indexed _disputeID, uint _metaEvidenceID, uint _evidenceGroupID);`

### Suggestion (assuming we were using IPFS)

`string _metaEvidenceHash`

If we were using IFPS, we could simply use the hash, instead of the event id... I'm not that good with Ethereum events and accessing their IDs, I thought I'll mention that.

[2019-04-28 22:33] shemnon commented on #1902
Can an OpenRPC document be composed of multiple other OpenRPC documents?

IMHO this EIP should be one or more OpenRPC specs reflecting the already standard JSON-RPC calls for Ethereum.  Client Implementors then would then use those specific files and aggregate them with their own Admin RPCs.  The example linked externally should then include an example of including those standard OpenRPC documents

[2019-04-28 22:39] Tokens001 commented on #1902
Sory?? You talk about me ?

[2019-04-29 03:51] fulldecent commented on #777
I have briefly reviewed the EIP today and have the following notes.

* It is redundant to show function identifiers for each function. This is already well defined in the Ethereum ABI specification.
* I recommend to add NatSpec documentation into the provided Solidity interface. This can replace piecemeal documentation below.
* "NOTE: Most of the tokens SHOULD be fully partition-able...." Recommen

[2019-04-29 05:06] frozeman commented on #777
@nventuro I checked the the Implementation quickly and it doesn’t contain backwards compatibility.
I assume this will be necessary for a while, and the current spec does state that this in the first sentence :)

[2019-04-29 06:22] nicksavers commented on #1559
Closed now that the EIP is specified here
https://eips.ethereum.org/EIPS/eip-1559

and the discussion-thread is here
https://ethereum-magicians.org/t/eip-1559-fee-market-change-for-eth-1-0-chain/2783

[2019-04-29 06:22] #1559 closed

[2019-04-29 12:58] guylando commented on #777
We will soon release a new token and after reading about erc20, erc223 and erc777, we are strongly considering to use erc777. As far as I understand, erc777 is not yet "released" however it seems that it already passed a lot of reviews and is pretty stable. Even augur already started using it: https://www.augur.net/blog/augur-v2/#erc777
I think the benefits of erc777 are worth the risk of using it

[2019-04-29 14:04] satello commented on #1497
We cannot assume that Evidence will be hosted using IPFS or another storage that produces/verifies data integrity via hashes. The standard needs to encapsulate all use cases.

`evidenceGroupID` is used to link pieces of evidence together, and then to link all of the evidence to a dispute. You would still want evidence from previous appeals to be linked to the same dispute.

We cannot merge `MetaEv

[2019-04-29 14:58] ppoliani commented on #780
I think they're working on [ERC1812](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1812.md) now

[2019-04-29 21:43] 0xjac commented on #777
@fulldecent Thank you for your review. I will go over it. However since the deadline for the last call was April 28, I am extending the last call period by a week (until the May 6th) in order to implement the changes (I should be done by tomorrow) and give you a few days to review.

Regarding your specific comments:

- > It is redundant to show function identifiers for each function. This is alrea

[2019-04-29 23:47] chaals opened #1981 "EIP-1352 doesn't have an associated registry?"
EIP-1352 reserves a block of address space for precompiles. However, there is no apparent mechanism to register that anyone intends to use (or is already using) part of that space.

This means that if say a private network client wants to use a given address for a function it implements, primarily serving one network, it will have to either flag the precompile by network or check everything else i

[2019-04-29 23:58] axic commented on #1981
I had this in mind, but figured that private chains would not want to reveal themselves to allocate specific numbers.

Can you please move this question to the discussion URL in the EIP and close this issue: https://ethereum-magicians.org/t/eip-1352-specify-restricted-address-range-for-precompiles-system-contracts/1151

[2019-04-30 00:31] chaals commented on #1981
Sorry for the noise in the wrong place - yes I'll move it...

[2019-04-30 00:31] #1981 closed

[2019-04-30 03:04] shanejonas commented on #1902
@shemnon you can use `$ref` to reference local or remote documents the same way `JSON Schema` allows.

As I'm writing the `openrpc.json` for `multi-geth` its definitely getting pretty hefty, lots of undocumented `debug_` methods for example, so I will try breaking it down to multiple files.

You can check that out here: https://raw.githubusercontent.com/etclabscore/multi-geth/feat/openrpc-discover

[2019-04-30 07:26] shanejonas commented on #1902
@shemnon I took some time and narrowed it down to all the methods from #1474 and #1436 and `getRawTransaction*`, added it to the EIP, can be found in [assets/eip-1901/openrpc.json](https://raw.githubusercontent.com/ethereum/EIPs/dbf64faff4dfe2f832d752292a39b8d7b9b46d2a/assets/eip-1901/openrpc.json) on the PR

heres a link to the playground:
https://playground.open-rpc.org/?schemaUrl=https://raw.gi

[2019-04-30 08:22] marsrobertson commented on #1497
* You created the standard
* You wrote a utility library
* You linked to the existing code samples

The library and the code become de facto a reference implementation.

----------

In IPFS filename is the hash

Here you suggest using multihash.

Prior to reading, I have never heard of multihash.

Keccak3 is de facto a hashing standard on Ethereum, whoever is to use the standard, is likely to have

[2019-04-30 13:19] AC0DEM0NK3Y commented on #1155
Hi @scherrey that's tricky to say. It is right on the edge of being final so yes/no depending on how far out you are from shipping.
I imagine there will be supporting services out and about not too long after it does go final but of course 721 has been around for some time now so there is more out there currently yes.

A 721 exchange can't safely transact 1155's no unless they specifically add sup

[2019-04-30 14:25] satello commented on #1497
I understand what you are saying, but for a standard it is more important that it is future proof than being simple/easy to adopt. That being said if there are ways to simplify the standard without compromising functionality than I am all for it. Adoption is important, but it is more important that the standard can work for as many use cases as possible or else it will quickly reach it's limits an

[2019-04-30 15:11] shemnon commented on #1902
Those two eips are a great place to start.
* Can the schema file name have some reference to the EIPs they are implementing, such as openrpc_eip_1474.json?  If they are intended for composition then the name of the file should provide clarity as to what is being included.  `opejrpc.json` could be, literally, anything.
* Do we need the server section?  Again, if this file is intended for compositio

[2019-04-30 16:01] AC0DEM0NK3Y commented on #1155
FYI I did an example of option #2 from @PhABC list and also an 1820 example in my personal fork of the erc1155 reference example: https://github.com/AC0DEM0NK3Y/erc-1155

I would like us to come to some conclusion about this fairly soon and vote for a direction and move this to final.

ps. @wighawag in teh 1820 branch part I changed the 1155 received magic to:

[code]

which I think is what you ne

[2019-04-30 16:55] 0xjac commented on #777
@fulldecent I pushed some changes based on your feedback, you can have a look at [6be6e42](https://github.com/ethereum/EIPs/pull/1945/commits/6be6e42aa259fff80f80243a17d42a5a7da29f3b) (As I push further changes, the commit hash may change, but otherwise mentioned it should be the last commit on #1945 and the commit message should make it explicit.)

I am currently working on adding content to the

[2019-04-30 19:03] shanejonas commented on #1902
@shemnon

It is possible with to compose different files, here is an example:

here is a local reference
[code]

and a remote reference

[code]

Although I'm not a fan of this approach if it includes relative paths, if `geth` returns `rpc.discover` with a relative `$ref` path, that will need to be served up to actually be resolved later. Or geth (or any client) needs to `dereference` relative path

[2019-04-30 20:54] #59 closed

[2019-04-30 21:18] axic commented on #59
This was closed as the proposed is now championed as part of [EIP-1803](https://eips.ethereum.org/EIPS/eip-1803).

[2019-04-30 21:25] marsrobertson commented on #1497
About IPFS and multihash: https://github.com/ipfs/specs/tree/master/architecture#21-multihash-and-upgradeable-hashing

*(didn't know about it)*

MetaEvidence, MetaHash, it all sounds so meta.

-----

I agree that most likely there is no need for on-chain arbitrator. If AI gets sophisticated enough, I'll build their own toolchain to read Events or use the [Archon library](https://archon.readthedocs

[2019-04-30 21:56] fulldecent commented on #777
@0xjac please mention me again if everything is complete.

[2019-05-01 01:55] satello commented on #1497
It is referring to `_metaEvidenceID`. You use `_metaEvidenceID` to look up the `MetaEvidence` event log. The contract itself doesn't need to know the `_metaEvidenceID`. I will clear up the wording there.

And yes the more eyes we get on this the better!

[2019-05-01 08:23] wighawag commented on #1930
Could you merge the PR @Arachnid @nicksavers @gcolvin @Souptacular?
Sorry if I ping the wrong person. Let me know though as I have few more PR to merge.
And if there are any issues let me know
Thanks

[2019-05-01 08:33] shanejonas commented on #1902
Took the time to put this repo together to house the specification we've started to outline here: https://github.com/etclabscore/ethereum-json-rpc-specification

[2019-05-01 10:15] axic commented on #1831
Documented some of this in the readme with #1977.

[2019-05-01 21:50] Souptacular commented on #152
Please see discussion on https://github.com/ethereum/EIPs/pull/131 where I will direct people to a FEM post.

[2019-05-02 12:11] wighawag commented on #1271
Hey,
We are apparently seeing different implementation being published. Some using bool as return value, some using a bytes32 hash as input (as opposed to the bytes data  mentioned in the current draft).

I personally do not mind too much between bytes32 hash vs bytes data  but tend to agree with @pazams that bytes32 should be sufficient unless we can standardize on the structure of the data.

As

[2019-05-02 12:31] wighawag commented on #1155
Yep, no problem. I ll keep it updated

Cool, I am actually wondering if we need different acceptance magic value for batch and non-batch version ? What would be the reasoning behind having 2 different values ?
And if we do, should we also provide 2 different rejection value to be consistent ?

[2019-05-02 15:30] jo-tud commented on #1843
@Roger-Wu We're currently working on a merge between our approaches. It uses the implementation of #1726 but the terminology of this EIP #1843 (avoiding the term Dividend). We also integrated our solution for claims paid in Tokens, so now ERC20 token payments can be distributed. Let's have a conversation with on the past path to converge. I'll ping you via mail.

[2019-05-02 15:34] AC0DEM0NK3Y commented on #1155
I think the reasoning behind that is so that the receiver has to be explicit in saying "yes I understand this is a batch you are sending me and I accept" and you only need one reject as it doesn't matter which type it is coming in, a reject is a reject.

[2019-05-02 21:36] flygoing commented on #1964
Consider posting this to that EIPs discussions-to page [here](https://ethereum-magicians.org/t/graphql-interface-to-ethereum-node-data/2710)

[2019-05-03 13:10] AC0DEM0NK3Y commented on #1155
@fulldecent just wanted to add about an earlier suggestion you made saying can't track balances with events because you can't emit arrays in events logs for it. If you plug:

[code]
into remix and run with params:

you get this in the log out:

They can't be indexed it is true but as the suggestion is you pull all event data out into a local db and index there, this is covered for searching/aggreg

[2019-05-03 22:18] AC0DEM0NK3Y commented on #1155
FYI I added changes to the 1155 text with the accept/reject magic changes, some more explicit rules as discussed for safeTransfers and mention of compatibility in a hybrid standards situation: https://github.com/ethereum/EIPs/pull/1993/commits/49fbbde7c7017e746e9e5817df5c8be802205822 I believe it's been pulled already.

----

So this smart wallets already in the wild situation, it needs resolving

[2019-05-03 22:21] AC0DEM0NK3Y commented on #1155
Voting time...

I will ask could anyone who has contributed in the thread discussion already who still has an interest in this standard please vote YES (thumbs up)/NO (thumbs down) on whether you think we should introduce a dependency on 1820.

I think we should only count people who have contributed to the discussion so far to prevent brigading etc.

Lets give it 5 days of voting, so that ends on

[2019-05-04 17:39] 0xjac commented on #777
@fulldecent I'll notify you once it's complete (I'm almost done with the rationale) but in order to do so, can you please answer my question. Namely (reformatted):

Note that concerning the two quotes you referred, the first one is with regards to sending using ERC777  (which MUST revert if the recipient is a contract without hook) and the second one relates to transfers using ERC20 (which SHOULD

[2019-05-05 06:57] marsrobertson commented on #1497
**RELATED:** Have you heard of https://opentimestamps.org/ https://en.wikipedia.org/wiki/OpenTimestamps ?

Committing to a value, ensuring that piece of evidence existing before a certain time.

---

**What are your thoughts about going IPFS only?**

This ERC1497 is specific to Ethereum (emitting events for example) and I'm leaning towards establishing IPFS as standard.

_(dropping support for tra

[2019-05-05 14:43] frozeman commented on #725
Here is a flow chart for ERC 725v2:

![ERC725v2-flow](https://user-images.githubusercontent.com/232662/57195592-df8ce680-6f54-11e9-8ec6-f2e961560401.PNG)

[2019-05-05 16:56] fulldecent commented on #777
@0xjac My concern was that these two specifications contradict if you interpret "sending" to include calling `send` and calling `transfer`/`transferFrom` or if you interpret "transferring" to include calling `send` and calling `transfer`/`transferFrom`.

The language could be more specific and literally correct by changing

to

and similar instances throughout the contract.

---

Related, there is

[2019-05-06 00:42] 0xjac commented on #777
@fulldecent okay I understand. You are right, we do have specific meaning for those terms in the document.

Namely we use the terms "send" or "sending" when referring to an ERC777 movement between two holders and the term "transfer" for ERC20's `transfer` and `transferFrom`. We also use the term "movement" to refer to any type of token movement (send, mint, burn, ERC20 transfer)

Therefore I have

[2019-05-06 04:51] Arachnid commented on #725
FWIW, I strongly agree with @MicahZoltu - a more parsimonious standard that provides an execution function alone would be much more generally useful. Consider who your consumers are, and what they need standardised. In the case of something like this, you probably have a lot of potential consumers who need a consistent interface for sending execution requests, but far fewer who need to care about

[2019-05-06 09:57] wighawag commented on #1155
Nice, but there are few incorrect statements:

1)

even though I was the one writing this line, I don't think it is actually what we want. Do we expect the implementation of batchTransferFrom to check if the array contains only one element and call onERC1155Received in that case? My implementation does not do that. We could actually remove that line and add that one:

"only one of ```onERC1155Batc

[2019-05-06 14:38] AC0DEM0NK3Y commented on #1155
Thanks for reviewing @wighawag, I'll go through the points one by one, although I'd say one thing running through a lot of your points is you are taking one line and interpreting it on it's own whereas I would read it an take the approach of rules being additive, i.e if one rule says "MUST do A when B" than doesn't mean that becomes undone if "MUST do C when D" unless explicitly said so, both rule

[2019-05-06 16:16] charyorde commented on #734
@frozeman Simply, is this a design for KYC? Like Identity verification?

[2019-05-06 16:20] frozeman commented on #734
This is a standard for key management, intended to be used in conjunction with #725

[2019-05-07 01:28] fulldecent commented on #1155
@AC0DEM0NK3Y Thank you for sharing the code example. It is very helpful. I agree that your implementation of batch transfer does allow tracking via the event log. This fully resolves my issue raised above regarding batch transfers logging.

[2019-05-07 05:31] AC0DEM0NK3Y commented on #1155
@wighawag I altered the text in the safe transfer rules to match the discussion if you wouldn't mind having a look https://github.com/ethereum/EIPs/commits/master/EIPS/eip-1155.md to see if your hybrid solution is still covered. I believe it is but just to be sure.

The text should get updated in this discussion thread tomorrow.

[2019-05-07 07:23] cbruguera commented on #725
@MicahZoltu and @Arachnid I'm not sure I understand how can ownership be further "abstracted out" from this model, given that it's just one ethereum address and details on how that ownership behaves are left to either the implementation of a key management contract if that is the owner, or to the user in the case of "owner" being a simple account... Can you guys explain how exactly is it possible

[2019-05-07 09:00] MicahZoltu commented on #725
@cbruguera This EIP is for "Proxy Account", not Identity.  The first question I ask is, "what is the minimum set of things that can be standardized that would be beneficial to people building proxy contracts (e.g., various forms of wallets)?"  In this case, having a standard that tools can depend on/implement would allow them to become more aware of proxying and provide better UX when proxying occ

[2019-05-07 15:36] frangio commented on #777
OpenZeppelin is implementing ERC20 compatibility in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1735.

@0xjac We want to confirm that ERC20 `approve`/`allowance` are orthogonal to ERC777 operators. Mainly that `msg.sender` does not have to be an operator in `transferFrom`, and that `operatorSend` does not reduce an operator's `allowance`. It might be worth adding a note about this i

[2019-05-07 19:47] 0xjac commented on #777
The last call of ERC777 ended yesterday. Therefore I would like to move ERC777 to final.

The last call period was extend by a week, for a total of 3 weeks, to deal with last minute feedback.

There was no significant and no functional changes but mostly clarifications and corrections.
The following changes occurred during the last call period:

- Cleanup (markdown formatting, code formatting, som

[2019-05-07 19:54] guylando commented on #777
@0xjac Thanks a lot for your work on ERC777!
Could you please check my comment at https://github.com/ethereum/EIPs/issues/777#issuecomment-487569304 ?
Do you think we should start using ERC777 for ICO/IEO/IBO instead of ERC20 (an ERC20 compatible version to be supported to be listed by exchanges)? Maybe you are aware of some token which already started using it?
Thanks!

[2019-05-07 20:14] Arachnid commented on #725
But why codify even that? There are other ownership models, and including this would require any contract that doesn't want to use a single owning address to use a different standard.

Who are your target consumers of this standard, and what do they need to be able to do with it?

[2019-05-07 21:17] frozeman commented on #725
@cbruguera I fully agree with all what you've said.
The intend of this standard is not to be simple proxy that *disappears*, but a proxy that *stands out*, e.g. become your universal profile, and maybe long lasting identity.

@MicahZoltu The control is important and needs to be defined, so that interfaces have a place to go look *how* to interact with your profile/proxy account.

I you like to mak

[2019-05-08 14:44] bluerosss commented on #777
Hello Jacques,
Yes, GCA (GlobalCryptoAlliance) has implemented CALL token few months ago (which was the first erc777 in the cryptosphere but only for a team use - none offering), we were waiting for the new ERC1820 and Final ERC777 to update and deploy our new smartcontract, and also to spread it in cryptosphere. Thank you very much again (you and Jordi) for the great job and for recent final step

[2019-05-08 14:49] axic commented on #1956
This doesn't seem to be a proposal or a discussion. Please reopen if a proposal is posted here.

[2019-05-08 14:49] #1956 closed

[2019-05-08 14:52] axic commented on #1957
This doesn't seem to be a proposal or a discussion. Please reopen if a proposal is posted here.

[2019-05-08 14:52] axic commented on #1951
This doesn't seem to be a proposal or a discussion. Please reopen if a proposal is posted here.

[2019-05-08 14:52] #1951 closed

[2019-05-08 16:20] mcdee commented on #777
Great to see this reach final.

I wrote an article explaining some of the features of ERC-777; it's available at https://www.wealdtech.com/articles/understanding-erc777-token-contracts/ and a companion piece focusing on operators is available at https://www.wealdtech.com/articles/understanding-erc777-token-operator-contracts/

[2019-05-08 20:16] frangio commented on #777
We've now finished the OpenZeppelin implementation, including ERC20 compatibility by default.

It's released now in `v2.3.0-rc.2`: [`ERC777.sol`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v2.3.0-rc.2/contracts/token/ERC777/ERC777.sol).

Also available on npm: `npm install openzeppelin-solidity@next`.

We'll be doing a final internal security review in the coming days before the fi

[2019-05-09 08:19] mcdee commented on #777
@frangio any reason the OpenZeppelin implementation hard-codes granularity to `1`?  It is a variable within the spec.

[2019-05-09 13:48] frangio commented on #777
@mcdee Good question. The EIP says the following about granularity:

Keeping this in mind, we decided to go with a hardcoded granularity if 1 for our first release of the ERC. It makes the code simpler to understand, and simpler for people to use, which might help adoption. However, it's very easy to add granularity on top as an extension and we plan to do this once we see some demand for it.

The

[2019-05-09 14:29] mcdee commented on #777
@frangio ERC-20 functionality is orthogonal to ERC-777, but granularity is part of the spec.  I would urge you to add this before releasing the token.

(This is another good example of why SHOULD is a horrible designator in an ERC).

[2019-05-09 19:02] AC0DEM0NK3Y commented on #1155
The 1820 dependency deadline has passed and been voted down by community so this will not be included in the standard.

----

The standard text has now been updated with what we believe is the final text after taking in feedback and suggestions by the community.

With this in mind we would like to put this back into final call tomorrow afternoon.

----

@wighawag  could you please do the review on

[2019-05-10 12:22] wighawag commented on #1155
@AC0DEM0NK3Y thanks for your edits!

Sorry for taking some time to reply but while I was going to reply to your comments with some more edits suggestion I unfortunately discovered **an important issue with the "rejection magic value" solution that make it an non-option.** I wanted to be sure and understand all options before replying. Hope you will not hate me after that :(

Indeed, because the ga

[2019-05-10 13:41] AC0DEM0NK3Y commented on #1155
OK, that's good you spotted this now rather than later. The receiver not being in charge of the revert was not a particularly nice aspect added for the hybrid support anyway so it's not so bad this has to change so that can go back to how it was.

@JamesTherien had some edits he wanted to put in also.

What is the text used for the keccak to generate "0xbb74d243"?

[2019-05-11 08:53] Eksan03 commented on #1888
Give me
0x6a0E7B7b18798E09F94c25e9D8a1aB70dD71A256

[2019-05-11 11:25] XanderXioMvB commented on #1888
So I could potentially lend one of my tokens to somebody, and then call it back to my wallet, for example renting out a sword for a set amount of time for and X amount of funds, the person renting the item know they will have the item until the contract completes and I know I will get it back exactly when I should guaranteed or am I not understanding this correctly?

[2019-05-11 14:29] guylando commented on #777
I posted here some questions on the ERC777 implementation: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1749
and I see some of those questions (such as 5, 8) are also relevant for the reference implementation https://github.com/0xjac/ERC777/blob/master/contracts/examples/ReferenceToken.sol

[2019-05-11 15:34] XanderXioMvB commented on #1155
Dose this make trusless item lending possible?

[2019-05-11 17:29] AC0DEM0NK3Y commented on #1155
Solidity itself makes that possible with time stamping and time based units: https://solidity.readthedocs.io/en/v0.5.8/units-and-global-variables.html#time-units

What this standard could help with perhaps is allowing for one loan to be in effect that covers multiple types at once without needing an external contract (this helps a lot in ux/ui and gas expenditure).
Or if you did have an external c

[2019-05-12 01:39] PhABC commented on #1958
Being an author of ERC-1155 token standard, I am obviously biased, but I consider the ERC-20 as ill constructed and would not support ERC-20 at the base layer. In fact, I would not support ERC-1155 either, as the base layer should not be modified based on the current hottest trend. Just my humble opinion.

As an alternative, by changing a bit how contracts are written, one can support calling func

[2019-05-12 18:19] guylando commented on #1469
Interesting idea, few comments:
1. Why to create a new standard for this instead of adding smart contracts weaknesses as new CWEs?
2. I think that several important properties which are missing for SWC are: how severe the weakness impact can be, how easy to fix is it, how easy to exploit is it.
3. I think for it to be useful, it should be very clear about where is the weakness in the test case. Fo

[2019-05-13 08:39] wighawag commented on #1155
@AC0DEM0NK3Y I created a pull request for adding the 5,000 gas requirement to ```isERC1155TokenReceiver``` : https://github.com/ethereum/EIPs/pull/2017

@fulldecent I would like your input on that as I could not find a reasoning behind EIP-165 use of the 30,000 gas limit for ```supportsInterface``` ?

[2019-05-13 11:48] veox commented on #1930
As I've mentioned in https://github.com/ethereum/EIPs/pull/881#issuecomment-491783676, there is no need to implement this at the EVM level.

This can be done at language level - either in the compiler, introducing new keywords for "call with extra checks"; or in the program, using macros or function modifiers or decorators or whatever-is-available in the language of choice.

Otherwise, we'll run o

[2019-05-13 11:51] PhABC commented on #1155
@wighawag @AC0DEM0NK3Y

I would prefer if we used ERC-165's `supportsInterface()` instead of `isERC1155TokenReceiver()`. `isERC1155TokenReceiver()` is only marginally cheaper (~150 gas) and is redundant with ERC-165. In addition, I think the ERC-165 approach is superior to account for potential future modification of the interface.

For the (ERC-165)[https://eips.ethereum.org/EIPS/eip-165] itself:

[2019-05-13 12:24] wighawag commented on #1155
@PhABC unfortunately because ERC-165's  ```supportsInterface``` return bool, the proper way to check it  involve 3 calls to it, see the example implementation and [openzeppelin's one](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/fa004a7f5de572b3dbcde1a8a81f9a87e353e799/contracts/introspection/ERC165Checker.sol#L37)

2 for checking whether it implements ```supportsInterface``` itself

[2019-05-13 12:42] guylando commented on #1155
Few comments/questions (I admit that I might have missed some of the 300+ comments here so forgive me if this was already discussed):
1. When this EIP was created there were several other relevant EIPS which were not finalized but are now finalized. Probably should try to base this EIP on newer EIPS to allow continuation and the use of newer improved ideas. In this regard I think that now that EIP

[2019-05-13 12:50] wighawag commented on #1930
As mentioned in the proposal as well as in my [reply](https://github.com/ethereum/EIPs/pull/881#issuecomment-491807727)  :

These solution are not perfect (either forbid certain behavior or are susceptible to gas pricing change). They also waste gas for computing what is already computed by the evm.

Ideally the version of the opcode proposed here should replace the old one.

Then if you worry abo

[2019-05-13 14:35] daniel-iobuilders opened #2022 "EIP-2009: Compliance Service"
This EIP proposes a service for decentralized compliance checks for regulated tokens.

A regulated token needs to comply with several legal requirements, especially KYC and AML. If the necessary checks have to be made off-chain the token transfer becomes centralized. Further the transfer in this case takes longer to complete as it can not be done in one transaction, but requires a second confirmat

[2019-05-13 14:53] scherrey commented on #1155
Actually supporting multiple tokens in a single contract is likely to reduce the number of attack vectors as, from a practical basis, what's more likely to happen is people will cut & paste code en massse and it will be too expensive to review each contract fully in its new context - whereas having them all in one place for which there is very little difference in implementation details, it's easi

[2019-05-13 14:55] coinfork commented on #1155
If a person/company needs multiple token ID functionality and deploys 1 ERC1155 contract versus a separate contract per token ID, there is no difference in security. The only difference in spreading tokens across multiple contracts is that the contract address is different per token ID. Flawed code would be just as vulnerable in multiple contracts as a single contract.

[2019-05-13 15:05] guylando commented on #1155
@scherrey Maybe it is not black and white and you are maybe right about auditing and about increased efforts, however if we put that aside and just look at the existence of vulnerability, then it seems better that the impact would be spread than to put all eggs in one bucket.

@coinfork There are different types of attacks and mistakes which can happen and I believe that even from the simple fact

[2019-05-13 18:30] AC0DEM0NK3Y commented on #1155
Hi @guylando.

For the 777 + 1820 stuff, yes if you read the rest of the comments we did explore this route and decided against it, I even did an 1820 example in the 1155 ref: https://github.com/AC0DEM0NK3Y/erc-1155/tree/feature-1820-receiver

1820 inclusion was voted down by the community and we are moving on.

----

For the security aspect If you look at how most of the other standards impls hav

[2019-05-13 18:45] guylando commented on #1155
@AC0DEM0NK3Y If we put 1820 aside and look at 777, what are the plans of co-existence for 777 tokens and 1155 tokens? Doesn't it create just more work for all the tools and systems and exchanges who need to support 2 new standards instead of 1 (unless they will stay with the ERC20 "insecure" functions)? And for the tokens developers it creates a choice which in this case sounds like a time wasting

[2019-05-13 19:29] AC0DEM0NK3Y commented on #1155
It's multi-token standard as in you can have multiple 1155 token types in the same contact and differentiate with _id args, it is not the multi-standard standard.

----

The standard text makes no guarantees on security or mentions of audit(s), that is up to the implementer to do their due diligence and pick the right standard and implementation for their scenario and do the appropriate things for

[2019-05-13 20:14] AC0DEM0NK3Y commented on #1155
@whigawag your change to the text for `isERC1155TokenReceiver` with respect to gas is merged in, I added a small changes for consistency on top. Thanks.

[2019-05-13 20:15] AC0DEM0NK3Y commented on #1155
@wighawag your change to the text for isERC1155TokenReceiver with respect to gas is merged in, I added a small change for consistency on top. Thanks.

[2019-05-13 20:18] Arachnid commented on #1930
I agree with @veox - this is a niche requirement that can be satisfied with current opcodes. I think it's a bad idea to use up two new opcodes, and add client complexity, for it.

[2019-05-13 21:01] guylando commented on #777
Maybe it could be a good idea to somehow contribute to EIP 1155 for it to add built in support to ERC777 like it adds to ERC20 and ERC721: https://github.com/ethereum/EIPs/issues/1155
Otherwise ERC777 and ERC1155 will cause a division among tokens while both providing similar behaviors for a single fungible token.
I was not involved enough in the ERC777 standard creation to be able to do this, how

[2019-05-13 21:37] AC0DEM0NK3Y commented on #777
ERC1155 does not have in-built support for ERC20 or ERC721 so it does not need to add in ERC777 as a dependency either.
The only standard #1155 depends on is #165.

ERC1155 differs to ERC777 in that it supports multiple token types (if needed) and the possibility of mixing of NFT and FT so they are targeting different scenarios imho.
ERC1155 was primarily devised to support game items as that is t

[2019-05-13 21:49] guylando commented on #777
1. ERC1155TokenReceiver seems to be a parallel to ERC777TokensRecipient and the batch abilities of ERC1155 seem relevant for ERC777 as well.
2. On the other hand the operators idea of ERC777 and the sender hook of ERC777 seem as would enhance ERC1155.
3. Maybe some would want to be able to manage multiple ERC777 in the same contract like ERC1155 provides.

Even if the idea of ERC1155 is for game i

[2019-05-13 23:47] fulldecent commented on #1155
@wighawag. I inherited the 30,000 gas choice from before I got involved with ERC-165. I cannot defend that decision on technical merits.

[2019-05-14 06:30] AC0DEM0NK3Y commented on #777
erc777 much like erc721 and erc20 does not include the "_id" designation in key functions like balanceOf, so merging them and erc1155 together just isn't going to fit very well.

An example is erc777 uses this signature:

```function operatorSend(address from, address to, uint256 amount, bytes calldata data, bytes calldata operatorData)```

and erc1155 uses:

```function safeTransferFrom(address _

[2019-05-14 12:31] bytniak commented on #1888
@XanderXioMvB : it more allows for revoking the validity of the token issued (a sword), which can be done on a pre-defined condition (lend time) in a transparent smart contract. You would not be in control of the token once you transfer it out, yet the game could potentially implement a simple mechanism to issue a new token (a sword) with pre-defined validity to be able to lend it to someone, keep

[2019-05-14 19:17] wighawag commented on #1930
Even if it was, I don't think this is a valid argument.

But as mentioned in the proposal this is already an issue for meta-transactions and introspection (like #165), two use-cases far from being niche.

Furthermore, it is apparent that everybody assumes that the behaviour of the current CALL opcodes is to enforce the gas somehow (maybe because forgetting about EIP-150, they wrongly think there w

[2019-05-14 20:49] Arachnid commented on #1930
It's not terribly difficult. Increasing opcode gas costs is never likely to happen, precisely because people already have this kind of dependency on it. See for instance this recent Twitter thread between Vitalik and I: https://twitter.com/VitalikButerin/status/1128076287678013442

[2019-05-15 06:33] wighawag commented on #1930
This is a possible take on it. But that does not remove the risk completely. That depends on the community.

It is worth nothing that the argument also include:

If so, we could argue that the opcode space is not that much a concern. We have still more than 100 opcodes left

But regardless, since replacing the old opcode with these new one would be objectively better, I still vote for the proposal

[2019-05-15 09:56] RobertoSnap commented on #1411
With use of  ERC-1643, can one remove the `  // Document Events
  event Document(bytes32 indexed _name, string _uri, bytes32 _documentHash);` from and rather rely upon `    event DocumentRemoved(bytes32 indexed _name, string _uri, bytes32 _documentHash);
    event DocumentUpdated(bytes32 indexed _name, string _uri, bytes32 _documentHash);`

[2019-05-16 09:43] lidel commented on #1497
:car: :dash: _some drive-by comments from IPFS_ :)

#### On IPFS Addressing

Linked issue is super old (2015), we will close it to decrease noise (sorry!).
Since then, we switched to `ipfs://`, `ipns://` and `dweb:/` to improve URL/URI interop, ease adoption and unblock browser integration. Latest IPFS addressing standards for web browsers can be found at [ipfs/in-web-browsers/ADDRESSING.md](https

[2019-05-16 16:58] glgoose commented on #1068
There's a typo under term definitions

[2019-05-16 17:00] glgoose commented on #1068
There are some typos under the term definitions
"terms: The **temrs** parameter was **choosen** to have the type bytes32. This in order to make the **temrs** entries as general as possible while maintaining a very simple code base."

[2019-05-16 20:08] AC0DEM0NK3Y commented on #1155
@wighawag (or @fulldecent) did you manage to find any reasoning for the 30k gas from anywhere else? First time I saw it mentioned was @fulldecent post in 165 discussion thread.

5000 gas to call a pure function that just returns a value seems like more the enough to me on the face of it, so unless there is anything else it seems like we could be good for moving to final call.

[2019-05-16 21:14] fulldecent commented on #1155
This is not a pure function, it can read state. In fact that is how most people implement it.

I cannot defend 30k based on technical merit or cite relevant discussions. It was chosen arbitrarily before my tenure. Every implementation I have seen uses less.

[2019-05-16 21:17] AC0DEM0NK3Y commented on #1155
The pure function I'm talking about is this:

`function isERC1155TokenReceiver() external pure returns (bytes4);`

----

Do you know who or which group it was arbitrarily decided on by? I'd like to ask them if there was a reason they picked that value.

[2019-05-16 23:28] AC0DEM0NK3Y commented on #1155
There is one possible change we may want to do when calling the receiver hook(s). An "_operatorData" arg which takes over what the current "_data" arg does, and another arg is used as an optional argument the contract itself can pass for more context in the action of its duties.

ERC777 does this sort-of too, although in both cases they are pure pass-through one for user and one for operator in th

[2019-05-17 01:29] wjmelements commented on #155
It's worth noting that if you do not use RFC 6979 you will get non-deterministic signatures that differ from the example.

[2019-05-17 10:48] axic commented on #106
I'd say this can be closed when #1985 is merged.

[2019-05-17 11:14] wighawag commented on #1155
@AC0DEM0NK3Y Actually we should not make ```isERC1155TokenReceiver``` pure either since as mentioned for smart contract wallet that use module for receiver support, they'll need state access.

let's make it a view function  ```function isERC1155TokenReceiver() external view returns (bytes4);```

5,000 should be fine here too though.

As for the reason behind 30,000 in #ERC-165 I could not find mor

[2019-05-17 14:18] PhABC commented on #1155
@AC0DEM0NK3Y

I realized it would be simpler for the example you gave to just rename the method instead of adding a new arguments, so that it doesn't clash with the current standard. I prefer having a single `_data` field than 2, as it's still not clear to me in which circumstances having two is actually critical, since `_data` is always specific by the address executing the transaction, whether i

[2019-05-17 20:57] satello commented on #1497
Hi @lidel. Thanks for the clarifications and suggestions. For the purposes of this standard it is not necessary to spell out the accepted `URI` formats in the standard itself, as these may change over time and different interfaces will have different requirements, but this is great discussion for people trying to implement an interface that will support `IPFS`.

CIDs are an interesting idea. We co

[2019-05-18 00:05] fulldecent commented on #1332
Here is a much cheaper implementation of the ideas in this proposal.

Standardize a convention for capturing account-targeted messages. Do this as an event.

[code]

When the client logs in then they can scan the blockchain for all events from any contract that have this type of event. Then they. record the last scanned block number. Then next time they resume searching from that block.

[2019-05-18 00:10] fulldecent commented on #898
@sfultong Could you please review the latest EIP-1 and the two-week review which we have added? This may address some of your concerns.

Also related work at https://github.com/ethereum/EIPs/pull/1297

This may possibly entirely address your concerns.

[2019-05-18 00:10] fulldecent commented on #898
@sfultong Could you please review the latest EIP-1 and the two-week review which we have added? This may address some of your concerns.

Also related work at https://github.com/ethereum/EIPs/pull/1297

This may possibly entirely address your concerns.

[2019-05-18 00:11] trigun0x2 commented on #1332
This was the original implementation but due to the nature of MetaMask at the time, it was not ensured that all events will be accounted for. Therefore the implementation I mentioned above.

[2019-05-18 00:12] fulldecent commented on #717
I supporting this proposal to go forward as a standard. This is in widespread use already.

[2019-05-18 01:52] axic commented on #1699
Closing this now as I don't think it is relevant anymore. The problems raised are valid, but likely it should be discussed on the Ethereum Magicians forum or as part of a broader discussion regarding processes (and not specific to EIP-1052).

@fulldecent please let me know if you want to keep this open.

[2019-05-18 01:52] #1699 closed

[2019-05-18 03:18] sfultong commented on #898
Thanks for the notification, @fulldecent

My concerns are twofold:

 1. Splitting acceptance into technical acceptance and ideological acceptance
 2. Quantitatively measuring support/opposition to EIPs

These changes do address my first concern.

As for my second, I think @MicahZoltu has previously stated, to paraphrase, if people don't like EIPs, they can always "fork off". If core devs are wise,

[2019-05-18 03:18] #898 closed

[2019-05-18 12:35] pedrouid commented on #1637
Hey @danfinlay, I would like to revisit this EIP and start implementation for both Metamask and WalletConnect

[2019-05-18 12:52] rmeissner commented on #1637
I would prefer the solution mentioned by @ligi

Having it as an optional parameter might cause issues, since wallets that are not using a strict implementation of the rpc (by rejecting additional parameters) would potentially submit the transaction to a wrong chain.

[2019-05-18 13:11] pedrouid commented on #1637
That is however a problem already with eth_sendTransaction and this is not just an improvement but fixing a problem.

I think that creating new methods is the way to go for breaking changes. But this is a non-breaking change which middleware libraries like web3.js, ethers.js, etc can fill in the active chainId if the second parameter is undefined

<sub>Sent with <a href="http://githawk.com">GitHaw

[2019-05-18 13:29] ligi commented on #1637
yes it is a problem with the current eth_sendTransaction - but when introducing wallet_signTransaction with a mandatory chainID one would have the guarantee. I still signal this as the way to go.

[2019-05-18 17:42] fulldecent commented on #898
Adding reference for the history of the last call status:

https://github.com/ethereum/EIPs/pull/1100

[2019-05-19 05:46] nevverlander commented on #1155
Is the review period end date (2019-03-28) still valid?

[2019-05-19 15:35] axic commented on #698
@nicksavers This is the discussion URL for EIP-698.

[2019-05-19 16:32] PhABC commented on #1155
@nevverlander no! We reverted this ERC back to draft to address some issues brought up.

[2019-05-19 22:49] jochem-brouwer commented on #1930
This would require - per the EIP - 3 new opcodes. For some reason `STATICCALL` is not considered (why would this not have the same behavior?).

As mentioned by @Arachnid this can be implemented in EVM directly with minimal extra gas costs: (solidity code)

[code]

The fact that this requires 3 (4?) new opcodes plus the fact that this can already be implemented in EVM are both arguments for me to n

[2019-05-19 23:26] lidel commented on #1497
Cool, just wanted to put the concept of a CID on the radar in case its useful for this or future standards.
Going with raw multihash should be fine too. CIDv1 of IPFS files (`dag-pb`) can be derived  from multihash alone, if needed.

[2019-05-20 02:25] thec00n commented on #1469
hey @guylando.

1.) If you mean why we do not add the weaknesses to https://cwe.mitre.org/, then the answer is because there is no edit or create a PR button. We wanted to have something that can receive contributions from anyone in the community and that does not require anyone to go through some kind of onboarding process to get started. That does not mean of course that someone could take the c

[2019-05-20 09:26] guylando commented on #1469
1,2,3. https://cwe.mitre.org/ has more fields such as those I wrote, see for example: https://cwe.mitre.org/data/definitions/682.html
a. "Likelihood Of Exploit"
b. "Common Consequences" + impacts.
regarding the examples:
c. "Demonstrative Examples" see the level of description, I believe it shouldn't be expected of everybody to waste their time trying "guess_the_number.sol" and instead providing b

[2019-05-20 13:15] axic commented on #106
@chriseth are you OK closing this in favour of #1985? (It has a link to this issue.)

[2019-05-20 14:21] axic commented on #1392
Which EIP/ERC are you referring to? Perhaps it would make sense to discuss this on the discussion URL of the reference EIP/ERC?

[2019-05-20 15:46] pedrouid opened #2053 "Up-to-date JSON-RPC API spec"
There are have been multiple issues opened and closed around this issue but we currently lack an updated JSON-RPC API spec.

I'm happy with keeping the same Github Wiki we have right now for reference (https://github.com/ethereum/wiki/wiki/JSON-RPC) but it needs to include the latest methods that have already been implement by clients and other middleware. For example: `eth_signTransaction` and `e

[2019-05-20 15:58] wighawag commented on #1930
@jochem-brouwer

STATIC_CALL is mentioned

This naive implementation is not sufficient as explained in the proposal. Please read the proposal and the materials linked (EIP-150 in particular).

As @Arachnid say, it is technically possible to do it via assembly and we can imagine solidity adding a parameter or a variant to the various "calls" for that but this would be dependent on gas opcode pricin

[2019-05-20 16:20] jochem-brouwer commented on #1930
@wighawag Woops - I meant `CALLCODE` instead of `STATICCALL`

[2019-05-20 16:59] wighawag commented on #1930
`CALLCODE` is kind of deprecated as you can achieve the same with `DELEGATECALL` while preserving the caller context. So I don't think we need to keep supporting it.

[2019-05-20 17:37] k06a opened #2054 "EIP-2054 Add missing cheap unique ID and external call hierarchy introspection"
[code]

I would like to avoid this situation and not to use `SSTORE` at all:

[code]

I wish to have some kind of unique ID inside function for example to keep some task in mapping:

[code]

But several transactions will result a conflict, let’s imagine we even have a `tx.hash`:

[code]

But this also will not work in case of several calls from a different smart contract, but wait:

[code]

But th

[2019-05-20 18:47] guylando commented on #644
From investigating current solutions for token contracts bug mitigations and upgradability my conclusions are:
1. Users SHOULD verify the token owner (that he is a legal entity which can be prosecuted in case of a foul-play) before buying the token.
2. The contract SHOULD be pausable from security reasons and this is less risk than NOT making it pausable (under condition (1)), see: https://github.

[2019-05-20 20:26] guylando commented on #1067
1. Seems there is no reason for investors to trust a token implementing this concept since the token code can change at any moment (I believe a pause+migrate method has more trust and security https://github.com/ethereum/EIPs/issues/644#issuecomment-494106553).
2. Also seems as a duplicate of https://github.com/ethereum/EIPs/issues/644 (more specifically: https://github.com/ethereum/EIPs/issues/64

[2019-05-21 00:36] axic commented on #988
The text

has been in EIP-1 at least since Feb 2017.

What exactly needs to be changed/improved here?

[2019-05-21 01:12] #988 closed

[2019-05-21 19:58] MadeofTin opened #2060 "Research into Protobuffs for new transaction-type serialization."
I saw this posted in the allcoredevs chat and started down the rabbit hole reading about it. I decided to post my findings here for anyone else interested in looking into them. I am not a top tier dev so take my opinions with a grain of salt.

From the site, "Protocol buffers are a language-neutral, platform-neutral extensible mechanism for serializing structured data." https://developers.google.c

[2019-05-21 20:14] MadeofTin commented on #2060
Further rabbit-hole. FlatBuffers are an alternative to Protobuf. https://en.m.wikipedia.org/wiki/FlatBuffers
The primary benefit being:

But,

[2019-05-22 13:13] snjax commented on #2054
`tx.origin + tx.nonce` seems to be enough for building such unique ID.

[2019-05-22 20:20] charles-cooper opened #2061 "Discussion: Kickbacks for contract authors"
It's often hard for dapp writers to monetize their dapps. Monetization can lead to legal difficulties, because the status of dapps is not well understood in many jurisdictions. In order to monetize, dapp writers need to create an ad-hoc payment schedule, and may need to incorporate and comply with laws across many jurisdictions for accepting payment.

On the other hand the mining system is robust,

[2019-05-22 20:35] axic commented on #2053
Can you check https://eips.ethereum.org/EIPS/eip-1474 if that satisfies these requirements? Please note Jekyll fails to render it properly (trying to fix that in #2059).

[2019-05-22 21:21] axic opened #2062 "List of EIPs/ERCs without a copyright statement"
- 2
- 3
- 4
- 5
- 6
- 7
- ~~8~~ (fixed by #2416)
- 55
- 100
- 101
- ~~107~~ (fixed by #2068)
- 137
- 150
- 155
- 158
- 160
- 161
- ~~162~~ (fixed)
- 170
- ~~181~~ (fixed)
- 190
- 210
- 616
- 1014
- ~~1108~~ (fixed by #2067)
- ~~1191~~ (fixed by #2233)
- 1386
- 1387
- 1388
- ~~1702~~ (fixed by #2167)

Many of these are still drafts. I suggests that drafts cannot turn final without a copyright and l

[2019-05-23 00:40] AC0DEM0NK3Y commented on #1155
We've updated the standard text to what is possibly the final version.

Changes:

- Made it clear events must emitted to match balance changes before external receiver contracts are called.
- Make it much clearer that the `_data` arg passed through the transfer functions have to passed to the receiver contract unaltered.
- Added a scenario to cover forwarding in the receiver contracts.
- Added @wi

[2019-05-23 00:46] zjsunzone commented on #650
Is Gossip complete?

[2019-05-23 04:44] BelfordZ commented on #1902
@shemnon Just wondering if you have any time to review this?

As per your question about composition -- All OpenRPC tooling demands an entire OpenRPC document to be passed in. How you assemble the document is up to the user, and therefore is as composible as any other JSON document. For most cases, composition probably means splitting method definitions out into their own file, which is really as

[2019-05-23 04:45] BelfordZ commented on #1902
Forgot to mention - Multi-geth is now implementing OpenRPC along with its service discovery method, so you can have a look at how it was implemented if you wish
https://github.com/multi-geth/multi-geth#openrpc-discovery

[2019-05-23 04:46] shemnon commented on #1902
If current OpenRPC tooling requires a singular text document to serve as a schema, then I feel that the OpenRPC tooling should be improved.  One doesn't put all their Go interfaces in one file after all.

[2019-05-23 05:06] BelfordZ commented on #1902
OpenRPC is language agnostic - where/how you implement your methods, where you store the OpenRPC Documents JSON, or how you construct it is entirely up to you. This is not a concern of the tooling, which handles generating clients, documentation, mock servers, etc etc.

What I think you are talking about is a tool which would convert go interfaces into JSON schemas + [MethodObjects](https://spec.o

[2019-05-23 05:15] shemnon commented on #1902
Actually I'm a Java dev and our platform is Java, that wasn't a request for Go tooling.

What I want the OpenRPC spec to be able to handle is that I want to say my schema is made up of multiple pieces, evaluated in aggregate.  And I don't want to have to go into the files and do any JSON querying or assembly.  For example, I want to include the byte identical definition of the core Ehtereum JSON-R

[2019-05-23 05:31] BelfordZ commented on #1902
@shemnon Understood, and I see your point about having to muck around merging JSON files together is not ideal when what you are looking for is a pattern to compose several documents into one.

give me some time to think of other ways we could achieve this.

[2019-05-23 05:32] BelfordZ commented on #1902
merging/composing the methods is really simple. What is hard to understand is how composing OpenRPC documents would handle merging fields such as `info`

[2019-05-23 05:37] BelfordZ commented on #1902
perhaps we could try a vendor extension to start with: `x-extends` which would allow you to specify a reference to another OpenRPC document from which to extend from.

OpenRPC tooling such as [parse](https://open-rpc.github.io/schema-utils-js/globals.html#parseopenrpcdocument) could then return a single document that has been composed as you describe.

[2019-05-23 08:21] pedrouid commented on #2053
Oh I never noticed the methods were included in 1474 because of the rendering. We should get some Jekyll folks in here to fix it.

Also is `eth_chainId` (#695) not included because it's not final yet?

[2019-05-23 13:31] chrisfranko commented on #644
ok um thanks

On Mon, 20 May 2019 at 14:48, Guy Lando <notifications@github.com> wrote:

[2019-05-23 20:22] rmeissner commented on #1155
Just a question concerning the receive hook: Is there a specific reason not to support [EIP-1820](https://eips.ethereum.org/EIPS/eip-1820) similar to [EIP-777](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-777.md). This would also allow support for existing multisigs.

[2019-05-23 21:54] axic commented on #616
@gcolvin this EIP doesn't have a copyright statement. Can you please add one? EIP-1 suggests CC0 - see the `eip-x.md` template.

[2019-05-23 21:54] axic commented on #190
@pipermerriam this EIP doesn't have a copyright statement. Can you please add one? EIP-1 suggests CC0 - see the `eip-x.md` template.

[2019-05-23 21:56] axic commented on #1386
@James-Sangalli this EIP doesn't have a copyright statement. Can you please add one? EIP-1 suggests CC0 - see the `eip-x.md` template.

[2019-05-23 21:56] axic commented on #1387
@James-Sangalli this EIP doesn't have a copyright statement. Can you please add one? EIP-1 suggests CC0 - see the `eip-x.md` template.

[2019-05-23 21:57] axic commented on #1388
@James-Sangalli this EIP doesn't have a copyright statement. Can you please add one? EIP-1 suggests CC0 - see the `eip-x.md` template.

[2019-05-23 22:38] AC0DEM0NK3Y commented on #1155
Yes we went over this, an example was done in the reference and it was discussed, we voted on it as a community and decided against introducing it. Mainly for simplicity sake and that it can be (and is) solvable in other ways.

[2019-05-23 23:10] wighawag commented on #1930
By the way, we have this proposal (https://eips.ethereum.org/EIPS/eip-1702) currently considered to add versioning to smart contract so we could remove obsolete opcodes when need arise

[2019-05-23 23:47] axic commented on #1840
Wouldn't use a license which has specific clauses about patents work here? e.g. using Apache-2.0 or MPL-2.0 instead of CC0.

[2019-05-23 23:52] axic commented on #1708
Closing this as discussion for EIP-999 should be made to the URL listed in the EIP – the one @bmann linked here.

[2019-05-23 23:52] #1708 closed

[2019-05-24 00:00] axic commented on #1317
The validator is [here](https://github.com/makoto/eip_validator) and needs to be improved.

1167 is now Final however – closing this issue.

[2019-05-24 00:00] #1317 closed

[2019-05-24 02:22] bmann commented on #1840
We can theorize, but we’ll need to get actual legal advice if we want to solve this.

[2019-05-24 20:46] cag commented on #1155
To clarify support for existing contract wallets and actors, I'd like to request an edit to:

AFAICT scenarios 3 and 5 are indistinguishable by a contract, so instead, they should be merged into a single scenario "The receiver reverts during a reception call, possibly because it doesn't implement the necessary ERC1155TokenReceiver interface function(s)." Which means the only time a transfer may _n

[2019-05-25 02:53] AC0DEM0NK3Y commented on #1155
Scenario 3 is distinguishable by the call the "isERC1155TokenReceiver()" succeeding, which you would need to call if you are in a hybrid situation.
If not in a hybrid situation, it doesn't matter whether the failure is because of lack of functions or not you have to revert, as mentioned in scenario 3 and 5.

So, to cover your non-safe version there is now a scenario#9:

`**_Scenario#9 :_** You are

[2019-05-26 01:16] MadeofTin commented on #2061
Just a thought that this would be a great post for FEM. https://ethereum-magicians.org
You are likely to get more feedback there.

[2019-05-27 12:23] frozeman commented on #725
I changed to `bytes32 -> bytes` in the [implementation](https://github.com/ERC725Alliance/erc725/blob/master/contracts/contracts/Identity.sol) and [interface](https://github.com/ERC725Alliance/erc725/blob/master/contracts/contracts/ERC725.sol)

[2019-05-27 13:55] frozeman commented on #725
One problem we noticed is that 725 needs to be able to receive ANY current and future item, so implementing the `ERC777TokensRecipient` seems to be important. But to be able to receive anything, also in the future we should define a `Received(address operator,
        address from,
        address to,
        uint256 amount,
        bytes calldata data,
        bytes calldata operatorData)` functi

[2019-05-27 21:14] AC0DEM0NK3Y commented on #1155
If you have any more feedback now would be the time to do it, last call before we go into last call :)

[2019-05-28 04:11] scherrey commented on #1155
We are working through the design of our first ERC-1155 token presently.
How long til last call? As a side note, we'll be implementing it in Vyper
rather than Solidity.

  - - Ben Scherrey

On Tue, May 28, 2019, 4:14 AM Andrew Cooke <notifications@github.com> wrote:

[2019-05-28 04:44] AC0DEM0NK3Y commented on #1155
We were considering tomorrow afternoon PST with a two week (as standard) last call period.

The actual API hasn't really changed other than one minor addition for quite some time now, just the surrounding rules & scenarios text. I know our (enjin's) impl of 1155 for our v1.1 has been settled for months practically.

[2019-05-28 04:50] scherrey commented on #1155
I would be surprised if we had any major suggestions. Regardless of the
state - we'll definitely report our findings and publish source code.

  - - Ben Scherrey

On Tue, May 28, 2019, 11:44 AM Andrew Cooke <notifications@github.com>
wrote:

[2019-05-28 04:53] AC0DEM0NK3Y commented on #1155
Sounds good. Do you have an idea of timeline? It might be useful to wait for you if it's only a short amount of time.

[2019-05-28 05:23] cbruguera commented on #725
+1 to turning ERC725s into "universal" receivers. Just wondering why not allow the Receiver to be a non-contract address as well (perhaps I just want any received tokens redirected to a personal wallet address, thus no function call needed).

Also, just thinking on whether an identity owner would want to specify different "Receivers" depending on the type of asset. In that case, perhaps a _mapping

[2019-05-28 15:11] axic commented on #48
Anyone looking at this issue after 2016: the proposal described here does not reflect the current state and specification of Ewasm. Please refer to https://github.com/ewasm instead for up to date information.

[2019-05-28 15:31] KgWalterAllenBolesPhdLLC commented on #725
IF THEY ARE MY TOKENS I DONT WANT THEM GOING TO YOUR PERSONAL THAT WOULD BE THEIFT IN WITCH YOU GO TO PRISON

[2019-05-28 15:36] KgWalterAllenBolesPhdLLC commented on #725
AND IM DONE WITH ALL OF THIS I WANT EVERY ONE OF MY ACCOUNTS TURNED INTO TWO ACCOUNTS THAT ALL MINING CONTRACTS GO TO THEN I WILL AUTHORISE THE TRANSFER TO THE PAY ACCOUNTS AT WITCH POINT THE PAYROLL CAN DISPERCE IT AND THERE IS NOT TO HAVE ANY PAYMENTS ON MY ACCOUNTS THAT I DO NOT AUTHORISE

[2019-05-28 15:41] KgWalterAllenBolesPhdLLC commented on #725
THAT IS THE NICE THIS ABOUT BEING THE OWNER I DONT ASK I TELL AND IT BETTER GET DONE NOW THERE ARE TO BE NO MONEY OF ANY KIND REMOVED FROM MY ACCOUNTS WITH OUT MY SIGNING IT

[2019-05-28 15:42] KgWalterAllenBolesPhdLLC commented on #725
AND THAT GOES FOR NODE.JS AND EVERY ACCOUNT THAT IS MINE WITCH IS JUST ABOUT ALL OF THEM

[2019-05-28 15:45] KgWalterAllenBolesPhdLLC commented on #725
I WANT TO KNOW THAT THE RIGHT AMOUNT IS GOING TO THE RIGHT PEOPLE IT IS MY MONEY AND I WILL CONTROL IT
FOR FOUR YEARS NOW YOU ALL HAVE HAD CONTROL OF WHAT I OWNER THAT ENDS TODAY

[2019-05-28 19:09] KgWalterAllenBolesPhdLLC commented on #725
I AGREE WITH YOU ON THE REJECT OR APPROVE TOGET IT APPROVED I WANT TO KNOW WHERE IT IS GOING NOT JUST A TOTAL 25 TO BILL 157.50 TO BOB AND WHAT THEY DID TO EARN THE MONEY BOB IS A MINER THAT DID 4500 DOLLARS WORTH OF TRANSACTION @ .OO35 AND I DID IT IN MY HEAD SO IT MIGHT NOT BE RIGHT

[2019-05-28 19:13] KgWalterAllenBolesPhdLLC commented on #725
AND I WANT A LIST OF ALL CONTRACTS AND WHERE THEY ARE KEPT OF ANY SIZE ON ALL ACCOUNTS WEATHER YOU THINK I KNOW ABOUT THEM OR NOT BECAUSE I DO

[2019-05-28 19:32] KgWalterAllenBolesPhdLLC commented on #725
AND WILL BE ADDED TO ALL FUTURE CONTRACTS

[2019-05-28 19:44] KgWalterAllenBolesPhdLLC commented on #725
PLEASE MAKE MY PHONE NUMBER ACCESSIBILE TO MY TEAM AND ON ALL CONTRACT SO ANYONE THAT I NEED TO HEAR FROM I DO

[2019-05-28 19:49] KgWalterAllenBolesPhdLLC commented on #725
I THE KING EVERYONE SHOULD NO WHO THERE TALKING TO THE ORIGINAL MASTER Kg. WALTER ALLEN BOLES PHD ENG INC

[2019-05-28 19:53] mcdee commented on #725
https://help.github.com/en/articles/reporting-abuse-or-spam#reporting-a-user

[2019-05-29 12:53] frozeman commented on #1843
In light of #777 you should think about how you can support that standard, as it will play a more significant role in the near future.

[2019-05-29 19:01] jo-es commented on #1843
We have that on our roadmap. Through the ClaimsToken extension architecture it's straightforward to support ERC777 and future token standards.

[2019-05-30 02:39] coinfork commented on #1155
The ERC-1155 standard is now in Last Call. When the review period ends this would make it almost 1 year since the standard was first posted!

[2019-05-30 06:35] scherrey commented on #1155
Well as it turns out I spoke too soon. :-) There is a major issue regarding
the ability to interoperate between Solidity and Vyper implementations of
an ERC-1155 token - Vyper does not allow for unbounded dynamically sized
arrays. The function safeBatchTransferFrom (
https://github.com/enjin/erc-1155/blob/master/contracts/ERC1155.sol#L102 )
takes two of these dynamic arrays as parameters. We're go

[2019-05-30 13:02] PhABC commented on #1155
We definitely need more than 7 items per batch. In our case, we estimate that transfer of 30 and 70 different assets will be common (we are building a card game). Will follow closely the discussion on this topic as I also believe it is important to keep both languages compatible. ERC-1155 is not the only implementation or standard that supports dynamic arrays.

[2019-05-30 13:23] PhABC commented on #1155
According to Bryant (see https://twitter.com/fubuloubu/status/1134084488592539648?s=19), a Solidity contract can pass a dynamic array to a Vyper contract, but the Vyper contract will revert if the array size upper bound is hit. Hence a simple "fix" would be to specify an upper bound that is very hard to reach for Vyper implementations and all should be fine.

[2019-05-30 13:25] wighawag commented on #1155
I concur with @PhABC we definitely need more than 7.

I feel that the issue is on the vyper camp. Dynamic size array is part of the ABI standard.
Is Vyper not planning to be ABI compatible ?

Is there no way for the vyper language to express low-level exception ?

[2019-05-30 15:55] cag commented on #1155
I don't mean to sideline the discussion thread here, but regarding `isERC1155TokenReceiver`... couldn't that be covered by ERC165? I know the gas limit is different, but ERC165 is already being used here, so why not reuse it? Seems like the gas limit is just there to distinguish between compliance and non-compliance, but any reasonable implementation would implement that in an efficient and obviou

[2019-05-30 16:29] wighawag commented on #1155
The conclusion was that ERC-165 is more complex and more costly (3 call required) for no extra benefit.
Furthermore as per the spec, it force the caller to reserve 30,000 gas for each of these call. which has resulted in buggy implementation of ERC-165 checkers. (see https://github.com/ethereum/EIPs/pull/881#issuecomment-491677748)

[2019-05-30 16:46] cag commented on #1155
As I understood it, it is the same number of calls. ERC165 only specifies a way for compliant contracts to tell another contract "do I support this interface?" Instead of the ERC1155 contract checking

[code]

it checks

[code]

Further along in that thread, there are community members questioning the validity of that comment's reasoning. There is no consensus that OpenZeppelin's implementation of

[2019-05-30 16:49] wighawag commented on #1155
There are test cases proving that it is indeed buggy

[2019-05-30 16:50] wighawag commented on #1155
Could you describe a bit more the idea?

[2019-05-30 16:57] wighawag commented on #1155
It require 3 call to ensure it is not a contract that simply return true in its fallback function. 2 might work I guess but that is how erc165 is supposed to be used, as can be seen in openzepellin implementation.

[2019-05-30 17:01] scherrey commented on #1155
I'm not attached to any particular number and your example surely shows we need more than I anticipated. It does seem, however, that any viable solution demands an upper limit boundary. What should that be and is there any downside to making it a really large number?

[2019-05-30 17:22] cag commented on #1155
_It's the same number of calls_. I don't know how you're counting calls.

I've responded in the original issue thread: https://github.com/ethereum/EIPs/pull/881#issuecomment-497409873

---

@scherrey I think we could use 256... :speak_no_evil:

[2019-05-30 17:42] AC0DEM0NK3Y commented on #1155
I don't think there needs any change here. The upper bound you would put is on the implementation side for a vyper variant, so you should pick the upper bound that makes sense for your impl no?

Then if you are doing interop contract to contract calls then either you know which contract you are calling (beause youve explicitly setup the interop) or the setup for the transaction would know what to

[2019-05-31 14:16] cag commented on #1155
Here is a sample implementation of a hybrid 1155/1820 single transfer acceptance check, annotated with the standard text:

[code]

Basically, once you get to step 3, check if there is an implementer for the interface and call that instead of the recipient contract.

I do want to point out that the receiver would get called on a different address. Also, for a contract which doesn't implement `isERC

[2019-05-31 15:27] wighawag commented on #1155
As long as the code posted is not part of the `safeTransferFrom` or `safeBatchTransferFrom` methods then it looks fine.

If the receiver does not implement `isERC1155TokenReceiver` it is technically not an ERC1155TokenReceiver. It is true that the current standard does not force the ERC1155 implementation to call `isERC1155TokenReceiver` in the safeTransfer case, since it would throw if onERC1155R

[2019-05-31 16:00] #1892 closed

[2019-05-31 16:34] cag commented on #1155
It is part of the `safeTransferFrom` call for a hypothetical hybrid 1155/1820 implementation. `impl` may or may not implement `isERC1155TokenReceiver`, but neither do contract receivers with respect to Enjin's reference implementation.

Precisely. Enjin's reference implementation does not check `isERC1155TokenReceiver`.

The standard also states that the `onERC1155Received` function MUST be called

[2019-05-31 19:45] AC0DEM0NK3Y commented on #1155
Answering all of your (quoted) points, separated by:

----

No, receivers MUST implement all the functions in the that is clear in the standard :

[code]

and Enjin's reference impl does have them....

Here: https://github.com/AC0DEM0NK3Y/erc-1155/blob/master/contracts/ProxyReceiver/Delegates/ERC1155ReceiverDelegate.sol#L46
And here: https://github.com/AC0DEM0NK3Y/erc-1155/blob/master/contracts/ER

[2019-05-31 20:49] aquabu commented on #1597
@sirhill This looks similar to #1404 #902 and #1066 which have some momentum.

[2019-05-31 21:47] cag commented on #1155
My point was not that the reference receiver implementation lacked `isERC1155TokenReceiver`, but that the reference multi-token implementation will accept receiver implementations lacking that function _because_ it doesn't call that function. I'm not advocating requiring that call or wasting gas.

---

@wighawag A warning about a segment of code I posted earlier used to illustrate a hybrid scenari

[2019-05-31 23:44] AC0DEM0NK3Y commented on #1155
I can put a comment in the reference impl that says something along the lines of:

`// If this was a hybrid solution you would have to call  `isERC1155TokenReceiver` here but as this is a pure implementation of a single ERC1155 token set as recommended by the standard this is not needed'

----

OK, I can add that part in.

----

An idea I think to help push things along given the short review peri

[2019-06-01 00:24] Arachnid commented on #1155
This seems like really thin reasoning for inventing another way to check interface implementation.

I don't agree that there are practical issues with ERC165, and I don't see how inventing a new method would be an improvement. If you really wanted, you could define a signature that's 165-compatible but specify the requirements yourself.

[2019-06-01 02:48] olegabr commented on #223
https://ropsten.etherscan.io/tx/0x6e99ff5b628fc3fceaa959499d8488a761558feee73ba1fe7c067c1ece6440de

`Sorry, We are unable to locate this transaction Hash.`

https://ropsten.etherscan.io/tx/0xf41529fb61de85a3e1ea45682f285ce7e23ea0c9f5283c392a4ca445eb14c92b

` Warning! Error encountered during contract execution [Bad instruction] `

According to this: https://ropsten.etherscan.io/address/0x3af20d9e4

[2019-06-01 05:49] wighawag commented on #1155
I ll get back to other reply at a later time if necessary, no much time right now. But regarding ERC-165:

This was not the only reason to be rejected. Please look up the past conversations. I added that one reason since it was asked again why we we do not use 165 and it became clear that 165 will either have to be updated or that existing checker implementation stay invalid in respect to the stan

[2019-06-01 13:43] cag commented on #1155
Working on it: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1728#issuecomment-497944441

However, the 1155/1820 idea is currently coded directly into a contract and not specifically "enshrined" in some sense: https://github.com/gnosis/hg-contracts/blob/master/contracts/PredictionMarketSystem.sol#L235 I wanted to get some confirmation that it is a valid interpretation of "hybrid".

[2019-06-01 23:41] wighawag commented on #1155
Hi @cag, thank you for participating in the discussion. We indeed need to make sure the standard is as clear as possible and not vulnerable to subtle edge case.

I don't think you understood the issue related to ERC165 though. Did you take a look at the test cases linked over there?

As for your questions:

As mentioned on my ERC165 bug report, there is nothing wrong with EIP-165 standard itself (

[2019-06-02 16:14] cag commented on #1155
Thanks for clarifying. Actually, this makes a lot more sense to me now. For
situations where execution can branch on a call's failure, it becomes
imperative to know whether that check was actually due to a failure of
implementation, or if it could have been due to not enough gas being sent
to the call. Because of this, receivers that branch on the introspection
call likely have the subtle bug that

[2019-06-02 19:36] PaulRBerg commented on #1620
Happy to announce that now there's a dApp built on top of ERC-1620! It's called @SablierApp and you can check it out at https://sablier.app

You can read more about it in this [Twitter thread](https://twitter.com/PaulRBerg/status/1134773451888238592).

[2019-06-02 23:08] axic commented on #174
@mattdf #663 was merged as a draft quite a while ago and it proposes the same ([my earlier comment here when I've realised the duplicate work](https://github.com/ethereum/EIPs/issues/174#issuecomment-318832811))

There's a discussion URL for 663 here: https://ethereum-magicians.org/t/progpow-audit-delay-issue/3309/28

Added references to this issue in the merged EIP. What do you think about closin

[2019-06-03 08:43] daira commented on #152
While support for the F function does technically allow personalization, output length restriction, etc., I worry about the usability and security assurance consequences of this approach. Contract implementors will have to implement a significant part of the BLAKE2b spec themselves (with potential gotchas including byte order of counters, correctly handling the finalization flag, etc.), on a VM th

[2019-06-03 10:45] iqbalsingh108 commented on #1411
It is very good EIP. I vote for it.

[2019-06-03 14:13] zookozcash commented on #152
I agree with you that there is a lot of risk in implementing those parts, and that we should provide a full implementation to coders so that they are not implementing any of that. However, why not have that implementation be written in solidity, using the precompiled compression functions for efficiency, instead of being built into the EVM?

[2019-06-03 14:39] MicahZoltu commented on #152
Any function that is called with sufficient frequency on Ethereum (across all users) benefits from being a built-in function.  The more generalized the function (e.g., industry standard hashing functions), the more likely it is to meet that threshold and be worth implementing natively.

That being said, if possible it is generally better to start with solidity and then if the function is used freq

[2019-06-03 18:17] frozeman commented on #725
@cbruguera the idea of the receiver is not to redirect ether, but to allow the contract to act on incoming tokens or future NFTs.

The receiver function should probably be its own standard.

As it will
Be a huge problem If every token or NFT standard, will require its own “tokensReceived” function.

[2019-06-03 19:47] zmitton commented on #1662
@maxsam4 over on Ethereum Classic we don't yet have a size limit and are debating adding EIP-170. This is a viable alternative, I have a question. Why do we need to cache the size data into the account tuple. Can't we do it without changing the account format? Cant we just have the EVM load a contract's bytecode and _then_ determine the gas cost and charge it at that point?

[2019-06-03 20:49] Arachnid commented on #1155
What? A boolean is exactly what you need to answer the question "is this interface implemented".

[2019-06-03 20:51] Arachnid commented on #1155
situations where execution can branch on a call's failure, it becomes
imperative to know whether that check was actually due to a failure of
implementation, or if it could have been due to not enough gas being sent
to the call.

I'm not following this. A return of `false` ('interface not implemented') is distinct in the EVM from the call failing, which results in the CALL opcode returning 0. You c

[2019-06-03 22:43] cag commented on #1155
Yes, and normally, you would, except here in the standard, there is an option in the "hybrid" scenario if the introspection call reverts to continue with "hybrid" rules. See:

If the introspection function staticcall fails because it exhausts all the gas forwarded to it (as I understand which could be up to 63/64 of the total gas supplied to the call containing the introspection function but no mo

[2019-06-04 00:12] carterpy commented on #152
I really suspect that when project alchemy started and tjade was working his magic, golang.org/x/crypto/blake2b and s didn't exist. I figure rather than implement new blake protocols in GO, we just use the functions that the golang folks made and if we want to make more efficient implementations, we can help everybody by contributing to their package. They've responded to change requests from ethe

[2019-06-04 05:19] jessedionoppchain commented on #965
Hi everyone, just to confirm, are we agree that all this solution require than a third part actually "create" the transaction?

I mean as an end user with only tokens on my account can I, with the signature mecanism, make a transaction published by a smart contract (which hold some ether to pay the gas), without an action from a particular owner?

[2019-06-04 12:21] wighawag commented on #1155
@Arachnid

because there is a risk of false positive if a fallback function return a truthful value. That is why the ERC165Query implementation proposed as an example as part of ERC165 do the check with 3 calls.

This is also why the ERC165 standard mention the following  in the paragraph entitled : "How to Detect if a Contract Implements any Given Interface"

With `isERC1155TokenReceiver` the lik

[2019-06-04 13:37] mhluongo commented on #152
That's been our approach as well, though AFAIK that will only help for wrapping the hash functions.

@daira @zookozcash it'd be helpful to know whether you have other use cases in mind, or whether just shipping blake2b/s without direcy access to the compression function would suffice.

[2019-06-04 13:52] cag commented on #1155
I've already run into an implementation detail in which the "exact bytes4" (actually the function selector for isERC1155TokenReceiver), gets encountered because a fallback function decides to do nothing and leaves the memory in place. Yes, it's true that this is due to a erroneous implementation of the checker, but the implementation was not _obviously_ wrong. This "feature" doesn't actually prote

[2019-06-04 14:11] wighawag commented on #1155
It is not about protecting the developer, it is about being able to ensure the contract is indeed implementing what we want.

The problem you mention is because solidity is optimizing memory usage by using the input location as output. I agree that it could make unaware developers fall for the trap, but that is avoidable.
the fallback returning a truthfull value is independent of the developer, he

[2019-06-04 14:16] wighawag commented on #1155
That's true. I might be over thinking but  a value of 63 zeros followed by one is a special value that might be used in other context for the fallback function.

After all, why ERC-165 mentioned the use of 3 calls if it was not a potential issue ?

[2019-06-04 14:18] cag commented on #1155
I see what is meant by three calls now. It's because the standard text for ERC-165 recommends checking with three calls: two to verify if it is an ERC-165 compatible, and one to verify it implements a specific interface. I guess the reason why they recommend three calls is because there potentially could be a fallback function which returns true. This is "psychologically" more probable...

In that

[2019-06-04 14:36] cag commented on #1155
It serves the same purpose as ERC-165, except it's specific to this standard. I feel it's more of a philosophical objection at the moment. Practically speaking, a proper check may be cheaper using `isERC1155TokenReceiver` than making three calls via ERC-165, but if that's the case, where do the exceptions to reusing well-established standards end?

I did have an aesthetic preference for reusing ER

[2019-06-04 15:51] paulbarclay commented on #1155
I think we’re still in the infancy of EIP standards, so we shouldn’t use
flawed and inefficient ERC165 just because it’s (fairly) widely used. Using
isERC1155TokenReceiver is a better choice here; though we maybe better
using a function that could become a new potential standard that improves
on ERC165 by accepting a bytes4 and returning the same bytes4 (some small
risk of a fallback that just rep

[2019-06-04 17:17] PhABC commented on #1155
I personally don't care too much about ERC-165 vs `isERC1155TokenReceiver()`, but here's a proposal that I think somewhat meets in-between:

A receiver contract that supports `IERC1155TokenReceiver` interface needs to implement

[code]
This is a general solution (as per @cag's concern) not specific to ERC-1155, it solves the inefficiency problems raised by @wighawag and it has a lower gas ceiling

[2019-06-04 17:48] cag commented on #1155
Yeah... Let's table this discussion and let some future EIP figure it out. I retract my concern about this particular issue.

[2019-06-04 17:59] carterpy commented on #152
I think the ultimate end-state objective is to have something like [BTC-relay](http://btcrelay.org/) but for zcash so folks can pay for dApp services with Zcash.

BTC relay is a smart contract that awards ETH to people who submit bitcoin blocks to it and it offers functions to verify BTC txs. We'd ultimately want to be able to make a similar smart contract to verify txns in Zcash. By getting blake

[2019-06-04 18:06] AC0DEM0NK3Y commented on #1155
I just updated the text at [eip-1155.md](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1155.md ). This includes:

- The small details updates @cag requested to clarify where `isERC1155TokenReceiver` can be called in the custom transfer api example.
- A section on minting and burning ops.
- A recommendation for wallets etc. to sort their batch transfers requests with ascending token IDs as

[2019-06-04 18:29] zookozcash commented on #152
It would suffice for BTCRelay-style Zcash integration. I don't know if it
would suffice for the other goals that Virgil mentioned: IPFS/Filecoin
integration and Handshake integration.

There are other uses (current and potential-future uses) of BLAKE2 for
which it would not suffice, as I mentioned:

1. the BLAKE2?p variants: parallel hashing for greater throughput — already
in use in some projects

[2019-06-04 22:04] carterpy commented on #152
for reference: [tjade's F precompile only implementation](https://github.com/tjade273/go-ethereum/blob/3ef0bc7ec5a8c4667baab601666b72c083ddc0b3/crypto/blake2b/blake2.go#L283-L292)

[2019-06-05 02:20] Arachnid commented on #1155
Can you point to a single instance of a contract currently deployed that returns data from a fallback function, and isn't proxying some other contract?

This still seems gratuitously incompatible. If the exact requirements of 165 don't suit, specify a subset of 165 that's acceptable. There's no reason to invent a new method signature that's incompatible, much less as part of another standard.

[2019-06-05 03:12] cbruguera commented on #725
@frozeman Ok I understand now. In that case, given that we need the Receiver functionality to be able to change storage state, would it make sense to have that Receiver be one of the "keys" behind an ERC734 key manager, for instance? I'm afraid the proxy itself could start getting complicated if additional permissioning needs to be added in order to allow an external contract `setData` besides the

[2019-06-05 08:39] wighawag commented on #1155
@PhABC

I am fine to use that over isERC1155TokenReceiver since it allow for a future standard.

@Arachnid

No I can't currently and it is probable that there is no such contract or that it won't ever happen. In that case simply calling `supportsInterface` once will indeed be sufficient.

Unfortunately, ERC165 clearly state that is a possibility, so unless ERC165 is updated, I don't think it is wi

[2019-06-05 10:45] mhluongo commented on #152
That's why I asked for "other uses"- I presume the bridge is the top priority.

We're in "perfect is the enemy of good" territory. The path to one-shot hash precompiles is very straightforward, the path to an updateable precompile less so, and the idea of a Solidity implementation around an F precompile is rough- the implementation is simple but it's a footgun.

If we can clearly delineate what's

[2019-06-05 11:53] d10r opened #2100 "Proposal for Streaming Token Standard"
[code]

## Simple Summary

A standard interface for Streaming Tokens.

## Abstract

The following standard extends the [ERC20 Token Standard](https://eips.ethereum.org/EIPS/eip-20).
It adds an interface which allows tokens to be streamed between accounts.

## Motivation

Atomic value transfers are not the ideal tool for economic transactions which are long lived.
Ethereum allows us to implement ch

[2019-06-05 17:35] d10r commented on #2100
Details I'm not yet so sure about:

a) `canOpenStream` should make it easy for applications to check if a stream with the given participants and parameters can be opened. If not, it shouldn't be too difficult for the application to figure out why, thus the enum return type. On the other hand, returning a bool would feel more natural here.
And one could even argue that the method is superfluous, be

[2019-06-05 17:40] d10r commented on #948
Follow up to my previous comment: [Proposal for Streaming Token Standard](https://github.com/ethereum/EIPs/issues/2100) with example implementations linked in _Implementations_ section.

[2019-06-05 17:44] zookozcash commented on #152
For what it is worth, I disagree. I think implementing the Compression
Function F precompile in EVM is the simplest, easiest, and safest thing to
do before the Istanbul deadline, and that there is minimal potential
downside to doing so.

Note that a lot of details, including the API and gas costs for this
approach have already been worked out up-thread, e.g.
https://github.com/ethereum/EIPs/issues

[2019-06-05 18:06] zookozcash commented on #152
Oh geez, I see that if I reply to emails then GitHub removes all my whitespace formatting, making my posts hard to read. I apologise. I'll see if I can fix it...

[2019-06-05 20:11] zookozcash commented on #152
[This is a comment that I originally made up here: https://github.com/ethereum/EIPs/issues/152#issuecomment-498789096 but since I made it through email, github destroyed the formatting, rendering unreadable. It turns out that it isn't possible to fix the formatting in that comment since github remembers that it is tainted by email and will not allow formatting. Therefore I'm reposting it here. Les

[2019-06-05 20:22] zookozcash commented on #152
We're in "perfect is the enemy of good" territory. The path to one-shot hash precompiles is very straightforward, the path to an updateable precompile less so, and the idea of a Solidity implementation around an F precompile is rough- the implementation is simple but it's a footgun.

For what it is worth, I disagree. I think implementing the Compression Function F precompile in EVM is the simplest

[2019-06-05 21:59] Arachnid commented on #1155
Then, like I said, specify that you use an interface that is compatible with ERC165, without claiming to be ERC165 compatible. There's no reason to make things gratuitously incompatible here.

[2019-06-05 22:07] PhABC commented on #1155
Are you suggesting to use

[code]

Instead of

[code]

?

[2019-06-05 22:53] Arachnid commented on #1155
I'm suggesting using the exact ABI used in 165.

[2019-06-05 23:52] MadeofTin commented on #152
What is the difference between a bridge and a gateway in this context?

[2019-06-06 00:02] zookozcash commented on #152
I didn't intend to indicate two different things—I just accidentally used two different words. I just went back and edited my comment to use the word "relay" consistently instead, since the envisioned use is a smart contract that can inspect and verify Zcash transactions in the style of `BTCRelay`.

[2019-06-06 00:05] MadeofTin commented on #152
I also want to note an audited solidity version is also doable outside of the fork schedule entirely. The code that would need to make it into Istanbul is either:
 * The compression function F
 * A provided BLAKE2 API

Everything else can be handled after the fork if we needed. In fact a separate ERC for the audited solidity version is an option.

[2019-06-06 00:13] AC0DEM0NK3Y commented on #1155
I understand where you are coming from here as creating a new variant/extension on ERC165 could be a messy proposition for future contracts. However "gratuitously" suggests without reason and it seems like @wighawag has given you multiple reasons why ERC-165 isn't as foolproof as we once thought after his investigation. Those being:

- Subtle dangers around gas depletion in the call (false negativ

[2019-06-06 01:52] mhluongo commented on #152
Got it, thanks @zookozcash. I was hoping to lean on the fact that there are robust blake2 implementations in most langs these days and treat this more like other hash precompiles, but if we aren't 100% sure of the API needed for the task at hand and need to be able to extend to new constructs in the future, that idea is DOA 😃

Unfortunately most libraries I've reviewed don't expose the guts necess

[2019-06-06 02:25] Arachnid commented on #1155
The proposed solution is no more immune to this than any other.

We just established that this isn't an actual problem.

Then specify that contracts implementing #1155 must implement this method with less gas.

I meant it when I said "gratuitous". Stop inventing new standards because of microscopic differences between how you'd *like* the standard to work and the way it actually works. There is ab

[2019-06-06 02:45] AC0DEM0NK3Y commented on #1155
That's a shame @Arachnid , it would be really helpful if you could assist with this particular question:

Because I think it's the only real thing preventing the use of ERC165. As an ERC165 co-author you likely have a greater understanding of "the way it actually works" vs how others would "_like_ the standard to work".

I can only guess that means an impl would have to do the three calls instead

[2019-06-06 03:38] bitcoinbrisbane commented on #735
Seems to have a missing `function` before `changeClaim` method on the Solidity Interface example code.

[2019-06-06 03:53] Arachnid commented on #1155
@AC0DEM0NK3Y I don't understand why you need to do *anything* "about the bool". Just check if the return code is 1; if it is, the contract implements ERC165 and the specified interface. We've already established that the probability that a contract implements a fallback function that returns 1 on calls it doesn't understand is vanishingly low.

[2019-06-06 04:58] AC0DEM0NK3Y commented on #1155
Thanks for staying in the conversation, it's appreciated.

So to clarify (as I'm not an expert on ERC165's use in the wild), if an ERC1155 implementation does just this part of the ERC165 text:

[code]

and receives a return value of 0x1/true from that `supportsInterface(interfaceID)` call, this is enough to satisfy ERC165 compatibility and the existence of the interface with 100% _practical_ conf

[2019-06-06 05:44] Arachnid commented on #1155
That's correct.

If it throws, you can't be *100%* certain it doesn't implement the interface, but I would say that this is rarely if ever a practical consideration.

[2019-06-06 07:07] maxsam4 commented on #1662
That introduces another attack vector where the attacker forces the EVM to load a huge contract even when there is not enough gas remaining to load it. If the size is not cached, EVM will be forced to fetch the large contract only to realize that there isn't enough gas left to load that contract in the first place.

[2019-06-06 09:33] wighawag commented on #1155
Thanks @Arachnid for your contribution,

If everybody consider more important to reuse existing standard that correctness, then I am fine with going with ERC165 `supportsInterface(bytes4) returns (bool)` (with a 5,000 or 10,000 gas limit)

[2019-06-06 09:33] wighawag commented on #1155
Currently the issue can manifest itself if the `supportsInterface` impl require more than arround 9,000-10,000 and the gas passed in is less than that as shows in the ERC165 issue test cases. So unless you check if enough gas is left or there is operations after the call that make the gas left insuficient for the call to complete, there is a risk of false negative **that would break the ERC1155 re

[2019-06-06 09:58] daniel-iobuilders opened #2103 "EIP-1996: Holdable token"
An extension to the ERC-20 standard token that allows tokens to be put on hold. This guarantees a future transfer and makes the held tokens unavailable for transfer in the mean time. Holds are similar to escrows in that are firm and lead to final settlement.

A hold specifies a payer, a payee, a maximum amount, a notary and an expiration time. When the hold is created, the specified token balance

[2019-06-06 10:42] daniel-iobuilders opened #2104 "EIP-2018: Clearable Token"
In banking and finance, clearing denotes all activities from the time a commitment is made for a transaction until it is settled.

The clearing process turns the promise of a transfer into the actual movement of money from one account to another. A clearing agent decides if the transfer can be executed or not. The amount which should be transferred is not deducted from the balance of the payer, bu

[2019-06-06 12:12] PhABC commented on #1155
I'm happy with using ERC-165 as is too, but if we wanted a lower limit I would personally vote for 10k instead of 5k, to protect against OPCODE repricing.

[2019-06-06 12:17] daniel-iobuilders opened #2105 "EIP-2019: Fundable Token"
An extension to the ERC-20 standard token that allows Token wallet owners to request a wallet to be funded, by calling the smart contract and attaching a fund instruction string.

Nowadays most of the token issuing/funding request, based on any fiat based payment method  need a previous centralized transaction, to be able to get the desired tokens issued on requester's wallet.
In the aim of trying

[2019-06-06 12:42] daniel-iobuilders opened #2106 "EIP-2021: Payoutable Token"
An extension to the ERC-20 standard token that allows Token wallet owners to request payout from their wallet, by calling the smart contract and attaching a payout instruction string.

Token wallet owners (or approved addresses) can order payout requests through blockchain. This is done by calling the orderPayoutFrom or orderPayoutFrom methods, which initiate the workflow for the token contract op

[2019-06-07 10:44] scherrey commented on #1155
Reviewing the example ERC-1155MixedFungible token code, can someone explain the use case intended for treating the id of an NFT differently than FTs by pushing its value up into the higher 128 bits? Presumably we're supposed to use the lower 128 bits for some "additional data" but, of course, it cannot be changed after creation time otherwise you've changed the id of the NFT, right?

[2019-06-07 11:19] AC0DEM0NK3Y commented on #1155
It's an ID mechanism example, it could be done other ways it's up to the impl.

In the ref impl case it means you can pass an ID (or observe off-chain) and if has a bit set at:
[code]
you can know it is an NFT type. You then use the bottom 128 for the index.
An FT has no indexes so you can just use that one type/category ID and that's it.

You can look at the ID's for these assets here: https://en

[2019-06-07 11:57] AC0DEM0NK3Y commented on #1155
I just updated the text at  [eip-1155.md](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1155.md). This includes:

- Removing the `isERC1155Receiver` function from the `ERC1155Receiver` interface.
- Adding text in for ERC-165 usage to determine availability of things such as the above `ERC1155Receiver` interface.
- Some clarification of rules for events if the `ERC1155Metadata_URI` interfac

[2019-06-07 13:44] zmitton commented on #1662
@maxsam4 I have a couple of arguments against that, if at least one of them is right, my amendment to your proposal should be fine.

  1) Isn't the bytecode stored in some kind of Array anyway? doesn't that array have some size data at the first element (as per how arrays are generally implemented). If not, can't the levelDB implementations be slightly amended to store that?
  2) There is still a

[2019-06-07 14:06] maxsam4 commented on #1662
@zmitton Thanks for your feedback! I am afraid that neither of those solutions will work. Here are some of my thoughts
1) It doesn't matter how the bytecode is actually stored. AFAIK, the EVM needs to generate proper proofs and hence the EVM needs access to either the size of the smart contract code or to the code itself. We can not standardize how the data must be stored under the hood (levelDB).

[2019-06-07 15:35] zmitton commented on #1662
But we don't need to force it. The consensus rule is that payment is dependent on bytecode length, and how that is implemented is up to the client. Caching the length data somewhere is simply an optimization, that can and (I would argue) _should_ be done by any production client software.

[2019-06-07 15:36] zmitton commented on #1662
The point is that _if_ there are reasonable ways to do it, then there isn't a problem implementing the rule.

[2019-06-07 15:37] zmitton commented on #1662
By the way, skimming through the link you posted, I don't think any of that stuff applies. It's mostly about Ethereum-specific design plans

[2019-06-08 05:43] fincrypchain001 commented on #1155
Owner its me ...

[2019-06-08 05:44] fincrypchain001 commented on #1155
This,randomly..save Ether
Parity Transaction Trace
Hash	0xb95343413e459a0f97461812111254163ae53467855c0d73e0f1e7c5b8442fa3
Trace
[
  {
    "action": {
      "from": "0x4f26ffbe5f04ed43630fdc30a87638d53d0b0876",
      "gas": "0x129f18",
      "init": "0x60606040526040805190810160405280600d81526020017f57726170706564204574686572000000000000000000000000000000000000008152506000908051906020019061004f929

[2019-06-08 15:10] realcodywburns commented on #225
To improve CFT on a network larger than three:

[code]

[2019-06-09 10:53] scherrey commented on #1155
What's the thinking in terms of making it possible for other contracts to trade ERC-1155 tokens (or, more accurately tokens existing within an 1155 contract)? My concern is that the contract address for my 1155 will not correspond to any individual token type or instance but rather the entire contract. Let's say one of the tokens inside my 1155 is intended to be a normal fungible ERC-20 style toke

[2019-06-10 00:57] fincrypchain001 commented on #1155
Amazon SCHEME  REPORT GOOGLE BUG

[2019-06-10 01:53] 1blockologist commented on #223
isn't this closed and superseded by the finalized ERC777 standard?

[2019-06-10 19:02] AC0DEM0NK3Y commented on #1155
- Deploy an erc20 contract that has the ID stored in it.
- Approve the contract as an operator in your 1155 contract (either user allows this via standard function or you do a custom function to give the contract carte blanche).
- When transfer function is called on the erc20 contract it just calls into the 1155 contract with the `_from` address as msg.sender from the erc20 call and the fixed ID s

[2019-06-11 01:17] bitcoinbrisbane commented on #1261
I disagree.  Creating clean intefaces that are domain specific is a better approach than using a sledge hammer to hit every nail.

[2019-06-11 03:02] cbruguera commented on #734
@frozeman I see there are multiple references to claim-related functionality in this spec. I thought all claim functionality was moved to be handled by ERC735... Is this proposal description outdated or is it indeed coupled with claim related functionality?

[2019-06-11 03:14] fulldecent commented on #1261
You are correct, everything should have a clean interface if it will interface with other things.

If an interface will be a standard (in scope for publishing an EIP) then it should have widespread use. I don't see that here yet.

Also, when designing things, additional complexity over existing solutions should be justified. If you want a way to type all the letters A-Y and numbers 0-9, just buy a

[2019-06-11 03:40] bitcoinbrisbane commented on #1261
Thats a bit of a strawman argument.  But to use your annalogy, we are discussing the interface, not the implmenation.   If I need a Euro sign on my keyboard, ill use a Europen interface.

[2019-06-11 05:12] maxsam4 commented on #1662
That's what the original proposal wants. However, you need to see the practical aspect as well. If the clients don't implement the optimization then it is ddos vector. Therefore, this proposal mandates the clients to implement this optimization. As with the gas mechanics, you set the price of any action to anything but the price is actually determined by practical costs. For some clients, the cost

[2019-06-11 14:41] csajedi commented on #1035
Is this EIP continuing? I am especially interested in details pertaining to the EVM change described above. It would simplify the creation of a retroactive metatransactions upgrade to all existing tokens and contracts. relevant to EIPs: 1776, 965, 985.

[2019-06-11 16:11] fulldecent commented on #1261
These analogies are not necessary nor are they providing enough fidelity versus the issue at hand.

A specific review of the identified requirements of ERC-1261 and how they can be met with existing interfaces and conventions [has been provided above](https://github.com/ethereum/EIPs/issues/1261#issuecomment-439588335). A concrete discussion of those points, and a rebuttal there, would be the best

[2019-06-12 08:42] tissor commented on #1789
I hope it will be interesting for you -
Orda Dimension - Dimension of Common Destiny for Humanity
https://medium.com/@cryppix/mission-possible-7fe2129214fa

[2019-06-12 12:08] MicahZoltu commented on #1035
@AlexeyAkhunov has been pushing recently for changing the transaction protocol so it can evolve over time.  It may be worth considering https://github.com/ethereum/EIPs/issues/1035#issuecomment-384228581 in that design.

[2019-06-12 13:20] adamdossa commented on #1410
Agreed - just updated to fix this - thanks for spotting.

[2019-06-12 13:22] adamdossa commented on #1410
Partition keys can be anything - for example, in our current implementation we are using LOCKED and UNLOCKED as the only partitions we support. One concern with this approach though that came up during implementation is what happens if transferred tokens end up in two (or more) partitions. We took the view that this returned partition key is an "indicative" value. A more precise thing to do might