[2018-07-06 14:24] quantumproducer commented on #1198
@jpitts

[code]

Something like this?

[2018-07-06 15:56] HarryR commented on #223
I should add some of my notes about the `approveAndCall` debate, as I think a lot of people have taken a myopic perspective on one of the problems and it was causing people to think that ERC-223 was 'on hold' - whereas the interface is stable and (as the comments have pointed out above) some of the edge-cases are being worked out.

The really interesting thing about ERC-223 is that the token trans

[2018-07-06 16:02] detroitpro commented on #1155
Has anyone started work on how an exchange and or/ an explorer would interact with the contract?

An explorer would likely import the data into a SQL database base and that is something we are looking into for the Akroma project.

[2018-07-06 16:42] mattlockyer commented on #1155
@detroitpro I've been thinking about this in relation to other token standards.

In the off-chain world, I don't see too many difficulties in mapping tokens to databases and / or mapping to a standard interface for DEXs to call functions. i.e. each new token implementation on-chain has a JS library that maps something like ERC-20 function calls to the new token's underlying function calls in order

[2018-07-08 05:32] markspereira commented on #1201
Awesome concept, awesome utility. Really great evolution of ERC721 and ERC809 concepts!

[2018-07-08 11:52] ekreda commented on #659
Hi @BlameByte @vbuterin any update on this EIP ? (mind that for private net - it's even more needed)

We are trying to deploy a ~8.1m of gas contract on a private blockchain, where we control the gaspricelimit of the genesis block & the miners, but even with a higher values we're hitting the ~ 6.6m limit!

[2018-07-08 17:39] xinbenlv opened #1202 "ERC-1202 Voting Standard"
The draft is actively work-in-progress, please see [the latest here](https://github.com/xinbenlv/eip-1202-draft/blob/master/EIP-1202.md).

Please leave comments in this Github issue below.

[2018-07-08 18:59] jlwaugh commented on #1155
∞ > Earth's population > 4,294,967,295

[2018-07-09 06:51] jeffishjeff opened #1203 "ERC-1203 Multi-Class Token Standard (ERC-20 Extension)"
[code]

## Simple Summary

A standard interface for multi-class tokens (MCTs).

## Abstract

The following standard allows for the implementation of a standard API for MCTs within smart contracts. This standard provides basic functionality to track, transfer, and convert MCTs.

## Motivation

This standard is heavily inspired by ERC-20 Token Standard and ERC-721 Non-Fungible Token Standard. Howeve

[2018-07-09 07:43] jacquesd commented on #777
Hi all sorry for not replying sooner. I went through some of the past comments from @MicahZoltu, @mcdee, @gitcnd, @mg6maciej, @tshabs, @jbaylina and here are my views on it:

## Burning

I wen through the standard again I realized this is indeed not clear at all. As of now, it is specified in the Burning Versus Sending section that:

Thus explicitly forbidding burning via sending.

I will rewrite

[2018-07-09 14:53] xinbenlv commented on #1203
So if I read it correctly, this is a competing proposal with #1178, right?

[2018-07-09 15:05] xinbenlv commented on #1198
I like the idea, maybe  create a standard to having a smart contract being readable with certain redirected storage?
Like

[code]

and uri could be IPFS uri too, so you have full backward compatibility to HTTP, while also supporting new decentralized storage

oh by the way you can add things like hash code to ensure the statistic conent being served has not been tampered

[2018-07-09 16:54] jeffishjeff commented on #1203
@xinbenlv that wasn't our original intent but, yes, looks like we're independently trying to address the same issue.

We only became aware of ERC-1178 when doing a final sync before creating the new pull request today. And after studying ERC-1178 in detail, we felt that our proposal still contains enough merits and differences (as described in the Rationale section) that warranted community consid

[2018-07-09 16:58] xinbenlv commented on #1203
Well, coming from a "traditional" Internet background, I can see how important it's for a latter protocol/standard to be backward compatible to a widely accepted existing standard(ERC-20 in this case), so I think that's a very strong advantage of ERC-1203

[2018-07-09 17:08] AC0DEM0NK3Y commented on #1155
Hi @detroitpro. Yes we have a backend that interacts with such contracts among other things.

As @mattlockyer states it is certainly doable with current toolset for event subscriptions etc. and then however you would like to implement your DB solution on top of that.

I've not looked into this too much myself as yet but different standards within contracts to pass between, yes it would seem that h

[2018-07-10 10:18] AugustoL commented on #827
We have a proposal for changes to fix current issues in the token standard and also add more control over which functions can be executed from the token contract allowing the receiver contracts to have control ownership over it.

### Proposal Summary

The receiver contract where the callback function will be executed now needs to allow the execution of that callback itself, if the sender attempt t

[2018-07-10 12:08] wxygeek opened #1207 "ERC-1207 DAuth Access Delegation Standard"
[code]

DAuth Access Delegation Standard
===

## Simple Summary
DAuth is a standard interface for accessing authorization delegation between smart contracts and users.

## Abstract
The DAuth protocol defines a set of standard API allowing identity delegations between smart contracts without the user's private key.  Identity delegations include accessing and operating a user's data and assets conta

[2018-07-10 17:35] xinbenlv opened #1210 "Technical Issue: Travis Built Disallowing Cananical EIP repo"
Hi community and

I am trying to submit a PR(#1209 ) for EIP-1202(#1202), but the Travis [blocked](https://travis-ci.org/ethereum/EIPs/jobs/402321572) it for linking to such as  `https://eips.ethereum.org/EIPS/eip-1203`, which is the new "[Prefered Citation Format](https://github.com/ethereum/EIPs#preferred-citation-format)" required by EIP-1(updated). I think the Travis sanity check should be upd

[2018-07-10 17:55] #1210 closed

[2018-07-10 17:55] xinbenlv commented on #1210
Turns out it was due to a single EIP does not exist: https://eips.ethereum.org/EIPS/eip-1203

[2018-07-10 18:05] xinbenlv commented on #1207
I guess you don't have to change to title per PR. But it's fine.

Good idea. DAuth is a long waited standard~

[2018-07-10 19:20] ptrwtts commented on #900
I agree with @johnhforrest that staked tokens should always belong to the originator, even if they are staked to another user (stakeFor). This enables a couple of important use cases:

1) Delegated Voting - Users can stake to a more informed representative, who votes on their behalf, while maintaining ownership of their tokens.

2) Key Separation - Users can stake to a second address they control,

[2018-07-10 23:00] sindarknave opened #1211 "ERC-1211 Common Ownership Self-Assessed Tax (COST) Interface [Draft]"
---
eip: 1211
title: Common Ownership Self-Assessed Tax (COST) Interface
author: Brian Ng (ngwingkui@gmail.com)
discussions-to: ngwingkui@gmail.com
status: Draft
type: Standards Track (Core, Networking, Interface, ERC)
category: ERC
created: 2018-07-10
requires (*optional): ERC-20, ERC-721, EIP-1155
replaces (*optional):
---

## Simple Summary
A standard interface for the decentralized market owne

[2018-07-11 04:38] libscott commented on #1155
One question, how would this work with regards to scaling? Since it's a single contract with many different people calling it, presumably quite a lot, couldn't there be many transactions with conflicting nonce sent into the network?

[2018-07-11 18:21] PhABC commented on #1155
Packing balances does not changes the interface, all is handled within the functions.

This is not just for gas saving, but drastic UX improvement. If a user needs to make a transaction for every approval, it will both be a burden on the users and the rest of the network. Imo, we *need* to move towards a future that minimizes as much as possible on-chain transactions in order to reach mainstream a

[2018-07-11 23:41] AC0DEM0NK3Y commented on #1155
I could be wrong but I believe you're thinking about this in terms of the exchange, and possibly in "how do we make this work for erc721" terms whereas I am (always) trying to come at this from a user perspective, for the future. I do worry as a community we're jumping down a sunken cost fallacy direction when it comes to erc721.

If I have 15 categories of items for eg. I want to bundle into a tr

[2018-07-11 23:55] AC0DEM0NK3Y commented on #1155
Btw on the subject of "global operators" we already had this in our impl but didn't put into the standard:

[code]

given we have that (and are possibly putting in a true global in) and others also seem to want it, it's going into the standard too. Fixing up some things first before that goes into next draft.

[2018-07-12 01:19] mryellow commented on #1155
Have been bouncing and issue around in my head the past week to do with ERC721 `setApprovalForAll/isApprovedForAll` where I'd really like to either block removing approval, have some kind of stake escrow associated with it to motivate re-approval or simply code a certain address to always have approval.

Such a "permanent" approval would meet my use-case for a token which has controller/operators

[2018-07-12 10:48] techracers-blockchain opened #1214 "ERC-1214 (ERC extension)"
## Abstract
Token contract usually have a monolithic design that is not friendly to upgrades. The following proposal describes a more distributed token contract architecture that has a simple upgrade-ability protocol and allows to bring in new functions after being deployed. This contract architecture is highly sophisticated and uses delegate calls to give maximum upgrade-ability to the owners.

#

[2018-07-12 10:53] hadv commented on #1214
zos already did this, right?

[2018-07-12 10:59] techracers-blockchain commented on #1214
@hadv Not that I am aware of. Could you provide me with a link?

[2018-07-12 12:58] ekreda commented on #170
We are on a private network (geth based)!  if this value is hardcoded it's defiantly not suitable for private net and introducing a real drawback.

Is there a command line option or genesis file config to increase/override this limitation?

[2018-07-12 13:06] ekreda commented on #659
@BlameByte @vbuterin anyone.. :)

We are on a private network (geth based)! if this value is hardcoded it's defiantly not suitable for private net and introducing a real drawback.

Is there a command line option or genesis file config to increase/override the EIP #170 limitation?

[2018-07-12 13:39] PhABC commented on #1155
`createTrade(_askingIds[], uint128[] _askingValues, uint256[] _offeringIds, uint128[] _offeringValues, address _secondParty);`

Are you saying the trading / exchanging functionality will be directly in the token contract? I am personally strongly against this, but as far I am concerned, that's not part of the standard so that's ok.

It's not more centralized and less secure if the exchange is dece

[2018-07-12 14:52] SergioDemianLerner commented on #1121
This is an excellent idea, because it prevents using addresses of Ethereum in Ethereum Classic or RSK by mistake and vice-versa.

[2018-07-12 15:22] owocki commented on #948
Update from the working group: We are drafting the EIP at https://github.com/EthereumOpenSubscriptions/standard/issues/8 .  All are welcome to contribute.  Goal is to have this submitted by early August

[2018-07-12 17:20] AC0DEM0NK3Y commented on #1155
Yes that's what I said, although even with that it could be controlled with whitelisting. Whether any of us devs are strongly for or against these things I suppose does not matter in the long run, if the users prefer it (and money and time are a great motivators) then that's what will be adopted.

That's assuming the decentralized exchange isn't up-gradable but sure. See recent examples of this.
B

[2018-07-12 17:38] PhABC commented on #1155
Fair enough!

In what way?

Right, so third parties would need to keep track of all token IDs within a game to see if they are fungible or not. That's personally OK with me, but it seems like having an easier way to differentiate fungible vs non-fungible would make this better. A silly example would be to have odd ids (1,3,5, ...) be fungible and even ids being non-fungibles. So a DAPP can directl

[2018-07-12 18:32] AC0DEM0NK3Y commented on #1155
The most obvious one I would think immediately is for the 15 types mentioned it's likely a user or backend will have to interact with 15 separate contracts from a sea of ever expanding contracts probably offering various implementations of different standards.

Scenario:
**I want to trade my CryptoDog, which (after an interaction for each one to create a composible) owns a hat, a ball, a skateboar

[2018-07-12 19:03] PhABC commented on #1155
The idea was to have 2 contracts, one for NFTs and one for FTs, not 15 contracts.

Well, if am I a Dapp / exchange / wallet and want to present the objects differently if they are NFTs or FTs, then I need to know which ID is an NFT and which ID is an FT. Since I would have 100,000 users, I need to keep locally a mapping of which ID is NFT and which is not for efficiency reason (RPC calls are slowe

[2018-07-12 19:10] AC0DEM0NK3Y commented on #1155
You missed this part:

[2018-07-12 19:34] PhABC commented on #1155
I would be ok with that! Although using a bit makes the devs job a bit messier, since you would always need to append a `1` or `0` somewhere (e.g. the first/last bit).

Here are some options for distinguishing FTs from NFTs.
[ ] Using a bit
[ ] Odd / even
[ ] `FT < 2**128 <= NFT`

I personally don't like odd/even. Using a bit can be nice, but adds complexity to devs. Splitting IDs in two is easy,

[2018-07-12 21:13] JamesTherien commented on #1155
@phaABC We actually implemented your 3rd option. ID: FT < X <= NFT. Using a bit is pretty much the same thing as your other option... depending on where you put the bit. Doing (id & Bit) is no more difficult than doing (Id > X) or (id & 1).

I think 2**128 is unnecessary large however. There are all kinds of nice things you can do with the id bits :-)

[2018-07-12 22:00] tavakyan commented on #900
I keep coming across this need to get a list of staked addresses and their corresponding balances for a staking contract I'm working on. Perhaps we can have an optional method that does one of the following:

`function allStakers() public constant returns address[]);`

and/or

`function allStakerBalances() public constant returns (address[], uint[]);`

When another contract is using this standard,

[2018-07-12 23:21] johnhforrest commented on #900
FYI I sent a PR to add another reference implementation here: https://github.com/ethereum/EIPs/pull/1212

Reference implementation is located here:
https://github.com/codex-protocol/contract.erc-900

[2018-07-12 23:23] xinbenlv commented on #1214
Thanks for submitting the proposal. Upgradable is a very important and useful character for smart contract to be successful.

Can you help us understand the relationship of your proposal with some of the related EIPs, such as EIP-897, EIP-1167?

[2018-07-12 23:55] amittmahajan commented on #1155
Hate to put a damper on an innovative solution re: using an extra bit, but flexibility of how token ids (and potentially token type ids) are mapped are important to certain applications.

1/ We have seen some ERC721 apps that use token_id to map to a given date or object hash. I'd imagine apps will be doing similar things with the type_id

2/ This implementation detail will make it pretty difficul

[2018-07-13 01:31] JamesTherien commented on #1155
@amittmahajan I agree that you should have some flexibility in implementing your id how you want. I was just sharing what we did for the type id. We put more than just the type indexes in our implementation.

re: NFT-ness, there is _so much more_ to it than totalSupply(type) == 1.  I truly think they are worth the effort. But what you support beyond the required interface is pretty much up to you.

[2018-07-13 01:54] mryellow commented on #1155
Could a view be used to do a translation of parameters into whatever ID packing schema a contract might use?

Something along the lines of `getId(bool _fungible, uint256 _base, uint256 _index)`.

Perhaps with something more flexible than two `uint256`? A `bytes32` parameter or two?

[2018-07-13 04:29] AC0DEM0NK3Y commented on #1155
Perhaps @mryellow have been thinking about that sort of thing myself too. Working on other stuff atm though to really put proper thought into it in a general case.

Please brainstorm away!

[2018-07-13 05:16] mryellow commented on #1155
Well the other shower-thought I just partially ran down is the idea of using a hash instead of a struct for the `base, index` key, with then a flipped boolean bit at one end or the other for fungibility. RocketPool people have a bunch of patterns based around hashes as keys for mappings, which works great for the deeper mappings.

Far as I can tell at a glance something like that wouldn't really s

[2018-07-13 07:18] kermankohli opened #1217 "EIP1192: Standard interface for reading & cancelling subscription payments"
**Problem**
We need a standard way of dealing with recurring/subscription payments on Ethereum. The original discussion began with [EIP948](https://github.com/ethereum/EIPs/issues/948), however there are currently 2 ideas around what a subscription payment standard should have be (read vs edit/write).

**Solution**
Rather than creating a lowest common denominator for competing standards, at 8x we

[2018-07-13 08:11] sevriugin commented on #721
https://etherscan.io/token/0x0d59ae1af62ceef6f31f38df881911b408e114bc#comments

[2018-07-13 13:20] PhABC commented on #1155
My personal problem with this is the fact that now every application need to keep a local data base of each ID is NFT and which is not, since you are forced to query in order to tell if it's an NFT or FT. If you are a wallet that tracks 100 games, where each game has above 200k IDs (think cryptokitty), this it becomes a significant additional computing demand. Having a mean to identify NFT-ness ba

[2018-07-13 13:37] owocki commented on #1217
I don't feel that the rest of the working group for #948 agrees with this.

My personal view is that there will be too much fragmentation in the marketplace if there are no standards around creation of a subscription.  if you we are going to break the standard into two components, then there should be a standard for writing/creation of a standard

Your proposal is *not a starting point* .  The sta

[2018-07-13 14:07] xinbenlv commented on #1202
Request for review~

[2018-07-13 14:08] xinbenlv commented on #1201
Great idea. Having a rental support is greatly useful.

[2018-07-13 15:19] paulbarclay commented on #1155
It feels like this standard is trying to solve one problem that exists (proliferation of ERC-20 contracts), and another problem that doesn't actually exist (bartering for NFTs).

Are there any real-world (in-game or real money) examples of marketplace economies set up where a trade is N items to M items? I can't think of a single one - for games, 95% of the stuff out there is a 1-to-$ transaction

[2018-07-13 15:20] vbuterin opened #1218 "Simpler alternative to BLOCKHASH extension (#210)"
### Summary

Allows blocks to be directly aware of block hashes much older than the current hash.

### Parameters

* `BLOCKHASH_CONTRACT_ADDR`: 0xf0 (ie. 240)

### Specification

At the start of processing any block, run the following algorithm, where `store(x, y)` stores value y in key x of `BLOCKHASH_CONTRACT_ADDR`:

[code]

Extends the BLOCKHASH opcode so that if a given block height's hash is

[2018-07-13 17:29] hskang9 commented on #223
I just found out the ERC223 contract itself can be a potential token trap. It has fallback function so it can recieve the tokens. If it does not have any code for handling received ones, it will become a trap as well. Should its address be excluded in transfer() with require()?

[2018-07-13 19:37] kermankohli commented on #1217
Hey @owocki, I think there's been some cross wires around what's been communicated due to the calls being at 12:30am and me trying to catch up via chat.

We believe that there's a magnitude of use cases (donation, up to X, oraclised etc) that might want to be created and it'll be unfair to be locked into one interface to create these subscriptions. It's also worth considering that a user isn't exp

[2018-07-13 20:22] HarryR commented on #223
The Token contract which implements ERC223 doesn't need a tokenFallback function. If the token contract has a `tokenFallback` function which doesn't `throw` then it's a bad implementation of the standard because it would allow tokens to get stuck in it.

[2018-07-13 21:13] sb777 commented on #1217
Having a recurring subscription standard without subscription initiation doesn't make sense. That's the whole point of ERC-948 - to initiate, manage, and process subscriptions.

[2018-07-13 21:20] kermankohli commented on #1217
@sb777 Could you explain why initiation doesn't make sense to not be in a standard? Use cases would be helpful to understand :)

[2018-07-13 22:14] JamesTherien commented on #1155
Replying to @mryellow

Yes, we have something like this. Actually, it is similar to the token iteration in ERC721.  you don't actually need the _base and I split it in 2 functions:
`fungibleIdByIndex(uint256 _index) returns(uint256 _id)`
`nonFungibleIdByIndex(uint256 _index) returns(uint256 _baseId)`

if you want to iterate a NF, you can use the functions we already have for NF:
`nonFungibleByInde

[2018-07-13 23:55] sindarknave commented on #1217
I'd be in favor of separating subscription initiation from a subscription management interface standard, so long as the reference implementation includes an example of subscription initiation. All the contract needs to return is an amount due; there's a lot of business logic (first time free, price stabilization, etc.) that would be better modularized in a contract than through an interface standa

[2018-07-14 02:32] Wangbicong commented on #1207
@xinbenlv
Thanks for your sincere suggestions. And I also have some thoughts about these advice.

1. I think incorporation with an individual NFT and an authority is a good and fancy idea, and therefore every authority can belong to a token. But I wonder if it is appropriate to equal an authority to a token, because in authorization mechanism, the origin user have the highest (possibly the only) a

[2018-07-14 04:19] hskang9 commented on #223
@HarryR I already understand that ERC223 contract does not need a tokenFallback function. The problem is it gets fallback function unintentionally by declaring instance of token receiver contract. Can you check the standard code on at least remix and talk again?

[2018-07-14 04:57] hskang9 commented on #223
@HarryR I see, changing ```tokenFallback``` access classifer from ```public``` to ```external``` causes the problem.

[2018-07-14 05:17] HarryR commented on #223
@hskang9 Which contract implementation are you referring to? The one in the specification has no `tokenFallback` method...

[2018-07-14 05:32] hskang9 commented on #223
@HarryR It was a misguided implementation written by me after fixing solidity compiler's classifier warning. Now I fixed it thanks to you.

[2018-07-15 02:42] AC0DEM0NK3Y commented on #1155
Hi @paulbarclay

Sure. How about 1 Kitty selling for 50 ETH?

Unless you mean NFT for NFT?

Then here's an older example but Team Fortress 2 has had an active trading community for year, here' one site showing trade offers where both mixed NFTs and FTs are being traded for mixed NFTs and FTs: http://www.tf2outpost.com/

The way I see this working for blockchain games going forward is you put you w

[2018-07-15 12:54] MicahZoltu commented on #777
I don't see any reason that there needs to be a standardized method for burning.  A standardized event is critical (which we already have I believe).  In fact, I argue pretty strongly against adding a standardized `burn` method because it adds complexity to implementations and doesn't provide meaningful value when standardized.  If people want a burn method on their contract they can write one, bu

[2018-07-15 13:18] jacquesd commented on #777
@MicahZoltu There is a standard event for burning (and a requirement to call `tokensToSend` as well if present). The reason for standard burn functions is because it is not allowed to burn by sending to `0x`. Therefore a standard burn function makes sense as some tokens require it as part of their crypto economics mechanisms. In addition, it gives the options for dapps and wallets to offer a burn

[2018-07-15 13:32] MicahZoltu commented on #777
I would like to hear some more concrete examples of why standardizing a burn function would be valuable.  For example, while yes a wallet _could_ give their users a burn button I cannot come up with a legitimate reason why a wallet would do that.  It is like giving users a "shoot yourself in the foot button", it just seems like it is always a bad idea.

Contracts wanting to burn holds a bit more w

[2018-07-15 17:58] corbinpage commented on #1201
This is interesting @zemingyu but costly to implement given that each time unit is stored individually. I think a start date / end date design might be more practical.

[2018-07-16 09:40] AdrianClv commented on #777
@MicahZoltu In my case, I'm developing a dapp in which there are many tokens involved. Most of those tokens are not controlled by me.

In the dapp, among other things, there is a governance system. The deposit of different tokens triggers a vote by another community. Depending on the outcome of the vote, it may be necessary to penalice the people that deposited the tokens, because by creating the

[2018-07-16 14:29] pabloleban commented on #1155
@paulbarclay @AC0DEM0NK3Y

To add a little bit more information, you have the same popular successful economic systems in games like **DOTA 2**, **CSGO**, **PUBG** and **Rocket League** aswell. In almost every game, the currency is a fungible item; **the keys** that open the crates that gives you a non fungible item. If you are going to sell an item, you sell it for x amount of keys or you trade i

[2018-07-16 21:10] veikkoeeva commented on #1155
Great points about [shiraz](https://github.com/ethereum/eips/issues/1155#issuecomment-400869725) and [steel, swords, sand and glass](https://github.com/ethereum/eips/issues/1155#issuecomment-402543934) and that these are moving into [real world](https://github.com/ethereum/eips/issues/1155#issuecomment-401959199).

I have some experience and knowledge about supply-chains in various fields and perh

[2018-07-16 21:30] mg6maciej commented on #777
@jbaylina

Very well explained and this is exactly how I think of what is currently called `userData`. Maybe it's just the names are misleading?
So if the `userData` is something in the format only recipient understands and `operatorData` is the same for `ERC777TokensSender`, is there a good reason to pass these values to the other callback? If they were passed only to their respective `tokensToSe

[2018-07-16 22:05] AC0DEM0NK3Y commented on #1155
@veikkoeeva Thank you that is very informative. While I'm very familiar with games I was making mildly educated guesses about the supply chain use cases so it's good to know the ideas I was juggling around are at somewhat grounded in reality.

On the subject of naming I while it seems "token" is the weakly preferred name with the votes we have simply removed the designation and instead have now ha

[2018-07-17 02:30] FaceDeer commented on #898
There was just [a pull request to change an EIP's status to "Rejected"](https://github.com/ethereum/EIPs/pull/1223) that was closed because there is no process for non-authors to move a draft to "rejected". I had a look through EIP 1 and although the "Rejected" status is explicitly allowed, there isn't _any_ process given for _anyone_ to move a draft to that state.

The same problem exists for the

[2018-07-17 02:58] evbots commented on #1202
Hey @xinbenlv, thanks for making this issue. I've been doing some thinking on a voting standard and share many of the same questions that you have outlined in this ERC. I've committed some initial thoughts about modeling a voting contract [here](https://github.com/voteprotocol/contract-models/tree/8848c8f77b83ff4e40988d965284a125c9340830). A voting standard could be modeled with the following prim

[2018-07-17 06:44] veikkoeeva commented on #1155
@AC0DEM0NK3Y If I can offer any help from this direction... Albeit I see writing past midnight I'm not as coherent as I'd like to. To be more accurate:
1. The GS1 codes do not catch past relationships, only the "current ID". This is a problem when one wants to move backwards in the chain, especially since there are numerous systems with their APIs and databases ("API tax"). An example structure of

[2018-07-17 09:01] jbaylina commented on #777
@mg6maciej :  I don't think it's worthy to define the format of `userData` and `operatorData` in this standard.  I expect new future standards will do it.  May be some protocols like BSON or equivalent would make sense sow new fields could be added dynamically (but again I think it's out of the scope of this standard).

Passing this Data to the callback, it makes sense for logging and for setting

[2018-07-17 09:09] James-Sangalli commented on #721
@dete I cannot understand why bulk transfers are not default or why when querying for a balance you must provide the tokenId instead of the address and returning the array. I understand that you say people can create their own functions on top but it seems to be setting a very bad example and many others will follow suit with the mandatory implementation instead of getting it right from the founda

[2018-07-17 09:36] mg6maciej commented on #777
@jbaylina You didn't understand me. It is indeed outside the scope of 777 to define what format od data is in `userData`or `operatorData`. The scope should be to define who defines the format of `userData` (`ERC777TokensReceiver`?) and `operatorData` (`ERC777TokensSender`?). If I'm a DEX and I see two bytes arrays, I would be tempted to use both. If we agree @mcdee's example should only use `opera

[2018-07-17 10:56] ImAllInNow commented on #721
@James-Sangalli, for ERC721s where people build up large collections (i.e. CryptoKitties) returning or operating on arrays of items can quickly become untenable due to gas costs and restrictions.

Do you have a specific implementation of your ideas that show reasonable gas costs at scale?

Creating and modifying an ever increasing array of items in Solidity, if not done correctly, will quickly cos

[2018-07-17 11:02] Arachnid commented on #1207
Have you looked at https://eips.ethereum.org/EIPS/eip-927?

[2018-07-17 13:42] VieYang commented on #225
Why is wiggleTime 500ms? Why not 200ms or 100ms? What are the special considerations here?

[2018-07-17 15:30] evbots commented on #1202
No problem! I'm excited to collaborate on this. I've considered a few things that might make sense for a voting standard. In the process of voting, distributed parties probably need to be able to do the following things in a consistent manner:

- query options for voting (read)
- cast a vote (write)
- query for the outcome of a vote (read)

The data passed and returned from the above methods shoul

[2018-07-17 15:59] James-Sangalli commented on #721
@ImAllInNow Thanks for your reply.

If you have a mapping(address => uint256[]) this problem is removed, the likelihood of one address holding a gigantic heap is small and even if someone did, it is still more efficient then querying every single token in the contract to find the ones owned by a single address (e.g. Gigantic holder + everyone else). A mapping like this can easily be called from me

[2018-07-17 16:43] fulldecent commented on #721
# The architectural discussion in issue #721 is closed.

If you would like to ask a question please go to -> https://ethereum.stackexchange.com/questions/tagged/erc-721

If you have a complaint/idea, please reformulate into a question with a specific use case, then go to -> https://ethereum.stackexchange.com/questions/tagged/erc-721

If you would like to hire a consultant, call me. Or call most an

[2018-07-17 20:13] PaulRBerg commented on #948
Hi everyone,

I'm currently doing some research on state channels and fully decentralised, recurring payments, so it was pretty cool to read through all the ideas brainstormed here! Definitely a great initiative @owocki.

Static, time-based subscriptions totally make sense, but I want to challenge the underlying assumptions in https://github.com/EthereumOpenSubscriptions regarding dynamic pricing.

[2018-07-17 20:38] ekreda commented on #170
@ethernomad the link you put (over a year ago) for the Parity configuration for this limitation is broken.
Can you point us to it ? we are still trying to bypass this issue...

[2018-07-17 20:50] cdetrio commented on #898
@FaceDeer, I outlined the process for reaching `Deferred` in a reply to @jpitts here:  https://github.com/ethereum/EIPs/pull/904#issuecomment-369381798

`Active` is a status term which only applies to "Meta EIPs" (i.e. Informational and Process EIPs). This was stated in an earlier version of EIP-1: https://github.com/ethereum/EIPs/blob/2145841c6ab56142d6c9beec5d2aaefd5bb52c3d/EIPS/eip-1.md#eip-wor

[2018-07-17 21:06] owocki commented on #948
@PaulRBerg good to meet you.  wanna join our weekly call (thursday mornings) and nerd out about this?

[2018-07-17 21:12] AC0DEM0NK3Y commented on #1194
I'm not sure you should be using the EIP process for asking questions like this, perhaps stack exchange.

You could use 721 or 1155 for something like this just fine and after creating your "trophy" just set a uri that points to off-chain storage for all of that you want to set, even just use the uri as the storage, it's just a string you can put whatever you want in it. Or you could have a functi

[2018-07-17 21:30] PaulRBerg commented on #948
Sure thing! Emailed you now.

[2018-07-17 21:57] Josephrp commented on #948
there's a weekly call ? very much eager to listen in :-)

On Tue, Jul 17, 2018 at 11:31 PM, Paul Berg <notifications@github.com>
wrote:

[2018-07-17 22:15] owocki commented on #948
yes.  contact @androolloyd for the weekly call.

we are all hanging out at gitcoin.co/slack in the #proj-subscriptions channel too

[2018-07-17 22:23] AC0DEM0NK3Y commented on #1217
Wondering about the decision to use bytes32 for the subscription parameter? Why restrict this when you can store a lot more data in a uint256 and it's faster for the EVM to process.

I agree with the choice for a standard for view may be better than a standard for initiation because subscription to what exactly? It could be many things.
Which makes me think amount due and fee returns...I guess thi

[2018-07-18 04:03] SmeargleUsedFly opened #1227 "Defuse Difficulty Bomb and Reset Block Reward"
Pull request with up-to-date proposal: #1235

This thread is for discussion.

<details>
<summary>Original proposal</summary>
<br>
    eip: <to be assigned>
    title: Defuse Difficulty Bomb and Reset Block Reward
    author: SmeargleUsedFly (@SmeargleUsedFly)
    discussions-to: https://github.com/ethereum/EIPs/issues/1227
    status: WIP
    type: Standards Track
    category: Core
    created: 2

[2018-07-18 07:21] vishy0108 commented on #1030
@zjunyi If you are the beneficiary, you can still withdraw funds with little effort.

1. Deposit 6 ETH through payable function
2. As the deadline is already passed, it won't count as amount Raised
3. Total Balance of Contract will now be 10 ETH
4. Use the SafeWithdrawal function to withdraw all the 10 ETH as beneficiary

[2018-07-18 08:04] thunder02dragon commented on #1227
Interesting! Would love to come back to ETH again if needed..Left supporting this network for months. However it will draw the whole GPU network here resulting in more higher difficulty. Still I support it as the hash will be within community not BITMAIN or someone similar's control.

[2018-07-18 08:46] jbaylina commented on #777
@mg6maciej We will add that clarification of who defines userData and operatorData.

[2018-07-18 09:43] karalabe commented on #225
It generally takes a few hundred milliseconds to propagate a block through the entire network, even to fast and well connected peers. That means that you want your `in-turn` signer to have enough time to get their blocks in before everyone else starts spamming.

[2018-07-18 10:16] jamespic commented on #85
@chris-shyft Unless I've misunderstood your issue, it's completely possible to monitor internal contract events with open source tools. I just ran the following against my local Parity node to get all ERC20 transfers to my account:
[code]

If you need to monitor transactions as they come in, you can use `eth_newFilter` and `eth_getFilterChanges`, or use `eth_subscribe` with WebSockets or IPC on ne

[2018-07-18 10:20] AugustoL commented on #827
Second proposal added to the windingtree/erc827 repository: https://github.com/windingtree/erc827/pull/4

## Summary
The proposal adds an ERC827Proxy to the token to be used for every method that will execute arbitrary calls, doing this the msg.sender in the receiver contracts will be the ERC827Proxy address and not the ERC827 token,

## Implementation
The implementation is done in the contracts/p

[2018-07-18 11:21] kermankohli commented on #1217
Thank you for your input and apologies for the late reply!

@sindarknave Definitely. The idea behind what a subscription actually is so varied that it's better to find what should be in common and cutting where ideas/implementation diverge too greatly. Out of the existing standard, what do you thinks should be changed though?

@AC0DEM0NK3Y Honestly, I didn't really know that uint256 was more gas e

[2018-07-18 14:32] VieYang commented on #225
@karalabe Thank you very much!

[2018-07-18 14:32] k06a commented on #1003
One more try:

[code]

[2018-07-18 16:50] mg6maciej commented on #777
@jbaylina I assume we agree here on who should define the format. If so, would it maybe be better to change names of these two to signify that? For example `senderData` and `recipientData` immediately tell me what they should be used for.

[2018-07-18 17:36] tavakyan commented on #900
@decanus In my case I was trying to come up with an interface that a validator set contract can use to interact with all the stakers for the purposes of a PoS-like consensus engine. Perhaps this is better left for a future standard since this is supposed to be a 'simple' interface. I got this idea when looking at some code in the melonproject project: https://github.com/melonproject/smart-contract

[2018-07-18 18:22] kosecki123 opened #1228 "ERC-1228 Delegated Execution"
[code]

## Simple Summary

A standard interface for delegated transactions in order to execute them.

## Abstract

The following standard allows for the implementation of a standard API for contracts that can be executed by any execution agents. We aim to define the type of interactions, payload storage and incentives for execution.

## Motivation

A standard interface allows any smart contract to

[2018-07-18 20:17] jbaylina commented on #820
I updated the contract so that it accepts 0x0 as the addr.  This is equivalent to msg.sender.  This way, we can instruct users of the multisigs easilly by giving them a single Data to enable an interface. (For example to allow multisigs to accept ERC777 tokens).

[2018-07-18 20:31] eosclassicteam commented on #1227
+1 for this EIP

[2018-07-18 20:51] gitcnd commented on #777
I prefer the original terminology, and I was never confused to begin with over who defined this anyhow - not to mention that it's unambiguous anyhow.

@jbaylina - we need to move this forwards - myself and many others are tooled up ready to go live on this standard.  I think it's time to tell the folk who want new features that they can fork and make a new standard for their needs.  Our ERC777 is

[2018-07-18 21:50] seliestel opened #1230 "Idea: Making some functions self executable"
We (@aribo and @seliestel) have been discussing an idea to make some functions self executable. This would allow the deployment of contracts that execute in the future without an explicit call/send by an external agent. The objective is to create the potential for autonomous code running on the EVM. Of course, this would need to come with a cost and some limitations, in order to protect the networ

[2018-07-18 23:48] Hodl2Zero commented on #1227
This would actually make it worse since the companies making the ASICS would also enjoy the increase in block rewards, infact they'll benefit a lot more then the community due to economies of scale. (Example: with $1000 BITMAIN could build 3 asic miners. With $1000 the community can only afford 1 asic miner) Right now the only solution to give power back to the community is the move to Proof of St

[2018-07-19 07:34] mcdee commented on #777
@jacquesd in your implementation of `doBurn()` your `callSender()` occurs after the burn amount has been subtracted.  It should happen beforehand, in the same way as in `doSend()`

[2018-07-19 09:18] jamesray1 commented on #960
Well a supply cap is included in the shasper spec: https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ.

[2018-07-19 10:19] tbrannt commented on #960
@jamesray1 good. In the end it's the only thing that makes sense. If we an arbitrary token that we pay our security with to have value we should not punish people who hold it.

[2018-07-19 13:45] realcodywburns commented on #1227
Tying the 2 separate issues, blockreward & bomb removal , together made a mess of the last EIP. Armchair economists made the thread woefully off topic. It was likely because no group would agreed to both on their own.

The bomb was a poor design decision in the first place, and randomly patching it to extend the delay is unsustainable. The intent of the bomb was to give leverage during the pos swi

[2018-07-19 14:03] Artazor commented on #777
Hi guys! What would you say if we restrict the gas that could be spent on notifications? Let say 42000? At least in default`send` implementation. I think Gas predictability is very important. Or it is a bad idea?

[2018-07-19 14:06] MicahZoltu commented on #85
See #600, #601, and #602 for a more recent set of proposals for HD wallet paths is Ethereum.

[2018-07-19 14:06] mcdee commented on #777
@Artazor not a fan of that suggestion, it arbitrarily limits the complexity of the contracts.  Costs are easily found out using `EstimateGas` so they are perfectly predictable for individual transfers.

[2018-07-19 14:12] MicahZoltu commented on #1227
Consider splitting this issnto two EIPs so the two issues can be discussed separately and/or implemented separately.  The difficulty increase serves a different purpose from the reward decrease, and putting a change to both into a single EIP is likely to add confusion and struggle to the discussion.

[2018-07-19 14:42] SmeargleUsedFly commented on #1227
@MicahZoltu The original proposal wasn't clear on this point, but I added a line to say that the block reward reset is optional, and the lesser concern, in this proposal. Though #649 would like a word with you...

[2018-07-19 15:34] MicahZoltu commented on #1227
Saying that something is optional but leaving it in the EIP doesn't really help address the confusion in discussion issue.  People will discuss both intermixed and the EIP needs to pass all or nothing.  To avoid this, just author two separate PRs, then people can freely discuss them in isolation.

[2018-07-19 15:48] jamespic commented on #84
@MicahZoltu Something to add to your "single point of truth" comment is that Ledger are switching to `m/44'/60'/x'/0/0` in their new desktop app, Ledger Live.

[2018-07-19 15:51] mudgen commented on #998
I recently did a lot of work on a reference implementation of ERC998 which can be seen here: https://github.com/mattlockyer/composables-998

I also wrote a draft EIP for ERC998 here: https://github.com/mudgen/EIPs/blob/master/EIPS/eip-998.md  But I have not done a pull request yet for this EIP to get it added because I would like more feedback first.

Some feed back on the EIP and the reference im

[2018-07-19 17:33] Steve132 commented on #85
So I'm reading them now and there's like 4 proposals on the table then.

What is the final path?

On Thu, Jul 19, 2018 at 10:07 AM, Micah Zoltu <notifications@github.com>
wrote:

[2018-07-19 18:03] SmeargleUsedFly commented on #1227
@MicahZoltu I'm on the fence about that. I don't care enough about resetting issuance to champion a separate EIP for it. On the other hand, it is something that is directly relevant to the underlying motivation of the proposed change of defusing the difficulty bomb. I listed it as "optional" because I think the case can be made to not reset issuance ("let's not play around with the issuance any mo

[2018-07-19 23:26] xinbenlv commented on #1202
We kindly request the community for comments, in particular, the following ERC and projects related authors:

 - ERC-20: @frozeman, @vbuterin
 - ERC-721: @fulldecent, Dieter Shirley, Jacob Evans, Nastassia Sachs
 - Carbon Vote: @lgn21st, @Aaaaaashu
Your comments and suggestions will be greatly appreciated.

[2018-07-20 01:31] jacquesd commented on #777
@mg6maciej there was a previous suggestion regarding data names. We are renaming `user` to `token holder` and `userData` to `holderData` to improve clarity and consistency. The `holderData` is provided by the address holding the token (the *token holder*) and the `operatorData` by the address moving the tokens (the *operator*). A token contract MAY also add data in those fields. (This might be use

[2018-07-20 01:53] Wangbicong commented on #1207
@Arachnid
I think that originally we want to solve a similarity problem, but we take a different technical solution.

In eip-927, a metadata registry contract interface MUST be implemented to verify if a caller address have the access to owner address in callee address.
In eip-1207, a contract MUST be implemented with this interface to attain Access Delegation.

In my opinion, the abstract design

[2018-07-20 03:27] Wangbicong commented on #1207
@Arachnid
I believe we are trying to tackle the same issue here, i.e. generalised authorisations.

In eip-927, a metadata registry contract is needed for the verification process. In eip-1207 we take a different approach by coupling functional interface with DAuth interface, as seen in [EIP20DAuth](https://github.com/DIA-Network/ERC-DAuth/blob/master/eip20-dauth-example/EIP20DAuth.sol).

We are to

[2018-07-20 03:38] MicahZoltu commented on #1227
Your EIP, so ultimately your call.  I would advocate against this EIP getting included in a fork as written though, but I would probably be in support of an EIP that only removed the difficulty bomb.  As it is, I don't have the energy to get stuck in a quagmire of an EIP discission that includes a [rider](https://en.m.wikipedia.org/wiki/Rider_(legislation)).

[2018-07-20 04:10] adibas03 commented on #1230
From your description,
All contracts with the `SELFCALL` opcode would have to be watched till the execution time, or eternity by the present model. I do not think this would be a good implementation as this could easily lead to DDOSing the network.
On the implementation, a needed argument to prevent watching such contracts for eternity is `maxCalls`
The **maxCalls** arg would tell the EVM the maxi

[2018-07-20 07:11] KorbenDallasPewPewPuf commented on #223
You are talking using "ERC223" in your comments.  I just don`t get it. Is this "EIP223" or "ERC223"? And if second, then when it has became a standart? Any references? Please clarify cuz I`m consused. Thank you.

[2018-07-20 08:14] mg6maciej commented on #777
@jacquesd Am I really that bad at explaining the issue here? Could you please carefully read comments from me, @jbaylina and @mcdee starting from [this one](https://github.com/ethereum/EIPs/issues/777#issuecomment-400801308) and most importantly [this one](https://github.com/ethereum/EIPs/issues/777#issuecomment-405522105)?

[2018-07-20 08:16] bianning commented on #875
How the seller cancels a transaction?

[2018-07-20 08:22] James-Sangalli commented on #875
@bianning I am not sure what you mean? Once a transaction has been executed you cannot stop it.

An order (constructed offline) will have an expiry timestamp

[2018-07-20 08:29] nicola opened #1238 "ERC1238: Non-transferrable Non-Fungible Tokens (NTT)"
[code]

# Non-transferable tokens

## Simple Summary
A *badge* is a token that once assigned it cannot be transferred. Badges can be accumulated through time and put at stake. Simply speaking, badges are statements about a public key, they can be quantitative (e.g. reputation, experience) or qualitative (badges, titles).

## Abstract
The *Non-transferrable token* standard defines a set of standard

[2018-07-20 08:38] mcdee commented on #777
@jacquesd `token holder` seems to be redundant, why not just `holder`?

[2018-07-20 09:04] jacquesd commented on #777
@mcdee I found `holder` to be a bit unclear sometimes. `token holder` is much more clear and explicit. I would prefer to be redundant than unclear.

[2018-07-20 09:10] jbaylina commented on #777
What do you think about calling it `recipientData` ?

We have:
 `operatorData` -> Defined by the operator (or the sender when he acts as an operator)
 `recipientData` -> Defined by the recipient.

`recipientData` is the equivalent that `data` in a normal ETH transaction. `operatorData` is the field we add here for extra data: paymentReference, checkNumber, counterSignature, etc.

We decided to pas

[2018-07-20 09:11] bianning commented on #875
I have signed for the trade and disclosed the information, but I change my mind before someone transfer the trade. How can I withdraw it?

[2018-07-20 09:15] mcdee commented on #777
@jacquesd it does seem to come with its own complexities though (is it `token holder`, `tokenholder`, `tokenHolder`?) and could be prefixed to pretty much everything (token operator, token recipient, etc.) so not sure that it adds anything.

@jbaylina our problem is that we have three parties: the holder, the operator and the recipient.  Each could supply data so we either have three fields for da

[2018-07-20 09:28] gitcnd commented on #777
I still vote to leave the original alone.  Both the explanation, as well as the contract code are absolutely unambiguously clear.

There is no way to change the name to improve the meaning, because there are always 2 ends to every direction (e.g. is userData intended *for* the user, or is to be set *by* the user? - easy - look at the code, answer = 100% clear).  Calling it optionalMetadataToBeSetB

[2018-07-20 09:34] jbaylina commented on #777
What about just call it `data` this reminds more the `data` field in an ETH transaction and at the end is what it is.

[2018-07-20 09:56] mcdee commented on #777
@jbaylina I imagine that having a single field without some standard way of separating the data between holder operator and recipient ending up with a lot of incompatibility issues.  There are valid reasons for each of the parties to supply data so we'd need to show how we handle it.

[2018-07-20 11:02] chompomonim commented on #777
@mcdee Actually they're not that well predictable. MyCrypto often can't estimate proper gas amount when I'm sending tx to send ERC777 tokens.

Also there can we malicious smart contracts which in `ERC777Receiver` doing some loop to just burn gas. How to you recommend to protect agains such actions?

[2018-07-20 11:34] jacquesd commented on #777
@mcdee default operators where previously not explicitly defined and needed to be standardized. One approach would be to forbid them entirely but that may be too limiting. Overall we expect those operators to be quite common. Using a transaction processor as a default operator is I believe a good example. This would allow someone to send tokens without owning any ether.

[2018-07-20 11:36] mcdee commented on #777
@jacquesd standard operators provide the ability to send tokens without owning ether.  Adding default operators totally changes the security model for the token.  I don't see the requirement at all, but even if there are some use cases for it it should not be part of the standard.

[2018-07-20 11:43] jacquesd commented on #777
@mcdee you still need ether to authorize a standard operator.  A default operator allows you to truly interact with your tokens without owning any ether. Other cases are specific tokens which require the an operator for some use cases.

The default operators are declared when creating the token contract only and thus should be checked before by the deployer.  Setting as default an operator with a

[2018-07-20 11:56] DennisBPeterson commented on #1230
One way to do this would be to have a (sparse) list of future blocks, each with a list of selfcall executions. The miner for each new block checks its list for scheduled selfcalls, and optionally executes some of them. Every time a selfcall executes, it optionally adds itself to the list on some future block.

Fluctuating gas prices would make this pretty uncertain though...you'd still have to mon

[2018-07-20 12:11] mcdee commented on #777
To be clear: a default operator allows *someone else* to interact with your tokens.  It removes the basic idea that the holder of a token has control over them.  I think that is a terrible idea, but if someone wants to put it in to their token that's their business.  Making it part of the standard, though, is not something that I can agree with.

I can look at a token contract and decide if it is

[2018-07-20 13:00] seliestel commented on #1230
Thanks, @DennisBPeterson, @Arachnid and @adibas03 for the comments and suggestions. We are opening a thread on Ethereum Magicians, as Nick suggested. Maybe that will reignite the question of deferred (and recursive) execution and perhaps allow the community to find workable solutions to make it less problematic. At this stage of EVM development, it seems like a desirable step forward.

[2018-07-20 18:03] hskang9 commented on #223
1. EIP is an acronym of the Ethereum Improvement Proposal and this is proposal number 223, and it is also ERC which stands for Ethereum Request for Comment. So this is both ```EIP223``` and ```ERC223```. I use ```ERC223``` to refer this token contract, because somehow after [ERC20](#20), "The token standard" was uploaded, people started to call tokens this way.

2. I do not know if ```ERC223``` is

[2018-07-21 17:29] MicahZoltu commented on #85
If you are writing an app today and must choose a path, I recommend `m/44'/60'/0'/0/x` where `x` is `0` if you only are generating a single address.  Next best option if you want multiple hardened addresses is `m/44'/60'/x'/0/0`.  If you can wait or want to champion a new path then I recommend the #600, #601 and #602 EIPs (they kind of build off each other).

[2018-07-22 13:29] zemingyu commented on #1201
Thanks @corbinpage Yes, I have considered the alternative of a start / end date design. The issue is how to search for overlapping time periods efficiently. One solution provided by @saurfang is a Red Black Tree implemented here: https://github.com/saurfang/solidity-treemap This is quite complex and hasn't been audited. My intention is to start with something very simple, get it working first, and

[2018-07-22 20:57] adibas03 commented on #1238
I think a way to escape the address restriction is to utilize the proxy implementation #121 such that the proxy has the badge and such the owner can have access with any of the owned addresses

[2018-07-22 23:44] xinbenlv commented on #1202
Usage for discussion and call for example(I will try to write some too)
1. Joint Wallet contract approval process(multiple voter vote, when qurem reached, trasnfer token/approve
2. Voting for Ranking (getTopOptions)
3. Secret Vote
4. Token re-issue
...

[2018-07-23 00:05] michaelkunzmann-sap commented on #650
@renuseabhaya I had the same issue. My problem was that with Istanbul, you do not use a "regular" account (meaning, an account that you generate using ```geth account new```) to makes nodes validators. You need to use the node key and create an account from the node key.

@yutelin Can you explain what the rationale was behind using an account address, derived from the node key, to identify validat

[2018-07-23 03:34] yutelin commented on #650
@michaelkunzmann-sap enode id is from node key.

[2018-07-23 09:00] fulldecent commented on #1202
" but for secret voting people might not want to disclose a voting for certain issue even exis" is poor rationale for not supporting ERC-165.

Currently the use cases are focused on developer needs. Instead they should be focused on end user needs. We should standardize things because users demand interoperable systems, not because developers want other people to copy their ideas.

A strong EIP sh

[2018-07-23 09:41] chiro-hiro opened #1246 "ERC ? : Token Migration"
[code]
# Token Migration

## Simple Summary

This document provides a standard to migrating the old token standard to the new one.

## Abstract

Each particular token is holding ledger of transactions then It isn't a good idea to make a massive copy, meanwhile new standard of the token is feature rich and secure, so a migration is needed to keep all tokens are up-to-date and reduce the fragment. T

[2018-07-23 09:44] chiro-hiro commented on #1238
@nicola will the reputation be decayed overtime?

The same thing happens in real world :)

[2018-07-23 10:49] Arachnid commented on #1238
@adibas03 That demonstrates how pointless preventing transfers would be - it's easily evaded, and so just makes life more difficult for users.

[2018-07-23 13:22] nicola commented on #1238
@chiro-hiro it would be up to you

@Arachnid I agree and disagree, the identity would be an ID where you can decide the set of keys that own that ID, you can't transfer badges across IDs.. For example, when playing in a game, you only have one ID per player and you only have some experience. In other words, I believe there is something useful here.

note: re-issuing is still a valid option for som

[2018-07-23 13:48] Ezechiele commented on #1194
As you suggested I'm probably going to use the ERC721 standard. Now I have two options:

- Storing data on a struct inside the contract

- Storing data off-chain on something like ipfs

In both cases whoever wants to create an interface to interact with trophies has to implement a system to interact with the new variables.

My only concern here is if I have to think for the community or just for m

[2018-07-23 15:04] flygoing commented on #1246
I don't think this will work as expected. This `address(oldToken).delegatecall(bytes4(keccak256("transfer(address,uint256)")), address(currentProcess), oldBalance)` wont transfer the tokens on the old token to `currentProcess`, since delegatecall will make it act on the current contracts Storage. This will essentially call the `transfer` function of `oldToken`, but act on the storage of the `newTo

[2018-07-23 16:18] fraymond commented on #1230
It's not easy to schedule a function call by time on Ethereum. Maybe can we schedule it by block numbers, say, execute something every 50 blocks.

[2018-07-23 16:59] chiro-hiro commented on #1246
@flygoing

The fist one, I need to burn the old token by send it to invalid address.

Could you teach me about this section. I have just expected `delegatecall()` will keep `msg.sender` of current actor.

Some token contract won't allow me to burn token since:
[code]
I'd like to keep migration is able to track.

It's mean, I have to paying  for gas of two transactions.

[2018-07-23 17:09] adibas03 commented on #1238
@Arachnid I see your point about the `non-transferrale` attribute. Similar to game credits, which are not natively transferrable, but the accounts with the credits and repuation can be sold. So, the proxy/Identity accounts can be transferred in a way.
@nicola I think @Arachnid has a point here.
Also, could the badges be an example of a claim as described in #735

[2018-07-23 17:45] michaelkunzmann-sap commented on #650
@yutelin Yes, correct. So currently we are using
[code]
Where ```0x23971dab0b29c27fa0de9226c45bef04d9f39156``` is the "address" of the node to be permitted. As far as I understand, this address does not represent a regular account like we create with ```geth account new```, since it is derived from the node key:
[code]

Since the enode id is also derived from the public key (in its original purpos

[2018-07-24 02:32] xinbenlv commented on #1202
@fulldecent Thanks for your comment and advice William. I agree with your point that interface design should prioritize user's need of interoperable systems rather than developer's need.

We are thinking that ERC1202 shall be decoupled with ERC165 as whether to support ERC165 (or later if other detection standard mechanism being proposed and passed) is perpendicular to a ERC interface design itsel

[2018-07-24 02:50] flygoing commented on #1246
the DELEGATECALL opcode calls the _code_ of the given address, in this case `oldToken`'s code, *but* it calls it with the calling contracts storage. It's _delegating_ it's execution code to another contract. Yes, DELEGATECALL preserves msg.sender and msg.value, but it also acts on the calling contracts storage.

Then send them all to 0x1.

Does it need to be rebuilt on-chain? If not, you could sim

[2018-07-24 03:06] chiro-hiro commented on #1246
@flygoing Thank you very much, I will keep thinking for a reasonable on-chain migration.

[2018-07-24 12:31] flygoing commented on #1246
They don't need to register their address for anything. `approve` allows a third party address to move tokens upto the amount I specify from my address to anywhere else. So I `approve` the newToken contract to move my oldTokens. Then I call `migrate` on newToken, which checks the balance of oldToken, moves them to either itself or to a burn address, and then creates the same amount in itself for t

[2018-07-24 12:38] chiro-hiro commented on #1246
@flygoing I get it, I will close this issue.

[2018-07-24 12:39] #1246 closed

[2018-07-24 15:31] mudgen commented on #998
An EIP998 draft was recently added: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-998.md

[2018-07-24 17:43] bingen commented on #1202
This is a very interesting proposal, but as it has been said before, it looks like hard to achieve. There are so many variants in Voting that I don't think we can define a standard that fits them all. E.g., you are defining:
[code]
but what about PLCR voting, where you need a [`commitVote`](https://github.com/ConsenSys/PLCRVoting/blob/master/contracts/PLCRVoting.sol#L130) function plus a [`revealV

[2018-07-24 21:03] aodhgan commented on #1202
Of note for [private voting](https://eprint.iacr.org/2017/110.pdf)

[2018-07-25 03:59] mozheanquan-qiuhuadong commented on #1155
Hello, [The Implementation](https://github.com/enjin/erc-1155) not support approve for NFTs. I suggest add 2 functions like:
1. function approveNonFungible(address _spender, uint256 _itemId) external;
2. function getApproved(uint256 _itemId) external view returns (address);
Just copyed from ERC721.

[2018-07-25 06:00] JamesTherien commented on #1155
Hi @mozheanquan-q,

approve(address _spender, uint256 _id, uint256 _currentValue, uint256 _value) works just as well with NF as fungible in the sample implementation. Expected _value would be 1. You can see how ERC1155NonFungible.transferFrom() handles the allowance

[2018-07-25 08:13] mozheanquan-qiuhuadong commented on #1155
@JamesTherien Thanks, I reimplementation the approve and test it's OK for NFT.

[2018-07-25 08:50] Remi-Burgel commented on #223
The more I work with ERC223 the more I doubt about it's current implementation.

I'm currently working on a proxy wallet. Same logic as multisig wallets : You CAN transfer ERC223 with this wallet but it's a smart contract and must answer to the interface 'tokenFallback" and it's useless. I can't implement each interface of each proposition just to be sure it will be compatible with each safety imp

[2018-07-25 12:02] xinbenlv commented on #1202
@bingen: Thanks for the response. On a separate thread, @frozeman  also mentioned the PLCR voting. I intuitively think about the possibility of doing so, and I will add a coding example to implement a simple PLCR voting. Side note, you asked *Or is it one contract per Vote*. Please take a look at the advanced version of the spec, which has the "Vote Id"(`issueId`).

@aodhgan, Thank you! Despite as

[2018-07-25 13:45] yaronvel opened #1257 "ERC 1257: Proof of Payment by smart contracts"
---
eip: ERC 1257
title: Proof of Payment (POP) Standard
author: Victor Tran, and Yaron Velner (and future others)
status: Draft
type: ERC
category ERC
created: 2018-07-25
---

# Proof of Payment

## Simple Summary
Proof of Payment (POP) is an event (evm log) that provide a record of successful payment. Either via Ether or ERC20 token.

## Abstract
Currently merchants and vendors in online stores

[2018-07-25 13:47] frozeman commented on #1202
I would also suggest checking if add claim checks on identities such as #725 and #735 in the voting process. The question here is only does this need to be standardised, or is it enough as an implementation choice.

[2018-07-25 14:04] mickys commented on #1257
Your assumption about DAOs is a bit problematic, because they are not actually able to read events emitted in contracts. Only external listeners do that. ( Please correct me if this has been changed recently ).

While DAO's should already have an internal state that is updated upon successful payment execution.

I do see value in standardising the payment interface and being able to roll out a gen

[2018-07-25 15:16] yaronvel commented on #1257
@mickys they idea is that external listener will do it in behalf of the DAO.
Note that this event does not guarantee the delivery of the product. On gives a proof for the payment.
So in case of a dispute, an human agent will have to act on behalf of the DAO.

Adding @leviadam from dao stack to the discussion to give more insights on DAO needs.

[2018-07-25 17:42] ainsleys commented on #1202
@xinbenlv and @aodhgan we have also been working on [enabling private voting](https://blog.enigma.co/private-voting-for-tcrs-with-enigma-b441b5d4fa7b) for Ethereum contracts. We are still in testnet but will have a demo of a working secret vote contract in coming weeks. We are glad to follow this standards conversation, thank you for getting it started.

[2018-07-25 18:36] leviadam commented on #1257
I think it is a good idea that transfers will have an identifier.
It is important for example for UIs of DAOs referencing transfers.

I might advise to also standard the way data is constructed. Like a hash of a counter+contract address. This cannot be enforced, but can still be useful.

[2018-07-25 21:42] pipermerriam commented on #217
@holiman I think I'd like to pick this up on my team.  My thought was that we could add these schemas to the `ethereum/tests` repository and document how they should be run against the client's JSON-RPC responses.  It'd still be up to each client to implement the tests.

[2018-07-25 23:11] bobsummerwill commented on #217
Do it, @pipermerriam.  That would be awesome!

When I spoke at the launch event for the EEA back in February 2017, 17 months ago, this was actually one of the areas of protocol specification which I highlighted as being most needed and highest impact - both for public Ethereum and for enterprise scenarios.

The lack of clear and testable JSON-RPC specifications really hurts everyone trying to buil

[2018-07-25 23:16] bobsummerwill commented on #217
@rphmeier What do you see as the best path towards standardization of RPC specs across the various Ethereum clients, Robert?

As you said last year, there is a balance here to ensure that we don't "over-fit", and to ensure that any automated tests that we build are encoding unambiguous *original* specifications.

Any thoughts, @gavofyork?

[2018-07-26 00:05] cag commented on #1161
I'm sorry for the late response! Life's been... kinda crazy for me lately. Anyway...

---

@MicahZoltu Congrats on the Augur launch!

Correct me if I'm wrong, but I'm guessing that Augur results really only make sense in the context of this EIP if we're talking about a single universe right?

Additionally, in order for results to be interpreted in the way that was suggested by @edmundedgar, there

[2018-07-26 01:21] xinbenlv commented on #1257
Interesting idea. One brainstorm input: how does a return / cancel of payment will look like in this ERC?

[2018-07-26 03:46] xinbenlv commented on #1202
@frozeman: Thanks, I will add the consideration of interactions with ERC #725 and ERC #735 to the draft.

@ainsleys: Thanks for reaching out. Enigma is a very interesting project. I added the TCR blog post as a reference of the draft. Talk to you tomorrow

@bingen: thanks for the additional reference!

[2018-07-26 04:46] MicahZoltu commented on #1238
There is a big difference between transferring individual badges and transferring all badges associated with a key.  I think there is noue in allowing users to transfer all of their badges to a new key, while also preventing individual badges from being transferred away.

One can think of the set of badges as identifying a user, and you cannot split the user into parts and have it be the same user

[2018-07-26 05:40] edmundedgar commented on #1161
I like "OracleConsumer"

[2018-07-26 05:43] edmundedgar commented on #1161
Yes, that's something we saw at the workshop. Basically nobody else is involved in structuring information (as opposed to structuring where information comes from), so in practice even if we "standardize" it nobody except us will be using the "standard", so probably better to keep it out of a process for now.

Yes, using them as suggestions makes sense. BTW we've dropped the (signed) "int" case fo

[2018-07-26 06:00] MicahZoltu commented on #777
I am uncomfortable with the wording in the spec around the `data` field.  It says

When `operatorSend` is used, the token contract has no way of validating that the data is sourced from the user so it cannot conform to this standard.  When a call to `operatorSend` comes in, both data fields are sourced from the operator.  I think making a claim in the spec that one of the data fields is from the u

[2018-07-26 06:11] MicahZoltu commented on #777
Going to make one last try at this, though setting expectations of success low.

I think this ERC is too big and should be split up into several smaller ERCs.  I do not see value in bundling them all together, though all could be released simultaneously.  By bundling, it also makes future improvements harder since identifying compatibility is done at a course level.

Basic ERC: `name`, `symbol`, `

[2018-07-26 06:18] MicahZoltu commented on #1161
According to the contracts, the following is a valid reporting array: `[0, 1500, 2500, 5000, 1000]`

The reporting array is simply how to divide shares up among shareholders after the market ends.  An example (not yet supported in the UI) for where the above may make sense is a market for "percentage of votes by presidential candidate".  Users can go long or short on any candidate at any price, an

[2018-07-26 07:35] vongohren commented on #1238
What differences do you see between badges and claims?
Ref: https://medium.com/uport/erc1056-erc780-an-open-identity-and-claims-protocol-for-ethereum-aef7207bc744

Both #735 and uPort uses the wording of claims.

[2018-07-26 07:59] yaronvel commented on #1257
@xinbenlv interesting question. It give rise to a lot of questions like whether returning the payment in delay should be allowed and what is the actual value of delayed payment.

On a practical level though, at least on first stage, the needed software stack is on the merchant side. We cannot expect the consumer to run its on client for that.

[2018-07-26 09:29] nicola commented on #1238
#735 looks very similar, if not identical to that, I will reach out to them.

[2018-07-26 09:42] MicahZoltu commented on #777
I got the intent of the `data` parameter, my only complaint is with the current wording which makes it impossible to implement.  :smile:

I would be wary of implying any intent of operators or users.  All we know from the token is that the operator supplied some data.  Whether it originated from the user is unknowable, and in many (legitimate) cases probably not true.  I'm fine with the term `data

[2018-07-26 11:50] winsvega commented on #217
retesteth is capable of running response requests check against clients via RPC
we just need to come up with default parameters that node will report to those commands.
eg.  peercount 0.  accounts - empty   and so on.

[2018-07-26 16:13] u2 commented on #90
there is a typo, `At he same time`, should be `At the same time`.

[2018-07-26 18:37] chaitanyapotti opened #1261 "ERC 1261:Membership Verification Token"
---
eip: 1261
title: Membership Verification Token (MVT)
author: Chaitanya Potti (@chaitanyapotti), Partha Bhattacharya (@pb25193)
type: Standards Track
category: ERC
status: Draft
created: 2018-07-14
requires: 165, 173
discussions-to: https://github.com/ethereum/EIPs/issues/1261
---

## Simple Summary

A standard interface for Membership Verification Token(MVT).

## Abstract

The following standa

[2018-07-26 20:39] e11io opened #1263 "ERC-1263: NFT Index Proposal"
---
eip: 1263
title: ERC-1263 NFT Index Proposal
author: Luciano Bertenasco <luciano@e11.io>, Alejo Amiras <alejo@e11.io>, Francisco Diaz <francisco@e11.io>
discussions-to: luciano@e11.io
status: Draft
type: Standards Track
category: ERC
created: 2018-06-27
requires: 173, 721
---

## Simple Summary

A standard set of contracts for globally defining and tracking non-fungible tokens.

## Abstract

T

[2018-07-26 20:54] cag commented on #1161
I got one more candidate: `OracleReceiver`. Here's my reasoning behind the nomenclature:

1. `OracleHandler` is too ambiguous: to handle does not evoke the right sense of what implementations of this interface should do.
2. `OracleConsumer` is closer, but I had a silly image of a creature eating the oracle in my mind. Joking aside, this also may suggest the [producer-consumer problem](https://en.w

[2018-07-27 06:05] veikkoeeva commented on #1155
Just thought to link https://businessofblockchain.com/web/virtual-summits/blockchain-id here. It was a rather nice video conference that showcased quite well the "physical tag" side on a few branches.

It appears to me to think federation of self-describing data on the physical world (JSON-LD) is the way to go as things will evolve in various sub-groups and there are already ways to translate IDs

[2018-07-27 07:49] edmundedgar commented on #1161
@cag The issue with the null case is simply that the answer to a lot of questions are either a number or "We couldn't decide" or "This question didn't make sense". We hack this with boolean, uint or multiple-selection types by denoting that the final value, 0ffff....ffff, represents "invalid", and marginally shrinking the range of numbers we can represent. But if we want to handle negative numbers

[2018-07-27 14:35] axic commented on #1218
Even if the client writes the account storage directly, it would be nice to still have a "precompile" at the address so that the semantics from user contract's perspective remain the same as in EIP210:
- `blockhash` opcode only support the last 256
- calling the contract has access to the entire range

In this case there are two options:
1) keep it as a precompile for retrieving the data
2) implem

[2018-07-27 14:40] vbuterin commented on #1218
So the address would have code that could be called to read any particular storage key? Seems reasonable to me.

I suppose we can also add a `store(1024 + block.number % 256, block.prevhash)` command the the EIP so the contract also stores the last 256 hashes directly.

[2018-07-27 16:22] adibas03 commented on #1263
Just a comment on the Release date.
shouldn't that be 2018-07-27 ?

[2018-07-27 18:57] e11io commented on #1263
Hi @adibas03 !
It's not a typo, the draft is a month old. _(stealth mode)_
Not sure what's the correct way to set the date here:
- creation of issue
- creation of first draft

We are fully open to change it :)
WDTY?

[2018-07-27 22:03] cwhinfrey commented on #1161
I believe there are some cases where the `id` will not be used. For example, if an oracle contract is created for a single event it may have no need for an `id` for that event. I think the design decision to include `id` makes sense to cover both oracle contracts that cover single events and multiple events. Would it may make sense to standardize what should be passed as the `id` when it is not us

[2018-07-27 22:09] PhABC commented on #1203
Hello!

This sounds very similar to #1155 and #888 as well. Would it be possible for you to chime in there so we can all collaborate on a single standard?

[2018-07-27 22:34] PhABC commented on #1200
Interesting, but why does this need to be a "standard" per say? How does standardization of this process benefit the community versus having independent upgradability pattern?

[2018-07-27 22:38] PhABC commented on #1214
This sounds _very_ similar to your other ERC #1200. Why not have a single proposal? Seems like #1214 is just a better version of #1200. The goals are definitely identical.

[2018-07-27 22:44] PhABC commented on #1228
Hey @kosecki123 ! Could you expand a bit more on how this is related to #1077 and why 1077 is not sufficient to cover the needs #1228 aims to fulfill? Some examples could be useful to better undersand!

[2018-07-27 22:54] PhABC commented on #1238
I worked on some "badge" token stuff to quantify participation events for fun and also opted for "transfer all or none scheme" as @MicahZoltu proposes, which I think is good enough for the intent here.

[2018-07-27 22:57] PhABC commented on #1261
Question in terms of logic and terminology ;

+ How is this different from a "whitelist"?

+ Why does this need to be standardized if third parties can't really do anything with the contract (if I understand correctly)?

[2018-07-28 00:31] PhABC commented on #1179
Commenting here instead of the pull request ;

The way I see it, #1178 is specifically for fungible tokens (which is [what we need as well](https://github.com/horizon-games/multi-fungible-tokens)), while #1155 wants to support both NFTs and FTs within a single contract. In this case, I see 1178 being a subset of 1155, where all tokens are fungible. Or, 1155 as being 1178 with "Class ID Specific Lo

[2018-07-28 00:56] PhABC commented on #1155
Proposing something here after thinking about all these similar interfaces. Would be a pretty big change for #1155, but only throw rocks at me after reading the following please :D!

With #888, #1155, #1178, #1203 and many others, it seems like we all want an interface that has something like `balance[address][uint256]` instead of `balance[address]` and this is where I believe we can all agree on.

[2018-07-28 00:59] achon22 commented on #1179
It does indeed seem the case that the multi-class functionality can be modeled using the 1155 standard. However, as I mentioned in the pull request, conforming to this standard introduces additional complexity which not all developers may want to deal with (I certainly feel this way).

I've found that a different team interested in implementing security tokens also took a look at #1155 and found i

[2018-07-28 01:09] PhABC commented on #1179
Yes, I agree with what you just said ^. Check out my [last comment](https://github.com/ethereum/EIPs/issues/1155#issuecomment-408571004) in #1155 and see if that seems like a more appropriate route.

[2018-07-28 01:20] PhABC commented on #1263
Cool idea! Why does this need to be a standard however? Why can't there be different "token registries"? Or is this a proposal for what NFT token registries should include in their interface?

[2018-07-28 01:25] PhABC opened #1271 "ERC-1271 : Standard Signature Validation Method for Contracts"
**Simple Description**

Many blockchain based applications allow users to sign off-chain messages instead of directly requesting users to do an on-chain transaction. This is the case for decentralized exchanges with off-chain orderbooks like [0x](https://0xproject.com/) and [etherdelta](https://etherdelta.com/). These applications usually assume that the message will be signed by the same address

[2018-07-28 08:21] trustfarm-dev commented on #1227
Please join TEO (TrustEthReOrigin)
5teo is block rewards.

https://github.com/trustfarm/teo-material/blob/master/README.md#this-directory-cotains-teo-testnet-materials-archives

[2018-07-28 12:01] shrugs commented on #1271
Realizing that this is more than just validating signatures; we're actually asking the question "given this action, does the caller have the ability to it, given this proof"?

so perhaps the better metaphor is

[code]

where the default behavior might be to treat `_action` as a Bouncer data hash and `_proof` as a signature. But like we noticed before, they could be anything.

Although this implies

[2018-07-28 18:42] PhABC commented on #1271
That's a good point! A signature is usually used to guarantee that a given address allows something, but other schemes not relying on signature methods could also achieve the same goal.

Pinging @alexvandesande & @abandeali1 for comments.

[2018-07-29 05:52] coinfork commented on #1155
Updated OP with latest specification. The base interface is now simplified to the most essential functions and kept as minimal as possible.

Optional features like Non-Fungibles are defined in extended interfaces (IERC1155NonFungible). Batch transfers are also moved to optional interfaces.

@PhABC I see where you're going with the ID logic flags, but this approach makes the ID format quite hard-wi

[2018-07-29 09:20] cslarson commented on #861
a recent [reddit discussion](https://www.reddit.com/r/ethereum/comments/92l4eb/1_ethblock_eip858_disable_current_gen_asics_delay/) of this EIP in conjunction with a discussion about delaying the difficulty bomb has shown considerable community support.

[2018-07-29 15:21] PhABC commented on #1155
Maybe I am misunderstanding what you are saying, but I did not say these ID flags would be part of the standard. Each implementation could have their own ID based rules depending on what the creator of the token contract wants. Updated the contract skectch above to reflect this.

Which is why I think this specific aspect of ERC-1155 should be standardized ; how do third parties query the ID logic?

[2018-07-29 16:02] DanielRX commented on #1149
AFAIK the parameter naming has no actual value in the standard, as the function sig produced will be based only on the function name and input/output types

Would  `public string name = "nameOfToken";` not produce the correct hash with the implicit getter?

[2018-07-29 16:05] DanielRX commented on #1139
You might want to take a look at [https://tools.ietf.org/html/rfc2119](RFC 2119) which explains the use of  optional.

[2018-07-29 21:59] o0ragman0o commented on #1149
This issue isn't about function signatures. It's about standards documentation leading to compiler warnings and type clashes.

[2018-07-29 23:00] AC0DEM0NK3Y commented on #1155
What I believe coinfork is saying if I'm not mistaken, is by doing this:

`// Last 4 bytes of a token ID indicate token interface (token type)
  mapping (uint4 =>  bytes4) tokenIDLogicTag;`

you are enforcing a hard-wired format into the ID, which could limit certain use cases.

Lets say for instance you knew you had a maximum of 2^16 types in your version of 1155 and that each of those had a maxi

[2018-07-30 07:01] kosecki123 commented on #1228
Hey @PhABC. Both #1077 and this can fulfill the same needs. The differences I can think of now:

* #1228 doesn't define any scheme for payload, aims to be as flexible as possible - payload is not only the data to be sent with transaction but can also contains any other necessary fields like to, value, conditions etc - this is taken from our work at https://github.com/chronologic/chronos/blob/maste

[2018-07-30 07:36] adirmola commented on #1139
Great reference.
Thanks.
But if we'll get into nuances so it is still not smooth.
In one Hand the EIP20 use the term "OPTIONAL" but in the other hand it says that "interfaces and other contracts MUST NOT expect these values to be present" - so it's moving out all the meaning of "OPTIONAL" according to the definition in the reference that said that we should expect to it.

Maybe the term SHOULD\REC

[2018-07-30 07:40] duncanwang commented on #875
I have 3 question, please help me:
(1)  trade(uint256 expiry,
                   uint256[] tokenIndices,
                   uint8 v,
                   bytes32 r,
                   bytes32 s)
A sample is given as 0, [3, 4], 27, "0x2C011885E2D8FF02F813A4CB83EC51E1BFD5A7848B3B3400AE746FB08ADCFBFB", "0x21E80BAD65535DA1D692B4CEE3E740CD3282CCDC0174D4CF1E2F70483A6F4EB2"
QUESTION: what the means of v, r

[2018-07-30 13:52] e11io commented on #1263
Hi @PhABC !
Indeed is a proposal for what NFT Indexes should include in their interface.
As well as the Managers that are required to be able to filter typeIds.

[2018-07-30 18:11] James-Sangalli commented on #875
Hi @duncanwang

1) v r and s are simply the cryptographic signature split up into 3 parts
2) As the balance of non fungibles is stored as an array, the sellers elements are added to the senders array on success of the trade
3) I recommend you go here: https://github.com/alpha-wallet/ERC875-Example/blob/master/TradeImplementationExample.java and generate a signature, at the moment the contract is o

[2018-07-30 21:01] jacquesd commented on #777
@MicahZoltu [I tried to improve the wording](https://github.com/ethereum/EIPs/commit/d8714503751d3e6633e1a37d4965c4872fd7754b) let me know what you think.

Here is the relevant part:

Of course in practice the token contract cannot check if the `data` comes from the token holder when the token holder and the operator are different. What we are trying to say is that the `data` must really come from

[2018-07-31 00:46] zhangzhongnan928 commented on #875
Bianning
I have signed for the trade and disclosed the information, but I change my mind before someone transfer the trade. How can I withdraw it?
--

You can “transfer”/purchase the token by yourselves before anyone else does.

[2018-07-31 01:49] duncanwang commented on #875
How can I get some free ETH on  rinkeby test net? Can you send  2 ETH to the address "0xB51Fa936B744CFEbAeD8DbB79d2060903e689F89" ?

[2018-07-31 02:28] MicahZoltu commented on #777
I'm still not comfortable with the wording. Operators are not trying to be 777 compliant (tokens are), and they have no incentives to be compliant (unlike tokens, they aren't well known and trying to get adoption).  Saying MUST for something that can neither be enforced nor is even incentive compatible is just a frivilous statement that provides no value.

I'm further worried that to the casual re

[2018-07-31 02:43] xinbenlv commented on #173
Suggest adding `requires: 165` to the summary

[2018-07-31 03:50] James-Sangalli commented on #875
@duncanwang sent you some test ether

[2018-07-31 04:41] MicahZoltu commented on #777
Minor style feedback: `ERC777TokensRecipient => Erc777TokensRecipient`.  Such a naming convention avoids the problem of `XMLHTTPRPC` (vs `XmlHttpRpc`).  I don't know if this is used anywhere that would force people to conform to that style, but would be nice if the standard uses a style that (when consistently applied) is easier to read.

[2018-07-31 04:47] MicahZoltu commented on #777
The following should be added to the requirements for `tokensToSend` and `tokensReceived` callback requirements.

[2018-07-31 04:52] MicahZoltu commented on #777
After more consideration, I don't even think the spirit of the rule "data must come from token holder" makes sense.  Consider the following token, by the current rules it is not ERC777 compliant:
[code]

[2018-07-31 11:42] DanielRX commented on #1139
No, MUST NOT and OPTIONAL fit:

"You **must not** assume the functions are there, as they are **optional**"

Another wording would be "You **must** check the functions are there, as they are **optional**"

[2018-07-31 11:44] DanielRX commented on #1149
The documentation states what must be there, parameter names are not in that section

I assume you also want the function `transfer` or similarly the event `Transfer` to be renamed?
This is a compiler warning that has been accepted as part of ERC20 due to the circumstances around the creation of the standard.

[2018-07-31 15:02] chaitanyapotti commented on #1261
How is it different from whitelist:

Whitelist is not necessarily transparent, and changes on whitelists are not logged on to  immutable ledger. So this is a lot more reliable that a whitelist in the sense that censorship is a lot more difficult to hide.

Also this 'whitelist' is on the blockchain, meaning that you can program smart contracts to act upon certain logic based on membership, voting s

[2018-07-31 16:03] jacquesd commented on #777
@MicahZoltu We have updated the `data` to reflect your suggestions. In short:

---

Regarding the `ERC777TokensRecipient => Erc777TokensRecipient`. I would say both are valid and the most important is to pick on and stick with it.

I prefer the capitalized version, similar to [Python's style](https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles). I've also seen the capitalized `ERC`

[2018-07-31 19:11] k06a commented on #1003
Or even more shorter version of `transferFrom` overriding:
[code]

[2018-08-01 07:32] duncanwang commented on #875
I've received 2 ETH。Thank you very much, james.
As your proposal，I run trade function after my MetaMask connected to rinkeby network
![image](https://user-images.githubusercontent.com/15844058/43507485-d781bec8-959f-11e8-8036-78eced467a38.png).
How can I buy this ticket in chrome browser with MetaMASK, then?

[2018-08-01 11:02] o0ragman0o commented on #1149
Where are you looking? I provided the link to the standard in the original
post. The document has parameter names.
Can you provide a reference for where there's been an acceptance of the
warning for this standard? If that's the case then I can note it in future
audits.

`transfer` and `Transfer` are distinct identifiers so is not the issue here.

On 31 July 2018 at 21:45, Daniel <notifications@git

[2018-08-01 12:39] ben-kaufman opened #1285 "EIP-1285: Increase Gcallstipend in the CALL OPCODE"
[code]

## Simple Summary

Increase the ``Gcallstipend`` fee parameter in the ``CALL`` OPCODE from ``2,300`` to ``3,500`` gas units.

## Abstract

Currently, the ``CALL`` OPCODE forwards a stipend of ``2,300`` gas units for a non zero value ``CALL`` operations where a contract is called. This stipend is given to the contract to allow execution of its ``fallback`` function. The stipend given is int

[2018-08-01 13:17] DanielRX commented on #1149
My mistake, not a compiler warning, just a linting warning. It was so long ago that I had forgotten the context.

The documentation is not meant to be an implementation, those are left to 3rd parties:
[OpenZepplin](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/DetailedERC20.sol) have, as I described, used implicit getters to make this valid.

For all inten

[2018-08-01 16:09] Arachnid commented on #1285
This seems reasonable to me. If you want it to be considered as an EIP, you should open a pull request.

[2018-08-01 17:02] ben-kaufman commented on #1285
Thanks for the feedback @Arachnid. I just wanted to get some feedback before creating a PR.

[2018-08-01 19:50] ARitz-Cracker opened #1288 "Get contract return values from transaction recepts"
[Here's the pull request](https://github.com/ethereum/EIPs/pull/1287)
[code]

## Simple Summary
This is a proposal to give clients the ability to easily get contract return values and revert reasons from already completed transactions.

## Abstract
This EIP proposes to allow eth_getTransactionReceipt to show return values from a smart contract executon, similarly to eth_call.

## Motivation
Client

[2018-08-02 04:36] Amino22 opened #1289 "0x6aaDfeA8B7E660326250BcebF762944D26d4f2AD"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-08-02 04:36] #1289 closed

[2018-08-02 04:55] PhABC commented on #1155
@AC0DEM0NK3Y
I am personally more in favor of losing 4 bits / 256 knowing that 2**252 is definitely a big enough ID space to still do a lot of complex stuff. Having to always compute what a given ID seems also pretty expensive computationally wise (i.e. think of cryptokitties).

In addition, i'm not sure how you would construct such a pure function without adding contraints on how the IDs can be u

[2018-08-02 05:08] abandeali1 commented on #1271
I personally prefer using a 32 byte hash over an `_action` byte array. Any action should be able to be represented as a hash, and this really simplifies the implementation details. You're probably going to end up hashing `_action` and verifying a signature at some point anyways. Any extra logic could live in the caller contract.

I could see it making sense to use the word `proof` instead of `sign

[2018-08-02 05:11] PhABC commented on #1228
Regarding payload flexibility, it seems to be like the `data` field in #1077 allows for arbitrary data, no? This could include conditions, values, even contract deployment data. It's just how the receiving contract interprets and handles this data that matters. Would you have a concrete example where something could not conform to #1077 when it comes to the payload definition?

I think I can see w

[2018-08-02 05:44] PhABC commented on #1271
@abandeali1

The reason why we opted for a dynamic byte array is because the `called` contract might request specific data that the `caller` contract is not aware of.

For instance, imagine you use a smart account that has some key management properties, where different keys have different roles ([RBAC](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/access/rbac/RBAC.so

[2018-08-02 06:25] shrugs commented on #1271
Likewise, my worry is that a hash loses information that may be necessary for validation.

That said, I'm also worried about the complexity of passing arbitrary data via a bytes call; we've just accidentally re-created the need for abi encoding/decoding and whoops, we should probably just use solidity for that, so now we're back where we started, creating context-specific methods.
It may make more

[2018-08-02 06:52] abandeali1 commented on #1271
You can always encode any extra data about the `hash` in the `signature` field. For example:

[code]

You can imagine adding any amount of extra data to `signature` in a similar way. This keeps the simplest implementation simple, but it's still pretty flexible if necessary.

[2018-08-02 07:25] shrugs commented on #1271
@abandeali1 I'm not convinced that overloading the signature ("proof") argument is a ton better than `bytes action, bytes proof`.

[2018-08-02 07:56] AC0DEM0NK3Y commented on #1155
You personally may be fine with losing those bytes, but I doubt you or myself can dream up all the possible use cases people may have in the future. I wouldn't be so confident of "stealing" that data from future users. CryptoKitties and the like are only the start of eth use cases.

I don't understand your assertion of "Having to always compute what a given ID is seems also pretty expensive comput

[2018-08-02 08:27] MicahZoltu commented on #1288
I believe in the past this has been punted on because of the unbounded size of a contract's result.  For example, if a contract returns a string or an array of values the size of the receipt is now unbounded.  Since receipts are part of consensus, they need to be kept small/constrained.

One option would be to only return the first 32 bytes of the result.  This greatly limits what you can usefully

[2018-08-02 10:29] kosecki123 commented on #1228
Agree, I overlooked the definition for the payload on #1077. So, yes this is the same.

I think in general there are 2 different approaches and the root problems these ERCs are trying to solve.

* #1077 seems to be for UX improvements - which then probably leads to market structure where users of protocol A that uses token B will be able to interact with protocol A using only token B (not having E

[2018-08-02 11:45] chaitanyapotti commented on #1261
I'd say it's easier for an organization to track the list of members, based on the way we have implemented it. This is necessary when you want to track censorship and conduct analytics.

If a malicious owner is removing certain number of people periodically, it is not simple on whitelist.sol to track the removed members, reconstruct the original plausible uncensored group, and audit the uncensored

[2018-08-02 12:44] PhABC commented on #1261
Could you explain to me how so? It's not obvious to me

[2018-08-02 13:04] vjuge commented on #650
I think there is a typo on the first message, where it's written :

Regarding the rest of the description, it shouldn't be `3F +1`, but `2F +1` instead.

[2018-08-02 13:45] ARitz-Cracker commented on #1288
@MicahZoltu a contracts result isn't unbounded as the stack size is pretty shallow. (at least in solidity, correct me if I'm wrong) Strings don't exist in the EVM, just a bunch of uint256s. If you push a "string" on the stack which is greater than 32 chars long, it pushes multiple uint256s internally.

[2018-08-02 14:22] PhABC commented on #1155
Thanks for the details answer, very helpful! Yes, I agree that applying bitmasks is cheap.

As for your proposed implementation, I don't see how this differs from what I proposed above. For instance, by using `supportedFormatsBitmask[0] = 0x1 << 254;` you are saying that every token ID where the second left bit is 0x1 will be considered to be an NFT, which means you are losing 1 bit in the ID spac

[2018-08-02 14:50] mcdee commented on #777
@jacquesd

This seems to be the crux of the matter.  It's a way of making life easier for the token issuer, but comes with big downsides.

I cannot stress enough that adding default operators breaks the simple understanding of a token holder that they have control of their tokens, and it will result in problems that will be laid at the foot of the door of this ERC.

If a token holder wants to allo

[2018-08-02 15:47] PhABC commented on #1155
Yes, that's true. Could add a general parameter of how many bytes are reserved for ID logic flags, e.g.
`constant public bytesUsedForFlags = 4` which could be set by the creator. They could set 0 if they wanted and I agree different projects might require more / less flags.

I agree that the ID flag does not belong here which is why I don't think ERC-1155 should focus on ID specific logic. In the

[2018-08-02 15:57] paulbarclay commented on #1155
I strongly agree with Andrew and Philippe here, for the reasons they've
stated, plus the minimal usefulness of the ID logic flag, because knowing
it is still not enough to describe a NFT with enough detail to be
functional, and providing enough detail in another form renders the ID flag
unnecessary.

What may be more useful, building on Philippe's last comment, is to provide
a way for implementati

[2018-08-02 16:20] AC0DEM0NK3Y commented on #1155
@paulbarclay that is exactly what I posted 4 posts before yours, someone could query what format is supported by a contract, and whether an ID has a signature embedded within it to determine that it is of that format off-chain with an ID and mask alone.

It's a separate EIP on it's own for sure,

But I disagree that knowing whether something is of a particular class at least is not important, othe

[2018-08-02 16:33] veox commented on #1285
Could you link (here in the issue; likely excessive in the EIP document) to a particular implementation where this is true?

[2018-08-02 17:10] GNSPS commented on #1285
https://gist.github.com/GNSPS/ba7b88565c947cfd781d44cf469c2ddb#gistcomment-2383950

[2018-08-02 17:13] JamesTherien commented on #1155
@PhABC I see your point. Let's say we move IERC1155NonFungible out and deal with id meta-data in a different proposal. We can certainly make it richer than just isNonFungible(). Ultimately, I think your point is more about id semantics than where that semantic is stored. I am not sure we can derive a whole lot of common semantics, but we certainly can have an standard API to query it.

One functio

[2018-08-02 23:32] cag commented on #1161
After a few discussions with people, `OracleConsumer` seems to be the rough consensus for terminology for what is previously known as an `OracleHandler`.

---

@edmundedgar There is the possibility of just saying that the range of the results given by the oracle is [0, result_granularity), and the oracle consumer or user-facing application could just map that to whatever range those values should

[2018-08-03 03:44] nathanawmk commented on #170
@ekreda i am having that issues as well. I tried putting maxCodeSize but it did not work.

[2018-08-03 04:06] nathanawmk commented on #659
hi guys i am building a sophisticated smart contract with quorum and I will prefer to have one smart contract instead of multiple ones. Any update on this? I tried maxCodeSize in genesis.json and it did not work.

[2018-08-03 05:01] chaitanyapotti commented on #1261
[Here](https://github.com/chaitanyapotti/ElectusProtocol/blob/master/Vault/VaultToken.sol) is a sample implementation which has the "indexers" property which allows organization to query the list of all members using web3.

it also stores the list of previous members. (wasMemberOf can be implemented in JS easily and methods can be implemented to identify when members were removed)

[2018-08-03 07:38] adyliu commented on #55
Java checker of ethereum address
https://gist.github.com/adyliu/6c5ff4d41aa0177da55f4b8b1703f54a

[2018-08-03 09:53] AugustoL commented on #827
Implementation of proposal simplified and ready to be merged windingtree/erc827#4

[2018-08-03 10:56] Gerdinand commented on #1288
I think it would be fair to return only the first 32 bytes. Any critical information should be able to be conveyed this way. Getting return values of contracts would be convenient, but what would really help me as a developer is if I can get the revert reason through the transaction receipt (preventing out-commenting/logging/redeploying thousands of times).

[2018-08-03 13:38] jbaylina commented on #777
@mcdee I understand defaultOperators very much as part of the essence of the token Contract.  From the tokenContract, you could manipulate any thing, and  you can create tokens with hidden functionality.

Said in another way: If you use a token, it mean that you trust the source code of the tokenContract.  A token with defaultOperators, is saying that you don't only need to trust the code of the t

[2018-08-03 14:43] mcdee commented on #777
@jbaylina

Please could you give an example of such a token, preferably with the relevant code?

I don't see that any tradeoff that removes full user control is worthwhile.  The onus should always be on the holder to move *from* full control of their tokens, not *to*.

[2018-08-03 17:24] jbaylina commented on #777
@mcdee:  For example an exchange token. Where the decentralized exchange could be the operator.

Another example would be a promotional token that is intended to be used by token holders without Ether via a Relay.   For example you give 3$ in crypto tokens to an user that has no Ether and you want him to be able to spend it at some point.  In this case it is very annoying if you have to tell the u

[2018-08-03 21:52] frangio commented on #1288
@ARitz-Cracker Have you seen [EIP 758](https://eips.ethereum.org/EIPS/eip-758)? It is an alternative proposal to retrieve the return value of a mined transaction. I believe it should be mentioned in this ERC as well. There was some discussion about receipts in the associated issue https://github.com/ethereum/EIPs/pull/758.

[2018-08-03 22:01] baerdev commented on #861
clarson, your EIP 858 was/is leading the reddit poll here: https://www.etherchain.org/coinvote/poll/298

But there is a new poll, and they want to disregard your EIP-858 because it doesn't include delaying the difficulty time bomb like it says in the poll.  Could you change your EIP to include delaying the difficulty time bomb by 1.5 years like EIP-1234?

[2018-08-03 22:17] tjayrush commented on #861
If this is true (and I think it is), then this issue should be moved to Final Call. That will leave a two week period during which anyone may raise purely technical concerns after which time the issue will move forward in the process, and (since it is core) the Core Devs will decide what to do. (See EIP 1 which describes the process: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md.)

Th

[2018-08-04 00:10] jcksncllwy commented on #1238
@vongohren A significant difference between #735 claims and #1238 badges is information ownership. In #735 the Claim Holder owns any claims made about themselves. The problem with this is that there is no way for a Claim Issuer to revoke or alter a claim once it has been issued. While #735 does specify a `removeClaim` method, a malicious implementation could simply ignore that method call, because

[2018-08-04 00:39] shrugs commented on #1271
@PhABC any feedback on restricting this to hash+signature based validation?

[2018-08-04 03:49] MicahZoltu commented on #777
Augur's token (REP) has a built-in set of approved contracts (not just one) today.

That being said, if REP was an ERC-777 token we probably wouldn't need to use operators at all since we can use the callback functionality instead.

I'm curious if someone has an example of a situation where a default operator is superior to using the callbacks?  Personally, I find the callbacks to be a cleaner app

[2018-08-04 03:53] MicahZoltu commented on #861
While I think many of us want EIPs to be purely technical and this to move to approved/final (even if we disagree with it), unfortunately the way EIP 1 is written today, the last call process doesn't apply to Core EIPs.

[2018-08-04 06:57] jbaylina commented on #777
@MicahZoltu : Two clear examples of operators are: "Check payments/Relay payments" and "Subscription payments"
But there are more, like 3rd party managed accounts, limited transfer of tokens from a cold wallet, etc..

[2018-08-04 07:15] MicahZoltu commented on #777
Check, relay and subscription payments all feel reasonable.  In what situation though would a _default_ operator for those make sense?

[2018-08-04 08:27] veikkoeeva commented on #1155
from @AC0DEM0NK3Y is a good point and goes _authenticated data structure head_ at https://github.com/ethereum/EIPs/issues/1155#issuecomment-405383369.

I wonder if it'd be useful to say, taking as an example from https://json-ld.org/playground/, that the ID could be something like JSON-LD `@context&@type` hashed? This would mean that it'd be possible to have a dictionary of such hashed off-chain t

[2018-08-04 08:57] jbaylina commented on #777
@MicahZoltu Imagine a promotional token that you want to send to users that are newcomers to crypto.  They just have a new wallet without ether.  Just with the token you sent them.  If you want to let them send the tokens without the need to buy Ether, it makes sense that this token has the relay as a default operator.

[2018-08-04 10:47] mcdee commented on #777
@jbaylina

I don't understand what purpose this would serve.  Are you suggesting that the token is somehow part of the decentralised exchange, or that it is a separate token traded on the decentralised exchange?  The former seems to be counter-productive (a DEX would want the lowest possible barriers to entry so requiring some sort of exchange-specific token to operate makes no sense) and the latt

[2018-08-04 18:37] bnolan commented on #1155
I'm keen to implement this for avatar objects on [Cryptovoxels](https://www.cryptovoxels.com/) (avatar hats for starters). Has the Enjin reference implementation been audited or reviewed?

[2018-08-04 21:49] ARitz-Cracker commented on #1288
@frangio I swear I looked through all the EIPs before submitting this one 😅 looks like I missed it!

[2018-08-05 03:37] frangio commented on #1271
Thanks for writing this up @PhABC, it's quite good.

The discussion around @abandeali1's suggestion is very interesting, but we need to show some examples of usage in order to best decide on fixed or arbitrary size `_data` (i.e. the message that is signed).

I think a good example to analyze is that of an _m_-of-_n_ multisig smart account. A valid signature for this account could be the concatenat

[2018-08-05 03:50] frangio commented on #1271
I forgot to comment on the suggestion to use the names "action" and "proof". Although I kind of like "proof", I would prefer to keep the current names as they're consistent with those of cryptographic signing, and agnostic to any particular use case.

[2018-08-05 04:26] abandeali1 commented on #1271
To be honest, the cost differences here are probably minimal. I think the main downside for the `bytes data, bytes signature` approach is converting a bytes32 to and from a byte array. With the `bytes32 hash, bytes signature` approach, the downside is confusion over potentially overloading `signature`. Which is better likely comes down to how often we think each case is likely to be used.

[2018-08-05 07:14] MicahZoltu commented on #777
I would love to see an extension to ERC-777 once it is done that adds signed transfers (where the person doing the transfer is not the same as the person who pays the gas).  I agree with @mcdee that that isn't a great use-case for default operator, but it is a great use case for pre-signed transfers.

[2018-08-05 07:59] jeffishjeff commented on #1203
Thanks @PhABC for the heads up. #1155 seem to have evolved a lot since I last visited it and I agree it's becoming a superset of what I wanted to do with this proposal. Yes, I'd be happy to join the discussion there

[2018-08-05 10:08] SiLingTan commented on #225
@karalabe In the changelog "Attack vector: Concurrent blocks", it is mentioned that "If the number of authorized signers are N, and we allow each signer to mint 1 block out of K, then at any point in time N-K miners are allowed to mint." Why is it not **N-K+1** miners are allowed to mint any any point in time?

[2018-08-05 13:36] chompomonim commented on #965
@mg6maciej thanks for pinging me. After ERC777 got default operators I was willing to fix this proposal to use default operator for `sendByChecque`. Today I did it.

I deleted description from outdated #964 and updated main description of this issue.

Does it solves your security concerns?

[2018-08-05 18:11] jbaylina commented on #777
@mcdee I was thinking in a fee token. I'll not argue if this is good or bad for the exchange.  But we cannot force not to let it do it.  Think in any application that in order to do some thing you need to pay a fee with an application specific token.  This is clearly a good example of the convenience of the default operator.

---

For promotional token:
1.- Imagine a supermarket chain that says: e

[2018-08-05 18:14] jbaylina commented on #777
@MicahZoltu :  Yes I fully agree! This extension will be very needed.  We can discus if we add multiple recipients in the signed transfers.  Which kind of signatures we accept, or a way to handle fees for the relayer.  May be it will be more than one standard. ...

But in any case, this is out of the scope of this standard.

[2018-08-05 18:35] mcdee commented on #777
No-one is forcing anyone to not allow it, standard operators can provide this functionality.  Default operators, however, force people in to accepting control of the default operator unless they explicitly disallow it.  I still fail to see an argument for making users opt out of this functionality rather than opt in to it.

This is just Etherless transfer.  Again, if the standard should support Et

[2018-08-06 01:52] achon22 commented on #777
Is there any thought of supporting limited operators? i.e. operators that can only move X amount of a given owner's funds. This has numerous use cases and would be very useful.

Currently, the only way one could do this is through tokensToSend sender hook which would require that the owner know the operators apriori or that the owner keep updating the interface implementation manually (which is ex

[2018-08-06 05:38] josojo commented on #1161
**Web3 oracle workshop summery - 23/24 of July**

During the oracle workshop organized by the web3 foundation in London, we also discussed this EIP. Participants of the discussion were representatives from oralize.it, realitykeys, chainlink,  appliedblockchain, thomsenreuters, consensys and web3 foundation.

We agreed that such a standard would be beneficial and we should introduce one. However, i

[2018-08-06 07:24] veikkoeeva commented on #1155
Ah, one more addition to the GS1 standards, "physical world" and common IDs, there are the various punchout formats too. One short source doing and OKish job describing them is at http://www.punchoutcatalogscx.com/what-is-a-punchout-catalog.php and a short table of one company at https://www.coupa.com/blog/punchout-or-you-re-out-coupa-partner-solves-punchout-catalog-woes.

If Ethereum is taken to

[2018-08-06 07:46] mcdee commented on #777
@achon22 operators can do pretty much anything.  https://github.com/wealdtech/wealdtech-solidity/blob/erc777/contracts/tokenssender/OperatorAllowance.sol is an example of one that provides limits on sending.

that's pretty required.  Anything else wouldn't be workable as it would be susceptible to simple attacks.

[2018-08-06 08:03] shrugs commented on #1271
It seems like we'll need to include more information than just action/signature. I'm having trouble visualizing how to abstract signature validation like this so that contracts can recursively "sign". I think we need to add the `_delegate` concept here so we can do "recursive" validity. i.e. I'm trying to sign something with my contract, but I want to proxy that validity to _another_ contract.

I

[2018-08-06 08:39] jacquesd commented on #777
@achon22 Registering a `ERC777TokenSender` should be the way to go if you want to limit the allowance of an operator.
There are a couple things you can do:
1. Set an allowance for all operators except the token holder itself (i.e. in `tokensToSend` when `operator != from`).
2. Have an `allowance`/`approve` solution similar to ERC20 implemented in your `ERC777TokenSender` to set an allowance for an

[2018-08-06 11:25] SiLingTan commented on #225
Thank you!

[2018-08-06 14:14] frangio commented on #1271
So, the information that you added was the account for which you need to verify validity, right?

That's an interesting thing to point out. With `ecrecover`  the signature and the signed message get you back the account. But there's no way to do that when the signer is a contract, so you need to know what account you will validate the signature against. IMO this doesn't affect this EIP at all, but

[2018-08-06 14:55] achon22 commented on #777
@jacquesd also I was wondering if I could redistribute your implementation of the ERC-777 standard [here](https://github.com/jacquesd/ERC777) under the MIT license so that I can include it in the OpenZeppelin repo. We like this standard and want to integrate it in our repo so that others can use it broadly.

Do we have your permission? Thanks

[2018-08-06 15:57] PhABC commented on #1271
**Regarding `(action, proof)` vs `(data, signature)`**

@shrugs I do like both term pairs ; "proof" is probably more future proof, while "signature" will be more easily understood for a while given the current practices in the space. Action might not be general enough however, where it's not clear how the term "action" fits with the hash of an 0x order for example. Regardless, we can always change

[2018-08-06 16:47] voron commented on #55
Current python3 eth-utils implementation
[code]
Output is
[code]

[2018-08-06 17:27] shrugs commented on #1271
@phabcd if the account different support the interface, it's expected to be an EOA account that signed on behalf of itself so imo that still makes sense. Is that right, you think?

[2018-08-06 19:42] PhABC commented on #1271
With respect to what? I'm not sure I get what this is specifically referring to.

[2018-08-06 22:30] coinfork commented on #1155
@bnolan the reference implementation hasn't been audited, but it's available for anyone to review and submit issues/PRs on github. Enjin's specific implementation (which is closed source atm) is undergoing a formal audit.

[2018-08-07 02:43] mozheanquan-qiuhuadong commented on #1155
@coinfork Suggest add some interface:
interface IERC1155_CheckFungible{
    function isNonFungible(uint256 _id) external pure returns(bool);
    function isFungible(uint256 _id) external pure returns(bool);
    function getNonFungibleIndex(uint256 _id) external pure returns(uint256);
    function getFungibleIndex( uint256 _id ) external pure returns(uint256);
}
It is for general-purpose ERC1155 Wa

[2018-08-07 06:52] medvedev1088 opened #1298 "Require ERC20 token creations emit Transfer event"
Here is how the standard looks like in regards to `Transfer` event https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md#transfer-1:

Is there any reason for **SHOULD** keyword for the case when tokens are created? **MUST** here makes it much easier to track the balances of tokens.

Imagine a scenario:

1. `mint()` function was called on the token contract and 100 tokens were created and dep

[2018-08-07 07:49] MicahZoltu commented on #1298
ERC20 was a retroactive standard.  It wasn't finalized until after many tokens were launched as "ERC20".  This resulted in things being SHOULD instead of MUST because not all ERC20 tokens followed the rule, so setting it as MUST would have resultised in some tokens that were already known commonly as ERC20 tokens suddenly not being ERC20.

Because of this, the standard has many things wrong with i

[2018-08-07 08:51] drandreaskrueger commented on #650
I have tried that with the newest geth

but I get a

[2018-08-07 08:57] drandreaskrueger commented on #650
So it is not yet part of vanilla geth? Only quorum?

In quorum the switch `--ottoman` is recognized:

[code]

but then it does not sync.

Please update the hardcoded IP addresses of the bootnodes, or publish a script / list of current bootnodes. Thanks.

[2018-08-07 13:11] PhABC commented on #1271
Ah, I understand. So the idea behind having an EOA account using a signature validator contract is in the scenario where the user wants to hold its funds in EOA but does not want to use ECDSA signature scheme, hence need to use a validator contract. It's a pretty niche case, but you could imagine things like BLS signatures or other aggregation signature methods to more efficiently verify many sign

[2018-08-07 18:18] shrugs commented on #1271
I think we're misunderstood, again; I hadn't considered that case, actually.

Removing any preconditions, here is some proposed code.

[code]

[code]

[code]

[code]

and everything should cascade downwards.

So identity contracts can own identity contracts (i.e., multisigs can own multisigs) and we can encoded arbitrary validation logic as well (your identity contract would support BLS verificati

[2018-08-07 20:04] cag commented on #1161
I am fine with changing the type of the result to `bytes` contingent on `decode` getting implemented in Solidity. I don't expect developers to roll their own encoding/decoding functionality every time they want to implement this standard though, so last call for this EIP is postponed until at least then.

- [ ] Change type of result to `bytes`

---

This is probably the main trade-off for adding t

[2018-08-08 00:05] mozheanquan-qiuhuadong commented on #1155
Anyone thought about this?

[2018-08-08 06:28] mozheanquan-qiuhuadong commented on #1155
I see the function isNonFungible is support, so suggest add this function:

function getNonFungibleBase(uint256 _id) external pure returns (uint256);

For example, when emit Transfer event like:
emit Transfer(_spender, _from, _to,  _itemId, _value);
when transfer a NFT, this _itemId is a specified id, with function **getNonFungibleBase**, we can known the details of the base NFT token, like:
{

[2018-08-08 19:29] D-Nice commented on #1161
Regarding the workshop, I do not think it is fair to assume the majority were against it. I only noted one party against it, two for it (Oraclize being one of those), and the other two parties either indifferent or abstaining from it, albeit one of the abstaining has a definite usecase for the metadata as well, at least if I followed their presentation correctly.

@se3000 thanks for working on the

[2018-08-08 20:59] corbinpage commented on #1201
Thanks for the link @zemingyu, this is very interesting. We're going to investigate further. Let me know if you do a deep dive, and we'd love to discuss on a call.

[2018-08-09 04:25] nathanawmk commented on #725
Are there any ERC725-based smart contracts samples that one could leverage on?

Nathan Aw (Singapore)

[2018-08-09 07:35] aihuawu opened #1302 "lightweighted improvement over ERC20"
hi, guys:

When I go through ERC20, ERC721, ERC223, ERC777.  All are very good proposals.
I have an idea of light weighted improvement over ERC20.

Basicly, I will keep all ERC20 untouched but borrow the method from ERC721 and only add a safeTransferFrom method and inherit all ERC20. This safeTransferFrom will call something for token receiver something like that in ERC721:

/**
	 * @dev Internal

[2018-08-09 07:44] conejoninja commented on #1238
@jcksncllwy In #725 (along with #735) The claim issuer could remove the key (from their own identity) that signed the claim to revoke it.

[2018-08-09 07:46] conejoninja commented on #725
@nathanawmk In the _Implementation_ section there are a few examples : https://github.com/ethereum/EIPs/blob/master/EIPS/eip-725.md#implementation

[2018-08-09 07:50] m-schmoock commented on #725
@nathanawmk we started working on https://github.com/OriginProtocol/identity-playground/tree/master/contracts which is a good base. However their implementation suggest to use executionRequests also for `ERC735.addClaim()` which confused a bit. This can be done but the executionRequests is not meant to be used for a inter-system protocol chat function ;)

See `src/actions/Identity.js`  306ff

[cod

[2018-08-09 10:02] k06a commented on #1003
Updated theme message

[2018-08-09 10:04] chriseth commented on #744
Not an EIP.

[2018-08-09 10:04] #744 closed

[2018-08-09 10:08] mGrossSRT commented on #1155
@amittmahajan nice proposition!
Are you guys still working on the SFT? If yes, I would be interested in particpating and implementing such a token.

[2018-08-09 10:11] Alexander1984z opened #1305 "Новый выпуск"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-08-09 10:11] Alexander1984z opened #1306 "Всё хорошо новый выпуск"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-08-09 16:26] jacquesd commented on #777
@achon22 One of the reason for the MPL license was to prevent anyone from trademarking the logo. Since then, the logo has been included in the official standard under CC0 so we were actually thinking of changing the license.

Hopefully we'll get this done in the next few days. I am not a legal expert so I'm waiting on the advice of a few people about it. The intention is to make sure anyone can us

[2018-08-09 16:37] jacquesd commented on #777
@achon22 I forgot to say but if you need the reference implementation urgently, it is available on [npm](https://www.npmjs.com/package/erc777). You can always include it in OpenZepplin's `package.json` or as a submodule of the OpenZepplin's repository. That way you also get the latest version, as I am still working on it and the code base is changing.

[2018-08-09 23:03] achon22 commented on #777
Thanks @jacquesd. So far, I've been creating an implementation based off your code [here](https://github.com/jacquesd/ERC777/tree/cleanup) but haven't released it yet due to the MPL license (Open Zeppelin uses MIT). Please do let us know when you can change the license to MIT or CC0 or if you are willing to grant us the permission to include a derivative implementation of ERC777 under the OpenZepp

[2018-08-10 08:12] meisser commented on #724
There are lots of use-cases that require 0 decimals for legal reasons. For example, it is legally impossible to own 13.2 shares of a company. So if you want to properly implement shares on the blockchain, you must be able to enforce decimals = 0 with ERC-20. Otherwise, you cannot use ERC-20 tokens for shares or bonds and many other established financial constructs.

[2018-08-10 08:12] wealdtech commented on #777
@MicahZoltu at current `send` and `operatorSend` are not payable so cannot accept Ether.  Is this something we should consider changing?  I can see the use case for this.

[2018-08-10 08:14] mcdee commented on #777
(Apologies, the @wealdtech comment was from me)

[2018-08-10 10:17] MicahZoltu commented on #724
That can be implemented in the token by having it throw if a user tries to transfer a non-insignificant number of tokens.  See ERC-777 for some thoughts on this.

[2018-08-10 11:18] jacquesd commented on #777
@MicahZoltu

I agree but if you design a token where sending both ether and tokens is a common use case, you should also design an operator which handles that use case and then set it as a default operator.

Your users then just have to call a function on the default operator to do the transfer with a single transaction. With a good UI for it, the whole process should be rather friction-less and e

[2018-08-10 22:35] JamesTherien commented on #1155
Yes, this is interesting. getNonFungibleBase is not in our implementation yet. Our internal code just does the masking with a constant to get it. We do have one for extracting the index: nonFungibleIndex()

[2018-08-12 02:52] fulldecent opened #1314 "Website: show permalink on mouseover"
On GitHub, if you mouseover a H1 or H2... heading then you will see a permalink on the left which links directly to that anchor. This is helpful referencing documentation in EIPs because yon can link to the specific text that is relevant.

Now that we have switched from GitHub code repository to the EIP website as being the canonical place to cite EIPS, I would like to request the same feature the

[2018-08-13 02:33] fulldecent opened #1317 "Need a last call date for 1167"
Currently 1167 is in LAST CALL status but there is no discussion end date.

@Arachnid is there a validator or bot that could prevent such a last call being merged in the future?

[2018-08-13 03:02] shrugs commented on #1056
@bharathrao this id scheme implies that the self sovereign identity management is done on an ethereum chain supported by these contracts. You can use this scheme to manage identities that use any other technologies as well, but if you want to do on-chain verification of things (like signature verification), you'd need to write a relayer or bridge that brings that information from the ethereum chai

[2018-08-13 06:41] OFRBG commented on #1238
Reputation system are likely to be abused. Cutting the explanation and straight to the example:

On a trustless network every address should be no different from any other. I think a measured reputation system goes against what crypto should be. In other words, creating an issued-reputation ERC is opening Pandora's Box.

[2018-08-13 17:49] cgewecke opened #1319 "ERC-1319 Smart Contract Package Registry Interface"
## Simple Summary
A standard interface for smart contract package registries.

## Abstract
This EIP specifies an interface for publishing to and retrieving assets from smart contract package registries. It is a companion EIP to [1123](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1123.md) which defines a standard for smart contract package manifests.

## Motivation
The goal is to establish

[2018-08-13 21:13] xinbenlv commented on #1319
Thanks for composing this ERC, this is very interesting. I look forward to more updates on the draft. Cheers!

[2018-08-14 02:02] tjayrush commented on #1319
This is gorgeous. Thanks for posting it. Does it easily expand out to plain old-fashioned software distribution as well (or any digital content for that matter), or is there some reason why it would only apply to smart contracts? Asking out of ignorance more than anything else.

[2018-08-14 03:13] gnidan commented on #1319
@tjayrush in theory, EthPM works just fine with traditional software distribution, but it's overkill and not the use case for which it was designed.

You would include `sources` in your manifest file, as described by [EIP-1123](https://eips.ethereum.org/EIPS/eip-1123), but leave out `contract_types` and `deployments`. See also: EthPM [Use Cases](https://ethpm.github.io/ethpm-spec/use-cases.html) f

[2018-08-14 08:38] holiman commented on #1218
In theory yes, but let's say it's not actually created until block 7M, and without 'stuffing' it with old values, at what point in time can it actually be relied upon to provide such data? It will be messy if contracts have to mess about with determining if a certain blocknumber is in the registry or not, by checking against `CONSTANTINOPLE_BLOCK`, and then have to handle that situation aswell, wo

[2018-08-14 08:53] MIXAIL1987 opened #1324 "SEREBRO"
pragma solidity ^0.4.18;

// ----------------------------------------------------------------------------
// 'SEREBRO' token contract
//
// Deployed to : 0x6ec8247cdc03F336118B96f4e862b24B1F947fa2
// Symbol      : SER
// Name        : SEREBRO
// Total supply: 100000000000000000000000000
// Decimals    : 18
//
// Enjoy.
//
// (c) by Moritz Neto with BokkyPooBah / Bok Consulting Pty Ltd Au 2017. The

[2018-08-14 17:13] BelfordZ commented on #67
@alexvandesande could you please help me find an example of eip 681 that includes sending arbitrary transactions? I find the spec to be very unclear.

[2018-08-14 21:11] vongohren commented on #1132
Great proposal, was in any more feedback on this @nitika-goel

[2018-08-14 21:12] vongohren commented on #1133
Is it not another nested token ERC? I just can't remember which it was

[2018-08-14 22:03] AlexeyAkhunov commented on #1218
@holiman To solve the problem of 'stuffing', I suggest making a contract that is able to accept historical blockhashes (backwards, one by one), write them into storage, and send a fixed small payment (lets say, 0.0001 ETH) back to tx.origin if the new entry has been created. The dominant gas cost of such operation is SSTORE (20k). So 0.0001 ETH (100'000 GWei) can by 20'000 gas for 5 GWei per unit

[2018-08-15 02:56] cag commented on #1161
I tried golf-gas-testing the proposed metadata addition. I wrote the following test contracts:

https://gist.github.com/cag/ca2b2046c75bd1b001e45c16e3890226

I also used the following test data:

input type | test contents
-- | --
Single word result | 0x6c65726e65726372616d626f73616e646c61726b6f6662616279626f6f6d6572
Dynamic result (3 words/96B) | 0x000000000000000000000000000000000000000000000000

[2018-08-15 08:51] clinton81 commented on #1155
@AC0DEM0NK3Y
Agree with most of your opinion. But a small suggestion:
1. Put the base item ID in the top 128 bits of the uint256 _itemID.
2. Put the NFT id and the FT id in the bottom 128bits. The NFT in the top 64bits, and FT in the bottom 64bits.
Like this:
<uint128: base item id><uint64: index of NFT><uint64: index of FT>
A 256bits ID can just descript a NFT or a FT but not both. If the item is

[2018-08-15 09:30] karalabe commented on #225
That's a fair point. I guess when I designed the thing I though this is cleaner or more explicit. Could have been done without. Too late to change it now though.

[2018-08-15 10:06] James-Sangalli opened #1327 "ERC - Extendable Atomic Swaps"
Hi All,

**Preface**
Since writing ERC875 and being able to successfully and securely pull of atomic swaps through our standard via our wallet ([AlphaWallet](https://github.com/alpha-wallet)), I propose this standard as an idea for extending the functionality of existing standards to include basic atomic swaps.

**Motivation**
I personally believe that atomic swaps (the solution to the delivery vs

[2018-08-15 10:25] MicahZoltu commented on #777
@jacquesd Why was this exception added to the specification?  It feels like during such a migration, mint events _SHOULD_ occur as part of the migration process.  Without that, tools (like Etherscan) will struggle to properly map balances (this is currently a problem Etherscan regularly experiences with ERC20).

[2018-08-15 10:27] MicahZoltu commented on #777
To expand a little bit, fundamentally token migrations are just a new token being created with seed balances set to the previous token.  It _is_ a new token, and I think it should be treated as such which includes minting the initial token set.  Keep in mind that tokens can "fork", where two new tokens are created and both seeded with the balances of some old token.  Neither one has more "right" t

[2018-08-15 10:32] MicahZoltu commented on #777
I left a couple other minor comments on https://github.com/ethereum/EIPs/pull/1318, it is already merged so not sure if you'll see them @jacquesd

[2018-08-15 11:26] gitcnd commented on #777
#777 is being totally drowned by feature-creep.

Please can we draw a line in the sand, and kick all these crazy new ideas into their own standards.  The world of crypto moves at light-speed - and this is getting so old now that it's going to be obsolete before it's even decided, if ever.

Has anyone at all found any actual problems with the original proposal? - ones that are not related to indivi

[2018-08-15 11:31] gitcnd commented on #777
The entire concept of burning needs to be removed!  If someone wants to "burn" stuff, they can do so some other way - the next wave of tokens are going to be securities, and it is utterly inappropriate (and show-stoppingly illegal) to have methods to burn such things.

[2018-08-15 13:19] pedrouid opened #1328 "ERC-1328 - WalletConnect Standard URI Format"
eip: 1328
    title: WalletConnect Standard URI Format
    authors: ligi <ligi@ligi.de>, Pedro Gomes <pedrouid@protonmail.com>
    type: Standards Track
    category: ERC
    status: WIP
    created: 2018-08-15
    discussions-to: https://ethereum-magicians.org/t/wallet-connect-eip/850
    requires: 831

## Simple Summary

A standard way of creating WalletConnect URIs for establishing connections

[2018-08-15 15:06] jacquesd commented on #777
Thanks a lot @MicahZoltu, those PRs are merged automatically but I am taking your comments into account and it will be published when I update the standard next (I try to not submit a Pr for every typo)

@MicahZoltu regarding your comment about the exception for the `Minted` events for a cloned token. I agree fully with your view on cloned or forked tokens.  I gave it some thought and I think the

[2018-08-15 15:29] mcdee commented on #777
If the token contract represents a share and the contract deployer doesn't want shares to be burned they can disable burning.  It won't stop the same shareholder sending their shares to `0xdead` or destroying them in some other way, though.

[2018-08-15 18:48] dr-orlovsky opened #1329 "ERC-1329: Inalienable Reputation Token"
[code]

## Simple Summary
Reputation belonging to an identity is frequently used in designing repeated economic games and protect them from malicious actors. The main property of such reputation should be inalienability. This ERC proposes the standard in creating inalienable reputation tokens.

## Abstract
Standard in creating inalienable reputation tokens.

Reputation tokens are emitted and burne

[2018-08-15 18:51] alejoloaiza commented on #650
Hi, have some issues with block creation (Mining) using IBFT, I'm testing with 7 nodes, when I bring 4 nodes up wait some time (around 30 minutes) and then bring the 5th node up, there is no block creation after more than half an hour (another 30 minutes). now, if I bring all 5 nodes up at the same time block creation is happening normally.  What might be the issue?

I have given more details here

[2018-08-15 18:52] dr-orlovsky commented on #1329
The original discussion of the possible standard for reputation token and associated issues had taken place in Gitter https://gitter.im/ethereum/EIPs?at=5b6efeaf196bc60b6bb5dad3

There was a side discussion about the necessity of inalienable reputation tokens: https://www.reddit.com/r/ethereum/comments/96ocqm/erc_for_reputationtype_token/

The proposed standard design is based on a suggestion from

[2018-08-15 19:25] chompomonim commented on #777
I have feeling that for security tokens (shares) we would need different standard because ERC777 is not very good for them.

1. Securities in most jurisdictions can be transfered only to people who went through KYC. Which means that they were whitelisted somewhere. Technically transfers should be also allowed only to addresses in this `whitelist`. Such limitations stops from sending into `0xdead`

[2018-08-15 19:29] chompomonim commented on #777
But once again. Why do we have `function burn(uint256 amount, bytes data) public;` in standard but for minting just having an event is enough?

Why disabling burning is ok, but disabling operators is not ok. I would say, that if some function is in  standard, then it should be always enabled, otherwise it's really hard to build user friendly wallets.

[2018-08-15 19:30] frangio commented on #1271
Is there anything in the current EIP text that you think doesn't enable this?

***

I was going to suggest that `isSignedBy` should simply check if the signer is a contract, and not necessarily use `supportsInterface`, but I suppose this is a problem because of selector collisions, right?

[2018-08-15 20:03] mcdee commented on #777
@chompomonim Generally untrue for private transfers.  For corporate transfers an operator can be placed on the corporate holding account that confirms the recipient has gone through KYC prior to allowing transfers to proceed.

A user who wants an exchange to transfer ERC777 tokens on their behalf could set the exchange up as an operator with an allowance to transfer a specific number of tokens.  T

[2018-08-15 21:19] shrugs commented on #1271
presumably we're acting on the contract's behalf, so if it lied and said something was authorized when it wasn't, that'd be its own issue... but I'd have to take some time to think of attack scenarios.

[2018-08-15 22:09] OFRBG commented on #1329
I stand against promoting such system. In short, we are likely to end up with essentially central authorities arbitrarily granting users global "approval". What may start as a spam deterrent may end up becoming what blockchain opposes.

[2018-08-15 22:50] shrugs commented on #1271
@frangio if a contract doesn't support a method, it might just return garbage data; that's why 165 does  two calls to make doubly sure that it actually supports the `supportInterface(bytes4)` interface.

[2018-08-16 02:27] mryellow commented on #1155
On ID packing formats. I'm not the greatest bit-banger, though reading that last comment my mind went to QuadKeys. They're used to represent map tiles at different zoom levels and their parent-children relationships.

https://msdn.microsoft.com/en-us/library/bb259689.aspx

An implementation in Solidity:
https://github.com/OpenLayerOne/LayerOne-Contracts/blob/master/contracts/libraries/QuadkeyLib.s

[2018-08-16 07:08] mudgen commented on #1180
I think this standard is important functionality and I like what @mg6maciej has suggested here.

I implemented the ` getStateHash(uint256 _tokenId)` function directly in the [Mokens contract](https://etherscan.io/address/0x8e332fe4df2876cce3b9e6cab160c61ef4c31f77#code) as a way to verify that no child NFTs of a moken have been removed or added when transferring a moken.

[2018-08-16 07:11] veikkoeeva commented on #1155
@mryellow Just to point that perhaps more efficient format is https://en.wikipedia.org/wiki/Z-order_curve (and easier to undestand https://en.wikipedia.org/wiki/Geohash).

But this is an interesting direction now. If there's desire to go with least bits, towards the information theoretic lower bound, the words to use in research are [succinct data structures](https://en.wikipedia.org/wiki/Succinct

[2018-08-16 07:35] MicahZoltu commented on #777
I support removing the exception, in fact it is my preferred solution.  I would also like the additional clarity I mentioned in the PR, to prevent people from naively applying the exception thinking it is the right thing to do:

Tentative suggested wording:

[2018-08-16 11:20] ligi commented on #1328
Great! Some minor nit-picks:

I think TYPE should be removed or defined. I would vote for removing it

Btw: It is better to directly start your EIP as a PR - so one can directly write comments like the above on the corresponding line. Also You do not have this waste and overhead of having issue+pr.

I would leave out:

and properly add this when a new version is created. Otherwise this opens it up

[2018-08-16 12:10] PaulRBerg commented on #948
Just published the research I and @mmilton41 have been doing on Chronos, a protocol for continuous, recurring payments. Although it's tangent with the ideas expressed in this chat, the focus is instead on infinitesimally small payment intervals (minutes, hours, rather than months). We mentioned ERC948 and the projects working on it in our [draft white paper](http://chronosprotocol.org/chronos-whit

[2018-08-16 12:34] se3000 commented on #1161
@D-Nice it looks like the main the difference you're seeing when [comparing the price with metadata to the price without metadata](https://github.com/D-Nice/gas-tests/blob/master/test/GasABI.js#L79) [is due to the gas pricing of Ethereum](https://github.com/se3000/gas-tests/blob/master/contracts/DynamicDynMetaConsumer.sol#L25), not the difference in proposed interfaces. Typically in Ethereum usage

[2018-08-16 13:16] se3000 commented on #1161
Taking a step back, there was a question only briefly touched on at the workshop, which I think it'd be helpful to hear from the wider community: **should an Oracle send data that it can see is false?** It seems to me that it should be the Oracle's responsibility to ensure the data they are sending is correct, so if there is a proof to run on-chain, they should verify it before passing along data.

[2018-08-16 17:07] cag commented on #1161
@se3000 Thanks for the optimization! I see that it uses the same implementation strategy as what you've originally posted (my derp). I'll update the table accordingly...

- [ ] Update table with new measurements using more efficient implementations.

With that said, it seems the dominant gas cast comes from the size of the data itself, and not from the parsing of said data.

---

Arguably, this in

[2018-08-16 20:32] pedrouid commented on #1328
@ligi I've made a few changes and submitted a PR

[2018-08-16 22:11] fulldecent commented on #721
I have read the article. And like I said, "If you have a complaint/idea, please reformulate into a question with a specific use case, then go to -> https://ethereum.stackexchange.com/questions/tagged/erc-721".

There is nothing in the article that motivates me to change that stance.

[2018-08-16 22:53] chencho777 commented on #223
ERC777 has been built to solve some of the shortcomings of ERC223. Please have a look at it:

http://eips.ethereum.org/EIPS/eip-777

[2018-08-17 04:46] maxsam4 commented on #1132
I agree with @thekrol01 that we should refrain from editing the standard function. https://github.com/nitika-goel/lockable-token/pull/5 is an updated implementation which kinda works as an interface without touching the standard functions.

An example of a token that implements this is https://github.com/somish/govblocks-protocol/blob/Locking/contracts/GBTStandardToken.sol

We can't expect the exi

[2018-08-17 07:46] davesag commented on #1132
@nitika-goel You've since addressed the issues cited above.  Maybe update this Issue with the latest interface and raise a PR in regards to this issue.

[2018-08-17 08:07] sabina-sa commented on #1329
I see that by design the proposed reputation token can only take positive values. You can always throw away your private key and start anew. So, there is no way to discriminate against someone, putting him to a position worse that than of a newcomer. Only rewards are gathered long-term.

[2018-08-17 08:29] duncanwang commented on #1155
Can ERC1155 be used for shopping scenario ? For example, a custom buy many NFTs one times paying with ERC20 tokens. Or exists any other solution ？

[2018-08-17 08:30] duncanwang commented on #875
Can ERC875 be used for shopping scenario ? For example, a custom buy many NFTs one times paying with ERC20 tokens. Or exists any other solution ？

[2018-08-17 08:31] duncanwang commented on #875
Can ERC875 be used for shopping scenario ? For example, a custom buy many NFTs one times paying with ERC20 tokens. Or exists any other solution ？

[2018-08-17 09:10] James-Sangalli commented on #875
@duncanwang You mean purchasing ERC875 non fungibles with ERC20 tokens rather than ether?

[2018-08-17 09:26] tenthirtyone commented on #1329
Why would we tie reputation to a token when all of the actions of your account is public, including your asset holdings, trades, etc, which are forms of reputation in themselves. Wouldn't it make more sense for ideas to compete and for organizations seeking reputation systems to decide for themselves which 'ingredients' are important to them for reputation?

I don't get centralization standards li

[2018-08-17 10:34] dr-orlovsky commented on #1329
@tenthirtyone, how do you link this standard with centralization? By the same logic, ERC20 tokens are centralized by their emission model (smart contract). Reputation tokens are issued according to some rules, and if you don't accept the rules, don't participate in this smart contract, what's the problem? The same way you can avoid participation is scammy ICOs with hidden issuing rules...

[2018-08-17 10:46] OFRBG commented on #1329
@dr-orlovsky I coincide with @tenthirtyone. If you *really* want to push reputation badges, I would require the emitters to encrypt the data with their private key before transacting. This is seriously messed up and freely comparing it to the Chinese reputation system only makes it worse.

[2018-08-17 10:46] AnthonyAkentiev commented on #1329
We at Thetta.io support this initiative.

## In our opinion
1) Reputation SHOULD NOT be transferrable.
Still, this does not protect us from issuing some *transferrable* derived token on top of it.
2) Reputation CAN be burned to zero.
Of course in this case it can be used as a stake.
Also, we use that feature in scenarios where you can "cash out" your reputation and swap it to some other tokens. "C

[2018-08-17 12:10] larspensjo commented on #1329
The Motivation and Rationale explain why a *non-tradability* token is needed and why it should be implemented as proposed. However, it should really explain why an ERC standard is needed.

The reason an ERC standard is needed is when there is a third party that generically should be able to manage or query any token adhering to the standard. If so, a common API is needed. E.g. the ERC-20 is needed

[2018-08-17 12:12] dadeg commented on #1329
How does this sort of system handle Sybil attacks? I imagine that anybody could create a second account, then assign a bunch of reputation tokens to their original account, thus making themselves appear very reputable. Or is the idea that a centralized authority (the owner of the contract) is the only one who can grant reputation to a user?

[2018-08-17 12:13] OFRBG commented on #1329
@AnthonyAkentiev Reputation is a very slippery slope. As you mention, your college might have 120 points of whatever skill, but who gave him those points? This takes us back at central authorities emitting reputation points, thus fostering a new generation of TSA-companies.

Like @dadeg mentions, you either end up with trusted third-parties who become gatekeepers or risk Sybil attacks.

[2018-08-17 12:25] dr-orlovsky commented on #1329
I'd like to emphasize that is not a replacement for usual tokens with economic value and market price, in no way! It's an addition on top to them, that is _sometimes_ (not always) needed to build provable-secure incentivisation system (having Nash equilibrium in a way that is required by the protocol)

[2018-08-17 12:26] sabina-sa commented on #1329
@OFRBG That comparison to SNN would stand if I could easily discard my SNN and get a new one every day. A better comparison, in my opinion, would be e.g. a supermarket loyalty card.

[2018-08-17 12:29] OFRBG commented on #1329
@sabina-sa I don't know if that was possible originally; discarding and renewing the SSN. Nevertheless, it became ubiquitous to the point that discarding it, even if theoretically discardable, would result in a myriad of incompatibilities across the board.
Your example of the supermarket loyalty card still supports my point: think of a loyalty card that becomes to popular and widely accepted that

[2018-08-17 12:36] sabina-sa commented on #1329
@OFRBG SNN is something very centralised. It is backed by government’s use of force, it is backed by police and courts. This monopoly is its source of trouble, not the use numbers to track people. On the other hand, your local gym probably gives a number to each member. Should we really bar it from doing so, because we fear it will become SNN?

[2018-08-17 12:39] AnthonyAkentiev commented on #1329
@OFRBG

If you have the smart contract THAT IS ONLY capable of increasing one's reputation -> then you (of course) should trust it. And you can verify that the smart contract increased rep. only as intended (for example if your collegue completed 12 tasks -> smart contract assigned 120 rep to him). In this example there is no possibility for the collegue to issue reputation, only smart contract ca

[2018-08-17 12:44] dadeg commented on #1329
I don't see why blockchain storage is necessary for international tracking of users.

[2018-08-17 12:46] dr-orlovsky commented on #1329
@dadeg it does not aims at user tracking at all! It has completely different goals described in the standard: building specific types of economic games where you need reputation (see https://ncase.me/trust/ for instance)

[2018-08-17 12:51] sabina-sa commented on #1329
@dadeg IMO, the most logical way to handle reputation would be to let the contract assign reputation for certain observable actions, automatically.

[2018-08-17 12:51] OFRBG commented on #1329
@sabina-sa Ethereum has institutions akin to "governments". Many users will blindly trust whatever Consensys or Parity publish. The original card of the SSN literally stated not to be used as an identification. If a company such as Consensys, Parity, Etherscan, MEW, or Augur start giving out "trusted" user badges, that wouldn't be that different from the aforementioned case.

@AnthonyAkentiev Say

[2018-08-17 12:58] sabina-sa commented on #1329
@OFRBG >If a company such as Consensys, Parity, Etherscan, MEW, or Augur start giving out "trusted" user badges, that wouldn't be that different from the aforementioned case

[2018-08-17 13:04] dr-orlovsky commented on #1329
@OFRBG by the very same logic ERC20 snowballed into investors and led to plenties of scam projects and millions lost. The risk of misuse or some possible scams (either privately or government-organized, like reputation system in China) is not an argument against standardising some common practice.

[2018-08-17 13:07] dr-orlovsky commented on #1329
@OFRBG It's not about trusting/distrusting some entity at all. There is no "objective/global" reputation and this standard is not about it. It's about how to count points that accounts protocol-following behaviour that can be used in arbitrating complex cases of Byzantine faults in protocol lately which does not have a direct algorithmic solution.

[2018-08-17 13:31] AnthonyAkentiev commented on #1329
@OFRBG I am no longer able to continue the conversation with you (out of time, sorry). I described my position above.

[2018-08-17 13:39] AnthonyAkentiev commented on #1329
@OFRBG but i suggest looking at how DAO works. In this case there is "source of knowledge" (Oracle or group of people through the voting) that approves that "task is complete" or "task is not complete".

There IS clearly mechanisms on how to confirm that someone has completed the task or start the Dispute Resolution process. That is what we are doing in Thetta.

[2018-08-17 14:17] andreysobol commented on #1329
@dadeg

Owner of the contract can be another smart contract

[2018-08-17 14:19] OFRBG commented on #1329
@AnthonyAkentiev I do think that a DAO with oracles can circumvent this issue, but I think there are many people who aren't too fond of relying on them. Personally I'm concerned about endorsing something with a small benefit and huge risk.

[2018-08-17 14:50] PhABC commented on #1155
I would like to reemphasize the proposal that ID specific logic should be a separate ERC, since it can be used with many different token standards and token contract interfaces (ERC-998, ERC-721, ERC-1155, etc.). Then ERC-1155 is about the interface for multiple classes of tokens, with functions like `transfer(to, type, amount)`. Or, perhaps ERC-1155 is a standard for contracts that both implement

[2018-08-17 15:28] dr-orlovsky commented on #1329
@OFRBG nobody is forcing you and nobody can force you. But you should not prevent because of some fear others from doing what they do, until you are not forced by them. And this is clearly not the case.

[2018-08-17 15:51] trigun0x2 opened #1332 "ERC-1332: Global Messaging Hub"
[code]
# Simple Summary
This a proposal for an open standard for smart contract to user notifications.
# Abstract
Smart contracts will make an external call to the message hub (will now be referred as Shout) with the appropriate data. The initial version of Shout expects these messages to be ephemeral, low cost and does not promise privacy. Third parties can then call Shout functions to retrieve m

[2018-08-17 16:00] trigun0x2 commented on #1332
Requesting feedback: @danfinlay

[2018-08-17 16:14] askucher commented on #1329
In order to control this token you still need to use the private key, don't you?

If yes - why the simple address does not work? As you said ` the private key gets compromised`

if no - how it is possible to manage this token?

[2018-08-17 16:52] danfinlay commented on #1332
Hi @trigun0x2!

I like how you've kept "what gets delivered" very open ended, and so I guess a lot of the final spec will fall on different clients to define how they deliver messages. I basically agree with the idea you've laid out, a new permission Dapps can request, for the client to track its messages.

As for the message schema, I know platforms can vary a lot as far as what they allow, like

[2018-08-17 19:51] Arachnid commented on #1329
Assuming that an address is equal to an identity is a terrible idea. At best this will result in people deploying contracts that accumulate reputation and are themselves transferrable; at worst, it will discourage people from migrating to more secure accounts (eg, ones protected by hardware wallets) for fear of losing their reputation.

[2018-08-17 21:43] askucher commented on #1329
Does not mean that migration to another account can be a hidden sale of reputation?

[2018-08-17 21:49] dadeg commented on #1329
Also a person could sell their private key to another person.

[2018-08-17 22:33] dr-orlovsky commented on #1329
@askucher @dadeg that is all already addressed in this proposal. I heard @Arachnid critics in Gitter and I have taken @andreysobol proposal which solve this problem: there are two-tier address/key system. Citing from the spec above (Rationale section):

[2018-08-17 22:46] Hackdom commented on #1319
@gnidan unless we're migrating software registries to blockchain as whole right? I think a case can be made about this serving as a foundation to a much larger ecosystem.  :)

What is the status of any of the web3js or any other current web3 api adopting this if we know? Are they going to wait for this to move up in status beforehand? Also, I haven't looked, but just want to verify that the ethpm

[2018-08-17 22:53] dr-orlovsky commented on #1329
No, he couldn't. Otherwise, there were a private key market for bitcoin wallets.

Why a private key can't be sold? Because there is no guarantee that the seller destroyed the key original and will not do some actions (malicious) on behalf of the new owner having nothing at stake. It's the basics!

https://www.reddit.com/r/Bitcoin/comments/74louv/selling_private_keys_vs_selling_bitcoin/

[2018-08-17 22:55] dr-orlovsky commented on #1329
@askucher

No. It can't. Because if you sell the secondary/temporary address you can't guarantee to the buyer that you would not replace it at any moment.

[2018-08-18 00:29] cgewecke commented on #1319
Hi @Hackdom :)

+ A Web3.js module is part of the work [EthPrize](http://ethprize.io/) is sponsoring at [EthPM](https://github.com/ethpm).  We've talked to the maintainers at Web3.js and have their encouragement as well as advice about how to structure the API and integrate with an ENS library they're rolling out. There should be substantial progress on that over the next month.

+ There's active

[2018-08-18 06:54] akolonin commented on #1329
Hi @dr-orlovsky and guys, interesting project - check if this design could be useful: https://arxiv.org/abs/1806.07342

[2018-08-18 06:55] akolonin commented on #1329
We are approaching this direction from "liquid democracy" perspective: https://www.youtube.com/watch?v=48XEGcHgi68

[2018-08-18 06:57] akolonin commented on #1329
There is a concept of "Reputation Agency", with possibility of multiple agencies of the kind reaching consensus about reputation state in distributed manner: https://medium.com/@aigents/reputation-system-design-for-singularitynet-8b5b61e8ed0e

[2018-08-18 09:48] dr-orlovsky commented on #1329
@dadeg First, you intermix terms, playing with words. Reputation discussed here is not a "generic" reputation, but an algorithm of accounting for specific types of actions according to some very narrow economical game. Second, you can, of course, find an on-time "stupid" buyer on your private key, but you can't create a market for private keys. Otherwise, it was already existing.

[2018-08-18 10:52] dadeg commented on #1329
There is a difference between a Bitcoin address that holds coins which are easily transferred and this reputation which is described as inalienable. There absolutely would be a market for private keys since that would be the only way to acquire the reputation without earning it. Also, due to the nature of reputation, once it is bought, it is likely to be abused by the buyer and thus ruined. So the

[2018-08-18 12:25] andreysobol commented on #1329
But seller can sell reputation to 10 buyer in one-time, so each bayer can not trust seller.

[2018-08-18 12:29] andreysobol commented on #1329
@dadeg

But seller can sell reputation to 10 buyer in one-time, so each bayer can not trust seller.

We can set condition "isContract==false"
https://ethereum.stackexchange.com/questions/15641/how-does-a-contract-find-out-if-another-address-is-a-contract/15642

[2018-08-18 12:59] duncanwang commented on #875
@James-Sangalli yes

[2018-08-18 14:45] askucher commented on #1329
You rejected my idea about reputation over the address but I think that it is possible to put 1 million on the address as a confirmation that private key is safe and not compromised. I am ok that you reject but I would like to understand the reason which makes sense for me.

[2018-08-18 14:54] dadeg commented on #1329
You can't use extcodesize to determine if the caller is a contract. In a contract's constructor that would return 0.

[2018-08-18 21:31] dr-orlovsky commented on #1329
@askucher

Can you elaborate on that in more details? I don't get the idea

[2018-08-18 22:32] zalyfowi opened #1336 "fomo3d"
[code]

[2018-08-18 22:33] #1336 closed

[2018-08-19 08:24] OFRBG opened #1339 "Listener Functions"
[code]

## Summary
Allow users to pay gas upfront and execute the call until a specific event has been triggered.

## Abstract
Allowing developers to attach a conditional call to Ethereum events or other functions would prove useful. In order for this to work, the call needs to be done like every other on the mempool, except that miners are required to include that call if and only if the target e

[2018-08-19 08:53] dr-orlovsky commented on #1329
@Arachnid,

This can be mitigated by linking reputation address to `tx.origin`, not `msg.sender`

That's why we proposed a system with two levels of addresses

[2018-08-20 04:16] jllaw commented on #777
Just wanted to introduce myself to the community.  I'm a corporate/securities attorney (no technical background) who's thought a lot about how to bridge the gap between practical realities of legal/finance requirements and limitations of current implementations of blockchain technology.  Hoping to be able to keep up with you all and add thoughts where I can.

[2018-08-20 14:03] colourful-land commented on #780
First observing this in March, then now, the contract sitting on the mainnet didn't receive any transactions.

My guess is: being an open registry, the purpose (key, value), work flow (claim, validation, expiration, replacement, update, revocation), semantics (I propose it's true; I know the speaker is true; I know the statement is true; I confirm what proposed is true†) wasn't defined yet, and pe

[2018-08-20 14:03] colourful-land commented on #780
There is a huge privacy concern: the more claims there are about a subject, the less privacy the subject enjoys. This works to the advantage of detecting fraud (user 0xxxxx is a scammer) and disadvantage to heavy users.

For example, a subject who, as claimed, to be of 18 years old in order to buy a beer, to be of a non-US citizen in order to participate some ICOs, to be of a Computer Science grad

[2018-08-20 14:37] James-Sangalli commented on #875
@duncanwang this feature is not implemented as is and would be a bit tricky to do, but it is probably possible.

[2018-08-20 17:33] w7788129 opened #1340 "@w7788129"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-08-20 17:46] davux commented on #780
@colourful-land The right solution for correlation issues is managing multiple identifiers. A famous system that uses that approach is Bitcoin. Another one is Sovrin, based on Hyperledger Indy.

[2018-08-20 21:01] macalinao opened #1341 "ERC-1341: Ethereum Web Tokens"
[code]

## Simple Summary

JWTs signed using Ethereum addresses.

## Abstract

Ethereum web tokens (EWTs) are a subset of JSON web tokens that are signed using Web3. They provide all of the benefits of JWTs while also using Ethereum's cryptography system.

## Motivation

There are many use cases out there for authentication, including:

- Standardizing authorization to permissioned ERC721 metadata

[2018-08-20 21:32] negedzuregal commented on #780
Hi guys,
Are there any thoughts for off-chain claims that can be selectively broadcasted?

**Example:** say we want to distribute a reward between many users.
One way to go about it is that the organisers will make many txs to publish claims for winners (the claim is that a particular user is a winner).
Another possibility is that the organisers sign claims and publish them off chain. The winners

[2018-08-20 23:51] jaycenhorton commented on #820
Although I have no issues following along with the 820 repository, this page ([and this one](https://eips.ethereum.org/EIPS/eip-820)) offers up a few confusing things that are out of sync with the repository:

Official deployment address:
From the repository: `0xda83F1A8e9506Ec973DBfD6090fE17EB91eE7BF4`
here:  `0x91c2b265ece9442ed28e3c4283652b1894dcdabb`

Deployed contract:
From the repository: `0

[2018-08-21 08:32] MicahZoltu commented on #1329
@dr-orlovsky Linking reputation to tx.origin is an even bigger problem IMO because it means only accounts can hold reputation, not multisigs, recoverable wallets, etc.  If holding reputation has any tangible value (meaning it is something worth stealing where possible) then restricting users such that they cannot secure their assets using advanced techniques like multisig or 2-factor wallets will

[2018-08-21 08:52] MicahZoltu commented on #1341
Is there a reason to not just use straight JWT?  I would like to see some arguments included in this EIP on how JWT _fails_ to solve the problem at hand and why we need a new standard.

[2018-08-21 08:53] rmeissner commented on #901
@k06a has there been any progress on this? It would be nice to bring this forward now to have a chance that this is picked up for the next hardfork

[2018-08-21 08:59] k06a commented on #901
@rmeissner we need someone familiar with EVM codebase to add necessary opcodes first. Than add Solidity support.

[2018-08-21 09:12] caesarchad commented on #225
This is just fantastic, I Love your guys. Finally i can figure out how does Clique do

[2018-08-21 10:05] rmeissner commented on #901
Ohhh didn't see that :D
https://ethereum.github.io/yellowpaper/paper.pdf starting page 28 you see all opcodes.
Another way would be to look at an implementation (e.g. https://github.com/ethereumjs/ethereumjs-vm/blob/master/lib/opcodes.js)

I would change `tx.gas` to `msg.gaslimit`as @flygoing  was proposing (to get the gas available for the current call)

Based on that I would propose the followin

[2018-08-21 10:30] k06a commented on #901
Nice 👍What do you think about adding also `block.gaslimit`?

[2018-08-21 10:38] rmeissner commented on #901
That already exists. See https://solidity.readthedocs.io/en/latest/units-and-global-variables.html

[2018-08-21 10:41] k06a commented on #901
@rmeissner thanks! Missed it for some reason.

[2018-08-21 11:52] rmeissner commented on #901
@k06a will you create PRs for this? Else I would try to do that tomorrow.

@Arachnid are there any additional information necessary for the EVM part?

[2018-08-21 14:05] wuya666 commented on #223
I'm not sure but why do you remove the approve method? From what I understand approve is not just for contracts, it's also designed to work for people, where you can approve a fellow a certain amount of your token and then increase or decrease the allowance any time you want, instead of sending the token to him/her directly.

Also the lost token doesn't look like a real issue anyway, I think one t

[2018-08-21 14:11] wuya666 commented on #677
It seems there's some info missing in the tokenFallback function? With a contract designed to receive incoming token transfers and  implementing the tokenFallback function, it will get notified when some token is transferred to it, but how will it know WHICH token it receives?

For example a token wallet contract that can hold multiple tokens, when the tokenFallback function is called, how does it

[2018-08-21 14:25] enriquejr99 commented on #677
@wuya666 the receiver can use `msg.sender` to look up the token address.

Note that for the receiver, `msg.sender` is not the user who submits the tx but the contract who called the `tokenFallback`, that's why we pass the msg.sender address with the `tokenFallback` function so that the receiver can know who (i.e. user) made the tx.

User calls `transfer` on the token contract.
Token contract calls

[2018-08-21 14:35] k06a commented on #901
@rmeissner I think this PR should be yours according to the info you provided.

[2018-08-21 15:17] horca17 commented on #650
Is there anyway, using ISTANBUL OPTIONS: --istanbul.requesttimeout value & --istanbul.blockperiod value, change the time block creation? As a default, mine time is 1sec, I would like to increase it to 10sec, thanks.

[2018-08-21 15:35] jbaylina commented on #777
@MicahZoltu @mcdee @jacquesd: For the cloned I would just remove the exception. As @MicahZoltu  says, a Cloned token already "existed" as part of the original token. In the case of the Minime, for example if you get the balance of a cloned token for a block before the cloned token was created, it will give you the balance at that block.

[2018-08-21 17:46] DaveAppleton commented on #777
By including this you are pushing a class of asset backed tokens out of ERC777 unless of course somebody can suggest how to implement it for a token with a built in fee mechanism..

See GOLDX : 0xeAb43193CF0623073Ca89DB9B712796356FA7414 it has a 2% per annum fee mechanism built in (plus a reward distribution mechanism). The balances are calculated rather than directly taken from storage. Including

[2018-08-21 18:29] mcdee commented on #777
@DaveAppleton in that situation the fee could be redirected to a separate account rather than burned, in which case the token could be ERC-777 compliant.

[2018-08-21 18:35] MicahZoltu commented on #777
@DaveAppleton I am not seeing how that statement creates a problem?  When the fee is charged, you simply fire a burn event.

Perhaps you are arguing that a continuously compounding fee isn't _fixed_ in state until someone touches the contract (or does an `eth_call`) in which case the `balanceOf(...)` sum wouldn't match `totalSupply()` because someone needs to trigger the actual burns (which won't

[2018-08-21 18:42] DaveAppleton commented on #777
Indeed - being a `calculated` balanceOf` the burn does not happen until a transaction hits the account in which case the calculated amount is written.
A call simply runs the calculation and returns the calculated amount.
And, of course, when you have some tiny accounts, it is not economic for us to trigger the burns.

With GOLDX we needed totalSupply
* to be ERC20 compliant
* to ensure that we hav

[2018-08-21 19:00] MicahZoltu commented on #777
I really prefer avoiding the use of SHOULD wherever possible.  For a standard, it doesn't provide much value because people cannot code against a should any more than they can code against Internet Explorer 6 when they implement whatever they want.  Anything that is a SHOULD is _effectively_ not a meaningful part of the standard, it is just a "best practice" suggestion.

The removal of total suppl

[2018-08-21 19:05] DaveAppleton commented on #777
❤️

[2018-08-21 19:49] thegostep commented on #777
I would like to propose the following functions for processing batch sends from a single address. This would address the current difficulty of doing nonce management for asynchronous transactions from a single address. This would be useful for any exchange or dApp processing multiple token transfers from a single address.

Expected behaviour is to revert if any of the send operations fail.
`functi

[2018-08-21 19:57] MicahZoltu commented on #777
For any user sufficiently advanced enough to be doing batch sends, I feel like a wallet contract is a better (more generalized) solution to that problem.

[2018-08-22 14:07] meronym commented on #965
Well done! There are a few typos in the method definitions and subsequent calls: `signerOfAggrementCheque`, `sendByAgrrement`.

[2018-08-22 16:00] macalinao commented on #1341
Hey @MicahZoltu ! EWTs are a *subset* of JWTs, meaning that they are fully compatible with the existing standard. I have not reinvented JWT, and I stated in the EIP that we should build on top of the existing standard.

The traditional JWT algorithms do not use Web3 to sign messages, meaning that there is a back-and-forth needed to actually generate a JWT showing that you own your address. This is

[2018-08-22 17:47] coinfork commented on #1155
The EIP 1155 write-up here and in the repository has been cleaned up and updated with full documentation of every method. @PhABC I think it makes sense to put the ID specific logic into a separate ERC, as the ERC-1155 standard can be purely about the smart contract interface and behavior.

With that in mind, do we have any further thoughts or concerns about the current revision (OP)?

[2018-08-23 09:06] wturyn-cf commented on #223
Is `Transfer` event from ERC223 compatible with `Transfer` event from ERC20? The signature is different in ABI.

[2018-08-23 20:46] zsfelfoldi commented on #1218
I also have a small extension proposal for this EIP: I think we should add the current TD (total difficulty) value to this contract. The main reason I'd like to champion this EIP is because it enables trustless checkpoint syncing of light clients. This process would look roughly like this:

- pick a server node with the highest advertised TD
- download the end of the header chain (a section which

[2018-08-23 22:17] bluerosss commented on #777
Thanks/merci @jacquesd and @jbaylina !
ERC777 is amazing and according to me, is the future Ethereum standard, because of powerfulness, security and scalability. ERC777 brings many great features for future. First ERC777 token is already released and looks amazing : CALL (by GlobalCryptoAlliance GCA). Everything to be a future great currency and ready for mass adoption with high scalability. ERC77

[2018-08-24 01:50] bitsanity commented on #223
@wturyn-cf - Ethereum does not allow to overload events, so one has to pick one Transfer definition or the other.

In order to claim ERC223-compliance one _should_ use the ERC223 definition. But most popular services, tools and exchanges expect the ERC20 version.

[2018-08-24 09:16] rmeissner opened #1350 "Secure DelegateCall"
---
eip: TDB
title: Secure DelegateCall
author: Richard Meissner (@rmeissner)
category: Core
type: Standards Track
status: Draft
created: 2018-08-24
---

### Specification

Adds a new opcode at `0xf6`, which is identical to `0xf4` (delegatecall), but doesn't allow to execute `0xff`(SELFDESTRUCT).

### Motivation

The use of proxy contract is increasing and with this the use "master copies" with co

[2018-08-24 12:13] PhABC commented on #1155
It looks great @coinfork! The one concern I have after talking to a few people about this is the amount of optional functions. We had the same problem with our interface design, but not sure how to best address this. Will optional functions be ignored by most, hence making them "non-standard"? If people implement all different subset of optional functions, do we have a "standard" at all? Is using

[2018-08-24 15:02] frangio commented on #1350
I agree something like this would be very valuable. However, the specification needs a lot of work.

If I'm understanding correctly, this would make any attempt to execute `selfdestruct` throw an exception when reached through a `0xf6` opcode. As a consequence, the caller cannot be selfdestructed. This might be valuable in some scenarios but the stated motivation of the EIP is the opposite: that t

[2018-08-24 15:27] rmeissner commented on #1350
So my motivation was to prevent that a master copy can be suicided.

We have a master copy which allows the use of delegate calls. While the master copy itself has no way of calling `selfdestruct` it is theoretically possible to call it via a delegate call. Therefore we have to bring the master copy in a state that this is not possible and we should proof that it is not possible to call `selfdestr

[2018-08-25 13:20] filips123 opened #1354 "Idea: Interacting with contracts without spending gas"
## Summary

A way to interact with smart contracts (read and write) without spending gas.

## Abstract

Currently, only read functions of smart contracts are free, but they can not change data. Gas is needed for other (write) interaction with smart contracts. This could be the problem, because users of đApps must have enough Ethereum for their usage. This is not good for new users of đApps because

[2018-08-25 19:42] filips123 commented on #1354
Yes, but there should be some "official" solution or recommendation. There could also be some way to interact with both blockchains at same time.

[2018-08-26 02:45] OFRBG commented on #1354
Gas is vital to avoid spam attacks and keep the economic mechanism running. There are other proposals to do what you are suggesting via delegated gas spending i.e. the DApp owner or a third-party pays for the transaction. See #1228 for example.

[2018-08-26 14:35] clinton81 commented on #1155
@coinfork  In my project, I found that EIP1155 can be a smart contract that manages big-classes and sub-classes. In this way, many projects can share a same 1155 without having to deploy the contract over and over again. The big-classes can represent one project. And the sub-classes can represent fungible, nonfungible in the project. For example, many game projects can share a single 1155, just ne

[2018-08-27 20:05] chompomonim commented on #965
@meronym thanks for pointing typos. I just fixed them.

[2018-08-28 00:36] atonb117 commented on #1155
@clinton81 I'm interested in seeing your example of big-class/small-class interface implementation.

[2018-08-28 10:27] aneequesafdar commented on #225
@karalabe  In the Attack Vector: Censoring signer it is mentioned K = `floor(SIGNER_COUNT / 2) + 1` prevents a signer from censoring votes, would K > `floor(SIGNER_COUNT / 2) + 1` offer better security? let say if K = `SIGNER_COUNT` doesn't that mean an attacker would need 100% of the signer to launch an attack? Also since it is a PoA doesn't it also make sense to just have 1 signer proposing bloc

[2018-08-28 10:40] karalabe commented on #225
@aneequesafdar It's a tradeoff between security and usability. Making `K` == `SIGNER_COUNT` would indeed be the most secure option, but then if one signer goes offline, your chain gets stuck because only that single signer is allowed sign the next block. The reason I chose 50% is because that's what the PoW guarantees too.

If a signer proposes to add someone, and afterwards proposes to not add th

[2018-08-28 14:54] SergioDemianLerner commented on #223
I think this standard lacks one more method to token receivers:

function isERC223Compatible() pure returns (bool)

The reason is that many contracts allow other contracts to register in order to receive tokens later (for example, a syndicated investment contract). This contract must detect if the registered address is able to accept future deposits in ERC223 tokens, but it cannot know this in adv

[2018-08-28 14:58] lsaether commented on #1354
@filips123

#1228 or #1077 is likely what you're looking for.

These standards do not try to make smart contract interaction "free" but rather provide a way for a third party to pay the gas costs on behalf of the users. Depending on how DApps integrate this into their UX, it would seamlessly feel to the user that interacting with smart contracts are free. The way it works is that users sign messag

[2018-08-28 15:06] lsaether commented on #1332
This reminds me of an old PoC of an[ Emailer smart contract ](https://github.com/lsaether/Emailer.sol/blob/master/Emailer.sol)I put together a while ago. The idea was that it would enable someone to set up a server which would watch for events from the Emailer contract and send an email with the message in the log. The fields that I used for this were `sender`, `recipient` and `msg.` I see that yo

[2018-08-29 06:35] madhavanmalolan opened #1361 "ERC 1361 - ETHPay : Standardized AppLinks for signing ETH transactions using an installed wallet on mobiles"
[code]
## Simple Summary
Proposing standardizing the `ethpay://` URI (AppLink) so that native app developers can invoke user's wallets to sign transactions.

## Abstract
Proposing a simple mechanism that will allow developers to build DApps as native apps without having to maintain the users' wallets/private keys. DApps today are built primarily on the web because of the access to Web3 injections,

[2018-08-29 16:57] trigun0x2 commented on #1332
@lsaether the benefit of a standard if mostly for the third-party services that deliver the message to the user.
For example: Metamask can now have a central hub for all the messages such that it is much easier to fetch/delete messages.
The final goal here is that any ETH dev can tap into these last mile notification services by just adding a line into their smart contract code.

[2018-08-29 17:01] trigun0x2 commented on #1332
@danfinlay Thanks a lot of the feedback!
With regards to message schema, I was hoping the `optional` field would take care of most app specific cases and I've only included what I believe is core to all messages.
After chatting with @expede, I may make some changes on the template storage side of things. Integration with Radspec would be great, I have to chat with Aragon a bit more. My current sol

[2018-08-29 21:11] jacquesd commented on #820
@jaycenhorton @gitcnd we are still working on ERC820 and because of the nature of the deployment method used, any change to the registry contract implies a change of address.

The addresses you mention are probably old versions deployed for testing purposes and **should not be used**.

The actual address is indicated in the latest draft of the standard at https://eips.ethereum.org/EIPS/eip-820 as

[2018-08-29 22:12] vittominacori opened #1363 "ERC-1363 Payable Token"
[code]

## Simple Summary
Description of a **Payable Token** compatible with the ERC-20 definition.
Also description of a Token **Receiver** and/or **Spender** that accepts Payable Token payments.

## Abstract
The following describes standard functions a token contract and contracts working with specified token can implement to make a Token Payable.

## Motivation
This proposal allows to implement

[2018-08-31 06:35] clesaege commented on #792
You can review the evidence standard proposal https://docs.google.com/document/d/1AsGt_Am2rbZwCd6FULfl4ssMIlo_WZVhjo8V7ZFztmo/ . If there is no issues found we'll submit it as an ERC.

[2018-08-31 10:55] nathanawmk commented on #725
Hey all, am looking to extend DIDs for devices/machines and to be incorporated as specs. One could sort of piggyback existing supply chain standards for it. Please refer to https://github.com/w3c-ccg/did-spec/issues/100

Would be keen to work with anyone who is keen. Self-sovereign identity for devices/machines for a decentralized, trustworthy and transparent supply chain.

Nathan Aw

[2018-08-31 11:00] frozeman commented on #725
There is now a erc725 alliance, maybe this is something to be worked on in there: https://erc725alliance.org/

Kind regards,
Fabian
On 31. Aug 2018, 12:55 +0200, Nathan Aw <

[2018-08-31 11:41] nathanawmk commented on #725
Hi fabian, am keen to build on the great work you and your team have already done. I am based out of Asia, specifically, Singapore, a financial hub known for innovation. Am looking at extending erc725 with a focus on a range of attestation techniques bridging the enteprise space with private etherum space such as quorum. I made a pull request. Hope to have the pull request accepted.

https://ether

[2018-08-31 17:08] shrugs commented on #1361
for `sendSignedTransaction` (maybe, `signAndSendTransaction`?), Would we not want the wallet app to redirect back to the original app after sending? I expect the original app would want information like a transaction hash.

[2018-09-01 12:37] MohamedLEGH commented on #1035
I agree with @MicahZoltu , I think we should allow any Ethereum transaction to have gas payment delegated, with no need of in contract function. I think this proposal is related to #1228 and #865  .

[2018-09-01 19:58] Dobrokhvalov commented on #1361
I like the idea. However, there is an issue when multiple apps support the same URI scheme on iOS - https://stackoverflow.com/questions/13130442/multiple-apps-with-the-same-url-scheme-ios#13130479

One possible workaround can be using a dedicated website where user can choose his wallet. Something like this - https://www.youtube.com/watch?v=GMXEOdlR9L8&feature=youtu.be

We also have similar discus

[2018-09-01 23:17] rstormsf commented on #1035
If someone is looking for ETH, ERC20 batch sender - feel free to use:
https://rstormsf.github.io/multisender/#/

[2018-09-02 03:26] madhavanmalolan commented on #1361
@shrugs I think that's a fair point. I imagined the apps to send tracking information in `data`. But there's nothing stopping us from having a callback

[2018-09-02 10:29] saurfang commented on #809
So I took @hyperfekt's idea and @zemingyu's https://github.com/ethereum/EIPs/issues/1201 and ran with it a bit. I think we come to the realization that ownership and rental rights equally deserve to be a token by themselves. Instead of jamming both in a single contract, what do you all think about composing them with two ERC721 contracts instead like so:

[code]

By the way, this was motivated by

[2018-09-02 11:44] clinton81 commented on #1155
@atonb117 Sorry, after thinking over and over again, I found that the current example is better. I try to improve the ID packaging format to suit our business ( eg. big-class/small-class). But in the end, I have to admit that the code in the example is the most efficient and optimized. Therefore, I do not need another ID packaging format. The better way to achieve the big-class/small-class is use

[2018-09-02 12:11] pedrouid commented on #1361
This is super cool and something we have been thinking a lot on WalletConnect as @Dobrokhvalov has pointed out. I would perhaps extend ERC-681 to include the `redirectUri` parameter. Currently wallets already listen for `ethereum:` scheme and we have actually used this as a base for WalletConnect Standard URI Format following the ERC-831 URI Format. It would be great to use this proposal to specif

[2018-09-02 13:05] aquiladev opened #1372 "ERC-1372 Multi-Class Token Standard vNext"
# Simple Summary
A standard interface for multi-class tokens (MCTs).

# Abstract
The following standard allows for the implementation of a standard API for MCTs within smart contracts. This standard provides basic functionality to track, transfer, and convert MCTs.

# Personal motivation
Token factory is the first name of the concept. After the investigation I found the similar multi-class token c

[2018-09-03 10:37] kumanoko24 opened #1376 "ERC-1376 Service-Friendly Token"
[code]

# Service-Friendly Token Standard

Full EIP is at [Service-Friendly Token Standard repo](https://github.com/fstnetwork/EIPs/blob/master/EIPS/eip-1376.md).

[PR is here](https://github.com/ethereum/EIPs/pull/1377)

## Simple Summary

This Token standard is designed to allow Tokens to interact with service-based smart contracts and off-chain services seamlessly and without friction, providin

[2018-09-03 10:43] kumanoko24 commented on #1376
Updated format and PR link

[2018-09-03 14:25] nathanawmk commented on #725
does ERC725 uint256 keyType differentiates between ECDSA and ED25519?  If so, what is the enumeration value for an ed25519 public key? Thank you.

https://ethereum.stackexchange.com/questions/57994/erc725-keytype-differentiates-between-ecdsa-and-ed25519

[2018-09-04 00:16] PhungGroup opened #1378 "ethereum"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-09-04 04:13] chaitanyapotti commented on #804
We are currently developing a membership token which is used as a proof of membership. It decouples voting rights from token balance.
The owner of an organization is free to assign/revoke memberships.
Users can request for membership to govern. They can only participate in polls if they have a min amt of tokens along with membership token.
During Governance, several types of polls can be used whic

[2018-09-04 08:53] rudolfix commented on #1341
Hey, we were researching similar thing and we finally settled for JWT generated via challenge-response to the backend (here is concept code, pretty old now https://github.com/Neufund/signature-authentication-server/).
The reason is that if you really want to prove that someone controls given wallet (key pair) you must request to sign an unique challenge.
In proposed standard JWT is self issued and

[2018-09-04 18:03] ericbinet commented on #1372
You can losslessly cast back and forth between bytes32 and uint256. Neither ERC-1155, nor ERC-1203 impose a format on the class value. A hash can be used without using bytes32.

An added benefit is that operations on uint256 cost less gas then bytes32.

[2018-09-04 19:31] axic commented on #48
@Arachnid @Souptacular @nicksavers in January it was agreed to close this outdated issue. Can an editor please do that?

[2018-09-04 19:32] Souptacular commented on #48
Done!

[2018-09-04 19:32] #48 closed

[2018-09-04 19:34] axic commented on #48
Thanks!

[2018-09-04 19:35] aquiladev commented on #1372
@ericbinet good arguments, thanks!

Is it possible to do implicit cast between those types? For instance function expects uint256, but I sent bytes32 (string).

What kind of operations do you mean in the particular case? Is there any cost differences for access by index for different index's types?

[2018-09-04 19:35] axic commented on #57
Since there is no ERC/EIP for the ICAP format and it hasn't been widely adopted, I consider this issue not very useful anymore. Closing it.

[2018-09-04 19:35] #57 closed

[2018-09-04 19:37] axic commented on #56
The live specification is maintained at https://github.com/ethereum/evmc.

@chfast any point to keep this issue open? Should we create an ERC56 which has a copy of `evmc.h` with ABI v5 and create a new ERC with every new ABI version deprecating the old one?

[2018-09-04 19:44] axic commented on #102
@Arachnid @Souptacular @nicksavers @cdetrio @gcolvin I think this issue should be closed given EIP196 was merged.

[2018-09-04 19:45] #102 closed

[2018-09-04 19:48] axic commented on #8
@chriseth @Souptacular I think this can be closed given the [draft of this is merged](https://eips.ethereum.org/EIPS/eip-5) and has been deprecated since by [EIP211](https://eips.ethereum.org/EIPS/eip-211).

[2018-09-04 19:55] #56 closed

[2018-09-04 22:41] Jason-splyt commented on #981
Have there been any on-chain implementations of this yet? We are shopping around for a sensible "fractional ownership" framework. This one could make sense.

Has there been any thought into consensus-forming/decision-making by owners of one collective asset? I.e. how this allows fractional owners for art to decide who to leave the art with (and pay them) or how this allows fractional real estate o

[2018-09-04 22:52] coinfork commented on #1372
Using bytes32 in various cases is more expensive than using uint256. For example, simply passing a bytes32 value in a function parameter (like bytes32 _class in this standard) will be more expensive than a uint256 parameter.

[2018-09-05 01:30] ericbinet commented on #1372
As far as implicit casts go, this would be handled by your client code. If you use Web3 in JavaScript, all numbers are sent to Ethereum as BigNumbers. Conversion is handled by the library.

If you rely on `web3.sha3("data to hash, info on token class")`, this function returns a hex string that is accepted by functions expecting a uint256.

On Web3 1.0, this function is named `web3.utils.sha3` and

[2018-09-05 02:31] daicostarterlimited commented on #1372
@aquiladev Thanks for citing my EIP-1203 :) Glad to see my idea being validated by others and as @ericbinet pointed out, our differences may be trivial.

Frankly though, I have essentially stopped working on EIP-1203 after giving another pass on EIP-1155 by @coinfork and found it to be a superset of what I was trying to do. In the comment section, there is a (very) lengthy discussion on standardiz

[2018-09-05 03:14] jeffishjeff commented on #1372
@aquiladev Thanks for citing my EIP-1203 :) Glad to see my idea being validated by others and as @ericbinet pointed out, our differences may be trivial.

Frankly though, I have essentially stopped working on EIP-1203 after giving another pass on EIP-1155 by @coinfork and found it to be a superset of what I was trying to do. In the comment section, there is a (very) lengthy discussion on standardiz

[2018-09-05 13:43] ideabit opened #1384 "ERC-1384(FAS) --- Equity Agreement Standard on Ethereum"
## Simple Summary

An equity agreement standard.

## Abstract

The following is a standard that allows for the implementation of equity allocation and related functions within smart contracts. This standard allows for the functions of querying basic project and equity information, track the history of equity transfers, transfer equity, and distribute profits based on equity allocation.

## Motivat

[2018-09-05 15:48] jeffishjeff commented on #1155
Great EIP, thanks for putting it together @coinfork. I came across similar problem a couple months back and proposed #1203 believing it was different from #1155 and #1178. But with @PhABC's kind reminder and further review, I believe this EIP is superior/more comprehensive than mine and would fully support.

Having said that, I would like to echo @PhABC's concern regarding having too many optional

[2018-09-05 18:38] cag commented on #1161
@se3000 A small note about your optimization:

[code]

The latest version of Solidity does not automatically copy dynamic types from calldata to memory for a given symbol, instead leaving this up to the contract writer to do so. Still, pointer moving after the data has been copied is the most efficient way I've seen for handling this case.

---

I'd also like to remark that the single word cases f

[2018-09-05 19:36] AC0DEM0NK3Y commented on #1155
Thanks for adding to the conversation @jeffishjeff. I agree with you on most of your points personally.

I would have liked to have kept transferFrom and transfer versions together also. I think some earlier discussions however took it into the very heavy split/optional route we see now.

So, +1 on consolidating as I think having a core set of tools you can rely on having with some outlying option

[2018-09-05 23:33] dmdque commented on #777
Not sure if this is still up for debate, but I want to give my two cents for why `granularity` is an unnecessarily more complicated approach than `decimals`.

Clients or other smart contracts interfacing with EIP777 must do extra work to rebase units.

Consider a contract which holds multiple tokens, and pays out a percentage to a user as a prize. When dealing with raw base units, we can just use

[2018-09-06 06:55] mcdee commented on #777
@dmdque

They need to ensure that values meet the `granularity` requirement, but it's only contracts that need to divide existing token amounts that need to worry about this.  And, as per the standard, it is expected that most `granularity` values will be `1` so the actual work carried out gas-wise will be minimal.

If the contract is worth its salt it will also be responsible for returning the fu

[2018-09-06 08:40] mcdee commented on #777
@dmdque I don't know the complexities of dYdX but ultimately if someone or something attempts to sends ERC777 tokens and the recipient does not want them it is in the recipient's power to reject the transfer.  This is very much a feature of ERC777 rather than a bug.

[2018-09-06 09:07] chompomonim commented on #965
After some thoughts and discussion around potential infrastructure build around this standard (some kind of nodes which would take cheques, get fee in tokens and persist them into blockchain), I see that more changes are needed for this proposal.

1. Possibility to create `createAgreement` via checque by paying fee in tokens for agreement creation (agreements are needed for batched transactions).

[2018-09-06 09:09] chompomonim commented on #965
Another idea is that ERC965 could work well with ERC20 kind of tokens if they would have default operators there. Does anyone know if there is already any ERC for #777 type of operators but for ERC20?

[2018-09-06 16:49] se3000 commented on #1161
Great point. In the workshop, I believe that we pretty much unanimously agreed that the format is determined by the request, and that format is fixed for the response after the request. This pretty much lines up with fixed format, and I'd propose we stick to fixed format for the discussion at the moment. I'm open to non-fixed format, but don't see a burning need yet. And, it may be easier to sort

[2018-09-07 06:30] chaitanyapotti commented on #1202
Can you also add an option to UnVote?

[2018-09-07 10:37] xmaysonnave commented on #777
@blueross CALL do not use the ERC820 deployment method, they rather have modified the code to explicitly setup the registry through the ERC820Implementer contract. I use that trick too as I didn't successfully deployed the contract on my private chain (POA).

[2018-09-07 13:04] jessebmiller commented on #1211
@sindarknave I'd be interested in working on this proposal with you if you.

[2018-09-07 19:15] aquiladev commented on #1372
fair arguments, I think the proposal is no longer needed

[2018-09-07 19:15] #1372 closed

[2018-09-08 06:35] James-Sangalli opened #1386 "ERC1386 - Managing issuers of cryptographic attestations"
### Introduction

Very often, we will need to use Attestations like "Alice lives in Australia" on the blockchain; that is issued by a valid issuer off chain for privacy reasons and is revokable inside a smart contract.

An issuer can create a smart contract where he revokes multiple attestations in one go by building a bloom filter of all the hashes of the revoked attestations.

An issuer can also