[2018-04-03 15:56] pipermerriam commented on #948
@tjayrush / @cryppadotta

I believe the schemes your both mentioning can be accomplished under the spec I proposed [here](https://github.com/ethereum/EIPs/issues/948#issuecomment-376213214).  Please correct me if I'm wrong.

[2018-04-03 15:57] CryptoBlockchainTechnologies commented on #958
I want to first say, if you are here trying to help Ethereum develop a better ASIC resistant algorithm thank you, please do not take wrong what I am going to say.

This thread has asked for people to come forward with ideas that could he create an improved ASIC resistant algorithm. We need to assume that Bitmain could try to influence our direction to make it less or even not effective by bringing

[2018-04-03 15:59] tonymorella commented on #958
I know this is a little off topic but I am part of the rendertoken (GPU 3D decentralized proof of render) community and while there are still many unknows it seems like OTOY/RNDR will pull a bunch of Nvida cards off ETH when it goes live late 2018. If this happens I could imagine a scenario

[2018-04-03 16:05] ivica7 commented on #905
@fulldecent I agree. Eventually gas refunds will be redesigned too and we can re-evaluate the refund-attack in the new context.

[2018-04-03 16:16] pdaian commented on #958
While this does get at a core issue (regulatory capture of hash selection process by miners) with repeated anti-ASIC PoW change, I don't think it's fair to pin mitigation responsibility on Piper.  He's just one dev, and has no real way to evaluate whether anonymous Internet people who may have contributory ideas do or do not have relationships with Bitmain (or any other equally serious conflicts o

[2018-04-03 16:25] rorsch commented on #958
Do not forget miners. Many of you are attacking PoW mining with moot points when miners / hodlers are the strength behind Eth. Miners have much invested and have provided many industries substantial capital for creating a new business sector.

Bitmain is the issue. Asics are a means to disrupt the people's power to become involved while corporations are stealing away the network. The PoW era is pu

[2018-04-03 16:28] pipermerriam commented on #958
@CryptoBlockchainTechnologies thanks for voicing your concern.  Our next step is a formal EIP which will lay out specs for changes to the mining algorithm at which point I'll be seeking broad input from experts on the merit of that spec and assessments of whether it's likely to brick existing ASICs (even though we may not know their specs).

[2018-04-03 16:29] ouillepouille commented on #958
Hello ! Just passing by to say that  the Monero community had the same discussions about 2-3 weeks ago when it was made public that Bitmain had been using (and was now selling) a Cryptonight ASIC... I published a concept that, AFAICT has core similarities to what @AirSquirrels is proposing. I have exposed the idea in 2 or 3 reddit threads, but the essential is [here](https://www.reddit.com/r/Moner

[2018-04-03 16:37] jjviscomi commented on #958
I think responding to this externality with a means of trying to subvert it is a poor decision, unless there is a real imminent threat to the overall system, and there should be a well thought out plan for events like that. Everything right now is speculative conjecture ... not a very good "strategic plan".

[2018-04-03 16:54] reductionista commented on #963
We've been talking--he's on board with the first one, but hasn't really had time to think about the rest yet.  He was the one who suggested I open this Issue.

[2018-04-03 16:56] AirSquirrels commented on #958
@ouillepouille it is worth noting CryptoNight7 essentially didn’t even try to make the algorithm more ASIC/FPGA resistant. They merely tried to brick the current ASICs and make minor mask fixes impossible by introducing new information dependencies - to ensure a full ASIC R&D cycle. The same reason I suggested changing all three constant multiplication FNVs to separate values.

The cryptonote-heav

[2018-04-03 17:11] pdaian commented on #958
It really bothers me that this is being sold as "Modify block mining to be ASIC resistant" (see title) when all it is admittedly doing is discriminating against one particular *model* of ASIC (note that it is not even discriminating against a design, since the same design can be trivially re-used).

I'm OK with proposing a fork that discriminates against a *single hardware model* in this way, but

[2018-04-03 17:13] goobur commented on #958
The goal is to currently kick any ASICs off the network and force a redesign -- a more thorough analysis of ASIC resistance and and a proposal to redesign the algorithm will likely come next.

[2018-04-03 17:15] pdaian commented on #958
Whether such a redesign is even possible is a scientifically open question.  If this is merged under the name "Modify block mining to be ASIC resistant" and the first proposed change is specifically E3-elimination, I'm going to be fairly upset and vocal about what I see as the rug being pulled out from under users with slick wording.

I propose naming any EIP that contains any mining loop, DAG str

[2018-04-03 17:26] Arachnid commented on #958
Are we sure about this? Given that ethash is not computationally-bounded, it's not unreasonable to assume they might have used some spare ASIC surface area to build in more programmability than they could if they had to optimise purely for compute cycles.

On the contrary - looking at the board and analysing the firmware would both tell us a lot about the construction of these miners and their lim

[2018-04-03 17:39] dadyal commented on #958
Yes for sure ASIC is not good for ETH we do not want another bitcoin always on thredt by china and other countries with ASIC miners

[2018-04-03 17:44] AndreaLanfranchi commented on #958
Resistance or resilience ?
Literally any algorithm can be turned into ASIC : it's only a matter of time. Thus "Resistance is Futile" (cit. the Borgs). ASICs on one side are more efficient with better Hashes/Watt ratio and, somehow, _may_ help address the energetic footprint of mining.

If I were to plan my revenues out of a PoW mining enterprise (no matter the size) why not consider specific machi

[2018-04-03 17:49] ouillepouille commented on #958
@AirSquirrels @pdaian
If the PoW includes at least a pass where generic CPU capacities need to be taken into account, maybe it'd make ASIC-designing for PoW less relevant.

An example would be to use the [code]->[opcode] translation done by a Virtual Machine as a form of pseudo-hash-pass (e.g. cryptohash the resulting opcode for instance), and have another pass execute the actual opcode inside the

[2018-04-03 17:56] AirSquirrels commented on #958
@Arachnid I agree - I've long indicated that the outcome of this war on ASICs is going to be a larger reliance on programable logic by Bitmain et. al, either as configurable parts of the ASIC or through FPGAs. I even suggested above that the E3 might be using FPGAs instead of ASICs between memory chips. For that reason I suggested larger scope changes, but in general the feedback has been that we

[2018-04-03 19:05] romka1977 commented on #958
Just a thought - with GDDR6 adoption on the horizon in GTX 11 series these cards _might_ have a comparable performance/efficiency/price of E3 ASIC miner....so it might be no benefits for these ASICs except easier operation.

[2018-04-03 19:05] nayende commented on #958
Yes, absolutely you must fork. People don't need another bitcoin, litecoin or something like that which mostly controlled by some actors like bitmain. This is why I left bitcoin and similars. I wish Ethereum never like them.

[2018-04-03 19:20] 7runks commented on #958
This official bitmain eth asic is a trojan horse, my point is that bitmain is hiding its real eth asic with a super hashrate x 10 of that they publicly announced.

[2018-04-03 19:28] Arachnid commented on #958
A reminder that the subject here is potential changes to or replacement of ethash to make it ASIC resistant. This is not the place to express how much you hate bitmain, or whether you think making a change is a good idea; use upvotes/downvotes for that, or take the discussion to Reddit.

[2018-04-03 19:30] sandakersmann commented on #960
I don't have a strong opinion on rent vs. inflation, but I think we need to go with one or the other rather than a combination. It is also very important for people to see that we have a solution to pay for a secure network in all situations we may come by in the future.

[2018-04-03 19:37] silvakille commented on #958
Bad news for GPU miners...i vote it make ASIC resistant. Nothing personal am just the little guy.

[2018-04-03 19:37] ofpcarnage commented on #958
Apologies

On Tue, 3 Apr 2018, 20:28 Nick Johnson, <notifications@github.com> wrote:

[2018-04-03 19:58] quyquan commented on #958
https://www.coindesk.com/bitmain-confirms-release-first-ever-ethereum-asic-miners/?utm_content=buffer61d78&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

https://shop.bitmain.com/product/detail?pid=00020180403174908564M8dMJKtz06B7&utm_source=twitter&utm_medium=social&utm_campaign=e3-announcement

[2018-04-03 20:05] dreusskis commented on #958
I left a comment here.  I thought it was an open discussion. Not a centralized controlled discussion...  So much for ETH and being naive about that.  Bottom line is Bitmain has the Asic and has been mining ETH way before any news leak about this.  If it is indeed an ASIC with GPU's in it, a fork of ETH will not change anything as far as I know.

[2018-04-03 20:06] ctapang commented on #960
On Inflation and Destruction of Fees Paid

I understand the cryptocurrency communities' distrust of inflation, inflation having been the main method that governments steal money from the people surreptitiously. However, inflation itself is not bad. I use the word "inflation" here the way our cryptocurrency community would, as any increase in money (cryptocurrency supply, in our case ether supply).

[2018-04-03 20:11] int03h commented on #958
I've been reluctant to chime in on this- mainly because there has been nothing concrete to go on. Technically I doubt there will be any SIGNIFICANT advantage, unless they have managed to overcome the laws of physics and/or come up with some sort of brand new architecture. Moving bits around on a bus or on silicon is an expensive business. ASICS are great at doing fixed tasks, but flipping bits is

[2018-04-03 20:12] 7runks commented on #958
@dreusskis, that is what I think too but like I said before, that is not the real eth asic from bitmain, the real bitmain eth asic miner is hidden so that is why is important this fork.

[2018-04-03 20:14] int03h commented on #958
@7runks If it is anything, it is not a GPU/ASIC, but a bunch of memory controllers stitched together.

[2018-04-03 20:17] Nsomnia commented on #958
Would love a hard fork just enough code/algo changes to throw off ASIC mining, although for the sake of humanity and gamers, all mining should be GPU only if it were possible, unfortunatly not. Been thinking lately about how many fossel fuels are burnt for mining which is crashing lately.

[2018-04-03 20:17] byEliteHacks commented on #958
please fork away haha bitmain sucks

[2018-04-03 20:26] AliAshrafD commented on #958
Obviously it is a hoax, Bitmain's claimed ASIC attack on Ethash. check [this post of mine](https://bitcointalk.org/index.php?topic=3249542.msg33863324#msg33863324) in bitcointalk.
Main point: Bitmain is playing dirty. By claiming ASIC vulnerability of ethereum's native PoW, it just is manipulating chip manufacturing industry in its interest.
 @AirSquirrels is 100% right about the inherent ASIC res

[2018-04-03 20:32] alexvandesande commented on #725
Has this ERC been rewritten to the new EIP format with PRs that can be later merged? I can help with that if that has not been done yet. It's nice because then new additions can be added as a PR while it is still on draft. For instance I would like to suggest adding this to the interface:

### New key purpose: 6 - RECOVERY

All providers of identity, be it email providers, social media or governme

[2018-04-03 20:36] aslanteh commented on #958
I don't know why we are even having this discussion! ASICs directly go against what ETH was suppose to be, Fork just for a giant middle finger to the greedy Bitmain

[2018-04-03 20:40] int03h commented on #958
Up voting code for a hard fork that hasn't been written yet ... this is new! :)

[2018-04-03 20:43] kimicg commented on #958
This become everything but productive, you now know that public are for the fork, transfer this behind closed doors, and come up with any solution.

[2018-04-03 20:57] dexcrypto commented on #958
ASICS are a definite threat to all decentralized crypto, just look at BTC and you understand that this needs to be stopped. NOW, not later, not next week, not next month, NOW!

[2018-04-03 21:05] cryptomined commented on #958
One thing we have going for us is bitmain states "There are financial risks associated with mining cryptocurrencies. These risks can be related to changes in exchange rate of the cryptocurrency or to changes in the algorithm that is used to mine the cryptocurrency."

Which means that we can change the algo and eliminate their ASICs... we just have to figure out how...

Now that the E3 has been rel

[2018-04-03 21:54] kpjVideo commented on #958
The whitepaper specifically talks about how ASICs promote centralization. This, of course, goes against the core principals of Ethereum or any "decentralized" currency for that matter.

"However, this mining algorithm (SHA256 presumably) is vulnerable to two forms of centralization. First, the mining ecosystem has come to be dominated by ASICs (application-specific integrated circuits), computer c

[2018-04-03 21:59] bernardpeh commented on #958
Its official. bitmain already have ethash miners.

"The Antminer E3 is estimated to deliver a minimum hashrate of 180MH/s while consuming 800W of total power.

The very first batch of the Antminer E3 is available to order now and all orders will be shipped as soon the miners are ready. Although this is estimated to be after 16 July 2018 (and before 31 July 2018), we will ship all orders as soon as

[2018-04-03 22:27] QuintLeo commented on #958
The E3 has about the SAME performance and efficiency as a well-tuned 6 card RX 480/580 rig with BIOS modes for memory straps.
It has slightly LOWER performance and efficiency as a well tuned 6-card GTX 1070 rig (no BIOS mods needed).
Bitmain would have to ship well over ONE MILLION of these miners to double the current ETH network hashrate, more like TWO MILLION to double all ethash total netwok h

[2018-04-03 22:27] yai333 commented on #958
Antminer e3 batch 1 sold out already.....

[2018-04-03 22:36] tarzanbigcity commented on #958
I would recommend looking at the x16r and x16s algos as they are higly tuned for asic resitance.

[2018-04-03 22:36] 7runks commented on #958
@QuintLeo, come on, what they will be doing here is to stop hidden asics which exist already. Bitmain really wants what you are saying, reason they are sending this trojan horse. Bitmain does not want the algorithm to change, period!

[2018-04-03 22:51] pipermerriam commented on #958
@Arachnid or someone with permission.  I propose we close and lock this issue.  I've got an actual EIP pull request incoming soon where we can hopefully have a more technical discussion without all the noise that this issue currently has happening.

[2018-04-03 23:42] jamesray1 commented on #958
Just for context I asked @pdaian to join this discussion on Twitter, as we need cryptography experts to provide suggestions and analysis before we included changes in a hard fork. He is a student involved with IC3 at Cornell. http://www.initc3.org/people.html. Ari Juels commented via Emin Gün Sirer: "Ari points out that there are off-the-shelf solutions such as Argon2, Equihash of Zcash fame, and

[2018-04-04 00:07] woodaxed commented on #958
yeah keep the asics out  please

[2018-04-04 00:33] thunder02dragon commented on #958
@AirSquirrels @cryptomined I tried to not comment but going through all these made me get an account and comment here.
Yes it's official that Bitmain has ASIC now called Antminer E3 with a mere 180MH/s @ 800W. But IMO these are just rebadged version 1.0 of their ASICS that they wanted to get rid of and profit from else why on earth they would sell them for mere $800 where a 180MH/s mining rig cost

[2018-04-04 00:48] yhhca commented on #958
My two cents, F3 and E3 are both existing.
but bitmain is worrying those ASICs will get banned by hard fork. So they just push out the lower model to ease people's nerves, then they can mine behind by using the high end model. The whole eth network will be controlled by them step by step. The more eths they have the more power they get in the future. Thanks to the PoS.

[2018-04-04 00:52] crossx4real commented on #958
not an expert in this field, not by a long-shot but i am heavily invested in ETH, and hate to see it suffer the fate of Sia which is a good coin.

if ASICs can't browse the internet or open a text document, we should exploit this weakness. Gentlemen and ladies, this is war, make no mistake about it. The network can authenticate each mining rig every x amount of time by sending it a file and requir

[2018-04-04 00:52] AirSquirrels commented on #958
@thunder02dragon sure - the Bitmain Sophon AI cards as specified would have 166 GB/s of bandwidth, and would be capable of 20 MH peak/each at 25-41W.  They also have huge 50 GB/s interconnect bandwidth and 32MB internal cache in a 1599 ball package. That's also not a cheap chip to manufacture by any stretch of the imagination. You're looking at 20-25 of these chips to achieve E3 power usage, and a

[2018-04-04 01:30] krtschmr commented on #958
@QuintLeo

actually since december we have about 1 Billion$ , slightly more, added in mining hardware. The BTC Network hashrate added about 17,000,000 THs. on a regular 13.5 THs S9 that would be 17M/13,5 roughly 1,300,000 x S9 Asic.  and that's just since Decembers highscore till now !

The selloff of ASICs just recently bagan

[2018-04-04 01:34] acceleratornetwork commented on #958
This is Bitmains last gasps for air before the flipping.  https://www.flippening.watch/

But in all seriousness, they really should look at building gpu's and selling those to compete with AMD and Nvidia.  Instead of building scammy little machines that make it impossible for everyone and anyone to contribute to the Ethereum network with just a video card they can pick up at the local computer sto

[2018-04-04 01:40] int03h commented on #958
Hash has increased for 2 simple reasons :
1) Nvidia used to suck and now it's OK, ie more fabs  = more silicon
2) Vega with HBM is better than Polaris

If you factor in some modest ability of both vendors to increase production to meet demand the steep slope doesn't have to be some magical fantasy.

It COULD be .. but I don't think so.

[2018-04-04 02:17] MicahZoltu commented on #958
REMINDER: Ethereum's PoW algorithm was designed to be ASIC _RESISTANT_, not ASIC _PROOF_.  Ethereum's PoW algorithm _is_ ASIC resistant and has achieved that goal quite well considering it has been years without any known ASICs and the first ASIC to be announced isn't that impressive compared to a GPU.  Arguing that Ethereum _must_ change its PoW algorithm because it was "promised in the paper" is

[2018-04-04 03:12] mick90207 commented on #958
We have no choice but to hard fork to oppose Bitmain. We shall pass a strong signal to Bitmain without compromise.

[2018-04-04 03:39] krtschmr commented on #958
@MicahZoltu

thanks for stabbing our back 2 years after we backed ethereum it's time to get rid of us. wohoo!
maybe we are all greedy and obviously ASICs are taking our profits. some of us have even more then 1M$ invested into GPU mining farms. of course for own benefit, but on the other side we are all big believers in this technology.
Miners are the ones that brings ETH towards PoS. Without us t

[2018-04-04 03:52] int03h commented on #958
Again - it's like everyone has turrettes.  Shouting fork fork fork doesn't produce even one line of code.

What is it that everyone would like to fork?

Switching the algorithm is INSANELY idiotic. Tweaking it even a little could break the whole network and potentially destroy video cards, and not even affect the "ASICS".

The devs are not clairvoyant. Coding something just for the sake of appeasi

[2018-04-04 04:04] krtschmr commented on #958
@int03h so as this is about Ethereum Mining, either set up a mining-farm for 100k$+ or dump all your ETH holdings.

right?

[2018-04-04 04:04] dadyal commented on #958
@int03h

you comment sounds more like you want to buy cheap GPU to play games  and less like how eth  mining will work once ASIC hits the market like they did with bitcoin  ETH need more people every where in the world not some people in china if ASIC takes over market most of GPU users will stop mining and control of mining will go to people who owns these ASIC and unlike GPUs these ASICs do not

[2018-04-04 04:14] int03h commented on #958
@dadyal you  clearly have no experience tuning GPUs for Ethash.

[2018-04-04 04:38] ofpcarnage commented on #958
You still forking here lol

On Wed, 4 Apr 2018, 05:23 int three hex, <notifications@github.com> wrote:

[2018-04-04 04:45] AliAshrafD commented on #958
Being a programmer long enough to have some voice, I don't like the 'write code or be silent'  slogan some folks are repeating over and over. Code comes after the directions has been set, well, in most cases.
As of this thread's request for vote, I say 'nah' for the time being but I think we should wait for the shits to be available and find out in what extends they are truly ASICs  and how many m

[2018-04-04 04:51] int03h commented on #958
To be clear my words were "CALM DOWN or write some code". There is a difference.

[2018-04-04 05:01] kpjVideo commented on #958
@AliAshrafD I agree, you simply don't write code without a general consensus or reason beforehand.

[2018-04-04 05:43] AliAshrafD commented on #960
I'm strongly against fixing the supply. Not speaking about mining incentivization, Coins lost over time, people make mistakes sending their coins to nowhere, forget their passphrases and die without handing their keys to their children. A fixed supply coin is deemed to vanish in a couple of centuries.

[2018-04-04 05:44] QuintLeo commented on #958
[Quote]
Yes it's official that Bitmain has ASIC now called Antminer E3 with a mere 180MH/s @ 800W. But IMO these are just rebadged version 1.0 of their ASICS that they wanted to get rid of and profit from. Else why on earth they would sell them for mere $800 where a 180MH/s mining rig costs ~$2500 at minimum to build.
[\quote]
Because they have a very short time available to make their price back

[2018-04-04 05:59] AliAshrafD commented on #958
For the record:
I'm not speaking of decoding Bitmain's chip (there is no such thing at all) nor I'm afraid of it, instead I'm counting on other companies to check and find out and replicate the tricks Bitmain has employed in E3 (as a whole rig) to keep the costs and the price low. If they fail and let us down, ASIC or any other proprietary technology, it should be slammed back by an immediate hard

[2018-04-04 06:03] pilsy commented on #958
It's worth it to note that they very well may not be the only one with a working product, https://etherscan.io/address/0x52e44f279f4203dcf680395379e5f9990a69f13c is the address of bw.com ~ who in less than 5 day's has amassed over 2.5% of the global hash power...

[2018-04-04 06:32] AirSquirrels commented on #958
They claim 550MH @ 950W in an image of a miner that doesn’t always appear on their site.

That would be a mere 10k, likely batch size of those.

They also have GPU miners and a hash rate rental service.

[2018-04-04 06:43] krtschmr commented on #958
Email just in

**Now you can order even 5 units of the E3!**

[code]

can we agree, that Bitmain is going furious?

[2018-04-04 07:01] Arachnid commented on #958
Locking at @pipermerriam 's request.

[2018-04-04 07:39] nieldlr commented on #948
Heya @pipermerriam, could you explain a bit more on how this works? I'm not quite familiar with batching and how this exactly works here. Eager to learn if this could solve our challenge.

Again, from a purely practical point of view, having multiple tx costs to the provider is not scalable. My focus is primarily on people building up support from their communities/fans/supporters and this type of

[2018-04-04 11:13] jamesray1 commented on #898
I don't know why https://github.com/ethereum/wiki/blob/c02254611f218f43cbb07517ca8e5d00fd6d6d75/drafts/%5Benglish%5D-old-ethereum-whitepaper.md#philosophy was removed, this is the first time that I have seen it! As you can see the last commit was in 2015. I haven't made many changes to ethereum/wiki but I have made several changes to https://github.com/ethereum/wiki/wiki.

There is a philosophy pa

[2018-04-04 11:28] jamesray1 commented on #898
I did make a lot of changes to the white paper, but it was mostly minor changes from an editorial lens: grammar, references, clarity, etc. I certainly didn't delete swathes of text.

[2018-04-04 11:30] DanielRX commented on #960
@tbrannt and when the owner of that 1 is not giving it up? They can merely hold it and gain value

[2018-04-04 11:32] chompomonim commented on #960
@tbrannt Ethereum is not Bitcoin. It's main purpose is to be currency for paying for gas. More expensive ether, more expensive transaction cost. Do we really want that?

[2018-04-04 12:00] tbrannt commented on #960
@chompomonim the whole point of gas is to decouple cost for computational steps from the eth price.. if only 1 eth would exist then obviously that eth would have a very high value. That means that people would pay with tiny fractions of it and the gas price would be lower by the proportion the eth price would be higher.

I'm not saying we should burn all but 1 ether.. it's just an example. Its jus

[2018-04-04 12:48] jamesray1 commented on #898
I agree that is should be as simple as practical, but it may be necessary to have some complexity, for instance to scale, to internalize costs of storage, bandwidth and I/O, for privacy, transparency, etc. Where complexity is necessary, documentation should be as clear and concise as possible.

I mostly agree with this, although note it does say **ideally**, and most people would consider the [cur

[2018-04-04 12:57] jamesray1 commented on #898
I'm going to take the liberty to put these modifications back into the white paper. If anyone has any objections or wants to make any further modifications, they can feel free to do so.

[2018-04-04 13:14] chompomonim commented on #960
I'm not afraid of such situation, @vbuterin would create hard fork to fix that ;)

[2018-04-04 13:26] vu3mmg commented on #827
Does the _data in ERC827 functions means that the  for the *.call(_data)  to work the invoker has to be a contract .

[2018-04-04 13:38] k06a commented on #827
@vu3mmg exactly! https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC827/ERC827Token.sol#L39

[2018-04-04 13:45] vu3mmg commented on #827
Thank you  , it will be great if we add a line in the spec telling that  , if the *.call(_data) , has to work , the programmer has to be sure that  , the  "whoever".call(_data)  , the whoever parameter passed should be a contract and  827  is intended to enable contracts to work more efficiently .

Other wise a naive person like me will get confused .

[2018-04-04 13:50] AugustoL commented on #827
@vu3mmg k06a it can be any address, account or contract. The only address that cant be use is the ERC827 toke  itself.

[2018-04-04 13:56] vu3mmg commented on #827
@AugustoL  basic query , due to my ignorance I am asking   this .
 if the address is that of an account , the invocation of  whoever.call(_data )  will fail ? since the account address   does not have the method /ABI encoded  in _data ?

[2018-04-04 13:59] AugustoL commented on #827
@vu3mmg yes it will fail.

[2018-04-04 13:59] NoahMarconi commented on #721
@jamescbury I'm not sure if this spec or an extension is the more appropriate place to get into detail but I can share some of the thinking since November.

`set`s or `lot`s of ERC721 tokens seems to be the best path forward for supply chain related use cases. If you think recursively, goods can be grouped into packages, packages onto pallets, pallets onto trucks, etc.

At ETHDenver, at least two

[2018-04-04 14:00] k06a commented on #827
@AugustoL agree about both types of addresses, but why do you think target can't be ERC827 contract itself?

[2018-04-04 14:06] vu3mmg commented on #827
I think  ERC 827 may break  ERC20  , since ERC 20 does not differentiate between accounts or contracts and for practical purpose ERC 827 needs "contract address"  . Is this understanding correct .

[2018-04-04 14:08] k06a commented on #827
ERC827 do not needs "contract address". Think of ERC87 as a way to combine in single transaction calls of `approve` and `transferFrom`.

[2018-04-04 14:12] jamesray1 commented on #898
It's back in!

https://github.com/ethereum/wiki/wiki/White-Paper#philosophy

[2018-04-04 14:13] vu3mmg commented on #827
@k06a  but execution of approve()  and transferFrom() will not happen , properly is the caller is not a  contract , with given ABI?.
But in case of ERC 20 , it will happen , irrespective of the address type , since the result is just a value adjustment in a mapping ? nothing goes out .
I dont doubt the utility of ERC827 , we are implementing some use cases using the same. Hence hit on the issues

[2018-04-04 14:50] AliAshrafD commented on #960
Let's think strategically. Neither ether nor any other crypto is being designed and promised for a short  period of time, putting a fixed boundary on the the cap is not a good idea because of what I've mentioned above concerning unavoidable casual losses of coins that can accumulate to the whole cap, plus an even more critical problem with rising prices due to scarcity   which is not a good thing

[2018-04-04 15:58] alexvandesande commented on #945
I'm not sure I understand the scenario here. **Apps should not care how their requested transaction is completed* only that it is completed. As such, an app should not care that something will be shown as a QR code or sent via private api. In my opinion the correct way should be:

* An app makes a web3 request

or..

* An app calls an ethereum payment link https://github.com/ethereum/EIPs/pull/681

[2018-04-04 16:05] tzumby commented on #611
@Pipeliner, not sure if you still have this problem. For me it was because I didn't enable "net" in the json rpc config for parity.

[code]

[2018-04-04 16:12] ctapang commented on #960
I have a question for us, especially for the leaders of Ethereum: what is the vision for ethers? Do we want it to become a medium of exchange and a standard measure of value? Or do we want it to be like gold or bitcoin?

Ethereum has surpassed Bitcoin in popularity in only three years. This achievement makes it a viable medium of exchange, because this is an important requirement for any medium of

[2018-04-04 16:12] Pipeliner commented on #611
@tzumby I haven't worked with Parity recently. IIRC I haven't changed anything in the config, and this was the default behavior.

[2018-04-04 16:49] ctapang commented on #960
At some point in the future, we will have understood the relationship between interest rate (ethers paid for parking in a bonded validator) and market value. We can then have a precise formula for that interest rate that would decrease it in times of Ethereum economic boom (to prevent overheating), and increase it in times when the Ethereum economy is sluggish (to increase the "animal spirits"). I

[2018-04-04 17:07] owocki commented on #948
I wonder if the optimal interface for `1:many` subscriptions (neil's point above) is different than the optimal interface for`1:1` subscription contract (piper's interface).

there is certainly a tradeoff from an attack surface perspective, as it's a nice best practice from a security perspective to be able to keep funds for different subscriptions in seperate contracts to make each contract less

[2018-04-04 17:43] mjmeans opened #970 "Possible to add telemetry to mining rewards?"
With the unknown nature of ASIC risk looming I'm wondering if there is a way to add telemetry to mining rewards so that secondary research of the collected telemetry could quantify specific ASIC behavior. I.e. nothing that directly combats ASIC, but something that can detect and locate ASIC farms and particulars of ASIC behavior. If this were possible, then a future targeted fork could directly co

[2018-04-04 18:03] Arachnid commented on #970
No. There's already an optional field in which the miner could announce where they're from, but there's absolutely no way to enforce that people report it accurately.

[2018-04-04 19:02] mjmeans commented on #970
I was more thinking about telemetry of the machine, like memory performance in various parts of the algo, bus performance, etc, to create a "fingerprint" of the system. Then perhaps a common feature of ASIC machines hardware can be identified and later targeted.

[2018-04-04 19:10] Arachnid commented on #970
No, you can't force a miner to record and report those accurately either.

[2018-04-04 19:26] jamescbury commented on #721
@NoahMarconi thanks for the recommendation on the projects - those are both very good examples - and I agree that some of the work done by [setprotocol](https://setprotocol.com/) can be leveraged here.  Lets connect off-line to see if there is more to build out here.

[2018-04-04 21:04] nav1d commented on #960
there are two threats:
1. increasing computing powers.
2. banker/governments/billionaires who trying to dominating the ether network. we saw it on Bitcoin.

1# to solve this problem we should move to PoS sooner.
2# sadly some banker/governments and even some billionaire guys trying to dominate the Ethereum network, to solve it, Ethereum should be very expensive. a proper price is $1.5M to $2M per

[2018-04-04 21:49] #970 closed

[2018-04-04 21:52] AugustoL commented on #827
@vu3mmg if you want to execute a function in an account it will fail, if you want to only transfer token value you can execute the common ERC20 methods without the `_data` argument and the call wont be executed.

[2018-04-05 00:12] elie222 commented on #827
A PR to fix the issues Vyper is having on Open Zeppelin:
https://github.com/OpenZeppelin/zeppelin-solidity/pull/871

[2018-04-05 01:15] vu3mmg commented on #827
@AugustoL  . Thank  you . That resolves  the issue. It will be great that if you can explicitly add couple of lines in the standard pointing to the overloading  of methods . Otherwise a new reader might get confused. Also could you please point out that ERC 827 methods will fail if it is invoked on an account .
I understand that one of the  main purpose of ERC 827 is to manage transfers between co

[2018-04-05 03:58] Janther commented on #780
@oed Must have done something wrong when I tested last time (I had seen some gas difference).

I did a full test just now on remix and there is **no difference** in gas usage.

There is a small win (`40 gas` without optimization `59 gas` with optimization)  when implementing the `setSelfClaim` instead of doing an internal call. The deployment is more expensive though.

[2018-04-05 05:32] k06a commented on #827
@elie222 maybe to keep both method names?

[2018-04-05 10:54] jbaylina commented on #777
@alexvandesande Here is my opinion on your 4 points:
1. transfer/send:  I'm **strongly opposed** to name it `transfer` as in ERC20 but with this extra security added. This is a security problem and cannot be accepted under any circumstance. If we do it, users will lose tokens.  I'm open to find another name. I've not seen a any other that I like more than `send`.  I'm **weakly opposed** to call it

[2018-04-05 10:56] Arachnid commented on #777
Isn't that more or less the case with ERC20?

[2018-04-05 13:36] alexvandesande commented on #725
@cbruguera to be honest I think the whole listing of keys and their purpose should not be in this standard and left to particular implementation. In my opinion, the standard should set that keys should have purposes, and suggest a few examples, but not set any particular one.

**If key purposes are part of the standard** then I support adding *recovery keys*. If they are not part, then I would gla

[2018-04-05 13:51] Agusx1211 commented on #939
@MrTibbles Any entity can issue claims about any other subject. The validity of that claim does not have to do with the trust between the issuer and the subjet, but between the trust of the entity who is using that claim. The "reputation" of the issuer is in the stake.

The subject should not be able to remove claims made on itself, that feature would allow a subject to delete bad claims about the

[2018-04-05 13:51] alexvandesande commented on #777
Yes, my point is that this is already the case with ERC20 and that "safe" is a sliding scale. I don't like `safeTransfer` either because then at some point someone can make an even safer standard than ERC777 and it will call it what, `evenSaferTransfer`.

There's already the ERC20 `transfer` method. It exists, we cannot go back in time and erase it. Token creators will, at least during a long tran

[2018-04-05 14:00] Arachnid commented on #777
Again, I think this is an incredibly dangerous idea. Two functions with the same name should not differ in functionality in ways unrelated to their input parameters; it will lead to mistakes with users losing funds.

It also doesn't work well in web3.js; since JS doesn't support function overloading, one of the variants will only be accessible via array notation.

[2018-04-06 01:18] dwking2000 commented on #780
Allowing the subject of a claim to call removeClaim seems to invite censorship. If I claim something about a subject I don't want the subject of my claim to remove it. The claim about a subject should stand on it's own and carry the weight the issuer's reputation however weak or strong. A claim should be something others can attest to as well, strengthening the claim. An attestation is just a clai

[2018-04-06 02:36] umurb commented on #960
I am against introducing a hard cap. Not only that it will narrow down the scope of the project, but also it will lead to mistrust by common people. Making fundamental changes, such as this one, can break down all the trust we built around the project.

[2018-04-06 08:00] tbrannt commented on #960
Let me add one argument for a hard cap:

A fixed cap of let's say 120 million is an easy to communicate and distinct social contract. In the end it probably wont matter whether the protocol runs with a small inflation or a fixed with rewards being paid by rent. My fear in the small inflation scenario is that it is not so clear when this agreement is broken. Miners could vote the issuance rate up,

[2018-04-06 09:06] AliAshrafD commented on #960
@tbrant,
I can't support your idea about forking being easier to break a 'zero inflation wall' compared to making minor adjustments to a limited rate.
Contrariwise, I think it is more cumbersome to convince people to participate in such a rebellion (and taking the risk of being abandoned) for breaking a sacred wall. The oligarchy who owns the majority of coins and wealth will argue that the rebell

[2018-04-06 09:34] AliAshrafD commented on #960
@Arachnid,  Under whose control is it? Wallet service providers? Exchanges? Developers? Who?

[2018-04-06 09:42] Arachnid commented on #960
@AliAshrafD Changing the issuance rate requires a hard fork.

[2018-04-06 09:45] jzu commented on #960
Re: _to ensure the economic sustainability of the platform under the widest possible variety of circumstances_

A more detailed risk assessment would be welcome.

[2018-04-06 09:46] AliAshrafD commented on #960
@Arachnid, And harforks are kinda 'up-voted' by miners who have devoted their resources to them, after launch. There may be a pre-fork signaling mechanism as well. right?

[2018-04-06 10:06] tbrannt commented on #960
@Arachnid In my scenario validators did a hard fork. All I say is that a hf that changes a bit to a bit more will be less controversial than a hf that changes nothing to a bit.

[2018-04-06 10:07] AliAshrafD commented on #960
@Arachnid , More dedicated mining resources => more security => more user reliance. Plus users (owners)  keep both coins in their wallets anyway, but the less secure coins will be dumped more easily for a little, if not zero, price.
So, in practice, there is no essential difference between a voting mechanism and a hard forking process.

[2018-04-06 10:25] AliAshrafD commented on #960
@tbrannt
My apologies, I was totally confused about your 'side' about the rebellion (hf) thing, yet my comment is valid besides that. After PoS, incentivizing 'stakeholders' to vote (dedicate their 'stakes' to new chain) for an inflationary hardfork is very 'hard', if not impossible.

[2018-04-06 10:26] Arachnid commented on #960
Why would anyone adopt a hard fork promoted by miners that increases issuance at all? The default option, of not adopting the fork, is easier.

...what?

[2018-04-06 10:35] tbrannt commented on #960
Maybe. But can you predict which portion of the network will run light clients just following the validator majority? There's some inertia in big masses and for some it might be easier to just go with whatever the validator majority dictates.

[2018-04-06 10:40] AliAshrafD commented on #960
@Arachnid
Better to let this topic : '_Is adopting hard forks essentially comparable to voting  or not?_ ' be discussed somewhere else and focus on the limited cap proposal @tbrannt says the depressive consequences of this proposal and any proposal that considerably reduces the supply to a very low amount (he is in favor of the later, because it more easily) can be cured by doing hard forks. I'm a

[2018-04-06 10:43] ligi commented on #191
I think this issue can be closed now as of #973

[2018-04-06 12:02] #191 closed

[2018-04-06 12:29] axic commented on #838
We have discussed how this could be implemented and I think we are going on a path to have this in the future.

The current revert-with-reason proposal had a payload of `<version><ABI encoded string>`, which resulted in `00..00 00..20 <len> <data>`.

Now we could instead just assume that there is a generic error with a signature of `Error<string>`, which hashes to `2939df17` followed by an ABI enc

[2018-04-06 12:35] Arachnid commented on #838
Why not just allow functions to specify an error ABI just as they currently specify a return ABI?

[2018-04-06 12:36] axic commented on #838
Hopefully that will be possible in the future, but right now we only have a feature which supports passing an error string via `require()` and `revert()`. This way people can get started with a generic error reporting feature and if in the future we extend this to support something similar to what this EIP is proposing then it will be properly part of the ABI.

[2018-04-06 12:46] Arachnid commented on #838
In that case, why not just return an ABI encoded string, and say that all functions implicitly have an error ABI of `string`? The function selector seems unnecessary here; we don't have 'return selectors'.

[2018-04-06 13:04] Arachnid commented on #838
I'm suggesting that having an error selector in general is needless.

[2018-04-06 13:07] axic commented on #838
Why do you think it is needless?

I imagine that most errors can be encoded as a selector only, if it is exposed to the user, without any other ABI payload.

For example:
[code]

[2018-04-06 13:12] Arachnid commented on #838
I guess the question is whether we're implementing an exception mechanism, where uncaught exceptions propagate automatically to the caller, or whether it's a C- or Go-style error mechanism. If the latter, it seems to me that errors and return values should be encoded the same way, with an ABI; if you want to distinguish error types, you can return an enum.

[2018-04-06 16:06] panekkkk commented on #960
I listened to the dev call today and personally think more **formal** research is needed on this topic. This is an important topic and I'm not sure the implications have been fully explored.

In order for the community to fully understand the implications, it would really help to see research on this topic looking at both sides of the debate. Or at least clear discussion of pros and cons.

As othe

[2018-04-06 16:09] alexvandesande commented on #948
Can't this be done by signing some time-locked erc20 cheques somehow? Ideally the user should sign a message saying "after block X, transfer N tokens to Bob". They could do it 12 times for all months and renew the subscription next month. The scope and how to do time lock cheques is what should be is debate in this ERC.

[2018-04-06 16:36] mohsenghajar commented on #960
Definitely need to cap it.  Transaction fees should be determined by market forces of the transaction fees, by the users.  Eth price is determined by Eth price market which is governed by Eth players and hodlers.  Two different markets here.

[2018-04-06 16:49] chriseth commented on #838
@Arachnid my impression of this is the former, this is also the default implementation of function calls, errors are always propagated upwards. Otherwise you have to implement a handler for every single error type and this includes all EVM errors like stack overflow.

So since errors are propagated, we cannot use a fixed enum and thus use the function selector to distinguish the actual error types

[2018-04-06 16:53] Arachnid commented on #838
Okay; if the idea is that errors can be nonlocal and propagate to arbitrary callers, I can see how sending an identifier along with everything else makes sense.

[2018-04-06 17:08] leafcutterant commented on #948
Through [WETH](https://weth.io/), ETH already is (can be) a token. I'm not familiar with the WETH contract, but maybe the conversion can be automated by the subscription contract(s).

Side note: I think subscriptions can benefit greatly from a stablecoin like [Dai](https://coinmarketcap.com/currencies/dai/). Most people probably won't want to commit to a subscription or get payments in a currency

[2018-04-06 17:15] ctapang commented on #960
It really depends on what we want ethers to be: a medium of exchange (MOE) or store of value (SOV). If we want it to be a MOE, then its quantity should grow according to usage. If we keep its quantity constant, then we know for sure (based on BTC history) that it will trend up in price or exchange rate, with occasional market corrections (like what is happening right now).

Network effects notwith

[2018-04-06 17:52] gtaschuk commented on #948
My team took a look into ethereum recurring subscriptions at a Consensys Academy hackathon.  The method we opted for was a pre-paid subscription with ethereum held in escrow.

The service provider can at any point withdraw from escrow the (rate of subscription)*(time since the subscription started).

The customer can at any point, add money to escrow (to buy them more time) or cancel their subscri

[2018-04-06 17:53] ctapang commented on #960
Now you mar ask, why is USD still stable after the Fed (US central bank) has injected huge quantities of USD into the world economy? The effect can be a long-drawn process resulting from the cause (increase in quantity). Or maybe the quantity injected is just enough to satisfy demand. During the past decades, several third-world countries (China, Vietnam, and others) have allowed their citizens to

[2018-04-06 18:04] owocki commented on #948
While I respect your prior art in the space (and commend you for taking a stab).. My view is that pre-paying subscriptions is not an optimal UX for an end user.  By placing the money for a 12 month subscription in escrow, the user effectively loses the means to use that capital for other things.  Problem gets worse when you start talking about 24 month, 36 month, potentially even longer subscripti

[2018-04-06 18:36] mohsenghajar commented on #960
Eth price has nothing to do with transaction cost after each market reaches equilibrium separately.  Ether price is driven by factors including scarcity.  Transaction cost/fee is governed by usefulness of the Ethereum platform and how much people appreciate using the platform.  Now, ether price not falling is important for network security.  So hard cap can help.

[2018-04-06 18:38] AliAshrafD commented on #960
@cyphergaiden
I strongly support you argument above regarding the dangerous nature of the combination of PoS and cap but I afraid Vitalik or other supporters of Pos has no other agenda.
Let's have enough courage and face it. They have started with this so called 'environmental friendly' proposal, Casper, and now they are revealing the complete strategy.
It is a socioeconomic game, players (includi

[2018-04-06 18:42] cyphergaiden commented on #960
@mohsenghajar

The FED doesn't operate in the way you think it does and neither does currency. Currency amount in circulation is why QE didn't have a negative impact on the value of the dollar (as well as other countries increasing their supply mind you). You should read more Chartalism/Monder Monetary Theory (really Modern Money) and less Asutrian (Supply Side) school of thought in regards to cur

[2018-04-06 18:44] mohsenghajar commented on #960
@cyphergaiden I didn't say that

[2018-04-06 18:48] cyphergaiden commented on #960
@mohsenghajar yea, I responded before reading every one of your replies. My mistake. Still, I think you are wrong about why Fiat currency works in the modern age and it's relation to crypto and do believe a hard cap on crypto (there should be sinks to manage supply. that's what taxes are partly...) will actually be against the interest of Eth as MoE and creating a separate economic network,

[2018-04-06 18:50] mohsenghajar commented on #960
@cyphergaiden I think you are trying to reply to @ctapang

[2018-04-06 18:50] cyphergaiden commented on #960
@mohsenghajar indeed I am LOL. Sorry about that, copy paste error :p

[2018-04-06 19:43] ctapang commented on #960
Are people going to lend out their ethers if ethers keeps on increasing in value? They would be foolish to, because you don't have to lend in order to see appreciation (in a constant supply situation). Lending presupposes a certain level of risk, which is not there if one simply HODLs. So, in a constant supply situation, there will be not much lending that occurs, and this is borne out in the BTC

[2018-04-06 20:01] colintulloch commented on #960
Vitalik has always had a firm grasp of economics, and he's right on here. For Ethereum to be a world computer, a Dapp ecosystem, or even just a token platform; it needs to be fuelled by the most competitive medium of exchange. And the most competitive mediums of exchange have fixed supplies or hard caps.

Does an inflationary supply spread ecosystem costs across all participants rather than just t

[2018-04-06 20:05] Arachnid commented on #960
Do they? How are you measuring this?

Why?

[2018-04-06 20:26] AliAshrafD commented on #960
Bringing forward the 'world computer' thing to distract attention of Ethereum's main application right now!
It has been and is meant to be a monetary system without fulfilling this mission it is absolutely useless.

[2018-04-06 20:44] dong77 commented on #960
@vbuterin one of the biggest failures for a project with such a large ecosystem and various parties with different interests is not to make decisions and waste time on a long debate. Don't tree to persuade everyone, you know it is a mission impossible. Collect people's feedback, measure pros, and cons, and make the decision.

[2018-04-06 23:07] rebelcrypto opened #980 "ASIC Hardfork Suggestion and Discussion"
I did not find any open issue related to ASIC Resistant So open one to discuss with all Ether Supporter.

Monero team was very active and did their part with hardfork to v7 within a days, No more Bitmain Asic

Monero creater ' did the thing with the thing ' Nice one lolz

https://cointelegraph.com/news/monero-hard-fork-appears-successful-as-devs-shun-bitmains-asic-miners

Where are we with Ether H

[2018-04-06 23:41] collincusce commented on #725
Is this and #735 in draft and should it be listed here: http://eips.ethereum.org/erc ?

[2018-04-06 23:45] cyphergaiden commented on #960
@ctapang

Taxes do act as a sink, they just haven't due to policy dictating expanding fiscal policy by all governments.

[2018-04-06 23:47] cyphergaiden commented on #960
@ctapang

Yes, because that increaes capital acquisition faster. Also, PoS will incentivize the creation of mutual fund like eth systems to further appreciate value of held eth.

[2018-04-06 23:54] cyphergaiden commented on #960
@colintulloch

No, they haven't. Currencies that have relative stable value who's supply can increase along with the population that uses it is the most stable. Ether's current system with a predictable rate of increase is actually ideal IF we want eth to be a eco system (I do).

Please study, look into mmt

[2018-04-06 23:58] colintulloch commented on #960
@arachnid,

I think a good store of value doesn’t lose a % of it’s value annually. (Self-evident?)

I realize it’s hard to quantify "costs saved for transactors versus costs saved for hodlers”. I also realize that “hodling”, depending on how you see it doesn’t need to be an application of Ethereum at all, or it doesn’t need to be a  layer 1 application. But it could be a layer 2 application, as in

[2018-04-07 01:29] ctapang commented on #960
@cyphergaiden Taxes are not a sink. I know of no government generous enough to destroy currency that have been collected through taxes. ALL taxes eventually get spent, so taxes collected are still part of the economy. Think of the government as just another actor in any fiat currency regime. You will be completely wrong in your analysis if you consider taxes as a sink.

We have to understand why c

[2018-04-07 01:39] ctapang commented on #960
I still have to read an argument for MOE that calls for capping the quantity that makes sense at all. If we want ethers to be a MOE, the only way is to allow its quantity to be variable. Ethereum will cover larger and larger swaths of the world economy, but only if it is allowed to increase in quantity according to how much of the economy it covers. If it becomes deflationary like BTC, then all be

[2018-04-07 01:52] ctapang commented on #960
BTC has also shown us that in order to put a currency into as many hands as possible without decreasing its value, a currency has to have constant quantity in order to raise its market value as it gains in popularity. Use the rise in value to make people want it. It then spirals into a viral engine of value. When a cryptocurrency is popular enough, that's then the time to allow its quantity to inc

[2018-04-07 02:44] evbots commented on #948
This was an insightful thread to read through. Thanks @owocki for opening this issue. As I understand it, with 0x contracts the user initiates an allowance on their token balance, then subsequently creates or fills an order leveraging that allowance. The allowance doesn't have to be unlimited, but it is more gas efficient.

As @gtaschuk mentioned an alternative to allowances is to use an escrow co

[2018-04-07 04:06] jdkanani opened #981 "ERC981: Partial Ownership Standard"
Preamble
---

[code]

Simple Summary
---

An interface for tokens that are unique, fungible and allow partial ownership and trade of digital and real assets.

Motivation
---

The current ERC Tokens while useful leave out key aspects of information needed to enable tokenized trade of real-world assets on distributed ledger technology. ERC20 fungible interface is great in its simplicity for issuing

[2018-04-07 04:59] bernardpeh commented on #980
it was a hot topic few days ago.

https://github.com/ethereum/EIPs/issues/958

I believe they are taking this seriously.

[2018-04-07 09:05] MicahZoltu commented on #981
This isn't considered a "fact" in the scientific (anthropology) community.  Here is a good summary article: https://www.theatlantic.com/business/archive/2016/02/barter-society-myth/471051/

[2018-04-07 09:08] #980 closed

[2018-04-07 09:44] Steve132 commented on #85
I'm a wallet developer and I think this is a really good idea, but concur STRONGLY with the rest of this thread that a different purpose should be used not 44'

[2018-04-07 11:02] tbrannt commented on #960
This implication doesn't make any sense to me. It's like saying nobody would ever buy a computer because you could buy a cheaper computer in a year from now. But in the real world (pc buying context) it makes even more sense than in the crypto context. I think a lot of the pro inflation sentiment comes from our old world in which our governments force one single currency upon us. In such a system

[2018-04-07 11:07] brijakodo commented on #981
@MicahZoltu I see your point on barter, and perhaps we should rephrase it to not apply as such. My intention was to use the word "barter" to signify concept of fungibility to unique items through a mechanism of exchange of value.  I only recently came across Graeber's Debt: The First 5,000 Years and just started reading.

In fact, I completely agree with the premise made in the article of "Gift Ec

[2018-04-07 16:10] ctapang commented on #960
The difficulty with analyzing currencies is that, while it is also subject to the law of supply and demand, any other analogy we make with commodities would be invalid. It used to be that currencies have two components in its value: 1) its value as a medium of exchange (fungibility, transferability, etc), and 2) its value as a commodity (like gold can be used for filling cavities in teeth). Nowada

[2018-04-07 16:46] AliAshrafD commented on #960
Reading this issue from the first to the end, one can notice a very important point being missed:
Discussing a problem like this, manipulating coin issuance protocol, is a political debate, a governance issue at least. Problems like this, will be eventually resolved by means of power gradients and not pure logic.

Ethereum is not a hypothetical project, it is not in its very first design phases, b

[2018-04-07 19:01] cyphergaiden commented on #960
@colintulloch

Human population doesn't need to exceed eth for the to be a problem with holding/hoarding. All that's required is slight deflation to trigger the collective pysce into a pushing for more deflation.

If the goal is SOV, then eth itself being used as the medium for smart contacts disappears and we simply create a new version of silver

[2018-04-07 19:53] jpitts commented on #960
How much study has been put into this proposal? I see no related discussions on https://ethresear.ch.

I agree with @panekkkk and @AliAshrafD that this is a decision with potentially large implications and therefore warrants a thorough study. We should at least apply the same intensity to a macro-economic question like this one that we have to any of the crypto-economic mechanisms of Casper.

Deci

[2018-04-07 19:55] MidnightLightning commented on #928
@Shrugs

@alexvandesande

Looks like the Ecoji library can already encode any sort of string input, so could encode a whole public key (for others to consume), or private keys for the owner to backup easily. I had the same sort of thought recently too: https://steemit.com/programming/@midnight426/the-future-of-identifiable-identifiers, and arrived at my own 1,024-character emoji library, [radix-em

[2018-04-07 20:47] ThePiachu commented on #928
Gravatar does have some crypto features, but they're probably vestigial - https://en.gravatar.com/support/profile-crypto-currency/ .

[2018-04-08 01:57] owocki commented on #928
comment from reddit which i thought was interesting

basically a different way of showing the uniqueness of the avatar (besides the outside border)

[2018-04-08 05:39] jamesray1 commented on #960
I will take the liberty to make a PR for this.

[2018-04-08 05:50] jamesray1 opened #988 "Assign the EIP based on the PR number"
At the moment when you create a PR, you make it compatible to merge and wait or request for an EIP number to be assigned. But for the discussions-to field in the header, if you create a GItter issue, you have to edit it to update the EIP title with the number and the link on the EIPs website. I suggest adding the EIP number based on the PR number. But I guess it's not too much extra effort to chan

[2018-04-08 06:50] o0ragman0o commented on #960
Given the noise in this issue already, I'll not try to generate more here. I have posted my thoughts in an article if anyone cares to read.
[Harry Hodler and April Fool
Thoughts on EIP960](https://medium.com/@o0ragman0o/harry-hodler-and-april-fool-162fb41a1e7c)

[2018-04-08 11:49] jamesray1 commented on #960
https://medium.com/@james.ray/thoughts-on-eip-960-a-proposal-to-place-a-hard-cap-on-the-supply-of-ether-3e677cd32212

[2018-04-08 14:07] tomteman commented on #928
@owocki this is really cool! We'd love to team up with you - would you consider adding Portis (https://portis.io) to reach a larger audience, especially less tech-savvy people? It's a JavaScript SDK that lets people run your Ethereum DApp in the browser (no client installation required), using the same account on all their devices. It will act as a fallback Web Provider for MetaMask/Mist/etc.

[2018-04-08 15:46] mhluongo commented on #900
How do you expect this to work in systems that have eg minimum staking periods? I'd expect something like `startUnstake` and `withdraw`.

Many staking schemes I've seen need to be able to extend how long funds are at risk after certain staker behavior. If we build infrastructure around this I'm not sure how tools would cope without another standard.

[2018-04-08 16:06] fulldecent commented on #905
Here is a competing straw man proposal that addresses the use case that SCLONE is trying to solve and does not have the gas problem.

---

# SLOADANY

And you would use this like:

[code]

Then the higher-level Solidity might look like this:

[code]

# Discussion

* This is a O(1) operation.
* The Entriken attack above does not work -- if the underlying storage is gone (and partially refunded) the

[2018-04-08 16:10] fulldecent commented on #905
# Proof of concept attack number 2

1. Deploy large contract.
1. Use it as normal.
1. Clone it, switch everyone to the new contract (this is trivial if you are using upgradeable contracts).
1. Somebody pays you for the opportunity to `selfdestruct` and get proceeds of your existing contract.

This attack produces 8,000,000 / 2 * gas price money out of thin air. Currently worth $6 each time you do

[2018-04-08 16:13] patrykadas commented on #928
This sounds exciting! Cool job there on combining private / consensual within one image, really like it.

We were exploring the sphere of a ‘social layer’ on top of addresses and / or ERC721 at Userfeeds.io

Think not gravatar, but an identity.

You can check our reasoning behind latest experiment here:
https://medium.com/@maciejolpinski/fe70215b9c23

And play with it / fork it here:
https://userf

[2018-04-08 19:14] decanus commented on #900
@mhluongo I might be missunderstanding but unstake could just revert if you haven’t staked for a minimum amount of time.

[2018-04-08 21:39] Arachnid commented on #928
A couple of suggestions:

 - There's no reason to lock this in to IPFS; it would make more sense to just specify a URI.
 - This seems like a perfect use-case for ENS reverse records. :)

[2018-04-09 01:56] jaycenhorton commented on #981
This is definitely something I can get behind. I have been working on something similar that adapts 721+777 and allows for these kinds of per-token qualities. Some of that is defined [here](https://github.com/nori-dot-eco/NIPs/blob/NIP-8-Carbon-Removal-Claim/NIP8_CarbonRemovalClaim.md), although this is out of date, and I have furthered the implementation to allow for a similar type of divide meth

[2018-04-09 04:16] cbruguera commented on #725
@alexvandesande Completely agree on keeping the "core" purpose-agnostic with regard to keys, and make it flexible enough for different implementations to incorporate different key purposes and schemes. Recovery keys is an evidently useful case.

[2018-04-09 04:48] jdkanani commented on #981
This ERC uses [ERC725](https://github.com/ethereum/EIPs/issues/725) key hashes for owners and `sigs` to prove/acknowledge while transferring or dividing. If implementation demands to bolt regulators/authorities/partners in, this allows them to keep track of assets.

Question - should we use addresses and add `getIdentity`? @joejordan

@jaycenhorton Interesting. I will definitely look at #820 and s

[2018-04-09 09:01] MrTibbles commented on #939
@Agusx1211

So the end user/subject does not control the private key/the means for signing? That sounds trust-based.

I know, i agree, i did not suggest otherwise.

Is that not the whole point of a claims system? Web-of-trust systems and staking mechanics come into play in order to surface the **most commonly accepted** claim.

[2018-04-09 09:38] 5chdn commented on #988
This is already the case even though it's not formalized yet. However, in some cases the EIP number is taken from the issue number that discussed the topic before creating an actual proposal (e.g., #156, #649).

If you want to formalize that, we could just add it to EIP-1, however, I am not entirely sure if we want to stick to Github forever with this process. Just my thoughts.

[2018-04-09 09:45] jamesray1 commented on #988
Yeah, I was aware that sometimes the issue number was used instead, which is OK.

[2018-04-09 12:12] 5chdn commented on #988
Discussions-to is used by http://eips.ethereum.org/ to readers that want to discuss a proposal. Could be a link to a forum or the GitHub issue or Reddit, or anything really that allows to maintain a persistent record of the discussion.

[2018-04-09 13:39] jamesray1 commented on #988
OK sure, yeah I understand that, the guidelines could be generalized.

[2018-04-09 14:59] owocki commented on #928
from /u/heavyfishheavy on reddit:

[2018-04-09 20:14] NickErrant commented on #223
I think there is a subtlety that hasn't been brought up explicitly yet:

does not hold, because if the receiving contract does not implement `tokenFallback`, but does implement a fallback function (as long as the fallback function doesn't throw) the token transfer will go through.

[2018-04-09 20:16] jamescbury commented on #721
@mg6maciej the way I view the interaction between `approve()` and `transferFrom()` when thinking about tokenized goods (i.e., serialized medical devices) is like a control in the transfer of an asset.  The <approve()> function is similar to an 'intent to transfer', almost like an Advanced Ship Notification (ASN) in most shipping systems.  The `transferFrom()` function is effectively a pull of that

[2018-04-09 22:10] owocki commented on #948
From the reddit thread:

[Article in coindesk about the same](https://www.coindesk.com/vitalik-wants-pay-stop-ethereums-runaway-growth/)

[2018-04-09 23:16] fulldecent commented on #721
@jamescbury Just to be clear, setting multiple `approve` addresses for an individual asset is not currently supported by ERC-721. There is a specific technical limitation that makes this implementation painful. A workaround is known but let's discuss that regarding your specific implementation when we catch up.

[2018-04-10 13:38] amchercashin commented on #960
Definitely against hard cap. And agree with @ctapang. As @ctapang points out if we want Ethereum as MOE (basically as a currency and not as an asset) then there should be some **small and predictable** healthy inflation. And I think @ctapang "flirts" a little when he saying that we need to decide what we want from Ethereum: MoE or SoV. Ethereum already IS a currency and is a "cryptofuel". Thus it

[2018-04-10 13:58] ctapang commented on #960
I just hope that this is NOT about competing with Bitcoin ... at the moment ether is rising against bitcoin. Is it a coincidence that ether has been rising against bitcoin since April 3rd?
https://www.coingecko.com/en/price_charts/ethereum/btc

[2018-04-11 20:32] adisney commented on #963
I would suggest that the `from` parameter be added as an element in a filter object that you can pass to both the websocket and the polling filter. In fact, I suggest that filter allow one more field: `to`.

For example,
[code]

Both fields would be optional.

[2018-04-12 04:28] mirceapasoi commented on #725
As an exercise in learning more about Solidity and decentralized identity, I've tried to implement the ERC 725 + 735 standards, following the standards as close as possible: https://github.com/mirceapasoi/erc725-735

Here are some issues / questions I encountered during implementation:
1. Can't use `getClaim` and `getClaimIdsByType` in smart contracts until Solidity 0.4.22 is out because they use

[2018-04-12 05:32] sevriugin commented on #721
[ERC721SmartToken](https://github.com/REGA-RS/ERC721SmartToken) to build crowdsurance product tokenised decentralised insurance

[2018-04-12 05:36] nick commented on #725
Excited to see an implementation! I have also been working on one at [OriginProtocol/identity-playground](https://github.com/OriginProtocol/identity-playground) with UI at https://erc725.originprotocol.com

1. Solidity 0.4.22 should be out in the next week or so hopefully
2. I used a [hack](https://github.com/OriginProtocol/identity-playground/blob/master/contracts/Identity.sol) to enable passing

[2018-04-12 06:26] mirceapasoi commented on #725
Thanks for sharing @nick, great to see a UI for these standards—I'll take a closer look in the following days!

To your points:
1. Good to know!
2. Great idea/hack, I'll try implementing it as well :)
3. Interesting, I didn't realize that, but it would make more sense that way
4. You're right, that works! What character do you use as a separator in that case?

[2018-04-12 08:58] k06a commented on #827
Is there any list of tokens supporting ERC827?

[2018-04-12 11:34] mad2sm0key commented on #827
@k06a I am planning on using a variation of ERC827. I need to be 100% sure (without using tx.origin) that all my functions in the receiver contract will have the actual sender as the last parameter. I have come up with this :
[code]
Receiver contracts register themselves to use the auth check. When that happens, all the functions in the receiving contract that need to work with tokens, should have

[2018-04-12 13:28] k06a commented on #827
@mad2sm0key why do you need this check at all, why not to use `tx.origin`? I think you can also avoid `require(token.allowance...)` because `transferFrom` call will check this case.

[2018-04-12 13:31] mad2sm0key commented on #827
@k06a tx.origin will not work for contracts that own tokens. tx.origin will be the address that initiated the transaction, not the address of the contract owning the tokens. You are right about the allowance check, thanks.

[2018-04-12 14:57] Physes opened #994 "ERC994: Delegated Non-Fungible Token Standard"
# Delegated Non-Fungible Token Standard

[code]
## Simple Summary

Delegated Non-Fungible Tokens (DNFTs) are a proposed extension of the ERC721 standard designed with the use case of Ethereum-based registration of land and physical property in mind. NFTs are arranged in a federated, tree-like format (similar to DNS) where NFTs can delegate and sub-contract NFTs within a certain geospace.

Unlike d

[2018-04-12 16:20] DaveAppleton commented on #223
I have been working on an ERC223 token monitor (i.e with the data in the transfer function)

Has anybody compiled a list of ERC223 tokens in the wild?
Any that have actually used the data field for anything?

[2018-04-12 16:20] Physes commented on #981
I think there might be some overlap here with the ERC I've proposed called Delegated Non-Fungible Tokens: https://github.com/ethereum/EIPs/issues/994

The use case I was targeting was property registry, which requires a kind of "base ownership" at the level of zones, and the ability to delegate physical property rights at a higher level. Perhaps there might be a possibility of merging?

[2018-04-12 17:11] reductionista commented on #963
@adisney I agree.  The from field is more important, but if we're going to add one we may as well add the other.

By the way, the `eth_newReturnDataFilter` change has now been [merged](https://github.com/ethereum/EIPs/commit/a328583df109abccc73a5a72e0c6964fb0298e3a).

[2018-04-12 19:10] Agusx1211 commented on #939
@3esmit We could not store the claims or add to them an expiration date, but I don't see how a "remove claim" function would mitigate the bloating problem.

On a side note, lots of projects are "bloating" the state, with the current version of Ethereum this is not a problem, the gas is only paid at the allocation of the storage.

IF the Casper update ends up adding rent, that will change the whole

[2018-04-12 23:37] trigun0x2 commented on #930
@AugustoL I've put some thought into this topic before and I've never been sure about what layer to authenticate the user.

My thought was to have an array of whitelisted contracts that are able to interact with the ES then do the authentication (`onlyOwner`, `onlyCOO`) in the smart contract using the ES.

Would love to get your input on this topic.

[2018-04-12 23:58] mbeylin commented on #792
Wanted to add some more concrete thoughts on this EIP after our call @clesaege

`function arbitrationCost(bytes _extraData) constant returns(uint fees)`
What would the suggested functionality be if people decide to pay higher fees than the minimum (so as to better incentivize arbiters?

`function appealCost(uint _disputeID, bytes _extraData) constant returns(uint fees)`
I believe this is not neede

[2018-04-13 00:01] mbeylin commented on #792
I also want to formally share my opinion that *I believe it is premature for us to create an ERC for this when we have minimal evidence of the validity of our assumptions*. Standards historically have evolved out of market successes (or based on user data about previous versions of a product), however the lack of decentralized dispute resolution mechanism in the market precludes us from making any

[2018-04-13 00:13] ProphetDaniel opened #995 "ERC995 Token Standard"
[code]

## Simple Summary
An extension of the standard interface ERC https://github.com/ethereum/EIPs/issues/20 for tokens with methods that allows the execution of calls inside transfer and approvals based on ERC https://github.com/ethereum/EIPs/issues/827.

## Abstract
This standard provides an augmented token transfer functionality besides legacy proven ERC20 functionality. It allows to execute

[2018-04-13 02:35] jdkanani commented on #981
@Physes Is there any way I can connect with you directly - chat/call? Would love to talk more on #994 and our goals on #981.

[2018-04-13 02:38] Physes commented on #981
Sure thing- email philip@nuhanse.network.

[2018-04-13 02:54] ghost opened #996 "A simple solution (NO FORK) and blow bitmains rigs off the system"
Increase the dag past 4 gigs when the e3's are released. :)

[2018-04-13 03:00] flygoing commented on #996
To manually increase the size of the dag would require a hard fork. This would also invalidate a bunch of gpus currently mining before they we're expected to be too small. I also haven't heard anything about the ASICs being limited to 4gb dag size, is there a source for that?

[2018-04-13 03:03] pulupulu01 commented on #960
From the point of view of the Austrian school of economics, stable monetary policy expectations are the key, and inflation or deflation is not important. So, I support the hard cap to establish this kind of stable expectation.

[2018-04-13 03:04] tekcomm commented on #996
It would not require a hard fork and the gpu's that it will effect will be forced anyways in the near future. Bitmain wants a hard fork. Then they will own eth. Sources are like assholes everyone has one the trick is just to get them really drunk.

[2018-04-13 03:04] brijakodo commented on #981
@Physes #994 looks really interesting, in fact we were just working on extending #981 based on  suggestions made in this blog post:
https://medium.com/@apompliano/digital-securities-unlocking-the-cheapest-capital-27d913e0633d

[2018-04-13 03:10] tekcomm commented on #996
Btw, every device bitmain manufactures the coders are from china telcom and all there systems are little Endian. 32 bit  xilinx toolchains.

[2018-04-13 04:03] ricburton commented on #981
I love this concept but keep thinking about a better way to phrase it. Things that spring to mind:

Division into pieces
Partial ownership
Tokenization of a single asset
Part-ownership
Split tokens
Token splits

Just ideas to play with :)

[2018-04-13 04:26] jewishmexicanguy commented on #994
Currently GPS is the most ubiquitously used positioning system. However, more secure systems and more [accurate systems](https://physics.stackexchange.com/questions/1061/why-does-gps-depend-on-relativity) may arise. With this in mind, would [multiple positioning systems](https://en.wikipedia.org/wiki/GLONASS) be supported? Would this be up to the discretion of Multi Signature Root Authorities and

[2018-04-13 06:25] AencoCTO commented on #223
Is the ERC223 the same as ERC23?

[2018-04-13 09:15] villesundell commented on #223
@mryellow About the fallback specification: I think the NFT situation is different, since in NFTs you can transfer (practically) only that specific token.

In our case, you (most probably) send multiple, so we could return the amount of tokens handled. This would work as a sanity check, and would have some real functional value instead of static bytes4.

[2018-04-13 15:44] Physes commented on #981
For the record, I would also suggest renaming this to "Delegated Non-Fungible Tokens" (DNFTs) and including a "delegate" and "revoke" function. This would make a tree-like structure with a base DNFT being able to delegate children, with the ability to revoke (that can be superseded by a conditional owning contract between both parties).

If this was implemented in 981 I would be happy to merge 994

[2018-04-13 15:48] Physes commented on #994
The advantage of using an XML-based schema standard for metadata is that you can specify a "type" attribute for geolocation. In this case the type would be "GPS", then you could specify all of the relevant points. In the case of mulitiple positioning system you would specify it as "GLONASS". The main point is that once you have a large-scale zone, zones can't overlap. But that's a matter for the g

[2018-04-13 16:04] clesaege commented on #792
What would the suggested functionality be if people decide to pay higher fees than the minimum (so as to better incentivize arbiters?

The standard is not about functionalities, it's about interoperability. The `Arbitrator` contracts can decide what to do with the extra fees. I guess in most cases, it will be paying more the arbitrators.

I believe this is not needed, as appeals should not be a ne

[2018-04-13 16:06] flygoing commented on #996
How could you change the dag size without hard forking? The dag is generated based on the current epoch number. You'd either have to change the algorithm that generates the dag, or artificially push the epoch number forward, both of which would cause a hard fork.

The DAG, at its current rate, will be below 4 GB until February of 2021. That's 3 years. In my opinion, not considered the near future.

[2018-04-13 16:28] Magicking commented on #726
I've started https://github.com/Magicking/solidity-evm for https://ethresear.ch/t/state-channel-toy-implementation/1495 I have to find time to work more on that

[2018-04-13 16:30] Shrugs commented on #994
I like this. It might make sense to chat with FOAM about how they're tackling a similar problem.

re: implementation: I'd recommend extending your DNFT contract from ERC721Token and overriding methods rather than reimplementing it with different storage variable names. Any reason you chose otherwise?

I'm not super jazzed about the name; the token can be delegated, sure, but it's not the delegatio

[2018-04-13 16:34] Arachnid commented on #996
This can't be done without a hard fork. And there's no particular reason to assume that 4GB is the magic number here.

[2018-04-13 16:34] tekcomm commented on #996
Nate, Push the dag forward and invalidating the blocks between would not
cause a hard fork. March 2012, the ancient past Bitocoin Disallowed
transactions with the same TXID, unless the older one was fully spent.
In September
2012
<https://github.com/bitcoin/bitcoin/commit/ab91bf39b7c11e9c86bb2043c24f0f377f1cf514>,
the rule was applied to all blocks, apart from 91,842 and 91,880, which
violate the

[2018-04-13 16:40] tekcomm commented on #996
Nick 4 gigs is the magic number would you care to make a bet :). I know I
have been a Ti dev for 38 years. I also cracked the ebang miners in one day
and removed there backdoors. The systems are all little endian.  For the
record the magic number is:
:)
34359738368

F:)

On Fri, Apr 13, 2018 at 11:34 PM, Jason Kurtz <tekcommnv@gmail.com> wrote:

[2018-04-13 18:31] Physes commented on #994
I think FOAM might be dealing with a slightly different problem: namely an alternative coordinate system to GPS. Personally I don't see this as an urgent problem as GPS works pretty well, however I'm certainly open to collaboration. Where something like FOAM could be useful with the Zone Protocol is as the source of coordinates in the deed file- however it would work just as well to use GPS in my

[2018-04-14 01:27] brijakodo commented on #981
@ricburton  thanks for the feedback and suggestions!  We have already started using "Partial/Part Ownership" in our discussions and people are starting to get it.

However, when we use Token related nomenclature you suggested most non-crypto founders and asset owners glaze over it. We are trying to figure out the balance of language that is representative of the concept and easy to understand for

[2018-04-14 02:12] 3esmit commented on #935
You can implement this as a smart contract, dont need to change EVM.

[2018-04-14 02:27] 3esmit commented on #935
If anyone wants to use this "new signature type", the following contract would do it.
[code]

Not sure if the hashing of key is requried, could be used regular rolling ethereum addresses, but using the hashing seems to "improve" security, however the truth is tht is just one more hashing in top of address private key bruteforce.

[2018-04-14 15:04] microbecode opened #997 "EIP20: Missing example contract declaration in documentation"
The documentation at https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md starts with "A standard interface for tokens.". In fact, as far as I've understood, it's actually not an interface in the formal sense. Also the two listed example implementation use just a regular contract instead of an interface (ConsenSys and OpenZeppelin).

To make it clear, a contract declaration could be present

[2018-04-14 17:08] Eliovp commented on #996
The low activity here concerns me..

There are so many valid points here, good idea's.

It seems to me that certain people seem to be a fan of centralisation or scared to step up.

[2018-04-14 17:16] ProphetDaniel commented on #995
Because if you try, for example, to reorder existing parameters for transfer method the following test fails:
[code]

with the additional info:
[code]

It is a weird situation were the signature of the function with extra parameters is influencing on the function with less parameters, in this case the ERC20 transfer function.

[2018-04-14 17:35] Shrugs commented on #930
re: owner; If you need more comprehensive access control, you could compose this function with an RBAC-backed proxy that lets you have multiple different access layers and logics.

This sort of approach is basically necessary for contract upgradability. You can see various approaches attempted in https://github.com/zeppelinos/labs as well as some articles about the different approaches for [eterna

[2018-04-14 19:55] mbeylin commented on #792
In my opinion this would be best, similar to how there was a `HumanStandardToken` which added increased functionality to the `StandardToken` functionality.

Correct, but this information is entirely useless _unless it is being returned to another contract for storage_ since it's impossible for the returned value to be passed to the sender of the original transaction (if the claim is opened by a us

[2018-04-14 21:33] resilience-me commented on #935
@3esmit account abstraction enables new signature types, already planned change to EVM
https://ethereum.stackexchange.com/questions/18977/what-is-the-ethereum-account-abstraction/19456

taking for granted that it is very difficult to brake either, would you say it is easier to break sha256 than secp256k1?

[2018-04-14 22:07] mattlockyer opened #998 "ERC-998 Composable Non-Fungible Token Standard"
**Update**

The latest code is in the EIP and reference implementation

**EIP**
[eip-998.md](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-998.md)

**Reference Implementation**
[https://github.com/mattlockyer/composables-998](https://github.com/mattlockyer/composables-998)

**Reading**
Original Medium post:
[Introducing Crypto Composables](https://medium.com/@mattdlockyer/introducing-crypt

[2018-04-14 22:30] resilience-me commented on #935
@3esmit implementation is trivial, of course.

again, would you say it is easier to break sha256 than secp256k1?

[2018-04-15 02:25] fulldecent commented on #930
@AugustoL

I would specifically identify the storage requirements for that contract and handle the use case as it arrived.

ERC-721 is perhaps the most thoroughly reviewed ERC in modern history. A specific goal of 721 was to identify ALL potential uses cases up front. In all of this discussion I have never heard a use case that required off-the-shelf backend storage as ERC-930 is proposing. And to

[2018-04-15 04:47] Arachnid commented on #996
As already pointed out several times, this cannot be achieved without a hard fork, as the DAG size is directly determined by the block number.

[2018-04-15 05:58] mattlockyer commented on #998
It was pointed out to me by [@jeffwalsh](https://github.com/jeffwalsh) that adding an ERC-20 token required it's own method for incrementing the balance rather than replacing it.

He's also implemented an example using a basic ERC-721 in [this fiddle](https://ethfiddle.com/InrBR4V-KL). Many thanks Jeff.

[2018-04-15 06:29] lotfiuser opened #1000 "whats gonig on ERC 20 tokens"
![image](https://user-images.githubusercontent.com/5274016/38775583-75f3e0e4-407e-11e8-9c57-c6f410ce94f1.png)
`pragma solidity ^0.4.20;
// blaze it fgt ^

/*
* Team JUST presents...
                                                 ,----,                ,----,
         ,---._                                ,/   .`|              ,/   .`|
       .-- -.' \                .--.--.      ,`   .'  :

[2018-04-15 06:37] #1000 closed

[2018-04-15 06:53] lotfiuser commented on #1000
why you close it ?

[2018-04-15 07:44] ligi commented on #1000
here is not the right place for this

[2018-04-15 10:33] GriffGreen opened #1002 "Standardizing the EIP/ERC Process"
I know a lot of people are working on this and I am not even sure that this is really an EIP, but there is clearly a movement to revise EIP1. The Fellowship of Ethereum Magicians is working on this process and I think it needs an issue to maintain updates on the process for transparency... and this is a very auspicious number for such a magical EIP :-D

Some relevant issues already proposed with v

[2018-04-15 10:33] #1002 closed

[2018-04-15 10:43] GriffGreen commented on #1000
non-transferable "tokens" or badges can follow the erc-20 token standard... I dont see a problem with that... especially if for instance there is a reason to make the tokens transferable later... or if you see what Status did with their SGT token which they used to mint/airdrop SNT tokens.

I was hoping to grab EIP-1000 Sadly I missed it!

[2018-04-15 11:33] Arachnid commented on #1002
It's not an EIP, but it makes sense as an issue. Not every PR or issue in this repo has to be an EIP. :)

[2018-04-15 13:08] k06a opened #1003 "ERC1003 Token Standard (ERC20 Extension)"
[code]

## This standard is still a draft and is proven to be unsafe to be used

## Simple Summary

An extension of the standard interface ERC20 for tokens with method that allows **safely** pass and handle tokens into smart contracts.

## Abstract

I propose to move tokens from **spender** to **destination contract** over fake `caller`, which will be `msg.sender`.

Also this standard protects fro

[2018-04-15 13:25] k06a commented on #827
@mad2sm0key what do you think about this idea? https://github.com/ethereum/EIPs/issues/1003

[2018-04-15 13:35] vladzamfir commented on #960
I just published my opinion about this here:

https://medium.com/@Vlad_Zamfir/against-vitaliks-fixed-supply-eip-eip-960-18e182a7e5bd

[2018-04-15 13:48] mad2sm0key commented on #1003
You are transferring tokens to the tokens contract. I'm not sure that's a great idea. Also, if you want the receiver contract to get the tokens from the token contract you need to approve the amount first (before the .call(_data)). The receiving functions need to be payable as well if you intend to transfer value (eth).
Everyone that uses your transfer will pass the tokens through the token contra

[2018-04-15 13:50] k06a commented on #1003
@mad2sm0key thanks! Forgot to add this code, this was code from my mind.

[2018-04-15 14:06] k06a commented on #1003
@mad2sm0key think of it as of everyone is spending only it’s own tokens. And you will see, this idea will solve ERC827 `to.origin` issues.

[2018-04-15 16:16] clesaege commented on #792
This information is _always being returned_ to another contract. It is returned to the `Arbitrable` contract per

External accounts don't create dispute. `Arbitrable` contracts does.

This is the case per

This is a general dispute resolution standard, claims not need to be monetary. A claim can for example be about blacklisting something (malicious ENS address, irrelevant item, spam) (see this co

[2018-04-15 16:29] mad2sm0key commented on #1003
@k06a The updated code makes more sense now. However, your example depositToken can be used to deposit tokens for any account. There is no authentication. Maybe one is not needed in your particular case. That's pretty much the same as in ERC827. You can't really know who the actual sender is.

[2018-04-15 16:33] k06a commented on #1003
@mad2sm0key the `msg.sender` pays with tokens for any `_account` it wants. This code is fully compatible with both ERC20 (2 tx) and ERC1003 (1 tx).

[2018-04-15 16:54] mbeylin commented on #792
It seems we have again found another strong difference in opinion.

For Delphi, claims are opened by people, against particular stakes. Claims ARE for monetary amounts (units of tokens, for what else could be administered on-chain otherwise?) Are you proposing that certain byte code would execute based on these claims? Is that what you intend to store in the bytes array, and not a content hash?

M

[2018-04-15 17:14] AFDudley commented on #994
Mirroring what @Shrugs said, I strongly recommend using https://tools.ietf.org/html/rfc7946 instead of inventing your own standard for encoding geographic data structures. I also strongly recommend leveraging OSM and the existing infrastructure around that. Hopefully, @kejace or @awright can chime in with some feedback.

[2018-04-15 17:30] Physes commented on #994
@AFDudley I'll definitely consider that. Deed files are both for the purpose of geographic data structures and identity as well as other relevant factors. I've considered a few OGC (Open Geospatial Consortium) standards also both in XML and JSON but none seemed to have all the necessary requirements. I also considered just using a KML file. But this is a good question that will need further though

[2018-04-15 17:38] clesaege commented on #792
Items in lists, Oracle answers, Cryptokitties

----------------

I'm proposing a system which allows the `Arbitrable` contracts to decide what should be done when a particular ruling is made. If you want to make and `Arbitrable` contract which execute a byte code of the claimer when the `Arbitrator` contract rules in its favor, it's perfectly possible within the standard.

------------------------

[2018-04-15 17:48] k06a commented on #1003
Hey @spalladino @Shrugs @facuspagnuolo what do you think?

[2018-04-16 01:48] mryellow commented on #994
Agree that JSON and following `ERC721Metadata` is the obvious choice. XML overhead made it unsuitable for the task and it really has lost the war.

When dealing with geospatial geometry and coordinate systems another option is GeoJSON:

[code]

http://geojson.org/
https://tools.ietf.org/html/rfc7946

[2018-04-16 03:34] mryellow commented on #998
[code]

`sub[_delegate] == _tokenId`, `sub[newTokenId] = _tokenId`

Not too different from the proposed mapping:

[code]

However not dealing with the same contract with parents and children being simply related key to key as is the case with #994.

`sub[newTokenId] = _tokenId` as described works as it's always the child having a single parent. Where `children[_tokenID][_childContract] = _index` l

[2018-04-16 03:59] mryellow commented on #998
This was an edit, but then grew so I'll post again:

I guess for fungible you want it to be an integer.

`mapping(uint256 => mapping(address => mapping(uint256 => uint256))`

Where `> 0 == true` for NFTs. i.e. setting it to `1` is sufficient to be recognised as a child.

Alternatively the whole thing on it's head so that one child has one parent as is the case with #994.

`parents[_childContract][

[2018-04-16 10:15] cdmba1 commented on #960
Perhaps I'm missing something obvious here, and feel free to rip apart my views. Let's forget speculation for a second here.

What is the absolute most important thing? It's the integrity of the network. If someone gains control then it is game over -- nothing else will matter. In a PoW system, there's the potential 51% mining attack. In a PoS system, the equivalent of this attack becomes "someone

[2018-04-16 10:32] o0ragman0o commented on #960
Additionally, staking returns need to be attractive enough to fill out the
validators pool to keep the PoS network secure. Investment wise, I don't
see that a few %pa from slashing will be all that attractive to a culture
who are use to trading on high volatility.

That aside, I'm all for changing block rewards to 'reward units'

On 16 April 2018 at 20:15, Charles De Meulenaer <notifications@githu

[2018-04-16 10:35] SylTi commented on #960
"ok, good in theory, but I do not know any successfully deflationary
currency."
I guess you never heard of the gold standard that gave humanity the
industrial revolution..

Le lun. 16 avr. 2018 12:32, o0ragman0o <notifications@github.com> a écrit :

[2018-04-16 11:08] mattlockyer commented on #998
I see your point about the child tokenId being overwritten, that's a pain.

I had several approaches to this and I knew this wasn't perfect. You are right that a child contract will only be able to have one ERC-721 child. Darn.

I've been trying to avoid requiring any changes to children that are already ERC-721 or ERC-20, meaning they won't have to upgrade to be a child of a composite.

My other

[2018-04-16 11:33] amchercashin commented on #960
@SylTi So where it is now? Guess what [happened with USD](https://en.wikipedia.org/wiki/History_of_the_United_States_dollar#The_Gold_Reserve_Act) and why (I like this [order](https://en.wikipedia.org/wiki/Executive_Order_6102)). They were fighting hoarding, deflation and great depression. In addition, there is evidences in history that metal coin purity was slightly but constantly reduced over tim

[2018-04-16 11:40] mryellow commented on #998
`address childToken = address(keccak256(_childContract, _childTokenId));`

Interesting, so it's `keccak256(_childContract)` or just straight `_childContract` address in the case of a fungible?

I was thinking a lot of the issues go away when dealing with non-fungible or fungibles independently. It's always this bit where you have to start thinking about using "tokenId" index `0` or returning "toke

[2018-04-16 12:00] cdmba1 commented on #960
@amchercashin I'm not sure what the right answer is, but assets can have both intrinsic and "human attached" value. Gold is probably the most prominent example that comes to mind. It has industrial uses and can be used for the creation of jewellery, but a significant amount of its value comes from the fact it is considered a store of value.

The price of ETH definitely doesn't need to keep going u

[2018-04-16 12:42] amchercashin commented on #960
@cdmba1 In the end any value is "human attached". It just could be more or less rational :)
I personally will not spend or invest ETH if I think that it's value will rise (thats what I'm doing right now).

I'm not sure this working that way. The specialty of cryptocurrency is trust. Trust leads to demand. Demand to value. If somebody takes the control there should be evidences of this happens. And

[2018-04-16 16:36] mbeylin commented on #792
Here is a link to the stake contract, which will be the "arbitrable" contract in the end. This work is still very much WIP and undocumented, but I think you'll quickly see that our implementation of arbitration is not the same as yours. (or maybe it is, and I've simply misunderstood)

https://github.com/Bounties-Network/Delphi/blob/develop/contracts/DelphiStake.sol

[2018-04-16 17:06] mad2sm0key commented on #1003
@k06a How much gas does this use ? Oh, and the _surrender_ is a nice idea.

[2018-04-16 19:15] clesaege commented on #792
Our respective implementations do not matter for standardization. Only the interaction needs to be standardized, not the implementation. I think that a lot of your previous comments are based on the wrong premise that the standard was about implementation.

------------------

https://github.com/Bounties-Network/Delphi/blob/develop/contracts/DelphiStake.sol

I effectively think you misunderstood a

[2018-04-16 20:12] mbeylin commented on #792
Why are arbiters being paid in advance when we can trustlessly pay them when they rule?

If arbiters simply sort their bounties by the value of their fees instead of by their time of creation (or some weighted combination), the spammy bounties will be the lowest value disputes, and can therefore trivially be ignored. Otherwise if spammy claims have a meaningful supply of fees attached, they can ch

[2018-04-16 21:59] clesaege commented on #792
It's not arbiters which are paid in advance, it's the `Arbitrator` contract. The `Arbitrator` contract can pay the humans arbitrators when they rule.
Paying only after ruling would require the `Arbitrator` contract to vet all `Arbitrable` to verify that they will pay. Otherwise, `Arbitrable` contract could start disputes consuming resources and never pay.
The `Arbitrable` contracts users choose th

[2018-04-16 22:58] johnEth commented on #960
Two polls were conducted last week in which the community were overwhelmingly for a hard fix of 120 million. It wasn't even close one poll was like 88% for hard fix and 12% against with 70 people voting and the second poll was like 73% for and 27% against with 376 people voting.

So therefore the community is overwhelmingly for a hard fix of 120 million. The primary reason for a hard fix of 120 mi

[2018-04-17 00:42] mryellow commented on #998
Another thought on this concept, ERC: Ethereum Claims Registry #780 features some prior work which might be informative:

Having a `key` with a construction recipe for fungibles and non-fungibles which is consistent might be something worth looking at. Perhaps stepping away from `address` type here is nice or opens up more possibilities.

`bytes32 key = bytes32(keccak256(_childContract, _childToke

[2018-04-17 06:57] k06a commented on #1003
## ERC827 and ERC1003 gas comparison

### ERC827

Field | Value
--- | ---
status | 0x1 Transaction mined and execution succeed
from | 0xca35b7d915458ef540ade6068dfe2f44e8fa733c
to | MyToken.approve(address,uint256,bytes) 0x692a70d2e424a56d2c6c27aa97d1a86395877b3a
gas | 3000000 gas
transaction cost | 62256 gas
execution cost | 52016 gas
hash | 0x12833914473d7d06ec75b9e25dd084220f86d642e7b971521854f

[2018-04-17 08:48] mattlockyer commented on #998
My feeling on this, and why I refer to is at "pseudo address creation" is because it is analogous to how smart contract addresses are generated given the nonce of the smart contract.

So here we are creating an address for every NFT based on the contract address and tokenId of the NFT. This is exactly the same as if every NFT were deployed as a new contract from the main contract.

[2018-04-17 08:55] AugustoL commented on #930
@trigun0x2 Ive been thinking about having something like that and also about using RBAC, I think in this case using RBAC is the best option for the same reason @Shrugs mentioned, this storage contract is useful for upgradeability purposes and I saw the necessity on having a storage like this while I was working on token proxy and upgradeability.

[2018-04-17 09:07] AugustoL commented on #930
@fulldecent I understand what you mean, I was looking for something more standarized to not work over different storage requirements for every smart contract, I think that using an storage like these fulfill more  of the storage requirements of smart contracts. There is some cases maybe most of them where you dont even need something like this, but in my case where Im working on a set of different

[2018-04-17 09:40] AliAshrafD commented on #960
So therefore the community is overwhelmingly for a hard fix of 120 million. The primary reason for a hard fix of 120 million is in a nutshell Ethereum survival. As an economist I can tell you that Ethereum's very survival is at stake.

Interesting. When it comes to cap, votes matter and when it is about ASIC resistance nobody cares. Ethereum's survival is in risk by this very fact: It is all about

[2018-04-17 10:41] SimonFricker commented on #865
What if tokens are created with an embedded GAS value. This way the GAS can be deducted from the token, and the token destroyed?

[2018-04-17 11:32] AugustoL commented on #827
@ProphetDaniel The increase and decrease approval funcitons are not taken in count in this standard because It tries to be extend only ERC20 methods functionality, in zeppelin we have the the ERC827 file that only extend the three methods of ERC20. The ERC827 token standard implementation is an extension of the ERC20 token standard that zeppelin use.

[2018-04-17 12:01] AugustoL commented on #827
I just modified the ERC827 standard based on the discussions we had about function overloading and use of payable modifiers, the PRs introducing those changes are:

https://github.com/OpenZeppelin/zeppelin-solidity/pull/871
https://github.com/OpenZeppelin/zeppelin-solidity/pull/838

The standard is still a draft and I think that with these changes and after months of being reviewed and being used

[2018-04-17 13:32] tbrannt commented on #960
Or maybe it's just you being angry that the community seems to disagree with you on this one? I don't see anything supporting your claim that it is just vitalik beeing in favor of it. So far I have seen encouragement from many different camps/participants on this.

[2018-04-17 14:01] AliAshrafD commented on #960
Show me one, just one issue has  been decided despite Vitalik's position against it in this so-called 'community' ...

Youngsters have a right to be unstable, actually they have to be unstable, otherwise (they should get help from specialists imo), It is the fault of people who put Vitalik in such a position ... well ...other than his dad for not teaching him to take social issues a bit more serio

[2018-04-17 14:26] mohsenghajar commented on #960
Not everyone supporting a hard cap is young, while not suggesting old
people necessarily know what they are doing.  When it comes to Vitalik, I
have come to believe he actually knows what  he is doing, so age is
irrelevant here.  I am old by the way.

On Tue, Apr 17, 2018 at 10:21 AM, tbrannt <notifications@github.com> wrote:

[2018-04-17 14:29] mohsenghajar commented on #960
I am sure there will be much better stuff than Ethereum in 5-10 years.  So
no need to look so far ahead of us.

On Tue, Apr 17, 2018 at 10:24 AM, Umur Basar <notifications@github.com>
wrote:

[2018-04-17 14:55] oed commented on #780
@dwking2000 I don't really have a strong opinion either way anymore. However I think for many use cases though there will be issuers that are trusted so it wouldn't matter if the subject issued a counter claim.
However I think my major concern is the "Right to be forgotten" law in the EU. I know that the claim is still retreivable through the logs, but it seems less troublesome.

[2018-04-17 14:59] AliAshrafD commented on #960
@mohsenghajar It is nonsense. Having enough education and general knowledge and experience is a must for socioeconomics alone and there is more than socioeconomics. Elders are always better, they are source of wisdom and knowledge ... it is just crazy to say such things about Vitalik and the more crazy thing is his participation in this dangerous irresponsible game with the community.

It is not a

[2018-04-17 15:13] Arachnid commented on #960
Please keep discussions to the point of the EIP. Ad-hominem attacks will not be tolerated.

[2018-04-17 15:34] AliAshrafD commented on #960
@Arachnid  Vitalik is part of this, isn't he?

Through my criticism, besides my general objection to the 'Vitalik knows better' discourse that people use here. I'm trying to show a very important and critical point about this EIP:

**Despite the belief that it helps the price, it won't! It just puts the reliability of Eth in serious danger of being suspected to be governed inappropriately in a way

[2018-04-17 15:39] Arachnid commented on #960
*Who* made the argument is not relevant to the validity of the argument. Comments on the people discussing an argument are irrelevant appeals to authority or attempts to poison the well. The point of discussion here is the proposal itself.

If someone makes an argument to authority, feel free to point it out as such. That doesn't invite you to engage in ad-hominem attacks against anyone.

You have

[2018-04-17 15:47] amchercashin commented on #960
Could we, both cap supporters, their opponents and others agree that

1. This question is vital for the long term Ethereum success.

2. It can't be right now resolved by community. There are plenty of opinions and selfish reasons.

3. So there should be in-depth study. Better from several independent, free from selfish reasons, professionals (all this as  much as it could be).

The community could

[2018-04-17 16:17] AliAshrafD commented on #960
@Arachnid ad-hominem attack is an irrelevant acquisition in the context of this EIP, imo my reasoning:
- It is a political proposal not a technical one. Issued by a politician with a history and a future.
- searching this page would reveal that many people are arguing on the topic by using 'Vitalik knows better' thing in mind.
- It is public sphere, people are watching, they will judge.
-The most

[2018-04-17 16:24] Arachnid commented on #960
@AliAshrafD It's not complicated: Argue about the proposal, not the person who proposed it. The personal attributes of the proposer are completely irrelevant.

If you see other people making ad-homs or appeals to authority, feel free to call them out on it too.

[2018-04-17 16:30] ctapang commented on #960
I want to understand Vitalik's reasoning as expressed less than a year ago:
https://vitalik.ca/general/2017/10/17/moe.html

In this blog, Vitalik (and please don't take this as a criticism -- I just want to understand) says that
"Now, let’s look at the story with a “medium of exchange” token. N people value a product that will exist in a decentralized network at $x; the product will be sold at a p

[2018-04-17 16:40] AliAshrafD commented on #960
I think any proposal regarding changing strategic attributes of any cryptocurrency, should be considered as a breach of the protocol and **shouldn't be considered as an 'improvement proposal'**.

The author has rights to propose whatever s/he likes, but when it comes to 'constitutional' law breach. it would be more fair to start a new coin or to fork with a new name, unless the hypothetical propos

[2018-04-17 16:50] ctapang commented on #960
@AliAshrafD , a system can be decentralized and yet be governed centrally. It is a matter of which powers are devolved (decentralized) and which ones remain in the center. There are basic principles (say "monetary policy") that can be decided centrally, but things like how any transaction gets confirmed should remain decentralized.

In other words, decentralization is a matter of degree. Total dec

[2018-04-17 17:32] mbeylin commented on #792
This is why the arbitrable contracts shouldn't be coupled to the arbitrators, who can choose to rule on claims they desire to (and trust) and ignore ones they don't.

Why do you assume that the arbitrator must be another contract and can't simply be an individual?

This is trivially done on the front end by comparing byte code / the master copy which proxies point to.

Again, it only triggers that

[2018-04-17 17:39] tbrannt commented on #960
IMO longterm there are mainly 2 possible scenarios:

1. ETH is capped, many people hold ETH, some stake, but not all of them
2. ETH is not capped, almost all ETH is exclusively distributed among the validator set.

Both might be possible the question is whether we prefer one of both scenarios and why.

[2018-04-17 17:40] AliAshrafD commented on #960
@ctpang  A centralized (or a semi-centralized system, whatever) is deemed to extinction and is not part of the cryptocurrency agenda.

The very first purpose of any cryptocurrency is to get rid of centralized  monetary policy. There will be no decentralized transaction processing when it comes to centralized monetary policy.

It is nothing new, we have USD experience ...
USD began with little or z

[2018-04-17 19:09] clesaege commented on #792
That's the precise goal of this standard, providing a standard interface for coupling `Arbitrator` contracts and `Arbitrable` contracts.
By paying in the `createDispute` and `appeal` the `Arbitrator` can be sure that the arbitration fee is paid before engaging a dispute resolution procedure (in my usecase drawing jurors which will lock some of their tokens, in some other cases, creating a predicti

[2018-04-17 19:30] mbeylin commented on #792
And for the record, my mention of "my product 4 times" in no way is meant to promote it (who am I promoting it to? other developers who browse EIPs? Those are unlikely going to make up the bulk of an arbitration user base).

I mentioned our product because we have implemented a version of Arbitration that differs very strongly from yours. Not only does your design require high coupling between pro

[2018-04-17 20:11] clesaege commented on #792
Mark, since you are misreporting our interactions, I would not interact with you anymore. The issue section of an ERC is not a place for personal attacks. Your point of view has been understood. Good luck on your ventures. Further off topic comments will be reported to an EIP editor.

[2018-04-17 20:19] mbeylin commented on #792
Was your above comment not littered with personal attacks on my character?

If you decide you are interested in actually collaborating on a standard for Arbitration on Ethereum (and not simply formalizing your teams approach into a standard that others must conform to), I would be happy to help.

[2018-04-17 21:36] ctapang commented on #960
I understand that "decentralization" has become a battle cry among cryptocurrency advocates, so much so that it has sort of become the end all and be all of all things. It is no panacea, and in fact no human organization can last long without some level of centralized decision making.

Money (not just crypto money) by itself is a decentralizing force. It has allowed us to specialize and not be as

[2018-04-17 22:09] ctapang commented on #960
I want to get back to my discussion of Vitalik's point about MOE. One thing we can say, and that Vitalik I am sure can agree with, is that no crypto-economy is closed: everyday the number of people holding (or hodling) any one currency is increasing. N is an increasing number. Each person may not hold much on average, but as N increases, demand goes up.

Now if we don't increase the quantity of cr

[2018-04-18 00:08] AliAshrafD commented on #960
@ctpang  I afraid you are not adhering to the basic idea of what is the mission for cryptocurrencies and this discussion is not for changing your mind about the _freedom to choose your center_ instead of/as an interpretation of decentralization.

The thing is, officially Ethereum is part of a movement that doesn't comply with your idea. It is not a community made of users who eagerly have choose a

[2018-04-18 00:49] ctapang commented on #960
@AliAshrafD you have as much floor as I have in this forum. You can't make me stop as much as I can't stop you. We can only try to convince, and that's it. I rest my case. I don't want to waste my time any further.

[2018-04-18 07:30] buhrmi commented on #721
I believe it was implemented to be compatible with ERC20. But yeah, even ERC20-compatibility is a strange concept for NFTs.

[2018-04-18 07:32] dmdque commented on #721
Looks like you could also just query `ownedTokens[_owner].length` rather than maintain an up-to-date mapping of `ownedTokensCount`. That approach seems better to me, unless I'm missing something.

[2018-04-18 09:49] AliAshrafD commented on #960
Disclaimer:
@ctpang my latest paragraph, asking for putting an end to protocol manipulation was not meant to hurt you, not even about you. Obviously you are not the one who is about to committing such a manipulation and as I understand you are against the idea of putting a cap.

It was an official request issued on behalf of the majority of Ethereum community, or at least an important fraction of

[2018-04-18 10:43] amchercashin commented on #960
I think we can't avoid protocol manipulation because monetary inflation is not resolved problem.

At the start of the ethereum the model with constant positive monetary inflation was chosen, like 18m of coins annually. I can understand reasons behind this: the lack of knowledge of system behavior and lack of time to make decision.

Maybe that's not bad for the start. But this is the delay of probl

[2018-04-18 15:25] AliAshrafD commented on #960
A wise man has said:

I'm not sure who is that wise man and I appreciate any help to find him. Wanna make a temple in his name ;)

Ethereum, a **persistent system** or an under development **experimental project** , subject to deconstructionism. This is the question!

Just one comment to be taken in consideration: Those who are in favor in the second option, defining Ethereum as a project, have th

[2018-04-18 20:30] bumerang007 commented on #960
All look https://www.etherchain.org/coinvote/poll/35

[2018-04-19 00:05] 3esmit commented on #939
@Agusx1211 Good luck bloating your contracts when storage fee gets implemented in mainnet ;)

[2018-04-19 03:16] tab00 commented on #84
Have the majority agreed with https://github.com/ethereum/EIPs/issues/84#issuecomment-292402851 by @MicahZoltu ?

I've found that some wallet apps have stubbornly stuck with their non-standard implementations. @erasmospunk, please make Coinomi be BIP44 standard-compliant. I like Coinomi but cannot use it if its developers refuse to comply with standards.

[2018-04-19 12:15] Physes commented on #994
Hey everyone, so the white paper for The Zone Protocol has been published, explaining the background of DNFTs:

https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3161685

[2018-04-19 15:29] nick commented on #725
Now that Solidity 0.4.22 is out, I updated our implementation to work with arbitrary length data. We also released a [blog post](https://medium.com/originprotocol/managing-identity-with-a-ui-for-erc-725-5c7422b38c09) and [demo video](https://www.youtube.com/watch?v=jjUKWRK8H2g) showing how the UI works. Hope they inspire more people to understand and use ERC 725!

[2018-04-19 16:40] owocki commented on #948
someone just mentioned to me that maybe somehow ethereum alarm clock could be built upon the standard.  not saying i think its the right path.  just putting that thought on the table

https://github.com/ethereum-alarm-clock/ethereum-alarm-clock

[2018-04-19 22:09] 0xbitcoin commented on #865
This is fantastic.  The problem I see is that many tokens have been launched and will not add this functionality.  Furthermore, you do not need to pass in V R S you can just pass in bytes for the full signature and use ECRecover sample library from Zeppelin.

In order to allow for older ERC20 tokens to have this functionality, I am building a special 'wallet' contract called LavaWallet.  This will

[2018-04-20 03:58] harish-narayanasamy commented on #763
Why the  method Sendmultisig  is listing the transaction as internal transaction?

[2018-04-20 05:11] kosecki123 commented on #948
@owocki this definitely can be built using ethereum alarm clock. The way eac works is more or less what @alexvandesande proposed, signed cheques.
An example implementation for [DelayedPayment](https://github.com/ethereum-alarm-clock/ethereum-alarm-clock/blob/master/contracts/_examples/DelayedPayment.sol) is quite close to something that can handle recurring payments.

Signed cheques approach using

[2018-04-20 08:06] renuseabhaya commented on #650
I have used set of extraData coding tools in istanbul-tools repository  to manually generate genesis.json & defined toml file too, but when i starts nodes, it throws error as "Failed to decode message from payload", err="unauthorized address"

[2018-04-20 09:02] nieldlr commented on #948
Hey everyone,

I decided to start scratching around some experimental code to get a better idea in my head on how a standard might play out based mainly on @pipermerriam's ideas & what a few others have shared here: https://github.com/nieldlr/subscription-experiments

In my view, standardization should usually follow from actual use (bottom-up), or at least in close collaboration with defining a s

[2018-04-20 11:18] fulldecent commented on #725
I do not support this ERC. I believe any practical use case herein is already well handled by the existing ERC-721 which is already enjoying significant marketplace support.

[2018-04-20 15:02] giclo commented on #866
The rollback ability should be limited by time, say one day. The TX must be confirmed during that day, using confirmation smart-contract of payee's choice or predefined policy and if it's not confirmed, it should auto-rollback.  The rollback should not require consensus to complete.

Banks settlement procedures are time-tested. I do not understand why there's urge to reinvent the wheel if one want

[2018-04-21 13:08] collincusce commented on #725
@fulldecent you're not technically wrong in so far as someone can definitely build their own identity system using 721, but that's kinda missing the point of standards, no? A common interface for identity is super useful for everyone, and 721 doesn't fill that specific niche.

[2018-04-22 11:51] fulldecent commented on #725
People ARE building identity systems on 721, it's already happening.

After people start building and deploying systems that are NOT 721 then I would recommend that is the time to start discussing a standardization of those alternation approaches.

Right now is premature to standardize a thing where implementations do not exist.

[2018-04-22 12:01] dwking2000 commented on #780
@oed "Right to be forgotten" laws are complex and beyond the scope of the EIP so we should probably leave compliance of data removal to the implementor. Anyone opting into a blockchain claims system should either waive their rights or agree to storage of claims in some mutable data store (off chain). Allowing the subject to 'remove' claims is still useful and allows for schemes where the subject r

[2018-04-23 02:22] atlanticcrypto opened #1027 "On ETH economic incentives (Casper FFG / EIP 1011)..."
I'd like to formally discuss the appropriate block reward to target for the roll-out of FFG. I believe that an economic assessment of the block reward is of the utmost importance for network stakeholders, and shouldn't be looked at as a for/against "miner" conversation.

Early on, the block reward was an economic incentive to bring network security, in the form of PoW "miners" to allow the early n

[2018-04-23 02:41] MicahZoltu commented on #1027
Miners need to be paid enough such that the cost of an attack is necessarily less than the profit one could make on an attack.  Paying miners any more than that is overpaying for hashing services, and paying any less than that puts the system at security risk of a profit seeking attack.

Calculating exactly how big the reward needs to be in order to guarantee this is complicated.  The opportunity

[2018-04-23 03:00] Njcrypto commented on #1027
The value of the infrastructure serving the network has a large beta to the overall value of the network. Every dollar of hardware providing security has a multiplier effect on the value of the network. A large infrastructure base attracts investment capital. Simply look at a normalized mining reward chart over time for any crypto asset. The value of a network constantly rebases (within a large ba

[2018-04-23 03:58] bitguildcore commented on #721
I don't think ERC721Enumerable should be optional. I think it should be a part of the standard. Without it you have to rely on some internal tracking or caching. See CryptoKitties as a great example of people screwing that badly and basically having to use their internal centralized APIs now. A bunch of other games copied that model and are in the same situation now. tokenOfOwnerByIndex is a _must

[2018-04-23 03:58] vernon99 commented on #721
I don't think ERC721Enumerable should be optional. I think it should be a part of the standard. Without it you have to rely on some internal tracking or caching. See CryptoKitties as a great example of people screwing that badly and basically having to use their internal centralized APIs now. A bunch of other games copied that model and are in the same situation now. tokenOfOwnerByIndex is a must!

[2018-04-23 04:27] ricmoo commented on #721
Enumeration adds a great deal of complexity and on-chain cost to information that is likely not required on-chain. It does add complexity to dapps that wish to to enumerate over tokens, for example, from the front end, but that is where the complexity *should* live. Those centralized API’s can be easily implemented by anyone, so they aren’t intrinsically centralized, but centralized out of lazines

[2018-04-23 04:29] bitguildcore commented on #998
This is a great start, thanks. Like the idea of pseudo-addresses for child tokens. Have a bunch of thoughts. Here're three major points.

1. Mixed token types in one mapping.

As you said, I think this is a preferred solution. I don't think it's a good idea to have one mapping for two different standards. It adds complexity (and fragility), adds unexpected behaviors, makes it harder for the wallet

[2018-04-23 04:31] vernon99 commented on #998
This is a great start, thanks. Like the idea of pseudo-addresses for child tokens. Have a bunch of thoughts. Here're three major points.

1. Mixed token types in one mapping.

As you said, I think this is a preferred solution. I don't think it's a good idea to have one mapping for two different standards. It adds complexity (and fragility), adds unexpected behaviors, makes it harder for the wallet

[2018-04-23 08:07] fulldecent commented on #721
@vernon99 Thank you for sharing your opinion. It will be most useful if you share the specific applications/use cases you are working on. Preferably for a project beyond the idea stage.

The rational for making ERC721Enumerable optional is that it adds a gas cost for every transfer, mint and burn operation. I expect that most applications will choose to implement this interface. But for the questi

[2018-04-23 09:48] o0ragman0o commented on #145
Just learnt of this EIP (had been wondering why EVM doesn't have bitwise shifting).

The issue seems to have gone quiet and missed the Byzantium fork.  I'd like to express interest in it being included for Constantinople.

[2018-04-23 13:46] k06a commented on #827
Hey, I have an idea to avoid `tx.origin` touching by transferring tokens over token smart contract itself. This scheme is also proposed in https://github.com/ethereum/EIPs/issues/1003 – where this several calls moved from web3 into token smart contract.
[code]

You should call:

[code]

[2018-04-23 15:06] collincusce commented on #725
http://developer.uport.me/overview.html#%3Cstrong%3Euport-identity-protocol%3C/strong%3E

[2018-04-23 18:21] zjunyi opened #1030 "Modify Contract Code at 0xfb4f9E002763b9D8A48EFcE8AB8A33e4d3bC9efC"
EIP: <To be assigned>
EIP Title: Modify Contract Code at 0xfb4f9E002763b9D8A48EFcE8AB8A33e4d3bC9efC
Author: Zheng Junyi
Type: Meta
Status: Draft
Created: 2018-04-24

# Simple Summary

An old contract had 4 ETH locked up due to a bug in the code published on ethereum.org. The fund is provably mine, and completely unmoveable, and the bug renders an insignificant amount of Ether inaccessible.

# Abst

[2018-04-23 18:27] MicahZoltu commented on #1030
I recommend signing a message with the private key that controls the contract at `0xfb4f9E002763b9D8A48EFcE8AB8A33e4d3bC9efC`. That says something like, "I approve https://github.com/ethereum/EIPs/issues/1030".

I also encourage following the process laid out in #867, which provides a good template (IMO) for laying out an EIP like this.

[2018-04-23 18:34] zjunyi commented on #1030
Good point, I didn't realise the ERC was successfully adopted, given that it was stalled for a while.

That said, I don't really think the community should bother going ahead with this. But I'm in favour of a good discussion on where the line is, and having another extreme case might be good for deciding what should be saved and what shouldn't.

[2018-04-23 18:45] Arachnid commented on #1030
FYI, this isn't an actual EIP - if you want to write one you need to send a PR according to the guidelines in the readme and EIP 1.

[2018-04-23 18:49] zjunyi commented on #1030
Understood, this is just a draft for discussion, which is why I placed it in issues.

If the Eth Recovery Proposals goes through I'll format it accordingly and list it there instead. I don't suppose we need an EIP after all?

[2018-04-23 19:30] k06a commented on #901
@flygoing @Arachnid just added `block.chain_id` to the EIP, wanna know your opinion on this.

[2018-04-23 19:32] Arachnid commented on #901
`tx.nonce` should probably not be added, since it will conflict with transaction abstraction work.

If you want to make this into an EIP, you'll need to specify the opcodes more rigorously.

Being able to access codehash without fetching the full code for a contract might also be a useful opcode to add.

[2018-04-23 19:40] bradleat commented on #1030
@Shouldn't you be in favor of more people, not just those well-versed in the EVM's inner workings, submitting such proposals.

[2018-04-23 19:59] k06a commented on #901
@Arachnid what about `block.chain_id`? Almost any signature-related stuff should require chain-id restrictions.

[2018-04-23 20:13] Arachnid commented on #901
@k06a That seems like a reasonable idea to me.

[2018-04-23 22:47] mirceapasoi commented on #725
@fulldecent what are some examples of people building identity systems on 721?

[2018-04-24 02:50] MicahZoltu commented on #1027
I strongly suspect that the vast majority of ETH miners aren't actual users of the system.  Most of the miners I have met just mine the most profitable coin and either hold it (just because they are also speculators) or convert it to some other currency and then hold that (or spend it).  I don't believe mining brings in a significant number of meaningful participants, where meaningful are people w

[2018-04-24 02:57] MicahZoltu commented on #1030
@zjunyi The ERP process isn't finalized, it is just a draft, but I believe it is good advice and a good process to follow none the less, and the most likely process by which you'll get this pushed through.

An issue _is_ the correct place if you want to start with discussion, so far you are following the recommended path quite well.  Kudos for you for doing your homework.  :D

The ERP process woul

[2018-04-24 03:01] MicahZoltu commented on #1030
@bradleat It is perfectly acceptable for someone to find (hire) a third party to draft the ERP for them and handle the technical bits.  However, we do want the process to remove as much cost from the EIP editors and client developers as possible, which means someone else has to do the technical work.

[2018-04-24 03:12] Njcrypto commented on #1027
I can tell you that there are extremely serious institutional investors who look at mining as a way to begin investing in different coin networks. They look at the current slate of "startups" and ICOs and cannot get comfortable with the level of transparency or governance in place, and find the best way on an "introductory" basis to invest capital is through building mining assets. As soon as thei

[2018-04-24 03:58] dgrander commented on #1030
@MicahZoltu The ERP process is not an accepted process - he should not be following it and you should not be recommending it. In fact, it has been roundly rejected by the community.

[2018-04-24 04:06] MicahZoltu commented on #1030
The ERP process is currently the best recommendation we have (IMO) for recovery proposals.  It minimizes the work required by the client developers, while providing equal opportunity to anyone willing to put in the effort (no preferential treatment to certain users).

While I recognize that there are _some_ people who aren't in favor of any recoveries, none have been put to the test yet (meaning n

[2018-04-24 07:15] FranciZ commented on #725
0xcert.org for example. It's not just identity, but it also addresses that issue.

[2018-04-24 07:59] fulldecent commented on #725
FYI I will be speaking at the 0xcert event this week. Don't be shy, come to Slovenia this Thursday!

https://www.eventbrite.com/e/beyond-cryptokitties-erc721-tokens-tickets-45174230339

[2018-04-24 08:08] agdolla commented on #725
@fulldecent will it be streamed or recorded?

[2018-04-24 10:41] d10r commented on #948
Very valid use case, however I don't get why we stick to a model of recurring payments.
We can finally hack money. Why not implement such use cases with continuous transfers?

[@aantonop](https://twitter.com/aantonop) already talked about [Streaming Money](https://www.youtube.com/watch?v=l235ydAx5oQ) in 2016. He imagines it implemented with payment channels (lots of micro txs). It is however possi

[2018-04-24 11:16] ondratra commented on #930
I must also agree with @fulldecent on this. I can't imagine situation where I need generic data storage because Ethereum's smart contract itself is generic data storage, thus when I want to upgrade for example ERC20 contract it usually requires upgrade of logic(adding new implementation to proxy, etc.) but not the change of storage.

@AugustoL Can you extend the Motivation section with more detail

[2018-04-24 15:02] fulldecent commented on #721
@emilianobilli The link at the top of this page is authoritative.

And it is https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md

All the other Slim Shady's are just imitating.

[2018-04-24 15:26] emilianobilli commented on #721
@fulldecent Thanks a lot!

[2018-04-24 16:12] rustyx commented on #155
Too late to the party, but why hash 9 values with the last two fixed to `r = 0` and `s = 0` instead of just 7 values?

[2018-04-24 18:07] collincusce commented on #725
Just read over that 17-page 0xcert white paper. It isn't an identity system. Hell if you ctrl-f that whitepaper "identity" is used exactly once (I did that to make sure I wasn't missing something). I wish the team their best, but this is nothing like what #725 + #735 offers.

[2018-04-24 20:08] erasmospunk commented on #84
@tab00 BIP32's receive/change addresses structure does not map to Ethereum. The first lightweight wallet to use BIP44 with Ethereum tried to emulate Bitcoin (was creating new addresses after one was used). Unfortunately this approach was broken, thus the alternative path was created to avoid the situation where restoring from seed would show an incomplete balance and transaction history.

[2018-04-24 21:09] bradleat commented on #1030
I'm of the opinion that people who want a recoverable token should build it as an erc-20 wrapper. Call it governed-token and define some sort of human intervention processes (perhaps with a pseudo-legal framework or arbitration) for reversing transactions made with that token.

Basically the idea is you can send any erc-20 token to the governed-token contract and then proceed to move the tokens ar

[2018-04-25 00:14] ksystemsio commented on #964
Please re-open

[2018-04-25 00:30] PhABC commented on #981
Any implementation of ERC-981 @brijakodo @jdkanani?  Want to check efficiency for batch child transfers.

[2018-04-25 03:40] MicahZoltu commented on #84
@erasmospunk While following BIP44 may not make sense for Ethereum, we **SHOULD** follow BIP 32 which states that if you start with `m/44'` then the rest of the path **MUST** be BIP44.  If you feel like BIP44 doesn't make sense or is broken for Ethereum, that is fine, just use a prefix other than `m/44'`.

[2018-04-25 03:52] MicahZoltu commented on #1030
The ERC-20 wrapper could just as easily have a bug.  In fact, I would argue that due to the complexity of authoring yet-another-governance-layer, the chances of some layer-2 solution having a bug are _higher_ than layer-1.  Thus, we don't really solve anything by doing this.

Also, for many classes of inaccessible ETH, the user could be impacted when moving ETH into/outof the token (e.g., fat fing

[2018-04-25 03:55] raymanyoung commented on #223
I am wondering if only talking about "prevent loss of money caused by human error", will adding the following function in ERC20 contract work? (I got this from here: https://theethereum.wiki/w/index.php/ERC20_Token_Standard)

    // ------------------------------------------------------------------------
    // Owner can transfer out any accidentally sent ERC20 tokens
    // ----------------------

[2018-04-25 06:09] k06a opened #1035 "EIP1035: Transaction execution batching and delegation"
---
eip: EIP1035
title: Transaction execution batching and delegation
author: Anton Bukov (@k06a) <k06aaa@gmail.com>
discussions-to: k06aaa@gmail.com
status: Draft
type: Core
category: Core
created: 2018-04-25
updated: 2018-04-26
relates: https://github.com/ethereum/EIPs/issues/901
---

## Simple Summary

It will be great to allow trustless delegated execution of the transactions inside EVM. I mea

[2018-04-25 06:25] chompomonim commented on #964
@ksystemsio this task was closed, because it is very similar to #965 and I do believe that any advanced extensions should be done for #777 as it is better standard for tokens (IMHO).

Could we have any discussions on #965 first and if we will agree that it's needed for ERC20, then we can reopen this task.

[2018-04-25 07:16] FranciZ commented on #725
@collincusce You're correct that it's not an identity system but it does address the issue of identities and credentials and solves most if not all of the issues discussed here. I think it's fair to say it's related and if we're talking about solutions built on top of #721 possibly being a better alternative to this ERC. It's worth mentioning.

[2018-04-25 09:46] MicahZoltu commented on #1035
I would personally prefer this to be an EVM layer change, rather than contract layer.  It feels silly that the person authorizing the transaction has to be the same person paying fees for the transaction.  Miners care whether they get fees, they don't care about who they get fees from.  Users care about other people not being able to use/spend assets under the control of their private keys, they d

[2018-04-25 11:51] erasmospunk commented on #84
@MicahZoltu extended BIP44 defines only coin type indexes, not how each coin uses the account private key.

If you take Monero as an example, it is by definition incompatible with the proposed standard of BIP32 (different curve, the priv/pub is created with the transaction data, has spend & view private keys).

In case of Ethereum, many users are using the alternative paths and will be confused wh

[2018-04-25 18:02] bradleat commented on #1030
@MicahZoltu it could have a bug. However, Ethereum doesn’t have a well defined governance layer outside of developers will write code and users will decide to run that code (or not).

Fat fingering aside, I am sure many people who want to be secure from theft, mistakes, or scams would enjoy a token with a governance layer built into it. The beautify of building a wrapper is that those who want it

[2018-04-26 01:59] MicahZoltu commented on #1030
As I have been arguing elsewhere (so sorry if you have seen this one before), the only governance process that I think really matters/is effective is one of forking.  Building a forking governance layer on top of a forking governance layer feels redundant.  I would be pretty strongly against a democratic governance layer built on top of the current forking governance layer because ultimately, the

[2018-04-26 02:12] MicahZoltu commented on #84
BIP32 doesn't define any consistent path.
BIP43 asserts that the first segment of the path is a purpose, which defines what the remaining segments are.  `m / purpose'`
BIP44 defines purpose 44 and sets the remaining fields to `m / 44' / coin_type' / account' / change / address_index`
SLIP44 further defines `coin_type` `60'` to be Ethereum and `61'` to be Ethereum Classic.  `m / 44' / 60' / account

[2018-04-26 09:45] yudilevi commented on #223
@raymanyoung this mechanism is working and there's a version of that concept that's implemented in various token contracts.
The goal of the ERC223 standard is to formalize the solution to the problem and also prevent it from happening in the first place, without the need for the contract to be owned by anyone.

[2018-04-26 11:58] k06a commented on #1035
@MicahZoltu the more I think about this proposal the more I see this is the solution for tx **batching**  to replace ERC827 (and ERC1003). Ethereum also can provide default smart contract (0x05?) for batching transactions with the methods like this:
[code]

[2018-04-26 14:28] frozeman commented on #725
I also don't understand what #721 would be for identity? The idea of this standard is that anybody can have a self soverign identity, that has the same flexibility like ERC20 where additional features and function can be build in. The idea of key management and attached claims, is something which maybe NFT and a claim registry could do, but doesnt offer the same experimentation and flexibility tha

[2018-04-26 15:59] fulldecent commented on #721
LIVE NOW: 0xcert event: ERC-721 Beyond CryptoKitties

EVENT: https://www.eventbrite.com/e/beyond-cryptokitties-erc721-tokens-tickets-45174230339

LINK: https://www.youtube.com/watch?v=VSVIFdTJLiU

[2018-04-26 16:08] fulldecent commented on #725
@agdolla et al. yes. I am setting up a live stream for you

LIVE NOW: 0xcert event: ERC-721 Beyond CryptoKitties

EVENT: https://www.eventbrite.com/e/beyond-cryptokitties-erc721-tokens-tickets-45174230339

LINK: https://www.youtube.com/watch?v=VSVIFdTJLiU

[2018-04-27 05:25] jamesray1 opened #1037 "EIP-908 [for discussion] (discussion moved to the Fellowship of Ethereum Magicians)"
Update: see https://ethereum-magicians.org/t/eip-908-reward-full-nodes-and-clients/241 for the latest place for discussion.

Gitter topics are a beta. They don't support Markdown and don't work with the Gitter desktop app. Links to EIPs don't show as a clickable URL, and are automatically formatted not as a URL. So I'm moving the discussion to this issue, at least for now until a better forum is c

[2018-04-27 05:33] fabioberger commented on #781
@karalabe thanks for linking to those RPC endpoints. Indeed the way it's implemented is similar  to @Recmo's suggestion. Unlike this RFC however, they only give account level granularity, not individual state change granularity.

I think it's important to plainly state the problem `eth_watchCall` is trying to solve:

**Smart contract events != State changes**

Currently Ethereum developers are exp

[2018-04-27 14:29] owocki commented on #948
@kermankohli awesome!  would you be able to type up a summary (either here or on a medium post) about your solution!?

[2018-04-27 14:30] owocki commented on #948
hey everyone on this thread,

i am having a call with several of you next week in order to discuss turning this ERC into an actual EIP pull request.  if you would like to join, please reach out at kevin@gitcoin.co or on the [gitcoin slack](https://gitcoin.co/slack)

[2018-04-27 21:53] jamesray1 commented on #1037
Maybe, although I was under the impression that FoEM was more for governance and contentious EIPs.

[2018-04-27 21:54] jamesray1 commented on #1037
This issue may be contentious as the reward for miners may need to  be reduced with it.

[2018-04-27 23:44] mattlockyer commented on #998
Thank you everyone for the comments. I have been grinding through an implementation with tests so we have a basis from which to work on finding the most optimal solutions together.

@vernon99 I have address the first 2 concerns for nonfungible "possessions". I like this name.

[code]
This code is working now, it's [here](https://github.com/mattlockyer/composables-998) if you want to run it yoursel

[2018-04-28 01:53] jamesray1 commented on #1037
Moving the discussion again to https://ethereum-magicians.org/t/eip-908-reward-full-nodes-and-clients/241.

[2018-04-28 01:54] #1037 closed

[2018-04-28 02:09] tjayrush commented on #781
For applications such as the ones we are working on (QuickBlocks), watching for events is inadequate. If you're trying to fully audit an Ethereum address, you need to watch everything. `debug.getModifiedAccountsByHash/Number` is okay (it's much better than what's available now), but what's really needed is `debug.getInvolvedAccountsByHash/Number`.

An example of where an address is 'involved' but

[2018-04-28 08:02] kermankohli commented on #948
@owocki @nieldlr @alexvandesande @pipermerriam @gtaschuk @ptrwtts @dpyro @ScottStevenson  @niran

Firstly, I'd like to thank all of you for your ideas/discussion here. I've spent a lot of time thinking about what all of you have said, and as a result been able to come up with this solution.

Without further ado, here's a potential solution for implementing recurring payments on Ethereum: https://g

[2018-04-29 20:26] Arachnid commented on #168
@fergarrui Deleting the account will not affect its token balances.

[2018-04-29 22:15] dsyeag commented on #960
I agree with @Arachnid 's point that funding network costs through issuance is desirable to avoid ETH hoarding. In the interest of the long-term development of the protocol, I think adding an issuance-based reward for the development team makes sense as well. ETH hodlers should be happy to be diluted by some small % a year for development efforts that add significant value to the network.

The tou

[2018-04-30 04:02] wadeAlexC commented on #865
Hey all! @RobertMCForster and I are working to implement Coinvest's COIN token to be ERC865 compatible. Obviously, that's difficult, seeing as ERC865 isn't finalized, but we're coming up with a few workarounds to (hopefully) have a forward-compatible system in place.

I think we've come up with a potential problem with the standard implemented as-is. For some context, the standard implementation o

[2018-04-30 05:27] mattlockyer commented on #998
I've made some updates to the [comment at the top](https://github.com/ethereum/EIPs/issues/998#issue-314365907) to reflect the dramatic changes to the originally proposed code.

Thank you @vernon99 @mg6maciej for the feedback. It motivated me to push forward and get a more comprehensive and elegant solution up.

[2018-04-30 13:03] owocki commented on #948
@kermankohli looks like you have some good ideas on this.  if youre interested in making some of this an open standard, want to join our call this week?  email me: kevin at gitcoin dot co

[2018-04-30 13:08] kermankohli commented on #948
Done. Look forward to hearing back from you :)

Kerman
Sent from Polymail ( https://polymail.io/?utm_source=polymail&utm_medium=referral&utm_campaign=signature )

On Mon, 30 Apr 2018 at 11:03 PM Kevin Owocki < Kevin Owocki ( Kevin Owocki <notifications@github.com> ) > wrote:

[2018-04-30 15:44] mg6maciej commented on #998
Yes, there are things that need to be taken care of in 998. I can think of these cases:

* once possession is attached to 998, it may want to not be transferable; this can be implemented overriding `ERC721::transferFrom` to always revert and making sure 998 always calls this function even if that meant to transfer 721 token from itself to itself when changing which 998 owns it.
* possession may wa

[2018-04-30 15:55] fulldecent commented on #827
Would you consider to harmonize function names and conventions with ERC721?

[2018-04-30 16:58] AugustoL commented on #827
@fulldecent yes of course. what do you have in mind?

[2018-04-30 17:40] fulldecent commented on #827
Here are the changes I would make.

- Use a proper interface specification, see for example: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md#specification
- Check that the interface is valid in Remix IDE (for example, this standard currently uses `constant` which is deprecated)
- Require ERC165 support
- Use name `safeTransferFrom`
- In `safeTransferFrom` call `onERC827Received` on re

[2018-05-01 04:40] jdkanani commented on #981
@PhABC sorry was caught up in work. I will update here once it's done.

[2018-05-01 05:27] shanefontaine commented on #865
@bokkypoobah Are there any BTTS contracts in production on the main net right now? Have you found anything wrong with your proposal since the time of writing?

[2018-05-01 06:42] mg6maciej commented on #998
Another thing worth discussing is what kind of events these transfers will fire.

* `Xxxxx(address, address, uint256, address, uint256)` // sending NFT from address to NFT
* `Xxxxx(address, uint256, address, address, uint256)` // sending NFT from NFT to address
* `Xxxxx(address, uint256, address, uint256, address, uint256)` // sending NFT from NFT to another NFT
* `Yyyyy(address, address, uint256,

[2018-05-01 08:33] kermankohli commented on #948
@owocki Just got the invite and turns out the event is 12am for me today (Sydney, Australia). Is there any way we could pull back the meeting 3 hours or reschedule it?

[2018-05-01 08:52] kermankohli commented on #948
@nieldlr Firstly, thanks so much for spending the time to go through it and letting me know your thoughts on it! There's some great points you've mentioned and want to address each of them so here goes:

Point 2 + 3: I initially had the same thoughts as you when I came up with this (gave me a bit of anxiety too haha), although it's worth keeping into account existing methods of payment. Stripe + P

[2018-05-01 13:29] enriquejr99 opened #1048 "Storage Gas Refund"
Currently, the EVM refunds gas to those who delete data from storage or call the contract suicide function. This is done to incentivize users to free storage if they no longer need it.

[Detailed gas costs spreadsheet](https://docs.google.com/spreadsheets/d/1m89CVujrQe5LAFJ8-YAUCcNK950dUzMQPMJBxRtGCqs)

The problem is that gas is refunded after the code execution has finished instead of on the go.

[2018-05-01 13:54] androolloyd commented on #948
@kermankohli Would love to connect, what you're describing is a lot like what we're doing for Groundhog(https://Groundhog.network).

If you're able to make the call would love to connect afterwards.

[2018-05-01 14:53] owocki commented on #948
@kermankohli we missed you on the call!  can you make the next one?

for everyone else on the thread, here are our notes from the first call: https://docs.google.com/document/d/1P1fhGAJS_IYubUUEHEmPpg2ltjMZy7PR5Ot8xuJRbS8/edit#

please email me (kevin@gitcoin.co) or join the https://gitcoin.co/slack if you are interested in being in the conversation.  we have a subscriptions channel there that wer

[2018-05-01 16:49] mattlockyer commented on #998
Absolutely.

I think this is a great start.

What are the thoughts on NFTP as a title for both the non-fungible token possessions and FTP for fungible token possessions?

[2018-05-01 18:00] bokkypoobah commented on #865
@shanefontaine There was a bug in v1.00 of the smart contract preventing the correct use of the `signedApproveAndCall(...)` function. This has now been fixed n v1.10. A v1.10 token contract in production - https://etherscan.io/address/0x4ac00f287f36a6aad655281fe1ca6798c9cb727b#code

[2018-05-01 20:35] cvkonduru commented on #650
Fantastic work

[2018-05-02 00:34] spalladino commented on #1048
I'm worried that this could enable reentrancy attacks. Today, if a contract uses Solidity's `transfer` for sending ETH, the amount of gas associated is limited, so that no reentrancies can be executed. With this new semantics, an attacker could call from a malicious contract that deletes several storage slots in order to _gain_ gas, and then use it to execute a reentrancy.

[2018-05-02 04:09] enriquejr99 commented on #1048
Just add an exeption. Something like, while executing the `transfer` function, do not allow usage of the yet to be refunded gas. Therefore the gas associated is limited just as how it is today.

[2018-05-02 06:16] mg6maciej commented on #998
I'm not that interested in choosing names for anything for now. I think it's too early. I'd be more than happy to change names in my implementation at some point.

I've noticed a potential issue with different implementations of ERC721 tho. There are a couple of ways to interact with them.
* When taking approved token in possession to assign it as child of another one you can call
  * `transferFro

[2018-05-02 11:02] kermankohli commented on #948
@androolloyd Hey man, sounds good! Unfortunately I couldn't make the call since it was 12am for me although would love to setup a meeting otherwise.

@owocki Ah sorry about being a pain for timezones - I can stay awake till 10:30pm and can get up by 5:30am (weekdays) in case that helps? Also only working part-time Mon-Wed so the other days are pretty flexible.

[2018-05-02 13:13] spalladino commented on #1048
Transfer and send are Solidity constructs, they just wrap EVM `CALL` with a certain value, so it is not possible to know if transfer or send were used (instead of an actual function call) from the EVM.

[2018-05-02 13:42] frozeman commented on #735
**ADDITION: I renamed `claimType` to `topic`, to be more precise. Implementations should change that**

@svenstucki Thanks for your comments. The signature does contain the claim holder (formerly named "subject") already, so that claims are subject specific.

@tbocek concerning auto accepting self-claims, this depends. If an attacker overtakes one of your keys he shouldn't be able to add self-clai

[2018-05-02 16:32] enriquejr99 commented on #1048
True. Then, we could modify the `.gas()` behaviour.

I believe we can solve this issue because we currently limit one integer, `gas_left`, to not decrease by more than 2300. Therefore, we should also be able to limit the total of two integers, `gas_left + refundable_gas`, because the total is also a single integer; just like `gas_left`.

[2018-05-02 17:17] androolloyd commented on #948
@Josephrp cool project

[2018-05-02 17:44] johngriffin commented on #948
Hi everyone,

I’ve been following this discussion and thinking about this problem for a while.  I recently wrote a blog post and some POC code on the separate but related topic of [tokenizing SaaS licenses](https://medium.com/collabs-io/software-licences-as-non-fungible-tokens-1f0635913e41), and I previously founded a non-crypto SaaS company so I’m most interested in the SaaS use case and I tend t

[2018-05-02 20:10] kermankohli commented on #948
@johngriffin Thanks for taking the time to read through it and writing all of that up!

1. Definitely. Already added support for this by adding a `tokenAddress` variable in the subscription struct. https://github.com/8x-protocol/8x-protocol/blob/master/contracts/VolumeSubscription.sol.

2. Processors are rewarded in whatever token is used for the transaction (mainly Dai in this case). 8x tokens ar

[2018-05-02 21:16] zillerium commented on #225
Can POA really be vulnerable to one malicious node?

[2018-05-02 21:46] rphmeier commented on #225
@zillerium not at all. PoA is more in the field of classical consensus algorithms where you have a simple honest majority assumption. Depending on the kind of network faults you'll also tolerate, you can either tolerate <1/2 malicious or <1/3. In some situations you can tolerate all but one node being malicious but just not be able to finalize anything. It all depends on the algorithm you use and

[2018-05-03 02:16] AminOroji commented on #225
In a private network with POA, is it possible to limit nodes of deploying smart contracts (specially creating new tokens)?

[2018-05-03 09:12] oed commented on #780
@dwking2000 Thanks for your input. I'll go ahead and remove the ability for `subject` if no one else have strong feelings for it being keept there.

[2018-05-03 10:13] jamesray1 opened #1053 "A proposal to move the content in ethereum/wiki to a Wikipedia-style wiki site"
— https://github.com/ethereum/wiki/wiki#a-proposal-to-move-the-content-in-this-wiki-to-a-wikipedia-style-wiki-site

Also posted in https://ethereum-magicians.org/t/a-proposal-to-move-the-content-in-ethereum-wiki-to-a-wikipedia-style-wiki-site/265.

[2018-05-03 10:27] chronaeon opened #1054 "Unified Documentation"
Discussion for "Unified Documentation" EIP.

[2018-05-03 10:49] karalabe commented on #225
@AminOroji The Clique engine proposed here and implemented by Geth only limits the block creation, but doesn't enforce (nor support) any other limitations.

[2018-05-03 12:34] deanstef commented on #225
Guys, for those interested, here you can find a nice analysis of PoA algorithms:

https://eprints.soton.ac.uk/415083/

Specifically are compared Clique and Aura (Parity) with PBFT by referring the CAP Theorem.

[2018-05-03 12:44] karalabe commented on #225
Interesting read, thank you for sharing that!

Though I think it's important to mention that Clique was never meant as a full blown universal permissioned consensus engine, rather its target use case was to have stable test/private networks and its internal design was made in such a way as to minimize differences between Ethash and the general operation of existing nodes.

[2018-05-03 16:57] oed opened #1056 "ERC: Lightweight Identity"
[code]

## Simple Summary

A registry for key and attribute management of lightweight blockchain identities.

## Abstract

This ERC describes a standard for creating and updating identities with a limited use of blockchain resources. An identity can have an unlimited number of `delegates` and `attributes` associated with it. Identity creation is as simple as creating a regular key pair ethereum ac

[2018-05-03 18:09] Arachnid commented on #1053
This doesn't really belong in the EIPs repository.

[2018-05-03 18:09] #1053 closed

[2018-05-03 18:16] Arachnid commented on #1056
This looks pretty mature - you should submit it as a PR so it can be merged as a draft.

[2018-05-03 20:57] ptrwtts commented on #865
Nice work @wadeAlexC

We actually came to the same conclusion around increase / decrease approval, and included them in our implementation that was submitted as a PR to Open Zeppelin here: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/741. That code also includes a couple tweaks that were the result of an audit. Unfortunately we didn't update the spec here. Will try to get it updated

[2018-05-03 21:12] ptrwtts commented on #1056
This is similar to what is being done in #865. Is it worth trying to establish a standard around how such pre signed transactions are implemented?

[2018-05-03 21:15] admazzola commented on #865
I think it could be valuable to have an explicit delegate address specified but make it optional. If it is 0x0 allow anyone to be a delegate?  The only downside then is feature creep

[2018-05-03 22:25] Muhammad-Altabba commented on #156
What about tokens? Is it to be considered in this EIP, or should I open separate issue?
A reported case: https://www.reddit.com/r/ethereum/comments/5rd4co/ethereum_wallet_sends_to/

[2018-05-03 22:35] fulldecent commented on #820
The example shows:

sha3("ERC777Token")
sha3("ERC777TokensReceiver")
sha3("ERC777TokensSender")

But interfaces with those names don't exist. (Thank you Stephane Gosselin.)

[2018-05-03 23:26] ifdefelse opened #1058 "EIP-ProgPoW: a programmatic Proof-of-Work algorithm"
A programmatic POW algorithm that can maximally utilize functions on commodity (widely distributed and readily available) GPUs limits optimization potential for a specialize mining ASIC.  An implementation of this idea is presented here:  https://github.com/ethereum/EIPs/pull/1057

This PR describes a fully implemented algorithm based on ethminer code.  It attempts to be permanently "ASIC-resistan

[2018-05-03 23:33] aldigjo commented on #1056
@ptrwtts uPort is already doing this and its been implemented and is currently working on testnets, please check out
1. https://medium.com/uport/making-uport-smart-contracts-smarter-part-3-fixing-user-experience-with-meta-transactions-105209ed43e0
2. https://github.com/uport-project/uport-identity/blob/develop/contracts/TxRelay.sol

[2018-05-04 02:13] AminOroji commented on #225
@karalabe Thank you very much for valuable information.

[2018-05-04 02:14] AminOroji commented on #225
@deanstef Very interesting. Thanks!

[2018-05-04 06:55] oed commented on #780
Made some updates to the proposal:
* Claims can now only be revoked by the issuer, as per suggestion by @dwking2000
* Claim types are now standardizable, as per suggestion by @Arachnid
* Claims can be added with raw signatures, as per suggestion by @alex-miller-0

[2018-05-04 07:00] oed commented on #1056
@ptrwtts as @aldigjo mentioned we have a general construction for doing pre singed / meta transactions. There is some documentation [availiable here](https://github.com/uport-project/uport-identity/blob/develop/docs/txRelay.md). However I'm not sure it makese sense to standardize this, as different projects might have different requirements. What do you think?

[2018-05-04 11:41] alexandermuehle commented on #1056
When the data (adding/changing attributes/delegates) is put on the blockchain someone still has to pay though? Do I understand this EIP correctly that you are only simplifying the flow so that you can save the cost from proxy contract creations etc?

[2018-05-04 13:35] alexandermuehle commented on #1056
@oed cool, so its only gas cost for updating the "changed" mapping + 375 G_log + 8 G_logdata * data size + 375 G_logstopic * (4 or 6), thats a big saving

how is that possible if you use log events to store the data though? Is there a way for a contract to access event data now?

[2018-05-04 16:13] christianlundkvist commented on #1056
@alexandermuehle

The idea is for off-chain use cases to be handled through the event logs and onchain use cases to be handled through an Ethereum Claims Registry (i.e. ERC780)

[2018-05-04 16:29] alexandermuehle commented on #1056
@christianlundkvist
that seems logical but I think you should make it clear that this EIP itself is not for both on and off chain use cases as the motivation suggests.

[2018-05-04 22:10] bharathrao commented on #1056
There are several issues with this proposal and a few items that are unclear

1. What is the difference between the changeOwner and changeOwnerSigned messages? Whose signature is in the method? Why do we need both?

2. The idea that the identity changes its owner subjects the system to a race condition. Its possible that a TOCTOU attack could occur between the check and use of identity and a chang

[2018-05-05 17:16] AdamJLemmon commented on #1056
Any thoughts on including attestations for given attributes?

[2018-05-05 17:38] bharathrao commented on #1056
Im unclear as to what attributes are used for. Assuming that they are just tags such as location:USA or customertier:silver. Attribute revocation has the same race condition, but it may not be as critical as transfer of ownership in terms of exploit cost. The validity in seconds is imprecise on-chain but again, for attributes it may not be a major issue.

Overall, creation and revocation without u

[2018-05-05 18:26] AdamJLemmon commented on #1056
@bharathrao agreed that this feels like a "self-proclaimed" identity which does feel odd.

[2018-05-05 19:53] fubuloubu opened #1065 "Suggestion: Add Logarithm Opcode"
Was curious what issues there would be with adding a integer logarithm opcode?

I understand that logarithm opcodes for other processors are typically floating point instructions, but there has got to be a decent fixed-point operation that can be implemented in our 256-bit processor, that also minimizes information loss from the operation (especially when using change of bases to compute arbitrary

[2018-05-05 20:49] danielyapbc commented on #996
Just fork the damn network already...Bitmain is probably running warehouses with their ETH ASICs..I can't believe how ignorant the ETH Devs can be!

[2018-05-05 20:58] tekcomm commented on #996
Daniel,

I already knew that. They have been doing that and they will keep on doing.
I don't think they will be fucking with monero anymore though at least :)

On Sun, May 6, 2018 at 3:50 AM, danielyapbc <notifications@github.com>
wrote:

[2018-05-05 21:02] tekcomm commented on #996
I just hope they grow a set of balls, and do whats best for the community
and not the Chinese Communist Party. Who it seems the Eth devs put first.

On Sun, May 6, 2018 at 3:58 AM, Jason Kurtz <tekcommnv@gmail.com> wrote:

[2018-05-05 21:05] tekcomm commented on #996
China Telcom AKA Bitmain, will be in control shortly and I am sure they
will not put any backdoors in there miners to slow them and steal blocks or
to just turn them off remotely. Oh wait they already did that on every
other device. You can read the mea culpa in there own forum on antpool
which they had to shutdown after they admitted to it from the flame war.

On Sun, May 6, 2018 at 4:02 AM, Jaso

[2018-05-05 21:10] tekcomm commented on #996
Now that we are completely off topic, At least the devs know that they
could and how to by burning part of the dag. What they do knowing the the
fact that there system is based on a 32 bit kernel and can not deal with a
simple solution. The choice is theres.

On Sun, May 6, 2018 at 4:05 AM, Jason Kurtz <tekcommnv@gmail.com> wrote:

[2018-05-05 21:17] tekcomm commented on #996
Or you will end up like me

Thanks for your consultation!
There was a balance display issue in Antpool, so that there would be extra
SCs/BTCs/BCHs in your balance before. Yesterday, our engineers finished
upgrading and the balance is back to normal now. You can calculate that
your daily earnings and check the balance and payment is in fact normal
now.

If you find that there are still missing earn

[2018-05-06 10:01] Arachnid commented on #1065
FWIW, you can get the base 2 log of an integer fairly efficiently in a few different ways: https://graphics.stanford.edu/~seander/bithacks.html#IntegerLogLookup

[2018-05-06 20:11] fubuloubu commented on #1065
Cool!

Would be interesting to see if a general solution exists for computing integer logarithms, perhaps using a double word in memory.

Does the lookup table approach work for a VM implementation?

[2018-05-06 22:06] 3esmit commented on #1056
Why this is called lightweight? How much cost to initialize an identity? More than to create a forwarder contract?

This approach looks like a token/badge and imply limitations on the Identity because all identities in the network are one address, so operations in between contracts all need to be aware of that contract.

Seems like that one address can later be owned by other address, this seems v

[2018-05-07 09:43] hellwolf commented on #965
I find this pattern in general a very good one for inviting people to use certain blockchain application where its users don't necessarily process the ether funds hence raising the bar of adaptation.

My few comments:

- Would you consider to use struct and internal calls to simplify the look of the function?
- Naming consideration: cheque seems implying this pattern be used for token/coin transac

[2018-05-08 03:48] jllaw commented on #725
One of the things I've been struggling with is that fundamentally an ethereum address can be generated anonymously by anyone and then artificially associated with anything.  This standard allows for some sort of self-attestation and third-party attestation that this address has been used by or is somehow connected to a particular identity.

How many such attestations/claims do we think are necessa

[2018-05-08 04:25] nickjuntilla commented on #724
As @o0ragman0o put it 18 decimals only makes sense in trying to find a common ground between human readable ETH and Gas prices. For tokens this only forces us to have extra complication.

Ideally keeping the bulk of your numbers ahead of the decimal makes things easier to talk about. Look at bitcoin. We are forced to make up units to make talking about 1 hundredth and 1 thousandth easier to talk a

[2018-05-08 04:48] MicahZoltu commented on #724
@nickjuntilla Discussion about decimals should be moved to one of the new token standards, as ERC20 is final and thus immutable aside from grammar/spelling/clarity updates.

If you decide to continue discussing elsewhere, this is the point you are going to have to argue much more strongly for.  Predicting the future value of your token is nearly impossible.  Even fiat currency which has a guiding

[2018-05-08 07:57] techracers-blockchain opened #1067 "ERC-1067 (ERC extension)"
## Abstract
Token contract usually have a monolithic design that is not friendly to upgrades. The following proposal describes a more distributed token contract architecture that has a simple upgrade-ability protocol and allows to bring in new functions after being deployed.

## Motivation
There have been countless number of tokens where due to the inability to upgrade and fix bugs, contract holde

[2018-05-08 15:56] ajunge opened #1068 "ERC-1068 Loan Standard"
<pre>
EIP: <to be assigned>
Title: ERC-1068 Loan Standard
Authors:
- Andres Junge &ltandres.junge@consensys.net&gt,
- Anibal Catalán &ltanibal.catalan@consensys.net&gt
- Jitendra Chittoda &ltjitendra@ethlend.io&gt
- Stani Kulechov &ltstani@ethlend.io&gt
Type: Standard
Category ERC
Status: Draft
Created: 2018-05-08
</pre>

## Simple Summary
A standard interface for loans. Tries to be as flexible as

[2018-05-08 20:42] mbeylin opened #1070 "ERC-1070 Standard Bounties"
[code]
## Simple Summary

A standard contract and interface for issuing bounties on Ethereum, usable for any type of task, paying in any ERC20 token or in ETH.

## Abstract

In order to encourage cross-platform interoperability of bounties on Ethereum, and for easier reputational tracking, StandardBounties can facilitate the administration of funds in exchange for deliverables corresponding to a c

[2018-05-08 20:52] aldigjo commented on #1056
changeOwnerSigned accepts these signature parameters because in the context of uport we have something called meta transactions. These are transactions which are forwarded by a 3rd party “relayer” on behalf of the user, but the actions performed on-chain are what the user intended to do, and they are verified to be from the user using these signature params. This is important to uport because we d

[2018-05-08 20:54] owocki commented on #1070
Hi from gitcoin.co -- Can confirm, we rare using [StandardBounties](https://github.com/Bounties-Network/StandardBounties/blob/develop/contracts/StandardBounty.sol) on our platform

[2018-05-08 21:38] Arachnid commented on #1070
I'd suggest opening this as a PR, unless you want a lot of feedback before writing up a draft.

[2018-05-08 21:42] #1070 closed

[2018-05-08 21:43] igorbarbashin commented on #61
I believe the contract-sponsored transactions will have an enormous impact on overall user experience and can potentially widen the Ethereum adoption. As you don't have to have ETH to call certain methods in the contract if your address is white-listed in the contract.

I'm still a noob in Ethereum, so please tell me if the following proposal is possible. Essentially it is an incentive model for m

[2018-05-09 08:38] xhyumiracle commented on #738
I think the fix mentioned [here](https://github.com/CORIONplatform/solidity/issues/107) might be helpful. Just FYI.
Personally I like the idea and it might be a great way to fix the problem, cuz I think the user who updates the allowance value should be responsible for it, (s)he should provide the latest state (tx state or allowance value) when they decide to update, otherwise the best we can do i

[2018-05-09 19:14] Arachnid commented on #901
Would you consider writing this up as a pull request (or preferably, several - one for each proposed opcode) in more details at the EVM level?

[2018-05-09 19:55] ministras commented on #1068
Why only ERC-20 Tokens? What about other standards? Why not to go with advanced ERC-777?

[2018-05-10 12:04] Recmo commented on #781
@karalabe

Consider a popular ERC20 contract such as WETH. Assume for the moment that the WETH implementer forgot to include events. Let's say I have three accounts that I want to monitor the WETH balance of. I want to avoid calling `balanceOf` for all addresses after every block.

Monitoring the three addresses with `getModifiedAccountsByHash` has many false negatives. If someone sends me WETH, t

[2018-05-10 14:09] LucasAschenbach commented on #1067
I just developed a token with this particular structure and it works seamlessly for updates - totally recommend it!

However, we would have to add, aside from the getters and setters inside the DataCentre (I called it Storage) a Communicator contract, storing all contract addresses which may access the setters, provided by the Storage contract, to make sure that the variables cannot be manipulated

[2018-05-10 14:32] conejoninja commented on #725
After reading this and #735, as well as the implementations listed here, it's still not fully clear to me. If I understood this correctly, the claims I could make are of yes/no type, like "I do have an address", "I do NOT have an address", but the claim verifier has no idea of my actual address, is that correct?

I want to check if an specific address (supplied by the users) does belong to them or

[2018-05-10 14:40] frozeman commented on #725
@conejoninja The idea is that the `scheme` of the claim determine of how you retrieve of verify that claim. If you want to check an address correctness, you would need to use whatever method the claim issuer provides to return you the validity of the address. The on chain claim, would only be a reference to the data set and the claim issuer itself. In most cases you probably dont need to verify it

[2018-05-10 14:45] meronym commented on #965
I'm a strong advocate for this pattern as well. I find it useful for another payment-related core use case: the merchant generates a **one-time address** (OTA) and associates it with an invoice/order. The buyer transfers tokens to OTA as a means of paying the invoice.

Now the merchant wants to sweep the tokens out of OTA, but OTA cannot pay for the gas since it has no ether. So the merchant needs

[2018-05-10 14:46] tarekskr commented on #928
The point is to have the code displaying the image verify the pattern and not display the avatar unless it's correct. "Close enough" won't work in that case.

[2018-05-10 14:53] conejoninja commented on #725
@frozeman thanks , I did realize it after reading #issuecomment-388061120

I have doubts about having multiple claims of the same type, claimId = keccak256(issuer address + claimTypeNumber), If I have two different emails, the claim should be "I have A & B emails" or use two different issuers, or I'm missing something?

[2018-05-10 15:04] jllaw commented on #725
@frozeman, thanks, I really appreciate the response. I get that there are third party validators which I referenced as third-party attestations.  The issue is that from a purely logical perspective, it's impossible for anyone to say with 100% confidence that an Ethereum address is always 100% associated with a particular identity.  Take for example, if the most trusted and honest third-party in th

[2018-05-10 15:18] conejoninja commented on #725
@jllaw Someone else using your address it's the same as someone else using your credit card to buy online. The seller verifies the credit card's security code, but doesn't really check the person using it.

[2018-05-10 15:20] frozeman commented on #725
Youre right and its a problem which i liked to discover more.

If i have an identity and i out work in to verify it (maybe payed to verify it), i would make sure i only put in keys that i control.
Though youre right, i could create extra keys, that i then give to other people and this way "sell" my identity.

For that case i would suggest that the people who give access, or add new claims will mak

[2018-05-10 15:39] jllaw commented on #725
@collincusce, there isn't.  There's just a lot of value in being able to force that, but I'm not sure that it's possible off the Ethereum protocol.  It might require a new protocol whereby the creation of the address requires identity to be linked, and then if a claim is made challenging that identity, then the address is blacklisted.  Anyone want to work on that with me?

This is more important t

[2018-05-10 15:54] jllaw commented on #725
@conejoninja, yes, that's right.  For most transactions, that's fine because they don't really care about aml/kyc/other verification; they only care about chargebacks.  For some transactions, like securities ICOs, however, they need to know that the investor is really who they say they are so they end up having the check the person, not just the address.  It's somewhat annoying.

[2018-05-10 18:10] tyleryasaka commented on #735
@frozeman I like the idea of standardizing topic numbers (at least to some degree) sooner rather than later. It will provide us useful guidance for [our implementation](https://github.com/OriginProtocol/origin-js/tree/master/contracts/contracts/identity) at @originprotocol. Right now we're just using arbitrary numbers which will most likely not be compatible with others' implementations.

And the

[2018-05-10 23:20] LucasAschenbach opened #1074 "Get transaction-cost after settlement of a transaction"
#EIP1035: Transaction execution batching and delegation

 # Issue
Given the case that there is a set of functions called from a token contract, each individual function by a different address, however, all serving one purpose and every tx being equally important, it is desired to make sure that every caller is paying the same for this process. As described in the [EIP1035](https://github.com/ether

[2018-05-11 09:12] Cygnusfear commented on #928
Some considerations:
- A publically visible, user generated visual identifier as security feature will always be copied by attackers
- The _various_ security identifiers that a user has should be unique and preferably be distributed across several 'channels' that are **unique**; they should always be complementary creating several points of failure
- ENS Domains are relatively safe as identifier a

[2018-05-11 15:09] tuxxy commented on #725
This is great, but you can't fit a _secure_ RSA key in 256-bits. In the `addKey` function, I also see you're using the key as a `bytes32` which also doesn't fit an RSA key.

This only works with encryption keys on 256-bit curves.

[2018-05-11 15:12] frozeman commented on #725
The idea is to only store the hash of keys if they are > 32 bytes, as stated in the key structure.

O

[2018-05-11 15:18] tuxxy commented on #725
Ah, my apologies. My eyes skipped right over.

Is your intention for all of your ECDSA public keys to be stored as a hash? Because a 256-bit integer isn't enough to store a public key. For 256-bit curves, you need 33 (or 64) bytes to store public keys. Essentially, the 33rd byte (which is prepended to the key) determines the y-coordinate. The 32 bytes are only the x-coordinate in compressed keys a

[2018-05-11 17:38] tuxxy commented on #725
Well, I can see one utility:

1. Alice receives an ECDSA signature.
2. Alice pulls the public key from the signature and hashes it with Keccak-256.
3. Alice checks whether or not the given hash is on the contract.

[2018-05-14 00:02] davux commented on #780
@dwking2000, @oed. I think this kind of policy discussion (e.g. "whom do we allow to remove a negative claim?") cannot have a definite and consensual answer.

This kind of dilemma arises from the fact of having a central contract in the first place, which is why I'm very dubious about this EIP's approach.

One possible way I'm thinking of (but there are probably more clever ones) to resolve this c

[2018-05-14 03:45] bharathrao commented on #1056
I see. So this ID scheme cannot be used for non-ethereum applications?

[2018-05-14 04:35] kern commented on #780
hey @davux @dwking2000 @oed, also have been thinking about the removal of negative claims and other challenges of a central registry contract. These issues seem like something that justifies multiple registry instances. Also unsure about the UX of squashing all claim data into a bytes32 key/val mapping. A richer claims interface might be possible with a federated registry approach. Would love to k

[2018-05-14 05:08] virgil commented on #1053
This is currently being worked on by myself.  I already have the domain Ethereum.wiki

[2018-05-14 06:45] jamesray1 commented on #1053
@virgil, cool, yeah I saw that at https://github.com/ethereum/wiki/wiki/FAQs#where-can-i-learn-more-about-ethereum. Feel free to keep me in the loop; I'll be interested to see how it pans out.

[2018-05-14 07:59] johngriffin commented on #948
@kermankohli Hey!  Thanks for clarifying those points.

3. My thinking was that the most basic version of a recurring payments standard should be implementable with no more actors than subscriber and provider.  It shouldn't have to depend on a network of processors, and if there were such a network you may wish to opt-out.  Hence my suggestion of being able to only white-list yourself as the proce

[2018-05-14 10:28] rmeissner commented on #901
In some other EIPs `tx.gas` was also mentioned. I think it would make sense to add this in the same process. (`tx.gas` - Gas send with the transaction)

[2018-05-14 10:32] rmeissner commented on #901
Is there anything I could help with, as these opcodes would be really interesting to me :)

[2018-05-14 11:35] k06a commented on #901
@rmeissner we need to create several pull requests, one for each opcode. I'm going to dive in EVM tech details and try to create PR soon.

[2018-05-15 02:07] shiweihavefun opened #1082 "atomic swappable token"
## Simple Summary
A standard interface to enhance ERC20 token to trade across blockchain using atomic swap. It can be used in applications like decentralized token exchange platform or blockchain games which are all suffer from the current speed limitation of Ethereum.

I used a decentralized token exchange application as an example to further elaborate the use case, please see here:
[Decentralize

[2018-05-15 04:18] adklempner commented on #1068
Going off of @ministras 's point, why not abstract away the types of/number of assets being used for `capital`, `principal`, and `terms`?

@shogochiai : I think defining a penalty mechanism is out of scope for this interface. It should be up to the implementer to specify what happens when a loan is defaulted on.

[2018-05-15 10:33] techracers-blockchain commented on #1067
Thanks a lot for sharing your views on this token architecture, Lucas!
Coming back to your suggestions, all of which are really good ones, we believe that those can be add-ones rather than build them right into the interface.

- The Communicator contract would be a requirement if we want **multiple** contracts to interact with our DataCentre. For a simple ERC20 like token architecture, I think jus

[2018-05-15 15:50] tinybike commented on #963
@reductionista I'm on board with #2.  Should we add from and to fields to the new subscription as well?  I think it's good to have comparable functionality for http rpc and pubsub.

The subID thing isn't a bad idea but I agree that we shouldn't modify sendtx and sendrawtx just for this.  Let's hold off on that IMO.

I like the "new completed transaction filter" proposal, and I think a hasReturnDat

[2018-05-15 16:00] adisney commented on #963
#2 makes sense to me. I agree the filtering should be available in both rpc and pubsub.

I think the hasReturnData flag makes sense and I have no opinion regarding the "new completed transaction filter" rename. That's a fairly straightforward update.

[2018-05-15 17:44] danfinlay commented on #928
A totally different approach to p2p avatars is taken by [ssb Patchwork](https://github.com/ssbc/patchwork).

In it, any person can use any avatar they want, and anyone can assign a public avatar to anyone else, and when viewing a person's profile, you can see what avatar they chose for themselves, and what avatars your friends have selected for that user.

Anyways, just throwing another wild bull

[2018-05-15 21:54] danfinlay commented on #719
We could also simply point to a hash of a file that includes multiple presentation types, the way email mime types have a series of increasingly rich representations of the message.

[2018-05-16 02:31] unknown1235 commented on #960
I strongly believe having a 120 million hard cap will be a great benefit for the Ethereum community and developers in the long run.
It will keep inflation down and reduce the high volatility that we are currently experiencing.  Overall this will strengthen Ethereum Community and developers as a whole.

[2018-05-16 03:04] gnarco commented on #721
Hi everyone.

I'm currently working on an ERC-721 related project, and I added "indexed" to the _tokenId param for Transfer event in my implementation

So I just watched if it was discussed before.
Looks like it was leave without clear consensus : https://github.com/ethereum/EIPs/issues/721#issuecomment-343377015 (@dete / @Arachnid)

In my use case, it's more important to filter by _tokenId than k

[2018-05-16 03:49] bwheeler96 commented on #170
Is there a reason we can't make the transaction fail earlier? I just burned $80 deploying a contract that works fine on Kovan

[2018-05-16 07:32] chompomonim commented on #965
@meronym this is very interesting and valid use case! I like it very much.

I'm now thinking to start some kind of repo for motivations use-cases, example code and so on around `sendByCheque` pattern. I'm not sure however if it should be part of #777 or just extension for it for people who would like to get all the added benefits.

Do you think we should start promoting this pattern to become part

[2018-05-16 07:49] chriseth commented on #170
The transaction should "fail" early during gas estimation.

[2018-05-16 08:33] Cygnusfear commented on #928
I've been playing around with making Ethereum addresses more identifiable and distinguishable to users. The hash of the address is used to color code it, making it much harder to confuse a user with even a limited part of the address visible. The proof of concept Chrome Extension can be found here:
https://github.com/Cygnusfear/IdentiAddress

![Chrome Extension Screenshot](https://github.com/Cygnu

[2018-05-16 09:51] MicahZoltu commented on #719
This protocol is really made up of 3 parts:
1. How does the UI provide the signer with the signing UI.
2. What does the signing UI DSL look like.
3. How does the signing UI verify that the DSL is legitimate.

For (1), if we have a duplex channel between the UI and the signer then the UI can ask the signer what variations of the DSL are supported (e.g. text only or something more complex) and then

[2018-05-16 11:26] sativ01 commented on #725
Hi guys, trying to implement new version of 725 and 735. I ran into issue, and not sure how to proceed:
When I add a key to an identity, I store the value in a `Key` structure, with a value stored in a variable `bytes32 key`. So in order to have a key of type CLAIM, I'd need to get a public key of that identity and store it in that `key` variable. Is that correct?

So the problem that I'm facing i

[2018-05-16 12:50] tarekskr commented on #928
Very cool idea @Cygnusfear

[2018-05-16 14:29] Souptacular commented on #721
@fulldecent I think this is a great EIP to move to Final. Here is what I'd like to do (after discussion with some EIP editors).

Come to a conclusion on https://github.com/ethereum/EIPs/pull/956 which adds a "Last Call" step to the ERC process. Your ERC will be the first to go through that process. Once the Last Call period is over we will move this ERC to finalized as long as there are no major o

[2018-05-16 15:11] winsvega opened #1085 "Common genesis.json format scheme across all client implementations"
**Simple Summary**
-----
Client should be able to parse genesis.json config file that is commonly accepted and supported by all other client implementations.

**Motivation**
-----
Currently every ethereum client has it's own genesis.json format which makes it impossible to move one node configuration to another node. (parity config to geth and vice versa). And it is not about unique options that s

[2018-05-16 15:16] Cygnusfear commented on #928
This is to create more visual contrast. A long line of color makes the lines harder to distinguish, by adding empty spaces I forced a composition that makes addresses easier to distinguish (basically the same problem between a name and address ("John McDoeFace" and "04kjdfgpopsdfgPOIDFGsdpfgoik"). I tried to make this feature more prominent by using a bolder/lighter font.

This (the blocks per the

[2018-05-16 15:28] csulmone commented on #1058
Is there a performance penalty for proof of work verification?

[2018-05-16 18:14] reductionista commented on #963
@tinybike I'd lean toward saying yes, we should include from and to fields with eth_subscribe.  It's not really needed there since it already filters by rpc client--but it makes sense to me to make them as parallel as possible.

[2018-05-16 18:20] reductionista commented on #963
Oh, and I have one more proposal for modifying the EIP, which I only thought of after opening this issue:

I think when removed=true (signaling the transaction was removed from canonical chain), there is no reason to include the actual return data.  It requires re-executing extra transactions again after the transaction was removed, which is a waste of CPU, plus wasting extra bandwidth sending inf

[2018-05-16 20:25] tinybike commented on #963
I think that makes sense, re: not re-executing the transaction on removed=true.

[2018-05-16 20:33] adisney commented on #963
I don't know that we can assume that the data has already been sent to the client in the case of removed=false. I could see situations in which a client could take advantage of the removed data without being aware of the data as it was originally executed.

FWIW, I've already implemented that portion of the EIP for Parity, so I'm biased. To ease the burden on the CPU I'm caching the return data af

[2018-05-16 23:40] dwking2000 commented on #780
@davux @kern @oed I should be able to make a claim and not have it censored (removed). This is already enforced by the blockchain, so in some respects, removing a claim is a moot point except to save space and computation (gas). There is a need to signal a claim is not longer valid according to some criteria. UIs or other contracts can filter or derive meaning (reputation) from that.  Given that,

[2018-05-17 06:02] saurfang commented on #809
This looks really promising not just for accomodation reservation but like laid out in the proposal, it can be applicable to other rival goods. It is helpful to create some toy implementations of different use cases and it can help us decide what is the largest common denominator that should make into the interface specification.

I started a basic implementation of a [virtual ads billboard](https

[2018-05-17 06:17] reductionista commented on #963
@adisney Good point about caching--yes, that would avoid the extra CPU time.  I guess I'm also biased having not implemented any transaction replays, but as long as the node is behaving according to the EIP758 spec,  I don't see any case where a removed=true could arrive with no previous removed=false.  The only transactions it gets notified about are ones which it submitted _after_ the subscripti

[2018-05-17 06:54] syakunin commented on #965
Let's imagine a situation where an issuer signs a series of cheques for one person (for example 100 cheques). When a person wants to withdraw all his collected cheques, he will have to send each cheque to the blockchain and pay for each transaction. This consumes a lot of gas. What if he could withdraw all his collected cheques with one tx? A little change in the code can do that.
[code]

- First

[2018-05-17 07:42] syakunin commented on #965
One more issue with the code is that we need to pass the signer address too.
`function sendByCheque(address _from, address _to, uint256 _value, bytes _data, uint8 v, bytes32 r, bytes32 s) public returns (bool);`
and then, after `ecrecover` compare it with recovered address
`require(signer == _from);`

[2018-05-17 07:55] ptrwtts commented on #965
This seems similar to #865, except it extends ERC777 rather than ERC20. An important feature in #865 is the ability to offer a fee (in tokens), to compensate the operator who submits the transaction. This fee could also be 0, but having the capability increases the applicable use-cases (e.g. an application wants to help it's users make token transfers, but not perpetually pay the cost of transacti

[2018-05-17 09:44] darioAnongba commented on #603
I'm currently facing the exact same issues that @mattdf and @shamatar signaled.

I am creating a token with Confidential transactions and I'm using alt_bn_128 but I have problems with libraries as there is no JS library for alt_bn_128. I am struggling with the web app and mobile app implementation. The solution is trying to use WebAssembly or other hacks with the Rust and C++ libraries but I didn'

[2018-05-17 09:51] jacqueswww commented on #838
Hey there!
Just wanted to get clarity on what was decided in terms of this EIP, so I know what to do for vyper when I want to implement the same. Will the clients support decoding an error message from the ABI definitions? Which clients currently support this?
Basically following <sig: 4 bytes><abi_arguments:x bytes> format?

[2018-05-17 11:06] shamatar commented on #603
Hello @darioAnongba

I have a confidential transactions service ready, but to have an appropriate user experience I’d like to have at least 96 bits of range proof fitting into transaction. To have a reasonable gas cost it’s necessary to reduce a cost of ADD and MUL operations 20-fold. Latest optimizations from 1.8.x Geth version achieve even better performance improvement of precompile, so I was h

[2018-05-17 12:36] adisney commented on #963
I don't believe I agree. My thinking is that we should send the return data for all txns that were on blocks that were added and send return data with `removed: true` for all blocks that were removed. The client would not need to know if it sent return_data for a txn that was on an added block before determining if it should send return_data for a invalidated block. It seems like that would simpli

[2018-05-17 12:41] axic commented on #838
@jacqueswww for the current behaviour see: https://github.com/ethereum/EIPs/issues/838#issuecomment-379238333

I'm writing up a proper description of this.

[2018-05-17 12:50] flygoing commented on #901
I'm totally for more proposals that put forward sensical opcodes, like this does, but I'm also against increased reliance on external tx data when my hope is that we move towards contracts as identities and external keys only as authorizations for those identities, and with account abstraction, a lot of that happens automatically anyway. That said, I do think a CHAINID opcode makes a lot of sense

[2018-05-17 12:53] yudilevi commented on #223
@kylerchin most bancor contracts have a function that allows their owner to send "stuck" funds back to the user.
Btw it used to happen a lot in the past since I believe users worked directly vs. the smart contracts back then.
These days it rarely happens (if at all) since the vast majority users use our app.
You can expect to see it happening less and less over time as the ecosystem matures and th

[2018-05-17 17:52] reductionista commented on #963
@adisney I think in your first paragraph, you are disagreeing with something that was stated twice in  EIP-785 as it [currently stands](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-758.md).  Both times the word "after" was emphasized in italics, which to me indicates that this was considered an important requirement.

First time:

and again later:

Given that the EIP as it stands is not f

[2018-05-17 18:35] LucasAschenbach commented on #1067
Thank you for the feedback on my suggestions and especially for the issues you raised about the shareholder contract!

I just have one more remark I would like to share, regarding my first and second suggestion. Seeing as the sole purpose of this contract structure lies in providing updatability, it can safely be implied that its adapters will want to actually update their contract from time to ti

[2018-05-17 18:42] adisney commented on #963
Fair point!

Fortunately, for txns in newly added blocks, my implementation follows the spec as written. However, my implementation does send return_data for blocks being *removed* that may have initially been sealed prior to the subscription. If it's determined that the EIP should specify that return data be sent on removed blocks and it's important that the removed txn data not be sent for block

[2018-05-17 19:48] jaycenhorton commented on #820
Has anyone taken a stab at using 820 for external storage akin to https://medium.com/cardstack/upgradable-contracts-in-solidity-d5af87f0f913

[2018-05-17 20:05] Shadowfiend opened #1088 "EIP: Reduce ECADD and ECMUL gas costs"
## Preamble

---
[code]
---

## Short Description

Recent changes to the underlying library used by the official Go reference implementation led to significant performance gains for the ECADD and ECMUL precompiled contracts on the alt_bn128 elliptic curve, which should be reflected in reduced gas costs.

## Motivation

Recently, the underlying library used by the [official Go reference implementat

[2018-05-17 20:29] shamatar commented on #1088
@Shadowfiend

Antonio, thank you for opening it. Right now the main show-stopper for practical confidential transactions and ring-signature based votings is a price of MUL operation in G1, that has picked up 20 fold speed-up after changes you’ve mentioned. I’d propose dropping price of ADD from 500 to 50 and the price of MUL operation from 40000 to 2000. Also it's worth including a reduction of pa

[2018-05-17 21:31] solidblu1992 commented on #1088
I probably don't have the most effecient Bulletproof verification log, but for a 32-bit proof with a multiplication of a power of 10 and an offset it costs about 4,482,466 gas currently ([tx](https://rinkeby.etherscan.io/tx/0x146add3b72c9a2e121f62d55956391b3dfb937a9fb21a53d84db5190e24f3445)).

[2018-05-17 23:09] Shadowfiend commented on #1088
@shamatar an excellent point re: the pairing check, which I've added with a 15-fold drop (except for the constant factor, which *seems* to be ~the same in the benchmarks). I also took a closer look at ECMUL and you're absolutely right, it's 20-fold, not just 10-fold. Updated accordingly.

[2018-05-18 01:31] mhluongo commented on #1088
@solidblu1992 have you published your Bulletproof verification code? We're considering them as an alternative to an accusation-based system

[2018-05-18 02:12] solidblu1992 commented on #1088
@mhluongo It's public on [GitHub](https://github.com/solidblu1992/ethereum) as part of my RingCT implementation.  My code base is kind of a warzone, but feel free to use anything in it.

[2018-05-18 02:18] mhluongo commented on #1088
Eh I've been digging through optimized curve implementations the last couple months, I'm sure it's not that bad @solidblu1992- thanks for the link!

[2018-05-18 06:00] artemii235 commented on #223
I think this approach has a flaw breaking compatibility with existing smart contracts that use `approve/transferFrom` approach to deposit user tokens to themselves.
For example: BarterDEX etomic swap contracts: https://github.com/artemii235/etomic-swap/blob/master/contracts/Bob.sol#L184.
This approach is the only way for contract to know that it's received ERC20 token.
The result is ERC223 token d

[2018-05-18 07:34] artemii235 commented on #223
@yshurik whitelist will require human (admin) attention every time not supported contract is found. I think admin won't be happy getting error reports every day and adding new addresses to whitelist again and again. `transferFrom` wrap with flag is breaking ERC20 standard, a lot of existing contracts won't ever have this flag and still requires changes in already existing smart contracts.
I think

[2018-05-18 07:38] shamatar commented on #1088
@Shadowfiend

I've run quick tests, for 64 bits

Single proof for 64 bits gas estimate = 20120556
Aggregated proof of 64 total bits gas estimate = 20265094

Implementation is almost 1 to 1 (hashing was changed to be compatible with Ethereum keccak256() call) compatible with original Bulletproof repo from Stanford [https://github.com/bbuenz/BulletProofLib] and "nothing up my sleeve". So 20-fold dec

[2018-05-18 08:39] kermankohli commented on #948
Hey everyone,

Following on from this thread you can track progress of the 8x Protocol at:

Telegram: https://t.me/joinchat/AXlpZ1LUmBqu3ySXHVh8qA
Website: http://8xprotocol.com/
Twitter: https://twitter.com/8xProtocol

I'll also be doing daily vlogs for this at: https://www.youtube.com/playlist?list=PLdm5dK5Ob2TnSUKlcYj3XfCO-iS8SeEfb