[2018-11-09 03:56] fulldecent commented on #1559
Regarding ethpricing.pdf and your notes on time-value of storage. Please consider this concrete implementation of a solution: https://github.com/ethereum/EIPs/issues/1418. This implements lazy evaluation and does not require pokes.

[2018-11-09 05:30] bokkypoobah commented on #865
The `from` parameter will contain the **public** key. If you are using `geth`, you have to unlock your account using `personal.unlockAccount(fromPublicKey, "password")` . If you then call `var sig = web3.eth.sign(from, signedTransferHash);`, `geth` will sign your data using the unlocked **from** account private key

[2018-11-09 08:47] wighawag commented on #1538
@mudgen Interesting, that would indeed works but for some state changes that might be tricky or maybe not even possible to check, no ?

The other solution I was thinking is for all function call to have a version as first argument and the ERC1538 default function would simply  check if it matches the current version. If not it reject.

The drawback is that you always have to have this extra parame

[2018-11-09 10:36] cwgoes commented on #1538
I think you can just use the query functions in the calling function to check the delegate call target, a la https://github.com/ProjectWyvern/wyvern-ethereum/blob/master/contracts/exchange/ExchangeCore.sol#L713 (similar pattern).

@mudgen This looks pretty solid to me. A few possibilities to consider:

- More granular upgradability - adding the ability to lock specific functions (instead of lockin

[2018-11-09 11:49] wighawag commented on #1538
@cwgoes

I am not sure I follow you, what is the query function? Remember there could be multiple implementation contract in ERC1538 and each of the implementation could call further implementation. As such the contract state (links to the different implementations) should be considered as a whole. Else you need to pass the full list of implementation to be checked.

[2018-11-09 12:36] fxpoet opened #1572 "ERC1572: Contact Card"
***

eip: <to be assigned>
title: Contact Card
author: Kiyoung Jung(@fxpoet) , KyoungMin Baek(@marsland83)
discussions-to: https://github.com/ethereum/EIPs/issues/1572
status: Draft
type: Standards Track
category : ERC
created: 2018-11-08

***

## Simple Summary
A Smart Contract Based Digital Business Card that allows you to modify information after deployment.
This ERC defines a standard interfac

[2018-11-09 17:43] mudgen commented on #1538
@cwgoes Thanks.

Yes, I agree. I have looked at this.  I considered one event like this: `event ContractUpdate(address[] oldDelegates, address[] newDelegate, bytes4[] functionIds, string functionSignatures, string commitMessage);` That one event could hold all the changes of one call to the `updateContract` function. But there is no parameter indexed in this event so no way to filter the events. I

[2018-11-09 18:35] mudgen commented on #1538
@wighawag @cwgoes Any security solution that depends on an upgradable contract's storage variables does not work because the owner of the contract can always add a new function and call it to modify any storage state in the contract.

The dirty truth is that an upgradeable contract requires that the users of the contract trust the owner(s) of the contract. Note that this trust issue doesn't come f

[2018-11-09 20:09] mudgen commented on #1538
@Droopy78 Yes I think it is possible. Thanks for your thoughts about this.

I don't think it make sense to try to prevent front-running attacks from the owner(s) of an upgradeable contract. Because you already have to trust them. They can add a function and execute it to manipulate any of the contract storage at any time. The emitting of function events exist to make transparent this sort of bad a

[2018-11-09 20:59] youfoundron commented on #1404
tagging #1444 to the thread

[2018-11-10 16:10] vbuterin commented on #1559
This proposal is completely separate from storage maintenance fees; it's purely about gas as it exists within the current 1.0 chain.

[2018-11-11 07:29] aihuawu commented on #735
for scheme rsa, should the public key be attached along with signature?

[2018-11-11 07:35] aihuawu commented on #735
topic number should be standardised. otherwise every one just use its own numbers. the claim is not portable.

[2018-11-11 12:50] stvenyin commented on #1404
ik

[2018-11-11 12:51] stvenyin commented on #1404
OK

[2018-11-11 15:18] James-Sangalli commented on #875
Closing as this has been merged. Further discussion can take place here: https://github.com/ethereum/EIPs/pull/1549 and in future PR's/issues

[2018-11-11 22:12] tochie commented on #865
Thanks for the feedback.

@bokkypoobah @lgalbru I am not able to get past here:

`var signedTransferHash = token.signedTransferHash(from, to, tokens, fee, nonce);`
I get a `TypeError: token.signedTransferHash is not a function`. In my implementation, `token` was set from `new web3.eth.Contract(ABI, tokenContractAddress)` where the `tokenContractAddress` variable is the address of the token I gener

[2018-11-11 22:30] tochie commented on #865
After a careful research guys, I realized that those functions where shoveled under `methods`. 👍

[2018-11-11 23:36] tochie commented on #865
@bokkypoobah, @lgalabru

Now here's my real roadblock:

` Error: Invalid number of parameters for "signedTransfer". Got 8 expected 7!`

The tutorial from  https://bit.ly/2DrJGo5 has this test case:

`var signedTransfer1Tx = token.signedTransfer(from, to, tokens, fee, nonce, sig, feeAccount,
  {from: contractOwnerAccount, gas: 200000, gasPrice: defaultGasPrice});` which has 8 params. How were you a

[2018-11-12 10:00] Amxx commented on #1161
Hello,
I'm a bit late but I recently discovered this EIP and got an interest for it. I'm basically building an Oracle system which aims at providing the result of offchain computation to the blockchain. There is a big protocole to ensure correctness of the results. I want to make it EIP 1154 compliant :)

At the end of the protocole, a `finalize` function is called . This the point where the resul

[2018-11-12 11:42] adamdossa commented on #1526
Some thoughts on this:

  - how to deal with pooled wallets / custodial wallets - i.e. single addresses that hold an aggregate token balance with several beneficial owners. Should the pooled wallet receive the aggregate dividend for all of its beneficiaries and then be at their discretion as to whether they pass this on, or should we define a standard around beneficial ownership to facilitate this

[2018-11-12 15:11] adibas03 commented on #1538
@mudgen the re-entrancy guard is a form of state checker, to ensure expected state before allowing completion , but upon looking at it again, it is definitely not suitable for the use-case, as it does not protect from the `front-running` from the `upgradeContract` function.
Having a version number as described by @wighawag , might be the solution for the update contract, as even having a consortiu

[2018-11-12 15:18] spalladino commented on #1538
Hey @mudgen! Santiago from ZeppelinOS here. Just got the time to review the proposal. Looks pretty solid, and thanks a lot for picking up the vtable experiment and pushing it forward!!

FWIW, for the current version of ZeppelinOS, we decided to go with a more simple approach (a proxy that delegates to a single address) since it removes a few complications when coding upgradeable contracts (such as

[2018-11-12 15:38] James-Sangalli commented on #1327
Since this is included in EIP875, gonna close it.

[2018-11-12 15:38] #1327 closed

[2018-11-12 15:53] RobertMCForster commented on #865
@tochie That call has 7 parameters then the default transaction parameters. The only parameters for the function are:
 `from, to, tokens, fee, nonce, sig, feeAccount`
Check to make sure your formatting is correct and there are no parameters other than those.

[2018-11-12 16:50] mudgen commented on #1538
@spalladino Thank you so much for your feedback here. I really appreciate and like the work you and your team are doing with upgradeable contracts.

Yes, I very much like the _unstructured storage_ approach and I think it is better. How variable storage and ownership is done is not part of the standard but I think people are likely to follow the example given. So I'll update the example to use the

[2018-11-12 17:18] tochie commented on #865
@RobertMCForster Yes. I know there are 7 params but the examples from the tutorials and authors notes passed in 8 param [the default 7 params and an extra object that captures the contract owners address].

[2018-11-12 19:06] spalladino commented on #1538
It's fine with me if you pick up the vtable name, as we won't be pursuing that pattern in ZeppelinOS in the short term. And to be honest I love the fact that an experiment was picked up by a member of the community and driven forward until it becomes a standard!

As for transparent being a key part of the name, maybe I have a different idea in my mind about what "transparent" implies. To me it was

[2018-11-12 19:12] spalladino commented on #1538
And something about the standard, which your last comment about internal functions reminded me: it's critical to have a way to atomically upgrade multiple functions, in case there is a dependency between two of them, or they share the same internal functions. You definitely don't want a tx that calls two public functions to use the new version for one of them, and the old one for the another.

Tha

[2018-11-12 21:39] mudgen commented on #1538
@spalladino I understand. This is built into the standard. The `updateContract` function adds, updates or removes multiple functions at the same time, atomically. The second parameter of `updateContract` takes a list of multiple functions signatures so that multiple functions are added/updated/removed atomically. I will make this more clear in the standard.

[2018-11-12 23:30] coinfork commented on #1155
Dropped scopes in the latest revision in favor of a simpler generalized recommendation for approval scoping.

[2018-11-13 06:31] m888m commented on #1132
Great initiative, and thank you all for the work!

Suggestion:
To keep the interface maximum compatible, don't specify

- lockReason
- lockToken
- locked

in the interface, but keep this for the actual contracts that implement the interface.

Reason: We should not presume the inherent data structures of the implementing contracts. E.g., a contract that uses a flat file data storage architecture wi

[2018-11-13 11:50] adibas03 commented on #1538
@mudgen @spalladino will an option for latest version, where the absence of a version value means a call to the latest version, as the default behavior cover the effect of adding the version variable.

Two cases
- Calls made with `0x0` passed as desired version, indicates the latest version is always chosen, so large scale, non sensitive calls can be made without any worries
- calls made with a no

[2018-11-14 06:10] cbruguera commented on #1495
Can I suggest considering a little less "allegorical" name for the "poison pill" functionality? Perhaps something more technically accurate such as `disable`, `destroy`, etc.?

[2018-11-14 06:15] bussyjd commented on #708
Working in a blockchain business who lost our ENS bid to an [entity collecting names ](https://etherscan.io/txs?a=0xe010b3bcbb3d077a82985194800227914393360a&p=1) I want to stress the fact that ENS as of right now is broken.
It's not OK to have individuals "investing" in vast amount of names just to sit on it while those name could be used out there and drive adoption.

[2018-11-14 13:07] wighawag commented on #1155
Hi, great progress,

I have few suggestions that I think will improve the standard :

1) remove ```name``` metadata event and accessor as it is redundant with the URI event and accessor.

2) rename ```Transfer``` to something else as this remove the possibility of using the web3 abstraction over event name to fetch particular event when a contract is both ERC1155 and ERC721 compliant.
Indeed in we

[2018-11-14 15:52] nathanawmk commented on #735
@frozeman I am looking to engineer secure enclaves (keystone enclave perhaps?) + zkp for attestations at scale. Is this something that you are looking at as well?

Nathan Aw

[2018-11-14 21:00] cag commented on #1155
How should the ERC165 ID be calculated? Should it include the function from ERC165? https://github.com/enjin/erc-1155/pull/5#discussion_r233616686

Also, does ERC165 need to be present? I feel as though that ERC should not be required in this standard, as introspection is a different topic.

[2018-11-14 21:00] mudgen commented on #1538
I am looking for people who are interested in writing a tutorial that shows an example of implementing ERC1538 or shows other things with regards to it.  I have added a section to the standard where links to such articles can be added.

[2018-11-15 12:37] yhuag opened #1586 "ERC1586: Risk Redistribution Standard for Stable Cryptocurrency Payment"
[code]

## Simple Summary
An interface that transfers the risk of price fluctuation from customers and merchants back to the token issuer and expedites the prevalence of local cryptocurrency adoptions.

## Abstract
This work proposes an architecture bolstered by smart contracts to transfer the risk from the merchants to the cryptocurrency issuer. This narrows the gap between prices denominated in

[2018-11-15 17:11] wighawag commented on #777
Why not name-spacing all function and event names (except for erc20 compatibility) ?

I created an ERC to start a discussion on a possible implementation. (see #1407 )

We could for example prefix functions and event name with ```erc777_```

When #1407 get accepted and implemented in smart contract language via namespace directive (a la c++ for example) we would be able to use simpler names if des

[2018-11-15 20:07] naikmyeong opened #1587 "EIP-1588: Golden Ethereum"
WIP

[2018-11-15 23:47] flockonus commented on #998
Some thoughts on functions of `998 Bottom up 721`:

1. simplify token transfer functions

[code]

Notice the `transferChildToken` suggestion doesn't have the `_from` field, defined in it. I believe it's not necessary and requires more logic from the client software that otherwise won't add to benefit.

I understand ERC721 it requires the `_from` input. Looking at Openzeppelin reference implementat

[2018-11-16 00:57] JamesTherien commented on #1155
I think you either need to have both batch and single receive functions or just the single one. Otherwize, safeTransferFrom will need to create memory arrays just to call the batch version, which would be very unfortunate.

[2018-11-16 01:11] JamesTherien commented on #1155
@cag Yes, you need 165 because of the optional extensions.

[2018-11-16 05:55] jieek commented on #1503
The idea of separating data into a contract is great. When the contract is upgraded, only contract authorization is required.

[2018-11-16 06:01] maxsam4 commented on #1538
@mudgen It's great that you are pushing this forward and the write up is pretty mature as well. Thanks for sharing.

The only concern I have for this is the use case.
Rather than having different function call implementation in different contracts, I would prefer to split the contracts to literally different upgradable contracts. We don't want implementation contracts to unknowingly overwrite each

[2018-11-16 12:52] wighawag commented on #1155
@JamesTherien

My point is that just the single receive function is not enough for receiver contract that need to consider the whole transfer (likely to be the norm).

In particular they would have no way to know which one is the last item of the batch and thus could not perform an action based on the overall transfer. Even if we added some extra info to let the receiver no of the last item, they

[2018-11-16 13:11] trustfarm-dev opened #1590 "EIP-1485 PR. Anti ETHASIC ethash upgrade to TETHASHV1"
Here's EIP-1485 Proposals.

https://github.com/ethereum/EIPs/blob/7336cceac6c997252299a463ffe896a3414c479b/EIPS/eip-1485.md

Change FNV0 to FNV1A (Following Full specs).

Already made miner and pool, geth , parity , ethash patched things [here](https://github.com/tao-foundation)

Well running live mainnet.

[2018-11-16 17:00] mudgen commented on #1538
@maxsam4 Thanks for your comments about this.

I totally agree with you that if variable storage had to be the same in every delegate contract then this standard would be extremely limited -- you wouldn't be able to add new storage variables so upgrading would be limited to only adding/replacing/removing functions.

But this is **not the case**. Any new delegate contract, using inherited storage,

[2018-11-16 17:29] maxsam4 commented on #1538
@mudgen Yes, aligning is what I meant by same storage structure. Using the same structure for every contract is just an easier way to do it. Also, you're right that we can add more just like we do with unstructured storage. I don't know why I thought we couldn't here. My bad.

Good luck!

[2018-11-16 17:32] mudgen commented on #1538
@maxsam4  Sorry, I changed around my answer a lot,  I wasn't sure if you knew that more variables could be add or not,  or if you were just mentioning an organizational problem with inheriting contracts.

[2018-11-17 01:31] tochie commented on #865
Anyone to answer me? My entire application is dependent on this. For now, its a massive roadblock :)

[2018-11-17 04:54] fulldecent commented on #1261
Ignoring terminology, this entire concept can be implemented using the existing ERC-721. Additionally, the benefit will be that it will be compatible with 99% percent of existing applications.

How do it:

* Use 0xcert "Abilities" contract extension (call me, this is not public yet)
* Use convention: token ID = owner address
* Disable transfers other than to the zero address
* Grant mint and burn

[2018-11-17 07:44] m888m commented on #1132
I've started to implement the interface in our project.

Observation:

The interface is way too specific imo.
Many of the functions defined are actually aggregations of basic functions.
This should not be implemented in a library, but in the business logic contract that implements the interface.

Interfaces should be designed to reflect the smallest common denominator.
Hence my suggestion is to ra

[2018-11-17 10:12] nitika-goel commented on #1132
Thanks for your feedback @m888m. The interface targets interoperability of tokens and reusability within the same application, for multiple utilities. Imagine a stable coin implements this interface, all users using this stable token across different applications can lock their tokens within the same contract with different reasons. A user can then, simply see in 1 contract, all the tokens locked

[2018-11-19 01:30] wadeAlexC commented on #1350
A `selfdestruct` can be mitigated if the caller enforces a `revert` status from the callee. If the callee does not `revert` (selfdestruct returns a 'success' status), the caller reverts, protecting state.

The only interaction the caller and callee can have, then, is passing data back via the revert.

[2018-11-19 07:47] NEJAMUL37 commented on #1590
My name :- nejamul Hoque 
C/o:- kisholoy community center 
Chewk bazar, Chittagong, Bangladesh
Postel code :- 4203
Connected number within Telegram apps id:-  +8801706848037
Whatapps id :-+8801825044068

[2018-11-19 07:53] mcdee commented on #820
This has passed the last call review date as per https://github.com/ethereum/EIPs/blob/master/EIPS/eip-820.md - can this now be moved to final?

[2018-11-19 08:10] ivica7 commented on #735
It doesn‘t look intuitive to me that someone else is claiming something about subjects identity. Isn’t it more natural that the subject states claims about itself and trustworthy endorsers are confirming these claims. Self issued claim would be a claim that has no endorsers. I also think for standardization purposes that it would be better to have separate registry contracts for seprate claim topi

[2018-11-19 10:24] adamdossa opened #1594 "ERC 1594: Core Security Token Standard"
---

eip: ERC-1594
title: Core Security Token Standard (part of the ERC-1400 Security Token Standards)
author: Adam Dossa (@adamdossa), Pablo Ruiz (@pabloruiz55), Fabian Vogelsteller (@frozeman), Stephane Gosselin (@thegostep)
discussions-to: #1411
status: Draft
type: Standards Track
category: ERC
created: 2018-09-09
require: ERC-20 (#20), ERC-1066 (#1066)

---

## Simple Summary

This standard si

[2018-11-19 13:08] trustfarm-dev commented on #1590
@NEJAMUL37  please send a email

info@trustfarm.net  ,   cpplover@trustfarm.net

thanks,

[2018-11-19 14:09] izqui commented on #1271
Great conversation! Aragon is currently implementing an Actor app ([WIP implementation](https://github.com/aragon/aragon-apps/blob/actor-app/future-apps/actor/contracts/Actor.sol#L108), [spec and discussion](https://forum.aragon.org/t/actor-app-arbitrary-actions-from-daos)) that allows DAOs to interact with other protocols, and implements signature validation as well.

After reading the discussion

[2018-11-19 16:32] yudilevi commented on #1257
Interesting idea.

I agree with @xinbenlv - I think that in order to have a complete solution that allows 3rd parties to track payments, the solution should also include cancellations/refunds etc., especially if 3rd parties are creating their own flows based on these proofs.

[2018-11-19 19:57] sirhill opened #1597 "ERC1592 Address and ERC20-compliant transfer rules"
### Simple Summary
We propose a standard and an interface to define transfer rules, in the context of ERC20 tokens and possibly beyond.

A rule can act based on sender, destination and amount, and is triggered (and rejects the transfer) according to any required business logic.

To ease rule reusability and composition, we also propose an interface and base implementation for a rule engine.

### A

[2018-11-19 23:00] jacquesd commented on #820
@fulldecent I can confirm that:

- The contract is deployed and ready for live testing on:
   - [x] [mainnet](https://etherscan.io/address/0x820b586c8c28125366c998641b09dcbe7d4cbf06)
   - [x] [kovan](https://kovan.etherscan.io/address/0x820b586c8c28125366c998641b09dcbe7d4cbf06)
   - [x] [ropsten](https://ropsten.etherscan.io/address/0x820b586c8c28125366c998641b09dcbe7d4cbf06)
   - [x] [rinkeby](ht

[2018-11-20 00:48] npip99 commented on #603
This should probably be closed; there is a misunderstanding here. Embedding degree is 12 on alt_bn128, which remains safe against DDH assumption on G_1. To quote,

From [page 25](http://theory.stanford.edu/~dfreeman/papers/subgroups.pdf).

With the caveat that G1 != G2:

Of course, the curve being used here is not supersingular anyway, but regardless the EIP for alt_bn128 discusses the ECPAIRING o

[2018-11-20 05:03] Nitro888 opened #1602 "EIP1600 Block reward for smart efficient miners."
## Simple Summary
Suggests improvements to the compensation system from the block compensation and processing transactions, giving more compensation to the gas-efficient miners.

## Abstract
Base reward is given to miner by dividing block reward into base reward and efficiency reward. Efficiency reward is proposed in connection with the block gas limit.
Therefore, by changing the 2ETH proposed by

[2018-11-20 18:13] wighawag commented on #1155
Hey all, @coinfork @AC0DEM0NK3Y @PhABC

I would be happy to have a call to discuss the standard. We at @pixowl are currently at the stage where we would like to finalize our ERC1155 implementations and we need to make sure we can proceed.

I already mentioned my points above but a call might help to clarify each other requirements.

I would also like to discuss the idea of using #820 (used by #777

[2018-11-20 18:47] wighawag commented on #777
Hi,

I have reviewed the current reference implementation and I have few comments:

### The reference implementation have a way to disable ERC20 interface

While I understand the idea of disabling ERC20 interface to block the use of ```transfer``` to protect users of potential token loss. it also brings a potential issue:
Let say there is an ERC777 Token
Imagine a user approve some of these tokens

[2018-11-20 19:36] zmitton commented on #1186
@simon-jentzsch is it (inconveniently) true that the intermediary nodes to the other trees (i.e. transactions & receipts) are not stored in levelDB (geth/parity)? In my library I currently do multiple RPC calls for all the transactions of the particular block and re-create the tree locally.

[2018-11-21 08:48] James-Sangalli opened #1606 "EIP1606 - Context based contracts in Solidity"
I have been thinking a lot lately about security flaws in contracts as well as the lack of context given to the average dapp user.

When interacting with a smart contract you cannot be sure exactly what the code does by looking solely at the ABI and developers are prone to creating untended bugs in their contracts. I think adopting a style that is a mix of Ricardian contracts and javadoc could be

[2018-11-21 09:01] onbjerg commented on #1606
@James-Sangalli This already exists in the form of [Natspec](https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format) and its safer cousin [Radspec](https://github.com/aragon/radspec)

[2018-11-21 13:25] Nitro888 opened #1610 "EIP1607 - Separation of Block Gas Limit and Transaction Gas Limit."
## Simple Summary
By separating the block gas limit and the transaction gas limit, more smart contracts can be executed when the block is created.

## Abstract
Since the values of block gas limit and transaction gas limit are the same, theoretically, one block may process only one transaction.
In practice, transactions are often generated that use more than 200 million gases, which means that the

[2018-11-21 14:01] wighawag commented on #1271
This is definitely something we will need for smart contract based accounts.

If I understood correctly though, such function is intended to be implemented by an identity contract and as such any application relying on it to validate signed messages becomes vulnerable to such contract revoking signatures at will.

Imagine a application's smart contract who accept signed messages from anyone and th

[2018-11-21 14:55] nczhu commented on #677
Hey @se3000 ,

In `transferFrom()` in [linkStandardToken.sol](https://github.com/smartcontractkit/LinkToken/blob/master/contracts/token/linkStandardToken.sol) can we make a gas optimization by doing all the checks first? i.e. move line (6) to be run before lines (4) or (5).

[code]

Given the current sequence, we are checking for allowance (line 6) only after adding the balance (line 5). If it fai

[2018-11-21 20:09] 5chdn commented on #1085
Now that I have to run so many different clients with different ways approaching this issue, I would say, the ones implementing the Genesis format / EIP-1085 are the most annoying ones.

I think we should not stop at defining the genesis and forks only but give a complete [network description](https://github.com/ethereum/wiki/wiki/Ethereum-Chain-Spec-Format). This is what [Parity Ethereum is doing

[2018-11-21 20:52] winsvega commented on #1085
`networkID` and `bootnodes` could be supported.
what are the other issues?

[2018-11-21 22:00] carver commented on #1085
I hope you do @5chdn! It's pretty compelling to be able to launch the client with only the chain spec file.

It seems that chain spec is a proper subset of the genesis file spec, which is a nice property: implementing chain spec means that you necessarily support genesis files, too.

[2018-11-21 23:10] FrankSzendzielarz commented on #1085
I only became aware of this EIP just a moment ago and I was thinking about this topic today. The Hive updates now allow simulations to run multiple flavours of client at once, and I am now in the process of adding Trinity, Nethermind, Harmony etc., into the available clients. Simulators now determine which clients should be invoked, rather than letting the Hive engine specify. In this case, the Si

[2018-11-21 23:15] se3000 commented on #677
@nczhu yes, you could.

The linkStandardToken is a [renamed](https://github.com/smartcontractkit/LinkToken/commit/de076d0c761c14ec516ebb34d0ceb1554a93d270) version of an old copy of the OpenZeppelin StandardToken. We renamed it to avoid name collisions for developers importing [Chainlinked.sol](https://github.com/smartcontractkit/chainlink/blob/master/solidity/contracts/Chainlinked.sol) into Solid

[2018-11-22 00:01] ajsutton commented on #1085
Supporting `networkId` and `bootnodes` in the genesis config makes a lot of sense to me.  In Pantheon a predefined network is essentially a tuple of genesis, networkId and bootnodes which has been enough to describe MainNet, Rinkeby, Ropsten and Goerli.

Chain spec also looks quite good, the only concern I have is that it enables significantly more customisation in a couple of areas which I suspec

[2018-11-22 00:05] ajsutton commented on #1085
One other consideration is what the default values should be for things that aren't specified in the config and/or which fields are strictly required. That's important for cross-client compatibility but also for upgradability as new fields are added as part of future hard forks.

[2018-11-22 01:12] winsvega commented on #1085
The common genesis format should be as a yellowpaper rule for all clients to implement. Writing scripts that convert one format to another for specific client is not a good design.

[2018-11-22 07:45] FrankSzendzielarz commented on #1085
@winsvega That is true. Hive, however, needs to support scenarios like starting simulations involving different versions of client concurrently, including those prior to a commonly agreed format, and even when different versions of the later common format exist.  A common format however would make the implementation of those requirements a lot simpler. In the meantime, the code from Hive (when imp

[2018-11-22 12:59] jacquesd commented on #820
The review end date has passed without further changes, comments or suggestion. Hence I would like to move 820 to a final status.

For this I would need some assistance for @Arachnid or @Souptacular to merge #1612.

I'd also like to thank everyone who contributed and helped with ERC820, (including in no particular order): @fulldecent @mcdee @jaycenhorton @Recmo @hyperfekt @Arachnid @Souptacular an

[2018-11-22 21:47] ajsutton commented on #1085
With `"miningMethod" : "NoProof",` defining the consensus algorithm

 1. Would it be clearer to actually call this `consensusAlgorithm` since PoA schemes like Clique technically don't mine blocks but seal them? Mining is commonly used for those anyway so not a big deal.
 2. Where would options for the consensus algorithm go? For example block period and epoch length in clique or IBFT?

[2018-11-23 11:43] alexvandesande commented on #1559
Doesn't this creates an incentive to mine empty blocks? Since the miner gets only a 1/1000 of the current transaction fees, and instead they go to a public commons, while a naive miner is incentivized to put as much as possible in the pot so they can get more in the future, a selfish miner could decide to save computation time by ignoring all transactions. They still get the fee and it's the next

[2018-11-23 13:34] vbuterin commented on #1559
Ah sorry, I did not mean to say that the incentive to include transactions is literally zero. The `tx.fee_premium` component still goes 100% to the miner. It's up to the market to determine how much of a premium is incentive enough, but the key point is that the value that we can expect to be a sufficient incentive can be expected to be roughly constant over time, and not change with changing leve

[2018-11-23 17:11] 0age opened #1616 "ERC: Attribute Registry Standard"
| eip    | title                                | author                                                                                                                     | discussions-to                               |
|--------|--------------------------------------|----------------------------------------------------------------------------------------------------------------------------|----

[2018-11-23 20:08] frangio commented on #1271
@wighawag brings up a super interesting point. The semantics of cryptographic signatures cannot be replicated in identity contracts as generally as we attempted in this ERC. Having a central registry would solve a part of the problem, in that a signature can be guaranteed to remain valid once it's been observed valid on-chain. However, a cryptographic signature observed valid off-chain will also b

[2018-11-23 23:39] PhABC commented on #1271
@izqui

I think this is probably the easiest solution in order to have one function only instead of two. `isValidSignature(hash, proof)` where `proof` seem to encompass both the signature and additional information that would be required for the function to return true. Implementing both could help gathering data however on which method is the most appropriate.

Perhaps we could say `isValidSignat

[2018-11-24 05:15] holgerd77 commented on #1085
We lately have introduced a new https://github.com/ethereumjs/ethereumjs-common library - providing generic access to network and hardfork params - where a lot of design thinking has been put in, it might be worth to take some inspiration for some structures. On the other side we are also ready to rework if things are suboptimal, over- or under-engineered.

Just as a first note, have no time right

[2018-11-24 05:37] holgerd77 commented on #1085
Have opened an issue https://github.com/ethereumjs/ethereumjs-common/issues/30 on genesis format changes, if you have a first look on our library and stumble over things which you think we should definitely change, feel free to post there.

[2018-11-24 13:21] paulrberg opened #1620 "ERC-1620: Money Streaming"
[code]

This proposal has been accepted and merged as a draft standard. Please read up the thread below for discussions leading up to the final version.

<details>
<summary>Original Draft (Nov 24, 2018)</summary

## Simple Summary

Money streaming represents the idea of continuous payments over a finite period of time. Block numbers are used as a proxy of time to continuously update balances.

##

[2018-11-24 13:38] frozeman commented on #1620
Thanks for this. Very interesting concept.
Why only allowing ERC20 tokens and not ether?

[2018-11-24 14:00] PaulRBerg commented on #1620
The feedback we got so far is that people would love to use this with stablecoins like DAI, TrueUSD etc. Indeed, in the case of ICOs, Ether is the main currency used but a lot of people have been implementing WETH lately. The rationale is to avoid writing duplicate logic and I said to make the ERC strict because of that. Nevertheless, on a second thought, it doesn't hurt to just make it a little b

[2018-11-24 14:07] frozeman commented on #1620
In the RICO model this streaming of money is based on ETH.

In your idea the way to map streamer with the committed funds is through a streaming ID and an address?

In the RICO idea you get a token back. The advantage is that the token can be transferred and so the commitment transferred and also only part of the commitment can be withdrawn rather than everything.
Also investing in a RICO van happ

[2018-11-24 16:13] PaulRBerg commented on #1620
Exactly, just an uint256 id incremented whenever a new stream is added. Each struct contains the addresses of both the payer and the payee.

I found this ERC and RICOs at least tangential, hence why I added a reference in the first place. Of course, the RICO proposal has more crowdsale-specific details insofar there is an extra set of instructions needed to be executed (i.e. receiving the ICO toke

[2018-11-24 16:16] frozeman commented on #1620
Yes it’s a great idea.
I have not yet planned to make an ERC for the RICO, we first will try it out with our project LUKSO and then see if it makes sense to standardize.

[2018-11-24 16:52] mradkov opened #1621 "EIP1621: Referral Interface"
[code]

## Simple Summary
Suggests the addition of referral mechanism over smart contracts, storing account information. For example dApps.

## Abstract
Almost every platform/project/game/service on the web has some kind of referral mechanism used for marketing purposes, but not only. We believe that for a smooth transition from the current centralized internet model to a decentralized one, the us

[2018-11-25 02:41] fulldecent commented on #1621
"I would like to start a discussion here for the viability and the merit of the proposal as well as design." is the wrong stage to open an EIP.

Instead please open a specific question on StackOverflow or a discussion on /r/ethereum or Ethereum Magicians.

[2018-11-25 05:37] jschiarizzi commented on #1620
Seems pretty well thought out.  Popular current time tracking programs systematically commit wage theft against the working class. I find it inevitable that we eventually get to paying people as the work for the exact amount of time they work. It's an idea a lot of folks have talked about, but it's nice to see the first technical spec for something that would enable this. Potentially take some tho

[2018-11-25 11:34] PaulRBerg commented on #1620
Hey @jschiarizzi interesting points, wasn't aware there's that much unfairness. I totally love #1337, what the @gitcoinco and @8x-protocol teams are doing and the cool thing is that the "subscriptions" EIP can be used in coalition with money streaming.

The current spec requires people to deposit funds beforehand, hence for longer periods it may not work for everyone due to liquidity problems. But

[2018-11-25 14:55] pedrouid commented on #1616
Great stuff, we have a similar proposal for querying metadata for an ethereum address using a standard JSON scheme stored on IPFS (potentially Swarm as well)

Check out the ERC-1456 - Address Metadata JSON Schema
https://github.com/ethereum/EIPs/pull/1456

You can also test out the PoC at https://beta.ethregistry.org

As an example you have the address pre-filled (0x6090a6e47849629b7245dfa1ca21d94

[2018-11-25 20:02] pedrouid commented on #1616
Thanks for the detailed breakthrough @0age! That was super helpful 🙏

[2018-11-26 01:57] abandeali1 commented on #1271
There is a fine balance IMO of what params should be included in the `signature` byte array and what should be passed in separately. The more data included in the signature, the less obvious it becomes for contracts to encode that data. You also end up with redundant data in the `signature`, which is going to cost more gas (in the case of 0x orders, now the `signerAddress` would be included in bot

[2018-11-26 09:05] apguerrera commented on #1553
The reference implementation links appear to be incorrect?

[2018-11-26 09:17] Axejiang commented on #1553
Much thanks for your comments!
The reference implementation links just a case, defining a smart contract legally representing the ownership and corresponding privileges of a real-world asset.

Key Issuance management, collectAllForce, and other functions have been described as above, the totally complete implement would be done if necessary.

[2018-11-26 12:11] Axejiang commented on #1553
Thank you for your kind feedback, very helpful!
The 'big' token changed into  'Asset token',
The 'small' token changed into 'Asset key',
The 'split' changed into 'issue'.

Thank you very much for your contribution. We have revised the proposal and submitted it to the native English speaker for revision and improvement. I hope to help you read and understand.
Author's GitHub (McGrady00H, @hack1t, e

[2018-11-26 13:54] izqui commented on #1271
The concern @wighawag brings up is certainly interesting, but in my opinion this shouldn't be addressed in this EIP, it should just be made clear that this can happen.

[2018-11-26 14:01] izqui commented on #1271
I would add a couple of security features to the EIP, to avoid it being maliciously used with an attack similar to (Gas token minting attack)[https://medium.com/level-k/public-disclosure-malicious-gastoken-minting-236b2f8ace38]:
- `isValidSignature` implementations should assume they are always called with a `staticcall`, and therefore MUST NOT modify state or call functions that modify state. Cal

[2018-11-26 17:56] PhABC commented on #1271
@abandeali1

And why not pass the order in the `signature` argument in this case? For simplicity? Are you suggesting the signer contract would implement both functions (overload) and the calling contract would call either method?

@izqui

I'm in favor of this. However, it does prevent some interesting things (e.g. a certain user can only execute *x* trades a day), which would require an additional

[2018-11-26 22:43] ssteiger commented on #777
Wording in section 'Rationale': `Note that, the usage of ERC820 provides backward compatibility with wallets and existing contracts without having to be redeployed thanks **to** proxy contracts implementing the hooks.

[2018-11-27 00:12] ChrisCates commented on #1442
Hey!~
I was approved for this bounty.
But I thought someone from their internal team already accepted it.

There are lots of other things I'd like to add revolved around this (see initial comment). Happy to discuss more!~

[2018-11-27 06:58] zhous commented on #1495
This is great. And alos it's what I have being trid for months.
First, my suggestion is to name it Zero-identity, cause basically the model "private key, public key, address" is a Zero-knowledge proof of an identity.

[2018-11-27 07:44] zhous commented on #1495
This is great. And alos it's what I have being trid for months. Now I need some time to read the proposal, my English is slow. Anyway, good job!

[2018-11-27 09:32] catageek commented on #1271
Hi,

isValidSignature() should not return a bool but a magic number, since every function returns 1 (or true) on success. We must be sure that the act of checking the signature was effectively done, and not having to deal with a misconfigured contract with a default function that will return true because it did not revert, and misinterpreting the return value.

Making mandatory to register the int

[2018-11-27 16:19] frangio commented on #1271
This is not true, functions have no return data by default. A magic number would protect against function selector collisions though. Thoughts?

---

I think nonces and daily limits should be dealt with at a different layer. This ERC is only meant to provide a mechanism to check a signature against a signer. The contract using this interface can then judge whether to allow use of the signature in

[2018-11-27 16:22] frangio commented on #1271
If we make it `staticcall`-able I think we can safely do without a gas limit (it wouldn't be possible to mint gas token or anything like it), which is a huge argument in favor of it.

[2018-11-27 18:55] AC0DEM0NK3Y commented on #1155
Hey @wighawag, sorry for the late reply been quite head down of late.

So in the latest proposed spec you can see that:

* name event and function remains, we think this provides some simplicity for some impls and some possible simplicity in recognizing an ID directly on chain (for debugging and quick display) if added. It is completely optional, you do not have to supply the function and you can

[2018-11-27 19:50] izqui commented on #1271
I think state modification should never be done in this function, specially since the signature is a `public view` and Solidity 0.5 will do a static call by default.

[2018-11-27 20:55] AnuragHydro commented on #1495
@cbruguera sure thing! changed to "destroy"

[2018-11-27 23:50] AnuragHydro commented on #1495
Also, for anyone interested, here's a telegram chat for less formal discussion around this proposal. https://t.me/erc1484

[2018-11-28 03:42] fulldecent commented on #1495
What is the actual, end-user, tell my not-tech-advanced family member use case here?

[2018-11-28 05:48] appcast commented on #864
Any updates on this as curious to make a final determination to stay erc20 or do the erc721 is solution is out for fractional ownership.. If you have any further info, great appreciated.. Thanks,

[2018-11-28 05:49] catageek commented on #1271
Sorry, I made a confusion with status reply and return value. I correct: if the function called returns a non null value, this will be interpreted as true. When the default function is used as proxy, return values are often copied to be returned. We don't know what function will be called, we can only make assumptions. A magic value would remove any doubt. What would be the purpose of this ERC if

[2018-11-28 06:32] jpthor commented on #223
Hi @Dexaran can you add the updates to make the ERC2234 Receiver Solidity v0.5.0 (https://solidity.readthedocs.io/en/v0.5.0/050-breaking-changes.html) compatible.

In particular:

The offending section:

[code]

Thanks!

[2018-11-28 07:03] renchuqiao commented on #1503
What kind of negative comments/feedbacks are they? Can you plz share some?

[2018-11-28 07:08] renchuqiao commented on #1503
It is specified in the management data section in data contract:

/** Management data */
    /// Owner and Handler contract
    address private owner;
    address private handlerAddr;

It is also in the reference ERC-54

[2018-11-28 12:20] Alexintosh commented on #1257
Great proposal @yaronvel !

@mickys has a good point since the external listener introduces a point of centralization and increases friction. I assume to consume that information some kind of relay should be involved to update the DAO of the payment execution.

In the attempt to standardize the payment interface it could be useful to include a callback function besides the emission of an event.

S

[2018-11-28 15:18] NoahHydro commented on #1495
@fulldecent In my view the real value prop is:

DApp developers will be able to identify users not by address, but by unique 1484 identifier (Ethereum Identification Number/EIN). This is powerful because EINs are natively multi-address, meaning interacting with dApps on mobile, desktop, in dedicated apps, etc. gives users the same exact experience once they’ve linked these accounts to their identi

[2018-11-28 16:02] AnuragHydro commented on #1495
with respect to "identifying users", since EINs aggregate identity profiles, if two applications want to take the same approach to identifying users (kind of like "log-in with facebook), they're able to leverage existing identity implementations tied to an EIN.

[2018-11-28 17:05] zmitton commented on #1186
Seems like this is the case, so my library is still useful in building those proofs (and of course checking them).

[2018-11-28 22:55] yaronvel commented on #1257
@yudilevi maybe this can be solved in application level.
There is no really payment cancellation, but rather transferring back ETH (or token).
The vendor can use same event to record the payment refund to the user and the `_data` will contain relevant tag that denotes the cancellation.

I guess we can add as a convention that last byte in the data denotes whether it is payment or refund.

[2018-11-28 23:08] yaronvel commented on #1257
@Alexintosh what you suggest will not be compatible with most existing deployed contracts.
And the payment will just revert.
For example if the payment is done from a gnosis multisig.

Your idea does make sense, but I am not sure why standards for all DAOs is needed here rather than dao-specific implementation.

Note that this standard is proposed only for the purpose of making it easier to build

[2018-11-29 10:00] yudilevi commented on #1257
@yaronvel I prefer an explicit argument over trying to figure it out by the `_payer`/`_payee` arguments. I think it will also keep it more generic.
For example, if 2 different entities have payments for each other, we would like to know whether a payment is a refund or not etc.
There might also be other different types of transfers that we might want to support later on.

[2018-11-29 11:03] yaronvel commented on #1257
@yudilevi can you propose argument type? should it be boolean? uint?

[2018-11-29 11:43] yudilevi commented on #1257
@yaronvel what do you think about defining it as bytes32, declaring some pre-defined values like "payment" and "refund" and allowing custom values? I can see values like "fee" or "subscription" in the future but I wouldn't want to limit apps to these as they might be a bit too narrow for some.

The handler can decide ignore the values and payment providers can declare application specific values?

[2018-11-29 12:15] yaronvel commented on #1257
@yudilevi can live with it, though maybe `uint256` is better, because comparison is easier. unless you aim to hold `sha3` of a string?
I am fine with both. Just does not like `bytes32` much because how solidity treats it.
I mean it will force you to do:
`bytes32 constant REFUND = bytes32(0)`.
Also at the backend level it give rise to confusing endianess. Meaning the order of bytes.

[2018-11-29 15:39] yaronvel commented on #1257
@yudilevi sure, want to take the lead on the predefined value and ranges spec? can add you to the EIP. PR is welcomed (though not sure if possible), or just write something here.

[2018-11-30 06:06] simon-jentzsch commented on #1186
@zmitton yes, the other tries like transactions and receipts are only created temporarly since all data are available in the block, but I agree this means getting a merkle proof for a transactrionReceipt means running at least a bulk-request to get each receipt and construct the tree.  (like here https://github.com/slockit/in3-server/blob/master/src/chains/proof.ts#L205 )
But at least these inform

[2018-11-30 15:14] wighawag commented on #1155
@AC0DEM0NK3Y Thanks for the reply and the updated spec. Sounds good.

For 820, it might not be easy to bolt it on later as it define expectations from the smart contract to call 820 for implementation lookup. But we could avoid it by providing a later extension that user could check via 165 or 820 itself. I ll have more thoughts about it.

[2018-11-30 18:36] matthewjablack opened #1631 "ERC 1630 Discussion"
---
eip: 1630
title: Hashed Time-Locked Contracts
author: Matthew Black <matthew.black@consensys.net>, TingWei Liu <ting.liu@consensys.net>, Liquality Team <info@liquality.io>
status: Draft
discussions-to: https://github.com/ethereum/EIPs/issues/1631
type: Standards Track
category: ERC
created: 2018-11-28
---

## Simple Summary

A standard EVM script for generalized payments that acknowledges rece

[2018-12-01 21:16] fuzzyTew commented on #1058
Hey, this looks cool.  I'm surprised there's not more discussion.

I wanted to suggest that `prog_seed` I think it's called, be based on a block hash rather than a block number.  This would make it more difficult to predict future inner loops.

[2018-12-02 14:36] okwme opened #1634 "ERC 1633 - RFT (Re-Fungible Token)"
---
eip: 1633
title: Re-Fungible Token Standard (RFT)
author: Billy Rennekamp (@okwme), Dan Long (dan@artblx.com), Kiryl Yermakou (kiryl@artblx.com), Nate van der Ende (nate@artblx.com)
discussions-to: https://github.com/ethereum/EIPs/issues/1634
status: Draft
type: Standards Track
category: ERC
created: 2018-11-18
requires: 20, 165, 721
---

## Simple Summary

This improvement proposal outlines a

[2018-12-02 14:39] okwme commented on #864
Hi all,
Just opened a request for comment on [EIP 1633, Re-Fungible Token](https://github.com/ethereum/EIPs/issues/1634).
Would love your thoughts and feedback.

[2018-12-02 14:39] okwme commented on #1155
Hi all,
Just opened a request for comment on [EIP 1633, Re-Fungible Token](https://github.com/ethereum/EIPs/issues/1634).
Would love your thoughts and feedback.

[2018-12-02 14:39] okwme commented on #1528
Hi all,
Just opened a request for comment on [EIP 1633, Re-Fungible Token](https://github.com/ethereum/EIPs/issues/1634).
Would love your thoughts and feedback.

[2018-12-02 17:43] pau1m commented on #1202
A couple of comments from my experience implementing a  contract based on the AdvancedERC1202 draft.

There is no mechanism to add option descriptions for a new issue. In the given examples options are hardcoded in the constructor.

I have a specific edge case where the number of votes are allocated based on funds held in a separate vesting contract. Votes are allocated for funds remaining vested

[2018-12-03 02:01] xinbenlv commented on #1202
For some reason I couldn't find your comment on the github issue, was it
deleted?

Appreciate the discussion, this is very valuable feedback.

Answered in the code

On Sun, Dec 2, 2018 at 9:44 AM pau1m <notifications@github.com> wrote:

Thanks, do you mind share with me your implementation so I can take a look?

It is possible to create "setIssueDescrption(...)". We didn't put this
inside of the 1

[2018-12-03 02:16] sea51930 commented on #1
# 1

[2018-12-03 13:21] Enelar commented on #223
@Dexaran I've been reading for hours whole thread, your repo, everything.
Someone, please explain what forbids anyone to call my tokenFallback and trick me with that?
I think this standard is more confusing than clarifying.

[2018-12-03 13:52] holgerd77 commented on #1085
Sorry, due to personal reasons I am delayed on this, still plan to jump in though and give some thought.

[2018-12-03 14:20] djshitcoin commented on #223
Inside the tokenFallback function, you'd obviously need to check if `msg.sender` is the token contract

[2018-12-03 22:38] PhABC commented on #1271
Hey all, updated the draft a bit to include some of the things discussed that reached some consensus (see PR [here](https://github.com/ethereum/EIPs/blob/722912b7996b57e0cf10b3e52ccef3d2966e53df/EIPS/eip-1271.md)).

[code]

Things included :
- Return magic value instead of bool (as per @catageek 's suggestion)
- Enforce `STATICCALL` (as per @izqui 's suggestion)

Things not included :
- Supporting

[2018-12-04 01:36] FaysalM commented on #223
@jpthor is there an audit report you guys had done on the contract? Reading into this, I can't see a valid enough reason to adopt this without more peer review.

[2018-12-04 04:07] yujia21 commented on #225
Minor typo if/when there's a next edit:
"It's not elegant: Ethereum **is** supposed to have dynamic block limits"

[2018-12-04 06:48] juan794 commented on #1186
I am not sure if it is an error o I am the only one experience it, but I think it is better to comment on it.

I am testing an implementation that requires offline existence verification of accounts. RLP decoding of the *value* in **Trie.verifyProof**, following the example above, takes account's (smart contract's in this case) balance as a string data type when is value is 0x0 which makes the ver

[2018-12-04 09:19] wighawag commented on #1271
@PhABC
Unless the full contract is pure, it is possible for the smart contract to change the logic of any function and thus bypass the purity of the function.
Also purity is actually only enforced by solidity.

It would be nice though to have a ```create``` evm operation variant that create only pure smart contract by blocking such smart contract to read or write state.

In that case using a regis

[2018-12-04 15:28] pedrouid opened #1637 "EIP 1637 - Adding chainId parameter to eth_sendTransaction"
Currently we rely in non-standard middleware to handle the state of the active chain of the Wallet. This state could be standarized in the current `eth_sendTransaction` JSON-RPC method by adding a second parameter to include the chainId.

EIP-155 already takes this into account to protect transactions from being replayed as this chainId is included in the signature `v` value however this is not co

[2018-12-04 16:40] izqui commented on #1271
You can always check the purity of the contract you are going to call by doing `EXTCODECOPY` and analyzing the bytecode looking for blacklisted opcodes (calls, sload or whatever you want to protect against). But again, I think this should be out of the scope of this ERC.

[2018-12-04 17:10] wighawag commented on #1271
@izqui
Blacklisting is a not a solution as this would not be future proof since new opcode could allow to change state. Whitelisting, which would be a larger check, on the other hand would not allow new opcodes, which might restrict your contract to certain set of signature verifiers, so you would not be able to verify signature from such valid contracts even if they follow the rules of the standa

[2018-12-04 17:15] zmitton commented on #1186
this doesn't sound like an issue with the EIP. From the above code I dont see RLP needing to be decoded but you might want to bring this up with the rlp repo or 'merkle-patricia-tree' (depending on your code which i havent seen)

[2018-12-04 17:51] izqui commented on #1271
Opcode checking is not super cheap but it is definitely doable, checking a whitelist is as expensive as a blacklist if you just use bitmaps.

[2018-12-04 19:38] wighawag commented on #1271
It is doable, not arguing against that.
And you are right that the gas difference is zero between whitelisting and blacklisting when using bitmaps (though there might be a more optimized checker for blacklist (due to the small amount of opcode to check))

But this is irrelevant anyway since it does not answer the most important point: whitelisting opcodes will make future smart contract (using new

[2018-12-04 20:09] juan794 commented on #1186
Thanks @zmitton. I used RLP to understand why the verification was not working. I thought it is liked to this EIP because it is the contract's balance which makes the verification works straightforwardly as the example above.

[2018-12-04 22:16] jmcnevin commented on #1056
There has been some chatter about archiving logs, pruning state size, which would seem to affect this ERC's strategy for storing some data.  Will this strategy need to be revisited?

https://github.com/ethereum/pm/blob/master/All%20Core%20Devs%20Meetings/Eth1x%20Sync%201.md

[2018-12-05 09:32] ChosunOne commented on #1572
I think something that could make this even better would be some form of endorsement model, similar to EigenTrust or PageRank or some kind of staking system to defeat sybils.  This way we can have a ranked system where you don't have loads of "Vitalik Buterin" contact cards on the chain with equal weight.

[2018-12-05 09:34] ligi commented on #1637
A concern @holiman just mentioned in a call is that geth uses different keystores for the different chainID's. Solution could be that if the current chainID is not the chainID that is passed -> an error is thrown. Still think introducing new rpc methods in the wallet_ namespace is a cleaner solution.

[2018-12-05 09:46] 5chdn commented on #225
Please direct review comments to the actual PR: #1570

[2018-12-05 10:50] kevinsimper commented on #1572
Hi Kiyoung, has this already been used at a conference? :)

[2018-12-05 12:20] karalabe commented on #225
@maxrobot The crux of the consensus engine is the same as ethash, just block validation was modified a bit. There wasn't really a danger of consensus not being reached, it's the same GHOST protocol. But if you're wondering how we tested it, it's used by Rinkeby. I tested it while creating Rinkeby, running multiple nodes/signers and seeing how they behave. All in all the spec didn't need to be chan

[2018-12-05 12:24] karalabe commented on #225
@KaloNK Censorship doesn't work. If we were to introduce a mechanism to "burn" ether on demand, an attacker would just split its ether into millions of accounts. Since it's monopoly money, it doesn't matter that you pay some fees to distribute the funds. That would prevent cenzorship while also putting extra load on the network. TL:DR Censorship just makes the network worse, but doesn't solve the

[2018-12-05 13:42] fubuloubu commented on #1410
In a word, easier convertibility. With multiple tokens, you wpuld have to design a complicated atomic swap, mint/burn or locking system to trade vesting to unlimited shares, and the restrictions on tradability. If they are all subcategories of the same token, that logic is much simpler to represent. I am not a "security tokens" guy, but that much makes sense to me.

This proposal also has wider ut

[2018-12-05 13:52] zingleton commented on #1410
That's not it at all. Tranche is probably a bad word, because it implies that the securities in the different tranches are different or have different rights -like the tranches of an MBS. However, that is NOT the purpose of this particular data structure. This data structure describes securities that are the SAME security, but issued on different days, or in different jurisdictions. The most impor

[2018-12-05 13:56] zingleton commented on #1410
This type of tranche would describe different issuances of the same security. As a corollary, if you have several securities from one issuer, but with different rights, I think you should make different tokens.

[2018-12-05 14:43] parkinsonj commented on #1410
@fubuloubu @zingleton Thanks for the detailed responses. The examples given make a lot of sense - especially the point about lock-up times/issuance dates/recombining being a nightmare with separate tokens. I can definitely see advantages to this approach.

Since it seems to be a potential source of confusion (at least in my case), perhaps the name *should* be changed from `tranche` to something th

[2018-12-05 14:44] parkinsonj commented on #1410
@adamdossa What do you think about changing `tranche` to something else that doesn't already have an established meaning in the context of securities?

[2018-12-05 15:07] fubuloubu commented on #1410
Also, one point. Again I am not an expert on securities at all, but focusing on US requirements is too narrowly focused to define a standard on. ERC standards are all about giving developers tools to build different use cases with, one of the main reasons I pushed back against the original monolithic proposal.

As noted, the fact is you really have multiple options for implementing a "security tok

[2018-12-05 15:13] thegostep commented on #1410
@parkinsonj I want to point you to this WIP update to the 1400 proposals. It includes renaming 'tranches' to 'partitions' in order to remove the association with MBS and CDOs.

https://github.com/SecurityTokenStandard/EIP-Spec/pull/6

[2018-12-05 15:24] parkinsonj commented on #1410
@thegostep Thank you, I shall take a look at it. Sounds like a positive step!

@fubuloubu I think that's a fair point, although as you've pointed out the partitioning is relevant to a berth of applications outside of US securities.

Regarding "legitimacy", I'm not sure I agree in this particular context if only because a securities platform is not very useful if it only works with a small fraction

[2018-12-05 15:43] fubuloubu commented on #1410
Oh yeah, don't get me wrong, the securities use case is a really big driver of adoption, in the same way it has also driven the push for defining multiple, "competing" standards, basically all at the same time.

I'm saying that non-security use cases can be a way to help engender adoption of a particular standard, as you have defined something more generally useful than if it were focused more tow

[2018-12-05 18:15] zmitton commented on #1186
@juan794 I've seen this issue before. the problem is that the number `0` is represented in ethereum as `bytes<>` *not* `bytes<00>` so the RLP of it becomes `bytes<80>` and *not* `bytes<00>` (which would be the rlp of `bytes<00>` because rlp of anything single byte under 80 is itself).

So find out find out where the software could use updating but I bet you its not here. the return value of o or e

[2018-12-06 07:30] princesinha19 commented on #1411
is there any way to update metadata in the future?

[2018-12-06 11:47] AlexeyAkhunov commented on #1559
What do you think about introducing smoothing (aggregating ``gasused`` over multiple blocks) and some lag (aggregating over past blocks rather than very recent blocks)? Smoothing would increase the price of manipulation, and lag would make MINFEE more predictable (for better usability)

[2018-12-06 13:29] Grunzwanzling commented on #1522
Compulsory voting is a really bad idea.
Forcing people that are not-well informed to vote leads to a large number of so called "donkey-votes" of persons that simply vote at random or for non-serious candidates.
In case of Ethereum, it is also almost technically impossible, because not all wallets are controlled by humans. How would wallets vote that are controlled by smart contracts?

[2018-12-06 19:38] Arachnid commented on #1559
Anyone wanting to tweak the parameters on something like this would be well advised to read [Feedback Control for Computer Systems](https://www.amazon.co.uk/Feedback-Control-Computer-Systems-Philipp/dp/1449361692/).

I think this will need some simulation to determine the correct parameters.

[2018-12-08 03:39] vbuterin commented on #1559
There is already implicit smoothing because each block only moves the fee by a relatively small amount.

That's definitely interesting! I guess the goal would be to make MINFEE predictable N blocks in advance instead of just one? Certainly doable though it would add complexity.

[2018-12-08 10:35] brunneis opened #1641 "I'm thinking about proposing a standard for traceability registries"
What do you think? I didn't find a proposal for this.

[2018-12-10 03:36] qbig commented on #726
Could anyone explain how we could achieve this?  I mean how could we recover an old state from "stateRoot+txs" ?
[code]

[2018-12-10 10:54] MrMabulous commented on #223
I think

    function transfer(address to, uint value, bytes data, string custom_fallback) public returns (bool ok);

should emit a different event with the signature

    event Transfer(address indexed _from, address indexed _to, uint256 indexed _value, bytes _data, string custom_fallback);

otherwise the info which function was called cannot be recovered from the emitted event.

[2018-12-10 16:49] adamdossa opened #1643 "ERC-1643: Document Management Standard"
---

eip: ERC-1643
title: Document Management Standard (part of the ERC-1400 Security Token Standards)
author: Adam Dossa (@adamdossa), Pablo Ruiz (@pabloruiz55), Fabian Vogelsteller (@frozeman), Stephane Gosselin (@thegostep)
discussions-to: #1411
status: Draft
type: Standards Track
category: ERC
created: 2018-09-09
require: None

---

## Simple Summary

This standard sits under the ERC-1400 (#14

[2018-12-10 16:50] adamdossa opened #1644 "ERC-1644: Controller Token Operation Standard"
---

eip: ERC-1644
title: Controller Token Operation Standard (part of the ERC-1400 Security Token Standards)
author: Adam Dossa (@adamdossa), Pablo Ruiz (@pabloruiz55), Fabian Vogelsteller (@frozeman), Stephane Gosselin (@thegostep)
discussions-to: #1411
status: Draft
type: Standards Track
category: ERC
created: 2018-09-09
require: None

---

## Simple Summary

This standard sits under the ERC-14

[2018-12-10 17:23] adamdossa commented on #1411
Following feedback from the token ring, community calls, GitHub & the Telegram group, I have made the following changes:

Motivation
* Clarify use of tranches / partitions primarily as a mechanism to add transparency to the non-fungible subsets of a token holders balance.
* Ease adoption by decomposing the security token standard into a library of related and interoperable standards.
* Move to ERC

[2018-12-10 17:23] adamdossa commented on #1410
Following feedback from the token ring, community calls, GitHub & the Telegram group, I have made the following changes:

Motivation
* Clarify use of tranches / partitions primarily as a mechanism to add transparency to the non-fungible subsets of a token holders balance.
* Ease adoption by decomposing the security token standard into a library of related and interoperable standards.
* Move to ERC

[2018-12-11 06:20] Silkroad-zid opened #1649 "ERC-1646: Decentralized Autonomous Zero-identity Protocol"
## Official ERC-1646 Discussion Forum
[The readme file is here (full description).]( https://github.com/Silkroad-zid/EIPs/blob/master/eip-1646.md)
[The reference implementation is available here.](https://github.com/Silkroad-Framework/eip)
**It's an ongoing protocol.**

## Simple Summary
A public autonomous zero-identity protocol which can greatly enhance smart contract based application's securit

[2018-12-11 07:06] xguan5 opened #1651 "A document management proposal for legally binding token"
---
eip: <to be assigned>
title: A document management proposal for legally binding token
author: Tony Guan <tony.kuan@hotmail.com>
status: Draft
type: Standards Track
category: ERC
created: 2018-12-05
requires (*optional): <EIP number(s)>
replaces (*optional): <EIP number(s)>
---

# Standard for adding legal contract into token smart contract

## Simple Summary
Proposing a model for including ver

[2018-12-11 12:42] ipetrovic11 commented on #1620
@PaulRBerg Awesome to see this, you can take a look at Technical Paper that we wrote a while back making Streaming Money for salaries case:
https://drive.google.com/file/d/1o34Cbm6tAPNHNvjxR9IuWVlQCmeshHNL/view

Our wallet has already implemented this.

Would be great to have a live chat and discuss how we can bring this further to life, you can contact me at: ivan@workchain.io

[2018-12-11 19:33] AlexeyAkhunov commented on #648
Would this not allow the DAO-style soft forks, and with it, censorship? http://hackingdistributed.com/2016/07/05/eth-is-more-resilient-to-censorship/

If the ranges are tight, then miners can cheaply figure out what are the effects of the transaction, and censor them. If the range are broad, then there is less effect of the parallelisation. They way I see it - it is trading off censorship resistan

[2018-12-12 15:23] BlueRoss commented on #820
@jacquesd 0xjac, thanks a lot. Are all merges done ? could you move 820 to final status or did you find improvements ? Warm regards

[2018-12-12 15:56] jacquesd commented on #820
@BlueRoss No, I did not find improvements and I did not get further feedback. I was silent for the last 2 weeks for personal reasons but I am now allocating some time again to finalize this.

There is already a PR to finalize 820 at #1612. I will answer @Arachnid last comment which I missed and update the PR.

[2018-12-13 02:31] pazams opened #1654 "ERC-1654 Dapp-wallet authentication process with contract wallets support"
---
eip: <to be assigned>
title: Dapp-wallet authentication process with contract wallets support
author: Maor Zamski (@pazams)
discussions-to: <URL>
status: Draft
type: Meta
created: 2018-12-12
---

<details><summary>First draft</summary>

## Simple Summary

An off-chain process for dapps to prove actionable control (informally, "ownership") over a public Ethereum address using `eth_sign`. Suppor

[2018-12-13 03:32] coinfork commented on #1155
I've updated the standard formatting, comments, with many cross-checks and suggestions from Andrew and James.

We have now requested the status be changed to Last Call.

[2018-12-13 13:55] ritzdorf commented on #1594
Sure. `msg.sender` can be inferred as long as you stay within the same contract, but I thought it would be more explicit to include it, to show that it might influence the check.

You are right that `canTransfer` would then also have to be adjusted.

I am just envisioning a scenario where these checks are done by a separate contract which might make sense for reasons of modularity, reusability and

[2018-12-13 14:16] wighawag commented on #1155
Great,

Few comments :

        @dev MUST emit when the URI is updated for a token ID.
        URIs are defined in RFC 3986.
        The URI MUST point a JSON file that conforms to the "ERC-1155 Metadata JSON Schema".
    */
    event URI(string _value, uint256 indexed _id);

As part of previous discussions it was mentioned such event would be optional. As the standard stand now, this is not the c

[2018-12-13 16:04] PhABC commented on #1155
@wighawag

I was of the same opinion as you on this matter, but these events don't need to be implemented if they are never needed to be triggered. Putting them in the standard makes sure that *if* the URI or Name of a token changes, these events will be emitted. I am personally more in favor of adding another ERC-165 method for the various extensions however.

Doing queries by batches can save si

[2018-12-13 18:39] AnuragHydro commented on #1495
@fulldecent to be even more simplistic, it's like having a purse and personal assistant. Instead of separately carrying your driver's license, credit card, debit card, passport, etc. you carry it all in the purse - the purse is your `EIN`. Instead of you having to sift through your purse and finding all the things you need at exactly the right time to give to the store clerk, your assistant does a

[2018-12-13 21:21] binary-adam commented on #223
@Enelar You have to check msg.sender to find out what kind of token you have received anyway, msg.sender is authoritative on which tokens you own, so trusting it to tell you which you've received is no increase in trust.

[2018-12-14 01:13] pakaplace commented on #1594
Great work @adamdossa . We're pretty in line with this design at Meridio, and the community's decomposition of 1400.  A few comments around issuance/redemption as part of the standard:
* If issuance/redemption is part of the required interface and `isIssuable()` is defined, then shouldn't  a`finishIssuance()` function be included in the standard? Even if you deem its inclusion out of the scope of

[2018-12-14 01:51] dete commented on #1654
Thanks to @pazams for writing this up. We think that there are lots of good reasons to use smart contract wallets, even for individual users. Hopefully, lots of Dapps will make this simple change to make that use-case viable (as we will for [CryptoKitties](https://www.cryptokitties.co/)!).

[2018-12-16 16:58] jacquesd commented on #820
After a discussion between @Arachnid and @jbaylina, a new last call for ERC820 has been requested, see #1660.

[2018-12-16 18:31] AlexeyAkhunov commented on #1559
I am getting this book tomorrow :)

[2018-12-17 00:12] dekz commented on #1155
Hello from 0x. Congrats on getting to Last Call, we've been watching the progress and are excited to add ERC1155 support to 0x in the near future.

One thing I'd note is the mention of backwards compatibility with ERC721. I don't believe this is truly backwards compatible as the receiver callback has changed and so have the events. What is the section attempting to describe, that a contract can be

[2018-12-17 09:56] wighawag commented on #1155
Thanks for your input @dekz

in regard to backward compatibility :

an ERC1155 contract can be made ERC721 compliant but the token Id space will be shared, this means some of the ids won't be ERC721 and some will.

Note that in that case ERC721 functions will only apply to tokens that are ERC721. It does not make sense to call ```ownerOf``` in regard to a fungible token for example, but this also

[2018-12-17 17:50] mrtomnguyen commented on #725
these are great comments and ideas. I like the decoupling of key management and use of proxy like uport Identity Manager bc recovery will be a big issue. My conclusions so far is that 735 on-chain claims are for things you want public anyway eg. trophies so that it can easily be digested through the ecosystem. This is the biggest advantage. Since PII eg. names, bday, can use 780, there's not reall

[2018-12-17 19:42] BrendanChou commented on #1445
+1 for this idea

There are also times when wallet software will queue up a bunch of transactions with sequential nonces. If the first transaction gets lost or has too low of a gas fee, then it won't be mined. The user will then have to return to the wallet software and replace that transaction. Only then will the next transactions be mined. This is AWFUL in almost every scenario.

If the ordering

[2018-12-18 00:34] jtremback commented on #1620
We've implemented something like this proposal here: https://github.com/althea-mesh/aragon-node-list/blob/master/contracts/Althea.sol#L86

[code]

Can you see any benefits that this proposal has over our system? Or is it just a standardization of this concept?

[2018-12-18 04:39] maxsam4 commented on #1445
Thanks for your feedback @BrendanChou ! I couldn't make time to push this EIP/ERC further earlier but I'll try to get a formal PR done by Christmas. Meanwhile, I would like to tackle some of your concerns.

For transactions originating from a single account, we will have to maintain the nonce and keep transactions sequential. One of the main purposes of the nonce is to prevent replay attacks. Even

[2018-12-18 07:33] cbruguera commented on #1495
Basic question here: So far it seems that associated addresses for ERC1484 identities are "flat", meaning there's no hierarchy or custom permissioning set on these addresses. How would a hierarchical (or any other sort of complex permissioning) scheme be implemented over ERC1484 identities? How would this scheme compare to that of ERC725 for example? or How would you describe the possible integrat

[2018-12-18 15:39] maxsam4 opened #1662 "Removing Contract Size Limit"
**Abstract**
A contract size limit of 24kb was introduced by EIP #170 . To solve the following problem problem: "when a contract is called, even though the call takes a constant amount of gas, the call can trigger O(n) cost in terms of reading the code from disk, preprocessing the code for VM execution, and also adding O(n) data to the Merkle proof for the block's proof-of-validity". I think we ca

[2018-12-18 22:19] AnuragHydro commented on #1495
Good question! This is a good example of the two ERCs working well in conjunction with one another. You are correct in that ERC 1484 simply links addresses for a given EIN and does not, by itself, define the *nature* of the relationship between those addresses.

The [ERC 734](https://github.com/ethereum/EIPs/issues/734) address-management structure defines the *nature* of the relationship between

[2018-12-18 22:46] Recmo commented on #1271
I am.

Opcode checking is harder than you think: https://gist.github.com/Arachnid/e8f0638dc9f5687ff8170a95c47eac1e#gistcomment-2662974

EVM has non-analyzable control-flow which makes accurate static analysis impossible. (WebAssembly is designed not to have this issue. There are proposals to break EVM to add this quality.)

[2018-12-19 04:49] postables commented on #1662
If your contract is 24KB or larger, your contract architecture needs a seriously big redesign

[2018-12-19 05:01] maxsam4 commented on #1662
Thank you for your feedback. That's a debatable point but I get why you think so.

Contract size increases due to multiple factors that don't really add to the complexity of the code. For example,
1) Reason strings take a hell lot of space.
2) Getter functions for ease of use of front-end devs or normal users take a lot of space.
3) Solidity 0.5.0 produces larger bytecode than solidity 0.4.24 for

[2018-12-19 08:40] nervehammer commented on #1662
i agree with @maxsam4, we at NexusMutual have complex logic that are split into multiple smaller contract. Have a look here: https://github.com/somish/NexusMutual/tree/token/contracts

[2018-12-19 14:28] angerborn opened #1663 "Questions (and suggestions) for EIP1577"
Hey, I have a few questions about EIP1577.

I think you'd be able to answer these questions quickly @Arachnid @decanus .

#### Is it correct to call the \<protocode varint>\<multihash> a multicodec?

Over at [multiformats/multicodec](https://github.com/multiformats/multicodec) it's specifically stated that:

Since EIP1577 links a special version of the table [here](https://github.com/ensdomains/mu

[2018-12-19 14:51] AFDudley commented on #865
The fact that no one has mentioned https://github.com/ethereum/EIPs/issues/28 in this thread is somewhat alarming. 🙂

[2018-12-19 14:52] vjune commented on #960
Anyone who knows how this proposal goes now? Regardless the value of ETH, I feel bad because of the challengers such as EOS and TRON whose structure, system & idea are a copy of ETHEREUM.

[2018-12-19 22:30] jamesray1 commented on #960
AIUI there will be a total supply cap in eth 2.0. `MAX_CASPER_VOTES` is 2^10=1024 per shard, the `MAX_DEPOSIT` is 2^5=32 ETH, and the shard count is also 2^10=1024. So by this the total supply cap is 2^15=32,768 ETH per shard and 2^25 in total = 33,554,432 ETH. However, I must be missing something, as the [total circulating supply at present is 103,895,066.69 ETH](https://etherscan.io/stat/supply)

[2018-12-20 11:30] tlxsam commented on #1634
@okwme, can you please provide your thoughts on the following statements for #1528
Not ERC-721 backwards compatibile
Limits the types of assets which can become re-fungible
Thanks

[2018-12-20 11:42] cbruguera commented on #1495
@AnuragHydro thanks for your reply. I guess my question is more about _control_ than "informativeness". More than depicting the relationships between different addresses, I'm trying to figure out how to implement a hierarchy (or other more complex settings) for EIN/DID _permissioning_. So, I'm guessing part of the permissioning structure for an identity would be dApp-specific and therefore be repr

[2018-12-20 14:34] PaulRBerg commented on #1620
Hey @jtremback, good stuff. Imho, standardisation is a very powerful tool: there would've been no ICO craze without ERC20.

For one, accounting software working with Ethereum may expect the function names defined in this spec when integrating continuous payments, ergo they could have a hard time working with different functions like `processBills`.

Excluding coordination benefits, I reckon that E

[2018-12-20 19:59] filips123 commented on #928
I created NPM package so this can be integrated into other applications. It is available on [filips123/EthAvatar.JS](https://github.com/filips123/EthAvatar.JS/). For more details see gitcoinco/ethavatar#17.

[2018-12-21 18:14] hamdiallam opened #1667 "ERC-1667 - Standardized Plasma MVP Proposal"
# ERC - Standardized Plasma MVP Proposal
---
eip: 1667
title: ERC 1667 Standardized Plasma MVP Smart Contract
author: Hamdi Allam <hallam@berkeley.edu>, Wesley Graham <wgraham@berkeley.edu>
status: Draft
type: Standards Track
category: ERC
created: 12-03-2018

### Reading
[Minimum Viable Plasma](https://ethresear.ch/t/minimal-viable-plasma/426)

### Reference Implementation
https://github.com/four

[2018-12-22 09:40] gakonst commented on #1667
I do not believe submitting multiple block roots in a single submitBlock call is safe. A miner colluding with an operator can potentially orphan multiple plasma blocks at the cost of 1 mainnet block if the reward of the attack in all blocks is greater than the mainnet block reward.

[2018-12-22 19:35] hamdiallam commented on #1667
Can you further elaborate on this vulnerability? If the plasma blocks where orphaned, then operator would have to re-commit those blocks. Additionally, none of the committed blocks are considered finals for the plasma users until the corresponding confirm signatures have been sent over. With an invalid commitment, users would exit their funds.

[2018-12-22 22:11] gakonst commented on #1667
N plasma blocks are committed simultaneously, all data is made available, confirmation sigs get exchanged, and thus all participants consider the transactions finalized.  At this point, you accept a payment and you give whatever product was involved.

Right after that, the operator/miner orphans the block, effectively cancelling the transactions. When they recommit, they skip the transactions they

[2018-12-22 22:24] rumkin opened #1668 "ERC-1668 - Root contract"
[code]

Today any account can create any contract and transfer tokens to anyone on blockchain. This is good for general blockchain but not for something special like corporate or community chain, which need to have more control. This suggestion provide description of the Root contract which is using to resolve permissions:

* who can transfer coins,
* who can create contract,
* which contract code

[2018-12-23 01:21] hamdiallam commented on #1667
A finality threshold should mitigate this issue. A confirm signature should not immediately be sent.

The batched `submitBlock` could be removed using large block sizes. However variable block sizes, batching smaller blocks together is beneficial, reducing the merkle proof size when exiting/challenging.

[2018-12-24 03:47] lsaether opened #1671 "Bonded Fungible Tokens"
# Bonded Fungible Tokens

[code]

## Simple Summary

A bonded fungible token is an ERC20 standard compliant token with a price and supply controlled by an automated market maker known as a [bonding curve](https://medium.com/@simondlr/tokens-2-0-curved-token-bonding-in-curation-markets-1764a2e0bee5).

The bonding curve is a smart contract which holds a `reserve` asset and increases or decreases the

[2018-12-27 08:42] bzzl commented on #1643
my confusion: why the **removeDocuments** have the same functionality with **setDocuments** ?

[2018-12-28 07:32] fulldecent commented on #1155
Hello! Congratulations on getting this far. Here is my review ERC-1155 at 38def77498d89ab761e1b5a0cb00e41138eb11ef. This is conceptual-level review based on a reading of the EIP text itself. I have not attempted to implement the specification nor have I reviewed or ran the example implementations. I hope to be able to do a more thorough review later. But, hey, why wait to get this out now.

# Moti

[2018-12-28 08:47] AC0DEM0NK3Y commented on #1155
Thanks @fulldecent that is great feedback. As mentioned via twitter we'll (or certainly I will be anyway) be looking at this very soon.

Where can you be contacted in private? It would be interesting to learn more of the unpublished work for eg. and perhaps loop you into a conversation channel.

[2018-12-28 08:58] PhABC commented on #1155
@fulldecent

Thank you for the in-depth commentary!

I agree that we could make the motivation section more application agnostic.

That shouldn't be a problem either.

Enjin's implementation seems to be up to date with current standard. Horizon's is not as of now, but will be tomorrow. I was initially intending on waiting for the EIP to be finalized to make the final edits, but i'm happy to make t

[2018-12-28 13:50] maxsam4 commented on #1445
I was thinking and writing about this over the holidays but more I wrote about the practical implementation of this and alternative solutions, more I realized that I am just contradicting my motivation. Now, I am not so sure if implementing this is a good Idea.

The practical implementation that I thought of was:
Maintaining a mapping of tx hash -> stack of tx dependent on it and dividing mempool

[2018-12-31 13:40] guix77 commented on #735
I like this proposal, but how could be map it exactly ?

I'd prefer it to be deterministic. Maybe we could convert the schema.org property from ASCII to integer and add necessary zeros on the left, in the UIs.

Example: 1st http://schema.org/Person property in the list = additionalName

Storing it from UI to BC
- _a_ = 097, _d_ = 100, _d_ = 100, _i_ 105, ...
- _additionalName_ = 097100100105116105

[2019-01-02 10:43] oed commented on #1671
The `function buy(uint256 tokens)` will make UX really bad. If two users tries to buy tokens in the same block with the correct amount of payment only the first tx will be valid. This makes the experience of buying tokens from the bonding curve really confusing since you txs are likely to fail frequently if there is high demand.
The way around this is to either send a larger payment than you expec

[2019-01-02 13:13] cbruguera commented on #1495
I'm still trying to wrap my head around the concept of a "Resolver" in the context of ERC1484... It was my understanding that these were smart contract addresses that were able to aggregate arbitrary data (or functionality) associated to an EIN, however, in the ERC1484 proposal and reference implementation `resolvers` is just an array of addresses. There's no mnemonic indexation or discoverability

[2019-01-02 17:42] NoahHydro commented on #1495
Hey @cbruguera, great questions. Some comments:

That is correct! This is the most neutral position we were able to come up with. From the point of view of 1484, all associated addresses are equal.

One way to implement further permissioning on top of the associated addresses would certainly be at the provider layer, as you suggested. This could mean that a provider maintains specific permission s

[2019-01-02 19:52] NoahHydro commented on #1495
FYI for all:

The [latest ERC-1484 implementation](https://github.com/hydrogen-dev/ERC-1484) received [perfect marks on 3 community audits](https://github.com/EthereumCommonwealth/Auditing/issues/113#issuecomment-450862554). Barring any catastrophic events, we will be deploying the canonical registry contracts shortly.

Final comments on the implementation should be made now.

[2019-01-02 20:18] NoahHydro commented on #1495
Also, I'd love some help in [figuring out why the current ERC-1484 implementation doesn't verify on Etherscan](https://www.reddit.com/r/ethdev/comments/abx5th/unable_to_verify_etherscan_contract/)!

[2019-01-03 06:35] maxsam4 commented on #1662
Yep, that is one way to do it but it's not optimal because of limitations like:
1) It adds extra unnecessary code.
2) Adds another attack vector.
3) Makes intra contract calls more expensive.
4) Makes it harder for non tech-savvy users to interact with it. Like it or not but most people can barely use the read/write feature in etherscan, they can't load a custom ABI and make web3 calls.
5) Makes i

[2019-01-03 08:38] cbruguera commented on #1495
@NoahHydro Thanks for your reply. I still think there's a functional gap in the idea of resolvers. The way you describe it (and as it's presently implemented) it looks like the assumption is being made that applications will know the resolver addresses beforehand from which they might be able to obtain the corresponding EIN of an identity and handle it internally as desired. The use case I have in

[2019-01-03 08:56] 0xjac commented on #820
@fulldecent apparently not... Maybe everything was said during the previous last calls.

In any case, since there are no changes and the last call period has ended. I would like to move ERC820 to Final. Please see #1677.

[2019-01-03 16:14] NoahHydro commented on #1495
@cbruguera just sent you a message in the [ERC 1484 telegram](https://t.me/erc1484)! If we work something out there or in DMs that's of general relevance, I'll post a full recap here and in telegram.

[2019-01-03 18:21] NoahZinsmeister commented on #1495
FYI for all:

The [latest ERC-1484 implementation](https://github.com/hydrogen-dev/ERC-1484) received [perfect marks on 3 community audits](https://github.com/EthereumCommonwealth/Auditing/issues/113#issuecomment-450862554).

Barring the uncovering of any significant security or design flaws, we plan to mark the [current deployments](https://github.com/hydrogen-dev/ERC-1484#contract-deployments) a

[2019-01-03 18:35] adamdossa commented on #1643
@bzzl - thanks - that was a typo - I've updated the description now.

[2019-01-04 01:41] pazams commented on #1271
Hey, we at [cryptokitties.co](https://www.cryptokitties.co/) would also like to see this problem solved.

We wrote up an alternate solution (https://github.com/ethereum/EIPs/issues/1654) that piggybacks on [ERC-725](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-725.md) before we realized that this proposal was already in the works.

We would like to outline why we think there is still some

[2019-01-05 11:16] LendWarrior commented on #1651
"However, a smart contract is not a legally binding contract" I would see that whether agreement is binding or not depends on the agreement between the parties. Parties can choose to use smart contracts to full-fill obligations of their agreements, just like they can choose to use an online platform to invest in crowdfunding or any other functions they want to achieve by agreeing into such. Most o

[2019-01-07 11:23] angerborn commented on #1663
I'm closing this as apparently there are planned changes to the EIP currently.

https://github.com/MetaMask/metamask-extension/issues/5742#issuecomment-449456468

[2019-01-07 11:23] #1663 closed

[2019-01-07 14:53] awaldstein commented on #1155
Hi--
My focus is on Reimagining Philanthropy with NFTs.

Was a team leader on the Honu the CryptoKitty Charity Auction project with CryptoKitties and Bill Tai of Actai Global and Sir Richard Branson's team at Ocean Elders.

Putting together a presentation for NFT.NYC and exploring how 1155 can become an added building block to create a future for this.

Looking for projects, ideas, visionaries who

[2019-01-07 14:54] awaldstein commented on #998
Hi--
My focus is on Reimagining Philanthropy with NFTs.

Was a team leader on the Honu the CryptoKitty Charity Auction project with CryptoKitties and Bill Tai of Actai Global and Sir Richard Branson's team at Ocean Elders.

Putting together a presentation for NFT.NYC and exploring how 998 can become an added building block to create a future for this.

Looking for projects, ideas, visionaries who

[2019-01-07 15:22] PhABC commented on #1654
Thanks for putting this together!

Quick question: How does the function `keyHasPurpose` allow for passing a multi-sig in one-go? Also, this methods assumes that keys are pre-registered on the wallet contract, correct?

Also, how does one check whether a given signature is valid for a given key?

Do you first  recover the signer via ECDSA method and then call `walletContract.keyHasPurpose(signer,

[2019-01-07 16:06] amiromayer commented on #1538
I solved this issue of dependant functions between different delegate contracts by creating a signature of the functionX that needs to be called in the **contract2**. So you just need to declare the function with the same signature as needs to be called from another contract without its implementation. Lets say the implementation of that function is in **contract1**. The transparent contract will

[2019-01-07 19:03] okwme commented on #1634
Hi @tlxsam,

My apologies, it appeared to me that your EIP combined ERC-721 and ERC-20 into one contract. I see now you were just re-writing much of the ERC-721 Standard right before re-writing much of the ERC-20 Standard, not suggesting they should be combined. I think it was the third section of management functions made me believe they were all meant to be in one contract.

After reviewing it a

[2019-01-07 20:17] mudgen commented on #1538
@Amxx good point about the tuples.

@amiromayer I think the wrapper contract for transparent contracts is a useful enough to add to the standard as a possible strategy for handling the use case you gave. Great idea.

[2019-01-08 03:11] wilfred-centrality commented on #780
Given a claim can now only be removed by the issuer, what is the need for the `address issuer` parameter on the `removeClaim` method?

[2019-01-08 09:37] GriffGreen commented on #1671
I wonder if there is value in using #777 as a base... the operator functionality could be very useful.

[2019-01-08 15:56] eddwardo commented on #960
What is the status of this EIP?

[2019-01-08 15:57] Kisgus opened #1683 "URLs with asset and onboarding functionality"
## URLs with asset and onboarding functionality

---
eip: **to be assigned**
title: URLs with asset and onboarding functionality
author:  [Gustav Friis](https://twitter.com/Gustav_tech) & [Mikhail Dobrokhvalov](https://twitter.com/dobrokhvalov)
discussions-to: [Ethereum Magicians UX post](https://ethereum-magicians.org/t/linkdrops-an-open-source-standard-for-invite-digital-asset-links-on-ethereum-

[2019-01-08 21:54] thorvald commented on #820
I was trying to use this with Solidity 0.5, and discovered what may be an incompatibility between the EIP165-compatible code here and the new Solidity compiler.
It looks like the new solidity compiler *enforces* padding of call arguments, so a test-compile of e.g. TestERC165.sol results in code for supportsInterface(bytes4 interfaceID) which checks lt(sub(calldatasize,0x4),0x20) or reverts. The pr

[2019-01-09 01:30] xiaods commented on #1442
i suggest provide a interactive rest api page .  it my proposal.

[2019-01-09 09:56] fulldecent commented on #1155
I notice that the ENJIN team is pushing press releases to promote Enjin blockchain explorer. It is comparing ERC-1155 versus "legacy" ERC-721. Here is one such press release published on PR Newswire, ostensibly by the Enjin team.

In contrast, ERC-1155 does not designate 721 as deprecated and does not state that 721 replaces 721. And it does explicitly state deficiencies of 1155 against 721 which

[2019-01-09 10:06] fulldecent commented on #820
ABORT.

Confirming that we should update this.

[2019-01-09 10:30] cbruguera commented on #85
[off-topic] Hey @christianlundkvist was there anything done to continue that work on HD derivation for personas/identities on Ethereum? Or is there anywhere else this was (or is) being discussed or detailed? Sounds like an interesting idea to me.

[2019-01-09 14:32] pkieltyka commented on #1155
yes, I agree with @fulldecent that the narrative of 721 as "legacy" is incorrect and overstated. 1155 is great, and we've come up against the same design needs in our projects, but I still see NFT-only utility in 721 for the distant future

[2019-01-09 14:37] mudgen commented on #1538
Two new sections have been added to the standard to address points made by @satyamakgec and @amiromayer.

The sections are:
Wrapper Contract for Delegate Contracts that Depend on Other Delegate Contracts

And:

Removing Functions

[2019-01-09 21:16] coinfork commented on #1155
Thank you very much for the feedback! We went over all the points mentioned above and updated the descriptions to be more thorough, added a Rationale section, and the majority of your suggestions are resolved.

I have updated the EIP status to Draft again to allow for a (hopefully) final review! :)

[2019-01-09 23:20] PhABC commented on #1155
@fulldecent

Where do you see a mention of ERC-721 as being legacy standard or dead in the EIP? I don't see any mention of the Enjin blockchain explorer either.

If you are referring to Enjin's press releases content and not this EIP per say, I believe it would be more appropriate to argue these points outside this thread.

[2019-01-10 19:43] pazams commented on #1654
@PhABC thanks for these questions!

Correct. For an authentication flow, we have to first recover the signer in any case since we want to first validate in case of an external wallet. If that doesn't match, we can check under assumption of a contract wallet, which then we can already use the recover result from previous step.

Yes, this proposal assumes keys are pre-registered. It be may done with

[2019-01-10 21:05] bmann commented on #1535
I'm taking this on and will be filing some PR to create a number of feeds.

[2019-01-10 22:10] bmann opened #1688 "Improve feeds available from the EIPs website"
I filed a PR #1687 to fix the Last Call feed.

I'm now proposing a few other changes to feeds for the EIPs website.

Please add suggestions & feedback here, and I will reference it when I do a pull request.

The EIPs site uses the jekyll static site builder, so some of the language I am going to use is jekyll specific. Because EIPs are implemented as Pages rather than Posts, it makes a whole bunch

[2019-01-11 01:17] MicahZoltu commented on #777
@jbaylina @0xjac @tshabs Can one of you move this to Last Call?

[2019-01-11 02:47] fulldecent commented on #1688
The last call review end date is only relevant when in last call status. And this is already documented in EIP-1. If people are not using it then that’s their error.

As a test case can you please ensure that an EIP will show up in your RSS last feed AS A NEW FEED ITEM if the last call date is changed?

The current issue is that something can enter last call, then exit and then go through the enti

[2019-01-11 02:47] fulldecent commented on #1688
Thank you for taking this on

[2019-01-11 11:30] Felix-Franz opened #1690 "ERC-1690 - Mortability Standard"
# ERC-1690 - Mortability Standard

* eip: 1690
* title: ERC-1690 - Mortability Standard
* author: @Felix-Franz
* status: Draft
* type: Standards Track
* category: ERC
* created: 2019-01-11
* requires: [EIP-173 Contract Ownership Standard](https://eips.ethereum.org/EIPS/eip-173)

## Abstract

A standard that allows the owner of a contract to completely remove it.

## Motivation

If someone wants to

[2019-01-11 12:11] tshabs commented on #777
@MicahZoltu @0xjac has a couple of last things to change and is currently struggling with poor internet connectivity.  He's back on Sunday so this should all be sorted within around 1 week.

[2019-01-11 19:39] bmann commented on #1535
Let's discuss this specific issue here, moving from #1687

From @fulldecent

Looking at [EIP-1], I see ```review-period-end``` is the suggested metadata. Searching the repo, this looks like it's only been used [3 times](https://github.com/ethereum/EIPs/search?q=review-period-end&type=Commits) .... uh, and then only to document it?

The new feed item is a tricky one, as the RSS spec is notoriously

[2019-01-11 20:10] #1535 closed

[2019-01-13 12:51] fulldecent commented on #1155
@AC0DEM0NK3Y Thank you for the invitation. Please reach me at entriken@phor.net, we can catch up from there.

[2019-01-14 11:12] itinance commented on #1643
I would suggest to not shrink the name to 32 bytes. Especially in terms of legal entities there might by much longer document titles that could crash with other titles when only 32 characters are left.
Therefore i would suggest to use **string**.

Furthermore, if we would work with a document registry, while each document gets its own UUID (which could be represented by bytes16), any reference to

[2019-01-14 12:41] jakub-wojciechowski commented on #780
Hi @wilfred-centrality, I've got a similar impression that the issuer address is just a leftover after the recent refactor and I've removed it from my implementation.

I'm also curious what do you (@oed, @machinae, @dwking2000) think about the simplest way of attesting/validating claims by issuing a claim with exactly the same data. I prefer that option to one, with referencing the original claim

[2019-01-14 13:45] oed commented on #780
Hey @jakub-wojciechowski and everyone else on the thread. I'm no longer active with this ERC since I left uport, and it seems like it's not on their priority list either. Sorry about that.
If you or anyone else would like to champion this ERC please let me know!

[2019-01-14 14:23] Agusx1211 commented on #820
@fulldecent It's talking about this bug https://github.com/ethereum/EIPs/pull/1640

In short, the Solidity >= 5 compiler forces all methods to validate that the input is valid (4 bytes + N Parameters * 32 bytes).

[code]
That call would never make a success when interacting with a contract compiled with Solidity >= 5, because there is no way of declaring a method that accepts an input of 8 bytes.

[2019-01-14 16:59] PhABC commented on #1654
I think this is fine for some use cases, but it's a bit less general than 1271 since it prevents other types of signatures schemes than ECDSA.

That makes sense! Yes, I think a guideline for off-chain processes like the one you are proposing can be very useful. Would you mind commenting on #1271 with your thoughts? I would like to see it being finalized pretty soon as it's relatively simple, but n

[2019-01-14 20:06] miller46 commented on #1671
I have a few thoughts on the spec:

1) The buy function should not accept the # of tokens as a parameter. The number of tokens purchased should be determined by the amount of ether sent in the transaction and the current buy price, i.e. set by the msg.sender value inside the buy function and the current price at the time of execution. This will solve @oed 's objection

2) There should be two funct

[2019-01-15 07:41] mrdavey commented on #1671
I agree with the previous comments. Some other things to consider:

- Similar to Bancor, the buy/sell function should have a 'maxSlippage' parameter which can revert a buy/sell during front running attacks or if the price slips too far from what the user wants. This also helps resolve @oed 's point.
 - Consider a 'sweep' function, where any remaining reserveAsset can be transferred to a different

[2019-01-15 12:04] wighawag commented on #1654
Hey, I just published an article on "automatic authentication signatures"
This would allow the scheme you describe here to be performed securely without user input (no signing popup):
 https://medium.com/@wighawag/automatic-authentication-signatures-for-web3-dcbcbc64d6b5

I guess this could be part of a different EIP but thought worth mentioning here.

[2019-01-15 14:52] fulldecent opened #1698 "EIP-1014 failed to go through the workflow"
[EIP-1014](https://eips.ethereum.org/EIPS/eip-1014) is currently listed as draft status, however according to announcement from @Souptacular at https://blog.ethereum.org/2019/01/11/ethereum-constantinople-upgrade-announcement/ the latest EF version of clients will support this hard fork on block 7,080,000.

@vbuterin please use the EIP workflow process outlined in EIP-1.

[2019-01-15 14:55] fulldecent opened #1699 "EIP-1052 failed to go through the workflow"
[EIP-1052](https://eips.ethereum.org/EIPS/eip-1052) is currently listed as draft status, however according to announcement from @Souptacular at https://blog.ethereum.org/2019/01/11/ethereum-constantinople-upgrade-announcement/ the latest EF version of clients will support this hard fork on block 7,080,000.

@Arachnid @chfast please use the EIP workflow process outlined in EIP-1.

[2019-01-15 15:12] axic commented on #1699
These are addressed in #1689 (and #1642 to be merged after the hardfork goes live).

[2019-01-15 15:12] axic commented on #1698
These are addressed in #1689 (and #1642 to be merged after the hardfork goes live).

[2019-01-15 15:43] fulldecent commented on #1698
Thank you for the reference. I request please that in future, project managers will promote to LAST CALL and then ACCEPTED status /before/ an EIP will be announced as part of a hard fork.

[2019-01-15 15:44] fulldecent commented on #1699
Thank you for the reference. I request please that in future, project managers will promote to LAST CALL and then ACCEPTED status /before/ an EIP will be announced as part of a hard fork.

[2019-01-15 15:48] tina1998612 opened #1700 "ERC1700: Non-Exhaustible Token"
## Preamble
    EIP: <to be assigned>
    Title: Non-Exhaustible Token Standard (NET)
    Author: Lee Ting-Ting <tleeae@connect.ust.hk>, Hu Yao-Chieh <yhuag@connect.ust.hk>
    Type: Standard
    Category: ERC
    Status: Draft
    Created: 2019-01-15
## Simple Summary
Non-Exhaustible Token (NET)
  - Each NET can have non-exhaustible copies
  - Specify a pool of NET for copy creation

### Solidity

[2019-01-15 22:42] lsaether commented on #1671
Thanks for the comments! It's good to see more people here :)

@GriffGreen

I have thought about this! One point this brings up is whether the bonding curve should be separate from the token. That is, should a bonded fungible token be permanently bonded, or can it be unbonded? If it was ERC777 operator then it would be imply that one could remove the operator and "unbond" the token.

@miller46 @oe

[2019-01-16 06:31] yhuag commented on #1700
Two press releases and articles can be found here (Mandarin):
- BlockTempo: [宅力爆表，一個台灣團隊將「制服女孩」製作成獨特的卡牌代幣上鏈收藏](https://www.blocktempo.com/cryptobeauty-use-nft-help-girls-launch-unique-virtual-cards/#)
- Medium: [表特區塊鏈的宅經濟：少女卡片創作交易平台「 你的女孩，一鍵擁有」(上)](https://medium.com/p/c7b239cc8442)

[2019-01-16 08:17] flamingYawn commented on #1700
Wait, so what's the use case?

[2019-01-16 09:04] tina1998612 commented on #1700
@flamingYawn yeah exactly:) The duplicates are non-fungible and the ownership is transferrable just like ERC721.
The use case would be having different rarity and different issuance number for the same card for collection purposes.

[2019-01-16 09:17] oed commented on #1671
@lsaether Yeah, that's a fair point and I'm unsure how to best solve it. The reason I'm very opinionated in this is that I've implemented it in the way you are suggested and played around with it in a UI that allowed you to specify the # tokens you buy. It happened frequently that two people would buy some tokens in the same block and for one of the users the tx would fail. This is really bad UX a

[2019-01-16 14:55] MichalZalecki commented on #1410
@adamdossa Spec says `isOperatorFor` but interface is `isOperator`.

[2019-01-16 15:38] gauthierpetetin commented on #1411
Hi all,
Here's a public repo we've created to share an ERC1400 implementation we've developed at ConsenSys:
https://github.com/ConsenSys/ERC1400

[2019-01-16 22:47] pazams commented on #1271
Following a discussion with @PhABC at https://github.com/ethereum/EIPs/issues/1654, we'd like to pivot 1654 to be based on this EIP-1271 proposal instead of EIP-725.

Even though initially we thought 725 might be simpler as a base for off-chain authentication, we do come to appreciate the flexibility of 1271.
We see the flexibility to support multi-sig wallets as an important feature.

[2019-01-17 22:30] PhABC commented on #1271
Hey all, I would like to push this simple EIP forward and it seems like the only thing still in the air is supporting one or both `isValidSignature(bytes32, bytes)` and `isValidSignature(bytes, bytes)`.

Wallets that do not have conditions will probably want to implement the `(bytes32,bytes)` function, but more complex wallets might want to verify the information themselves via the `(bytes, bytes)

[2019-01-17 23:00] pazams commented on #1271
You mean `returns (bytes4 magicValue)` right?

[2019-01-18 00:33] xiaods commented on #1442
@vs77bb  for api documentation, the best represent way is API site, could you please confirm what you want? the EIP is not suite for json-rpc api design.

[2019-01-18 04:33] DemiMarie opened #1708 "Document status of EIP-999"
What is the status of EIP-999?  It seems like it won’t be included in the next hard fork.  Is it likely to be merged or not?

[2019-01-18 08:41] ramanacv commented on #780
Basic Question : Is this proposal (and discussion thread) the same as **contract EthereumDIDRegistry {}** that is currently in use by uport project code ?

[2019-01-18 08:49] oed commented on #780
@ramanacv no that's a separate ERC (1056)

[2019-01-18 09:02] EnchanterIO opened #1711 "EIP-155 Eth compatible networks must have different Chain IDs right?"
I would like to ask for clarification to be sure I understand the topic correctly.

Going through https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md any Ethereum compatible network, using the same hashing and encryption strategy but on a different chain MUST ENSURE a unique Chain ID different to the list above in order to prevent a replay-attack.

Is my understanding correct? If yes, is

[2019-01-18 09:41] Amxx commented on #725
When looking at the various implementation of ERC725, I saw 2 opposing visions:

- For some, the translation of an ethereum address into a key is a simple cast `key = bytes32(uint256(msg.sender))`
- For others, the translation uses a hash `key = keccak256(abi.encodePacked(msg.sender))`

I believe the second option has the added benefit of protecting the key holder's identity ... but other people m

[2019-01-21 01:39] hirosciutto commented on #1538
Should I include the ”modifier” in signature in the same format as functions?

[2019-01-21 05:04] alsco77 commented on #820
Now that the EIP has been updated to `Final` - is the Registry address provided on https://github.com/jbaylina/ERC820 locked in to be the final registry? Or are there still outstanding changes awaiting deployment?

[2019-01-21 16:30] Austin-Williams commented on #777
@jbaylina @0xjac @tshabs  Just wanted to bump this. Can we move this to Last Call?

[2019-01-21 20:55] 5chdn commented on #1699
addressed in #1689 and #1642 - will not happen again

[2019-01-22 00:31] #1440 closed

[2019-01-22 08:50] 5chdn commented on #1699
1052 is final, it cannot be modified anymore.

[2019-01-22 17:45] abandeali1 commented on #1271
I agree with supporting both and leaving it to the dapp/user to decide which to use.

Always returning something seems easier to develop with.

Another question: should these functions be allowed to update state? (i.e should they always be called via a `staticcall`?)

[2019-01-22 20:15] vkli commented on #960
Q: Who will mine the blocks after reaching 0?

A: Holochain (p2p/scalable vs. PoW/PoS/blockchain distributed computing system, like https://holochain.org)

[2019-01-22 22:06] PhABC commented on #1271
@abandeali1 I've been pondering this question quite a bit and can't really make up my mind.

What use cases do you have to allow state modification? My fear is now that implementing `isValidSignature()` will require re-entrancy protection for all contracts calling it, among other things.

Allowing for state change is a lot more consistent with signatures allowing actions however, where the signer

[2019-01-23 18:40] miller46 commented on #1671
I just think specs should contain the bare minimum that is required. There are a number of ways this could be implemented based on the use case. I just don't think this is so critical to the definition of a bonding curve that it must be hardcoded in to the spec for every implementation.

Alternative ways to solve the slippage issue would be have the user optionally set some `maxSlippage` value lik

[2019-01-23 18:49] tbocek commented on #865
There is a signature malleability issue in the full implemention mentioned on top, see https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1622

[2019-01-23 21:53] abandeali1 commented on #1271
I can think of a few use cases for allowing state changes. As you mentioned, transaction limits are a good example.

It's also not obvious if replay protection should be implemented in the signature verifier or the calling contract (the current assumption is that the calling contract will do this, but I could see verifiers wanting some extra level of protection).

Generally, having a signature tha

[2019-01-24 16:58] PhABC commented on #1271
I do start imagining a lot of scenarios where allowing state changes could be interesting. Perhaps it's also a good habit that everyone assumes re-entrancy risk instead of believing it to be not possible.

@izqui What do you think of not enforcing `STATICALL` in the standard, such that the `isValidSignature()` is allowed to update state as well?

[2019-01-25 17:54] bmann commented on #1711
We are maintaining https://chainid.network as a resource where networks can add their information.

[2019-01-25 19:15] zac-williamson opened #1723 "ERC: Cryptography Engine Standard"
[code]

# Cryptography Engine Standard

## Simple Summary

This EIP defines the interface and behaviours of a zero-knowledge proof validation engine, supporting multiple compatible types of zero-knowledge proof. The Cryptography Engine enables developers to construct customized transaction semantics for confidential digital digital assets.

## Abstract

This standard defines a mechanism by which m

[2019-01-25 19:26] zac-williamson opened #1724 "zkERC20: Confidential Token Standard"
[code]

## Simple Summary

This EIP defines the standard interface and behaviours of a confidential token contract, where ownership values and the values of transfers are encrypted.

## Abstract

This standard defines a way of interacting with a **confidential** token contract. Confidential tokens do not have traditional balances - value is represented by **notes**, which are composed of a public

[2019-01-25 23:43] bmann commented on #1699
@5chdn it can't be amended? What's the process for superseding it or amending it? A new EIP?

[2019-01-26 02:51] dete commented on #1271
Thanks @PhABC for pushing this forward!

You’ll have to forgive me for jumping in late. However, I do think there’s a way to find a single entry-point that handles everyone.

I’m pretty sure that in all cases, we can think of the interaction we're trying to mediate as happening between three entities:
 - A human user (off-chain)
 - A service (on- or off-chain)
 - A smart contract wallet (on-chain)

[2019-01-26 14:36] sohkai commented on #1271
If we're allowing the user/dapp to decide which implementation to use, it also seems like this could be something they choose as well? If they know verification doesn't need to modify state, they could call through a `STATIC_CALL`, or alternatively another interface whose name explicitly expresses state-modifiability could be deemed optional (perhaps this is better with `0.5`'s enforcement of `STA

[2019-01-27 13:57] aapeliv commented on #1411
@adamdossa Interesting! This is very good stuff! I feel it'd make sense to have a `isControllableByPartition` to mark certain partitions (tranches) as controllable and others as not? I think it'd really help the standard to have more of this type of flexibility and granularity, which surely comes up in certain use cases.

[2019-01-27 19:13] Roger-Wu opened #1726 "ERC-1726: Dividend-Paying Token Standard"
[code]

## Simple Summary

A standard interface for dividend-paying tokens.

## Abstract

The following standard allows for the implementation of a standard API for dividend-paying tokens within smart contracts.
This standard provides basic functionality to allow anyone to pay and distribute ether to all token holders.
A token holder can then view or withdraw the ether distributed to them from the

[2019-01-27 19:53] 5chdn commented on #1699
Exactly.

[2019-01-27 22:44] bmann commented on #1699
@5chdn a new EIP which has a classification of “Supersedes”? Are there existing examples of this you can point me at?

[2019-01-28 06:00] dmihal commented on #1594
Is there consensus on whether `canTransfer`/`canTransferFrom` should include a bool as a return parameter?

The boolean is included in the "Interface" section of this document, but omitted in the "canTransfer / canTransferFrom" section.

[2019-01-28 10:46] 5chdn commented on #1699
EIP #98 versus #658 (Parity implements both and uses 98 on Kovan but 658 on Mainnet)

EIP #1087 versus #1283 versus #1706

[2019-01-28 12:07] xiaods commented on #1442
update api docs: https://xiaods.github.io/Ethereum-api-docs/#introduction

[2019-01-28 21:41] benzap commented on #1538
@mudgen Hello!

I was wondering if you or anyone implementing this EIP have run into issues with byte conversions involving the function signatures when using the latest version of solidity (0.5.0+)?

Solidity added quite a few more restrictions, and i've noted that some of the contracts that i've been developing required a new approach when implementing.

I ask because i'm interested in attemptin

[2019-01-29 09:37] ligi commented on #1724
nice! Just a nit - there is a missing closing (or one too many opening) bracket in this:

[2019-01-29 10:54] mudgen commented on #1538
Hi @benzap!

I have yet to use solidity 0.5.0. If you come across any interesting/useful issues then please let us know.

[2019-01-29 13:07] davidp94 commented on #1724
Nice job!

Could there be multiple crytographic engine to achieve "zk" ERC20?

If so, I would not name it zkERC20 - as we have a `aztecCryptographyEngine` interface.

[2019-01-29 14:46] markusj1201 commented on #1538
Not as of yet. I am going to attempt to implement a smart contract today.
(Solidity 0.5.0 today)

Markus @HLife88

On Tue, Jan 29, 2019 at 4:55 AM Nick Mudge <notifications@github.com> wrote:

[2019-01-29 16:29] markusj1201 commented on #1724
Name suggestions?

On Tue, Jan 29, 2019 at 7:07 AM David Phan <notifications@github.com> wrote:

[2019-01-29 17:03] catageek commented on #1271
Hi,

I agree with @PhABC as passing only the signature hash is sufficient to manage the signature life cycle but not any potential additional action.

For the ability to change the state, a warning about the possibility of reentrancy attack and the necessity to put some protection against it would not change present state of art. Alternatively, developpers can set "view" keyword on per use case, w

[2019-01-29 17:34] zac-williamson commented on #1724
Thanks for spotting that! Fixed.

[2019-01-29 17:44] markusj1201 commented on #1724
Thanks guys!

On Tue, Jan 29, 2019 at 11:35 AM Zachary James Williamson <
notifications@github.com> wrote:

[2019-01-29 18:20] maxsam4 commented on #1538
Use the below function to extract bytes4 signature from bytes data
[code]

[2019-01-29 19:26] PhABC commented on #1530
Closing this as I don't think standardizing this is currently relevant considering most upgradable contract relay on delegate call methods.

If anyone is interested in taking this forward, please free to reply and I can re-open it.

[2019-01-29 19:26] #1530 closed

[2019-01-29 19:31] PhABC commented on #1610
While I understand the motivation, how would you prevent the following scenario:

- I have a transaction that costs 4m gas.
- The limit per transaction is now 500k instead of 8m (block gas limit).
- Instead of sending 1 transaction for 4m gas, I write my contract such that I send 8 transaction at 500k gas each.

In this scenario, everybody loses (except miners), because I end up spending more gas

[2019-01-29 21:09] ptrwtts commented on #865
Hi @RobertMCForster, thanks for sharing your solution.

What are your thoughts on what @tbocek proposed, where you only allow 27/28 signatures, and force clients to use them: https://github.com/tbocek/openzeppelin-solidity/commit/dc168f3bf6608cdbc3f51f2dda4560815afd482c

With this, it should still be safe to use the signature for uniqueness. One advantage is that you don't need to use incrementing

[2019-01-29 22:38] RobertMCForster commented on #865
@ptrwtts , @tbocek 's solution is still vulnerable to signature malleability.

I actually missed that his post didn't mention the other, more traditional, malleability vulnerability that also comes from this method of using signatures as unique identifiers.

The problem is that with ECDSA each signature has an inverse that will also recover correctly.

Per Vitalik:

That quote is taken from the Ho

[2019-01-30 00:14] fubuloubu commented on #1724
Why do `LogCreateConfidentialNote` and `LogDestroyConfidentialNote` both start with `Log`? Can `Log` be removed?

[2019-01-30 00:17] ligi commented on #1724
zkatERC20

[2019-01-30 00:21] aimanbaharum commented on #1724
ZERC20

[2019-01-30 02:15] lgalabru commented on #865
@RobertMCForster @tbocek @ptrwtts  thank you guys for the heads up!
What's your take on the edit?

[2019-01-30 12:01] LogvinovLeon commented on #838
## Current situation

This EIP was created on 20.01.2018 and last edited on 23.01.2018. Solidity since released [revert reasons](https://github.com/ethereum/solidity/pull/3364) in `v0.4.22` on the 17.04.2018 and people love them. Currently, the assumption is that every error has the implicit ABI `Error(string)`. And it's parameters gets encoded in the same way as function call arguments using ABI

[2019-01-30 12:35] adamdossa commented on #1723
Great to see you standardising this and making great progress in the corresponding Aztec protocol!

Couple of thoughts / questions:

1. If `_proofType` always maps to whether or not a `_proofType` is of a balancing relationship(s) or not, I’m wondering why this needs to be stored on chain (i.e. the mapping from `_proofType` to `_isBalanced`)? Did you have a use-case for this in mind (i.e. where a

[2019-01-30 12:51] adamdossa commented on #1724
re. starting events with Log - IIRC this was the advice previously to distinguish function calls from emitting events. Now that we have the `emit` keyword I don’t really think this is necessary anymore.

Changing `aztecCryptographyEngine` to just `cryptographyEngine` would make the standard a little more general.

Some questions / thoughts:

1. `function publicToken()` implies that this will alway

[2019-01-30 12:52] adamdossa commented on #1411
Some interesting proposals from the Aztec team on confidential transfers at:
https://github.com/ethereum/EIPs/issues/1723
https://github.com/ethereum/EIPs/issues/1724

[2019-01-30 13:34] PaulRBerg commented on #1724
Yes, there could be multiple methodologies (cryptography engines) validating the zero-knowledge-ness of the token standards, that is, zkSNARKs or Bulletproofs. This is why we'd keep `zkERC20`.

Regarding the `Log` prefix, we followed the ConsenSys [smart contract best practices](https://consensys.github.io/smart-contract-best-practices/recommendations/#differentiate-functions-and-events). Keeping

[2019-01-30 13:45] adamdossa commented on #1724
It's a very minor point, but for the `Log...` events, the Consensys best practices only applies to Solidity versions earlier than 0.4.21 as I read it (before emit was introduced):
"Differentiate functions and events (Solidity < 0.4.21)"

Obviously standards don't really include a Solidity version, so a bit of grey area.

[2019-01-30 14:15] fubuloubu commented on #1724
cc @maurelian ^

[2019-01-30 15:01] maurelian commented on #1724
Ya, the “emit” keyword makes the Log prefix unnecessary, thanks for the ping @fubuloubu

[2019-01-30 18:13] #1502 closed

[2019-01-30 18:14] #1522 closed

[2019-01-31 10:18] zac-williamson commented on #1724
Hi HarryR,

You're right that the language of the EIP leans heavily on AZTEC - we used AZTEC's zero-knowledge proof system as the scaffolding around which to construct this EIP, but the proposal is actually quite general and can accomodate implementations that use a variety of zero-knowledge technologies. Any zk-proof system that can validate 'join-split' style transfers involving zero-knowledge n

[2019-01-31 12:50] tbocek commented on #865
@RobertMCForster my solution is not vulnerable to signature malleability. The [spec](https://ethereum.github.io/yellowpaper/paper.pdf) says in Appendix F, that s is only valid with values 0< s <secp256k1n÷2 + 1 (281). Maybe are referring to an old version. The spec also says that only 27/28 is allowed (282). In [EIP-2](https://eips.ethereum.org/EIPS/eip-2) chapter specification, point 2, they did

[2019-01-31 12:57] tbocek commented on #865
@ptrwtts I think the nonce adds little value to the security. Or maybe I missed the reason why this nonce is important in the current implementation.

[2019-01-31 13:36] banteg commented on #1724
consider changing the name to something like `zk-note`, it would reflect how it works much better and would remove unnecessary confusion about compatibility with erc-20. it's a very different interface and it deserves a distinct name.

[2019-01-31 17:32] RobertMCForster commented on #865
@tbocek The fixes you're referring to were only applied on the Ethereum network itself, not the ecrecover pre-compiled contract.

From that EIP-2 link:

To test it yourself, sign some data, take the s value, flip it with this: `s2 = 0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFEBAAEDCE6AF48A03BBFD25E8CD0364141 - s1;`, then flip the v from 27 -> 28 or vice versa. You'll see that both signatures recover correct

[2019-01-31 17:35] AusIV commented on #865
I believe that in the current implementation, the nonce simply allows you to send the same quantity of the same token to the same recipient multiple times. Absent the nonce, you would have the same message and produce the same signature.

[2019-01-31 17:48] RobertMCForster commented on #865
@AusIV How would it allow this? The contract requires the hashedTx has not been used then declares it used. If the nonce is the same twice the transaction will revert on `require(hashedTxs[hashedTx] == false);`

[2019-01-31 18:34] tbocek commented on #865
@RobertMCForster you are right. Thanks for clarification!

[2019-01-31 19:20] tbocek commented on #865
@RobertMCForster What was your solution. Did you normalize the signature, something like:

[code]
Then it can be check for the normalizedSignature, which is unique.

[2019-01-31 21:04] coinfork commented on #1155
@ericbinet has put some good work into a scoped approval extension to the standard. After working on some implementations, we realized that global ApprovalForAll was too open for typical usage. This extension aims to provide a flexible way to approve different scopes of token IDs.

I've merged the changes and updated the standard at the top of this thread. We would love to hear any further feedbac

[2019-01-31 21:36] fulldecent commented on #1155
ERCs are standards. So I am more interested to hear about actual applications that have been deployed, on mainnet, which have real uses cases.

"... we realized that global ApprovalForAll" is a great realization for deploying your own application.

But the standard should be supporting actual, concrete use cases.

[2019-02-01 00:06] AC0DEM0NK3Y commented on #1155
I don't know if github is really the place to be discussing standards philosophy in terms of use cases but since it was brought up I will at least say that I do not personally agree that a standard has to cover just a fixed set of known quantity use cases and that is that.

Personally I want a standard to be able to take care of known use cases at the current time and possible use cases in the fut

[2019-02-01 12:01] NachoPal commented on #1594
Great work @adamdossa.

I miss the definition of: ```function issueByPartition(bytes32 _partition, address _tokenHolder, uint256 _value, bytes _data) external;```, which is included in ERC1400 standard.

[2019-02-02 10:11] mcdee commented on #777
@0xjac @jbaylina  any chance of moving this to last call?  The standard is good, there are no open suggestions to change anything, and the longer it goes without any action the less likely it is to gain adoption.

[2019-02-02 14:35] lrgeoemtry commented on #777
Following in anticipation

[2019-02-02 21:10] fulldecent commented on #838
@LogvinovLeon You've done a great job explaining the perspective of the implementing contract and specifying the language.

# Point 1 -- do we actually need data?

Could we also consider a few end-to-end use cases? Examples like

* `throw InsufficientFunds(_amount);`
* `require(isAuthorised[userId], UnauthorisedUser(userId));`
* `require(balance[userId][token] > 0, InsufficientBalance(userId, toke

[2019-02-03 15:12] AC0DEM0NK3Y commented on #1155
The Common and Rare sets example I gave that could be expanded (to say Epic for instance) and sub-categorized within those rarities is a use case typical of hundreds if not thousands of games.

But a more concrete example involving eth as of today I guess could be something like Cryptokitties.

I'm not too familiar with how CK implementation works anymore as I haven't really kept up with it or 721

[2019-02-04 18:17] RobertMCForster commented on #865
@tbocek My full solution is [here](https://github.com/CoinvestHQ/COIN/blob/master/contracts/CoinvestToken.sol). I used the hash of given parameters (including a random nonce) to keep track of unique transactions.

Disclaimers regarding the code:
1. If written again I would remove the nonce mapping, nonce++, and getNonce() since, as @ptrwtts mentioned, a random value such as timestamp works fine (w

[2019-02-04 19:04] coinfork commented on #1155
The reason for including this in the standard (as an extension) is to provide a common way for ERC-1155 contracts and dapps (exchanges, games, etc) to safely approve some subset of tokens. If everyone was expected to roll-their-own smart contract for approval there would be no known or accepted of doing this. Think of a deployed dapp that wants to interact with all ERC-1155 tokens and the practica

[2019-02-05 02:30] aakilfernandes commented on #1634
I think confirmRFT should be dropped. When confirming an RFT, you need to check the parent, not the child.

[2019-02-05 02:39] MicahZoltu commented on #777
Since it appears that @0xjac @jbaylina and @tshabs have died/disappeared/dropped this project, does anyone want to fork this EIP and re-submit (with a new number) so we can move to last call?

@mcdee, you have been fairly active in discussion, assuming you don't change anything during such a fork I would second you if you moved your fork to a last call.

[2019-02-05 03:49] 0xjac commented on #777
@lrgeoemtry @mcdee @gitcnd @MicahZoltu Hi guys, my bad I should have commented.
We are not dead yet. I have just been very busy. I used to be able to work on ERC802/ERC777 part time but this is not the case anymore and I can only work on this during my free time ☹️
We are currently working on an issue with ERC820 (see the last comments) which is required for ERC777. As soon as this is done, we wil

[2019-02-05 04:06] MicahZoltu commented on #777
@0xjac Is there anything eager members of the community can do to facilitate getting 820 and 777 pushed through?  I know several projects are waiting for it to become final before implementing, and I suspect we can find additional resources if it is something that can be delegated.

[2019-02-05 04:15] 0xjac commented on #777
@MicahZoltu nothing comes to mind right now, I should be done with ERC820 by Thursday and then I just need to do a last read of ERC777 before putting it into last call. I think adding more resources right now will take just as much time. One thing which is always useful is more reviews of the EIP to see if you can spot anything from typos to contradictions in the standard.

Thank you very much for

[2019-02-05 06:13] xiaods commented on #1442
any update for this issue.

[2019-02-05 08:41] mcdee commented on #777
@0xjac there is an open PR https://github.com/jbaylina/ERC820/pull/23 that fixes the issue with #820 that has been sitting for several weeks.  All that is required is to update the ERC itself with the new code and deployment info.

As for last call, please move this to last call at the same time as #820 .  Although this depends on that ERC there is no reason to run them sequentially.

[2019-02-05 17:33] bmann commented on #1708
It is still in [Draft](https://eips.ethereum.org/EIPS/eip-999), and the author has listed the Discussions To link to the EthMagicians forum here: https://ethereum-magicians.org/t/eip-999-restore-contract-code-at-0x863df6bfa4/130

The [Istanbul Hard Fork](https://en.ethereum.wiki/roadmap/istanbul) to track is EIP1679.

Note: all EIPs that are properly formatted are currently accepted and published.

[2019-02-05 17:34] bmann commented on #1699
Can we close this issue?

[2019-02-05 17:34] bmann commented on #1698
Can we close this issue?

[2019-02-06 04:05] fulldecent opened #1736 "EIP-1175 and EIP-1491 are duplicated"
These are both in the repository root and in the EIPs directory. Please delete the one in the repository root. And possibly overwrite the one in the EIPs directory.

	eip-1175.md	dApp Components (avatar) & Universal Wallet (#1438)	4 months ago
	eip-1491.md	Merge erc-hucap.md (#1491)	4 months ago

--

PING: @Nitro888 @cohabo / which version would you like to keep

---

P.S. this is message up our R

[2019-02-06 04:12] cohabo commented on #1736
Hi,

Yes, I was unable to merge into the EIPs directory when trying to resolve this duplication. I'd like to delete the one in the repository root and keep the one in the EIPs directory.
Thanks

[2019-02-06 04:32] fulldecent commented on #1736
@cohabo Thank you for the quick reply. PR at https://github.com/ethereum/EIPs/pull/1737 awaiting editor assistance.

[2019-02-06 09:59] 5chdn commented on #1698
Yes. In future, the cat herders eip monitoring subcommittee will assist here.

https://github.com/ethereum-cat-herders/hard-fork-checklist/issues/4

[2019-02-06 09:59] 5chdn commented on #1699
Yes. In future, the cat herders eip monitoring subcommittee will assist here.

https://github.com/ethereum-cat-herders/hard-fork-checklist/issues/4

[2019-02-06 22:34] clesaege commented on #792
Thanks @TimDaub for the remark, I just fixed this (note that it does not lead to any backward compatibility issues as variable names are not used when creating the function signature).

[2019-02-07 10:47] sheraz104 opened #1741 "How do we return status code from an external function?"
External functions do not return anything, but if we want to let the EOA know the reason of failure in the form of status code then does this EIP has any say about it.

Thanks

[2019-02-07 10:51] zac-williamson commented on #1723
Heya! Sorry for the slow reply.

1. any smart contract that intends to manipulate a registry of AZTEC notes based on proofs from the Cryptography Engine (e.g. ERC1724) will need to know whether a given proof type satisfies a balancing relationship. `isBalanced` enables a contract to validate this, without having to have foreknowledge about the proofs supported by the Cryptography Engine

2. Thanks

[2019-02-07 11:10] Gurkirat2210 commented on #61
This is exactly what I was thinking, i.e to user a fixed cost for services, and price services as per custom business model instead of data and execution cost. The contract will be responsible for managing transaction cost. The difference between cost charged and spent will be profit.

This also encourages devs to design optimal contracts to maximize gains

[2019-02-07 12:08] d10r commented on #948
@jtakalai yes, I've done a PoC a while ago, the code can be found [here](https://github.com/lab10-coop/streem-poc).
This was a first, unsafe implementation of the idea. I've since implemented a safe one (so I claim, yet to be proven) with the limitations described [here](https://github.com/lab10-coop/streem-poc#basic-streems). It will soon be published, together with a demo use case. We're also wo

[2019-02-08 10:29] wighawag commented on #1155
@AC0DEM0NK3Y

It is indeed the idea. If the semantic is well defined there would be no point of multiple implementation but there would nothing preventing having multiple implementation. Users would simply prefers the one that has been proven to be safe.

I am not sure I follow your reasoning here. The idea of having the scoped approval extension in the erc1155 standard is to define the semantic o

[2019-02-08 16:00] Fang- opened #1742 "EIP-721 Metadata JSON schema provides insufficient detail"
As seen [here](https://github.com/ethereum/EIPs/issues/721#issuecomment-343246872) a previous version of EIP-721 contained detailed descriptions on the format of the data supplied by the JSON file as linked to in EIP-721's metadata extension.

<details><summary>Old metadata specification</summary>
Standard sub-paths:

 * name (required) - The `name` sub-path MUST contain the UTF-8 encoded name of

[2019-02-08 19:21] sadfool1 commented on #1495
Awesome!

[2019-02-08 21:40] ssteiger commented on #777
Hey,

First of all great work!

I have a question concerning the Minted and Burned events.

What is the rational behind the `Minted` event having the parameters `bytes data, bytes operatorData`.
But the `Burned` event only having the parameter `bytes operatorData`?

Or the other way around: the `burn()` function not having a `bytes data` field?

[2019-02-08 22:23] mcdee commented on #777
@ssteiger looks like some mistake in the docs.  `Minted()` should only include one `data` because there is no separate "holder" and "operator" at the point the tokens are minted.  `Burned()` should include both `data` and `operatorData` as it is analogous to sending tokens.  This can be seen in the reference implementation of ERC-777 at https://github.com/jacquesd/ERC777/blob/master/contracts/exam

[2019-02-10 00:50] corollari commented on #1742
While we are at it, `title` and `type` are not properly specified either.

[2019-02-10 03:52] corollari opened #1745 "Discussion: ERC-1815: Standard interface for blind auctions"
Given that blind auctions seem to have been chosen as the distribution method for several projects, such as:
- [Ethereum Name Service](https://ens.domains/)
- [TrigID](https://trigid.org/)
- [Waifuchain](https://waifuchain.moe) (The project I'm currently working on)

and there's even an academic paper about them ([Verifiable Sealed-Bid Auction on the Ethereum
Blockchain](https://eprint.iacr.org/20

[2019-02-10 04:57] corollari commented on #1690
In the following line of the implementation there's an extra zero before `.sol`:

[2019-02-10 15:22] Felix-Franz commented on #1690
Thanks @corollari, I fixed this!

[2019-02-11 06:22] ayushgupta0610 commented on #1662
I agree with @maxsam4 , even after making use of library contracts, proxy patterns, breaking huge contracts to multiple smaller contracts, there still comes a point which requires the smart contracts' byte code to be extended beyond a certain limit. It's just not developer-friendly to restrict the developers to develop smart contracts to limited complexity.

[2019-02-11 09:19] lukaszmatczak opened #1747 "EIP-155: design problem in unique chain IDs"
EIP-155 requires that different chains must have unique chain ID. Specification contains list of chains with their IDs, but it turns out that this list is incomplete and contains only biggest chains. There's no official full list (I think we can't assume that https://github.com/ethereum-lists/chains is official list because it's not mentioned in EIP-155).

Requiring unique ID without providing lis

[2019-02-11 09:31] frozeman commented on #1654
I think this should be revisted for the new [ERC725 v2](https://github.com/ERC725Alliance/erc725/blob/master/docs/ERC-725.md), where the owner account at key `0x0` is a [key manager contract](https://github.com/ERC725Alliance/erc725/blob/master/docs/ERC-734.md), that can have purposes etc.

I'll plan on updating the #725 issue soon.

[2019-02-11 10:05] ligi commented on #1747
I opened a PR about a month ago to add it: https://github.com/ethereum/EIPs/pull/1703

Not to make it official (I think in a decentralized word this word is very problematic) - but to avoid collisions by making people aware of other chain ids.

There was no signal yet against it - but it did not get merged yet. The problem is EIP155 is done by @vbuterin - so he need to approve to merge - but I thi

[2019-02-11 15:13] fulldecent commented on #838
I hear the pain. It makes sense. Maybe the simple, and extensible way to do this is:

A normal asset transfer. Already backwards compatible with EIPs like ERC-721.

[code]

This is how Compound Finance and others already work.

[code]

Here is how your batch transfer would work.

[code]

And all of these support the obvious try-catch syntax:

[code]

Here the try-catch only supports a single state

[2019-02-11 16:21] PhABC commented on #1741
Could you please ask on StackOverflow, gitter or reddit? This repository is not meant for dev questions. Thanks!

[2019-02-11 16:49] AugustoL commented on #827
PR created to integrate proxy proposal into standard and update to solidity v0.5.0
https://github.com/windingtree/erc827/pull/14

[2019-02-12 03:46] hyangl opened #1750 "EIP-1750: gas paying agent mechanism"
# Abstract

This draft describes the mechanism of gas paying agent, when sending a transaction, others can pay the transaction fee instead of sender.

# Motivation

The gas paying agent is to  easy the deployment of Dapps from Enterprise applications.

# Specification

The gas paying agent proposal is here:

https://github.com/truechain/TIPs/blob/master/tip-1.md

[2019-02-12 10:50] 5chdn commented on #1418
Can you create a PR with EIP number 1418?

[2019-02-12 11:14] izqui commented on #1271
Long time without checking this thread, great progress!

- I still feel quite strongly about having `isValidSignature()` be a view function (solc5 enforces `STATIC_CALL`) that cannot modify state. Replay protection seems like a problem that should be handled by the application and not the wallet itself. A separate ERC could be implemented that calls a `didUseSignature(bytes32)` back to the wallet

[2019-02-12 11:16] izqui commented on #1271
You don't need real static analysis from an arbitrary entry-point, you can just check that a contract doesn't have some opcodes that you blacklist (`SSTORE` + all the call types, can ensure you that a contract is pure). Opcode checking is a bit expensive, but it could be done pretty efficiently if checked [optimistically](https://medium.com/@decanus/optimistic-contracts-fb75efa7ca84) only once for

[2019-02-12 15:22] fulldecent commented on #1418
@5chdn Thank you, this is #1752

[2019-02-12 15:48] catageek commented on #1271
My point is to define a minimum amount of gas to send **in the standard**. Signature contract implementer must use less than the standard amount or provide the additional gas by itself (using abstract account when it is implemented). I think that it is the signature contract that must support the extra cost for an expensive verification, not the caller. My gut feeling is that 250k is too much for

[2019-02-12 16:13] izqui commented on #1271
Here's [Aragon's ERC1271 implementation](https://github.com/aragon/aragon-apps/blob/fe86092ed206453f66337082874ebb46fe33fb28/future-apps/agent/contracts/standards/ERC1271.sol) with some of the changes I propose above. We will likely be releasing the first beta of Aragon Agent v1 with ERC1271 to the mainnet later this week or early next week.

[2019-02-12 21:26] dete commented on #1271
Well, my impulse is always to err on the side as "as simple as possible", with enough functionality to cover 80% of use cases. The other 20% can always implement an extension to this mechanism when the added complexity warrants it.

Having said that, the difference between `bytes` and `bytes32` is probably not that big, so using `bytes` doesn't seem like too much of a "burden" for those wallets th

[2019-02-12 23:55] PhABC commented on #1271
@izqui

Why do you feel strongly? What is the main benefit of enforcing this?

Agreed.

I feel like creating another ERC makes things less convenient and more complicated, since signer contract has no way of enforcing that `didUseSignature()` was called after the signature was verified / used. Even if it did and if it enforced it, that means that all calling contracts would always need to also cal

[2019-02-13 03:13] NachoPal commented on #1410
@adamdossa Why `function canTransferByPartition(address _from, address _to, bytes32 _partition, uint256 _value, bytes _data) external view returns (byte, bytes32, bytes32);` has a `_from`argument? Shouldn't this method be used to check if `function transferByPartition(bytes32 _partition, address _to, uint256 _value, bytes _data) external returns (bytes32);` is possible?

Shouldn't be a `canTransfe

[2019-02-14 08:37] thec00n commented on #1469
Update the EIP to reflect the changes proposed in https://github.com/SmartContractSecurity/SWC-registry/issues/168.

[2019-02-15 10:28] ssteiger commented on #777
I have another question concerning 'default operators'. Specifically this part: "the token contract MUST NOT add or remove default operators ever."
I understand why to restrict the addition of new operators, but why also restrict removing existing ones?

An example use case for removing operators could be:
We create a new token and for precaution we add operators so we can restrict transfers in ca

[2019-02-15 10:43] mcdee commented on #777
@ssteiger the term "default operator" is not the most descriptive.  Perhaps better to think of them as "token contract extension" in that they extend the functionality of the token contract.  As such they are just as much a part of the functionality as the token contract itself and shouldn't be able to be switched in and out at the token creator's whim (it also has security implications).

As you

[2019-02-15 11:57] ssteiger commented on #777
Thanks for clarifying @mcdee!

Next question: Why doesn't 'burn()' have a 'data' parameter?

"The operator and the token holder MUST both be the msg.sender."

So in 'burn()' the same address (msg.sender) is passed to the first two parameters (operator & from) of the Burned() event.
Because 'msg.sender == operator' shouldn't burn() allow the msg.sender to set a value for 'operatorData' in the 'Burn

[2019-02-15 12:57] mcdee commented on #777
@ssteiger as I mentioned a few posts above, I believe this is a mistake in the ERC doc.  If you look at the reference implementation it shows both `burn()` and `operatorBurn()` with the appropriate data parameters and events.

[2019-02-15 13:06] ssteiger commented on #777
Ah sorry I removed my comment before I saw your reply.
I found the rational for not including a `data` parameter in the `burn()` function in a post above:

[2019-02-15 16:20] 0xjac commented on #820
@thorvald @Agusx1211 thank you for spotting and explaining that. It is indeed a bit late but it is nonetheless important.
After some thoughts and multiple discussions, since the standard is still newly approved and there are no transaction on mainnet,
@jbaylina and I have decided to update the registry and redeploy the contract (this obviously implies a change of address) with the fix.

To avoid c

[2019-02-15 21:46] frozeman commented on #725
This Standard was updated to reflect the new [ERC 725 v2](https://github.com/ERC725Alliance/erc725/blob/master/docs/ERC-734.md) and the ERC 725 v1, was moved to #734 as a pure Key Manager standard, that can be the owner for an ERC 725 proxy account.

[2019-02-15 21:47] frozeman commented on #734
This issue was reopened, to serve as a container for a Key Manager contract, which was formerly ERC 725 v1.
The new [ERC 725 v2](https://github.com/ERC725Alliance/erc725/blob/master/docs/ERC-725.md) serves now as a proxy account standard, that can be owned by a ERC 734 key manager contract.

[2019-02-15 21:53] frozeman commented on #735
In light of [ERC 725 v2](https://github.com/ethereum/EIPs/issues/725), this standard needs a bit of re-work, as now it can sit separate from the ERC725 proxy account, in its own contract.

We would now need to manage the approver different, as well as probably add a subject to the claims.
It could also be transformed into a standard claim registry like #780, but with more a sophisticated claim str

[2019-02-16 00:05] oed commented on #725
This looks like a great improvement, really like the simplicity of having just a key-value store and a proxy function!

I also think this also would play very well with [3Box](https://github.com/3box/3box-js) 😄 Basically use the key `keccak256('3box-id')` to store a 3Box identifier. This would allow any erc725 identity to have a scalable off-chain key-value data storage as well.

https://github.co

[2019-02-16 03:03] fulldecent commented on #820
Thank you for moving this along. Can you please paste a new diff link, that one is broken.

I don't know if `a` as a suffix is sufficient to distinguish it from the original. Would anybody entertain 820 and 820b? There is something about the letter `a`, which makes it sound like it is the first one which makes the original 820 sound like it /is/ 820a. This is a stupid comment so feel free to ignor

[2019-02-16 14:53] jpmonettas commented on #1662
I also agree with the importance of fixing the contract size limit issue.
Auditability and trust are very important for this systems and a big part of that comes from the languages letting you express your logic as clean and straight forward as possible. It is much harder
to do it if you also need to consider this limitation.
Don't know if the limitation should be fixed at Ethereum level or compil

[2019-02-16 15:09] mcdee commented on #820
If the altered contract is going to have a different designation I'd rather it had its own number than a suffix.

[2019-02-16 15:46] zmitton commented on #1218
what is the status of this?

[2019-02-16 18:16] yhuag opened #1756 "ERC-1756: Practical Randomness via Dual Contract"
[code]

## Simple Summary
A proposal for achieving "nearly" **non-predictable** randomness via two smart contracts.

## Abstract
There are two smart contracts: `Main.sol` and `Randomness.sol`.

`Main.sol` generates a random number by submitting a **main_seed** to `Randomness.sol`, which is derived from `msg.data`, `msg.sender`, and an arbitrary number `salt`. `Randomness.sol` takes in **main_seed*

[2019-02-17 02:16] sirisak1985 commented on #55
issue

[2019-02-17 03:23] yujisuga opened #1757 "ERC-1757: Reputation Mechanism to Claim Issuers"
[code]

## Simple Summary
A proposal of reputation mechanism to evaluate claim issuers.

## Abstract
This specification defines a profile for `ERC735.Claim.data`. A proposal enables detections of fake claim issuers via reputation system in identity verification (via ERC725 and ERC735) context.

## Motivation
The claim format defined in ERC735 and the mechanism of Identity verification defined in E

[2019-02-18 02:28] fulldecent commented on #820
I'm happy with a new number too. I see little mention of 820 in the wild and using a new number is not likely to lead to confusion. Now, 777, that number is more important and it is unaffected by this change.

[2019-02-18 11:14] 0xjac commented on #820
@fulldecent The diff link has been updated and you can find it [here too][diff]. Hopefully it should work this time... For the ERC777 last call there will be a buffer. I don't know of how much, that depends on how fast I can wrap up ERC777. But my comment was merely there to indicate that it will not take 2 weeks for ERC820 and another 2 weeks after for ERC777 but the last calls will be partially

[2019-02-18 15:27] sameepsi commented on #777
@0xjac Any updates on the last call status??

[2019-02-18 19:00] satello commented on #1497
I have updated the standard by adding Evidence Groupings to the Evidence submission and Dispute creation events. Previously, Evidence was linked directly to a `disputeID`. This restricted Evidence from being submitted before a dispute had been raised and the `disputeID` created. Now Evidence can be submitted at any time, and will be linked to a dispute by the `Dispute` event (raised when a dispute

[2019-02-19 07:00] hyangl opened #1760 "Discussion: Why using the ethereum public chain for STO contracts is not a good idea"
# On the Security Economics of Public Blockchains: Why using the ethereum public chain for STO contracts is not a good idea

by Handeric C from TrueChain research community

We coin the term “security economics” to mean the system of economic incentives designed to guarantee the security required for a public chain to operate. For example, with PoW (proof of work), honest miners are incentivized t

[2019-02-19 07:59] zhangjiannan commented on #1760
There is a parallel thread on Raddit for this topic FYI
https://www.reddit.com/r/ethereum/comments/arsu33/on_the_security_economics_of_public_blockchains/

[2019-02-19 10:07] Joachim-Lebrun commented on #1760
While your technical points related only to blockchain tech and its limits are quite accurate, you cannot make this kind of conclusions for security tokens, as the smart contracts related to these tokens are not as simple as the smart contracts used for utility tokens. Security tokens are always permissioned tokens and each whitelisted address is identified by the token issuer, which means that no

[2019-02-19 12:33] tkstanczak commented on #225
Suggesting InTurn OutOfTurn difficulties to be set at 7 and 3 respectively instead of current 2 and 1. This is to avoid the scenario that we experience yesterday where the network (Goerli) operating with 5 out of 9 validators was repeatedly stuck when validators were following two paths - one from an InTurn seal and the other with two consecutive OutOfTurn seals. Since the branch selection algorit

[2019-02-19 16:13] xiaods commented on #1442
@Arachnid do you have some time to review this issue. do we need moving on road.

[2019-02-19 17:33] timelinefunds commented on #225
Cc CME

On Tue, 19 Feb 2019 at 12:33, Tomasz Kajetan Stańczak <
notifications@github.com> wrote:

--
Kind Regards,

James Geraghty

[2019-02-20 03:43] coinfork opened #1761 "ERC-1761 Scoped Approval Interface"
[code]

## Simple Summary

A standard interface to permit restricted approval in token contracts by defining "scopes" of one or more Token IDs.

## Abstract

This interface is designed for use with token contracts that have an "ID" domain, such as ERC-1155 or ERC-721. This enables restricted approval of one or more Token IDs to a specific "scope". When considering a smart contract managing tokens

[2019-02-20 03:47] coinfork commented on #1155
Thank you so much for the feedback! I have separated out the Scoped Approval to its own standard, and I have updated ERC-1155 with the rationale for this. Let's work on bringing this to Last Call again shortly.

[2019-02-20 03:48] cbruguera commented on #725
ERC725 is coming up nicely this way. Gives flexibility for future use cases and aggregation types we don't know yet.

@frozeman I'm just wondering, though. If `owner` is a default key that all proxies must necessarily have, why not just use a regular `address` attribute on the contract (thus not needing to pad addresses up to bytes32)? What's the point of having it within the key-value storage?...

[2019-02-20 05:03] cbruguera commented on #725
A couple more questions:

1. The key in the storage mapping is supposed to be the hash of a certain "type", yet what if the case presents where multiple values for a single type are justified? (not talking about "versions" here, but multiple parallel instances of the same type). One example: given the flexibility on this storage system, a 725 identity might easily reference a 780 claim registry, h

[2019-02-20 12:25] tkstanczak commented on #225
Chris Mckay @Errorific Feb 19 23:27
I'm still not convinced there is any good reason to change the difficulty. If the 2 difficulty block takes longer than the block period to reach other nodes then I don't see value in making it possibly a stronger chain for any longer than that 1 block step. The stalling issues we've had are more about not having enough share of the validator pool available rathe

[2019-02-20 12:49] ravachol70 commented on #1594
Where are the Jurisdictions defined/registered?

[2019-02-20 15:57] peacekeeper commented on #725
Interesting new approach. We should also update the [corresponding erc725 DID method spec](https://github.com/WebOfTrustInfo/rwot6-santabarbara/blob/master/topics-and-advance-readings/DID-Method-erc725.md).

[2019-02-20 16:12] frozeman commented on #725
@cbruguera concerning the owner address it could be an e tea function with type address,  it this way it’s shorter and could potentially contain hashes of different key types in the future. I don’t mind the left padding.  It I’m happy to hear more input.

Concerning multiple types: that’s what us possible. As you would simply add a number behind like `mytype-1` (Which would be the second type of t

[2019-02-21 09:47] sameepsi commented on #777
`function burn(uint256 amount, bytes data) public;`

I think burn function should not contain **bytes data** as data field is intended for recipient. But in case of burn there is no recepient.

Even in https://eips.ethereum.org/EIPS/eip-777 the **data** field is present in the **burn** function in **interface** declaration but missing while author explains **burn** function

I think interface is w

[2019-02-21 12:46] mcdee commented on #777
There has been some confusion about the `data` and `operatorData` fields recently.  A previous discussion talked about the use of these fields (possibly earlier in this thread, can't remember) but a summary is:

- `operatorData` is data provided _by_ the operator as part of a transaction
- `data` is data provided _by_ the token holder as part of a transaction

Note that there is no information pro

[2019-02-21 13:36] sameepsi commented on #777
@mcdee Yes either specs needs to be updated or reference impl needs to be updated.
For now I am going to follow the specs, until they are changed

[2019-02-21 13:55] mcdee commented on #777
@sameepsi that note should be fixed in the spec, the first part doesn't relate to the second part (the data field in a regular Ether send transaction is neither defined by nor intended for the recipient).

[2019-02-21 14:13] sameepsi commented on #777
Let's see when it is fixed. The specs are still not in last call status.

[2019-02-21 15:50] mcdee commented on #777
The definition of `data` in particular is overloaded throughout the spec, which makes it somewhat confusing.  I've submitted a PR #1765 that is purely clerical in tidying up the explanations.

A larger question is if `data` should be present in both minting and burning.  Although there are arguments for and against, the easiest solution at this point is to have `data` in both.  Rationale is as fol

[2019-02-21 21:14] mcdee commented on #777
Submitted #1768 which fixes an incorrect function name.

Some other comments after an initial read-through:

In `operatorSend` is the statement:

There is no functional benefit to this, and it forces an additional check on all operator contracts to avoid them potentially losing tokens.  The reference implementation does not adhere to this, either.  I would like to see this text removed unless some

[2019-02-22 22:51] jtremback commented on #1726
I'm interested in this- is this the only/best dividend token design?

[2019-02-22 23:28] jtremback commented on #1726
I'm having a hard time understanding what the difference is between

`function dividendOf(address _owner) external view returns(uint256);`

and

`function withdrawableDividendOf(address _owner) external view returns(uint256);`

especially since one just calls the other in your implementation

[2019-02-23 22:11] zmitton commented on #1218
Here are 3 other issues discussing this:

https://github.com/ethereum/EIPs/pull/210 -> says _merged_ (last comment Aug3)
this thread -> says _open_
https://github.com/ethereum/EIPs/pull/1094 -> _merged_ (last comment sep 20th)
and https://github.com/ethereum/EIPs/pull/641 -> has been _closed_ (commented oct 16)

From what I can tell, this never made it past draft status as an EIP. Does anyone have

[2019-02-25 16:09] wighawag opened #1776 "ERC-1776 Native Meta Transactions"
## Introduction
Native Meta transactions (a term first coined by Austin Thomas Griffith here : [https://medium.com/gitcoin/native-meta-transactions-e509d91a8482](https://medium.com/gitcoin/native-meta-transactions-e509d91a8482)) allows users that simply own [ERC20](https://eips.ethereum.org/EIPS/eip-20) or [ERC777](https://eips.ethereum.org/EIPS/eip-777) ([ERC1155](https://eips.ethereum.org/EIPS/e

[2019-02-25 21:34] fulldecent commented on #820
Now that Constantinople is happening, is there any appetite to change the 820 deployment mechanism to the more robust eip-1014 format?

[2019-02-25 23:44] fulldecent commented on #615
Here a very brief review.

# Who said static analysis is valuable?

This proposal recommends a super-large change, deprecating op-codes and introducing an entire subroutine mechanism into the machine for the benefit "tightening the security".

The justification is static analysis of (prospective) contracts will be easier and that formal methods are "essential [tools] against loss".

The proposal w

[2019-02-26 00:51] mattBlackDesign commented on #1631
Great suggestion @monokh. Added the necessary changes to `ERC 1630`.

Also fixed an implementation typo, where ` function claim (bytes32 _secretHash) public` should've been ` function claim (bytes32 _secret) public` as well as bytecode `57` which should be `JUMPI`

[2019-02-26 01:59] gcolvin commented on #615
I don't know if this is a _super_-large proposal or not.  A fair comparison might be to eWasm, which provides essentially the same functionality.

There is no current eWasm EIP and implementation for direct comparison, but the Wasm spec itself is 150 pages, and only floating point and a few other non-deterministic operations aren't relevant.  eWasm also requires an Environment Interface between th

[2019-02-26 02:04] expede commented on #615
I mean... lots of people. Entire [companies](https://quantstamp.com/) [and](https://www.trailofbits.com/) [divisions](https://consensys.net/diligence/) have sprung up around smart contract analysis (generally assisted by a checker). For example, here's a bunch of automated smart contract [security](https://consensys.github.io/smart-contract-best-practices/security_tools/) and [analysis](https://gi

[2019-02-26 11:57] mcdee commented on #777
There continues to be no movement on this standard.  As far as I can see there are three options:

1. the existing maintainers of this and #820 carry out the required work
2. the existing maintainers of this and #820 hand them over to others to carry out the required work
3. this and #820 are forked and resubmitted so the new owner can carry out the required work

These are very much in my order o

[2019-02-26 14:31] PhABC commented on #1776
Nice!

Two initial comments:

1. I would personally pack the gas receipt arguments in the `_data` byte arrays, allowing people to omit these arguments if not used and do something like this: https://github.com/horizon-games/multi-token-standard/blob/695d3fc1cd71814891f74bcf3a6d05d539752788/contracts/tokens/ERC1155/ERC1155Meta.sol#L102

2. Shameless plug, but it would be good to add support to ERC-

[2019-02-26 19:26] GNSPS commented on #615
I can get behind @expede 's comment and say that this EIP would be beneficial to researchers working on formal verification at ConsenSys and at Diligence, specifically.
I have talked offline with many of the people involved in getting this work to fruition and, in the case it is helpful, I am now backing its usefulness publicly.

[2019-02-26 19:53] MrChico commented on #615
Happy to see this EIP getting traction again! I can assist in getting this formalized in KEVM a.k.a. the Jello paper.
There's a lot of talk about performance in the EIP, but no numbers. Are there any rough ideas on how much can be gained?

[2019-02-26 20:05] gbarros commented on #1538
I've been using this one:
[code]

[2019-02-26 20:55] austintgriffith commented on #1776
^^ Such good input. @PhABC, is this similar to your "Meta20" work? Do you smell a collaboration or should these two remain separate?

[2019-02-26 22:24] PhABC commented on #1776
Yes, it's very closely related to the MetaTX ERC20 wrapper indeed. Ideally the ERC-20 wrapper can comply with this standard and vice versa. For those wondering what Austin is referring to, here's the relevant repository: https://github.com/horizon-games/ERC20-meta-wrapper. The native metaTX token contract is here: https://github.com/horizon-games/multi-token-standard/blob/master/contracts/tokens/E

[2019-02-26 22:33] fulldecent commented on #615
Which class of bug is solved by the proposed kind of static analysis? Has one bug ever been found?

---

Yes, it literally is that simple.

Just replace `PUSH(\d+).*\nJUMP$` to `JUMPTO ($1)`. These codes are isomorphic. Now a vast majority of jumps in all contracts can be analyzed using the proposed techniques.

[2019-02-26 22:43] expede commented on #615
@MrChico

# Formalization

First off, thank you for your work on the KEVM!

Formalization of EIP-615 in the [JP](jellowpaper.org) would be amazing 🙌

As an aside, you may have already seen this EM thread, but just in case: [Jello Paper as Canonical EVM Spec](https://ethereum-magicians.org/t/jello-paper-as-canonical-evm-spec/2389)

# Performance

For performance we don't have any hard numbers as of

[2019-02-26 23:20] expede commented on #615
Yes, these are isomorphic. However, the cases where we don't do exactly `PUSH ; JUMP` are not generally tractable. Part of this proposal is adding static jumps, which limit `JUMP` to exactly the case that you cite, and not unconstrained other positions.

As a total aside for fun, it's worth noting that we're having essentially the [same discussion here as folks had about structured programming](ht

[2019-02-27 00:02] gcolvin commented on #615
@MrChico @expede  The paper is too vague on performance, and Brooke's examples would help.  The main point is that these optimizations can be done in at worst N log N time, whereas dynamic jumps can force the optimizer into N**2 time.  The relative performance of native C, Wasm, and EVM compilers vs. EVM interpreters can be seen in this graph for a few tests.  We can't get to native C, but we can

[2019-02-27 00:18] gcolvin commented on #615
https://github.com/gcolvin/evm-drag-race/blob/master/time-vs-gas.pdf

[2019-02-27 08:03] cyberience commented on #1594
I think canTransferTo would make more sense, since it is the receiver who is restricted rather than the sender. so if the receiver is in the white list, then the transfer can complete.

[2019-02-27 21:38] Austin-Williams commented on #777
@mcdee  I support your stance. I just want to point out that **5th February 2019** precedes your post. Did you mean to say **5th March 2019**?

[2019-02-27 22:13] mcdee commented on #777
@Austin-Williams yeah, that.

[2019-02-28 05:29] Roger-Wu commented on #1726
Hi, @jtremback
Good to know that you are interested!

I think you are referring to our implementation of a dividend-paying token rather than the interface design of it.
It's of course not the only implementation of such tokens, but we think it's a good enough one in most use cases.
It costs the same amount of gas to distribute and withdraw dividends no matter how many token holders there are.
And

[2019-02-28 05:51] Roger-Wu commented on #1726
Yes, they actually do the same thing.

We think that `dividendOf` may be ambiguous.
Some may think that it means "all the dividends you've got", including the withdrawn part and the not yet withdrawn part, while some may think it is only the withdrawable part.
That's why we added the three OPTIONAL viewing functions.

We definitely need more suggestions from the community about naming things.
Plea

[2019-02-28 08:40] 1018053166 opened #1784 "Discussion: implementation scheme of blind auction"
We are ready to develop blind auction projects based on blockchain. Blind auction means that the price of the user is hidden, and no one can be seen. Only after the end of the auction time, everyone can know their bid.

Theoretical implementation scheme:

1. Let smart contracts act as auction houses. When the smart contract is created, the public key and the private key are automatically generated

[2019-02-28 10:15] wighawag commented on #1776
yes we could easily add support for ERC-1155. it should work as ERC-777. We could simply a third EIP712 message type definition with the same data

Currently the standard as it stands to not preocuppy itself with the function that execute the meta transaction. If it did, I would like to know more about the reasoning behind the optionality of the arguments : which one, what would be the default val

[2019-02-28 20:19] owocki opened #1788 "d"
d

[2019-02-28 20:19] #1788 closed

[2019-02-28 20:19] owocki opened #1789 "ERC 1789 — Stable Funding for Open Source Maintainers"
[(Join the Inflation Funding Working Group)](https://t.me/joinchat/DwEd_xahL5hHvzNYH2RnQA)

# ERC 1789 — Stable Funding for Open Source Maintainers
## A Proposal for Inflation Funding for Protocol Maintenance

### Table of Contents

- [ERC 1789 — Stable Funding for Open Source Maintainers](#ERC-1789---stable-funding-for-open-source-maintainers)
  * [A Proposal for Inflation Funding for Protocol Ma

[2019-02-28 21:25] carver commented on #1085
Is there a standardized name for the new constantinople fork yet?  We picked `petersburgFork` in trinity, but it's easy to change (for now).

[2019-02-28 21:27] ajsutton commented on #1085
Pantheon picked constantinopleFix which I believe matches what the reference tests are using.

[2019-02-28 21:29] carver commented on #1085
So your genesis key name is `constantinopleFixForkBlock`?

[2019-02-28 21:32] ajsutton commented on #1085
`constantinopleFixBlock`. e.g.
[code]

[2019-02-28 21:37] carver commented on #1085
Interesting, that's definitely something this EIP would have to get consensus on. All of the key names in trinity (and in the issue summary above) include `Fork`: https://github.com/ethereum/trinity/blob/master/trinity/assets/eip1085.schema.json#L70

Would be good to check what other major clients are doing too. But for now, I have to go push a trinity release.

[2019-02-28 22:14] pazams commented on #1271
I'd like to join the `isValidSignature(bytes32,bytes)` vs `isValidSignature(bytes,bytes)` discussion.
While `isValidSignature(bytes,bytes)` may provide more flexibility, the schema within `bytes _data` needs to be spelled out explicitly. Otherwise, how would dApps and contracts know in advance how to format this parameter? A spec is needed for that.

For this reason, and since there is no plans to

[2019-02-28 22:23] PhABC commented on #1271
Currently, `bytes` is just the data being signed, whatever it is, while `bytes32` is the hash of that data. The main difference is one you pass `isValidSignature(_data,_signature)` while the other is `isValidSignature(keccak256(_data), signature)`. The current contract should *not* need to care about how to pass the data to the signer contract and it's the job of the signer contract to handle what

[2019-02-28 22:42] pazams commented on #1271
@PhABC I'll try to illustrate my point with an example.
Consider `data` to be a structured to contain 4 bytes of a "claims", and 32 bytes for "expiration time".

If the signer contract receives a `bytes32` hash of that structure, then the original structure has no meaning to the signer contract.

On the other hand, if the signer contract receives the raw data, it has to ability to parse it, and do

[2019-02-28 23:10] PhABC commented on #1271
Yes, that's correct and that will be unique to each application, which I think is totally fine. Most signer contracts could just do the following if they don't care about the data:

[code]

If they do care about the contract, they can do something like:

[code]
Obviously you wouldn't do a bunch of if-else statement and you would use a mapping `(senderAddress => data validation logic contract)`. Th

[2019-03-01 11:59] wighawag commented on #1155
Hi,

While it is still a work in progress, here is the link to the ERC1155 implementation we are using @pixowl : https://github.com/pixowl/thesandbox-contracts/tree/master/src/Asset

This is going to be the token smart contract used for our upcoming game platform [The Sandbox](https://www.sandbox.game)

It is a dual ERC1155 / ERC721 contract so feel free to add the link to the standard as an examp

[2019-03-01 17:42] PhABC commented on #1776
I want to discuss the current data passed related to the "gas payment" first, perhaps how this data is encoded in function calls is a different topic indeed.

I would personally remove `gasPrice`, because that's something the relayer can choose on their own and is therefore not needed. If the `tokenGasPrice` is not enough for current market fee, they just won't execute the transaction. Otherwise,

[2019-03-01 17:46] axic commented on #60
Closing this as it seems to be well outdated.

[2019-03-01 17:46] #60 closed

[2019-03-01 17:50] axic commented on #74
This has been obsoleted by https://eips.ethereum.org/EIPS/eip-198.

[2019-03-01 17:50] #74 closed

[2019-03-01 18:36] PhABC commented on #1776
I'm also thinking of whether we should add a general `data` field there as well, which could be used for additional logic. For instance, perhaps one wants to pay the gasFee via an ERC-721, ERC-20 or ERC-1155 token, which isn't really possible with `gasToken` alone. Perhaps some contract would like to add the `baseFee` that we removed. I'm guessing most of the time it would be `0x0` however, but in

[2019-03-01 19:24] flockonus commented on #145
Is it present on the Constantinople release?
Which `pragma solidity` version do i need to make use of it?

[2019-03-02 00:46] azeroz commented on #1559
Are you kidding, this has to be a horrible book for Feedback or Control Theory.

Is this the principal forum for discussion on these matters?

[2019-03-02 02:01] chadzii24 opened #1806 "EIPs"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2019-03-02 02:12] #1806 closed

[2019-03-02 06:38] wighawag commented on #734
Nice. I like the simple design.

I would add a ```bytes calldata _operationData``` parameter to ```execute``` though to not have to overload ```_data``` with extra purpose when extra data need to be passed in for specific operation type. I am thinking of #1077 for example.

[2019-03-02 06:43] frozeman commented on #734
Could you write the whole execution function how you envision it?

This standard needs to be improved a bit to fully fit 725v2.

[2019-03-02 06:55] wighawag commented on #734
I was actually referring to [725v2](https://github.com/ERC725Alliance/erc725/blob/fdec0e04f939432900f87f0dd7a13ff8703de15d/docs/ERC-725.md)

the whole execute function would be

```function execute(uint256 _operationType, bytes calldata _operationData, address _to, uint256 _value, bytes calldata _data) external;```

[2019-03-02 19:46] frozeman commented on #725
Talking to @jbaylina which pointed out that the `0x000...` could be problematic in some edge cases, and could be error prone in some implementations, or in other smart contract languages.
So i'm thinking of adding an extra function `address public owner`.

This would also mean we would need to add an extra event `event OwnerChanged(address indexed ownerAddress)`, but this would make it actually ea

[2019-03-02 22:25] GregTheGreek commented on #1789
I'm elaborating on a twitter [thread](https://twitter.com/econoar/status/1101890217311535110) as I think it adds useful context to this:

Basically, there exists a networking issue that needs to be solved.

A few conditions:
- We assume that you can dynamically change the address that the funds want to be sent to.
- We assume you can dynamically change the % that you want to send

The issue is how

[2019-03-03 17:16] frozeman commented on #725
concerning the `setData` key value stores.
I think it makes sense to split up the key into multiple parts.
E.g. for `profileImage` -> sha3: `0xaf559d4644dee03642e7350afc89f133d835164dd59a14721f79f3f78b9a6333 `

[code]

This way we have: `identifier + number + slot + type`, where

- identifier: keccak256 hash of the identifier word
- number: to allow multiple identifiers of the same name, starts wi

[2019-03-03 19:41] mrtomnguyen commented on #780
is uPort not using this anymore?

[2019-03-04 00:37] Matthalp commented on #1218
@zmitton This came up on a Core Devs call a while back. Here is the agenda [from where it got dropped](https://github.com/ethereum/pm/blob/7d1028a632033e2b10e7ada6a97efa7b4ac20e59/All%20Core%20Devs%20Meetings/Meeting%2045.md). Recently this ["Fly Paper"](https://eprint.iacr.org/2019/226.pdf) using this concept has started making its rounds.

[2019-03-04 04:31] 0xjac commented on #777
@mcdee thank you for helping pushing this forward. As I said before I'm quite busy but I would prefer option 1 too. To this extend, I managed to free up some time and this is where we are now:

- [x] Fix #820 as per jbaylina/ERC820#23: **In PROGRESS**, The fixed version is available at [0xjac/ERC1820](https://github.com/0xjac/ERC1820), there are just a couple last minutes tweaks to do.
- [x] Submi

[2019-03-04 11:43] wighawag commented on #1776
Hi @PhABC
thanks for the feedback.

I made this decision to include the actual ethereum gasPrice as a message field for 2 reasons :
1) Unless the gasPrice is specified by the user, there is no incentive for the relayer to not reduce the gasPrice. If the user increase the token gas price it can't be sure the relayer will increase the gasPrice use for the transaction itself. gasPrice should be inclu

[2019-03-04 14:12] mcdee commented on #777
@0xjac great to see that this is moving along.  I have read your updates to the standard and they look good.  Happy to help with any items that will move this along.

[2019-03-04 17:27] fubuloubu commented on #1559
I think an applications of Controls Theory concepts is very interesting here. In order for it to work though, you have to identify a few things in the system: what are we optimizing for? what are our "control variables" (things we can control in the protocol)? what are our sensory inputs we can read (things we can observe)? how do we want to model the system we are controlling (the "plant")?

Ther

[2019-03-04 17:29] fubuloubu commented on #1559
I vote we move discussion to https://ethereum-magicians.org/t/eip-1559-fee-market-change-for-eth-1-0-chain/2783

It's a better forum for these types of discussions

[2019-03-04 19:54] zhous commented on #1789
A huge and exiting project!  Good luck!

[2019-03-04 21:17] mudgen commented on #1538
It would really help the standard is people wrote some blog posts or made some videos about it to help educate more more about it, because I think it is a great and very useful standard.

[2019-03-05 02:59] owocki commented on #1789
As a next step, I would like to find a technical partner who could help me implement a reference client that supports this ERC.  If anyone knows someone who is interested in doing so, pls let me know.

[2019-03-05 07:59] nikeshnazareth opened #1825 "Dynamic ENS resolution"
## Purpose

The purpose of this issue is to sanity check and gauge interest in the following proposal for dynamic ENS address resolution.

For it to be successful, it will require the support of wallet developers.

Any suggestions, clarifications or criticisms are most welcome.

## Motivation

Consider the ENS domain `mydomain.eth`.

This proposal would allow users to resolve any sub-domain to a u

[2019-03-05 08:26] Arachnid commented on #1825
Thanks for bringing this up! I've been considering the prospect of wildcard subdomains for some time.

The 'custom resolver' approach you outline is, in my mind, very much the superior one; the only additional functionality it requires from ENS and from wallets is to do a lookup in the resolver of the parent domain if the leaf domain does not exist; all other functionality can be baked into the re

[2019-03-05 08:51] GregTheGreek commented on #1789
@owocki I'm interested in doing this. Can implement into Geth

[2019-03-05 09:25] nikeshnazareth commented on #1825
Thanks for the quick reply!

I think I might have conflated two issues which should be separated.

I completely agree with your flow. We should definitely not limit resolvers in what they can support. The way I phrased my proposal suggested that the wallet would follow a particular strategy when faced with a missing leaf node, and you're right - the (parent) resolver should decide.

But suppose we

[2019-03-05 14:08] PhABC commented on #1776
This doesn't really matter because the relayer can always wait before submitting the tx. If multiple relayers can execute, then this is no problem and if the relayer is enforced by you, you can change relayer if the service they provide isn't good. Think of exchanges like Binance that will withdraw your funds with a gas price of 50 Gwei to ensure good customer service. It also gives no room to the

[2019-03-05 15:01] fulldecent commented on #1742
This is not in scope for the EIPs repository. Please open this as a question on StackOverflow. And you are welcome to ping me there.

[2019-03-05 15:03] fulldecent opened #1826 "EIPS WEBSITE IS DOWN"
https://eips.ethereum.org/all and other URLs are now down.

<img width="1055" alt="screen shot 2019-03-05 at 10 03 04 am" src="https://user-images.githubusercontent.com/382183/53814607-e5068a00-3f2d-11e9-979a-7cad7c593296.png">

[2019-03-05 15:19] bmann commented on #1789
@owocki this doesn’t really follow an EIP process. I think it would be more helpful as a blog post that points to a (future) actual EIP.

Specifically I’d like to engage with the content but I don’t want to mess up the EIP registry with something that is a long form discussion.

Does that make sense?

I’m happy to help format this as an EIP that can be submitted as a PR and merged as a draft. I’ve

[2019-03-05 15:32] Fang- commented on #1742
@fulldecent Thanks for your response! Would you mind elaborating on why this is not in scope of the EIP/repository? Surely if the EIP includes data fields, with the idea that clients can make use of that data, then it should tell the clients what kind of contents they can expect?

[2019-03-05 16:05] corollari commented on #1826
Working fine for me currently, seems like it has already been fixed.

[2019-03-05 16:39] nicksavers commented on #1826
Fixed. Thanks for the report.

[2019-03-05 16:39] #1826 closed

[2019-03-05 16:45] owocki commented on #1789
@bmann thanks for the feedback. feedback is a gift.

i was treating this issue as a ERC (which i understand stands for Ethereum Request for Comment), not an actual EIP (Improvement Proposal).  The actual EIP will come later, after we've built economic models, designed a DAO, built a technical reference implementation ,etc.

I'm tracking tasks for this at https://github.com/gitcoinco/ERC-1789/proje

[2019-03-05 16:46] owocki commented on #1789
@bmann derp. i just `s/EIP/ERC/g` in the post to make it consistent with our comment above.  thx!

[2019-03-05 17:05] snaketh4xor commented on #1238
nice eip @nicola
I just got some free time from my busy college so I decided to contribute to decentralize web.
so here is example code with non transferable functionality implemented.

Badge is **NON transferable token** issued by owner to a particular identity.

badges are issued only once to new identities.
to issue new badges new contracts have to be deployed.
there can be a new function intro

[2019-03-05 18:48] corollari commented on #1789
I hope I don't come across as really nitpicky but ERCs are actually proposals for "application-level standards and conventions" , and therefore should be used to propose standards on the application level. Your proposal doesn't fit into that category.

This comment may seem aggresive, I've been trying to rephrase it for about 30 mins and I don't know how to do it so I'll just state it explicitly:

[2019-03-05 19:08] fulldecent commented on #1742
The 721 standard is in final status, so the specification will not be changed. (Except for errata.)

Questions such as yours are common and this repo is not a medium to contact people for implementation questions on EIPs. Stack Overflow is one such medium for that. The answer to your question is simple and I'll be happy to address it on the proper medium.

[2019-03-05 19:10] Arachnid commented on #1825
Yes, it would - but in my mind that's a particular set of design decisions you've taken, when there are a number of other viable solutions. For instance, simply taking the name hash and using (part of) it as a key in an HD wallet to generate a single address, regardless of whether it's been used before, is both practical to implement and achieves the goal of instant addresses with no onchain overh

[2019-03-05 19:15] #1742 closed

[2019-03-05 20:42] expede commented on #1789
@owocki

First off, let me say THANK YOU for getting the ball rolling here. Proposing a block-reward share for core _infrastructure_ has been on my todo list for several months now (just so busy with multiple other EIPs 😅).

A thousand times yes.

You've probably seen this already, but I'd like to toss a Nadia Eghbal post on [decentralized funding](https://nadiaeghbal.com/grant-programs) into the

[2019-03-05 21:08] nikeshnazareth commented on #1825
I'm not sure if that captures the use case - especially without a wallet mechanism to access the new address. I'll keep thinking about it.

Nevertheless, the point about other ENS clients is well taken. I'll close the issue - thanks for the feedback!

[2019-03-05 21:08] #1825 closed

[2019-03-05 21:56] bmann commented on #1789
@owocki If you have a repo already, great. I can shut mine down ;)

It’s not an ERC either. You need to actually make a PR in the specified Markdown template. This is “just an issue” at this point.

If you use your repo with a README and make a Markdown doc following the EIP template, then you can manage changes and PRs in your own repo AND have any PRs you do to this repo reflect the source chang

[2019-03-05 23:12] mrtomnguyen commented on #780
is it possible to bundle multiple Claims revocation in 1 tx? like an IPFS list of revoked claim hashes.

[2019-03-06 02:22] coinfork commented on #1155
Added it under Implementations. Thank you!

[2019-03-06 02:40] coinfork commented on #1155
Hello @cdetrio I'd like to request for this EIP to be moved to Last Call status. The EIP meets the required criteria and has at least 4 implementations.

[2019-03-06 12:51] Recmo commented on #603
Can this be closed in favour of https://github.com/ethereum/EIPs/pull/1829 ? I believe all that is discussed there is covered there.

Further, having `ECADD` and `ECMUL` primitives is inefficient for ECDSA signature verification, it's much faster to compute a linear combination.

[2019-03-06 13:37] ssteiger commented on #777
hey everyone!
I recently started to implement ERC777 in [vyper](https://github.com/ethereum/vyper).
Check it out here: https://github.com/ssteiger/smart-contracts/blob/master/vyper/erc777.vy
Maybe someone is interested in contributing.
If it matures enough, we could consider linking it in the eip as another reference implementation.

cheers

[2019-03-06 13:44] bmann opened #1831 "Where is the auto-merger maintained and run?"
Where is the auto-merger code maintained and who / where is it run?

Can we help in improving the code and improve its operation so that “pinging people in Gitter” isn’t how to file that’s it down? Installing monitoring that notifies people that can fix it might be a first step.

Cc @axic

[2019-03-06 13:50] bmann commented on #1831
Answer: https://github.com/eip-automerger/automerger

[2019-03-06 19:44] #1831 closed

[2019-03-06 20:25] 6paklata opened #1832 "ether classic"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2019-03-06 23:10] bmann commented on #1831
I’d like to see the AM be more reliable / have less intervention and document who and how to talk to someone if it goes down, so no one is a single point of failure.

Are you open to this @Arachnid?

[2019-03-07 04:52] Arachnid commented on #1831
@bmann Sure! What did you have in mind, concretely?

[2019-03-07 08:34] truongnmt commented on #960
Wonder is this April Fool or not! lol

[2019-03-07 10:11] cbruguera commented on #725
@frozeman Yes, definitely I agree that having the owner as an `address` type attribute makes things a bit simpler. I'm guessing then that there would be no need for redundancy in storing the owner (as bytes32) in the store mapping as well, right?

With regard to the key/value store, I think the splitting looks good. I'm still wondering, though, what are the actual advantages of this splitting agai

[2019-03-07 10:15] jamesray1 commented on #960
While I agree that Holochain looks more promising than Ethereum, this thread and GitHub generally isn't the place for promotions. @vkli

[2019-03-07 11:10] Amxx commented on #725
Hello,
I believe it would make a lot of sens to provide a reverse proxy mechanism that forward any non-ERC625 functions call back to the oner. This will allow dapp that query identity SCs transparently through the proxy.
I've an implementation of that which was proposed as a [pull request to the ERC725allicance implementation](https://github.com/ERC725Alliance/erc725/pull/26).

[2019-03-07 13:48] #136 closed

[2019-03-07 13:48] #1442 closed

[2019-03-07 16:50] wighawag commented on #1776
I am not convinced:

For the case when there is many relayers, indeed, the gasPrice used will tend towards the ethereum gasPrice equivalent to the tokenGasPrice value but then this is mostly equivalent to letting the user dictate the gasPrice.

If there is only one relayer (whether it was the only specified or not) on the other hand, the user becomes at the mercy of its decision. That relayer is i

[2019-03-07 17:55] bmann commented on #1831
Figuring out where to document this — maybe in the README for this repo? — and having st least two people who can “kick the automerger”.

If we can improve it so it breaks less that would be good too.

[2019-03-07 20:26] tvanepps commented on #960
Yes, this was a poorly considered April Fools joke at the time.

[2019-03-07 20:33] Arachnid commented on #1831
Not sure what "kicking" it involves?

The only issue I'm aware of is a race condition; sometimes the automerger gets pinged by Travis announcing the build succeeded before Travis pings Github, and so fails to merge because Github doesn't yet know the build succeeded. I haven't found a good way around this; a kludgy solution would be to add a fixed delay before checking Github.

Anyone can prod the

[2019-03-07 21:29] jo-tud commented on #1726
Hi Roger, is there a special reason why you chose 2**64 as magnitude in the implementation?

[2019-03-07 21:36] jo-tud commented on #1726
Here's some additional foundational work for this appraoch: https://medium.com/@weka/dividend-bearing-tokens-on-ethereum-42d01c710657 by @Arachnid

[2019-03-08 01:04] bmann commented on #1831
Great, thank you -- I think that's enough for anyone can prod their own PRs now!

I have documented this on a new Infrastructure page on the Ethereum wiki: https://en.ethereum.wiki/infrastructure

[2019-03-08 01:09] Bormon007 commented on #1831
Sure

[2019-03-08 07:51] u2 commented on #134
Why the `blocklimit` is redundant?

[2019-03-08 09:32] nicksavers commented on #1736
@fulldecent @cohabo Hope the issue is solved now.

[2019-03-08 09:32] #1736 closed

[2019-03-08 11:22] nicksavers commented on #1747
Hopefully resolved through #1703

[2019-03-08 11:22] #1747 closed

[2019-03-08 13:29] nicksavers commented on #68
Closing this as the web3.js 1.0 branch has become the default.

[2019-03-08 13:29] #68 closed

[2019-03-08 17:29] nicksavers commented on #777
Could the title of this EIP perhaps be made less subjective and more descriptive?

[2019-03-08 19:10] fulldecent commented on #1736
Thank you, solved

[2019-03-08 21:58] Amxx opened #1836 "ERC1836 - Upgradable Identity Proxy"
Placeholder (proposal comming soon, just need a number to package the proposed implementation)

[2019-03-09 11:09] axic commented on #36
@vbuterin is #97 obsoleting this one?

[2019-03-09 12:56] gitracker commented on #777
The number is wrong - it should be ERC2017, like when it was dreamed up - or maybe ERC2030, like when it's going to be finished maybe?

[2019-03-09 14:16] k06a opened #1837 "EIP-1837 Explicit transaction fees"
[code]

**This EIP was started as part of ETHParis 2019 hackathon project: https://devpost.com/software/qrtoken**

# Simple Summary

Let's allow Ethereum users to pay fees over smart contract by sending funds directly to miner via `block.coinbase` during zero-gas-price transaction execution.

# Abstract

We would like to propose a safe way for existing Ethereum nodes to consider transactions with

[2019-03-09 14:24] deacix commented on #1837
Here we go :)

[2019-03-09 15:09] yoav-tabookey commented on #1837
Consider using the gas stations network, which solves the same problem without requiring miners to learn new skills. See EIP 1613 or Google 1-800-ethereum. Already deployed on ropsten if you want to use it during the hackathon.

[2019-03-09 15:14] crazyrabbitLTC commented on #1837
I second @yoav-tabookey suggestion, gas stations network can handle this use case pretty effectively.

[2019-03-09 15:44] wighawag commented on #725
Hi,

As I mentioned in #734 (I commented on the wrong issues) :

I would add a ```bytes calldata _operationData``` parameter to ```execute``` to not have to overload ```_data``` with extra purpose when extra data need to be passed in for specific operation type. I am thinking of #1077 for example.

the whole execute function would thus be

[code]

[2019-03-09 16:57] radotzki commented on #1837
And - you can use Portis and get an out-of-the-box solution with the gas stations network:
https://docs.portis.io/#/gas-relay

[2019-03-09 17:19] ligi commented on #1328
@pedrouid I think this issue can be closed

[2019-03-09 18:22] k06a commented on #1837
@yoav-tabookey @crazyrabbitLTC @radotzki Portis gas station looks working solution but requires smart contracts adoption. I still prefer to modify nodes software to make it possible for every Etheruem user.

[2019-03-09 19:25] #1328 closed

[2019-03-11 07:26] MadeofTin commented on #1789
@bmann I'd like to get this pushed through so signalling can start on Tennagraph. Is there an EIP format that works existing? perhaps meta? I understand this is in a state not yet to be "codified as an EIP" , but that poses a problem in the case where signalling is exactly what we need to progress it.

I want to approach this direction before building a separate system for signaling on these kinds

[2019-03-11 13:41] chfast commented on #178
Can wasm-like prefix be used. I.e. 4 bytes `"\x00evm"` + 4 bytes little endian version number?

[2019-03-11 14:43] bmann commented on #1789
@MadeofTin there are no blockers for @owocki to make a PR that just puts this into Markdown, where it will then be a Draft. That’s what will make it an EIP.

[2019-03-11 15:34] frozeman commented on #725
@cbruguera i would like to hear more arguments for against your point. I am not sure how more or less effective it is to store multiple dimensions. Would be good to test that out.
If it provides effective it might be a better way to store it. Though we should keep these standards generic enough and not just solidly specific.

@Amxx this is a great idea, lets have the discussion there! I also didn'

[2019-03-11 16:10] nventuro commented on #777
@0xjac I'll be working on getting an initial implementation into OpenZeppelin during these next couple of days, hopefully that will be useful as a reference. For those interested, discussion will take place inhttps://github.com/OpenZeppelin/openzeppelin-solidity/issues/1159 and the associated PR.

[2019-03-11 18:09] owocki commented on #1789
its on my TODO list this week :)   thank you @bmann @corollari for the coaching so far!

note that this issue is meant primarily to create discussion, and to lay out a case.  ideally tennagraph would be able to get signal on each of the following pieces discretely @MadeofTin

1. Why ecosystem stewardship is important
1. Why ecosystem stewardship cannot be properly funded without inflation
1. Admin

[2019-03-11 20:38] bmann opened #1840 "Patent covenant for EIP submissions"
In several discussions about the EIP process, a concern has been raised about patent coverage.

Specifically, while the text of the EIP is contributed by the authors under CC0, this does not speak to whether or not they hold patents against it.

Do we need to add patent covenant language to the EIP process? Can we pay for a review and assistance from lawyers to help with this?

Please use the [Eth

[2019-03-12 13:53] deacix commented on #1837
I agree with @k06a! The miner client needs only small changes in the transaction sort function, to allow to pay the fee from smart contract.