[2017-10-05 12:18] frozeman commented on #725
@lukehedger looking forward to contributions.

I just had a fruitful in person discussion with @oed and we came upon with a few small alterations:

- I removed the `changeClaim`, as `addClaim` will do the same, and SHOULD trigger already the approval process.
- i added `getKeyType` function and `getKeysByType`, as well as `getClaim` and `getClaimsByType` to allow easy retrieval.
- I added more key

[2017-10-05 14:00] m-schmoock commented on #725
@frozeman
I like the proposal, also, as already pointed out in this discussion, I would see the need to define a standard set of `claimTypes`. This can be done by defining a low-range of well known types: i.e. 0 - arbitrary_number also to be defined in this ERC). As the number 256 Bit number is big enough, we could also think about using a bit-mask to organize topics and sub-types or even claim mu

[2017-10-05 14:05] oed commented on #725
To add to @frozeman's comment it might be good to have an example of how this might be used. Let's assume accouont `A`, that implements the "Claim Holder" part (Identity verification in the spec), wants to call a smart contract `C`. `C` requires everyone that interacts with it to have some biometric data verified by verifier `V`. The interaction would go like this:

`A` calls a method on `C`. `C`

[2017-10-05 14:28] oed commented on #725
@m-schmoock since C is a smart contract `V` will be publicly known.

[2017-10-05 14:42] m-schmoock commented on #725
@oed
It sounds overcomplicated, but for this to work in a generic way, there needs to be an additional interface for `C` (maybe called IdentityConsumer) that declare the set of issuers [`V`, `W`, ...]  a Contract `C` is trusting.

[2017-10-05 14:54] frozeman commented on #725
@oed thanks for this example, thought i would make a small correction. `C` doesn't need to call `getClaimsByType`, but instead `getClaim`, as it knows which claim issuers it trusts, it can generate the index using `keccak256(address issuer_address + uint256 _claimType)` beforehand and pass it to `getClaim`. After that it ecrecover's, and checks that the public key `k` is in fact still hold by issu

[2017-10-05 18:10] frozeman commented on #725
@m-schmoock `C` Surely needs to have predefined issuers it trusts, otherwise it can’t autoverify any claim. But for unknown claim issuers it could start an async manual process which involves people or other off chain systems.
But I don’t think the claim issuer needs to be standardized, the process needs to be described for sure, but ultimatively it’s up to any contract what verification process t

[2017-10-05 22:21] m-schmoock commented on #725
@frozeman I get the point. This will work for a known set of `V's`, and there will be ways to get there. This will work for a small concrete set of `V's`, i.e. checking identity/user access to dapps and such, which will probably be the first but not the last usecase.

I think in reality what we will face is the need to share trust in a broader sense. Just like when multiple companies would trust e

[2017-10-06 08:41] eordano commented on #721
Hey @dete! I went ahead and coded a first draft at this. Names are slightly different.
https://github.com/decentraland/land/blob/master/contracts/BasicNFT.sol

[2017-10-06 09:04] frozeman commented on #725
@m-schmoock your thoughts are valid.

Concerning: pre-known issuer. I think there is no way around it for on chain auto verification to know the issuers a contract trust, and may have to check multiple ones of those. Even checking a few of them should be relatively payable. Also think that the person who wants a service is paying for the checking gas, not the contract which is called.

I could als

[2017-10-06 10:30] bneiluj commented on #725
@frozeman I totally agree. Incentive systems can be created on top of this standard !

@m-schmoock It could be used for creating unique identities leveraged by trustworthy claim issuers or based on transactions history like Trustlines Network / State Channels. I'm behind this NGO identity project [IDbox](www.idbox.io) so it's a fantastic EIP for projects like that.

[2017-10-06 13:18] m-schmoock commented on #725
I didn't say this to be part of this standard, but rather think about how this can/will be done in the wild. Don't underestimate this, as it can be a huge advantage as a side-effect to this proposal. I don't like propretary paid crap probably even less than you think ;)

[2017-10-06 14:19] axic opened #730 "Strict encoding order for ABI"
This is in reference to the ABI specification in the Solidity documentation: https://solidity.readthedocs.io/en/develop/abi-spec.html - AFAR this is the most comprehensive spec we have.

Dynamic types (such as `string`, `bytes` and arrays) are quite liberal in terms of encoding.

In short: types are encoded as 256bit slots, except dynamic types which only contain a byte offset where their encoded

[2017-10-06 14:26] chriseth commented on #730
Note that the specification is already strict in the way as explained above. The decoders are only a bit more flexible and allow deviations from this strict specification.

[2017-10-06 14:31] axic commented on #730
As long as all major decoders allow deviations (actually I haven't seen restrictions on offset order in most decoders) that renders the strictness of spec of less use.

One way I see it could be enforced if a standard test suite is defined for the ABI, which has out-of-order encoding as failure cases.

[2017-10-06 15:23] jakmania123 opened #731 "mild"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-10-06 15:54] mattdf commented on #726
I like this EIP (and more generally the concept) as it is useful for easily implementing turing complete state-channels, e.g., where the money gets sent depends on the execution of a counter-signed string of EVM bytecode, and/or the application of multiple of these strings for more complex channels. Also useful for dynamic programming tasks. :+1:

[2017-10-06 16:38] #731 closed

[2017-10-07 01:05] dete commented on #721
So, I was talking to @flockonus (another Solidity engineer here) and I was worrying about the "lost token" problem that ERC-223 tries to solve. (Essentially, ERC-20 has no mechanism to keep users from sending their tokens to contracts that don't know how to handle them, resulting in entirely unrecoverable coins. @dexaran [did some analysis](https://www.reddit.com/r/ethereum/comments/60ql37/attenti

[2017-10-07 07:45] Dexaran commented on #721
@dete It's an interesting idea, but I think that the problems of this approach outweigh its advantages because:

1. Ethereum suffers bandwidth issues. I think that requiring that each token move is performed with two transactions is an irrational use of the blockchain.

2. A couple of transactions will require additional gas so it will be more expensive.

3.  Approving then withdrawing is not a co

[2017-10-07 21:16] holgerd77 commented on #697
Guess this can be closed now?

[2017-10-08 04:17] Hackdom commented on #223
How does account abstraction affect the main implementation here which is essentially a validation function for contract addresses considering this will do away with account differentiation?

[2017-10-09 02:57] zlgrube commented on #223
Just catching up on this. As someone working on a project that uses ERC223, here is my perspective:

I view ERC223 as an strict and clean upgrade to ERC20, and thus a standard improvement that has limited scope. The addition of functions, renaming of previous objects, and changing of non-essential features should be avoided.

- `Mint` / `Burn` should thus remain as they are named

-  `totalSupply`

[2017-10-09 08:29] chriseth commented on #726
I like this EIP a lot, but I'm a bit uneasy about the implications of this specific proposal: It fixes many details of the protocol that were always a little hidden from the EVM up to now. Smart contracts could use blockhash to access some past block hashes, but that was about it. If we change anything in the encoding of transactions in the future, this change will be relevant to the semantics of

[2017-10-09 09:29] aayarushin commented on #8
+1

[2017-10-09 10:08] #697 closed

[2017-10-09 10:18] chriseth commented on #8
I guess this can be closed now. @Souptacular what is the process here?

[2017-10-09 10:36] leviadam commented on #697
Yes, thank you!

[2017-10-09 10:52] frozeman opened #734 "ERC: Key Manager"
[code]

**NOTE: Due to the changes in [ERC725](https://github.com/ethereum/EIPs/issues/725), this spec is not fully compatible with the current ERC725v2. If you're interested in adopting this spec to work with 725v2, please comment below, or send a gist with changes.**

**This standard is now superseeded by [LSP6-KeyManager](https://github.com/lukso-network/LIPs/blob/master/LSPs/LSP-6-KeyManager.m

[2017-10-09 10:53] frozeman opened #735 "ERC: Claim Holder"
[code]

**NOTE: Due to the changes in [ERC725](https://github.com/ethereum/EIPs/issues/725), this spec is not fully compatible with the current ERC725v2. If you're interested in adopting this spec to work with 725v2, please comment below, or send a gist with changes.**

# Abstract

The following describes standard functions for adding, removing and holding of claims.
These claims can attested from

[2017-10-09 11:09] frozeman commented on #725
I moved the Claims part into its own [ERC: 735](https://github.com/ethereum/EIPs/issues/735). Lets discuss details there, this Standard requires only slight changes to #735 to add the approval process.

[2017-10-09 11:10] frozeman commented on #735
This is implemented by #725

[2017-10-09 11:11] frozeman commented on #735
I added `utin256 signatureType`

[2017-10-09 11:14] frozeman commented on #728
@bas-vk don't we have that already?

[2017-10-09 11:26] rtkaczyk commented on #684
Perhaps it is not a question of great practical importance, but how does this relate to EIP-161? I.e. what if under the newly created address there exists an empty account (according to EIP-161 rules). Should it still result in an error, or should the empty account be considered inexistent (hence no conflict) and contract creation should proceed normally?

[2017-10-09 12:01] Arachnid commented on #735
I'm still not sure why you're using signatures here, and thus restricting things to only externally owned accounts using ECDSA sigs. Wouldn't it be more general to rely on caller address?

[2017-10-09 13:30] cjol commented on #223
This issue is being used to improve on ERC20 in too many different ways. Most of these improvements are orthogonal (if occasionally inter-related). @0v1se makes [a good point](https://github.com/ethereum/EIPs/issues/223#issuecomment-333302515) in arguing for small feature interfaces in preference to a monolithic specification.

With that said, it would also be useful for developers to have a singl

[2017-10-09 13:30] cjol commented on #223
# ERC223 Current sub-proposals

---

### Meta: ERC20 Compatibility
##### Option 1. Make ERC223 Fully backwards-conformant
ERC223 is a superset of ERC20 - i.e. every ERC223 token is also be a valid ERC20 token.
##### Option 2. Make ERC223 and ERC20 compatible
ERC223 should not clash with ERC20, so a token can choose to implement both standards, but ERC223 may omit fields from ERC20.
##### Option 3.

[2017-10-09 13:31] cjol commented on #223
Finally, some personal comments:

On 223.4, I really like the idea of simplifying `decimals` by hard-coding a constant of 0. I agree that representing discrete quantities (e.g. licenses or tickets) with continuous variables, but that can't happen with a constant of 0. On the other hand, I disagree that continuous quantities (e.g. volume) are better represented with decimals. With a decimal of 18,

[2017-10-09 13:41] Hackdom commented on #223
Wow, that's a lot of thought put into this @cjol. Just to add and bring up my previous comment, Ethereum plans on moving in the direction of account abstraction, no difference between EOA and contract accounts, unless that is addressed the token fallback requirement breaks this standard.

[2017-10-09 13:49] cjol commented on #223
I like to be thorough! And I wanted to make sure I'm making the best decision for my own tokens too.

@Dexaran [previously argued that ](https://github.com/ethereum/EIPs/issues/223#issuecomment-299011654) contracts which represent accounts will need some kind of artificial `function payable(){}` marker in order to receive Ether, won't they? In which case, could they not also have an artificial `on

[2017-10-09 13:51] Hackdom commented on #223
Yes, that could work but that would require Eth core to accomodate this standard... not sure what the likelihood of that is.

[2017-10-09 14:11] cjol commented on #223
Failing that, I wonder if we can avoid stuck tokens simply by requiring a contract/account to "register" for a particular token. The token contract ends up maintaining a list of allowed token holders, and if a contract does not register, it cannot be the recipient of a `transfer` instruction. It's not quite as smooth as the previous suggestion in that everyone (both users and contract-writers) nee

[2017-10-09 14:41] frozeman commented on #735
In order to auto-verify an claim - which could have been  added by anybody - each claim needs to contain a in smart contract verifiable signature from one key of an issuers identity. The signature must sign, claim type, claim holder address and claim reference hash.

This way any contract can auto-verify claims.

There is no way to enforce this standard, and if a supposed claim holder added a clai

[2017-10-09 15:09] daniel-jozsef commented on #223
Strictly speaking, stuck tokens are not a vulnerability. It's a minor UX issue, also known as a "papercut". A vulnerability is something that allows a malicious actor to orchestrate an attack on the system. Stuck tokens are just a way for people to shoot themselves in the foot.

And I understand that stuck tokens are the pet issue of @Dexaran, but honestly, fixing it won't actually protect from se

[2017-10-09 15:32] cjol commented on #223
You're right that stuck tokens are not a security vulnerability, but if we can stop people burning themselves like this, then shouldn't we do that? I agree that there is a point at which the gas cost (and implementation complexity) of all these sanity checks outweighs the benefit, but I don't think we are quite at that point yet. With that said, if doing this introduces a security vulnerability, w

[2017-10-09 15:51] 3esmit commented on #735
@frozeman Would be something like this?
[code]
With this user could call directly without using signed message, and other account could register the user using the signed message?

[2017-10-09 16:40] Arachnid commented on #735
Why? Why not just have a registry of claims, whose smart contract code ensures that only valid claims can be stored there?

[2017-10-09 17:41] daniel-jozsef commented on #223
Okay, you should probably google reentrancy attack, but here's the lowdown:

[code]

[2017-10-09 17:53] cjol commented on #223
Thank you, that's very clear. I thought you meant that there was a vulnerability in the token itself, but I see now that you meant that it introduces a new vector that token users will need to guard themselves against.

[2017-10-09 18:00] daniel-jozsef commented on #223
Actually, you CAN write a messed up token implementation via reentrancy, too. Especially around transferFrom.

[2017-10-09 20:00] abandeali1 commented on #724
I want to point out that requiring 18 decimal places does break fungibility for tokens that are intended to be divisible by less than that. An extreme example: I have a token with a total supply of 10^18 that is intended to be completely indivisible and can only be "used" in increments of 10^18. If I transfer 1% of the token to another address, that address's share of the token is worth significan

[2017-10-09 22:01] christianlundkvist commented on #735
@frozeman - interesting stuff! On-chain attestations is an important use case and this is a good outline. I think the general idea of having claim types or categories are good, and the specifications you outlined are also useful. We’ve had some similar ideas in uPort although we have mainly focused on off-chain attestations.

I tend to agree with @arachnid that the claim architecture would be more

[2017-10-10 05:13] 3esmit commented on #735
I have a use case for this where a registry is using Oraclize, for example with [Oraclize+GitHubGists=user register](https://rinkeby.etherscan.io/address/0x74419ce7bb8d9a09faa5ce27930b4482dd59568b#code), and also there will be the organizations in that registry (also by oraclize), so oraclize would be the "claimer", and by default it's a direct message call (not sure if is possible other way). Als

[2017-10-10 05:29] Dexaran commented on #223
@daniel-jozsef When designing a token standard, we *can* assume that developer of the token should be competent enough. If no, I will not recommend them to participate in development of something. You can write a buggy code if you are not competent enough to understand what you are doing. This is not directrly related to the token standard or Ethereum at all.

At the other hand, we *can not* rely

[2017-10-10 05:52] Dexaran commented on #223
This is about [backwards compatibility](https://en.wikipedia.org/wiki/Backward_compatibility).

If the input was designed for the ERC20 token, then it will also work with ERC223. If you will try to call the `transfer(address,uint256)` function in the contract then it will work with both standards.

Personally, I don't like any breaking changes like removing decimals of ERC20 standard because of co

[2017-10-10 06:05] Dexaran commented on #223
As for me, ERC20 token standard doesn't seem to be bad thing. It works fine, except for the lack of the possibility of handling transactions by the recipient. The inability of handling token tansfers is the only real flaw, which I think needs to be corrected. `decimals` are working fine until now, and I do not see any serious reasons for changing it. The type of the variable `symbol` would better

[2017-10-10 06:29] cjol commented on #223
As much as a standard should try to protect users from getting burned, @daniel-jozsef makes a valid point that we should also attempt to stop token developers from burning themselves and their users. It is not sufficient to say "you should know what you're doing when implementing this." If a new paradigm has the potential to introduce a vulnerability, the standard should at least contain implement

[2017-10-10 07:00] Dexaran commented on #223
@cjol

I agree, it's a valuable remark. You should read the discussion because I have already did everything that you suggests:
https://github.com/ethereum/EIPs/issues/223#issuecomment-315591802
https://github.com/ethereum/EIPs/issues/223#issuecomment-315591881

To be honest, reentrancy is not a flaw of token standard or Ether. It could be a flaw of the contract that will attempt to work with toke

[2017-10-10 07:01] Dexaran commented on #223
Please, give me an example of the wallet that utilizes `approve` and `transferFrom` methods. Not only `transfer` .

[2017-10-10 10:22] onbjerg commented on #728
Doesn't seem to be documented at least. `eth_sign` adds a prefix to the message being signed, so wouldn't work for transactions.

[2017-10-10 10:38] daniel-jozsef commented on #223
(Honestly, I'm not even sure what exactly Vitalik is planning on account abstraction and making Ether into a token. These things should be of core importance to any token standard discussion. Could someone point me to discussions or blogposts on this?)

Well, the soft onTokenReceived call should solve that.

I really don't think it's complex at all. It should be common sense that you don't just se

[2017-10-10 10:51] Dexaran commented on #223
Mistyping address is a clear human mistake. While sending token to the token contract is a result of misunderstanding of how the token works. The phrase "each token transfer is a call of token contract in fact" will result in disastrous consequence this way.

We can rely on that the user can type without mistakes and making mistakes in typing an address is a responsibility of the user. We can not

[2017-10-10 11:09] daniel-jozsef commented on #223
The way I see it is that you are singling out a very narrow error case, and attempting to marshal disproportionate resources to fixing it. That's my core standpoint on this whole issue. (Especially since we don't even know whether Vitalik even envisions "payable" as a long-term citizen, or as something that is going to eventually be dropped.)

Most, if not all end-user focused smart contracts come

[2017-10-10 11:52] Dexaran commented on #223
Fixing TheDAO hack via a hard-fork of the entire blockchain was very narrow error case fix at the cost of disproportionate resources. It was just a single smart-contract and we have made protocol changes to fix a single contract, isn't it?

All we are talking about is someone's money. Personally I think that we should take care about our users and I can propose a special standard that can resolve

[2017-10-10 12:05] daniel-jozsef commented on #223
Yes I did use strong language, but look at the loaded gun parable again. What I'm saying with "special kind of idiot" is not "someone who doesn't understand ERC20 tokens".

It's someone who doesn't understand ERC20 tokens, yet opens the geth command line, pulls up the ABI of the token contract, finds out the address of some random smart contract, and deliberately sends tokens to that address via T

[2017-10-10 12:06] daniel-jozsef commented on #223
It was about a huge portion of resources set aside for core development purposes during the inception phase of the network. It wasn't disproportionate at all. Today it would be, but we're not hard forking for hacks today either.

[2017-10-10 12:21] Dexaran commented on #223
The problem I'm talking about has unlimited scalability. As far as developers will continue creating new ERC20 tokens and users will keep losing them in every contract in the Ethereum blockchain the amount of lost money will only increase with time until unlimited amount.

TheDAO was only a one-time accident. It was a bug of a single contract and the scalability of this problem is less than a flaw

[2017-10-10 13:03] daniel-jozsef commented on #223
So does the problem of sending value to non-existent addresses. I'd argue the latter is a lot wider in its scope.

It was the war chest of Ethereum Core at a time when Ethereum was nothing but a curiosity. I can see why people are upset about it, but if you consider Ethereum a nation, it starts making a lot of sense.

And I say sending tokens to a contract that doesn't handle that token is semanti

[2017-10-10 13:13] daniel-jozsef commented on #223
(Also, I'd say MEW should be considered a power user interface. The only thing a non-technical user should use MEW for is cold storage. Heck, I consider myself an expert, and still only use MEW for cold storage. End users should be using Metamask or Parity or something.)

[2017-10-10 13:13] Dexaran commented on #223
@daniel-jozsef

Please, read my previous comments carefully before commenting: https://github.com/ethereum/EIPs/issues/223#issuecomment-335435243

Sending to a non-existing address and inability to reject accidental transaction are different problems.

I think that guessing about "what people will say if ... " makes no sense in this discussion. I have mentioned this because I was frequently asked

[2017-10-10 13:16] daniel-jozsef commented on #223
Okay, sorry for the long sidetrack. I still think it's important to discuss rationale.

The point I'm arguing in relation to the ERC223 proposal is for the fully backwards compatible, "soft callback" approach. (Ie. transfer() succeeds if onTokenReceived is not implemented.)

[2017-10-10 14:06] cjol commented on #223
For what it's worth, for our tokens I've decided to implement a soft `onTokenReceived` as a utility for contract developers, _not_ as a mechanism for preventing stuck tokens. In the token contract's own `onTokenReceived`, I throw an error, just to prevent the most common failure mode of entering the token contract address by mistake. As a convention, it would be nice for developers of other smart

[2017-10-10 16:35] Hackdom commented on #223
Call me crazy but since we have a standard transfer function in ERC-20, why not just make that a standard function in smart contracts period. We're already talking about building this passive aggressive system where we check if a contract contains a certain signature on every transfer for every future token which again, doesn't actually prevent stuck tokens, only checks that the developer may have

[2017-10-10 17:07] mcdee commented on #223
That would require a manual operator or owner for every contract in perpetuity, along with additional deployment costs on every contract.  It's pushing the problem from ERC20 token contracts to every other contract, which hardly seems fair.

[2017-10-10 17:36] Hackdom commented on #223
Cost is minimal with linking, a manual catch is no more clunky than a fallback, and the transfer of value is the single most basic function in all DLT's. I don't see a problem with enabling every piece of it with the ability to transfer value.

[2017-10-10 20:01] frozeman commented on #735
@3esmit the check shouldn’t be at the addClaim happen, but rather when the claim is verified by third party. There the signature of the claim needs to be checked. The signature type  went to support different signatures in the future, e.g. it could hold non ecdsa siagntures as well.

@christianlundkvist good that your are here ;)
Yes sure a registry would allow for “adding” rules and this could be

[2017-10-10 21:57] meronym commented on #28
Is there any chance to get a secp256r1 (aka prime256v1 or NIST P-256) pre-compiled signature verification?

I believe there is a strong case for supporting this signature scheme, as it's the only one implemented natively in both Android's Trusted Execution Environment [1] and iOS' Secure Enclave [2]. This would allow for stronger security in the application layer for virtually all mobile wallet ap

[2017-10-11 08:15] HaleTom opened #736 "Add definitions of SHOULD, MUST, OPTIONAL to EIP1"
I noticed in #20 that the words SHOULD, MUST and OPTIONAL are used without explanation. They are capitalised, so I assume there is a special meaning attached.

No definitions are given in [EIP1 - EIP Purpose and Guidelines](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md).

I MUST know that they mean. SHOULD these terms be added to EIP1 or OPTIONALy somewhere else?

[2017-10-11 08:19] jamesray1 commented on #28
I think there is a concern that the NIST curve could have a backdoor, as another NIST curve was found to have a backdoor.

[2017-10-11 09:14] HaleTom commented on #736
`THOUGH` is also used in the #20's `approve` description.

[2017-10-11 09:33] HaleTom commented on #20
@jooray [your question](https://github.com/ethereum/EIPs/issues/20#issuecomment-310894691) is a few months old but I didn't see it answered, so:

[ERC20 says under `transfer`](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20-token-standard.md)

Regarding burning, the spec is silent; you could burn to (a) designated burn address(es).

[2017-10-11 09:52] HaleTom commented on #20
Regarding [`approve`](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20-token-standard.md):

Before what?

I note an unnecessary `T` at the start of the sentence and no full stop at the end.

Is there something missing here?

[2017-10-11 11:01] meronym commented on #28
That's a hypothesis and I wouldn't discard it entirely.

However, assuming that secp256r1 is not backdoored by design, we get to significantly strengthen the mobile wallet security against a wider array of attack vectors (from side channels to memory dumps) as the cryptographic operations would be performed inside a dedicated hardware processor. I believe the gains are outweighing the risks for th

[2017-10-11 15:48] RichHorrocks commented on #736
See [RFC-2119: Key words for use in RFCs to Indicate Requirement Levels](http://www.rfc-base.org/rfc-2119.html).

[2017-10-11 16:21] Souptacular commented on #100
@vbuterin This needs to be a PR.

[2017-10-11 17:23] carver commented on #736
Per the RFC, it's reasonable to be explicit about their usage.

   should incorporate this phrase near the beginning of their document:

      NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and
      "OPTIONAL" in this document are to be interpreted as described in
      RFC 2119

[2017-10-11 17:48] 3esmit commented on #735
Wouldn't be equivalent, or more flexible to have `function getClaimIdsByType(uint256 _claimType) constant returns(bytes32[])` over `function getClaimsByType(uint256 _claimType) constant returns(Claim[]);`?

[2017-10-11 18:24] 3esmit commented on #724
Why are 18 decimals a standard for ETH at all? And why it should be for other tokens as well? Why 10% of tokens uses 0 decimals and 21% uses 8 decimals?

Once I designed a [AbstractToken](https://github.com/ethereans/abstract-token/blob/master/contracts/AbstractToken.sol) I made the decimals be useful in case of an overflow at token generation function, so all balances would store what decimal it

[2017-10-11 20:39] Pipeliner commented on #611
Was net_version removed?
With `Parity/v1.7.3-beta-083b69f-20170921/x86_64-linux-gnu/rustc1.19.0`and `Truffle v3.4.9 (core: 3.4.8)`, I get the following error when I try to `truffle migrate` to it:
[code]

[2017-10-11 20:51] jonnycrunch commented on #725
@frozeman we missed you at the Rebooting Web of Trust meeting last week. I was asking who was going to summit the DID method spec for ETH.  Will you write it up using this template?:

https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2017/blob/master/draft-documents/DID%20Method%20Spec%20Template%20Definition.md

I started a DID method spec on top of IPFS called IPID.  The draft is

[2017-10-12 08:50] HaleTom opened #738 "Resolution on the EIP20 API Approve / TransferFrom multiple withdrawal attack"
#I raise this as a separate issue as I can't see a definitive resolution after it was [initially posted here](https://github.com/ethereum/EIPs/issues/20#issuecomment-263524729). The thread of the issue is hard to follow because of the intermingled comments about non-related parts of the ERC20 standard.

Please close this issue if you believe that it should be posted as a comment on EIP20 itself an

[2017-10-12 10:07] m-schmoock commented on #725
@frozeman
I was thinking a bit about the interface. One thing that came up was the approval process of claims:

1. In your proposal, where do we get the `_id` parameter for the `approve` operation if a `claim` was made by a third party.
2. Does your ideas cover the usecase that the identity is self-claiming (self-verifying) something about itself? In this case, an approval call would not be necess

[2017-10-12 10:08] jamesray1 commented on #28
Sounds fair enough. I haven't done much research on this so it's hard to know for sure.

[2017-10-12 11:00] tjayrush commented on #725
I would ask that as the community build out this powerful capability that we remember that sometimes it is important to be able to fake your identification, hide your past affiliations, and be "un-remembered". For example, in the face of an oppressive government regime, as one flees persecution, one would not want to be tagged with an immutable, unfakeable identifier. I wrote about this issue here

[2017-10-12 11:42] m-schmoock commented on #735
@frozeman
Imagine a claim was self-claimed ('self-signed'), i.e. because a users sets up his identity and claims initial data (like real name and such):

 1. The approval process for this would not be required, correct?
 2. How would a second party 'sign' a self-claim, meaning claiming that the self-claimed data is correct?
 3. How would a third party iterate through the chain of claims?

Maybe yo

[2017-10-12 21:30] Qqwy commented on #738
I know of two possible alternative approaches, one of which is used in the wild:

1. Add functions that increase/decrease the allowance relative to its current value, such as the [increaseApproval](https://github.com/MonolithDAO/token/blob/94b935828408d6816849797fab8f89dca9a21db3/src/Token.sol#L98) and [decreaseApproval](https://github.com/MonolithDAO/token/blob/94b935828408d6816849797fab8f89dca9a

[2017-10-13 01:39] bernardpeh opened #740 "ERC: registry for token symbol?"
People always want to have sexy token symbol when launching ico. There is nothing stopping anyone from using a name that has been used before. Parity has a token registry standard - https://github.com/paritytech/parity/wiki/Token-Registry but its still not widely accepted.

I can think of 2 issues for not having central governance of token symbols.

1. We are relying on people to check https://eth

[2017-10-13 03:40] AFDudley commented on #724
Just some food for thought.
https://twitter.com/EnigmaMPC/status/918657632667426818

[2017-10-13 07:01] mcdee commented on #724
@AFDudley is there anything there that wouldn't be fixed by wallet software obtaining information directly from the contract given its address?

[2017-10-13 07:19] o0ragman0o commented on #724
To my mind 18 decimals places is required to cover the granularity of gas
resource accounting at machine instruction scale, up to the scale of human
accounting.  Human scale precision rarely needs to be more than say 6
decimal places while gas calculation have to cover multiplications of gas
price and gas used each of 6~9 orders of magnitude resulting in solutions
in the order of 12 to 18 orders o

[2017-10-13 08:21] jojeyh commented on #740
Tokens already have a verifiable unique identity based on the contract address, so the need to implement an official token registry seems redundant.  Unofficial ones could be very useful though.

[2017-10-13 09:42] bernardpeh commented on #740
@jojeyh agreed but unregulated token symbol means you could have 100 OMG under 100 different contract addresses. How do you proof the authenticity of the token by merely looking at the address? How do you know the googled website is indeed the real website containing the real address of the token?

[2017-10-13 11:20] HaleTom commented on #738
It seems that the approach of adding:
[code]
[is not sufficient](https://github.com/OpenZeppelin/zeppelin-solidity/issues/438#issuecomment-329172399):

[2017-10-13 11:21] HaleTom commented on #738
@Qqwy I like your safeApprove approach. All approaches are non backward compatible with ERC20 AFAICT.

I probably should tag some previously involved people: @mikhail-vladimirov @frozeman @chriseth @Dexaran @GriffGreen @yupasik @koeppelmann @PeterBorah @jbaylina @khovratovich @brudaswen @paberr

[2017-10-13 11:41] frozeman commented on #735
@3esmit Thanks for the catches, i fixed it and change the function to `getClaimIdsByType`, which is something we can certainly make work in todays ABI.

I changed the `bytes claim` to `bytes data` in the claim, to adhere to @holiman critic of claim being used twice in different contexts.

@m-schmoock for self assigned claims one wouldn't need the approval process and not even a signature, if the `

[2017-10-13 11:45] frozeman commented on #725
@jonnycrunch can you connect me in skype and we have a chat? (mine: frozeman.de)

@tjayrush i fully agree. But you could always start a new life with a new identity, or ask one of your former claim issuers to sign the new identity or just a key instead.

Do you have any other ideas? (ps. didn't read your blog post yet)

[2017-10-13 11:49] mikhail-vladimirov commented on #738
@HaleTom

If you just add new (safeApprove) method, this is backward compatible because all existing code will still be able to use your smart contract.

[2017-10-13 12:10] frozeman commented on #725
I added a `Additional References` section.

[2017-10-13 12:11] frozeman commented on #735
I added a `Additional References` section.

[2017-10-13 17:30] ryanschneider commented on #721
I thought about this some, and is it really that big of an issue?  With the current ERC, each spam item would require its own transaction, so it would be a rather expensive attack, right?

That said, what if there were two new optional methods:

`approveMultiple(address _to, uint[] _tokenIds)`
`transferMultipleFrom(address _from, address _to, uint[] _tokenIds)`

These would allow "high volume" NFT

[2017-10-13 17:36] tjayrush commented on #725
@frozeman I don't have any ideas about "un-remembering", but I'll share if I do. It's very interesting.

[2017-10-13 18:03] M41 commented on #725
if still looking for a replacement term for 'key':   idkey, idnkey, inkey, stub, epigraph, signkey, keychain

[2017-10-13 19:21] alexvandesande commented on #725
@M41 seems `keys` in this context are basically Ethereum accounts, why not use "accounts"?

[2017-10-13 23:28] realcodywburns commented on #735
A `disputeClaim` function would be a nice feature. This would allow for an issuer to assert a `claimType n` that is negative in nature (late payments, poor conduct) that could be pertinent to both claiming identity and character, however, is inaccurate. While in dispute, the claim would be unavailable to `getClaim` and possibly third party arbitration assigned or timeout to remove the lock.

[2017-10-14 10:45] frozeman commented on #725
@alexvandesande actuallythats what I want to prevent. This standard can and should hold keys of non ethereum types as well ideally, or it’s 20bytes hash at least. And currently cold be also contract addresses. But the more flexible we are the more open this standard will be.

@tjayrush I’ve read your article and I do see what you mean. Let me come up with a possible implementation solution for thi

[2017-10-14 10:47] frozeman commented on #735
@realcodywburns according to this standard you approve any claim addition, and you can remove claims at any point. So there is no dispute necessary.
But you sure can’t do anything claiming something about you in other places. Like in social media today.

[2017-10-14 12:09] andrewrd commented on #725
@frozeman The idea of a standard behind identity of the blockchain makes complete sense. Public keys being verified via a 'claims' system to validate a public key's authenticity would make sense for physical objects as opposed to simply human and machine identity. An example use case of this would be by using ERC-725 in conjunction with ERC-735 this standard could be used to prove the unique ident

[2017-10-14 12:20] andrewrd commented on #735
@frozeman @realcodywburns Another use case for a ```disputeClaim``` would be to flag physical product identifiers to items which have been duplicated or suspected of duplication.

[2017-10-14 15:30] tjayrush commented on #725
@frozeman Does this accurately summarize?

**Functional society:**
- centralized third party claim issuers are okay because regime _can_ but _will not_ force revelation of sensitive information

**Dysfunctional society:**
- decentralized third party claim issuers are the only truly safe option otherwise regime _will_ force revelation

Current design anticipates (but does not require) fully decentr

[2017-10-14 15:42] overdrev commented on #725
How about calling them 'Chink'. To look through a chink in a doorway give a tiny limited view, but nevertheless a true view.  .   'Can you send me your passport chink please '   Key confuses to much in technical / crypto context IMO.

[2017-10-14 15:55] frozeman commented on #725
@tjayrush it kind of goes in this direction, yes.  This standard itself doesn’t care if the claim issuer is centralized or decentralized. It only and will depend on how people will use it.

@andrewrd  you interestingly use this standard very different. I for example would see the keys not as identities on the object itself. I would rather add a claim to the objects identity, which is then containi

[2017-10-14 17:22] Arachnid commented on #740
Why not use ENS for this? You can use any subdomain you want to establish your own registry; everyone can choose which registry they want to listen to.

[2017-10-14 23:32] realcodywburns commented on #735
Yes, the inability to remove some claims would be the goal. For example: an issuer assets a claim that identity `0xdeadbeaf` has participated in their auction contract and is known to the community. As time passes , addational claims are asserted that timely payments have been received as per terms of the contract; these claims would further add credibility to both the character and validity of th

[2017-10-15 05:39] MikeD123 commented on #735
I'm not sure if I've misunderstood it here @frozeman  but I think a common structure for claimType like this would be awesome. I understand that this may be out of scope for this EIP in particular, and the list will always grow over time.

* `01` - Individual
* `02` - Business

* `01` - Social
  * `01` - video
  * `02` - photo
  * `03` - phone
  * `04` - video
  * `05` - platform (e.g. platformURL

[2017-10-15 10:36] Arachnid commented on #724
@o0ragman0o You're talking about decimal places like they're a scarce resource. What's the harm in having more decimal places than you need?

[2017-10-15 11:14] o0ragman0o commented on #724
Nothing in particular, but excess decimals can make contract readability
and testing more annoying.  I don't see any argument for setting a
compulsory fixed point though, especially not now there are so many tokens
out there.

On 15 October 2017 at 20:36, Nick Johnson <notifications@github.com> wrote:

[2017-10-15 19:38] RexShinka commented on #725
@frozeman
1) Might I suggest combos rather than keys.  It means the same thing but in a different way.  A chink is a weakness (chink in the armor)

2) Would this make ENS names much more relevant?  It seems so.  Also, on the ENS gitter they mentioned adding an identity text string to the resolver (email, etc)

3 Am I correct in reading that if you lose your "combo" but not your wallet keys you can

[2017-10-15 20:14] buendiadas commented on #735
Great initiative @frozeman, I think using a unique URI field can lead to mistake when different Unique Resource Ids from different protocols are uploaded. Additionally to the collusion risk, as we are aggregating many different protocols, a resolver would not be able to know where to take the resource (should I request from IPFS?).

A solution could be an additional generic`bytes32` protocol ident

[2017-10-16 22:39] kimdhamilton commented on #725
@frozeman I'm co-chair of the group writing the DID spec and method spec template (W3C Credentials CG). I'll PM you to offer our help integrating this as a DID method spec.

[2017-10-17 03:27] michaelelliot commented on #223
@MicahZoltu A better alternative to `recommendedTruncation` could be `displayDecimals`, which would, optionally, be a way to let the UI know how many decimal places are appropriate to display for a particular token.

[2017-10-17 05:42] michaelelliot commented on #223
This being the case (`function() payable { }` being a fallback function as @Dexaran points out), it would make sense to use `tokenFallback` since the design is analogous to ether transfers.

It would be good to finalise a function name for this, as it's one of the most useful features provided by this ERC.

[2017-10-17 08:37] cjol commented on #223
This article was just shared with me, and I thought it would be worth highlighting here again the risks of calling unknown code in a fallback function.

https://medium.freecodecamp.org/a-hacker-stole-31m-of-ether-how-it-happened-and-what-it-means-for-ethereum-9e5dc29e33ce

[2017-10-17 13:36] pirapira commented on #716
On https://github.com/ethereum/cpp-ethereum/tree/experiment-geth-rule (revision 0a90a234579e1f111d0cf1b6df9def609193168d) I get
[code]

[2017-10-17 13:40] pirapira commented on #716
I can reproduce this.  Interestingly, under gdb, the special case about address 3 is not hit.

[2017-10-17 14:07] pirapira commented on #716
Wow, cpp-ethereum doen't even touch it.

[2017-10-17 14:14] pirapira commented on #716
I modified https://github.com/ethereum/cpp-ethereum/tree/experiment-geth-rule and passed block 2675119.
* [ ] check if the same version can pass block 2686351
* [ ] restart the same version from the gnesis block up to the tip of the mainnet

[2017-10-17 14:15] frozeman commented on #735
@realcodywburns @andrewrd the dispute claim is IMO not necessary. This standard is a shell for your own identity. First of you don't want to have every buy transaction references with your real world identity INSIDE you identity smart contract, that would be a huge privacy issue. And second there can be many reputation systems referencing this identity, this doesn't mean, every step needs to be a

[2017-10-17 15:46] frozeman commented on #725
@kimdhamilton thanks, but the next three weeks will be busy (devcon3 upcoming)

@RexShinka i will take a look at your article. yes the idea is that some keys can replace keys, and others not, but are able to sign. This can only be a recommendation, as people aren't forced to use the standard as describes, they will still be compatible if they name the functions right, so security is only something

[2017-10-17 16:15] frozeman commented on #735
As next steps, it would be good to create a collection of PROs and CONs for having claim issues in a registry vs. having them on your identity contract directly.

Some short ideas i gathered when talking to @Arachnid, I put into this wiki page, which everybody can extend and add to it, so we don't have to do this over a series of issues:  https://github.com/ethereum/wiki/wiki/ERC-735:-Claim-Holder

[2017-10-18 18:36] flockonus commented on #721
About the point of removing the `transfer` method, we've been thinking heavily about this for CryptoKitties (disclosure i'm in Dete's team), and altho we have unconditional transfer method implemented for the alpha, it's easy to see why unconditional transfer might not work in multiple cases.

To start off, we have to understand that while a similar API to ERC20 is desirable, the case it aims to s

[2017-10-18 22:45] vbuterin commented on #726
On the `TRIE_GET` and `TRIE_SET` topic:

One idea that I have had recently that would be interesting to move Ethereum towards is the "stateless client, first-class witness data" paradigm. In this paradigm, miners/validators would not store state, and it would be the responsibility of the transaction senders to attach a "witness" to their transaction - essentially, a Merkle branch that provides and

[2017-10-19 00:22] flygoing commented on #738
@mikhail-vladimirov I think what @HaleTom meant by backwards compatible was that adding a new method means that contracts that interact with ERC20 tokens wouldn't be able to us this functionality without being updated

@HaleTom I get your issue [here](https://github.com/ethereum/EIPs/issues/738#issuecomment-336424511), and a valid solution to that is to store another bool with each allowance keepi

[2017-10-19 07:40] mikhail-vladimirov commented on #738
The idea with boolean variable looks odd for me because it make possible the situation when `approve` method changes the allowance but returns false, while currently `false` return value means that allowance and contract's state in general was not changed.

Also this does not solve original problem.  Lets assume the following scenario:

1. Bob is allowed to transfer 100 tokens from Alice and his `

[2017-10-19 08:02] manukhiya opened #743 "manukhiya"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-10-19 08:03] manukhiya commented on #743
Help me😃😃

[2017-10-19 12:03] mariam-crissi opened #744 "TokenFallback Function"
I am trying to create an ICO based on ERC223.

In my Token Creation Contract.I have defined an interface for CrowdSale with tokenFallback Function.

           interface CrowdSale {
                      function tokenFallback(address _from, uint _value, bytes _data);
           }
And also I have written the transfer function with respect to ERC223 syntax.

        function transfer(address _to, u

[2017-10-19 12:52] flygoing commented on #738
Yeah, as I pointed out, my one concern was the expectations around returning true/false from approve. I suppose you could just return true no matter what. Preferably, in any other programming language, I'd update the `used` state and then throw an error, but there's no non-reverting way to raise errors in solidity yet.

Can Alice not listen to the event emitted from her first tx? There's 3 possibl

[2017-10-19 14:32] bneiluj commented on #735
@frozeman Great idea the wiki page ! https://github.com/ethereum/wiki/wiki/ERC-735:-Claim-Holder-Registry-vs.-in-contract. Let's create a vote counting with some eth ! 😅

[2017-10-19 18:53] cdetrio commented on #726
The "stateless client, first-class witness data" idea was also suggested in the Least Authority [analysis](https://github.com/LeastAuthority/ethereum-analyses/blob/master/GasEcon.md#reducing-minerverifier-storage-costs):

[2017-10-19 20:32] jojeyh commented on #728
Totally behind this.  I think there needs to be a more robust RPC interface in general.  This one in particular would be super useful for dapps that want to use Raiden-like capabilities in their code.

[2017-10-20 00:32] jamesray1 commented on #100
When you make a PR maybe just include the chosen option 1b.

[2017-10-20 05:38] 3esmit opened #745 "ERC: Permission Contract"
EIP: <to be assigned>
    Title: ERC745 Permission
    Author: Ricardo Guilherme Schmidt <ricardo3@status.im>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2017-10-20

## Summary
Permissions are contracts that allow controlled actions from other addresses.

## Abstract
ERC #725 Identity can contain Keys that performs actions over the Identity. In order to limit actions

[2017-10-20 09:45] frozeman commented on #735
Keep in mind both can work hand in hand, so a claim registry could be useful for some cases, and for others the attached claims in the contract itself are more useful. So can one claim referencing the claim registry, maybe with `claimType` `5` :)

[2017-10-20 09:47] frozeman commented on #725
For reference, i create a wiki for collaboration on advantages and problems of claim registry vs attached claims: https://github.com/ethereum/wiki/wiki/ERC-735:-Claim-Holder-Registry-vs.-in-contract. This is mainly interesting for #735, but also relates to here obviously.

[2017-10-20 10:02] jacqueswww commented on #735
@frozeman - so one question I had is about the possibility of expiring claims. I can imagine something like a physical address being semi-permanent, and needing re-verification every couple of years. As far as I understand it - with current layout of a Claim one would use the data field in the struct to store a value in the future? OR one would have to look up the date of ClaimAdded in the event l

[2017-10-20 11:13] chriseth commented on #21
Solidity now went with the following:

The signature is using `()` for structs, i.e. `(uint256,bytes32,(uint8,string)[])` is a struct with three components, where the third component is a dynamic array of a struct with two components. In the json-abi we are able to name the components, and thus there is a key `components`, which has the same structure as the type list itself.

Examples and specifi

[2017-10-20 11:40] bernardpeh commented on #740
I think the gist of this is the protection of the brand. ENS is just an alias for an address and should not be confused with the rightful owner of the brand. Put this in real world analogy, if we have no control over the symbol, we are allowing anyone to operate under the name IBM from any parts of the world. As the original IBM becomes more popular, 1000 more IBM springs up from nowhere profiting

[2017-10-20 19:57] 3esmit commented on #725
Regarding `approve` function, its described to approve a claim or execution by `n of m` managers and maybe `n of m` actors.
This makes Identity look like a MultisigWallet, while this is not a problem, I find it out of scope. Also, this would make all Identity following this ERC be cluggered by need of approvals. Having this design is good for many use-cases, specifically because most interactions

[2017-10-21 05:30] 3esmit commented on #725
I see that specification wants that the same approve function approving different things, but the interface defined is incompatible. Should be all bytes32.

[code]

[2017-10-21 05:34] 3esmit commented on #744
You are asking questions in the wrong place.

Also, to fix your problem the contract receiving tokens needs to extend from this interface:
[code]
Next time try asking here https://gitter.im/ethereum/solidity

[2017-10-21 11:22] GriffGreen commented on #223
@Dexaran Are you going to make it to Cancun for Devcon3

[2017-10-21 11:52] alexvandesande commented on #725
Guilherme: while I agree that the specifics of approval process should not be part of the standard and are out of scope I believe some “approve/execute” interfaces belong here.

Mostly I want, as a dapp developer, to answer the question: “how does my user executes/requires the execution of a contract call on behalf of his company/his identity/his artist name, etc

[2017-10-21 15:04] MaiaVictor commented on #719
What you describe sounds exactly what Moon-Lang is, a very simple UI description DSL I'll be presenting at devcon. It allows you to specify interfaces as a tree of nested boxes. Each box can render pixels to screen, manage an internal state and talk to Ethereum. You can copy/paste someone else's component on your own DApp safely, making the whole web very forkable. Moon's AST has very few construc

[2017-10-21 16:20] Shrugs commented on #719
@MicahZoltu sorry it took me so long to get back to this, I think I missed the notification.

In the "OpenGraph tags" scenario, my transaction request would first conform to a type like `EthereumTransaction`, supporting fields like `contract`, `value`, `gasLimit`, etc, which all signing interfaces would be expected to support at the minimum.

My transaction request would also conform to `0xOrder`,

[2017-10-21 16:38] Shrugs commented on #740
@bernardpeh I think nick means you can get a .eth domain and make your own registry, call it `tns.eth`. And then you do manual, human curation (or add some sort of token-curated registry logic so that it can be governed by the crowd) for pointing each ticker symbol to the correct address (`omg.tns.eth`, `nrm.tns.eth`, etc). No need to build a separate naming system; ENS is general enough.

[2017-10-21 22:08] bernardpeh commented on #740
hi @Shrugs thanks for the clarification. Who manage tns.eth then? how do we know that tns.eth is official and the standard?

[2017-10-21 22:39] 3esmit commented on #725
@alexvandesande , I imagine that we would need something like this https://screenshots.firefox.com/FtDXF9fRryIfVBnD/github.com
Each one of those 3 permission would be one smart contract specifically to handle those permissions.
That's because each one have totally different behavior, and they work like adapters between Identity and DApps.
I'm sure this design can be adapted even with having a exec

[2017-10-21 22:58] Shrugs commented on #740
@bernardpeh you do! The only want to ensure "brand ownership" (instead of, like, contract address ownership) is to either "get humans involved" to solve the squatting issue or let the community collectively decide who owns what brand (TCR). Not sure there's any other option. And there's no way to make a standard; people would have to adopt it. But if you say "here are 10 public figures in the comm

[2017-10-22 07:09] MicahZoltu commented on #719
@MaiaVictor Can you provide some detail as to why you decided to author a new DSL/renderer rather than using an existing one like XHTML?  I looked at the moon-lang GitHub readme, it seems that you are trying to build a compile-to-javascript language (like Elm), or am I mistaken?

----

@Shrugs I'm not a fan of signing tools having baked in forms for things like ERC20 transfers or EthereumFoundatio

[2017-10-22 09:17] frozeman commented on #725
The way this standard is written allows for a lot of flexibility.  In the approval process it only says SHOULD and COULD, but not MUST.  This way this Standard can be implemented having no approval, having a n of m approval. Also 1 of 1 is the same as passing directly, e.g, for key additions and executions.

The claim addition itself in the context of an identity must definitely have at least one

[2017-10-22 09:21] frozeman commented on #735
@jacqueswww Currently there would be two ways to handle that situation:

1. One way it would be that you make the date part of the data field, as you described.

2. Or the claim holder signs specific claims with keys he will expire on his identity himself. As everybody who will verify a claim should definitely check that the claim signing key is still valid, any claim issuer could remove that clai

[2017-10-22 09:23] frozeman commented on #725
@3esmit Could you be more specific about the execution ID? Where do you say it is not the same?

[2017-10-22 09:23] frozeman commented on #725
Could you be more specific about the execution ID? Where do you say it is not the same?

[2017-10-22 11:44] Shrugs commented on #719
I realized where my misunderstanding was: the proposal is to find a way for the _contract itself_ to verify that the user was informed correctly, in the name of consumer protection.

I personally don't think that that's the domain of a contract, but I could see situations where it would be beneficial. At the same time, though, I expect the majority of "uninformed user" issues could be solved by a

[2017-10-22 13:58] 3esmit commented on #725
@frozeman What is the function to approve a Claim? The same used for approval of executions? If so, would be better to have the execution id encoded as a bytes32, so I can check internally at approve what call regarding it is about.
Otherwise, how approve function will be sure that the approve is about a Claim, and not by a coincidentally same pending id of an execute of addKey?  Or will the `uint

[2017-10-22 14:15] 3esmit commented on #725
About Keys.. Can a Key (address) be simutaniously MANAGEMENT_KEY and ACTION_KEY or any other key? Or once an address is defined as a certain type of Key, it can only be that type of key? If so, why? If not, why not?

If willing to support one-to-many address->key we would need to change the functions removeKey and replaceKey to include aswell the key type.
If not willing to support, it should be c

[2017-10-23 12:37] 3esmit commented on #724
When thinking about the divisibility of tokens, and the fact that we use only integral numbers, seems to be good to have more decimals then needed, so these precision errors will be irrelevant.

[2017-10-23 13:02] 3esmit commented on #725
I want to implement a Identity contract that contains no Multisig on it (instead I'll be using a Permission Contract is a Action Key), I also want to support this standard.

The problem is that `    function execute(address _to, uint256 _value, bytes _data) public returns (bytes32 executionId); `  does not return boolean. I could return executionId as 0x1 if success?
approve function will have no

[2017-10-23 13:02] AFDudley commented on #724
@mcdee sure. But that just sounds like you're putting the standard up the stack. Which is problematic given the maturity of the stack and the scarcity of skill throughout the space. All of this needs to be closer to foolproof.

[2017-10-23 13:09] 3esmit commented on #725
Also, ERC725 is describing about `function execute(address _to, uint256 _value, bytes _data) returns (uint256 executionId)`

It SHOULD require approval or it MUST require approval?

[2017-10-23 16:12] MicahZoltu commented on #719
@Shrugs How would it detect the target contract is a token?  How would it get the function name and argument types from the call data?  How would it deal with non-token contracts (Ethereum smart contracts are far more than just "a bunch of tokens")?

----

This proposal isn't about having the smart contract verify the user was informed correctly, it is about allowing the signing UI to present an i

[2017-10-23 16:36] Shrugs commented on #719
Ah, I've got a better understanding of what we're trying to do now, thank you. I don't have much more to add, then 😄

[2017-10-23 18:37] danfinlay opened #747 "New Web3 Provider Method: eth_watchToken"
Today, most web3-compatible browsers have a notion of watching tokens, usually to help a user watch their current balances of tokens.

While it is possible to derive an account's token balances by walking the full history of the blockchain, this is especially impractical in the context of light clients, and so users are frequently instructed to "add this token to your wallet", to help their wallet

[2017-10-23 19:28] mcdee commented on #724
@AFDudley not pushing the standard anywhere, but even if `decimals` disappeared tomorrow the token would still have its name, symbol and total supply embedded in the contract and it makes sense for any user-facing interfaces to pull said data from the contract rather than ask user's to transpose it themselves.

[2017-10-23 19:29] maurelian commented on #738
Came here from your email to consensys-diligence @HaleTom.

It seems we're going to need to start adapting that to multiple token standards. We'll monitor, and if something resembling consensys is reached be happy to provide an implementation alongside our EIP20 implementation.

[2017-10-23 20:13] jarradh commented on #725
Hey guys! We've started the draft implementation of #725 and #735 in both Solidity and Viper

https://github.com/status-im/contracts/tree/master/contracts

[2017-10-23 20:13] jarradh commented on #735
Hey guys! We've started the draft implementation of #725 and #735 in both Solidity and Viper

https://github.com/status-im/contracts/tree/master/contracts

[2017-10-23 23:34] bernardpeh commented on #740
I also realised etherscan had an unofficial reputation rating against each token. perhaps that could be an alternative for now.

[2017-10-23 23:34] #740 closed

[2017-10-24 00:42] bbuenz commented on #603
If this is added we should use the compressed form for ECPoints, i.e. just x and 1 bit for the sign. y can be inferred from these information (by computing the square root). Space is more important than computation.

[2017-10-24 00:58] 3esmit commented on #677
This is related to #223.
Notice that tokenFallback from ERC223 does not returns bool.

[2017-10-24 01:03] 3esmit commented on #223
@Dexaran Why tokenFallback returns nothing? Shouldn't it return true on success and false on fail? Just questioning because ERC677 that is similar to ERC223, but having this difference between 677 and 223 makes harder to support both standards in the same contract.
IMO tokenFallback should return, just like transfer function does, because then we have more options, instead of just failing the tran

[2017-10-24 02:52] agusputra commented on #723
What is "operator error" ?

[2017-10-24 05:11] Dexaran commented on #223
@GriffGreen unfortunately, I'm too busy right now and I can't visit Devcon3 because of my work.

@3esmit

We can not rely on any return values in solidity. It is buggy. It is possible to fake return values in solidity for now. I wrote about it earlier:

https://github.com/ethereum/solidity/issues/2630
https://github.com/ethereum/viper/issues/330

If we make `tokenFallback` function returning value

[2017-10-24 08:06] 3esmit commented on #223
So having it is almost like not having?  If that's the case, I would prefer having it, since this meant to be a standard and the EVM is evolving, as well the compilers.

Also the problem with the fallback function returning junk or a fake value is a real threat to contracts that look like legit but are exploiting the system and willing to take off funds - because even with that fixed we can have c

[2017-10-24 08:29] cjol commented on #223
There are two possible actions to take after calling tokenFallback - process the transaction or don't. You could model this either with a function that returns `true`/`false`, but this has security problems. A safer alternative is to model it with a function that either returns void or doesn't return at all (throws).

Doing both as you suggest looks like it gives the caller three cases to handle (

[2017-10-24 08:40] Dexaran commented on #223
`throw` is not equal to "doesn't return".

The `tokenFallback` function should stop the execution and rollback the transaction in case of error. If there is no proper `tokenFallback` function implementation in the receiver then we should rollback the transaction as well. If the receiver doesn't implement `tokenFallback` function but there is a fallback function implementation in the receiver then

[2017-10-24 08:49] cjol commented on #223
How else can a function not return, without throwing? A function without
the `return` keyword still returns void in practice, so the only other way
to terminate the function is to `throw`, isn't it?

On Tue, 24 Oct 2017, 09:40 Dexaran, <notifications@github.com> wrote:

[2017-10-24 08:51] Dexaran commented on #223
@cjol this is a void function and it doesn't return anything or throw:
[code]

[2017-10-24 09:03] cjol commented on #223
Okay, then we agree in code if not in terminology. I would say that this
function does return, it just returns nothing. Only a function which throws
actually fails to return.

On Tue, 24 Oct 2017, 09:51 Dexaran, <notifications@github.com> wrote:

[2017-10-24 09:13] Dexaran commented on #223
It "is assumed to return nothing" actually. The function doesn't really return something. Due to the specificity of the EVM, a return value is a value from stack that is assumed to be return.

For example if someone will call the `A` function like this then it will return values depending on `uint256 _a` input:

[code]

If we will try to execute `B( )` and let it call the contract from [this examp

[2017-10-24 09:33] Qqwy commented on #223
@Dexaran This is very odd. I would completely expect this code snippet to trigger a compiler warning about the possibility of reaching the end of the function A without returning anything.

The problem I have with 'let it throw' is that it will not allow the ERC223-implementing contract (that calls the receiver's tokenFallback) to perform any cleanup or logic based on the validity of the call, mak

[2017-10-24 10:13] Dexaran commented on #223
@Qqwy

Currently, this is a bug. I will not develop a software that it affected by known bugs by default. If these errors are fixed in future, then we will apply the changes to the ERC223 token standard. We can not use return values now because of security issues.

When designing the token standard, we should keep in mind that impossibility to distinguish `true` (really true return) from `true` (s

[2017-10-24 10:39] Qqwy commented on #223
To be more clear, the problem here is that moving to returning a boolean in the future from returning nothing now will be a backwards-incompatible change:
-  I'd expect (but not sure; not been able to find any documentation about it right now) the function signatures of a `function tokenFallback(address _from, uint _value, bytes _data)` and `function tokenFallback(address _from, uint _value, bytes

[2017-10-24 10:50] Dexaran commented on #223
The signature of the function does not depend on the return values. `function A(uint256)` and `function A(uint256) returns (bool, string, uint8)` will have the same signatures.

Fallback function doesn't return bool values. Standard fallback function that is intended to work with Ether transactions does **not** return `false` on failure and thereby does **not** allow the caller to perform logic on

[2017-10-24 10:59] pirapira opened #748 "Specify the range of chain IDs"
[EIP155](https://github.com/ethereum/yellowpaper/pull/282/files#diff-9f702e1491c55da9d76a68d651278764R1405) introduces chain IDs.  The EIP does not define the biggest / smallest possible chain IDs.  This issue keeps track of defining the possible chain ID values.

[2017-10-24 10:59] pirapira commented on #748
Go-ethereum uses unsigned 64 bit integers, I heard.

[2017-10-24 12:19] GoldenDave commented on #223
It is not that the fallback function does not return true/false
- the true/false can be implied in the calling it

[code]

[2017-10-24 12:53] Dexaran commented on #223
@GoldenDave it's a fallback function:
[code]

I don't see any returns here.

[2017-10-24 12:55] Dexaran commented on #223
From [solidity docs](http://solidity.readthedocs.io/en/develop/contracts.html#fallback-function).
I will highly recommend to read the docs before commenting.

[2017-10-24 13:00] GoldenDave commented on #223
That is why I said it is **implied**

When you send ether from another contract using `send` it DOES return bool.
When you send using `transfer` it throws.
and let's not get started on using `call` to get a return value even if it throws...

There is no workable analogy because ether is a built in feature with its own quirks.

[2017-10-24 13:05] 3esmit commented on #223
Maybe we need some features of "economic abstraction" that would help tokens behave like ETH, to even like pay gas.

[2017-10-24 13:19] GoldenDave commented on #223
@Dexaran - If you are saying

The Token Fallback should THROW in a similar manner that a non payable function will throw thereby causing the token transfer to throw.... then that is a fair analogy.

It will not cover all bases but it is fair.
Perhaps a paired function that does return bool to indicate that the token is supported would be a good idea. Then we cover more bases.

I can still imagine

[2017-10-24 17:14] 3esmit commented on #745
Related to #662

[2017-10-24 19:15] skmgoldin commented on #747
This would be a useful convenience function. Practically speaking, in the workaday life of an Ethereum developer, we're dealing with ERC-20 tokens a lot these days.

[2017-10-25 14:25] mickys commented on #747
If this is to be implemented, it would need some changes:
1 - symbol ( not limited to 3 characters, most ERC20 implementations, including the standard holds this as a string )
2 - token type. - you really want to detect the type if possible ( check methods on said contract ), else fallback to the user's choice.

Type might not be implemented in web3 browsers, but should really be considered as it

[2017-10-25 15:03] jonnyhsy commented on #20
Hi @mikhail-vladimirov , I do have a question about the attack scenario describe in that doc - each ethereum transaction has a corresponding nonce, which is a positive increasing number. Say if 1st approve()'s nonce is 96, 2nd approve()'s nonce 97, etc. If tx with nonce 97 is still pending, tx with nonce 98 (transferFrom() call) would be blocking waiting for tx with nonce 97, isn't it? nonce is us

[2017-10-25 15:15] Arachnid commented on #745
This seems very similar to the authority pattern: https://github.com/ethpm/escape/blob/master/contracts/Authority.sol

[2017-10-25 15:22] jonnyhsy commented on #20
In short, If attack step3 transferFrom(alice, bob, N) has the same nonce with the nonce of step2 approve(bob, M), then 1 of them must fail. If step3 nonce > step2 nonce, then step3 would block until step2  completes.

So how come double spend?

[2017-10-25 15:28] Arachnid commented on #747
This seems too high level for an RPC method. The node (which is what the RPC communicates with, not the browser) shouldn't have to care about tokens.

[2017-10-25 23:26] GriffGreen commented on #20
@jonnyhsy thats not how the nonce works.
Say if 1st approve()'s nonce is 96, (Called by bob) 2nd approve()'s nonce 97 (Called by bob). If tx with nonce 97 is still pending, the transferFrom() call can have any nonce, as the call would be coming from a different account (Evil Alice).

[2017-10-26 00:02] HaleTom commented on #20
Given the confusion above, and in the ERC20 issue which spawned this, is there a failing Truffle (or other) test which captures this issue?

[2017-10-26 04:57] jonnyhsy commented on #20
@GriffGreen Ah I see the nonce 97 and 98 comes from different accounts, my bad that messed things up, thanks for your reply!

[2017-10-26 06:20] jonnyhsy commented on #20
@GriffGreen after reading this length (wow!) post, I think the attack scenario still exists, even after applying people's suggestion that "alice first set allowance to 0, check, then set allowance to N", the front running still exist and alice may not be aware of bob transferred her M tokens already before she resets allowance to 0... Right? How's the final decision about dealing with this race?

[2017-10-26 07:17] Qqwy commented on #223
I agree with everything @GoldenDave said in the comment just above this one. Having `tokenFallback` work as similar as possible to the 'fallback function' definitely makes the most sense.

I think a function that returns a boolean to indicate if the token is supported or not would go a long way for future extension. Interestingly, this is the kind of feature that could be added after ERC223 itself

[2017-10-26 10:24] chfast commented on #677
So what happens if "tokenFallback" returns `false`? The tokens have been transferred and you cannot get them back.

[2017-10-26 10:47] Arachnid commented on #180
As an alternative to a precompile, I've written an implementation in Solidity assembly: https://github.com/arachnid/solsha1

It requires roughly 56k gas per 512 bit block hashed.

[2017-10-26 12:44] yudilevi commented on #223
I support throwing as opposed to return values pretty much all around in solidity.
A system that deals with money has its own security constraints and relying on developers to actually remember to check the return value can cause real damage to the user.
Hence, `transfer` was created in addition to `send`.

The long term solution would probably be exception handling in solidity, but I do think tha

[2017-10-26 13:34] HaleTom commented on #20
@jonnyhsy @GriffGreen I tried to summarise the current state of play regarding the API attack in [this separate issue](https://github.com/ethereum/EIPs/issues/738) since:

1. It's security related - ensure it it not overlooked
2. The thread is very hard to pick out here amongst everything else going on

I thought I'd offer a place to keep the discussion focused in a separate issue, given that ther

[2017-10-26 13:35] CarlosRoldanx commented on #20
Please,

Unsubscribe me from this list.

El 26 oct. 2017 2:34 p. m., "Tom Hale" <notifications@github.com> escribió:

[2017-10-26 13:35] HaleTom commented on #738
Has anyone written a truffle (or other) test which illustrates this issue?

[2017-10-26 21:53] hatgit commented on #84
Can someone explain to me when a mnemonic is created for an HD bitcoin wallet using the above mentioned BIPs, for example, how can an Ethereuem address be created from the same passphrase? (I realize And must the ETH address/key be created at the same time or can the same original passphrase used to create the HD bitcoin wallet be used to subsequently create the ETH key pair? I appreciate any guid

[2017-10-27 06:59] GoldenDave commented on #223
A thought to putting an end to the return/throw argument

As we know, the consensys multisig final confirmation also sends a transaction BUT if that transaction fails, it is an internal transaction that failed and the final approval still stands.

So :

* let the fallback throw.
* provide code samples to show how to use à la multisig so that you can get a return value as to whether the token is re

[2017-10-27 17:13] kumavis commented on #747
@Arachnid this is incorrect. The dapp uses rpc to talk to the node (data lookups) and the browser (identity mgmt)

[2017-10-27 17:15] kumavis commented on #747
@mickys you listed token type -- what types are there?

[2017-10-28 14:37] mickys commented on #747
@kumavis
Types, you have ERC20, [ERC677](https://github.com/ethereum/EIPs/issues/677), [ERC223](https://github.com/ethereum/EIPs/issues/223) and many more in the works these days.
The idea behind having a type is the fact that a "watcher" should be able to use it to determine the best method to use to "transfer tokens" and such.

Back to the "eth_watchToken" metod, i would personally like to see t

[2017-10-28 14:40] Arachnid commented on #747
@kumavis why would the dapp need an rpc to communicate with the browser? It can do that directly via js.

[2017-10-29 17:35] pavben commented on #223
@Dexaran, for backwards compatibility with ERC20, are you suggesting that tokens issue two Transfer events, one with data, and one without, for every transfer? This appears to add around 2000 gas to the cost of the transfer, which for a token I'm working on makes up 5% of the transaction cost. Making transfers cheap is a priority, and for the most part, backwards compatibility is doable without mu

[2017-10-29 20:00] willitscale opened #753 "ERC: Micro Contract Architecture"
EIP: <to be assigned>
    Title: Micro Contract Architecture
    Author: James Lockhart <james@n3tw0rk.co.uk>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2017-10-29

## Simple Summary
A contract design pattern to detach functionality and enable contract mutability.

## Abstract
Micro contract architecture is based around the microservice architecture design. This wher

[2017-10-29 21:03] MicahZoltu commented on #753
This sounds like a best practice, rather than a specification.  Why does this specification need standardization?  In what scenarios will users/developers be interoping with unknown future contracts or interoping with a wide array of contracts outside of their control?

----

Completely separate from the above, I'm generally against patterns that make contracts mutable.  It defeats a large amount

[2017-10-29 21:10] willitscale commented on #753
The standardization is to highlight the the fact that is is possible with the current implementation of the network. Whether we like it or not developers will eventually learn that this is possible and there will be some people to utilize it deceptively. Standardisation ensures that we can limit the deceptive adaptations of this design and make it clear to everyone that this is being used.

[2017-10-29 21:21] MicahZoltu commented on #753
It feels like only honest developers will follow the standard, if it makes it more obvious to end-users, while dishonest developers will not follow the standard and therefore we have only created a false sense of security, since the user can't assert "pattern X is not being followed, therefore contracts are immutable".

Also, end-users aren't the ones auditing contracts, it is professional auditor

[2017-10-29 22:07] willitscale commented on #753
I'm not saying it's that black and white, but it would allow for contract integrity verification, similar to how some applications limit access to tokens if they don't support ERC20 standard. This would also allow applications to map the layout of how micro contracts in completeness from the event logs or if need be an additional function to query the current active micro contracts.

[2017-10-30 01:01] tjayrush commented on #753
I think the point @MicahZoltu makes here:

is important. Users (and developers) should be trained to expect immutable contracts. This idea used to be one of the major selling points of smart contracts. Immutable smart contracts remove the need for the end user to trust the developer. That's where the word contract came from. You can't change a paper contract unless both sides agree. That idea is b

[2017-10-30 19:00] willitscale commented on #753
I understand completely which is why I made it a key point in my rationale:

I believe educating the users to expect immutability is wrong when mutability is possible. It's important that all users are fully educated in how developers could exploit this to their advantage which is why in part I would like to bring a standard to the table to help expose this. Always remember though user design is n

[2017-10-30 22:04] 3esmit commented on #753
This seems like what I'm building with ERC #745, do you think we can merge efforts or we have totally different scope?

[2017-10-30 22:18] 3esmit commented on #753
Why your read only have permissioning aswell, @willitscale, shouldn't this just be at write functions? Just saying, as everything in blockchain is public, even if you mark it as private.

[2017-10-30 22:32] willitscale commented on #753
I think are scopes are somewhat different, this isn't about permissions and any scope of permissions is at the developers discretion. `private` isn't used to mask a value, just like any other programming language it's a modification controlling mechanism. It's used to limit access by scope and in my example I use it to prevent inheriting components modifying values I felt they shouldn't.

[2017-10-31 16:45] realcodywburns commented on #748
geth-etc, geth-eth, quorum use [uint64](https://github.com/ethereum/go-ethereum/blob/4bc60e3aa8eb3929a4e040ef260807a36e3db1d8/cmd/puppeth/wizard_genesis.go#L126)

cpp uses [uint256](https://github.com/ethereum/cpp-ethereum/blob/42b927d7aa103e21e34c8ba8c5469f532b49f966/libethereum/ChainParams.cpp#L132)

To not fail a uint64 is needed.
The max range is 18,446,744,073,709,551,615; that is, hexadecima

[2017-11-01 14:12] 3esmit commented on #724
Shouldn't we look at IEEE 754? I found this https://en.wikipedia.org/wiki/Quadruple-precision_floating-point_format

[2017-11-01 14:18] 3esmit commented on #724
Shouldn't we look at IEEE 754? I found this https://en.wikipedia.org/wiki/Octuple-precision_floating-point_format

I guess is not the case because we don't need the precision, this obviously would be useful for advanced scientific purposes (not the case of smart contracts), but then we should standarize the 18 decimal places for currency purposes with the formal process of EIP.

[2017-11-01 14:32] 3esmit commented on #717
Setting the approval to max value might not be enough. Imagine of an exchange account, it might want allowance unlimited, because if it set to max value in some years it might end up consuming all allowance.

[2017-11-02 23:38] supertyler commented on #725
Hi folks. Great to see this moving forward! We've done quite a bit of related research/dev over at Deloitte (https://github.com/SmartIdentity/smartId-contracts). Standardisation across identity implementations will be very useful, keen to contribute.

A few initial comments (and apologies in advance for not having mastered github formatting...):

**Overall Scope**
Is this standard intended for use

[2017-11-03 18:55] naddison36 commented on #725
How does someone reviewing an identity’s claims know what the claim types are?
I suggest linking the identity contract to a claims registry with the following property.

`claimTypeRegistry`: address of the contract that registers claim types

The `claimTypeRegistry` can be a very simple contract like the following that emits an event rather than store data in the registry contract.
[code]
The clai

[2017-11-05 06:38] Dexaran commented on #223
@pavben

As for me, making transactions secure is a priority. I believe that if the additional 2000 gas can save users from a loss of millions of dollars, then this is a reasonable price that should be paid.

I would say yes. You should issue two events for backwards compatibility reasons.

I think that if the token transaction has execution data, and some function was executed at the recipient as

[2017-11-07 15:11] plutoegg commented on #156
There are several different suggestions in this thread and elsewhere relating to also including recovery of any **funds accidentally sent to the 0x00 address** .
Since this is a relatively common source of "lost" funds, if these were to be included it could be a special case for the `0x00` address, and would need to be applied regardless of whether the cause was:

1. User error leaving `to` addres

[2017-11-07 17:31] DonaldMcIntyre commented on #156
This EIP 156 is a legitimate solution for lost funds as long as it is a generic tool for correcting bonafide mistakes by contract and account owners with lost funds that do not affect other accounts or contracts, or agreements with other unwilling counterparts, even if they are minorities.

As an analogy, if a Bitcoin TX is sent with a very low fee and is never picked up by a miner, it is legit fo

[2017-11-07 18:15] tinybike commented on #156
@GriffGreen I would also like to know why the paper wallet trick won't work; @MicahZoltu's sequence of events looks correct to me.

I share @MicahZoltu's concerns re: complexity risks of this EIP.  Can anyone comment on how much extra code / complexity would be needed to implement this?  My gut feeling is that unless it's _very_ simple, the risk associated with implementation outweighs the benefit

[2017-11-07 19:20] k26dr commented on #156
Is this being considered as a solution to the bricked Parity multisig wallets?

[2017-11-07 19:51] danfinlay commented on #747
@Arachnid asked:

Sorry for replying slow, this isn't a very urgent proposal.

I'm not actually proposing a new RPC method, never once said "RPC" in the original post. Currently, the JS interface actually uses an API (the Ethereum Provider API, poorly documented) that passes very RPC-looking strings to their data provider (wallet). Something like:

[code]

In this context, I am not suggesting RPC

[2017-11-07 19:56] greggdourgarian commented on #156
Can we please be upright and magnanimous and talk straight about what Ethereum is?  Is it immutable and uncensorable as Ethereum.org suggests?  Obviously not, and I'm okay with that given our youthfulness.

Sadly, pull requests to correct to correct it get rejected by Foundation memebers overcome with shame about the DAO hardfork (https://github.com/ethereum/ethereum-org/pull/617#discussion_r12533

[2017-11-07 20:06] danfinlay commented on #719
I’m concerned that trusting a smart contract for its own UI template could be dangerous, since a smart contract *could* be deployed to resemble some other smart contract, or to mis-represent what it’s really doing.

While this might be a nice way to represent signing operations in the meanwhile, I think the longer-term solution to good tx review will be something more like signers that know how to

[2017-11-07 20:08] tinybike commented on #156
@greggdourgarian while I think your point is worth discussing, IMO this EIP is the wrong place for that discussion.

[2017-11-07 20:30] greggdourgarian commented on #156
@tinybike Thanks for responding.    I like this EIP and believe it technically excellent.

Nevertheless, it crosses the barrier of mere technical improvement and risks defining our ethical framework or lack thereof.

Given its importance, let's use this opportunity to lift up both Ethereum and the wider community's understanding of blockchain governance.

[2017-11-07 21:42] kylerchin commented on #223
Hey @Dexaran , any secure single file implementation of ERC223 yet?

[2017-11-07 22:03] Montoya commented on #156
This seems to me like a technical improvement and a surgical fix to an existing problem. Nothing about this resembles a "hardfork." Naysayers will criticize ETH regardless of what is done, but I would not let their opinions dictate the outcome.

[2017-11-07 22:08] Arachnid commented on #156
@Montoya A hard fork is any change to the rules of the chain that requires an update for clients to validate it. This EIP would require a hard fork.

[2017-11-07 22:33] zookozcash commented on #152
I don't have a strong opinion about the encoding issues but I'm persuaded by https://github.com/ethereum/EIPs/issues/152#issuecomment-331853965 and https://github.com/ethereum/EIPs/issues/152#issuecomment-331967132 that we should just use a specified packing.

The next step is to write an EIP! (https://github.com/ethereum/EIPs/issues/152#issuecomment-295087326)

[2017-11-07 22:59] greggdourgarian commented on #156
@Montoya You're right - we'll never please everyone.  But we will win over many ideological opponents by articulating and acting on a consistent, ethical framework.    This EIP does represent a hard fork as someone else pointed out, but given the youthfulness of the project, there is nothing inherently wrong with that.

[2017-11-08 01:35] supRNurse commented on #156
On July 28th 2016 I tried to use the "safereplaysplitter" contact Vitalik Buterin blogged about in his post "Onward from the hard-fork". It was among my first attempts at using smart contracts and I was very excited. I sent a small amount through per instructions and it worked perfectly. I then sent my entire account through. 1493 Ether never arrived in my account. Instead they were sent by defaul

[2017-11-08 02:05] Horbi opened #757 "87c5e0532fffcaec45c2fdca8540c3533fc3709fbbe1c11fb08e6356ca613b68"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-11-08 03:16] sciyoshi commented on #156
As noted elsewhere, this EIP as written won't allow withdrawing ether from multisig contracts created using the recently suicided Parity wallet library, since they *do* have code at their address. The class of frozen funds this proposal would allow spending is only those sent to empty/nonexistent contracts, and should be fairly uncontroversial since it gives no preference to user or application.

[2017-11-08 05:50] #757 closed

[2017-11-08 05:54] Arachnid commented on #719
Is that a viable threat model, though? If you audit the code, you can determine what it does and how it presents it. If you don't, there are far easier ways that already exist for the contract to do nasty stuff - although in either case they're limited unless you're sending ether to it or authorising it to act on other contracts.

Absent a threat model that demonstrates why it's a bad idea, absolu

[2017-11-08 06:04] MicahZoltu commented on #719
@danfinlay Aside from the comments from @Arachnid, keep in mind that a contract can only show its _own_ signing UI.  A contract cannot define what you see when signing on behalf of a _different_ contract.  This means that if my dapp needs approval for a token, I'll get the token's approval UI and not whatever the dapp contracts would have wanted to show me.  As @Arachnid indicated, the risk is wit

[2017-11-08 06:21] Arachnid commented on #223
Anyone wanting to implement this now should bear in mind that it's not possible to write a token contract that's both ERC20 and ERC223 compliant (since the latter imposes requirements on the destination contract for token transfers that the former does not).

Further, implementations of `tokenFallback` must not trust the `from` address unless they have vetted the specific token contract sending th

[2017-11-08 08:39] holiman commented on #156
Here's my attempt at a technical implementation for amending the eip:

Create a solidity contrat with the following function

* `declareSuicidedDependency(address)`: computes `sha3` of the code at `address`. If the code equals `<tbd: code of vulnerable parity-wallet>`, add `futureTokens` corresponding to the `balance` of `address`.

Notes: Since the address to delegatecall was marked `constant`, i

[2017-11-08 14:11] zot commented on #156
What about a different type of call transaction aimed at killing contracts with suicided dependencies (something like nukeInvalidContract) that:

1. makes the call
1. if the call succeeds, does an abort (reverting any state changes because this is just a test call)
1. if the call fails because the contract delegates to suicided code, kills the contract
1. gas charges would still apply

Once the co

[2017-11-08 15:50] shawnholt commented on #156
Not trying to get political, however a thought about a pragmatic solution:

1. There should be a "cost" for this kind of blunder.  Banks charge overdraft fees, this was negligence by one party that affected many other parties.  The negligent party should have to pay (perhaps the Foundation)
2. A clear process for evaluating - POS will help - POW might do the trick.  There is already a voting mecha

[2017-11-08 16:07] flygoing commented on #156
@shawnholt

1. Enforcing this would be easier said than done, and it would be an entirely political debate as to who is at fault for such issues.

2. In my opinion it is sufficient to allow withdrawals from a contract if A. The requesting address is the address that created the contract, B. The contract contains no CALL/CALLWITH opcodes and therefore could never send ETH from itself, C. The contra

[2017-11-08 17:19] shawnholt commented on #156
@flygoing

Nate - Great point on point 3.

As for 1. I would still argue that there should be specific guidelines and there should be some governance.  We are talking about an edge case of a maturing technology.  We have a built-in mechanism for voting.  Adding this as a general case without some governance by the community could lead to unintended consequences.  I realize that voting can too but

[2017-11-08 17:25] jbaylina commented on #156
For me, the way to proceed with this EIP is:
1.- Make the accountability and determine the place to deposit recovered ETH. This depends very much on each individual case.  The main condition that must meet is:  Cryptographically proved that the ETH is burn and that the deposit belonged to the owner before the burn.
2.- Once the accountability is done and audited many times, we generate the token.

[2017-11-08 17:33] flygoing commented on #156
@shawnholt

I definitely agree that consensus and governance are important in situations such as this. Ideally a ETH weighted vote similar to that done by Carbonvote during the DAO disaster to decide on the general sentiment in the community, and then, based on the popular vote, the Foundation can react accordingly and act on the most common interest in the community.

Note: The original proposal

[2017-11-08 20:08] dete commented on #721
Upon further reflection and discussion with @flockonus, we are proposing to keep a straightforward (and therefore "unsafe") `transfer()` method. (i.e. It would work like ERC-20, and not [EIP-223](https://github.com/ethereum/EIPs/issues/223).)

Our reasoning is as follows:
 - Simpler is always better for standards. The fewer requirements, the harder it is to screw it up. (And NFTs are already compl

[2017-11-08 20:28] ryanschneider commented on #721
Is `transfer()` still accepting a single NFT tokenId?  Any thoughts on my suggestion of defining some *optional* methods to support bulk transfers?

Say I decide to sell a large portion of my NFT collection to someone else, and it contains hundreds of NFTs (or more).  Shouldn't there be a standard way to transfer `N` items atomically?

I can see the point of trying to keep the ERC simple, but am c

[2017-11-09 02:08] rkagerer commented on #156
I'm new here so take this comment with a grain of salt, but I was really surprised to learn Solidity even lets you make transactions that lock out / burn ETH (aside from some very explicit and intentional opcode).  I feel like generations of accountants learned that lesson a long time ago right before they invented double-entry bookkeeping. :-)

[2017-11-09 02:21] Montoya commented on #156
@jbaylina's proposal sounds overly complicated. If the solution to this flaw can be fixed with an upgrade, why do anything else?

[2017-11-09 06:15] DaveAppleton commented on #223
This should be more widely disseminated because I see people trying to write ERC223 contracts before we have a consensus on the standard.

[2017-11-09 13:00] tjayrush commented on #156
If the community decides to allow voting related to this issue, that voting needs to be presented in a very unbiased way. Humans read from left to right, top to bottom. Any voting instructions or voting results need to be randomized to show each side of the choice either first/last, left/right, top/bottom. The language for each option and all the results must be 100% neutral. And, very importantly

[2017-11-09 13:26] matrixator commented on #156
I realize this might not be the most popular idea, but if the community is going to vote for a HF to unstuck ETH lost by the last Parity bug, shouldn't all problems caused by Parity's bad code be solved?

I'm thinking about the first multisig hack, that affected so many legit projects... If there's a way, I think it should be done. If another small chain survives because of this, no problem...one

[2017-11-09 13:37] holiman commented on #156
I'd personally prefer to have this EIP discussion be about " Reclaiming of ether in common classes of stuck accounts", as the title says. So discuss the technical suggestions about how stuck ether can be identified, attributed and eventually recovered/reissued.

The discussion about whether this is a good idea, or if it's even something that the community wants (which is a totally warranted discus

[2017-11-09 13:43] matrixator commented on #156
understood

[2017-11-09 14:11] Smithgift commented on #156
On the subject of easy ways to fix this, would it not be simplest to use an irregular state transition to recreate the now-destroyed library, minus the self-destruct? It seems to be to be the simplest method of returning to status quo ante accidentum, at least for this specific incident.

Full disclosure: I have no ether in any locked accounts, or any other lost accounts of a type listed in this E

[2017-11-09 14:24] holiman commented on #156
If by 'this' you mean the dead parity wallet library, then I agree that technically that is a simpler solution, which also would handle tokens stuck in the wallets. This particular EIP is about a wider class of problems, though.

[2017-11-09 16:58] shawnholt commented on #156
@holiman I understand and am not trying to digress into a debate in github, however, I would appreciate a good forum where I can contribute these ideas.  reddit is unfortunately marred with way too much politics and noise, and my points are specific to this EIP.  I'm commenting to help define some requirements for a solution - that **avoids** politics but I do not have sufficient skills to define

[2017-11-09 18:28] dete commented on #721
Here is the new draft, which is basically the first "complete" draft. Any and all comments are welcome!

---

## Preamble

    EIP: <to be assigned>
    Title: Non-fungible Token Standard
    Author: Dieter Shirley <dete@axiomzen.co>
    Type: Standard
    Category: ERC
    Status: Draft
    Created: 2017-09-20

## Simple Summary
A standard interface for non-fungible tokens.

## Abstract
This stan

[2017-11-09 20:51] Arachnid commented on #721
@dete You should update the initial issue with this draft, so people coming new to it don't need to scroll through all the comments.

[2017-11-09 20:55] Arachnid commented on #223
This too. Writing immutable contracts that conform to a still-in-progress standard is a bad idea.

[2017-11-10 01:35] jamesray1 commented on #648
Sharding is internode/interdomain.
Parallelization is intranode.
intra = within
inter = between

[2017-11-10 03:11] jamesray1 commented on #35
Referenced here: https://ethresear.ch/t/the-stateless-client-concept/172

[2017-11-10 03:14] jamesray1 commented on #87
Referenced here: https://ethresear.ch/t/the-stateless-client-concept/172.

With a stateless client concept an advantage is: "All of the thorny questions about state storage economics that lead to the need for designs like rent (eg. https://github.com/ethereum/EIPs/issues/35 http://github.com/ethereum/EIPs/issues/872 http://github.com/ethereum/EIPs/issues/882) and even the current complex SSTORE co

[2017-11-10 03:14] jamesray1 commented on #88
Referenced here: https://ethresear.ch/t/the-stateless-client-concept/172.

With a stateless client concept an advantage is: "All of the thorny questions about state storage economics that lead to the need for designs like rent (eg. https://github.com/ethereum/EIPs/issues/35 http://github.com/ethereum/EIPs/issues/872 http://github.com/ethereum/EIPs/issues/882) and even the current complex SSTORE co

[2017-11-10 03:23] jamesray1 commented on #648
Referenced here:
https://ethresear.ch/t/the-stateless-client-concept/172

"A solution is to require a transaction to include a static list of the set of accounts that it can access; like EIP 6488 but much stricter in that it requires a precise enumeration rather than a range."

"The requirement for transactions to specify account lists incidentally adds a high degree of parallelizability; this is

[2017-11-10 05:12] dete commented on #721
Thanks @Arachnid: I put a link in the first comment for now, I don't want to lose the older version for anyone who wants to follow the conversation.

[2017-11-10 05:15] dete commented on #721
Does anyone have any thoughts on whether the `_tokenID` in the events should be indexed? I would think yes (it's easy to imagine that people or processes would want to watch for events relating to specific NFTs), but this comment in the [Solidity docs on Events](https://solidity.readthedocs.io/en/develop/contracts.html#events) gave me pause:

That seems... problematic...

[2017-11-10 10:30] Boydbueno commented on #747
Adding a new token can be quite a hassle for new users. By taking this away from the user the usability of many dapps will probably increase. I think that increasing the usability of dapps is very important to increase user adoption.

[2017-11-10 11:42] Arachnid commented on #721
I don't believe that's quite accurate; you should be able to retrieve the contents of an indexed event (for a fixed length type) or its hash (for string/bytes/arrays).

[2017-11-10 14:34] NoahMarconi commented on #721
Any thoughts on transferring multiple tokens in a single transfer?

We ran into this needs recently and the gas costs are making many options unfeasible.

[2017-11-10 16:58] jpitts commented on #721
For metadata, I would strongly recommend requiring a standard URI.

Perhaps consider a way to allow for linkage to the same metadata hosted on different storage networks (i.e. additional parameter specifying 'ipfs", 'swarm', or 'https'). This way the metadata has a better chance of persisting.

Additionally, instead of an external resource bundle, I would recommend using JSON-LD. This format allow

[2017-11-10 19:07] alex-miller-0 commented on #191
What about adding a `chainId` parameter here to prevent cross-chain replays?

[2017-11-10 20:55] supRNurse commented on #156
Thank you for the discussion. I certainly appreciate your efforts in regards to Ethereum in general and EIP#156 in particular.

Full Disclosure: I have a ton of Ether stranded in the zero address.

[2017-11-10 23:53] nadavhollander commented on #721
First -- greed with @jpitts on creating redundant storage of metadata on different storage networks and, more importantly IMO, being more unopinionated with respect to the data storage network.  I imagine a URI format along the lines of "swarm://XYZ" / "ipfs://XYZ" with the URI prefix specifying the specific storage network queried.

Secondly, I'm working on tokenized debt issuance protocol ([Dhar

[2017-11-10 23:55] dete commented on #721
@NoahMarconi: I'd be curious if you could share more details about your scenario. Needless to say, specific NFTs can implement any additional functionality that meets their requirements, including bulk transfers. The question is: What is the value of putting this into shared spec? I'm currently not imagining a common scenario where someone would want to bulk transfer generic NFTs.

[2017-11-10 23:56] nadavhollander commented on #721
Also -- thank you @dete for spearheading this 👍

[2017-11-11 03:24] InsidiousMind commented on #201
I like the idea of mimic-ing x86 functionality along with UNIX Opcodes. On UNIX, the process of breakpoints looks something like:

Create Breakpoint
[code]
disabling Breakpoints:
[code]
It could look similar in EVM too.

[2017-11-11 03:55] gcolvin commented on #201
It might be more useful to consider something more general like the Java Debug Wire Protocol.  The debugger asks the VM to set a breakpoint, single step, or whatever and it's up to the VM to make it happen however it likes.

[2017-11-11 06:09] InsidiousMind commented on #201
@gcolvin Huhm, didn't think of that. Definitely a potential solution, but I worry about it's extendability. Would this be more of a solidity feature, or can it be extended to apply to other languages (IE: Viper)? I'm not totally familiar with the Java Debug Wire Protocol. Would it require making changes to the VM for every language that is to be debugged with?

I think the con of doing it the UNIX

[2017-11-11 07:02] gcolvin commented on #201
It's not a language feature, it's a wire protocol that all JVMs have to implement.  It could be optional if we wanted.  I implemented it for the Oracle JVM, and we also adapted it for PL/SQL.  That way any Java debugger could be used for either VM.  Another advantage is that debuggers (Eclipse, JSwat, etc.) aren't linked to the VM, but connect via a socket.  It's stood up to years of use and exten

[2017-11-11 12:12] Dferdi1199 opened #759 "Ethereum/Eips"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-11-11 18:47] willwarren89 commented on #721
Hi @dete, great job putting together this spec.

I'm in favor of preserving `trasferFrom(...)` and removing `takeOwnership(...)` for a few reasons:

1. I believe there are/will be numerous use cases where `trasferFrom(...)` is necessary. For example, adding support for NFT tokens in 0x protocol is much easier with `trasferFrom(...)` present.
2. Including `trasferFrom(...)` increases the similarity

[2017-11-11 19:25] gcolvin commented on #201
So yes, a protocol like that would be language and VM agnostic.  It would even be possible for an EVM to pretend to be a JVM and use the actual JDWP for the purposes of debugging.  We did that for PL/SQL at Oracle.  Lining up source and bytecode might be an issue - the Java class file format takes care of that and we don't.  At worst, the tool that created the code you are debugging could keep of

[2017-11-11 21:05] pirapira commented on #759
This one doesn't make sense to me.

[2017-11-11 23:56] clesaege opened #761 "Unbounded total supply for EIP20"
On EIP 20, no condition is set on the total supply. However a lot of dapps consider that we should be able to multiply 2 balances.
I think we should require that total supply be less than 2^127 to allow dapps to assume there would not be an overflow while multiplying 2 balances.

[2017-11-12 00:14] drozdziak1 opened #762 "EIP20 wiki example could use improvements"
Hi!
**I'd like to help improve https://theethereum.wiki/w/index.php/ERC20_Token_Standard, but I couldn't find an option to register on your MediaWiki instance.**
First of all, I've found this article very helpful (thank you! :+1:) - but there is some places where the example EIP20 implementation is wasting the user's money and possibly setting a bad example, e.g.:
[code]

## My concerns
* In the c

[2017-11-12 00:23] drozdziak1 commented on #762
My bad, it seems like that Wiki runs separately from official Ethereum resources (therefore, **this issue can probably be closed**). Does anyone happen to know a contact to someone who could add me?

[2017-11-12 01:27] InsidiousMind commented on #201
@gcolvin Did some digging on this topic, and actually the functionality of mapping the bytecode to sourcecode may already exit, taken from the docs for solidity compiler:

[2017-11-12 01:43] gcolvin commented on #201
Does this mapping get stored on the blockchain?

[2017-11-12 01:51] InsidiousMind commented on #201
afaik, it does not. It's just a compiler option and outputs to another file alongside solidity code/bytecode

[2017-11-12 01:58] gcolvin commented on #201
OK.  Not so nice as what Java provides so far as debugging arbitrary code on the blockchain, but still very good for development.

[2017-11-12 03:58] dete commented on #721
Well, my motivation is to put as little metadata as possible into the smart contract. Even just storing a IPFS pointer is likely to be pretty expensive (about two words worth), and having one of these for each NFT will add up pretty darned quickly.

On the other hand, I see the value. What do you think about something like this:

[code]

Where `preferredTransport` is something like "http", "ipfs",

[2017-11-12 22:18] PhABC commented on #648
Will this create an incentive for miners to include transactions that have a small address coverage range before ones that have a larger range, since they could stack more of the first kind? Asking because this could influence how projects build their multi-contracts infrastructure.

[2017-11-12 23:25] supertyler commented on #725
@naddison36 (Re: How does someone reviewing an identity’s claims know what the claim types are?)

Because - unless I am missing something - it is recorded in the claim structure (see ERC735) and could therefore be obtained through interrogation of the chain, or via `getclaim ()` etc:

[code]

@frozeman to add to my prev comments, I've tried to re-summarise the point around privacy.

In general - I

[2017-11-13 04:16] seed commented on #615
This is a very useful proposal, especially for anything that involves decompilation of bytecode.
It would be great to have support for this proposal in the Solidity compiler.

I have a few questions regarding the variable access section.
Is the purpose of GETLOCAL and PUTLOCAL to allow writing more efficient bytecode?
Is the objective to reduce memory accesses by using the stack instead?

[2017-11-13 04:16] seed commented on #615
This is a very useful proposal, especially for anything that involves decompilation of bytecode.
It would be great to have support for this proposal in the Solidity compiler.

I have a few questions regarding the variable access section.
Is the purpose of GETLOCAL and PUTLOCAL to allow writing more efficient bytecode?
Is the objective to reduce memory accesses by using the stack instead?

[2017-11-13 04:28] gcolvin commented on #615
Yeah, it's to support local variables on the stack that are too far away to reach with DUP or SWAP.  So more efficient bytecode, and also a better target for transpiling from eWASM.

[2017-11-13 04:39] seed commented on #615
Thanks.

What is the semantics of GETLOCAL -n, when n is greater than the number of arguments specified in BEGINSUB? I'd suspect an exception is thrown in that case?

It seems that the number of return variables specified in BEGINSUB, isn't used anywhere.
According to my understanding, whenever we execute a RETSUB, the following should be true: FP - narg + nret == SP. If so, should an EVM interpre

[2017-11-13 05:08] seed commented on #615
Could you please clarify if GETLOCAL n, where n is positive, is accessing an argument or local variable? It seems that the former is true, but it would be good to be more explicit about this in the proposal.

[2017-11-13 05:35] seed commented on #615
Actually, the following is really confusing to me:

Shouldn't this be rather "set FP to SP" or "set FP to SP - n_args" because the arguments have already been placed on the stack at this point.

[2017-11-13 06:04] gcolvin commented on #615
Perhaps, Seed.  It confuses me too.  It's been a long while since I wrote and implemented this, so it will take a little study.  Getting near bedtime here, and I've got 100 miles of driving to get home tomorrow, so please be patient.  It's on my stack to do a cleanup pass and new PR for this and 616, so I much appreciate your review.  (If you read C++ your questions might be answered in the code a

[2017-11-13 08:42] 3sGgpQ8H opened #763 "ERC: Standard API for multisig wallet smart contracts"
# Standard API for multisig wallet smart contracts

This ERC proposes standard API for multisig wallets Ethereum smart contracts.

## 1. Motivation

Multisig wallets are widely-used class of Ethereum smart contracts.  Multisig wallet is a smart contract that allows a group of people to collectively own Ethereum address and to execute transactions from it.  This addresses know problem of plain Ethe

[2017-11-13 13:05] veox commented on #648
@PhABC I've pondered this in [an earlier comment](https://github.com/ethereum/EIPs/issues/648#issuecomment-310795862). The gist - it'd still primarily be determined by `gas`*`gasPrice` provided with the tx.

That is, there IMO would be no economic incentive to include `N` fully-parallelisable transactions with `G` in fees each, as compared to one unparallelisable transaction with `N`*`G` in fees.

[2017-11-13 13:32] eordano commented on #721
One thing to note: For wallets, using the `balanceOf` and `tokenOfOwnerByIndex` function might lead to race conditions where the state of owned tokens mutates while the wallet was fetching the contents. Consider adding a new function, to retrieve the full list of tokenIds, just for the purposes of queries that come from applications and not the EVM.

[2017-11-13 14:35] Arachnid commented on #763
Is it necessary to invent an entirely new API for this? Why not write it to conform to one or more of the existing implementations?

Also, personally I think the format that accepts a single TX with the signatures of a quorum of participants is a much better approach than having each participant individually submit an approval TX.

[2017-11-13 14:57] NoahMarconi commented on #721
@dete The scenario I'm looking at is IoT related tying tokens to tangible assets. The assets are low enough value that ownership transfers are likely to happen almost exclusively in bulk. Conversely, the assets are high enough value that they warrant tracking ownership provenance.

Regardless of which spec we follow, there's still the cost to update state on the blockchain for each transfer of own

[2017-11-13 15:09] asifmallik commented on #762
`balances[_to] + _amount > balances[_to]` checks for [integer overflow](https://ethereum.stackexchange.com/questions/7293/is-it-possible-to-overflow-uints) actually.

[2017-11-13 15:16] mikhail-vladimirov commented on #763
@Arachnid

Compatibility with existing implementations is surely good thing, but did you mean some particular existing implementation that has API good and generic enough to be promoted to EIP standard?

This makes it impossible to revoke signatures, and this requires owners to know each other's contact information and to communicate off-chain as in private flow described in my proposal, right?

[2017-11-13 17:47] dete commented on #721
Believe it or not, I have given some thought to tokenization of NFTs! Tokenization probably doesn't matter much for [our project](https://www.cryptokitties.co/) 😼 but it's definitely something that comes to mind when tracking tangible assets.

My primary argument against including this capability in ERC-721 is simple: [KISS](https://en.wikipedia.org/wiki/KISS_principle). 😬 I feel like the goal for

[2017-11-13 18:36] dete commented on #721
@NoahMarconi Makes sense. I would encourage you to create a (probably informal) derivative standard that extends ERC-721 with bulk transfers. Remember, ERC's don't restrict you from having domain-specific functionality!

I still maintain that _requiring_ that all ERC-721 tokens support bulk transfers isn't ideal, but I agree that if it's a likely scenario, there could be some pretty significant ga

[2017-11-13 18:39] dete commented on #721
BTW - In case my 👍s weren't obvious, the next draft will use `transferFrom` (instead of `takeOwnership`) and standard URIs (instead of multiaddresses).

[2017-11-13 18:54] Arachnid commented on #763
There's a couple of others already. I don't understand why you wouldn't pick one instead of inventing something from scratch.

I don't see this as an important feature, personally.

Yes - but we shouldn't restructure APIs around offchain coordination problems. I certainly think it's implausible that users of a multisig don't communicate with each other out of band.

[2017-11-13 20:01] mikhail-vladimirov commented on #763
@Arachnid

I think we probably could split this question into two:
1. Do we actually need to standardize multisig wallet API at all?
2. If answer to the first question is yes, should we just pick some existing API already implemented in significant number of existing multisig wallets and probably already supported by existing tools, or should we design new API?

In my opinion, answer to the first

[2017-11-13 20:13] mikhail-vladimirov commented on #763
@Arachnid

Standard multisig wallet deployed by Mist do have such feature.  Not sure how widely it is used, but at least authors of standard wallet probably saw some reason to include it.

The actual question is whether should we be restrictive about on-chain coordination, i.e. should we forbid on-chain coordination flow (which is currently default flow for standard multisig wallet deployed by Mis

[2017-11-13 23:07] 3esmit commented on #156
There is also this contract with 1000 ETH stuck on it https://etherscan.io/address/0x9fa8fa61a10ff892e4ebceb7f4e0fc684c2ce0a9
I've analyzed the problem of this contract and tried to find a solution, managed out that I've could not find a way to retrieve ether from this contract.
The problem there consists that the crowdsale was perfomed by people that + donated ETH + donated effort. The problem is

[2017-11-14 00:45] willwarren89 commented on #721
One potential issue that hasn't been discussed yet: the current ERC721 interface does not provide an easy way for other smart contracts to differentiate between an ERC20 and an ERC721. This makes it hard to write smart contracts that can handle both types of tokens. It would be ideal if the ERC721 interface included a flag `isERC721`, but it seems kind of useless as attempting to check for this fl

[2017-11-14 15:43] Arachnid commented on #763
Contract authors and users will use the approach recommended by an EIP. You cannot ignore the impact an approved standard will have on common practice when deciding how to author it.

[2017-11-14 15:47] MidnightLightning commented on #67
@MicahZoltu Why require specifically calling out "I'm going to do something simple" before doing it?  The simplest transactions would just leave off the additional, detailed parameters and the client could detect that easily:

- `ethereum:0x89205A3A3b2A69De6Dbf7f01ED13B2108B2c43e7` => "Pay address `0x8920`..." (user would have to fill in a payment amount themselves before sending
- `ethereum:0x892

[2017-11-14 16:22] footloosejava commented on #156
Not sure if this has been covered already ... If  a contract, not a user, were to send ETH to a contract that becomes terminated, does the ETH go back to the originating contract or the users that sent ETH to the originating contract? And then what if there is no mechanism for users to refund the ETH from the originating contract?

[2017-11-14 18:06] mikhail-vladimirov commented on #763
Did I get right, that in your opinion API for multisig wallet that collects approvals on-chain should not be standardized, because right approach is to collect approvals off-chain as for bitcoin multisig wallets?

[2017-11-14 18:16] Arachnid commented on #763
Reasonable people can differ on whether onchain or offchain approvals are the better approach. What I'm saying is that you shouldn't conclude you should do it one way or the other based entirely on what competing implementations would exist. Write the best standard you can and encourage people to adopt it.

[2017-11-14 18:26] mikhail-vladimirov commented on #763
I see.  Anyway, multisig wallets that collect approvals off-chain are completely out of scope for this proposal, because I didn't find elegant way to support both, on-chain and off-chain approvals collecting in one single API.  To support both, public and private flows, was already challenging enough.
I totally agree, that bitcoin-style multisig wallets that collect approvals completely off-chain

[2017-11-14 20:01] willwarren89 commented on #721
I think we can make some terminology changes that depart from ERC20 but are more precise. For example, I think it is logical that:
- each address owns a `collection` of non-fungible tokens
- each collection has a `size`

Draft interface:

[code]

[2017-11-14 22:07] alex-miller-0 commented on #763
I would very much like to see a multisig API standard, but I think this one is too complex. I recommend Christina Lundkvist's [simple-multisig](https://github.com/christianlundkvist/simple-multisig/blob/master/contracts/SimpleMultiSig.sol#L23) implementation, which has instantiation as this:

[code]

and exactly one function:

[code]

I think there is real value to standardizing an interface so th

[2017-11-14 23:14] jaekwon commented on #156
A few Cosmos fundraiser participants had accidentally sent their would-be contributions to their Cosmos address, which is a Bitcoin HD derived address.  Here's a console tool to generate one for yourself.

[code]

The address 0x4FB8FAB66EF33955F10D59B9B86183148858DBCE is not usable as an Ethereum address, but it is the byte-representation of a Bitcoin HD address, e.g. `RipeMD160(Sha256(Secp256k1_P

[2017-11-15 01:36] cbruguera commented on #223
I thought ERC223 was backwards compliant, meaning ERC223 tokens would also be compliant with ERC20, am I wrong?

[2017-11-15 02:01] 3esmit commented on #763
I think the standard API should be for "Multi-signature" transaction authorization, and should only include the methods regarding this, and the management of owners can be set to other EIP, because we can have multisigs that are not Necessarly managed in the proper way.
This EIP is related to #745

[2017-11-15 03:51] gregrebholz commented on #156
@jaekwon Unless I misunderstand, this EIP would not address the situation you've described.  The two addresses you've shown are "valid" ethereum accounts, it's just that no one apparently possesses the matching private key to control them.  There would be no way for anyone to validate that these transactions were mistakes, and not just transfers to new wallets for which someone did have the matchi

[2017-11-15 06:41] MicahZoltu commented on #223
This is hotly debated subject @cbruguera.  The author of this EIP (@Dexaran) strongly believes tokens following this standard should be incompatible with tokens following ERC20.  He arguments for each side can be found in the discussion above.

[2017-11-15 08:43] holiman commented on #156
@gregrebholz  not quite true:

@jaekwon I think that sounds like it _maybe_ could be covered - but that would assume that it's possible to go from an ethereum address and somehow calculate the corresponding cosmos address. Is that possible? Because the other route would be to submit a private key to the contract via some commit/reveal scheme, which could be messy.

However, it sounds like the suff

[2017-11-15 11:13] mikhail-vladimirov commented on #763
@alex-miller-0

I agree that such wallets that collect signatures completely off-chain are useful and it does make sense to standardize API for such wallets, though discussion about such API is out of scope in this proposal, because this proposal is about different kind of multisig wallets.

About API of Christina's wallet, it seems that the way how it prevents transaction re-execution effectively

[2017-11-15 11:15] Shrugs commented on #761
Can you give some examples of when you'd want to multiply a balance by two? I'm not aware of any, personally.

[2017-11-15 11:15] mikhail-vladimirov commented on #763
@3esmit

Totally agree, and proposed API is just the kind of API you described.

[2017-11-15 13:06] clesaege commented on #761
Simplest example:
To give a dividend.
We have n users, who have put x1, x2, ..., xn amount of tokens on a contract. The contract can keep track of its internal token balance B. The contract won G amount of tokens.
The dividend di of user i would be :
di= (xi * G) / B

Note can we can change it to di= (xi / B) * G or di = (G / B) *xi, as (xi/B) would always be rounded down to 0 and (G/B) would also

[2017-11-15 13:41] Dexaran commented on #223
This is about sophistry and terminology. As about real use cases, we should keep in mind that any service that is designed for ERC20 tokens will work with ERC223 tokens too. MyEtherWallet works with ERC223 tokens without any differences from ERC20, MetaMask works with ERC223 tokens without any difference, multisig wallets works with ERC223 tokens without any difference. This applies to any service

[2017-11-15 14:12] Arachnid commented on #223
That's not true; any service that uses `approve` will fail to work with an ERC223 token.

Further, any contract that expects to work with ERC20 tokens will also fail to work with ERC223 tokens.

Only because none of those rely on `approve` or `transferFrom` - they only require a subset of ERC20 that ERC223 also implements.

No, because the user's trust model extends trust to any contract they have

[2017-11-15 14:38] Dexaran commented on #223
That's not true. It is possible to implement `approve` functionality in ERC223 for backwards compatibility reasons so if you want to create ERC223 token that will work with ERC20-services then it is possible.

It's because of compatibility.

"Backward compatibility is a property of a system, product, or technology that allows for interoperability with an older legacy system, or with input designed

[2017-11-15 15:22] Arachnid commented on #223
Yes - you can implement a contract that supports some features of ERC20 along with ERC223. You cannot implement a contract that is fully compatible with both, though, because 223 requires calling `tokenFallback` on all transfers to contracts, and failing if that fails, while 20 has no such requirement.

As a result, a token contract will have to choose to either make that call - and fail in some c

[2017-11-15 15:31] kylerchin commented on #223
@Arachnid @Dexaran Maybe we need to rederine the ERC223 to be fully compatible, as the existing system is too much of a hassle to migrate to.

[2017-11-15 15:50] alex-miller-0 commented on #763
I don't see the design as limited by those use cases at all. Once a message is signed, it can be passed between wallets (a.k.a. second-layer applications) over http. Transactions could also be executed autonomously by your software if you have codified transfer limits and authorized co-signers.

Again, standards should be the lowest level possible. On-chain approval functions are an unnecessary (a

[2017-11-15 16:28] mikhail-vladimirov commented on #763
@alex-miller-0

This may be not obvious, but these limitations are (probably unintended) consequences of how the API prevents signed transaction from being executed more than once.  The wallet assigns sequentially incremented nonce value to every transaction being executed, and this value is a part of transaction data that ought to be signed.  So you have to know transaction nonce when you are sig

[2017-11-15 16:43] Dexaran commented on #223
@Arachnid

Let's keep in mind the following: token transfers **MUST** fail in some cases. The most common case of failure is when the receiver is unable to properly handle the transaction. This is how Ether behaves. In the case of ERC20, this is any `transfer` of the tokens into a contract.

1. `transfer` function is designed to transfer funds to someone else's address
2. `approve` + `transferFrom

[2017-11-15 16:50] Arachnid commented on #223
You cannot simply redefine any incompatibilities as bugs, and then declare there are no incompatibilities. Whether the fix is necessary or not, it *is* breaking, and you do people a disservice by claiming otherwise and letting them find out the hard way.

[2017-11-15 16:51] carver commented on #223
Cool, so we have consensus that it is not backwards-compatible, then.

[2017-11-15 16:55] Dexaran commented on #223
You can call it backwards compatible or not, but the fact is:

1. ERC223 tokens will properly work with any service that is properly designed to work with ERC20 tokens.

2. ERC223 tokens will work with input that is designed for ERC20 token.

[2017-11-15 17:05] Arachnid commented on #223
That's obviously not true, unless you're adding `approve` as part of ERC223.

I'm not sure what this is supposed to mean?

[2017-11-15 17:23] Dexaran commented on #223
OK. I had to say that you can create a token contract that will work with services and contracts that are properly designed to work with ERC20 or ERC223 tokens.

This means that for third-party services it does not matter whether they work with ERC20 or ERC223 tokens. If you are developing a service that will work with ERC20 tokens then it will also work with ERC223 tokens automatically (apart fro

[2017-11-15 17:45] kylerchin commented on #223
Then that requires a rewrite of the erc223 standard then. Backwards compatibility is essential. @Dexaran

[2017-11-15 18:04] Dexaran commented on #223
This is not true. Backwards compatibility is just a local problem of Ethereum because of ERC20 tokens. As for Ethereum Classic, UBQ, Expanse, RootStock and QTUM or anything else that runs solidity contracts the problem does not exist at all. Backwards compatibility with ERC20 should not be treated as key issue when developing a token standard if this aims to create a healthy and secure infrastruct

[2017-11-15 18:38] ebuchman commented on #156
It would not be possible to go from ethereum address to cosmos address, but it would be possible to go from ethereum public key to cosmos address, since they both use the secp256k1 pubkey. Since we can show that the address in question is the ripemd160(sha256(secp256k1_pubkey)), we can be confident no one has a corresponding private key that could actually unlock it.

[2017-11-15 19:01] holiman commented on #156
Sorry, why not? We have the last 20 bytes of keccak (pubkey) in eth address, no?

[2017-11-15 19:03] mikhail-vladimirov commented on #763
@Arachnid

Standards surely impact people, that's why standard author should be very careful and should not use his power to force other people to share standard author's personal preferences.  There are too many cases already when people use standard approach just because it is standard, while personally they don't like it and there are better approaches widely known.

[2017-11-15 19:22] ebuchman commented on #156
Yes, that's right, but we'd have to get the pubkey itself into the EVM. To be clear, the problem is as follows:

- We have `privkey` and `pubkey`
- There are funds in account with `lockedAddress = ripemd160(sha2(pubkey))`. These funds are unspendable since there is obviously no known `privkey2` such that `lockedAddress = keccak(privkey2.pubkey)[12:]`
- We could send a transaction from account `kec

[2017-11-15 20:25] shawnholt commented on #156
@jaekwon and others are bringing some variation of use cases.  The EIP refers to a "Stuck Account".  Would be helpful if @vbuterin could make the definition of stuck account a bit more crisp.

** IMO we should be very careful that this is not in any way a reversal of a valid transaction (ie. DAO use case.) **

Currently lists:
- The first case covers contracts that are accidentally created with no

[2017-11-15 20:48] matrixator commented on #156
It's a reversal of state of the network, however you look at it,  but at this early stage it's OK...as kong as we fix ALL problems caused by Parity's numerous bugs.
If we decide it's not worth the pain, because we fear that BTC maximalists will laugh because ETH is just an Excel sheet, then leave it as it is.
I hope the community has the guts, the strength and sef confidence to do what is right.

[2017-11-15 21:16] Montoya commented on #156
They have felt this way for a long time, and yet the value of ETH continues to go up. I wouldn't base the decision here on what a clearly biased, defensive group of "competitors" thinks.

[2017-11-15 22:44] shawnholt commented on #156
This is a good article on [immutability](https://www.coindesk.com/blockchain-immutability-myth/) - you can skim it as its a long read.

The point I want to reiterate is that we never rollback a valid transaction (even for theft.) Creating a function to recover stuck ETH IMO is totally different and reasonable.  As I mentioned though, with great power comes great responsibility, so I recommend cons

[2017-11-15 22:55] Arachnid commented on #156
The DAO was not a transaction rollback. Please let's a) try and focus on the topic here, and b) Use correct terminology.

[2017-11-16 01:03] dete commented on #721
If anyone is interested in seeing the source code for our implementation of ERC-721, please check here: https://github.com/axiomzen/cryptokitties-bounty/blob/master/contracts/KittyOwnership.sol

[2017-11-16 05:05] cbruguera commented on #223
I thought ERC223 was backwards compliant, meaning ERC223 tokens would also be compliant with ERC20, is this not the case?

If not, what features of ERC223 make it not "backwards compatible" with ERC20?

[2017-11-16 08:50] khovratovich commented on #763
@Arachnid

Suppose that an owner submits a transaction by mistake. If he can not revoke his approval, the transaction remains in circulation forever, and the effective threshold of the multisig wallet will be one owner smaller.

[2017-11-16 09:09] mikhail-vladimirov commented on #763
@Arachnid

I agree that transactions submitted by mistake are not a problem because such transactions will never collect enough signatures.  Actually I've never meant such scenario when I was telling about revocation as a valuable feature.  For me, usual scenario where revocation would be helpful looks like this:

1. Lets assume there is 2-of-3 multisig wallet collectively owned by Alice, Bob and

[2017-11-16 09:16] Arachnid commented on #223
@cbruguera

If you do not implement `approve` and `transferFrom` (part of ERC20 but not part of ERC223), your token will not be ERC20 compliant.

`transfer` in ERC223 must call `tokenFallback` if called with a contract as a target, and fail if the call fails. ERC20 tokens have no such requirement, so transfers to contracts that don't implement `tokenFallback` will fail.

The usual method of sendin

[2017-11-16 11:17] Dferdi1199 opened #766 "EIPS/eip-20-token-standard.md"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-11-16 12:05] holiman commented on #156
@jaekwon @ebuchman Seems to be more complicated than I thought initally. From the seed phrase pasted above:
[code]
* Cosmos appear to use compressed public keys, whereas ETH does not.
* Cosmos uses `sha3`, whereas eth uses `keccak256`.
* Eth ignores the first byte of the public key, whereas cosmos uses all.

So it's not just a matter of "add the missing 12 bytes of the sha3-hash and then do ripemd

[2017-11-16 12:06] Dferdi1199 opened #767 "thereum/EIP"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-11-16 12:11] onbjerg commented on #767
🤔

[2017-11-16 12:12] Dferdi1199 opened #768 "thereum/APIS"
https://api.etherscan.io/api?module=stats&action=ethprice&apikey=YourApiKeyToken

[2017-11-16 12:36] daniel-jozsef commented on #223
ERC20 is a de facto standard because so many tokens and wallets implement it. It's not a governance, issue, it's a convenience issue. On _every_ EVM-based platform.

As for Ether transfers failing on contract addresses, I find that design a somewhat inelegant bandaid fix for the all-too-visible "value" property on Ethereum transactions. We don't even know if it will remain once address abstraction

[2017-11-16 12:42] #766 closed

[2017-11-16 12:44] #768 closed

[2017-11-16 12:45] #767 closed

[2017-11-16 15:49] ebuchman commented on #156
Thanks for adding more details and spelling out the process. That all sounds correct except the piece about `sha3`. Where do we use `sha3` ? Also sha256 and ripemd160 are available as native contracts, so we shouldn't need to implement any hash functions in solidity. Am I missing something ?

[2017-11-16 17:03] axic commented on #55
@cdetrio can you push the "official test suite" into the EIP?

I believe it is this one: https://github.com/ethereum/eips/issues/55#issuecomment-187765837

[2017-11-16 17:11] willwarren89 commented on #721
Regarding the addition of a flag `isERC721` or `implementsERC721`: @phABC has pointed out that a more general solution to this issue has already been proposed: [Pseudo-Introspection, or standard interface detection](https://github.com/ethereum/EIPs/issues/165). I'm in favor of adopting this more general solution.

[2017-11-16 17:38] holiman commented on #156
Doh, I was confused. I'll edit it

[2017-11-16 17:53] Arachnid commented on #156
A suggestion: Perhaps it would make more sense to write a generic token contract, and implement specific subclasses of this contract for different recovery scenarios, with their own 'proof' functions.

[2017-11-16 18:19] abandeali1 commented on #721
I think it's worth considering adding a `data` parameter to all of the transfer functions, similar to ERC #223 (or at least overload the current transfer functions). Since we're creating a new standard from scratch, no reason to hold off on features.

I also want to stress the importance of having some sort of ERC721 identifier in the contract. NFTs act in a very similar way to ERC20, but they sho

[2017-11-16 21:15] alex-miller-0 opened #769 "ERC - Multi-signature standard API for Second Layer Applications"
# ERC - Multisignature Standard API for Second Layer Applications

This ERC defines a standardized API for interacting with a multi-signature account contract. This aims to be the smallest amount of functionality required to operate a multisig contract on Ethereum and is meant to be applied to second layer applications (e.g. wallets).

## API

A standard multisig contract is deployed based on Chri

[2017-11-16 21:58] danfinlay commented on #719
It took me a while, because it's a lot safer to be cautious than confident that there are no dangers, but I think I've come around. I can't see any serious issues with this anymore, I'm on board.

After seeing MoonLang at DevCon, I can see why @MaiaVictor would suggest it here, it seems like a solution to the very "untrusted DSL" question that this opening issue was asking for, and so I'm interest

[2017-11-17 08:39] jbaylina commented on #721
What about just use a standard token (ERC20, ERC223, or whatever) with a total supply of only 1 wei ?

If you want, then you just create a "Factory contract" to create assets that are mainly ProxyContracts with a simple delegate call to a library contract that just acts as template.

[2017-11-17 09:14] stskeeps commented on #769
It'd be good to have smart contracts as one of the owners of a multisig standardized as well, or at least queryable if it's supported. Think a multisig being a part owner of another multisig, for instance.

[2017-11-17 16:40] ghasshee opened #771 "EIP ( draft ) SelfDestruct Waiting List ( a Garbage Filter for Statically Referred Common Libraries )"
## Preamble

    EIP: <to be assigned>
    Title: SelfDestruct waiting List ( a Garbage Filter for 'Statically Referred Common Libraries' )
    Author: ghasshee@gmail.com
    Type: Meta
    Status: Draft
    Created: 2017-11-17

## Simple Summary

To be a common web tool, Ethereum would have various kinds of safety nets which guarantee the data, especially that of library contracts, is safely kept

[2017-11-17 17:14] flygoing commented on #771
You may want to clarify what you mean by "refer". It may be hard to define this as a contract can dynamically refer to any address and call any addresses code.

[2017-11-17 17:19] ghasshee commented on #771
Thanks. It seems to be a first good point.
And I think we can start from assume references are static and we can develop it.
Let me consider and keep advising it.

[2017-11-17 17:22] ghasshee commented on #771
Thanks. It seems to be a first good point.
And I think we can start from assume references are static and we can develop it.
Let me consider and keep advising it.

[2017-11-17 17:38] ghasshee commented on #771
I mean "referring" as "(a contract) calling (another Contract)"
Right now this could be limited to a static reference.
So the title might be modified to
' a suicide filter for Common Library which is statically called by some contracts'

[2017-11-17 17:50] ghasshee commented on #771
I added e.g. 3 ( a common library is dynamically referred )

[2017-11-17 18:09] mikhail-vladimirov commented on #771
Suicide, or politically correct “self destruct”, is one of those features that should never be there, because it breaks fundamental principal of immutability of smart contract's code.  The code of deployed contract may not be changed in general (which might actually be very useful in many cases), but may be wiped out (which is not useful at all but is actually extremely dangerous).  It also breaks

[2017-11-17 18:17] ghasshee commented on #771
I think it might be a good point since I do not know right now how to motivate that full nodes should keep the DB small in the term of blockchain. And I also think that this could be a restarting point of discussing about Garbage Collection. ( I remember someone has mentioned 'why not have GC?' before, maybe about 2 years ago. )

[2017-11-17 18:42] karalabe opened #773 "Transaction deadline for chain inclusion"
Currently an Ethereum transaction has an infinite lifetime to be included in the chain. This has a few problematic corner cases:

 * If a user signs and submits a transaction that is non-executable **at that point in time** (high nonce or low balance), the transaction may linger in some node in the network, and reappear at an **arbitrary later point in time**. This might cause unintended spending

[2017-11-17 18:50] dete commented on #165
I'd love to ensure this is easy to adopt by folks looking at [ERC-721](https://github.com/ethereum/EIPs/issues/721), but it's really not clear to me what the right behaviour is with regards to optional functions. I see three possibilities:

- The ERC-165 interface signature includes just the required methods (The sample code at the bottom of the draft spec seems to imply that this is _not_ the exp

[2017-11-17 18:51] chriseth commented on #773
I assume the BTL field to represent an absolute block number. Is that correct?

Sounds very useful.

Perhaps this could be combined with an earlier proposal by @konradkonrad that (I think) specified the (optional) hash of a certain block to be a required ancestor block. This way we could force a transaction to be included only in a certain branch of the blockchain (and also A blockchain, i.e. it s

[2017-11-17 18:53] karalabe commented on #773
Seems to be a duplicate of https://github.com/ethereum/EIPs/pull/599, will close this to keep discussions at one place.

[2017-11-17 18:53] #773 closed

[2017-11-17 18:54] karalabe commented on #773
@chfast Btw, yes, absolute block number. Hash is a bit problematic because it requires chain lookups, which will get more and more expensive as the chain grows. Also validating a single transaction all of a sudden becomes a disk DoS vector.

[2017-11-17 18:58] VoR0220 commented on #769
You know what. I finally figured out what's missing from this. This needs a modifier statement complete with the forwarding of the data from the transaction. This way type safety is also achieved within the solidity process and enables this to be extended to include swapping rules, confirmation rules, etc. There *might* also be a use for somehow storing all the signatures in memory but that's prob

[2017-11-17 19:34] gcolvin commented on #771
I have not read the detailed spec yet, just trying to get the concept, which is that if a contract SUICIDEs the suicide does not have any effect until there are no static references to the contract?
If so, does your algorithm handle circular references?  And what about static references made after the contract has committed suicide?

[2017-11-17 19:36] ghasshee commented on #771
Maybe I consider the circulation problem with `e.g.2`.

[2017-11-17 19:47] gcolvin commented on #771
OK.  I've written GCs for computer memory, but this is different, as it's automatic collection of manually deleted objects.

[2017-11-17 19:50] ghasshee commented on #771
Thanks. I just thought I should rename `preGC`.

[2017-11-17 20:01] gcolvin commented on #771
I don't think actual garbage collection, as usually defined, is possible.

[2017-11-17 20:06] ghasshee commented on #771
Did you mean that EOA also refers contracts?

[2017-11-17 20:15] gcolvin commented on #771
EOA?

[2017-11-17 20:40] gcolvin commented on #771
Right.  Garbage collection operates in a closed world, so you can know for sure that an object can no longer be referenced.  EOAs break that assumption.  The motivation here seems to be making it possible to write contracts that call other contracts with a guarantee that they won't SUICIDE out from under you.

[2017-11-17 20:48] ghasshee commented on #771
Thanks. It could sound the power word for my business.

[2017-11-17 20:52] gcolvin commented on #771
Of course other way to do that is to copy the contract you want to call.

[2017-11-17 21:01] gcolvin commented on #771
Hard fork that says after some block number SUICIDE will be an invalid instruction.

[2017-11-17 21:08] flygoing commented on #771
An anti-SUICIDE EIP does sound pretty noble, but "deprecating" SUICIDE all-together (invalidating transactions that use the SUICIDE opcode) sounds dangerous because then functions in contracts that currently work will make the transaction invalid. More realistic IMO is leaving it a valid opcode, leaving the functionality for it to forward ETH, but still have the contract be usable.

The follow-up

[2017-11-17 21:12] gcolvin commented on #771
It would remain valid for older contracts.  Resurrecting previously suicided contracts is under consideration, but it's not clear it can be made safe.

[2017-11-17 21:33] alex-miller-0 commented on #769
@stskeeps I can definitely see benefits to mutisigs being owners of other multisigs, but I worry about the complexity that requires. Contracts can't (and to my knowledge won't ever) be able to sign transactions directly. This seems dangerous for a standard, simple multisig approach.

@VoR0220 I don't follow. Perhaps it's because I'm unfamiliar with a lot of the new Solidity features. Can you provi

[2017-11-17 22:13] #743 closed

[2017-11-17 22:15] #759 closed

[2017-11-17 22:16] jbaylina commented on #165
@dete This interface does not contemplate optional functions. They are defined or not defined in the interface specification. If you define a function as part of the interface, it is included, if not then not.  You may want to define two interfaces one required and one optional, or may be you want to define one interface for each function, or one interface with a function that specifies the capabi

[2017-11-17 22:25] dete commented on #165
I see your point.

But at the same time, some guidance is not unreasonable until norms are established. At the very least, the guidance could be essentially what you wrote:

[2017-11-17 23:10] nicksavers commented on #91
@axic Is this still relevant with https://github.com/ethereum/EIPs/pull/706 **Snappy compression for DEVp2p**?
Like @gcolvin said, for storage, each client can solve this in their own way.

[2017-11-17 23:16] nicksavers commented on #72
Done in commit https://github.com/ethereum/EIPs/commit/937e5bada93a42b89d0387c5672140a773b33f92

@Souptacular Can this be closed?

[2017-11-17 23:23] Souptacular commented on #72
Yes

[2017-11-17 23:23] #72 closed

[2017-11-17 23:41] nicksavers commented on #723
This EIP has been added to Finalized on the README in commit https://github.com/ethereum/EIPs/commit/29754d7819a961abf7b0807197d24d3971baa9b8

[2017-11-17 23:41] #723 closed

[2017-11-17 23:59] nicksavers commented on #709
@pynixwang Your case seems to be covered by https://github.com/ethereum/EIPs/issues/156. If that EIP is sufficient for you, could you continue your comments there and close this issue?

[2017-11-18 03:32] bobsummerwill commented on #72
Myself, March 2016 ...

"Please yes. We should get this thread to a conclusion.
It would be great if the "Homesteaders" need never come across SUICIDE because it's gone."

It has grated on me AGAIN to see people still talking about SUICIDE in the ether-recovery gitter channel.

What exactly is still left, and why?   Please could you enumerate your understanding, @Souptacular?

Is this just a habit

[2017-11-18 03:45] tomisme commented on #771
Would it be possible to reword this EIP to use SELFDESTRUCT, 'self destruct' etc. (https://github.com/ethereum/EIPs/blob/master/EIPS/eip-6.md)

[2017-11-18 05:14] mikhail-vladimirov commented on #769
@alex-miller-0

Though contract may answer whether it has “signed” particular transaction or not.  Once contract implements method like `hasSigned (bytes32 _hash) returns (bool)`, such contract could be used as one of the owners of multisig wallet.  The wallet just need to support two kinds of signatures: “EC-signatures” verified via `ecrecover`, and “contract” signatures verified by calling `hasS

[2017-11-18 06:01] Souptacular commented on #72
Nothing is left for this one. Unfortunately we weren't able to get the EVM opcode replaced so that is why it persisted.

[2017-11-18 06:59] wjmelements commented on #35
Rent-free storage is an attractive feature in a distributed VM/application platform, but it should be more expensive, while freeing state should be more lucrative.

* An evicted contract's state can still be derived from the blockchain, which still has to be stored by every node. Denying service is inferior to providing it.
* Contract suicide should refund the recipient for the freed state, in add

[2017-11-18 08:11] nicksavers commented on #72
@bobsummerwill

It's been renamed in the yellowpaper, solidity & serpent, ethereumjs and py-evm

But not yet in most client implementations and tools
https://github.com/paritytech/parity/search?utf8=%E2%9C%93&q=suicide
https://github.com/ethereum/cpp-ethereum/search?utf8=%E2%9C%93&q=suicide
https://github.com/ethereum/go-ethereum/search?utf8=%E2%9C%93&q=suicide
https://github.com/ethereum/ethereum

[2017-11-18 08:14] ghasshee commented on #771
Thanks. I will try it.

[2017-11-18 10:43] buhrmi commented on #223
Hello, I love the idea to call a receiving contract when a transfer occurred. But why is the method called `tokenFallback`? It's not a fallback, is it? Is it too late to change the method name of the standard to something that makes more sense, for example `tokensReceived`?

[2017-11-18 11:42] ghasshee commented on #771
Just I thought that it could be suitable with ⊂ rather than with ⊆.

[2017-11-18 13:31] pynixwang commented on #709
@nicksavers OK

[2017-11-18 13:31] #709 closed

[2017-11-18 14:38] ghasshee opened #774 "EIP ( draft ) The Post Office issues Contract Notes"
## Preamble

    EIP: <to be assigned>
    Title: Post Office issues Contract Notes
    Author: ghasshee@gmail.com
    Type: Meta
    Status: Draft
    Created: 2017-11-18

## Simple Summary

Ethereum has a clear goal that we could handle much transactions without super computers and with ubiquitous laptops. But for now, we might not know how to motivate to keep the state DB size small in terms of

[2017-11-18 15:32] VoR0220 commented on #769
@alex-miller-0 It's a rather old solidity feature actually and fairly simple. The modifier would look something like the following:

[code]

Granted the call part at the end would *probably* need to be modified, but I think this makes it a tad cleaner and more extensible...also preserves type safety in the original function call.

[2017-11-18 16:20] iFA88 commented on #156
Greetings, I need also some help with 100 stucked ETH on my contract. The ETH is stucked because the contract was badly coded and I can not withdraw my funds from them.

The contract address is: `0x9122e2cfab13d30237ebeef0c0521d64bf0b06dc`
I have verified the source code too: [etherscan](https://etherscan.io/address/0x9122e2cfab13d30237ebeef0c0521d64bf0b06dc#code)
The contract is created by `0x3F2

[2017-11-18 16:45] nicksavers commented on #698
Continue discussion in PR #700

[2017-11-18 18:03] nicksavers commented on #68
@frozeman Can be closed? Or do you prefer to wait until https://github.com/ethereum/web3.js/pull/558 (**web3.js 1.0**) is merged?

[2017-11-18 18:11] christianlundkvist commented on #769
@alex-miller-0 one thing I’ve been considering is to make the

[2017-11-18 18:11] nicksavers commented on #186
@lightuponlight This EIP seems to have been superseded and implemented by #649. Does this issue still need to remain open? If not could you close it please?

[2017-11-18 18:17] Arachnid commented on #769
I would love to see an optional section, or extension EIP that implements variable membership for this system, too. In my mind that's the one thing preventing this from being generally useful for a lot of persistent multisig use-cases.

[2017-11-18 18:22] mikhail-vladimirov commented on #769
@VoR0220
I would say:

    modifier multisig (uint8[] sigV, bytes32[] sigR, bytes32[] sigS) {
      require (checkSignatures (sigV, sigR, sigS, address(this), msg.value, msg.data);
      _;
    }

Here `checkSignatures` performs the same signatures check as `execute` but then just returns check result (true means signatures are OK) instead of executing the transaction.

In this case `execute` meth

[2017-11-18 18:32] ghasshee commented on #774
So, The Post Office is the Garbage Collector.

[2017-11-18 18:35] Arachnid commented on #769
@mikhail-vladimirov This is off-topic for the spec, which only defines interface, not implementation.

[2017-11-18 18:38] mikhail-vladimirov commented on #769
@christianlundkvist

This will immediately limit usages of such library to the narrow class of simple n-of-m wallets.  I mean there will be impossible to use it in
1. Multisig wallets whose owners have different signing power, e.g. signature of senior owner counts as two signatures of junior owners
2. Multisig wallets whose full list of owners is not known to the contract, but contract may easily

[2017-11-18 18:43] alex-miller-0 commented on #769
@christianlundkvist Yes I think a static library is a good idea.

@Arachnid I see how that might be useful, but I personally would be wary of using a contract where the owners could change and/or I could be booted from ownership. Is a second layer application's ability to facilitate draining and creation of a new multisig insufficient?

@VoR0220 Are you just suggesting a modifier instead of the `i

[2017-11-18 18:48] christianlundkvist commented on #769
@mikhail-vladimirov

Yep, that was my goal with creating `simple-multisig` to begin with. I only wanted the minimum possible functionality in order to make the contract simple enough to easily audit and formally verify.

@Arachnid The main usecase I had in mind was holding ETH and tokens, in which case switching owners can be achieved by sending the ETH and tokens to a new contract.

[2017-11-18 18:57] mikhail-vladimirov commented on #769
@christianlundkvist

This is really good for those who are satisfied with functionality.  The simpler contract is the better.  The question is whether such limited functionality should become EIP standard or not.

[2017-11-18 19:20] Arachnid commented on #769
@alex-miller-0 @christianlundkvist An example would be the multisig that holds the ENS root. Multisigs that correspond to large team wallets also probably don't want to have to change address and migrate all their tokens every time team membership changes.

Given that a quorum of participants can move all the funds to a new account, it doesn't seem like a larger risk to allow that same quorum to c

[2017-11-18 19:29] VoR0220 commented on #769
I like the idea of making that an extension of this and this small portion being the base standard. Modifier being about implementation is kind of like..hrm..I guess what you'd really be arguing for is a standard library implementation? Which I think might be a better way of viewing this than a standard interface (what good does the interface do us if what's in the interface is genuinely broken?)

[2017-11-18 19:30] alex-miller-0 commented on #769
@mikhail-vladimirov Agree. I created this proposal because I think the basic interface should be extremely simple and common across all UIs even if some have additional features. This would make multisig integration easy, which would likely drive use.

@Arachnid That is a compelling use case. I don't see any reason it couldn't be extended from the basic protocol but my imagined use case (opening a

[2017-11-18 20:03] VoR0220 commented on #769
I'm beginning to think that we should view this from the point of contract inheritance layers. The point should be to practice inheritance with this being the base layer (should only focus on verifying transactions and the threshold...though that threshold bit might need to be considered further if we have to think for weighting), and then the second layer is where we standardize an interface for

[2017-11-18 20:24] mikhail-vladimirov commented on #769
@alex-miller-0

When talking about sophisticated wallets, I didn't mean that standard should require such complicated scenarios to be supported by all compliant wallets nor that standard should describe such scenarios.  I just believe that standard should not make such scenarios impossible.

For example your proposal says:

Actual standard has to define exactly how the hash is calculated, because

[2017-11-18 20:37] Arachnid commented on #769
No, I'm just pointing out that modifiers aren't part of the ABI.

I don't follow - why would your example be less safe with that functionality?

That's also out of scope for an interface specification. Bear in mind implementations may not even be implemented in Solidity.

Personally, I don't think this is a barrier to common multisig wallet use-cases.

[2017-11-18 20:44] alex-miller-0 commented on #769
I just meant it adds complexity and requires additional state/changes, which I view as generally less safe. My language was a little stronger than it should have been; I think it's fine as an option just not as a requirement.

[2017-11-18 20:51] VoR0220 commented on #769
@Arachnid I'm not sure if it is out of scope. Unless my usage of inheritance being specified was too strong, then I can see that as being out of scope. However, I guess my main point is that I'm agreeing with the sentiment that the interfaces ought to be separate, one for basic usage, and another meant to be coupled with the basic usage that carries the standard swap, remove, add functions.

[2017-11-19 00:57] #186 closed

[2017-11-19 00:57] #649 closed

[2017-11-19 05:24] zhtet036 commented on #736
Confirm

[2017-11-19 12:46] Dexaran commented on #223
I have called this function exactly as @frozeman suggested. I do not think that function name is the most important part of the contract. It doesn't matter if we call a function `tokenFallback` or `onTokenTransfer`, both will work.

It's an analogue of Ethereum's fallback function. http://solidity.readthedocs.io/en/develop/contracts.html

Fallback function is often used to handle incoming Ether tr

[2017-11-19 14:30] 3esmit commented on #769
Related #745

[2017-11-19 14:36] bobsummerwill commented on #72
Thanks for that detail, @nicksavers.  Very good to know.

But there is no technical barrier here, right?   It is just renaming work to be done in particular codebases.

And just social language policing ... like "Hey!  Please say Fire Fighter not Fireman.  You are being sexist.  I am sure there is no ill intent, but please be part of the solution, not the problem."

[2017-11-19 14:37] bobsummerwill commented on #72
Because this stuff matters.   Saying suicide all the time is NOT GOOD.

[2017-11-19 21:51] seed commented on #615
We started specifying the semantics of new instructions in Lem.
See https://github.com/seed/eth-isabelle/blob/evm15/lem/evm.lem

One of the things we noticed is that it makes more sense to setup the stack-frame with the BEGINSUB instruction because we have the number of function arguments at hand. It also makes sense when compared native assembly like x86, where the stack-frame is created in the b

[2017-11-19 22:18] gcolvin commented on #615
You ask

It pushes FP[-n] on the stack.
You also ask

Close.
I think both cases are handled by condition 3, that after the execution of an instruction SP <= FP.

[2017-11-19 22:47] gcolvin commented on #615
As for setting up the stack frame, the semantics is given as:

Execution of a subroutine begins with `JUMPSUB` or `JUMPSUBV`, which
* push `PC` on the return stack,
* push `FP` on the frame stack,thus suspending execution of the current subroutine, and
* set `FP` to `SP + n_args`, and
* set `PC` to the specified `BEGINSUB` address,
thus beginning execution of the new subroutine.

I'm not sure it m

[2017-11-20 07:37] DaveAppleton commented on #724
1) It is a bad idea to change something that is already established and has found significant use cases with non-18 values.
2) Anybody who has a valid non-18 use case would be forced to implement special logic in approve, transfer, transferFrom and all other functions to truncate to 18 dp. which strikes me as both a waste of gas and a disaster waiting to happen.
3) If people tried to transfer 0.00

[2017-11-20 12:50] VoR0220 commented on #745
Seems unnecessary for all non PoA chains.

[2017-11-20 18:01] 3esmit commented on #745
@VoR0220 I think you miss understood the reason of this. BTW, the propsed ABI is not fixed yet, I'll develop a some implementations of Permission for Identity (#725), such as DeadManSwitch, and MultiSig

[2017-11-20 22:05] GriffGreen opened #776 "Create an Estimated Gas Modifier Standard"
## Preamble

    EIP: <to be assigned>
    Title: Create an Estimated Gas Modifier Standard
    Author: Griff Green
    Type:Standard Track
    Category: ERC
    Status: Draft
    Created: Nov. 20th 2017

## Simple Summary
This is a very simple request. I would love to be able to create a modifier in solidity smart contracts that interact with the estimateGas function to suggest a default gasLimit

[2017-11-20 22:07] jbaylina opened #777 "ERC777 Token Standard"
Please, see https://eips.ethereum.org/EIPS/eip-777 for further discussion.

----

[2017-11-21 02:49] stevenh512 commented on #672
I see one problem with this, it breaks reverse resolution. I don't see any reason why the root node can't use the reverse resolver, as long as the subnodes for each interface use the public resolver. If you set the root node to use the public resolver and provide either 1) a way to transfer ownership of the root node to another address (for example the contract's owner/deployer) or 2) a way to set

[2017-11-22 01:33] tjayrush commented on #777
Was there discussion of adding a Mint/Burn pair of events and/or mint/burn functions to this proposed standard?

If this was discussed and rejected, what are the reasons for rejecting it? If it was not discussed, should it have been?

While not foolproof (because a contract may neglect to call these events), it would make the automated accounting of ICO sales for token contracts that do comply a l

[2017-11-22 10:15] tal-beja commented on #677
After an excessive research for an up-gradable mechanism for a token I think that (right now) the transferAndCall + approveAndCall is the best one, and I want to implement it on our token.
Is there any reference implementation out there or I will just create my own and share it with you after?

[2017-11-23 02:03] stevenh512 commented on #672
@jbaylina I understand I may have miscommunicated what I meant in my previous comment and also (after watching your talk about this and Yoga Token) that English is probably not your first language, so perhaps we're misunderstanding each other a little bit here.

It's not the adding of subnodes (or the requirement that those subnodes use the public resolver or some other resolver that provides `nam

[2017-11-23 07:24] jbaylina commented on #672
@stevenh512

Ah, yea I see your point!

I merged the PR.  Also note that `claimWithResolver` could be changed to just  a `claim`. It's not necessary to set a resolver for the address node.  Unless, of course, if you want to set a name for the address.

BTW, good PR! This repository may became a ReverseENS manager for contracts, instead of just an EIP672 helper!.   new name proposals for the reposi

[2017-11-23 14:36] leonardinius commented on #728
Just to drop the note, we also would like to see that as part of public (read documented) JSON-RPC APIs, also to simplify and prevent double spend issues.

[2017-11-24 12:49] frozeman commented on #725
Thanks for all the contributions and sorry for the delay, but the last 4 weeks were rather busy with devcon3 in the middle. I will try to address all the issues mentioned above.

@3esmit concerning a required approve ID:
This could certainly be also a `bytes32`, but i think a uint does the job as well, as it could be even prefixed with 10000000 or 2000000 for different approve types. E.g. key remo

[2017-11-24 15:15] Dsummers91 commented on #156
There was a reddit thread 8 months ago - [Made a 1 ether contract last year to make a token. How do I recover the ether ?](https://www.reddit.com/r/ethereum/comments/5zve4p/made_a_1_ether_contract_last_year_to_make_a_token/)

Though I am not sure which solidity version it was compiled from, it  has the same function/event hashes and the compiled assembly code seems to closely (but not exact) match

[2017-11-24 18:47] dete commented on #721
Thanks for thinking about creative solutions for this, @jbaylina!

We just went live with [our implementation](https://www.cryptokitties.co/) of ERC-721, and our users have created more than 2k NFTs in one day. I feel like issuing a new contract for each of these items would have been incredibly expensive.

But even if I'm overestimating the cost of contract creation, the _functionality_ of our NF

[2017-11-25 00:32] naddison36 commented on #725
@supertyler yes, you can get the claim type but that is just an integer. How would someone checking a claim know what claim type 34543 is? And what if the claimant changes what they think claim type 34543 is? My preference is to have an immutable record of what the claim types are.

[2017-11-25 09:08] #137 closed

[2017-11-25 09:08] #181 closed

[2017-11-25 13:17] 3esmit commented on #725
@frozenman thanks for the answer.
I think, as we are adding the key type to all add, replace and remove key, we can let MANAGEMENT_KEY account also be ACTOR_KEY or other, as on removeal we would need to set the type aswell.
For the replace would be interesting to not have type, instead move all keys in that acount to other account, or doing that when type is set to zero at replace.. Addkey and rem

[2017-11-25 13:24] 3esmit commented on #156
@Dsummers91 Lol, they can recover when they want, just call function "sell(amount of tokens they have)" in that token contract. https://etherscan.io/token/0xb9550330BfF5b4AADa6AfcBb6732442c74F80Fd7#balances

[2017-11-26 17:30] cdetrio commented on #158
Please see [EIP 161](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-161.md) for the finalized state clearing spec.

[2017-11-26 17:30] #158 closed

[2017-11-26 19:56] gcolvin commented on #615
@seed  I've edited to make clear that SP is mu-sub-s in the yellow paper, and removed the reference in the text to SP being the stack size.  The rest of the pointer arithmetic in the text is (I think) now consistent with the stack growing towards lower addresses, so that positive offsets off the stack pointer and negative offsets off the frame pointer both reach into the stack frame.  The validati

[2017-11-26 23:10] eordano commented on #721
In the spirit of standardization, I've turned Decentraland's Land contract compatible with these methods. Some notes:
* These are our interfaces for the generic implementation: https://github.com/decentraland/land/blob/master/contracts/NFT.sol
* The generic implementation can be found here: https://github.com/decentraland/land/blob/master/contracts/BasicNFT.sol
* Our particular implementation exte

[2017-11-26 23:10] RexShinka commented on #725
Pardon my noob question but how will this ECR evolve to an EIP and actually be coded.  Will the result of this be a Solidity library?  Does it need to be approved by someone, or once the dialog has settled, coding begins.  Do you have a rough timeline?

Excellent work by the way.  I am excited by where this ECR is going.

[2017-11-26 23:13] eordano commented on #721
Also, I think we should be wary of race conditions on calling `approve`, and block reorgs.

[2017-11-27 05:08] cbruguera commented on #223
What I still don't get is why wouldn't an ERC223 implement `approve` and `transferFrom` (to make it backwards-compatible). I do understand the whole motivator for this proposal was to change the apparently flawed model of these two methods (for handling of tokens by contracts). However, isn't backwards compatibility a desirable feature as well? Also, what if there's the need to implement a model t

[2017-11-27 13:09] PhABC commented on #721
@dete Do you mind updating the OP with the newest draft (published 18 days ago)? Would be easier for people to understand that that's the current specification.

[2017-11-27 15:23] Dsummers91 commented on #156
@3esmit I went through the function hashes from the [assembly](https://gist.github.com/Dsummers91/0fa2d8a41b9bdf0a0f54bdef8f24d39b) and only saw these.

0x06fdde03 - name()
0x313ce567 - decimals()
0x70a08231 - balanceOf()
0x95d89b41 - symbol()
0xa9059cbb - transfer()

The sell(uint256)  - 0xe4849b32 doesnt exist in there, unless i am missing something..

[2017-11-27 16:14] daniel-jozsef commented on #223
@cbruguera I got here in a similar search, and have ultimately decided to stay with ERC20 for all the reasons I've argued. So I'm mostly out of the ~~ERC~~EIP223 discussion.

Since you're talking about how you like contracts being able to receive token transactions, I'd like to point you to the perfectly fine and dandy approve-and-call pattern... ;) Or even, "transfer-and-call", which is a bit ris

[2017-11-28 06:30] gkratoc1 commented on #156
Back in June I stumbled upon a previously undiscovered bug (or lack of failsafe) in Metamask for Firefox which permitted me to send 12.5 ETH to 0x0000000... and I have been watching EIP 156 ever since.  I had almost accepted that the money was gone and never coming back before the latest Parity situation locked up so much more ETH than I lost, and I thought this might make this proposal easier to

[2017-11-28 07:07] neuhaus commented on #725
A provable identity provided by Ethereum would be very useful for projects such as [commento](https://github.com/adtac/commento), obleviating the need for central autorities for single signon! Consider me intrigued …

[2017-11-28 08:42] xuhcc commented on #223
@Dexaran

The original post references https://github.com/Dexaran/ERC223-token-standard/tree/Recommended as "recommended implementation". Unlike the interface from the master branch, recommended interface contains variant of `transfer` method with `custom_fallback` argument. Which interface should be considered preferrable for building a ERC223 token contract?

[2017-11-28 14:58] Dexaran commented on #223
@daniel-jozsef

Except of about million of dollars lost.

@cbruguera

Approve and transferFrom is superfluous for ERC223 because it has a transaction handling mechanism (that ERC20 does not have). Also, approve and transferFrom is a couple of two different transactions. Ethereum bandwidth is not that good to over encumber it with double transactions when it is not really necessary. We should take

[2017-11-28 16:12] stefek99 commented on #763
https://github.com/ethereum/EIPs/issues/763#issuecomment-344462036

I believe that by default multisigs should allow to change owners.

I was doing some research / reading / education and collected some links in a blogpost: https://steemit.com/ethereum/@genesisre/ethereum-multisig-wallet-interacting-with-contracts-on-behalf-of-multisig

_(we are in such early days)_

[2017-11-28 18:07] catageek commented on #130
@wighawag Instead of twisting an encrypt/decrypt scheme with the 'origin' data, I would incline to the usage of an authenticated signature stored with the encrypted data, from the eth.sign() function for example, or a HMAC. I prefer a bare encrypt/decrypt with more security around.

I wonder if it is possible to have access to more operations on the key. for example, to build a linkable ring signa

[2017-11-28 21:27] wighawag commented on #130
What do you mean by twisting? it is basically just an extra field that can be used for dapp to indicate they were the one requesting encryption (or more accurately, who is allowed to decrypt ).

The signer is responsible to ensure that other dapps which do not match the "origin" field are not allowed to decrypt the encrypted data.

Note that the use of origin on encryption does not require confirm

[2017-11-29 02:18] buhrmi commented on #223
Hi guys, I've spotted the first ERC223 contract in the wild: https://etherscan.io/address/0x22F0AF8D78851b72EE799e05F54A77001586B18A#code

They use `tokenFallback`, so I guess we don't have any other option than to come to a consensus that we should keep that name.

Based on this, I've made an example `ComptabileToken` implementation. Please take a look if you can spot any mistakes. It's supposed

[2017-11-29 13:55] Dexaran commented on #223
@buhrmi it's not the first implementation of ERC223. $MGO is ERC223. Bittrex has already restandardised their deposit contracts for the sake of ERC223-compatibility a couple months ago: https://steemit.com/cryptocurrency/@cryptocoinclub/erc223-deposit-contracts-are-now-good-for-bittrex

https://twitter.com/ramikawach/status/897496228056911872

[2017-11-29 14:15] buhrmi commented on #223
okay thanks for keeping me informed. so I'd love ERC223 be included in OpenZeppelin, but it looks like they're waiting for a "standard" implementation https://github.com/OpenZeppelin/zeppelin-solidity/issues/512 ... maybe I should just try to make a pull request

[2017-11-29 16:44] oed opened #780 "ERC: Ethereum Claims Registry"
[code]

# Abstract

This text describes a proposal for an **Ethereum Claims Registry** (**ECR**) which allows persons, smart contracts, and machines to issue claims about each other, as well as self issued claims. The registry provides a flexible approach for claims that makes no distinction between different types of Ethereum accounts. The goal of the registry is to provide a central point of ref

[2017-11-29 17:45] alex-miller-0 commented on #780
I think the submitter's identity should be recovered from a `v`,`,r`,`s` signature rather than requiring `msg.sender` be the submitter. I can imagine a claim issuer who doesn't want to interact with Ethereum, but is happy to sign a message and pass that over http. It would be good if this signed claim could be submitted by any party.

[2017-11-29 17:52] oed commented on #780
@alex-miller-0 The main reason to use `msg.sender` is to benefit from ethereums signature abstractions. This allows users to implement other signature schemes in contracts and still be able to use the registry. By having the signature verification in the registry contract itself means that it becomes less future proof.

[2017-11-29 18:28] catageek commented on #130
Hi @wighawag

Forget the point about linkable ring signature, it has nothing to do with encrypt/decrypt. It is just a thought I had when writing.

It is a good idea to have an 'origin' or something like that to define who has the right to get the plain data. There are one major issue that I see with the implementation of origin that you detail: the decryption comes before the verification of the a

[2017-11-29 19:07] nmushegian commented on #780
Aww man I liked the `KeyGraph` and `src,dst,key,val` nomenclature. Good innovation with `updatedAt` though

[2017-11-29 19:13] nmushegian commented on #780
Here's a bunch of context for people just catching up: https://github.com/uport-project/uport-registry/pull/24

[2017-11-29 19:23] DaveAppleton commented on #223
I have been seeing them for some months - which is scary when we are still debating not just the fine details but function names etc.

You will notice that no Genevieve token transfers are displayed on etherscan yet...

[2017-11-29 21:56] Dexaran commented on #223
@DaveAppleton

Maybe it's a fault of etherscan. Anyways, I think that it is better to have a token that is not displayed on etherscan than to have token with a well-known insecurity that will result in money losses for your users.

We have a proposed token standard implementation. I suppose that anyone with a willingness of implementing a ERC223 token should stick with current described details. I

[2017-11-29 22:05] DaveAppleton commented on #223
Etherscan show token transfers based on ERC20 specifications - which is why contracts such as BAT did not show the minting because they used custom events. And they are too overloaded to do half the stuff on their to-do list.
AFAIK The data portion of the Transfer function means that they are not picked up. We can have a word with them and see if they can recognise EIP223 but they may prefer to wa

[2017-11-29 22:36] Dexaran commented on #223
I tend to agree.
As for event emitting, it is possible to emit a couple of events: `Transfer(address,address,uint)` for backwards compatibility reasons and `Transfer(address,address,uint,bytes)` for `_data` logging. It will allow to get token transfers listed by etherscan.

[2017-11-29 22:48] alex-miller-0 commented on #780
@oed That make sense, but it still gives me pause because this requires every claim issuer pay gas (maybe not in the future, but for now). Seems like you could still add something like `setRemoteECDSAClaim()`. Not pretty, but I do think there are use cases that will be blocked by the gas requirement.

In any event, great use of Ethereum overall 👍

[2017-11-29 23:20] wighawag commented on #130
@catageek Thanks for a more details answer but I am not sure I get your proposal.

The key purpose of the ```origin``` field (which I agree to rename to ```access_list``` or something similar) is that it is checked by the signers, not the dapps. In your proposal the signer seems absent and as such I do not see how it will prevent other dapp from requesting the data from the user. I am not sure wha

[2017-11-30 00:48] recmo opened #781 "RFC: API method `eth_watchCall`"
I propose an API for registering any `view` function call for monitoring. Whenever the value of the function call changes, the client is notified. Much like registering for log events.

**Rationale**: This functionality can be implemented efficiently. There are use cases for monitoring contracts for changes. Events cover this, but are not available when the need to monitor is discovered after depl

[2017-11-30 02:45] rados-io commented on #223
We've been intimately following this discussion and it's a shame that since march 5th the main focus of discussion has been either

* *Why ERC223 when we have ERC20.* Honestly, with a million dollars worth of tokens burnt this shouldn't even be a question. And if you've ever tried building a dApp that works with tokens yourself you'd know how much ERC223 simplifies things.
* *Picking the prettiest

[2017-11-30 04:38] catageek commented on #130
@wighawag

I deliberately used 'We' because, in my opinion, the operations are to be distributed to different actors: the dapp, the client( Geth, Parity, etc.) and the user. it is not defined who is 'We' in each operation.

If another dapp wants the data, it will have to match the access list policy (defined by the original dapp), and this first check is made before the user intervention, and only

[2017-11-30 06:48] makoto commented on #780
@oed can you put some example use cases? For me this just look like a generic key value store contract and no specific functions to handle claim(such as validate Claim) but I may be wrong as I am not so sure what kind of usecase you have in mind.

[2017-11-30 10:00] makoto commented on #780
A comment from Pelle on Reddit has more context and use cases https://www.reddit.com/r/ethereum/comments/7gewn7/erc_780_ethereum_claim_registry/

[2017-11-30 10:26] lukehedger commented on #780
@oed - I'm not sure about this statement:

Say I want to look up all claims made by an `issuer` - I can't see that this is possible with the current contract and, although it could be added, it would be pretty inefficient. Also, if I want to look up all claims made about a **subject** - how could I do this?

Or is the model designed to be augmented by another form of storage that can be queried mo

[2017-11-30 10:27] wighawag commented on #130
This is also achieved using the simple ```access_list``` field since the signer will only show a "non authorized" popup when a malicious dapp will request to decrypt the data. There would be no popup otherwise

No that is not how it works, there is no extra "secret" involved and dapps do not require to store any extra info :

I ll just describe the flow :

imagine a Dapp :
1) its javascript file f

[2017-11-30 11:14] oed commented on #780
@nmushegian I know you do ;) But I think that `issuer, subject` makes more sense in the context of claims.

@alex-miller-0 `setRemoteECDSAClaim()` doesn't really solve the gas problem either right? Someone who is intrested in publishing the claims would still need to pay for the gas for that function call. Then they could just as easily pay for the creation of a thin proxy contract that only allow

[2017-11-30 12:00] makoto commented on #780
@oed Thank you for the clarification.

Do you expect entire Ethereum universe to put their claims into one contract (like ENS Registry contract), or each project (eg: uPort, Gnosis, MelonPort) to have their own repository like ERC20 does for their tokens?

[2017-11-30 13:07] oed commented on #780
@makoto This would be more similar to ENS where there is one central registry contract, rather then ERC20 which is just an interface. The reason for this is that the contract code itself has to be verified. In the case of ERC20 you just need to have the same interface.

[2017-11-30 15:24] Arachnid commented on #780
- Can you give example use-cases? What will this be used for?
 - Why use `bytes32` for key and value, instead of `bytes`?
 - It'd be a good idea to follow the lead of other standards, and reserve keys starting with `x-` as nonstandardised ones, while requiring a standards process for non-prefixed keys, to avoid namespace collisions.

[2017-11-30 16:35] makoto commented on #780
Should `EthereumClaimRegistry` be `EthereumClaimsRegistry`(plural)?

[2017-11-30 16:36] makoto commented on #780
If the function name is `setClaim` the event name should be `ClaimSet` rather than `ClaimAdded` ?

[2017-11-30 18:32] catageek commented on #130
Ok I get your point: you wish [same origin policy](https://en.wikipedia.org/wiki/Same-origin_policy) for the encrypted data, and my proposal looks more like [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing) because I think that there will be some needs to have cross-dapp data.

Maybe the CORS/SOP topic should be separated from the encrypt/decrypt topic.

[2017-11-30 19:42] 3esmit commented on #156
@Dsummers91 That's sad. Seems like lots of people deployed this exact contract and throwed money there. There is one like this with more then 60 ETH https://etherscan.io/find-similiar-contracts?a=0xb9550330BfF5b4AADa6AfcBb6732442c74F80Fd7&lvl=5

[2017-11-30 21:14] wighawag commented on #130
That's correct, that's where I picked the word "origin" but the main difference here is that the location of data is not relevant, hence it is not protecting "access" as such, but "decryption". Hence this scheme allows data to be stored anywhere.

I won't comment about your proposal but for ```access_list``` proposal I strongly disagree: It is important for that field to be part of the encryption

[2017-11-30 22:28] makoto commented on #780
In terms of use case, I have something similar which could potentially replace with this Claims registry

https://github.com/makoto/blockparty/blob/master/contracts/InvitationRepository.sol

The above contract manages a set of a unique code which I use to invite a participant to register my event management smart contract (more detail is at http://www.noblockno.party).

I once thought about replac

[2017-11-30 23:18] 3esmit commented on #777
What is the use of `_to` while is obvious that is the TokenFallback reciever itself (the contract `address(this)`), and why is needed `_ref` if we can store a `_ref` data inside `_data` if application needs it?

I would find better to stick to the needed stuff, such as:
[code]

Can you describe situations where `_ref` and `_to `are important, or crucial?

[2017-12-01 00:04] alex-miller-0 commented on #780
@oed My ECDSACall would solve the gas problem because someone else could submit a signed message. But you're right - this functionality could be abstracted to a second layer contract.

@Arachnid I like the use of `bytes32` rather than `bytes` because it keeps people from storing arbitrary data on-chain; obviously these would be hashes to the actual information you are referencing. There are also a

[2017-12-01 02:41] greggmojica commented on #28
Is there any update(s) on this as to when it will be implemented?

[2017-12-01 06:24] jonnyhsy commented on #223
@buhrmi , the contract you pointed out (https://etherscan.io/address/0x22F0AF8D78851b72EE799e05F54A77001586B18A#code) doesn't actually seem to conform to ERC223 standards - tokenFallback() inside ContractReceiver is just empty, it wouldn't prevent other types of tokens to be sent to this contract. In fact I could see that there's 556 GXC token stuck in this contract already...

[2017-12-01 06:45] rados-io commented on #223
yeah, that's a shame... it also has `transferFrom` for some reason, even without `approve`. So it's neither ERC20 nor ERC223

[2017-12-01 06:47] rados-io commented on #223
There's only been 9 transactions though, I'm sure they can reissue the token and make it both ERC223 and compliant with EtherScan.
@buhrmi take a look at https://github.com/rados-io/radex/blob/master/contracts/ERC223.sol and https://github.com/rados-io/radex/blob/master/contracts/Saturn.sol

[2017-12-01 07:46] MicahZoltu commented on #223
I encourage people to implement ERC20 (currently the only standard token) or whatever you want (including something that looks like this proposal).  However, everyone should recognize that by building something that looks like this you are _not_ implementing a standard, you are merely implementing what someone thinks it's a good idea.  This means you are on your own and the community may not follo

[2017-12-01 08:06] 3esmit opened #782 "Killable Models for Recoverable Systems"
## Preamble

    EIP: 728
    Title: Killable Models for Recoverable Systems
    Author: @3esmit
    Type: <Standard Track | Informational | Meta>
    Category (*only required for Standard Track): <Core | Networking | Interface | ERC>
    Status: Draft
    Created: 2017-01-12

## Simple Summary
Forwarder contracts that can be safely upgraded on selfdestruct of target contract model.

## Abstract
A

[2017-12-01 09:27] GriffGreen commented on #223
@MicahZoltu is 100% correct. This discussion did not lead to a consensus, so don't expect this standard to be followed.

But IMO if people start implementing tokenFallbacks and other pieces of this standard it will help push the standard along and we will have a drive to standardize and a better perspective on the pros and cons of some design choices.

If you are going out on a limb and innovating

[2017-12-01 13:42] fivedogit commented on #156
"the proposal is created in order to allow community discussion and debate and does not signify full endorsement"

Just adding my support for this EIP. For cases where there was an obvious mistake made (funds sent to 0x contracts, etc), reversal is philosophically no different than, say, when geth returns an error on the command line instead of preventing a mistake. While the latter prevents the m

[2017-12-01 23:38] jbaylina commented on #777
@3esmit The `_to` is because the proxy that handles the interface for a specific address can be a different contract. Please see EIP https://github.com/ethereum/EIPs/issues/672 .

For the `_ref`, this should act as a reference, for example a check number, or an invoice number. In general the ref will be set by the `operator` and the `data` will be set for the sender and will be the equivalent to t

[2017-12-02 08:12] 3esmit commented on #777
I suggest also adding a boolean return to tokenFallback, and token contract require a true return to accept transaction, in order to avoid this scenario: https://github.com/axiomzen/cryptokitties-bounty/issues/3

[2017-12-02 13:54] tjayrush commented on #156
This comment is intended solely as social commentary. I intend to point out the inherent impossibility of drawing a clear, bright line between legit recovery of lost funds and not-so-obviously-legit recovery.

There is, as of this moment, $109,018,399.22 US, "stuck" in the DAO withdrawal contract. The community should figure out which accounts this money belongs to ("all the data is easily availab

[2017-12-02 16:13] jbaylina commented on #777
@3esmit This is problematic. This function is called after the transfer is done. So returning false would mean to rollback the transfer. This can add a lot of reentrance issues, so I decided that the function ether executes or throws the full transaction.
The nice thing of this standard is that if the tokens a sent via `send` it eans the the receiver must register the interface in EIP672 way. If n

[2017-12-02 18:31] Arachnid commented on #156
I don't think constructing a straw man is a particularly good way to do that.

[2017-12-02 22:14] axic commented on #719
Wouldn’t it make sense creating a format as a successor to natspec to incorporate all this? Natspec’s aim was basically the same with the difference it operates on individial functions and cannot describe a process which involves mutliple calls.

[2017-12-02 23:26] MicahZoltu commented on #719
I think that whatever DSL we come up with can (and maybe should) be used both in NatSpec and in this.  This simplifies the number of DSLs the contract author needs to learn.  I am a little hesitant to assert an integration with NatSpec because that will change the set of stake holders involved in defining the spec, which will increase the chance of disagreement (different goals) as well as increas

[2017-12-02 23:55] MicahZoltu commented on #719
Just had a discussion in Gitter that had a result that I think is valuable to record as an example for posterity, and share with others.  The following is a concrete example of the whole process of a token transfer using a fairly simple example DSL that can do constant contract calls and reference transaction variables:

The token's transfer method would look something like:

The UI would send the

[2017-12-03 15:02] nicksavers commented on #762
@drozdziak1 message **bokkypoobah** on https://daohub.slack.com, or **BokkyPooBah** on https://www.reddit.com.

[2017-12-03 15:02] #762 closed

[2017-12-03 16:33] Asone commented on #28
@greggmojica : i guess i'ts gonna be difficult to have a date of implementation of this, as there's very few information about the implementation of EIP101.

It's not even listed in the main page of the repo unfortunately. I'm also quite interested in being able to follow the steps of development of this EIP as it is a major step for Ethereum Ecosystem.

[2017-12-03 19:14] carver commented on #719
`presentation` looks like it's missing a `10^decimals`:

Am I reading this right that the UI would send the hex address of the destination, and the signer would do a reverse lookup to display the ENS name? Since anyone can set their address to reverse-resolve to any name they choose, this spec should require forward resolution after reverse resolution, to confirm validity.

[2017-12-03 19:21] MicahZoltu commented on #719
Fixed the `10^`, thanks!  As for the ENS thing, this was meant to just be an example and assumes that `.resolve` will do all of the magic necessary to validate the name is the one the address owner actually wants displayed.  Lots of hand waving around that part, I really just wanted to show how calling some well-known-contract _might_ be done as part of a signing UI.  😄

[2017-12-03 19:30] 3esmit commented on #677
When it return false the transfer of tokens should fail. This prevents this kind of problem: https://github.com/axiomzen/cryptokitties-bounty/issues/3

[2017-12-03 23:29] seed commented on #615
Thanks for updating the proposal. It does make a lot more sense.

Note that μs growing towards lower addresses doesn't make much sense to me in the context of the yellow paper because the EVM doesn't expose stack addresses in any way.

Let me try to confirm my understanding of the proposal with an example:
[other subroutines stack frames] [arg1] [arg2] <FP is here> [local1] [local2] <SP/top is her

[2017-12-04 06:16] gcolvin commented on #615
The EVM doesn't expose stack addresses, but in 9.5 the Yellow Paper says,  "Stack items are added or removed from the left-most, lower-indexed portion of the series."  And throughout Appendix H we have notation like  `µ's[0] ≡ µs[0] + µs[1]`.  So in this proposal after, e.g.
[code]
the stack looks like
[code]
and `GETLOCAL 0` is 10 and `GETLOCAL 3` is 13.  So `GETLOCAL` can address the subroutine

[2017-12-04 11:51] oed commented on #780
@Arachnid

Right now uport uses a similar contract to store public keys of users as a simple PKI. Other than that we will use it for storing claims that needs to be read and verified by smart contracts. It could also potentially be used to revoke off-chain claims.

This was my initial thought, but it seems like retriving a claim couldn't be done by another contract then. Atleast with the current s

[2017-12-04 14:07] GaikwadPratik commented on #79
@anrodon, you might want to check https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html#ecrecover documentation. It says we can use web3.personal.ecrecover function.

[2017-12-04 16:29] stephanlotter commented on #735
@frozeman thanks for this! I'd like to see some kind of approveClaimRequest function where I need to approve a getClaim call. This will be valuable for protecting private claims like proof of address, proof of income, etc. I would not want just anybody to retrieve my address, but I would want to allow say a bank to see it when they want to verify my address. And maybe limit the number of times the

[2017-12-04 21:08] k06a commented on #725
@frozeman do you think multi-identity? Looks like we implemented this idea in a common way recently: https://github.com/bitclave/Multiownable

[2017-12-04 21:14] devinrsmith commented on #780
I might suggest another function,

[code]

such that the claim is removed iff the passed in value is also equal.

I might also consider returning the previous value on `setClaim` and the proposed `removeClaim`.

[2017-12-04 21:32] oed commented on #780
@devinrsmith What would be the usecase for those additions? (I don't have any strong feelings either way)

[2017-12-04 22:06] superphly commented on #721
Not all NFTs are positive. What if, and stay with me here, an NFT had a negative effect. With tokens, we treat them as net positives. The logic of "who would be mad if someone deposited money into your bank account" rings true. But what if that NFT was something like a debt or in the case of a game a "negative spell". Another example might be "I don't want ownership of that piece of property, I ca

[2017-12-05 02:40] gregorypro commented on #725
While I applaud the effort, I have a few observations:
1) the Identity API proposed here, is very much Ethereum-tailored, hence my concern would be regarding the universally accepted Identity API.
2) How does this work relate to uPort and other Identity efforts?  Are the companies like uPort, ShoCard, BlockAuth, ObjectTech, and so on, involved in the effort?

[2017-12-05 03:02] seed commented on #615
@gcolvin for some reason I had assumed FP = SP at entry of subroutine. Never mind, with the example it  all makes sense now, thanks. I would actually suggest adding the example to the proposal.

[2017-12-05 03:21] seed commented on #615
The proposal uses the minus sign (-) instead of the em-dash (—) symbols in a few places which can lead to confusion.
Examples:

I believe the first - should be a —. Also the syntax introduced, FP[-n], doesn't seem to be used elsewhere.

Here again em-dashes should be used.

More importantly, I believe that the default return stack value should be "code_size" and not "code_size - 1" as the latter w

[2017-12-05 03:46] damoonazarpazhooh commented on #223
Hey guys , I have been following ERC223 discussion for a while. I had a pretty tough time finding examples of implemented erc223 tokens so in the past ten days, I decided to write a set of smart contracts for ERC223 based crowdsale and also implemented an example of erc223 reciever contract ( a token safe contract ) .
I was wondering if I could get you feedback on it ( specially your feedback @Dex

[2017-12-05 04:30] buhrmi commented on #223
@damoonazarpazhooh this is really cool. Have you thought about making a pull request for OpenZeppelin? There's an open issue for ERC223 contracts: https://github.com/OpenZeppelin/zeppelin-solidity/issues/512 . If the pull-request gets approved, I believe we "kind-of" have managed to make it "kind-of" a standard