[2018-05-18 08:49] Arachnid commented on #1088
This looks like it's ready to be a draft EIP. If you agree, please submit it as a PR.

[2018-05-18 08:54] shamatar commented on #1088
Shouldn't gas cost per extra bytes also be reduced? As per [precompile code](https://github.com/ethereum/go-ethereum/blob/bd6879ac518431174a490ba42f7e6e822dcb3ee1/core/vm/contracts.go) base price is a flat fixed price, while extra price per 192 bytes is actually a price per pairing check.

[code]

[2018-05-18 09:51] holgerd77 commented on #1085
Hi, thanks for submitting this EIP, I think this could be useful to find some common ground here.

In the current format I see different problems with the data structure, which would probably hold me back to use this in production:

1) To have the hardforks added in a centrally managed/updated file makes things unflexible. If a client relies on this and would want to e.g. add some draft ``Casper``

[2018-05-18 09:57] holgerd77 commented on #1085
One thought further: I am generally skeptical if this can be provided that clients want to use/parse this "as is". It will nevertheless be helpful if this information is provided officially and from a trustful source, even if only parts are taken and/or not parsed or used directly but just copied.

[2018-05-18 12:38] Shadowfiend commented on #1088
@shamatar isn't that reflected above? The base price remains the same, the per-pairing price is divided by 15, to 5500k + 10000.

[2018-05-18 12:40] Shadowfiend commented on #1088
@Arachnid I will do so today, thank you!

[2018-05-18 12:56] shamatar commented on #1088
@Shadowfiend

Than you have a small typo in original prices, it should be 80k + 100k per pair, while you listed 80k + 10k per pair. My mistake, apologies.

Sincerely, Alex

[2018-05-18 12:57] Shadowfiend commented on #1088
Yikes! You're completely right, thanks for the catch 🙊

[2018-05-18 13:18] shamatar commented on #1088
@Shadowfiend

I’d still suggest lowering a fixed cost from 100000 down to 10000 (if you didn’t make another typing error). Having a large fixed price per call is no point as no expensive operations are done prior to actual pairing computations. So 5500 gas per element + 10000 fixed would be optional I think.

Sincerely, Alex

[2018-05-18 13:29] Shadowfiend commented on #1088
I would be super-interested in that as well; I didn't change the fixed cost because if you look at the linked benchmarks, the “empty data” benchmark sees significantly smaller (~20%) drops. Still perhaps meriting 80 000 instead of 100, but I'm not sure a 10x decrease is justified. That said, I don't see a clear articulation in the EIP-197 regarding the motivation for that constant factor, so I mig

[2018-05-18 13:59] shamatar commented on #1088
@Shadowfiend

I didn't see a motivation for a large fixed cost either, it costs virtually nothing
- check that data.length % 192 == 0
- copy bytes iterating over 192 bytes chunks

Can you add to EIP that sending 0 bytes to it should revert with a corresponding check
[code]
and set fixed price to zero? Such thing can be elaborated inside of EIP discussion.

Having fixed price is quite unreasonable

[2018-05-18 14:41] frangio commented on #721
@fulldecent @gnarco Making something `indexed` is __not__ compatible at the ABI level, at all. `indexed` event arguments are log entry topics, and non-indexed ones are part of the log data. Such an incompatible declaration of events between a contract and an application will result in all event arguments being incorrectly read, because the contract will not emit them where the application expects

[2018-05-18 15:11] adamskrodzki commented on #911
Any updates on that issue?
I see it is still open. Does it mean it is still under consideration?

[2018-05-18 15:34] mimoo commented on #721
btw [this post against erc-721](https://blog.citymayor.co/posts/why-the-standardization-of-erc-721-is-a-bad-idea/) is related, but it appears that it has been mitigated by the change of names in the final EIP.

[2018-05-18 17:51] joeykrug commented on #648
Whatever happened to this? Long ago it was slated for metropolis

[2018-05-18 18:57] #1048 closed

[2018-05-18 19:36] fulldecent commented on #721
@mimoo The author cites "deep integration" as the reason that they could not create two separate contracts to handle the ERC721 and ERC20 pieces. Also it fails to recognize any of the motivating purposes of standardizing 721. The post is not helpful, it's like reading one of those StackOverflow questions like "I need you to fix my HTML code but I'm not going to show it to you."

[2018-05-18 19:43] solidblu1992 commented on #1088
@shamatar
My comment probably isn't particularly useful for this EIP-1088 discussion, but for your 64-bit bullet proof verification did you mean 2Mgas or 20Mgas?  If 20Mgas, there are certainly some optimizations you can make to improve that number (I got it down to 7.9Mgas).

I'd recommend reducing the number of inv() function calls as I've found those to be quite gas intensive.  For instance whe

[2018-05-18 19:48] shamatar commented on #1088
@solidblu1992

I was mainly porting a prover to abstract curve and JS to be run client side, and make a protocol as itself + tools for key exchange and mixing, but yes, optimizations should be done. By the way, what do you mean under “multiplication by a power of 10 and an offset” in your implementation?

Sincerely, Alex

[2018-05-18 20:02] solidblu1992 commented on #1088
@shamatar

So I was leveraging a technique used by Borromean Range Proofs where you can supply a power of 10 and an offset which are publicly known in order to reduce the number of bits required.  For example, if I want to commit to 0.051 ETH, that's 5 x (10^16) + (10^15) wei.  So, I could do a range proof on 5 for a lesser number of bits (at least 3, but probably more), and tell the contract that

[2018-05-18 20:27] fulldecent commented on #721
@frangio Thank you for mentioning upstream.

If the application is expecting 2 log topics (plus a data item) and the contract publishes 3 log topics (plus the data) then will the application be able to get the data?

[2018-05-18 21:40] frangio commented on #721
@fulldecent Not if it was written to work with the ABI which is published in the EIP. There will be no data, and it will probably think the `_tokenId` is 0. The other event arguments will probably be read correctly.

[2018-05-18 22:41] shamatar commented on #1088
Hello @solidblu1992

While it's may be not the most appropriate place to discuss bulletproofs, I've implemented optimizations and fixed a test. Checking a proof by itself is 13 mil of gas, while the rest was coming from loading H[], G[], G and H vectors and points from storage. Out of those 13 mil around 6 are coming from multiExp in inner product proof at the final stage, and another 6 are from r

[2018-05-18 22:51] solidblu1992 commented on #1088
@shamatar

Let's open an issue on my [GitHub](https://github.com/solidblu1992/ethereum), we can talk there!

[2018-05-19 05:32] jamesray1 opened #1103 "Folders for EIPs 1-999 and 1000+ for better chronological ordering"

[2018-05-19 07:16] jamesray1 commented on #1103
https://github.com/ethereum/EIPs/pull/1104

[2018-05-19 07:16] #1103 closed

[2018-05-19 07:21] jamesray1 opened #1106 "Support anchor tags on eips.ethereum.org (direct links to sections)"

[2018-05-19 10:09] Arachnid commented on #1106
What is a "URL heading"?

[2018-05-19 10:18] jamesray1 commented on #1106
Like this: https://github.com/ethereum/wiki/wiki/Design-Rationale#principles. In any markdown document on GitHub, when you click or tap on a heading, a link will display, which you can then get the URL for, which is in the format page_url#heading.

[2018-05-19 18:17] Arachnid commented on #1106
Oh, you mean anchors?

I don't think it's possible to modify Jekyll's markdown processing to automatically add these.

[2018-05-19 21:52] mirceapasoi commented on #735
@frozeman Your top-level description still mentions `getClaimIdsByType`, I'm guessing it should be `getClaimIdsByTopic`?

[2018-05-19 22:36] fulldecent commented on #721
@frangio To be specific, I'm saying if the standard is as written but somebody deployed a contract with:

```event Transfer(address indexed _from, address indexed _to, uint256 indexed _tokenId, uint256 _tokenId);```

then what will happen from the application which is standards compliant and designed to work with a contract when it parses those logs?

[2018-05-20 03:46] k06a commented on #228
@obb Do you have plans to create aggregated ERC228 Token Changer over Bancor network? Some kind of network facade.

[2018-05-20 04:59] ivica7 commented on #911
@adamskrodzki I didn't close it yet, because I still believe it's a good idea, however, AFAIK there are no active plans to consider adding this feature soon.

[2018-05-20 13:08] montyanderson commented on #1068
@ajunge Why does `getTerms` return a `bytes32` - shouldn't it return a `string`?

[2018-05-20 23:53] void4 commented on #726
This proposal has some interesting implications, one of which is that it becomes necessary to support these calls recursively (VM executing VM executing VM... etc.). Another interesting property is this:

As of now, the EVM only supports "complete" transactions, if it runs out of gas, everything is reverted. Such an instruction could only run subcomputations with fewer resources (gas limit) than i

[2018-05-21 02:49] gitcnd commented on #777
Hi - what's the official status of this proposal?  Is it approved and/or stable enough to use yet?

[2018-05-21 08:40] phahulin commented on #780
@oed description for `removeClaim` still mentions that subject can remove a claim about self, while in implementation code it's no longer possible.

[2018-05-21 10:52] winsvega commented on #1085
Speaking of splitting the config file. I think it is not a good idea. If you split options into several different files everything will become messy pretty fast.
However you don't want to edit a large file with the genesis state.
An idea for solution of this was to allow the field `accounts` (or `state`) that contains all the state data for the genesis block to be of two types.
1) if the state is

[2018-05-21 14:30] Shadowfiend commented on #1088
Closing this in favor of the draft EIP @ #1108; apologies for the delay!

[2018-05-21 14:30] #1088 closed

[2018-05-21 15:05] frangio commented on #721
@fulldecent That is the event `Transfer(address,address,uint256,uint256)` which is completely different from `Transfer(address,address,uint256)`. If the contract only emits the former, the application will not see any `Transfer` events.

[2018-05-21 15:51] paulbarclay commented on #721
@gnarco  @fulldecent: Adding "indexed" to a parameter that's not indexed will sadly make your contract incompatible with the standard. If the ABI standard is: `event Transfer(address indexed _from, address indexed _to, uint256 _tokenId, bytes32 _example)`, and your contract does one of these four things:

1. Added Indexed to a parameter: `event Transfer(address indexed _from, address indexed _to,

[2018-05-21 16:02] ricmoo commented on #721
Agreed. The `indexed` modifier only affects dynamic values. Static values like “from” and “to” most certainly should be indexed. This is how many wallets and server side indexers determine account history for tokens.

[2018-05-21 19:33] fulldecent commented on #721
We have two potential types of changes on the table. I can support all these changes.

1. Add `indexed` keyword to `_tokenId` on the `Transfer` event. We assume that retrieving a uint256 (`_tokenId`) value is possible in the same way that retrieving the addresses is [currently demonstrated](https://etherscan.io/address/0x6731560e455537c9f088ea02a47a0ecfa28a9231#events). **Can somebody please demon

[2018-05-21 19:46] frangio commented on #721
:+1: to 1. and 2.

:-1: to 3. The problem is not MUST vs SHOULD, it is the arbitrary 50k limit as @spalladino mentioned above.

[2018-05-21 20:49] paulbarclay commented on #721
Here's an example for #1 and #2: https://kovan.etherscan.io/address/0x6fa01197c1ac1c2b7cebc65d2963c2699e2129c5#events

[2018-05-22 01:01] hayyudin commented on #827
I still not understand what it means, but can I use wallet erc20 to recieve erc827?

[2018-05-22 01:02] elie222 commented on #827
Yes

On Tue, 22 May 2018, 04:01 hayyudin, <notifications@github.com> wrote:

[2018-05-22 18:12] gitcnd opened #1111 "Introspective metadata definition disclosure (discussion to establish a standard)"
# Introspective metadata definition disclosure (discussion to establish a standard)

## Simple Summary

It is becoming increasingly important for metadata that's parseable on and off chain to be included in transactions.

This is a discussion about proposing a standard whereby authors can publish the definition of their metadata, allowing arbitrary 3rd parties to understand and use it.

The genera

[2018-05-22 18:40] 7flash commented on #998
It looks that ERC-998 is perfect fit for intellectual property tokens. For example, parent contract could reflect the ownership of education course of author. Children tokens could reflect the copies for students. If there is any issues?

[2018-05-23 04:34] bharathrao commented on #725
Good work and great to see one implementation already.

Im late to the party but I suspect the lack of clarity is because this is solving the wrong problem. The right problem to solve is **sybil resistant decentralized claims**. Since no one has solved it yet, this seems to be an attempt to take _centralized claims_ and put it on the blockchain.

Any identity that requires some authority (ie govt)

[2018-05-23 05:44] mattBlackDesign commented on #1068
@ajunge Why does `event Begun` have the argument `requiredCapital`. This assumes that borrowers request a loan before a lender offers.

[2018-05-23 13:52] madhavanmalolan opened #1115 "ERC 1115 : Decentralized user authentication standard"
[code]
# Simple Summary
This is an authentication mechanism like _"Login with Facebook"_ and _"Sign in with Google"_ that is completely decentralized and helps DApps authenticate users.

# Abstract
DAuth is a specification for an alternative to OAuth that allows DApps to accept user logins in a completely decentralized way - helping the DApp acertain the Ethereum address owned by the user. This lo

[2018-05-23 13:59] kyriediculous commented on #777
No because it's plagiarism

[2018-05-23 14:00] kyriediculous commented on #827
You fail to implement #223 while implementing #667
transferFrom and approve should be abolished

[2018-05-23 14:29] ukstv commented on #1115
How is it different from OpenID? What is the point of the contract here?

[2018-05-23 14:41] mattlockyer commented on #998
Slightly different take on IP licenses in this post:
https://medium.com/coinmonks/crypto-composables-building-blocks-and-applications-65902709298c

On Tue, May 22, 2018 at 11:40 AM Igor Berlenko <notifications@github.com>
wrote:

--

https://medium.com/@mattdlockyer
https://twitter.com/mattdlockyer
https://linkedin.com/in/mattlockyer

+1-778-686-2625

[2018-05-23 14:45] mattlockyer commented on #998
@mg6maciej I'm going to be adding the callbacks and events soon to the implementation

I know you're but syncing on the composables instances + registry will be crucial, let's touch base about this next week.

If anyone has any feedback on how to interop a global composable NFT registry with individual instances of Composable 998 (721 extended) please feel free to chime in!

Also there is a Discor

[2018-05-23 15:42] madhavanmalolan commented on #1115
OpenID is a centralised solution and requires one to trust the open id
foundation

From OpenID website :
"foundation serves as a public trust organization representing the open
community of developers, vendors, and users."

The use of the Smart Contract is that it links the public key to the
ethereum address - which in turn is used to generate the cipher to do the
verification.

On Wed, 23 May 201

[2018-05-23 21:16] jbaylina commented on #777
@gitcnd In few days, I expect that reviewers will do a "LAST CALL" and if no issues are raised, it will be approved officially.

[2018-05-24 03:00] EvilJordan commented on #1115
The example of Cryptokitties requiring MetaMask only is incorrect. Any web3 provider works as Cryptokitties uses message signing to verify accounts. I don't see how this EIP is an improvement over message signing, something widely understood and already built-in to every client.

[2018-05-24 04:31] madhavanmalolan commented on #1115
Apologies there, by referring to MetaMask, I meant it as an example of a web3 provider. Though signing with MetaMask is free of gas, there are the following issues.
- users still need to install an extension to enable web3 on their traditional browser. Though it is easy to install, it is not necessarily available on all platforms. Consider the case of accessing the dapp from a mobile application f

[2018-05-24 04:53] madhavanmalolan commented on #1115
@ukstv The difference from openID or any OAuth provider is that anybody can set up a server that authenticate _only_ them if they want. That doesn't require any permission or certification as is the case with OpenID.
Functionally it is similar to OAuth and he ce OpenID. The governance is the only improvement when compared to OAuth.

Other improvements are over existing authentication that exist as

[2018-05-24 08:31] yuzushioh commented on #1115
Since Dauth servers store the users' private keys in their databases, could they pass through the verification step and log in to dapps that those user's are using if they were malicious? Is there any way for end-users or others in the network to check if servers are acting right, and to penalize them for their behaviour?

[2018-05-24 09:56] madhavanmalolan commented on #1115
@yuzushioh That is a very good question!
In the design i assumed the DAuth server to be acting on behalf of the user anyways. If one doesn't trust the servers out there, they should host one themselves.

Google can signin on your behalf on any website too, in a way.

This model focusses on giving an opportunity to the users to not trust a central authority and set up their own servers without comp

[2018-05-24 16:28] yuzushioh commented on #1115
In this sense users have to host their own server in order for them not to trust anything centralized.

It is true that this model gives an opportunity for users to handle their own actions by themselves, but I think it is far from possible for most of people to host their own servers. It may need more considerations about this.

[2018-05-25 23:31] cypheron commented on #861
Hashrate growth has come to an end with lost interest in ETH. The groundwork for the used argumentation is no more. Consider the issue resolved.

[2018-05-25 23:43] paulhauner commented on #235
You could use `ecrecover` to infer your current chain ID, without needing to expose an opcode. You can get some known good signature and then mutate the chain id component of `v` (from `v, r, s`) and test whether or not if failed. If it fails, you're not on that chain. See [here](http://solidity.readthedocs.io/en/latest/units-and-global-variables.html#mathematical-and-cryptographic-functions) for

[2018-05-26 11:26] jacquesd commented on #777
@nicksavers @chompomonim Thank you for your feedback, we agree: the `send` overloading has been removed from the standard. This means empty bytes must be passed to `userData` explicitly when using send "without" `userData`.

@fulldecent The [reference implementation](https://github.com/jacquesd/ERC777/blob/master/contracts/examples/ReferenceToken.sol#L4) is now based on [Solidity 0.4.21](https://g

[2018-05-26 15:34] kyriediculous commented on #777
Anyone approving this ludicrous standard is out of their mind. It's bad both in code and semantics.
THis is just two people from the likewise terrible Aragon project trying to push their agenda onto the ethereum community.

[2018-05-26 15:48] mcdee commented on #777
@kyriediculous #223 and #677 build on top of #20, as does this.  The idea is to create something better and to fix some of the obvious problems with #20.

#223 and #677 provide some pieces, but this (in my opinion) gives a more comprehensive solution and, very importantly, introduces the ability to extend functionality for both senders and receivers.

And it is irrelevant where the people who are

[2018-05-26 16:02] kyriediculous commented on #777
20 comes before 223, 677 comes before 777 . 223 comes WAY Before 777.
That's how numbers work... not sure if you knew.

If this Aragon team is so concerned with the larger ethereum community then why not build on the existing proposals tackling these issues; Instead they try to push entirely new EIP's that are just blatant copies with changed names for marketing purposes and some kind of agenda.

[2018-05-26 16:36] mcdee commented on #777
#223 fixes a single issue in ERC-20 in a way that is not backwards-compatible with ERC-20.

#677 adds a single function to ERC-20.

Neither provide the functionality provided by operators or by using a registry for `tokensToSend` and `tokensReceived`.  Attempting to splice these features in to existing proposals would take significant time and effort, and would result in pretty much what is presen

[2018-05-27 14:30] johnhforrest commented on #900
Is it intentional that `stakeFor` essentially transfers your tokens to another party? I know the standard calls out SHOULD, but both the Stakebank and Aragon implementations do this. If I stake on behalf of someone else or on behalf of another application there's no way for me to get those tokens back.

Maybe something like `unstakeFrom` is needed where users can dictate which stake they are tryin

[2018-05-27 15:17] decanus commented on #900
@johnhforrest Our definition is currently that method, I find it dangerous if you can stake for someone but then also stake those tokens you have staked. Could lead to some weird issues, I think. Of course if you need it differently you could do so in your own contract. Additionally you could limit ```stakeFor``` to only allow the ```user == msg.sender```. There is a Stakebank implementation that

[2018-05-27 15:50] crowdedconscious commented on #998
Very interesting work Matt! Following your progress closely - keep it up.

[2018-05-27 16:01] johnhforrest commented on #900
I don't think having an `unstakeFrom` implies you could stake the same tokens for multiple accounts—once you've staked tokens they are transferred to the staking contract.

That being said, I do agree that something didn't feel quite right in the implementation I was writing where users could stake multiple times. I've added some logic now that each address staking tokens can only have a single st

[2018-05-27 17:46] StardustCrypto commented on #809
@pabloruiz55

Would this line be exploitable?
``if(rentalElapsedTime() < minRentalTime){
            fundsToReturn = (rentalTotalTime() - minRentalTime) * rentalPrice ;
        }``

I think by your dev tag that the the greater than sign should be the other way around. Especially since this is mandating an overflow at the moment ;) which would lead to some very bad things when sending the transfer

[2018-05-27 17:47] k9thebeast commented on #809
@pabloruiz55

Would this line be exploitable?
if(rentalElapsedTime() < minRentalTime){ fundsToReturn = (rentalTotalTime() - minRentalTime) * rentalPrice ; }

I think by your dev tag that the the greater than sign should be the other way around. Especially since this is mandating an overflow at the moment ;) which would lead to some very bad things when sending the transfer back to the user.

Sorry

[2018-05-27 22:56] decanus commented on #900
Sorry, there was an error in my response. I meant unstake.

[2018-05-28 16:39] xiaoping378 commented on #225
@karalabe i see the miner addr is 0x0000000, and i found the coinbase is to use show the voted-addr ?
why change this ?

[2018-05-28 21:55] jaycenhorton commented on #930
Is there any reason you are taking a bytes32 for every get/set function? Why not just have the contract perform the `keccak` function?

IE
[code]

[2018-05-29 00:53] scastillo commented on #721
hey guys how do you collapse text here on gh markdown?

![image](https://user-images.githubusercontent.com/170664/40632842-cc349cba-62b0-11e8-8aff-6cdc25d020bb.png)

[2018-05-29 01:03] mudgen commented on #721
@fulldecent I think that tokenId should be indexed in the Approval and Transfer events. Will the standard be updated with these changes?

[2018-05-29 06:06] juli opened #1121 "EIP-1191: Extend EIP-55: Add chain id to mixed-case checksum address encoding"
[code]

## Simple Summary
This EIP extends EIP-55 by optionally adding a chain id defined by EIP-155 to the checksum calculation.

## Abstract
The EIP-55 was created to prevent users from losing funds by sending them to invalid addresses. This EIP extends EIP-55 to protect users from losing funds by sending them to addresses that are valid but that where obtained from a client of another network.F

[2018-05-29 17:05] johngriffin commented on #948
Hi all,

@Davidkobro and I have started work on an implementation based on @sb777's spec.  Doing this has raised a number of questions and decisions that need to be made.  I’ve pushed the code in it’s current incomplete state here, at the moment the core functions createSubscription() and processPayment() are in a working state dealing with periodTypes of seconds only.

https://github.com/johngrif

[2018-05-29 17:52] gnidan opened #1123 "ERC-1123 – Revised Ethereum Smart Contract Packaging Standard"
# Revised Ethereum Smart Contract Packaging Standard

**Read**: [EIP Draft](https://eips.ethereum.org/EIPS/eip-1123)

## Summary

A data format to describe a single package for distribution with the Ethereum Package Management system (EthPM). This supersedes [EIP-190](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-190.md).

## Notes

Alternate formatting for the EIP submission in correspond

[2018-05-29 20:39] chrismessina commented on #725
Small typo in Rationale section: "cross **idenity** compatibility".

[2018-05-30 01:41] James-Sangalli commented on #875
Here is an example link that uses the standard: https://app.awallet.io/AJiWgGhh6nmmaj8IBoF06PAFESqLLHpQeoIjNQZTftbzkBzkhVw8h7dsVi3lK30zDQQHGJyJKGJavooHfyxh9ZNvcIAk4mzAO9fjjGmt8xyylxsnWdVfZr48rG1PHA==

Our protocol allows you to transfer and sell links via URL's like this. The parameters for the trade function can be parsed from this link and plugged into the trade function.

[2018-05-30 06:33] nathantr commented on #948
Wanted to add thoughts to @johngriffin's points above, also have the same question @sb777 on best way to collaborate on the spec?

- Agree that there's a deeper topic here around what variables a subscriber might want to set and be in control of when creating the subscription.  Although the merchant initiates the creation, this is with data from the subscriber and so we should be cognizant of what

[2018-05-30 12:37] gleissonassis commented on #865
I'm trying to use this pattern in my project but I'm getting error so I've checked if the recovered address from the signature was the same and I got different results. Is there something wrong with this piece of code?

[code]

Variables sent to the function:
[code]

I'm getting these results:
[code]
But if I try use this the values are the same:

[code]

[2018-05-30 15:46] fulldecent commented on #721
Ping: @spalladino @frangio @paulbarclay @TCOA @dete @ricmoo

50,000 removed in https://github.com/ethereum/EIPs/pull/1125

[2018-05-30 17:50] bwheeler96 commented on #170
Disregard, I actually effed this up in a different way :(

[2018-05-30 19:29] RobertMCForster commented on #865
@gleissonassis This is likely because web3.eth.accounts.sign is using the [ERC191 signing prefix](https://github.com/ethereum/EIPs/issues/191) whereas the original Solidity is not (I assume the ethUtil that was used in the lgalabru implementation doesn't use the prefix).

Check out the 3esmit and bokkypoobah implementations above to see what they do with the prefix. We've also got a full and audit

[2018-05-30 22:08] wanderingstan commented on #725
At Origin we just released a new version of our DApp that includes ERC725 for identity. It will deploy the user's identity contract, and submit verified claims for email, phone, Facebook, and Twitter. @nick extended his Identity Playground code and the rest of our team built out the attestations and UI/UX.

The DApp is live at [demo.originprotocol.com](https://demo.originprotocol.com) or [via IPFS

[2018-05-30 23:16] shrugs commented on #865
uport's MetaTx from ages ago seems relevant here for some prior-art/context: https://github.com/uport-project/uport-identity/blob/develop/contracts/TxRelay.sol

[2018-05-31 11:45] gleissonassis commented on #865
@RobertMCForster i've changed the recover method to add the prefix:

[code]

And now is working fine, but I will read the code you suggested to find a better way to solve this issue.

Thanks!

[2018-05-31 14:13] kosecki123 commented on #948
@johngriffin I came accros this library https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary from @bokkypoobah

[2018-05-31 20:19] quantumproducer commented on #1115
I agree with @EvilJordan - I'm not following the benefit here.

Having users sign a message and decrypting serverside with something like eth-sig-util is an easy to use, gasless flow. I made a Javascript wrapper around doing just this:

https://www.npmjs.com/package/eth-auth

which exposes a single function, authenticate, letting a server pass in a userID (for their database), the claimed Ethereum

[2018-05-31 23:03] mudgen commented on #721
@fulldecent is the 50,000 gas comment going to be removed?  It is still in the standard.

[2018-06-01 00:37] pet3r-pan commented on #725
Is there a reason struct:

struct Key {
    uint256[] purposes;
    uint256 keyType;
    bytes32 key;
}

Doesn't have a nonce or a unique identifier?

[2018-06-01 06:19] conejoninja commented on #725
@pet3r-pan the key itself should be your unique identifier, and you could use a mapping for direct access.

@wanderingstan wow, really nice, I'd like to see and example of not only claiming that "i have an email", but "this xxx@xxx.xxx is my email". Are you working on something similar?

[2018-06-01 12:58] ritzdorf commented on #827
We wrote a blog post, how replacing ERC20 with ERC827, can lead to unexpected reentrancy attacks:
https://medium.com/chainsecurity/why-erc827-can-make-you-vulnerable-to-reentrancy-attacks-and-how-to-prevent-them-61aeb4beb6bf

The example is an OpenZeppelin Crowdsale. Feel free to give feedback.

[2018-06-01 13:19] k06a commented on #827
@ritzdorf looks like you successfully shooted in your own leg.

[2018-06-01 13:20] ritzdorf commented on #827
@k06a Why?

[2018-06-01 13:59] k06a commented on #827
@ritzdorf because using `transferAndCall` absolutely not needed to be placed in `_deliverTokens`. Really I don’t know where `transferAndCall` should be used – the main gem of ERC827 is `approveAndCall` which allows to chain ‘approve` and `transferFrom` calls from `account address` in a single transaction. To deposit smart contracts with tokens in a single tax.

[2018-06-01 14:49] ritzdorf commented on #827
@k06a Thanks for the clarification.
1. Given that potential use cases of `transferAndCall` are unclear, I see the value of our article in clarifying how it should not be used.
2. Similar issues apply to `approveAndCall`, however, given that this functionality does not exist in ERC20 (as you said), we would have had to construct an example with vulnerable code to use it. If you have concrete cases,

[2018-06-01 16:45] rumkin opened #1127 "Split ERC-20 contract into token, token registry, ICO and ICO registry"
[code]

I have several theses:
1. ICO is one time action. When it ends there is no need to let it to stay into blockchain as active entry and it could be killed.
2. ERC-20 interface itself have very predictable and strict behav and there is no need in special custom code to make it work. Any custom behavior should me moved out of that contract.
3. There should be registry like ENS to register toke

[2018-06-01 18:14] fulldecent opened #1128 "Add mission statement"
Presently the ethereum/EIPs project does not have a mission statement.

---

<strike>Recently something changed and now the majority of EIPs here have no path to become "final" standards. Pull request #1100 addresses that issue.</strike>

However, one of the EIP editors (the people with commit access here) mentioned that #1100 is not urgent. There are no remaining complaints on #1100, it has EIP e

[2018-06-01 19:30] fulldecent commented on #721
If anybody is wondering why ERC-721 is not marked final yet, the reason is because the process to mark standards as final has been removed. Previously, the core dev team was an authority that could mark ERCs as final. And last week they no longer want to do that.

I have proposed a community-based two week "Last Call" process that is new way forward for marking standards as final. Idea is stolen f

[2018-06-01 21:13] stevenlcf commented on #223
As for ether based contracts, we can implement payable functions which can not only accept ethers but also receive **multiple** variables to construct internal logic and codes. Users can call these functions to transfer funds and variables. I was wondering if I could do the same thing (send both funds and multiple variables) with EIP/ERC 223?

I know there is a `bytes` variable transferred to the

[2018-06-02 18:06] #228 closed

[2018-06-02 19:56] nitika-goel opened #1132 "Extending ERC20 with token locking capability"
[code]

## Simple Summary

An extension to the ERC20 standard with methods for time-locking of tokens within a contract.

## Abstract

This proposal provides basic functionality to time-lock tokens within an ERC20 smart contract for multiple utilities without the need of transferring tokens to an external escrow smart contract.  It also allows fetching balance of locked and transferable tokens.

T

[2018-06-02 20:17] k06a commented on #228
@obb why closed?

[2018-06-02 20:18] k06a opened #1133 "ERC1133 Token Standard (deriving ERC20 token and nesting ERC20 tokens)"
[code]

## Simple Summary

An ERC20 abstraction to aggregate multiple ERC20 tokens, also recursively.

## Abstract

This standard allows software to inspect multitokens nested tokens and allows to mint/burn them.

## Token

### ERC20 Methods

All usual ERC20 methods.

### ERC1133 Methods

**tokensCount - ERC1133**

[code]

The number of tokens inside this multi-token.

**tokens - ERC1133**

[code]

[2018-06-03 07:47] davesag commented on #1132
@nitika-goel I like this.  I was just about to sit down and write an extension to [ERC-884](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-884.md) to add time-locking in order to introduce Reg-D compatibility.  Your proposal handles this quite elegantly.

In your reference implementation I don't understand line 67. I would have expected the 'purpose' to be a bytes32 or string to provide an

[2018-06-04 09:22] nitika-goel commented on #1132
Thanks for your views @davesag.

### Explaining line 67
The purpose of line 67 in implementation sample is to ensure that tokens are only locked for utilities allowed by a dApp. The variable `locked_for` is the number of utilities for which a token can be locked (apologies for the bad variable naming). So for example, if a dApp allows 2 utilities i.e claims assessment and governance, then `locked_

[2018-06-04 09:28] davesag commented on #1132
Hi @nitika-goel — I've submitted a PR for you for your reference implementation with some general code cleanups and some tests, hope you find it useful. I think the `bytes32` idea works better.

[2018-06-04 15:12] pipermerriam commented on #1123
An explicit 👍 from some of the various teams and projects which have either been involved in the creation of this spec, or who have worked specifically on software that is likely to leverage this spec would be a good signal.  Here is a non-exhaustive list.

- Embark maintainers
- Remix maintainers
- Andy or someone from Maker/Dappsys
- Truffle folks
- Populus (me, nick, or @davesque)

Please add n

[2018-06-04 20:55] chompomonim commented on #965
@syakunin thanks for your comments. Trying to address all of them.

As you can see I'm not updating balances manually and using `Sent(msg.sender, signer, _to, _value, _data, '');`. `callRecipient` have to be done ininside `Send` function anyway.

Fixed, thanks.

Good point. Having possibility to skip some cheques in terms of saving gas (while taking some risks as well) is quite good idea. I was al

[2018-06-04 20:59] chompomonim commented on #965
@ptrwtts thanks for pointing into #865. Idea of offering a fee (to motivate oracles) sounds very interesting. I also wanted to accept this proposal, but it pushed me to rethink of how it should work to be in spirit of ERC777 and not ERC20. In next comment I'm going to add update of this proposal.

[2018-06-04 21:18] chompomonim commented on #965
This is update for original proposal and if nobody will find any critical issues with it, I'm going switch original #965 description into this one.

-------------------------------
## Preamble
[code]

## Problem

The problem of tokens spending is that token owner have to have ETH in his account to pay for gas. So it's impossible to have pure token account. Even in ERC777 (#777) where you can have

[2018-06-04 22:09] shrugs commented on #965
This functionality could/should be implemented as a `SignatureBouncer` (https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/access/SignatureBouncer.sol) which is designed to solve exactly these sort of "gassless" operations.

This sort of "verify function call parameters" feature is pending as part of https://github.com/OpenZeppelin/openzeppelin-solidity/pull/973

[2018-06-04 23:10] shrugs commented on #1127
Most crowdsales are already abstracted from the token (see: OpenZeppelin). You can optionally extend the [FinalizableCrowdsale](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/crowdsale/distribution/FinalizableCrowdsale.sol) with an option to destroy itself once it's been finalized.

Registering token names is probably not the job of a standard, and very much gets into

[2018-06-05 09:09] meronym commented on #965
@shrugs If I understand correctly, with the bouncer model everyone can send txs, but a selected few bouncers can sign the allowance. In the model proposed here, everyone can sign a cheque (to allow spending on their behalf), and anybody can redeem (in practice there are use cases when only a few addresses will redeem - see my example above with one-time addresses - but that's not explicitly constr

[2018-06-05 15:09] fulldecent commented on #1128
Also, to be clear: EIP is ///NOT/// a governance process. It is ///NOT/// a referendum process. It is a documentation project.

[2018-06-05 15:58] Arachnid commented on #1128
Uh? What changed?

[2018-06-05 16:33] fulldecent commented on #1128
Core Devs removed themselves from ERCs. But of course that issue is resolved now.

[2018-06-05 16:35] fulldecent commented on #1128
First draft mission statement:

[2018-06-05 16:59] MicahZoltu commented on #1128
I'm not a fan of that mission statement.  I have argued many times in the past that EIPs are not the place to document your best practices.  Use a blog, write a book, tweet about it, etc.  EIPs are for standardization, when standardization is necessary.  Just because you have a good idea or a good design pattern doesn't mean you need a standard.

[2018-06-05 17:52] wanderingstan commented on #725
@conejoninja - We're treading carefully on how/if to store and represent personal data that has been verified.  @nick can give a better idea, but our working plan now would be to store hashes of the data. That way an email (or phone, address, etc) can be verified by future parties without publishing it on blockchain/ipfs. Or cross referenced, e.g. you can prove that the email you verified is the s

[2018-06-06 00:10] bharathrao commented on #725
@wanderingstan Its trivial to hash known emails and associate known emails to blockchain identities.

How do you deal with the fact that phone numbers and emails can change owners or be hijacked and the blockchain may not be notified? How do I actually trust that the verifier has correctly verified any of the attributes?

Another question is why do even hashes need to be stored on the blockchain a

[2018-06-06 05:35] conejoninja commented on #725
@wanderingstan I understand we are interested in some feedback and ideas how to do it, and/if this standard is suitable for it. Let's imagine an user is buying something online, the seller will want to know the user's *verified* address, the user could have one verified address and give the seller a different one, so the seller needs to check it's the one which was verified. You either store the a

[2018-06-06 07:58] shrugs commented on #965
Sure! I should have elaborated more, sorry. The model would definitely be different than the "off chain whitelist" approach that Signature Bouncer takes, but the concept of "sign a permission for taking a future action is certain arguments" fits in well. Perhaps a `ChequeBouncer` that verifiers amounts and signers?

It would be something like

[code]

The "gassless tx with Operator" pattern is als

[2018-06-06 08:31] MicahZoltu commented on #777
@mcdee There are other ways to implement all of the things you mentioned in the calling contract.  One way is to provide limited gas and use `.call` and look at the result (not the return value).  Another is to check before hand if the call would succeed (e.g., see if the timelock is up) and branch based on that.

I'm personally pretty firmly in the camp that "succeed or fail" is a great risk redu

[2018-06-06 08:35] MicahZoltu commented on #777
Note: Your comment about not getting details about _why_ a transaction failed is reasonable, but I think the right long term solution to this is something like https://github.com/ethereum/EIPs/pull/207, which I encourage you (or anyone!) to champion.

[2018-06-06 09:41] mcdee commented on #777
@MicahZoltu

There are, but the first thing they require is a calling contract.

How would the timelock be set if the initial transfer reverts?

Perhaps we're looking at the use of this contract in different ways.  Let me suggest how I see an ERC-777 token contract being deployed and the various elements within it being used.  I'll focus on the `TokensToSend` piece, but similar applies for the oth

[2018-06-06 12:38] mcdee commented on #777
@Arachnid

On what basis?  I do not understand what is objectively better about a transaction that reverts as opposed to one that does not.  On the flipside, not reverting allows "failed" operations to retain state changes which can provide better end-user functionality as per the examples above.

[2018-06-06 12:44] meronym commented on #965
I'd include the `_to` address in the hash as well, as I feel that a white cheque's requirements for secure channel transmission and storage (so it cannot be eavesdropped, hacked or spent in a different way than originally intended) outbalances the flexibility gains.

I'm not sure I understand the meta-transaction example, can you get into a bit more details on how it'd work?

[2018-06-06 13:50] wanderingstan commented on #725
@conejoninja, we're thinking along the same lines. The data to be verified (postal address in your example) could be kept in a local store (e.g. a mobile app, a wallet). Another solution would be to encrypt it and keep in a distributed store (e.g. IPFS).

In either case, the data would be shared with the seller, who could check the corresponding ERC725 claim to see that it is the same data (postal

[2018-06-06 13:50] chompomonim commented on #965
@shrugs thanks for mentioning `ChequeBouncer`. I'm totally ok to have implementation using this approach and already fixed my proposal (in comment) above.

Anyway now it's important to set interface for `authorizeOperatorByCheque` or/and for `sendByCheque` and then play with implementations.

@meronym, @syakunin, @ptrwtts have you looked on `authorizeOperatorByCheque` idea? Does it sounds better t

[2018-06-06 14:45] MicahZoltu commented on #777
With a revert, you have to try hard to ignore it.  The default action if you do nothing is that the transaction fails and state isn't mutated.  With a return code, you have to try (put forth effort) to handle error cases.  If you do nothing then the transaction will proceed and state will be updated.

This is the general argument in favor of exceptions over error returns, exceptions make it so the

[2018-06-06 18:06] mcdee commented on #777
@MicahZoltu

That's not an argument for reverting Vs. not reverting, that's just stating the difference between the two.  Of course reverting avoids state mutations, but I've tried to outline situations above where retaining state even when not transferring tokens has tangible benefits.

"It isn't worth the risk" is a valid position to take against the suggestion, but it seems to me to leave a lot

[2018-06-06 18:59] Arachnid commented on #777
Reverting is fail-safe; a lack of action on part of the calling contract defaults to rolling things back, and there's no chance that a contract fails to undo all the state changes it made when returning an error code.

It's possible in the EVM for a calling contract to 'catch' a revert - and even for it to get return information from the reverting contract. We should design patterns with that in m

[2018-06-06 19:20] mudgen commented on #173
@Arachnid It seems that your suggestion to use ENS would only solve one of the problems.
Here's the problems to solve:
1. Contract A needs to authenticate if user is the owner of the contract or not.
2. Contract B wants to find out who is the owner of Contract A.

It seems that ENS could be used to authenticate that a user is owner of a contract or not.

But it seems that ENS could not be used in

[2018-06-06 19:58] Arachnid commented on #173
@mudgen If contract A determines its owner by looking up an ENS record, contract B can do the same.

[2018-06-06 20:22] mudgen commented on #173
@Arachnid, if contract B only has the ethereum address of contract A, then how can it get the owner of contract A?

[2018-06-06 20:45] mudgen commented on #173
I can see some users wanting to use an `owner()` function and some users also wanting to use `transferOwner()`.  So I think it might be a good idea to have two interfaces, one just for `owner()` and another one just for `transferOwner()` so that users can choose either one or both and still be compliant with the standard.

I think it is important to have an agreed upon way to get the owning addres

[2018-06-06 21:04] coleman415 commented on #725
I'm gathering a list of projects and developers that are interested in adopting this standard. Feel free to email me at [coleman@originprotocol.com](mailto:coleman@originprotocol.com).

[2018-06-06 22:59] mcdee commented on #777
But it isn't possible for the called contract to update state in this situation, which is why I put forward the suggestion that I did.

From what I am reading your argument is simply "it's harder to do than not do".  I wouldn't argue with that, but would argue that the benefits can outweigh the costs, especially if there is a well-written reference implementation from which others can work.

[2018-06-07 02:18] keymethod commented on #948
What are the advantage of a new token over designing a wallet that would send recurring payments at set periods? I'm thinking that this proposed token is advantageous for accounting and payment management of the service provider, how about the user?

[2018-06-07 03:43] coinfork opened #1138 "ERC: Human-Readable Transaction Requests"
[code]

## Simple Summary

A standard format for providing additional human-readable data to smart contract functions using Ethereum function call URIs, as specified in ERC-681.

## Abstract

Including standard metadata in Transaction Request URIs will allow wallets to describe the proposed transaction to the end user in a more human-readable format, and also including the function parameter names

[2018-06-07 04:08] sb777 commented on #948
Awesome work @johngriffin and @Davidkobro!

Do you mean, set up before the call to createSubscription, to compare against, or afterwards to keep track of which address was set?

I think so. My instinct is to leave the implementation of this outside of the spec, and just revert().

Sorry, this was not clear enough. Let me expand a bit on the thinking behind this.

The model we're proposing would al

[2018-06-07 04:12] sb777 commented on #948
Oh, and just to introduce myself to the people on the thread I haven't met yet, I'm [Scott](https://www.linkedin.com/in/scott-burke-28463615/), one of the co-founders of [The Groundhog Network](https://groundhog.network), along with @androolloyd. We're building Groundhog to supercharge Ethereum e-commerce.

Introducing Groundhog: [https://medium.com/groundhog-network/introducing-groundhog-a1099f98

[2018-06-07 07:40] Arachnid commented on #777
Can you give an example of a situation where it's important that the callee update its state even though the call failed?

No, my argument is "trying to undo changes manually is unsafe". We have a built-in mechanism that permits reverting calls safely. We should use it.

[2018-06-07 07:46] MicahZoltu commented on #173
@Arachnid I'm not a fan of using ENS for this due to gas costs.  A cross-contract ENS check of ownership on a function modified with `onlyOwner` is significantly more expensive (relatively) than just checking a local storage variable.  Unless we can get cross contract calls down, there are a number of things that we _could_ move off contract but must consider the gas costs of doing so.

[2018-06-07 07:48] MicahZoltu commented on #173
Recommend checking out https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/contracts/ownership for a bunch of things related to ownership.  One pattern I am a big fan of is `Claimable` rather than `Ownable`.  It makes it so it is impossible to accidentally transfer ownership to `/dev/null`. It does mean that ownership transfers are a two step process, but if we assume the usage patte

[2018-06-07 07:52] MicahZoltu commented on #173
Something I don't see discussed here is why this needs to be standardized rather than just a best practice?  In the original description @danfinlay says:

Can you go into detail on how we could leverage standardization for cross-compatibility?  Is there an opportunity for shared tooling that works with Ownable contracts?

My gut tells me that the opportunity for shared tooling is pretty limited fo

[2018-06-07 09:12] meronym commented on #965
@chompomonim In general I like the `authorizeOperatorByCheque` approach more because it allows for more flexibility.

Now the question is whether we should include a `sendByCheque` method as well, to which I'd vote yes, justified by my example above re sweeping the tokens from one-time addresses. If the `authorizeOperatorByCheque` is the only one available, the workflow would still require two dif

[2018-06-07 09:48] adirmola opened #1139 "EIP20 Optional functions"
As far a I understand it is consider an EIP20-compliance to add custom functions that isn't listed in the EIP20 interface?

The [EIP20 page](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md) listing some optional functions - so it's looks like we're restricted only to those optional functions above the six mandatory functions but not any other (otherwise why to write it down as optional

[2018-06-07 09:58] hadv commented on #225
Hi @karalabe

In my private PoA network; I try to make a block reward similar to PoA but the nodes will be failed sync and report bad block. Can you help me to clarify the root cause of this problem when we modify state on the `Finalize()` function of consensus.Engine?

Thank you so much!

[2018-06-07 10:00] karalabe commented on #225
You need to find the counterpart which verifies the header fields and modify that too to accept your modified block reward.

[2018-06-07 11:06] mcdee commented on #777
There is an example given above, around timelocking transfers with `TokensToSend`.

[2018-06-07 11:16] Arachnid commented on #777
@mcdee I don't think what you're proposing would work just by allowing a non-revert return - callers would have to be aware of this pattern in order to facilitate it. Otherwise, callers will simply assume that the transfer failed - and there's a high probability they'd react to that by reverting anyway.

[2018-06-07 11:21] mcdee commented on #777
@Arachnid the caller of the `TokensToSend` function is the ERC-777 contract, so of course it will be aware.

As for callers of the ERC-777 contract, the whole point of this discussion is to change the `transfer()` and related signatures so that such callers *can* be made aware.

[2018-06-07 11:31] Arachnid commented on #777
Sure, that's a reasonable argument for changing the API here to allow non-failure returns other than 'ok'. I don't personally think it's worth adding even more complexity to an already complex token protocol, personally.

In general, I still maintain that a revert is the correct way to handle a failure.

[2018-06-07 11:45] chompomonim commented on #965
Good point. In your case it's better to have `sendByCheque` as part of token because it's one time operation for each address.

From other side if it's ERC777 send and wallet which supports it, you could not generate a lot of addresses, but ask people to set some data while transferring tokens. Then you'll not need to generate a lot of separate addresses. Unfortunately we're not in that world yet.

[2018-06-07 14:28] meronym commented on #965
Agreed. The point of one-time addresses is legacy support in clients (i.e. wallets or custodian exchange accounts) that don't allow for customizing the token transfer data. I expect that client/wallet support for ERC777 will take quite a bit to mature, and an intermediate solution (such as `sendByCheque` can fill in the adoption time gap and enable the merchants accept payments from legacy clients

[2018-06-07 15:08] mudgen commented on #173
@MicahZoltu I am not an implementer of contract UI tools so I am not going to give examples of that. I am an implementer of contracts so I will give some examples of how an Owned Standard would be very useful for controlling ownership of contracts with contracts.

1. Exchanges that buy/sell/auction ethereum contracts. This would only be possible if there was a standard for specifying a way to get

[2018-06-07 16:01] johnhforrest commented on #721
Noticed this while I was working on an implementation of #900. Is there a standard for using an underscore vs. no underscore in event arguments?

In 721, we use the underscore prefix:
`event Transfer(address indexed _from, address indexed _to, uint256 indexed _tokenId);`

But in 900, we don't:
`event Staked(address indexed user, uint256 amount, uint256 total, bytes data);`

Presumably there are ot

[2018-06-07 17:22] danfinlay commented on #173
I don't have a specific use case in mind, so I'm not that interested in defending this proposal anymore, but I will briefly anyways:

I understand https://github.com/ProjectWyvern is a protocol for selling owned smart contracts, so they would be a good example of a smart contract that would benefit from common and widespread interfaces between ownable smart contracts.

I'm a huge fan of 719, but t

[2018-06-07 17:22] winsvega commented on #217
Totally up for this.
I could write the boost test cases and you could run retesteth tool against any clients to check request-response schemas.

[2018-06-07 18:22] dmdque commented on #721
Nice catch, IMO we shouldn't use underscores for events.

[2018-06-07 18:31] simondlr commented on #721
Javascript linters usually complains about underscore dangles. https://eslint.org/docs/rules/no-underscore-dangle.

Probably better to not have underscores in event names, but it's not that big a deal either way.

[2018-06-07 18:53] Arachnid commented on #721
The field names aren't part of the ABI, so it doesn't matter what you use.

[2018-06-07 18:55] Arachnid commented on #721
Actually, that was never the case for non-core EIPs. All that happened is that that was clarified.

[2018-06-07 20:50] johnhforrest commented on #721
Thanks for clarifying that! Looks like it's just the JSON produced by truffle and not the ABI itself. As long as you're using the standard interface pointing to a compliant contract you should be in the clear. 👍

[2018-06-07 21:21] AhliLi opened #1141 "EVM & Structure Standardisation by Reduction to Bit Compositor & BitWise Logic"
The structure of the EVM and the data structures should be reduced to a minimum bitwise compositor and minimal logic tree, allowing for accurate accounting and implementations in all current and theorhetical environments. Though the initial structure requires extraction, parallelism and exhaustive host optimization WITHOUT constraints allows implementation of both the system and its accessory scri

[2018-06-07 21:35] Arachnid commented on #1141
...what?

[2018-06-07 21:39] Ivshti commented on #1141
markov chains?

[2018-06-07 21:40] AhliLi commented on #1141
For reference, here's some typical SOA implementations in linear, parallel, and non-linear from a few decades ago, in bitwise photonic implementations:

https://www.osapublishing.org/oe/fulltext.cfm?uri=oe-24-26-30245&id=356764
https://www.osapublishing.org/ol/abstract.cfm?uri=ol-23-16-1271

[2018-06-07 21:55] johnhforrest commented on #900
@decanus Just finished my interpretation of the standard here: https://github.com/codex-protocol/contract.codex-registry/blob/master/contracts/ERC900/ERC900BasicStakeContainer.sol

With a battery of tests here: https://github.com/codex-protocol/contract.codex-registry/blob/master/test/core/CodexStakeContainer.test.js

Would love to get your feedback & potentially include it in the implementations

[2018-06-07 22:27] AhliLi commented on #1141
Explained further:

As in the above example, 100ghz through a standard photonic logic gate typical of the time when Al Gore invented the "Internet" has a bit-length of about 3 millimeters, the length of a Byte being 24mm across, and parallel operations of bitwise logic can be implemented easily in one photonic cycle.

Eliminating fixed-scope registers in EVM and reducing logic representation to we

[2018-06-07 22:44] mudgen commented on #173
I wrote an EIP about this here: https://github.com/mudgen/EIPs/blob/master/EIPS/eip-173.md and submitted a pull request.

The first draft is ready for some feedback.

[2018-06-08 06:07] jeluard commented on #1138
How does this relate to [ERC-681](https://eips.ethereum.org/EIPS/eip-681) which already defines a syntax to call functions?

[2018-06-08 08:02] AhliLi commented on #1141
No.

[2018-06-08 08:08] AhliLi opened #1145 "EVM & Structure Standardisation by Reduction to Bit Compositor & BitWise Logic"
EVM & Structure Standardisation by Reduction to Bit Compositor & BitWise Logic

The structure of the EVM and the data structures should be reduced to a minimum bitwise compositor and minimal logic tree, allowing for accurate accounting and implementations in all current and theorhetical environments. Though the initial structure requires extraction, parallelism and exhaustive host optimization WIT

[2018-06-08 08:16] DiveInto commented on #827
anybody care explaining why this would happen?

don't get why tokenA transferred into a ERC827 can be claimed by anybody

[2018-06-08 09:13] AminOroji commented on #225
@karalabe

As you mentioned above, the nonce has been repurposed in POA. May I know what is the role of nonce in Clique.

[2018-06-08 09:44] #1145 closed

[2018-06-08 10:12] hadv commented on #225
@karalabe okay, I found that it's the problem of the code modify then make consensus become difference between the nodes then bad block was reported. Thank you!

[2018-06-08 10:12] hadv commented on #225
@AminOroji AFAIK, the nonce in Clique is now used for proposing a new signer

[2018-06-08 14:20] mudgen commented on #173
EIP 173 has been merged and is here: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-173.md

Please give feedback.

[2018-06-08 14:52] mudgen commented on #173
@danfinlay Can you edit your first post in this issue to add a link to the proposed standard here: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-173.md

[2018-06-08 15:18] mudgen commented on #223
@Dexaran this is an important standard. Is there a reason you have not written an EIP and put this standard through the standardization process to make it an official standard?

[2018-06-08 15:28] cdetrio commented on #648
@joeykrug, cross-posting my reply from [reddit](https://www.reddit.com/r/ethereum/comments/8pfcxj/what_happened_to_easy_parallelizability_issue_648/e0by93i):

It was discussed on an AllCoreDevs call around the time (it was never "slated for Metropolis", as in it was never officially `Accepted` for inclusion in the next HF on an All Core Devs call). As I recall, the feedback was that increasing the

[2018-06-08 15:37] androlo commented on #173
@MicahZoltu Absolutely agree. Forcing the new owner to claim ownership before the transfer is an essential step. It ensures that the new owner is an account that is at least able to transact with the contract, which means the contract can't be locked down indefinitely due to a typo, or bugs like encoding errors.

I recently wrote an article on the "ownable" and "claimable" patterns, if anyone is i

[2018-06-08 15:54] ryanberckmans commented on #648
[BlockSci](https://github.com/citp/BlockSci) realized this too and [describes](https://arxiv.org/abs/1709.02489) many consequent techniques employed to achieve their impressive performance.

[2018-06-08 16:23] mudgen commented on #173
@MicahZoltu @androlo do you think the standard should support both patterns:  claimable and transfer?

[2018-06-08 19:01] shrugs commented on #173
How necessary do you think the `owner()` getter is? We brought this up in OpenZeppelin chat, but, for example, RBACOwnable from https://github.com/OpenZeppelin/openzeppelin-solidity/pull/950/files#diff-8f869785a4b22b507bae87a6dbf3f2eb couldn't conform to this standard, since it doesn't store the address of the owner in an easily gettable way (as it supports multiple owners).

Any thoughts on wheth

[2018-06-09 00:52] coinfork commented on #1138
ERC-681 does not provide a way to include parameter names for additional context, and there is no thought process about making the functionality easy to understand for the end-user. I'll consider this a bit further.

[2018-06-09 05:36] fulldecent commented on #173
Presently the ownership of a contract seems useful. Metamask and etherscan could show this data.

I'm not yet 100% use the transfer mechanism needs to be standardized. Standardized as in, will Metamask and etherscan ever call that function?

Assuming yes for the following notes.

The one-step transfer function makes sense. The documentation is broken, can be fixed.

The two-step transfer function

[2018-06-09 15:13] johngriffin commented on #948
Hey, so following the last call and chat on slack I just wanted to put forward what I propose to be the most important topics that we need to agree on.  There are lots of great ideas flying around but we need to decide what should and shouldn't be part of this standard in order that we can agree on the technical spec.

**Why does this need to be an ERC standard?**
Anyone can create and implement a

[2018-06-09 21:59] shrugs commented on #173
Here are the various standard interfaces I could see coming out of this:

1. "who has this permission over this contract"
2. "does this specific account have permission over this contract"
3. "in a single-owner context, this is how you transfer permission without confirmation"
4. "in a single-owner context, this is how you transfer permissions with confirmation"
5. "in a multi-owner context, this

[2018-06-09 22:17] fulldecent opened #1147 "Display the review end period for last calls on eips.ethereum.org"
- [ ] For Last Call, include the discussion end date

![screen shot 2018-06-09 at 6 15 47 pm](https://user-images.githubusercontent.com/382183/41196574-40c06866-6c11-11e8-8397-34f9b88a3ec4.png)

- [ ] On the EIP page, link to the standard and the discussion

* https://eips.ethereum.org/EIPS/eip-721

[2018-06-10 06:08] jbaylina commented on #777
@mcdee I see your point, but I also see many security problems in your proposal.  As an example:
Imagine that a tokens holder A with a `TokensToSend` interface and a token recipient B with an unrelated `TokensReceived` interface.
If the recipient does not accept tokens but returns false, The sender is notified with a `tokensToSend()` that is never executed.

A possible solution to this could be to

[2018-06-10 08:40] MicahZoltu commented on #777
I'm generally against additional complexity unless there is a sufficiently strong argument/need for it.  In this case, while I understand the features that @mcdee would like in the token, I do not believe they are worth the added complexity/risk.  They are, I believe, fairly uncommon use cases and as discussed previously there are (I believe) alternative ways to solve the problems they try to solv

[2018-06-10 10:27] gitcnd commented on #777
+1

there's nothing stopping anyone forking this and adding anything they like - no need to throw the kitchen sink into the core.

[2018-06-10 10:34] gitcnd commented on #777
@jbaylina Is there anything we can do to accelerate acceptance?  I am considerably invested pre-production on a 777 project, but stalled because the "Draft" status makes launch difficult...

[2018-06-10 11:38] jbaylina commented on #777
@gitcnd If we all agree in keeping this standard as is and not include this improvement from @mcdee
 I will move it to LASTCALL.  But I would like to hear feedback from @mcdee  and @Arachnid at least before moving forward.

[2018-06-10 15:50] k06a commented on #827
@DiveInto because `tokenA` smart contract itself can contain any amount of `token*` (incl `tokenA`). And smart contract looks like any other account when trying to contact another token smart contract methods. He will be the `msg.sender` of any call he is going to perform with `data`.

[2018-06-10 19:19] tuxxy commented on #725
I would like to bump my concerns with `bytes32` being used for the key storage.

This standard does not store ECDSA keys, it stores the hashes of them. If the intention is to store the actual key, it needs to store a boolean value indicating which ECDSA key to use from the compressed x-coordinate.

[2018-06-10 19:56] nathantr commented on #948
Some great points @johngriffin.  I can't say I fully follow the options @sb777 is proposing for ETH vs ERC-20, but having a single wallet that holds all your subscriptions definitely sounds appealing. Half of the problem of subscriptions is simply keeping track and being in control of all of them.

Re: payments and billing periods.  I think having a notion of billing period is necessary (this is t

[2018-06-10 20:40] ongrid commented on #223
# Current ERC-223 adoption
Today I made research tor ERC-223 proliferation and would like to share current state (was unable to find such list of the tokens).
I scanned all transactions for last 3 days and parsed for event specific for ERC-223 transfers
[code]
Then I manually reviewed all the contracts which emitted these events and left only unique tokens. There is 30 live ERC-223 contracts on th

[2018-06-10 21:36] mryellow commented on #223
#677 is a nice choice as it includes the definition of `tokenFallback`.

@daniel-jozsef also suggested the existing #827 for adding callbacks rather than 223.

https://github.com/ethereum/EIPs/issues/223#issuecomment-371471087

[2018-06-11 09:38] thekrol01 commented on #1132
Hi Nikita,
Great proposal. Though I am a bit hesitant with altering the ERC20/ERC223 standard functions.
But If you don't want to escrow the tokens this could be the way to go.
I have not tested this but doesn't make this an standard transfer much more expensive, because every transfer is tested against the available balance for transfer. Therefore splitting the lock function from the not locked t

[2018-06-11 10:37] o0ragman0o opened #1149 "Official ERC20 document declares named return parameters that cause compiler warnings"
The official ERC20 document and perhaps others, declare named return parameters of the same name as the function for `name`, `symbol`, `decimals` and `totalSupply`. This raises shadow declaration warnings in the compiler which a standard really should not do.

Additionally it breaks the opportunity for recursive calling. As unlikely as that might be for a getter, it breaks logic to have a paramete

[2018-06-11 12:12] m-schmoock commented on #725
@frozeman Hey, in the KeyManagement specification you write that: `Execute COULD be used as the only accessors for addKey, removeKey and replaceKey and removeClaim.`

Does this also supply to `addClaim` or is it left out intentionally? The way I understand it a claim issuer will perform an execution request on my ERC725 using `addClaim` as execution request data, or am I wrong here? At least it lo

[2018-06-11 15:56] mg6maciej commented on #721
I'm not sure this is a good place to propose a last call breaking change for this standard, but couldn't find a better place, so here it is.

I would like to allow users to use `safeTransferFrom` function and so implementing `onERC721Received` in my contract, but current parameters don't allow for knowing who originated the transaction.

My example is kinda convoluted, involves multiple tokens fro

[2018-06-11 16:05] paulbarclay commented on #721
I don’t support this late breaking change. It increases confusion,
increases the chance that people will make incorrect implementations, and
doesn’t add significant value.

Most likely, there’s another way you can achieve what you want. In your DEX
case, you can make two transfers - the Operator would transfer the token to
their own account, and then sell it on the dex, to ensure they received the

[2018-06-11 17:26] reductionista commented on #963
I've revised the EIP with all of the changes we've come to agreement about here (from/to filtering, hasReturnData, and renaming ReturnData to CompletedTransaction and NewReturnDataFilter to NewCompletedTransactionFilter).

I didn't make the removed=true change, as it seems we are still in disagreement about that.  I'm still in favor of it, but @tinybike has yet to respond to my latest arguments fo

[2018-06-11 17:33] reductionista commented on #963
Copying over here an important point I made in recent Discord discussions:

Here's my philosophy about what these events should mean... feel free to disagree with any of this.  Purpose of this subscription or filter is for the client to get notified of new completed transaction events.  Purpose of the removed=true version of the event is to say "oh wait, nevermind about that last one I just notifi

[2018-06-11 21:06] mcdee commented on #777
I took a read through https://github.com/ethereum/EIPs/blob/master/EIPS/eip-777.md from the perspective of a potential implementor and have the following comments:
  - The standard uses `user`, `holder` and `tokenHolder` interchangeably throughout the interface definition.  Standardising on `holder` would make the specification clearer as it always refers to the address that is holding the tokens.

[2018-06-12 01:37] fulldecent commented on #721
@mg6maciej First I want to say thanks for speaking up, this is the first two-week review ever, so it would be a shame to only have silence :-).

It is important that you are including an actual use case for your note. I believe I understand the use case. In general we are discussing a multi-party transaction which involves a complex trade of multiple classes of tokens.

The standard's shortcoming

[2018-06-12 05:34] MicahZoltu commented on #777
Being able to iterate over operators definitely seems like a strong desirable.  Can someone provide a simple example implementation that would allow for this?  My gut tells me the "ideal" implementation (least complexity introduced) would be to have operators be `mapping(address => address[])`.  This does mean that if you have multiple operators you will need to iterate over them when calling any

[2018-06-12 06:40] MicahZoltu commented on #777
@gitcnd Is there an argument for why on-chain operator listing is bad?  One will always be able to collect a list of all operators off-chain, so it isn't like there is a privacy benefit to on-chain operator listing.

The value I see in being able to enumerate operators easily is that it would allow light-clients (who can't cheaply troll through all of history) to easily see who has control over th

[2018-06-12 06:42] mcdee commented on #777
@gitcnd operator listing is already possible by reading the `AuthorizedOperator` events, it just isn't easily accessible to end users or other smart contracts.

@MicahZoltu if implementing it I'd probably go for the former of your options.  Although it would be more computationally expensive I don't envisage operators being added and deleted at a great rate, nor a single address ever having more t

[2018-06-12 07:53] Arachnid commented on #721
That's not a reasonable threshold to apply.

[2018-06-12 09:47] MicahZoltu commented on #721
Now is exactly the right time to propose changes to this standard.  It is not finalized and so if you have thoughts/feedback now is _far_ better to provide them than later.

Note: I don't really care about this standard and haven't been following it so I'm not commenting on the proposal itself, only on the process.

[2018-06-12 16:11] ongrid commented on #223
Hi Team! We need to implement the simplest utilization contract which burns received tokens and emits event for our charging system.
Regarding receiving contract everything is clear - it should have tokenFallback - but token's standard is under consideration.
Do you have any idea regarding the implementation of token which being transfered **natively from the user's account** (via transfer functio

[2018-06-12 16:13] fulldecent commented on #721
We need a test case (maybe "business case" is the better term) OR a good amount of code to understand exactly what is trying to be accomplished. This allows us to analyze potential workarounds.

[2018-06-12 23:02] reductionista commented on #963
Update regarding the last remaining issue:  @tinybike has convinced me now that it's better to include ReturnData with removed=true events, in order to be consistent with existing log filter/notification behavior.  While I think it probably would be better if they both didn't include the Data field, I withdraw my suggestion to change it for EIP758--let's just keep it as is.

I think everything is

[2018-06-13 01:01] paulbarclay commented on #721
Really feels like this is something that should be solved at the EVM layer,
not in contract standards design. A “proxycall” that maintains the original
context (msg.sender) of the call would solve all these potential cases
without having to worry about a lot of implementations inside other
standards.

If I had to implement this with what we have today, I’d maybe have A
receive the erc-721 and then

[2018-06-13 01:11] dekz commented on #721
@paulbarclay that's exactly right. Acting as a true intermediary and performing a secondary transfer is the simplest approach. Having the `msg.sender` stored reduces some *internal* complexity by our architecture.

I am not recommending adding this to the standard.

[2018-06-13 03:15] MicahZoltu commented on #223
Also check out ERC 777.

[2018-06-13 03:20] MicahZoltu commented on #721
PROXY_CALL would completely break Ethereum's current security model.  Contracts use `msg.sender` to check for permissions, and proxying that would allow malicious contracts to do things like transfer tokens without informed user consent.

[2018-06-13 04:35] James-Sangalli commented on #875
You can now easily create your own ERC875 token here: https://alpha-wallet.github.io/ERC875-ticket-factory/TicketFactory.html

[2018-06-13 06:59] mg6maciej commented on #721
@fulldecent Thank you for a quick yet insightful reply and @dekz for sharing that you also see this as a problem when implementing stuff around ERC721.

I have a feeling we are on the same page regarding the root cause of the problem. I even though of exactly the same term `msg.sender.sender` as another way this could be solved on a totally different level, when describing it to my friends two day

[2018-06-13 08:01] dekz commented on #721
I'm not sure I see the total confusion around `from` in your example. In all cases `from` is the previous owner of the token and `to` receiver is the contract receiving the callback. `transferAndCall` still has issues with `msg.sender` as the contract being called is called from the token implementation.

`erc721.safeTransferFrom(0xMe, 0xDex, 6, "0xMe+Price+Something")` since `0xMe` is the previou

[2018-06-13 08:54] mg6maciej commented on #721
@dekz The problem arises when you start using approvals together with `safeTransferFrom`. In this case DEX is called with `onERC721Received(0xPreviousOwner, 6, 0xMe+Price+Something)`, but you still want to attribute 0xMe, so it's passed in `bytes data`. In this case `from` is irrelevant for DEX.
In `tokenFallback(from, amount, data)` `from` is always relevant as the tokens come from the previous o

[2018-06-13 10:32] ongrid commented on #223
@MicahZoltu thanks, good point, 'Ive read through #777, really cutting edge proposal. Though for the moment it's still in motion, interfaces are under discussion. We have a tight schedule for the project so we finally decided to take more common #223 for now.

[2018-06-13 23:38] fulldecent commented on #721
Thank you to everyone for providing the details.

Right now for `approve` + `safeTransferFrom` we are considering scenarios with one level of indirection (DEX) or even two (DEX + forwarding contract). The `msg.sender.sender` is a nicety for people working with one level. But it then the next question is "how do we get `msg.sender.sender.sender`?"

The `bytes data` argument we currently have allows

[2018-06-14 00:04] mattlockyer commented on #721
[Composable Non-Fungible Tokens (CNFTs)](https://github.com/ethereum/EIPs/issues/998)

[2018-06-14 00:05] mattlockyer commented on #721
#998

[2018-06-14 00:13] mattlockyer commented on #721
#998 Composable Non-Fungible Token Standard

@mg6maciej we've been able to make composables without changing the current implementation. While it would have been easier to handle the indirection by knowing the original sender, you would still need an index or hash of a receiving token in the case where the original sender address owns multiple tokens in the receiving contract.

In the WIP implemen

[2018-06-14 03:29] RobertoC27 commented on #136
can anyone tell how far along is this? or this has already been implemented, thanks!

[2018-06-14 07:31] golra03 commented on #822
@flygoing, we are also facing the same problem. As mentioned, we can submit the transaction with same nonce. Question is, what is the safest way at the application level to identify whether some transaction is missed or not? so that we can resubmit it.
We are thinking about wait for event triggered per transaction but making it full proof is the challenge. Any comment?

[2018-06-14 09:34] jacqueswww commented on #721
Hi Everyone, @dete @fulldecent

As raised in https://github.com/ethereum/vyper/issues/884, this contract uses function overloading - which is one of the principles Vyper tries to avoid.
For maximum future compatibility (with other languages) I suggest renaming to something like `safeTransferFromCallData`.

[2018-06-14 11:57] maurelian commented on #721
Strongly agree about avoiding function overloading.

If necessary, the function with only 3 arguments could be made optional, although that would require a new erc-165 ID.

[2018-06-14 11:57] MicahZoltu commented on #136
I haven't really thought through this yet, but in my experience there is value in classifying errors broadly into "retriable" or not.  That is, is it possible that if the app were to try again that the transaction will succeed or will the transaction definitely not succeed no matter how many times it is tried.

User rejected or gas too low, for example, is a retryable error while a malformed trans

[2018-06-14 12:57] decanus commented on #900
@johnhforrest This sounds interesting, I will need to have a full look a little later. Feel free to add your implementation to the EIP, as it is merged you can add a PR.

[2018-06-14 18:44] owocki commented on #948
Update: The group will be using this repo to collaborate on the EIP: https://github.com/EthereumOpenSubscriptions/standard

[2018-06-14 19:02] zookozcash commented on #152
Here's another implementation of BLAKE2 for wasm: https://github.com/nazar-pc/blake2.wasm

[2018-06-14 20:48] kameir commented on #960
The question will always be whether a value is being created (or represented) through new ETH.  I get that functioning as currency was not the initial purpose of ETH but it is the de-facto currency for virtual assets today. From a practical standpoint, ETH might, therefore, benefit from relating more to the current implementations of money. This way it seems more likely to find widespread adoption

[2018-06-14 22:20] stefek99 commented on #792
Two strong opinions, we need an arbitration standard for that...

# 🤣

[2018-06-14 23:13] fulldecent commented on #721
If the current practice of function overloading is to be deprecated, then that affects all users of Solidity and the Ethereum ABI.

The audience in issues/721 is too small for such a discussion. Actually, function overloading is allowed by the Ethereum contract ABI as documented at https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI. **The correct place to debate such a deprecation is http

[2018-06-14 23:17] fulldecent commented on #721
Also, in the specific instance of ERC-721, I doubt anybody would ever be confused by the function overloading we are using:

    function safeTransferFrom(address _from, address _to, uint256 _tokenId, bytes data) external payable;
    function safeTransferFrom(address _from, address _to, uint256 _tokenId) external payable;

The second function is documented as: "This works identically to the other

[2018-06-14 23:50] jacqueswww commented on #721
Function overloading was prevented in vyper since it's inception. The commit referenced is just a documentation update.

The problem with function overloading isn't in it's signature or interface. But how one could easily hide malicious code in one or the other.

Additionally I don't think this is a issue that has to be discussed on solidity. As languages should be allowed to make these decision f

[2018-06-15 00:36] fulldecent commented on #721
You have good arguments.

For me the most important question is: is it more clear to have two related functions with the same name or different names?

Another point *for* changing the name is that no other ERC has reached final status with function overloading. So if we make the change here then we can probably prevent it from all ERCs going forward.

@jacqueswww in the meantime would you please

[2018-06-15 01:04] jacqueswww commented on #721
@fulldecent Naming things are super tough. For this specific case - I think actually removing one function might be best option as @maurelian suggested. This trims the standard to only have one way to do a safeTransferFrom(4 args).

I'll let the above comments linger a few more hours, and I'll create the PR shortly.

[2018-06-15 01:09] dekz commented on #721
I don't quite understand this argument, forcing a change to the standard because an experimental language chooses not to support function overloading sounds like the exact opposite of being language agnostic.

There are a number of EIP proposals which make use of function overloading and it's a common feature in many programming languages.

Forcing a single function with a default upon the user is

[2018-06-15 01:28] jacqueswww commented on #721
@dekz not exactly sure what you mean?
Decoding an empty passed string from encoded abi argument should never cost that much gas.
The 3 argument function is exactly the same as the 4 argument function, the one just defaults the data parameter. The only difference is perhaps a an additional CALLDATALOAD.

The more I look at this specific instance, it's not really even to do with function overloading

[2018-06-15 01:59] dekz commented on #721
@jacqueswww

Consolidating from two functions into one means the caller will always need to supply and encode the `bytes data`, i.e always call `safeTransferFrom(address _from, address _to, uint256 _tokenId, bytes data)`. Meaning a user who didn't want to pass additional data in bytes is forced to encode null bytes "0x0" into the transaction, no?

Testing in remix the transaction cost increases by

[2018-06-15 02:28] paulbarclay commented on #721
I like the idea of dropping to a single transferFrom - it’s a cleaner implementation overall.

There are some advantages of having tokenID be a uint - you can store your token data in an array (tokenID = array index) and end up with a more efficient storage system. But there’s also advantages of bytes32 - it better supports human-readable tokenIDs. All in all, neither benefit is particularly large

[2018-06-15 03:38] mudgen commented on #721
My tests in remix shows the extra cost of the bytes _data version of safeTransferFrom to be 582.

[2018-06-15 16:59] klivin commented on #994
Hi @Physes I'm working on the LayerOne project (mapping real world space on the blockchain), and we've done a lot of thought in this space as well!  Check out our open source repo: https://github.com/OpenLayerOne/LayerOne-Contracts

We should work together on this!  We are linking 721's to binary quad keys (another open standard that is in the same family of QuadHashes).  Binary quad keys have the

[2018-06-15 17:31] abandeali1 commented on #721
I would assume that `safeTransferFrom` would be called without the `data` field at least 60 times (the breakeven point) on any useful NFT.

[2018-06-15 20:50] rp3599 commented on #960
The 120 million hard-cap will be the best thing that can happen for community as a whole. And ethereum will also serve as a investment commodity and will attract more investors and more innovations and more apps to make use of valuable dapp currency.

[2018-06-15 23:16] fulldecent commented on #721
Regarding two functions. We have previously visited this topic in the discussion at #841. Two functions is valuable and we expect the majority of uses will be the briefer version.

People, please paste your examples. Do they have different code paths for zero and non-zero function calls? And how are they being used?

---

Regarding uint -> bytes4. Please see existing implementations like Rare Bits

[2018-06-15 23:20] jacqueswww commented on #721
This has nothing to do with the EVM.
The EVM has no knowledge of the ABI.

[2018-06-15 23:41] fulldecent commented on #721
The EVM has no knowledge of the ABI.

I am responding to the argument that says Solidity does not support some
features of EVM (as if to justify Vyper’s lack of interoperability)
--
Regards,
Will

William Entriken
+1 267-738-4201

[2018-06-16 00:02] djrtwo commented on #721
Vyper is now more than an experimental language. It is the language of choice for EF researchers and for system level contracts currently in development (sharding/casper). With that level of support and with the additional safety that Vyper provides, I expect it to enter the mainstream in the near term. I think it wise to avoid overloading functions in ERC standards to broadly be accommodating to

[2018-06-16 05:58] umurb commented on #960
Still disagree. Putting a hard cap would only have a short-term effect and
make us all happy for a limited amount of time. If we really want web3.0 to
succeed, we should tame our greed and wait for mass adoption. I am certain
that one day the world will be complaining about why Ethereum is not
generating more Ethers a day.

On Fri, Jun 15, 2018 at 4:50 PM, rakeshkumar <notifications@github.com>
wr

[2018-06-16 06:18] MicahZoltu commented on #721
Im not a hardliner against function overloading, it in this case it feels like the overload isn't providing enough value to warrant the increased interface surface area.  The caller can simply call the main function with `""` as the `data` parameter to achieve the same results as the overload provides.  In fact, I think this will make it more clear/apparent to the caller what is really happening.

[2018-06-16 07:39] coinfork commented on #1138
This ERC is now compatible with the ERC-681 standard protocol.

[2018-06-16 13:08] erasmospunk commented on #84
(You didn't @ mentioned me and I missed your comment)

@MicahZoltu BIP44 is for Bitcoin, you cannot apply it to Ethereum.

You didn't answer how you would handle Monero in the BIP44 context. If a coin has an EC curve different from secp256k1, you wouldn't do BIP32 public derivation unless you really wanted to lose money.

The `change / address_index` is bad for Ethereum for several reasons:
- Give

[2018-06-16 13:59] MicahZoltu commented on #84
BIP32, BIP43 and BIP44 are all designed to work with any coin, not just Bitcoin.  Having Ethereum specs that needlessly collide with Bitcoin specs when the Bitcoin specs were designed with altcoins in mind just causes confusion and bugs (we already have problems with this collision in Ethereum as seen by the fractured tooling referenced in this EIP).

I'm all for a custom Ethereum path that doesn'

[2018-06-16 19:31] erasmospunk commented on #84
@MicahZoltu the `m/44'/60'/account'/0` path was created specifically to address the one address per account nature of Ethereum, while leaving space for extensions with `m/44'/60'/account'/x` for `x > 0`.

I argue that the `m / 44' / 60' / account' / change / address_index` is broken and semantically unfit for Ethereum.

In Monero you have a "spend" and a "view" keys that are needed to create an ad

[2018-06-16 21:47] fulldecent commented on #721
We have previously held the discussion on whether one or two functions were appropriate for `safeTransferFrom`. The decision was made to use two functions. One basis of the decision was a design goal of 721 which is documented towards the bottom "This specification contemplates implementations that manage a few and arbitrarily large numbers of NFTs." Therefore the gas consideration (even for a few

[2018-06-16 21:58] fulldecent commented on #721
Compatibility workaround found for Vyper. Problem solved.

Define two functions:

[code]

This addresses [the complaints Vyper has with function overloading](https://github.com/ethereum/vyper/blob/master/README.md):

* **This can cause lots of confusion on which function is called at any given time.** Nobody should confuse a call to `safeTransferFrom` with `safeTransferFromXXX`.
* **It makes the c

[2018-06-17 01:22] clesaege commented on #792
By the way, for those who want to participate in the^initial discussions and write-up of the evidence standard feel free to list your usecases and comments there:
https://docs.google.com/document/d/1QaCSTZoTjd63q7pt4wne6Mj62p8Ru8xOrxYE5Skyd3c/edit?usp=sharing

[2018-06-17 03:35] MicahZoltu commented on #84
One could easily use the XKCD comic to argue that what I'm suggesting is to not create a new standard.  :grin:  There already exists a perfectly fine standard BIP32 and BIP43.  We should follow them, and BIP43 has a definition on how to extend it to new systems (like Ethereum).

This is what I have a problem with.  As shown in https://github.com/ethereum/EIPs/issues/84#issuecomment-292324521, ther

[2018-06-17 03:48] MicahZoltu commented on #721
Where can I see details of the gas cost exploration and comparison?  I am struggling to come up with a _reasonable_ implementation where `safeTransferFromXXX` is actually less gas than `safeTransferFrom`.

[2018-06-17 06:15] mg6maciej commented on #827
This seems unsafe for any external contract using #677 and defining two ways users could interact with it.

Imagine I put #827 into DEX by normal means (`deposit` function, which calls `transferFrom(me)`) and this DEX also supported #677 `tokenFallback`. Now a bad actor could `transferAndCall` or `approveAndCall` with parameters `to: 0xDEX, value: 0, data: [ func: 0xtokenFallbackHashBytes4, from:

[2018-06-17 06:36] MicahZoltu commented on #827
@mg6maciej The token contract fills in the amount and form fields in the callback.  The user doesn't get to set them.

[2018-06-17 06:58] mg6maciej commented on #827
@MicahZoltu Many do (#223, #667, #721, #777), but not this one. This one warns:

This is exactly what a bad actor will not not do. Instead they will try to find contracts where they can abuse it.

[2018-06-17 07:02] mg6maciej commented on #721
@MicahZoltu StackOverflow is a correct place to ask such questions. Anyway what you are looking for is the difference between gas cost of storing empty bytes parameter (64 bytes: 32 bytes for pointer to start of byte array and 32 bytes for length equal to 0) and internal function call.

[2018-06-17 07:57] MicahZoltu commented on #721
You have to allocate those bytes either way, it is only a question of where you are allocating them.  See one of the sample implementations [here](https://github.com/0xcert/ethereum-erc721/blob/master/contracts/tokens/NFToken.sol#L171-L210).

Note that this implementation is a bit inefficient since they have an internal transfer method resulting in a wasted call when they could have just put the i

[2018-06-17 08:12] mg6maciej commented on #721
I do not want to appear rude, but you could have saved yourself time writing, if you stopped suspecting and checked it for yourself like many others here did.

[code]
From my quick tests `a()` costs less than `a("")`. Here is the proof:
https://kovan.etherscan.io/tx/0x694ce79071f77eeb5759eba9dd22becf0844f9a47ebdba0293b1b597b9d7042e
https://kovan.etherscan.io/tx/0xb1dea5e9f76660dbad57d806cebee4e046

[2018-06-17 08:28] MicahZoltu commented on #721
Thanks, than is the example I was hoping someone had handy.  So the gas cost difference is 485 gas, and only on an entry point call (would need to run numbers again for a cross contract call rather than transaction entry point).

I submit the argument that 500 gas on public entry point is not worth the increased interface complexity.

[2018-06-17 16:01] chompomonim commented on #777
Vyper (fast growing/developing language for EVM) is not supporting function overloading: https://github.com/ethereum/vyper/issues/738

In ERC777 we do have:
[code]

I do believe that `ERC777` shouldn't use function overloading.

[2018-06-17 16:05] chompomonim commented on #777
@jbaylina what do you think of having only one `send` function?

[code]

[2018-06-17 16:11] fulldecent commented on #721
Regarding one function / two functions. Wanted to look at these points also from the perspective of the user.

Here is a deployed draft 721 NFT contract. The token-holder can access the functions and call them in this way. This screenshot shows somebody calling the 3-parameter version.

![screen shot 2018-06-17 at 12 03 04 pm](https://user-images.githubusercontent.com/382183/41509749-c83157ae-7226

[2018-06-17 16:15] MicahZoltu commented on #721
If end users are doing raw calls of the methods via MEW I feel like we have failed.  I don't think we should be designing programming APIs around end user behavior.

[2018-06-17 17:19] mcdee commented on #777
@chompomonim in the official spec at https://github.com/ethereum/EIPs/blob/master/EIPS/eip-777.md#erc777token-token-contract there is only a single `send()`.

[2018-06-17 18:20] fulldecent commented on #721
Hello @mg6maciej. We had discussed adding a parameter to the token recipient callback for DEX and 721-composite applications.

Could you please confirm here if the discussion has helped and if your issue is resolved?

[2018-06-17 18:21] mg6maciej commented on #721
Let me try for the last time to revive the discussion I started a few days ago about adding `operator` parameter to `onERC721Received`. If nobody is interested in this change or most people won't agree it's a good change, I won't push it any further and consider it closed.

I would like to consider `safeTransferFrom` to be superior to `approve` (or `setApprovalForAll`) + `transferFrom`, possibly s

[2018-06-17 19:35] fulldecent commented on #721
@mg6maciej so `ExampleContract` is a depository for assets which limits the players that can participate. For comparison, here is a implementation that uses a state variable to authorize the transfer.

Notes:

* Requires `ExampleContract` to be the approved address, so only owners and operators can deposit assets (`deposit` and `operatorDeposit`, respectively).
* State variables waste a lot of gas

[2018-06-17 20:02] mg6maciej commented on #721
Your example can be simplified a lot without losing functionality and saving gas if you remove `transferInProgress` variable and uses, `onERC721Received` function and change `safeTransferFrom` calls to `transferFrom`.

I'd not want to go in the direction of showing that `safeTransferFrom` is not that useful, because I believe it will be.

The example above was simplified to show how it's impossibl

[2018-06-17 20:48] coinfork opened #1155 "ERC: Multi Token Standard"
[code]

## Simple Summary

A standard interface for contracts that manage multiple token types. A single deployed contract may include any combination of fungible tokens, non-fungible tokens or other configurations (e.g. semi-fungible tokens).

## Abstract

This standard outlines a smart contract interface that can represent any number of fungible and non-fungible token types. Existing standards s

[2018-06-17 21:06] fulldecent commented on #721
In general you get the most safety with 721 when using two step transfer. Usually that means approving from the sender and receiving from the receiver.

So using "`safeTransferFrom` to" your contract is why we are discussing workarounds. If your contract is doing `safeTransferFrom` from the recipient then everything works well.

[2018-06-17 21:47] chompomonim commented on #777
@mcdee that's very cool. Thanks for pointing that.

[2018-06-18 03:33] aleybovich commented on #223
I know I am extremely late to the party (6 months late!) but having read lots of comments above (sadly not even 50% though) I have this observation: this proposal is trying to smash two entirely different things together. Those two things are:
1. Replacing two calls with one when doing a transfer
2. Making sure transfers don't go contracts that don't expect them.

I am working on a token and ERC22

[2018-06-18 03:38] aleybovich commented on #223
@rados-io how would one use your ERC223Upgrade contract? Unless you are the owner of the ERC20 token and have the whole total balance in your possession (so that you can grant allowance to the ERC223Upgrade contract) the ERC223Upgrade.transfer() will not work - it will call token.transferFrom which will fail to do so as it will attempt to transfer tokens from the ERC223Upgrdae contract address to

[2018-06-18 14:43] cdetrio commented on #859
Discussion around account abstraction for Metropolis (i.e. Byzantium) took place in https://github.com/ethereum/EIPs/pull/208.

After the Metropolis EIP was deferred, discussion continued in the [first ethresear.ch thread](https://ethresear.ch/t/tradeoffs-in-account-abstraction-proposals/263) on abstraction. More discussion followed in a [second thread](https://ethresear.ch/t/a-recap-of-where-we-a

[2018-06-18 15:22] jacqueswww commented on #721
In terms of interoperability with vyper, we will be implementing support for default parameters. See https://github.com/ethereum/vyper/issues/903 for the specifics.
In vyper one would simply declare a single function:
[code]
Making the contract compatible in it's current state, and at the same time allow a clear single function use for the vyper contract writer.

[2018-06-18 15:34] mg6maciej commented on #721
@jacqueswww Just curious about interoperability. Do you generate exactly the same function hashes as Solidity compiler? So in case of default param for `safeTransferFrom` is it going to be both 0x42842e0e (keccak("safeTransferFrom(address,address,uint256)") and 0xb88d4fde (keccak("safeTransferFrom(address,address,uint256,bytes)")?

[2018-06-18 15:39] jacqueswww commented on #721
@mg6maciej yes we generate them the same way. We will also probably limit the amount of default parameter / signatures we generate on the ABI.

[2018-06-18 16:37] fulldecent commented on #721
We currently use "approved operators" and "authorized operators" in the text. We need to harmonize, I  am thinking "approved" everywhere.

[2018-06-18 17:11] ligi commented on #1138
interesting EIP

wondering if it would not be better to use multihash here - HTTP/HTTPS centralizes again and content addressing would fit better into the ecosystem than the location addressing used here

[2018-06-18 17:42] mohsag commented on #173
hi

[2018-06-18 17:43] mohsag commented on #173
i am st. in master sc i am want help in blockchain for platform

[2018-06-18 17:48] lavawallet commented on #865
Hello,

I improved upon this specification and have a wonderful working version live at http://lavawallet.io .

Here is what was improved:

1. The relayer is not defined on-chain so that anyone can be a relay
2. There is a defined 'relayerReward' uint instead which defines a number of tokens which will be given from 'From' to 'msg.sender', whoever submits the tx to the mainnet and pays the gwei to

[2018-06-18 18:15] fulldecent commented on #721
@mg6maciej and I just had a call to review further. Here is a the main point.

Consider an agency model where the authorized address (or the operator) is considered a type of owner. In this situation, the on721TokenReceived() as current is insufficient to know who is the owner that caused the transfer.

Of course, if you think instead that the authorized address (or the operator) is acting on beha

[2018-06-18 19:24] fulldecent commented on #721
This is a great conversation, either way, we should document this as part of the rationale section. This was a deliberate decision.

Maciej is helping to add this rationale. In the do-not-add-operator-parameter version we are explaining why you don't need an operator parameter. And in the do-add-operater-parameter we are explaining why it is a good idea.

FYI: Please consider #1157 merged. The mer

[2018-06-18 19:49] fulldecent commented on #721
Hello @dekz @eordano @jbaylina. We have some great notes on `operator` above. We have added justification to 721 on why we do not have an `operator` parameter on the transfer callback (`onERC721Received`). @mg6maciej is has a pull request in the works to add an `operator` parameter and explains justification for that.

Could you please share your thoughts to help evaluate the merit of this pull re

[2018-06-18 22:08] pedrouid commented on #1138
Suggestion by @alexvandesande to verify param names is to simply use [radspec](https://github.com/aragon/radspec)

[2018-06-18 22:21] mg6maciej commented on #721
https://github.com/ethereum/EIPs/pull/1160

[2018-06-19 00:10] mudgen commented on #721
It seems like a good idea to add `bytes data` to the Transfer event so all the transfer data gets logged:
Change to this:
`event Transfer(address indexed _from, address indexed _to, uint256 indexed _tokenId, bytes data);`

[2018-06-19 00:14] mudgen commented on #721
As an example, adding `bytes data` to the Transfer event would be useful to the composables standard which puts a tokenId in `bytes data` to specify to which token a token is being transferred to.

With this in place it is then possible to look at the logging/events for an ERC721 contract to see to which tokens the ERC721 tokens have been transferred to.

[2018-06-19 00:17] mudgen commented on #721
But I suppose that it is possible for `bytes data` to contain many bytes causing the logging of it to cost too much gas.

[2018-06-19 00:18] fulldecent commented on #721
The bytes data is application-specific. If there is a special meaning to that information, I expect it will be logged in a more friendly way from there.

For composables it will be much more helpful if the composibles extension provides this information for you in a separate event topic(s).

If you really need to see it, that information is inside the blockchain transaction.

[2018-06-19 01:01] AC0DEM0NK3Y commented on #1155
Suggestion: Add in some detail of how to encode extra information into the _itemId to facilitate the mixing of different item standards.

An example strategy to mix ERC-20 and ERC-721 together in the same contract for example may be to store the base item ID in the top 128 bits of the uint256 _itemID parameter and then use the bottom 128 bits for any extra data you wish to pass to the contract.
In

[2018-06-19 01:02] cag opened #1161 "EIP 1154: Oracle interface"
This is the official discussions thread for EIP #1154. The draft can be read [here](https://eips.ethereum.org/EIPS/eip-1154).

[2018-06-19 01:19] cag commented on #1161
So far, @Arachnid has commented on this EIP a bit in the PR. The discussion is reproduced here for convenience and expanded upon:

The use case I had in mind originally was for answering questions about "real-world events", where each ID can be correlated with a specification of a question and its answers (so most likely for prediction markets, basically).

Both the ID and the results are intentio

[2018-06-19 02:58] mudgen commented on #721
@fulldecent thanks, makes sense about bytes data.

[2018-06-19 03:48] MicahZoltu commented on #719
I have edited the original description to more accurately capture what this EIP is targeting after much of this discussion.  I just realized while reading it today that it doesn't accurately represent the current iteration.

[2018-06-19 10:22] Bergqvisten commented on #948
Hello everyone,

Thanks for the interesting read, I very much agree that there should be a standard for this type of service. What do you think of adding an timeSubscribed variable to keep track of the time a customer has been subscribed? A lot of subscription services appreciate loyal customers and often reward long time subscribers. The reason block.timestamp - startTime isn't enough for keeping

[2018-06-19 15:55] mudgen commented on #721
The ERC20  transfer functions return bool. Why don't the ERC721 transfer functions return bool?

[2018-06-19 16:01] MicahZoltu commented on #721
Because returning a bool instead of throwing on failure was a design mistake in ERC20 that shouldn't be ported forward unless necessary.

[2018-06-19 16:41] fulldecent commented on #721
# BREAKING CHANGE ANNOUNCEMENT

Hello everybody. I have reviewed all the comments here and the only outstanding issue is #1160 which adds a parameter to the receiver callback.

We have reviewed that issue thoroughly. Trust me, many hours on the phone @mg6maciej, I didn't make this easy for him!

Review: it is a good idea and it well respects the 721 philosophy so we explain that in the justificati

[2018-06-19 16:48] mg6maciej commented on #721
@fulldecent Hello, I have just rebased the changes required onto master, but travis doesn't feel like building the PR branch. https://github.com/ethereum/EIPs/pull/1160

[2018-06-19 17:07] alexvandesande commented on #1138
I think this whole EIP has the wrong approach. You should NEVER trust a dapp to tell you what the transaction does. The client/wallet should always be the one trying to show the user the intended action, preferably using rad spec pulled from the contract (a lot of them publish already meta information to swarm, but nobody uses it yet) and if no info is available the client/wallet should provide it

[2018-06-19 17:33] fulldecent commented on #721
Thanks @mg6maciej, the commit is merged.

Everyone, if you are interested to see ALL the changes introduced during the last-call review, check out GitHub's compare mode:

[2018-06-19 20:14] mudgen commented on #721
I would like to propose adding an additional argument `key` or something like that to the `tokenURI` function.  This `key` argument would help determine which URI to return for a token.

The reason that I propose this change is that it is possible for an ERC721 contract to have multiple sources of information for its tokens.

This came up for me because recently I was planning the development of a

[2018-06-19 20:48] frangio commented on #721
I think the document should explictly mention the breaking changes (e.g. https://github.com/ethereum/EIPs/pull/1124, https://github.com/ethereum/EIPs/pull/1160) that were introduced after some popular NFTs had already been immutably deployed. Because of this, clients should be careful to check if they are dealing with those before assuming that they respect the final ABI.

[2018-06-19 20:53] johnhforrest commented on #721
100% agree w/ @frangio. Once this got merged a lot of folks started building on top of this and general-purpose tools that are meant to talk with NFTs will need to handle all versions of the interface up until finalization.

[2018-06-19 20:54] fulldecent commented on #721
@mudgen You are considering to store content in an content-addressable network and you want to change the content but you DON"T want to change the URI. That will never work!

At some point, somebody needs to be authoritative on what is the metadata. There are only a few choices and you need to decide:

* **`data:` scheme URL** -- data lives on the blockchain
* **Content addressable data** -- data

[2018-06-19 20:56] fulldecent commented on #721
@frangio Thank you, this extra documentation is a good idea. Would you like to propose a PR? We can discuss details there.

[2018-06-19 21:36] frangio commented on #721
@fulldecent Sorry, I haven't followed the process closely to know exactly what changes have happened in this time, and I don't have the time to go into it at the moment.

[2018-06-20 03:56] MicahZoltu commented on #1138
@alexvandesande I think you and I agree on this but I want to make sure, you should never trust the dapp without a mechanism for verifying what it says.  I think it is fine to have the dapp provide the signer with information, as long as that information can be trustlessly verified with something (like the contract).

[2018-06-20 05:32] nathantr commented on #948
@Bergqvisten welcome! I think while pause resume does tend to throw off the notion of how long you have been an active subscriber, it doesn't affect the fact you may have signed up, for example, for a 12 month subscription.  As long as you know when the pause and resume happened you could then calculate the impact on the "active" subscription length.

Having said all this as you pointed out, all t

[2018-06-20 05:37] manxiaqu commented on #225
@hadv Do you know how to solve "bad block" problem when add block reward in clique. Thanks in advance.

[2018-06-20 07:17] hadv commented on #225
@manxiaqu your chain is brand new or already have mined blocks?

[2018-06-20 08:14] manxiaqu commented on #225
@hadv New, just begin on test

[2018-06-20 08:42] mcdee commented on #777
One other thought: should we explicitly disallow sending to `0x00` in the specification?  We have explicit burning, so sending to `0x00` intentionally doesn't have a lot of use cases, and I'm sure that much of the ether and tokens currently sitting at `0x00` are a result of an uninitialised `to` address.

[2018-06-20 09:08] Bergqvisten commented on #948
Thanks @nathantr! You're right, that would totally work for a subscription plan with a specified length. I think the implementation I had in mind was a little bit different, hence the requirement for a total time subscribed.

I read about the problem of gas cost earlier in the thread. Is this something that has been solved to an acceptable degree yet?

[2018-06-20 12:28] toliuyi opened #1165 "ERC: Descriptions for Smart Contracts and Functions"
---
eip: <to be assigned>
title: Descriptions for Smart Contracts and Functions
author: Yi Liu (@toliuyi)
discussions-to: lum.wang@gmail.com rivers.yang@icloud.com hayeah@gmail.com
status: WIP
type: Standards Track
category: ERC
created: 2018-06-15
---

## Simple Summary

A standard for dApp developers to register descriptions of their smart contracts, then wallet apps could display those descript

[2018-06-20 13:34] juliosantos commented on #725
Does anyone have any thoughts on how to facilitate the transfer of ether through `execute`? All it takes is making it `payable`, but that's not what the standard says. Alternatively, I could implement any other `payable` function and add to the contract balance before executing.

Did I miss something?

[2018-06-20 13:37] frozeman commented on #725
That’s a good point. I think it should be payable. Anybody with concerns?
On 20. Jun

[2018-06-20 14:17] adamluc commented on #960
I have thought quite a bit about the supply cap issue for ETH, and I believe there should be a supply cap. The way I approached this topic was thinking through the primary components of what makes ETH have value and what the impacts would be if a supply cap is implemented. The components I utilized as a framework are:

1. Medium of Exchange -> The ability to use ETH as a currency/asset to exchange

[2018-06-20 15:18] juliosantos commented on #725
In that case, it might also make sense to also remove the `value` argument on `execute` and just store `msg.value`. I don't see a reason you'd want a `value` different than `msg.value`, but if there's such cases then a separate `payable` deposit function would make more sense.

[2018-06-20 19:29] fulldecent commented on #721
I have reviewed other EIPs and did not see precedent for adding a complete version history in the EIP. So I will put my notes here so interested parties can find them.

# Significant timeline of ERC-721

* 2017-09-20: [First draft text](https://github.com/ethereum/EIPs/issues/721#issue-259900225) proposed by Dieter
* 2017-11-23: CryptoKitties [deployed](https://etherscan.io/tx/0x691f348ef11e9ef95d

[2018-06-20 20:31] coinfork commented on #1138
Thank you for the suggestions. It would be very worthwhile for transaction requests to include human-readable data spec along with variable injection of verified params (perhaps radspec). I'll be modifying the spec soon to take these ideas into account.

[2018-06-20 21:56] ytrezq commented on #23
@CJentzsch actually, when you callcode with value, you really make a transfer to the address containing the code (and not to caller itself).

[2018-06-20 22:09] ytrezq opened #1169 "Please specify full inherited context parts for CALLCODE and DELEGATECALL"
There things which are counter intuitive (which is in inherited or not).
For example, the fact that using CODESIZE returns the code size of caller and not the code size of temporary replacement code from target address.

[2018-06-21 00:09] fulldecent commented on #721
Here is the pull request to make 721 to final status https://github.com/ethereum/EIPs/pull/1170

[2018-06-21 06:12] hadv commented on #225
@manxiaqu I think no problem, but if your chain already mined some block before you change the consensus in the Finalize() method then it will become a hard-fork. We should set the block number to start to apply the new consensus to avoid bad block.

[2018-06-21 07:10] manxiaqu commented on #225
@hadv Got it, Thank you very much!

[2018-06-21 13:21] kosecki123 commented on #948
As an extension to @pipermerriam proposal, I think having definitions for functions to return the status of the subscription would be beneficial

* `isFunded() returns bool`: returns `true` if there is currently enough funds (ETH or tokens, depending on implementation) available for provider to collect
* `availableFunds() returns uint256': returns the amount of ETH or tokens available for the prov

[2018-06-21 16:49] nathantr commented on #948
Completely agree with Piotr

On Thu, 21 Jun 2018 at 06:22, Piotr Kosiński <notifications@github.com>
wrote:

--
Nathan Creswell
m: (650) 2885351
e: nathantr@gmail.com
li: https://www.linkedin.com/in/nathancreswell

[2018-06-21 22:49] clesaege commented on #792
While speaking with developers of origin @wanderingstan , came the proposal to extend this standard to allow payments to be made in token.
It would involve adding a function to return which token is accepted (or 0x0 is the `Arbitrator` accept ETH) by an arbitrator and the possibility of `Arbitrator` contracts to use `transferFrom` in `createDispute` and `appeal` instead of checking the amount of w

[2018-06-22 14:22] mbeylin commented on #792
@clesaege now that some time has passed, I want to enquire again whether you'd be interested in generalizing this EIP/ breaking it up into two separate EIPs: one for arbitrable contracts and one for arbitrator contracts, whereby the arbitrable contracts never make calls to the arbitrator contract (only storing the arbitrator to validate when they make decisions). This would allow both of our appro

[2018-06-22 14:29] d4nd commented on #650
Thank you guys very much for this great contribuition.
I would like to know about the progress on it.

[2018-06-22 14:55] clesaege commented on #792
@mbeylin I stated in the previous posts, what you do can perfectly be done with this standard and there is no different approaches, your approach is included in this standard (except the payment in tokens that my previous post proposed to add).

We can however discuss about moving the `createDispute` and `appeal` to the level of the `Arbitrable` contract.

The advantage of this proposal I see are:

[2018-06-22 15:05] jbaylina commented on #777
@mcdee I thing this is a good check for a real implementation. But I'm not 100% sure it should be in the the standard. We can add it as a recommendation (SHOULD).

Does any body oppose to that?

[2018-06-22 15:28] tshabs commented on #777
@jbaylina definitely should be a SHOULD :P  I am also in favour of adding this as part of the standard (MUST)

[2018-06-22 16:01] REPTILEHAUS commented on #225
@karalabe you mention handling the PoA voting process over to using a smart-contract based approach.

I'm currently trying to implement a basic proof-of-concept for doing just that - but i have had a couple of hurdles..

Can anyone give some pointers in relation to how this would be done correctly.. So far ive tried to do some logic in the apply() function, to just add a random address from a vali

[2018-06-22 18:18] StuartFarmer commented on #721
This is hitting a high threshold of complexity. I feel like there should be a simplified interface. ERC20 is very streamlined.

[2018-06-22 18:28] albertchon opened #1179 "ERC-1178: Multi-Class Fungible Token Standard"

[2018-06-22 18:42] clesaege commented on #792
I think you mean requiring parties in a dispute to interact with the `Arbitrable` contract instead of the `Arbitrator` one. And that exactly what the standard requires. Parties in a dispute interact with `Arbitrable` contracts and never with the `Arbitrator` one. So when they start the process to create a dispute, the `Arbitrator` contract could freeze fund. The standard has the behaviour you want

[2018-06-22 20:56] fulldecent commented on #721
@stuartfarmer please see the specification just for interface `ERC721` in the standard. That part is streamlined.

I expect other token standards that come in the future will be more like 721 than 20.

[2018-06-22 21:05] mcdee commented on #777
I concur with @MicahZoltu on the dislike of **SHOULD**.

Being proscriptive about recipient addresses in general is obviously impossible, but I do feel that `0x00` is a special case.  If Solidity had the concept of NULL values then I'm sure the standard would state that a NULL recipient would be considered an error condition and the transfer should not proceed.  `0x00` to me falls in to the same "

[2018-06-22 21:14] gitcnd commented on #777
Can someone explain why this 0x00 idea is not completely pointless?

[2018-06-22 21:19] mcdee commented on #777
@gitcnd registering an `ERC777TokensRecipient` is opt-in, so unless someone owns the private key to `0x00` and sets a "reject all" `tokensReceived()` it is (at current) a valid recipient for a transfer.

[2018-06-22 21:42] StuartFarmer commented on #721
https://eips.ethereum.org/EIPS/eip-721 declares the interface as:
`pragma solidity ^0.4.20;

interface ERC721 is ERC165  {
    event Transfer(address indexed _from, address indexed _to, uint256 indexed _tokenId);
    event Approval(address indexed _owner, address indexed _approved, uint256 indexed _tokenId);
    event ApprovalForAll(address indexed _owner, address indexed _operator, bool _approved

[2018-06-22 21:55] paulbarclay commented on #721
I disagree. Firstly, the vast majority of implementations will simply use
the OpenZeppelin standard ERC-721 token, so there's minimal implementation
overhead (and we should STRONGLY encourage this practice). Secondly, the
"minimum non-fungible token" you describe here doesn't usefully interact
with the pieces of infrastructure which will likely be created. Hence
whether it implements an interface

[2018-06-22 23:17] jordanschalm commented on #998
Hi everyone! Myself, @flockonus and a few other folks from the CryptoKitties team had the opportunity to meet @mattdlockyer a couple days ago to discuss designs for composable NFTs. We primarily discussed a different design than what is currently in this ERC, which I’ll summarize here to get feedback on from all of you fine NFT enthusiasts!

### Current Design Issues
#### Ownership state is split

[2018-06-22 23:20] StuartFarmer commented on #721
`the pieces of infrastructure which will likely be created`

I think that writing an interface that is based on speculation rather than how people are using it makes the software head in the wrong direction. However, I do agree with your OpenZeppelin comment. Should we have to wait for them to security test and be the ones that determine which standard we adhere to, though?

[2018-06-22 23:47] mryellow commented on #998
Wonder if there are issues similar to "approval" where some "attachment" might be orphaned by a chance in "ownership" at the child level.

Does a cat continue to be attached to a hat after the hat's ownership has changed?

Who can detach the hat?

I'm rather interested by the possibilities when it comes to arbitrary standard tokens rather than specifically crafted tokens setup to be children. Sema

[2018-06-22 23:52] mudgen commented on #998
I have been looking into the bottom-up approach.  Some comments:

Using the bottom-up approach it is possible for new composable-aware ERC721 parent contracts to have onchain enumeration for any token that is transferred to it. This is done by using the `safeTransferFrom` and the `onERC721Received` functions to pass into the parent contract the child tokenId. And when the child contract transfers

[2018-06-22 23:56] mryellow commented on #998
Related work, haven't dug into it but have seen this mentioned in relation to "composables".

dealing with the details of specific tokens. {Set}s are a superset of the ERC20 token standard with issue and redeem functionality, allowing for the atomic swap of the {Set}s and their underlying tokens. As an investment, {Set}s are similar to index funds (e.g. S&P 500, DJIA) and exchange traded funds (ET

[2018-06-23 00:29] fulldecent commented on #721
@StuartFarmer you have valid concerns. Yes, I believe a use-case-first approach is necessary for building standards. Also a strong understanding of existing implementations is necessary. You may like to read #841 to critique the process that was the making of 721, and I hope you will approve of it.

Please see the 0xcert implementation. If you find problems they will pay you cash. This, along with

[2018-06-23 05:14] ricmoo commented on #838
I have added this to the experimental TypeScript branch for [ethers.js](https://github.com/ethers-io/ethers.js) and currently I do not see any version byte.

I might suggest the following, if the length (in decoded bytes) of the result is congruent to 4 mod 32, then it is the above <sig><standard abi>. 0 mod 32 indicates nothing special and that the abi should be parsed as usual. Version and addit

[2018-06-23 05:42] jllaw commented on #725
Pardon this question is completely missing the point or missing what is obvious, but I'm not technical at all (a law/finance guy here) and wasn't sure from 725 and 735, can a claim be used not only to validate an identity but to also invalidate an identity?  As you might see from my notes above, I struggled with the idea that regulators would want the identity of the person to be verified and one

[2018-06-23 10:27] gitcnd commented on #777
@jbaylina Is it possible to use Nick's Method (same as ERC820) to register a "reject all" contract on 0x00 ?  I'm happy to pay the cost if yes, to bury this minor issue.

[2018-06-23 14:12] mcdee commented on #777
@jbaylina and if you work out how to do that please let me know, there's a transaction I'd like to run against that address as well :)

[2018-06-23 17:57] jbaylina commented on #777
Of course nobody can execute nothing in the name of 0x00. :)

@MicahZoltu  I don't like the SHOULD nether. But in this case, and because it's an important security recommendation, I thing it's justified and worthy to mention it in the standard.  We can use MUST, but I don't fill comfortable in forcing this counter-nature rules.  Some body could argue also that we should inclue also some other spec

[2018-06-23 22:17] mbeylin commented on #792
But why bother putting the funds in the arbitrator contract in the first place ahead of time, why not just pay out when the decision is submitted? Why is this extra trust being placed on the arbitrator contract (to not allow funds to be taken without ever submitting a ruling) instead of just programming the arbitrable contract to remove this problem altogether?

I think the key in my mind, as a de

[2018-06-23 23:04] clesaege commented on #792
Because otherwise, malicious parties could start an expensive process without paying.

Because the parties trust the `Arbitrator` contract as they would not have chosen it otherwise.
Note that requiring to have a ruling would not provide anymore protection as malicious arbitrator could just rule randomly.

This standard is for interoperability between `Arbitrable` and `Arbitrator` contracts, if yo

[2018-06-23 23:06] clesaege commented on #792
Coming back to improvement proposals, what do you think of adding the possibility to pay in tokens?

[2018-06-24 00:37] chompomonim commented on #965
After some considerations I see that there is one more fix needed for `ChecqueOperator`.

If we're using `paidChequeSum` which accumulates sum we should not use data, because any of cheques could be skipped. So `data` can't be parameter of `sendByCheque` because some datas could be skipped.

To solve this problem we could add some kind of `agreements` functionality:
[code]

I like this idea but it

[2018-06-24 05:47] mg6maciej opened #1180 "Non-Fungible Token State Verification (for exchanges)"
Motivation
======

This is to start a discussion on **secure** exchange of NFTs, as there are potential problems with front running, where seller can change state of token (and lower its value) before buy transaction is added to blockchain.

Details & Implementation
======

While what we really own is a unique number known as tokenId in a namespace of certain contract, often it's something else th

[2018-06-24 08:46] mcdee commented on #777
@MicahZoltu I agree that best practices shouldn't be part of a standard, but this one seems to me to be protection against a common funds-losing mistake than a best practice.  Perhaps an example might help:

[code]

And look at the potential outcomes of forgetting to initialise the variables:
- If `erc777Token` is uninitialised then `send()` will fail
- If `from` is uninitialised then `send()` wil

[2018-06-24 18:27] p0n1 commented on #827
_Same post as https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1044._
_Proposal discussions should be continued here._

It is a really bad practice to allow the abuse of CUSTOM_CALL in token standard with `anythingAndCall`.

[code]

Users are allowed to pass arbitrary data, leading to call any function with any data on any contract address.

Attackers could call any contract in the nam

[2018-06-24 18:28] coinfork commented on #1155
Added the split bits strategy to the description, thanks :)

[2018-06-24 18:37] k06a commented on #827
@p0n1, first three issues can be solved by denying `_to` to be equal to `this`.

[2018-06-24 18:40] AugustoL commented on #827
@p0n1 what k06a says has been already implemented in the zeppelin implementation

[2018-06-24 18:46] p0n1 commented on #827
@k06a  @AugustoL haha. I don't think so.

Adding `require(_to != address(this));` will only protect contract token itself.

In [this case](https://etherscan.io/tx/0xb72dcc4d04381ccad416b960e95183e94ee13e942743da913cf139c8abe212e7) for example, only `TE-FOOD Token` will be protected but `ERC20 (MOAT Token)` will not be.

That's why I said "could steal **almost** each kind of tokens".

[2018-06-24 19:16] mg6maciej commented on #827
@p0n1 Thanks for speaking up. I'm currently discussing reasons to abandon proposals like #827 and #1003 with @AugustoL in a private channel. If we don't find consensus or there will be no more replies, I'll seek support from the community at large.

[2018-06-24 19:30] coinfork commented on #1179
This is essentially what we're doing in ERC-1155, I suggest contributing to that EIP instead.

[2018-06-24 19:39] k06a commented on #827
@p0n1 maybe also check first 4 bytes of `_data` and deny signatures of `transfer` and `transferFrom` ERC20 methods?

[2018-06-24 19:43] AugustoL commented on #827
@mg6maciej @p0n1 I think the token shouldnt care about other tokens, it is not like every contract will take in count how to recover tokens when you arent supposed to send it there.
ERC20 smart contracts that received tokens they are lost. At least here they are at least still in circulation.
In case that we decide to add a recovery method for tokens. How will you implement it? We can add it to th

[2018-06-24 19:46] k06a commented on #827
@mg6maciej both #827 and #1003 will be not needed in case #1035 will be implemented in EVM. This will allow batching account transactions without chaining them.

[2018-06-24 19:48] k06a commented on #1035
This EIP will help a lot in interchain-development.

[2018-06-24 20:06] k06a commented on #827
@AugustoL I think allowing token creator to reclaim any tokens from smart contract is best possible solution to resolve this kind of issue: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/ownership/CanReclaimToken.sol

[2018-06-25 00:17] AC0DEM0NK3Y commented on #1155
Transfer made using this standard, 2 FTs(10k + 5k) and 100 NFTs (100):

https://ropsten.etherscan.io/tx/0xfc924192fb068a6326bc28a2f5762be3a4b1fb6a1ef801bf6bf02c06af929d53

FT #1 ID: 0x54e8b965cee12ac713ee58508b0d07300000000000000000000000000000000
FT #2 ID: 0x3bf7ded270a4ab1d5e170cc79deb931800000000000000000000000000000000
NFT ID: 0x4362b8ce48bee741861f523a3b91803c00000000000000000000000000000000

[2018-06-25 06:05] ericmuyser commented on #1155
Hyperbridge is interested in potentially supporting this standard in our upcoming marketplace. We'd like to see where other organizations stand on this as it's an obvious problem, and if the proposed solution works for you. @coinfork I don't see source code, so I'm going to take to take it that's currently proprietary. Is there any examples in the wild as of yet?

[2018-06-25 07:01] coinfork commented on #1155
Hey @ericmuyser thanks for your interest! We currently have a deployed contract on Ropsten (please see AC0DEM0NK3Y's post above) that is specifically tailored to our gaming use-case. We'll consider adding a reference implementation to the standard.

[2018-06-25 09:19] Nitro888 opened #1182 "ERC-1175 : Wallets and Shops standard for safe pay"
# All Tokens go to heaven
![wallet](https://user-images.githubusercontent.com/11692220/41762799-ee17c480-7636-11e8-9930-681be2c59b56.png)
## Simple Summary
Make wallets and shops created from certified contracts make erc20 tokens easy to use for commerce.

## Abstract
The **mutual trust between the wallet and the shop created by the authenticated contract** allows you to pay for and purchase items

[2018-06-25 11:32] NEO2756 commented on #735
addClaim:
This SHOULD create a pending claim, which SHOULD to be approved or rejected by n of m approve calls from keys of purpose 1.
If we need to accommodate this change, how would someone come to know that we are in approve function for the execution of any pending transaction OR its approval for claim addition?
OR I am going totally in wrong direction.

[2018-06-25 11:57] powether commented on #1155
I hope you didn't announce this like "Biggest innovation in the manking".  5480196 gas is unacceptably high.

[2018-06-25 13:14] m-schmoock commented on #735
@NEO2756
since you mentioned **addClaim**:
so when we have a pending addClaim execution request, is it correct that fronend has to parse the the function call (function signature hash and parameter encoding) for that pending execution request? For security reasins this seems plausible to me, but its very clumsy to implement (imho).

[2018-06-25 14:06] NEO2756 commented on #735
@m-schmoock
If we have to adhere to draft and implement n of m approval scheme, I think we need to do this.
we only emit event for frontend (executionId) for further required approval(s) against executionId.

[2018-06-25 14:20] AC0DEM0NK3Y commented on #1155
I think you need to look at the gas cost relative to the alternatives and how this differs from them. If you average this down (even without the fungible transfers that went with it) the above transfer cost ~55K per NFT sent, which compared to many other ERC721 implementations for eg. (seeing numbers 250K+ each) this offers significant savings. A simple ETH transfer costs 21K and ERC20 tokens look

[2018-06-25 16:37] flockonus commented on #998
@mryellow I believe that's the intention, the hat would keep on belonging to the same cat. Who can detach the item is the current owner of the cat.

@mudgen  I think so too! If the item in case that is for purchase, has attached items that are important for the buyer then it would make sense that the purchase order would pass an array of address+ids to verify the items are indeed attached to the N

[2018-06-25 16:56] p0n1 commented on #827
@AugustoL It appears to be not really a critical economic problem in most case when considering the tokens stuck at the contract balance got stolen by anyone else. But we still need to be careful with other unknown scenarios. People could combine ERC827 with other codebase.

We found many deployed contracts using ERC827 or [ERC223](https://github.com/Dexaran/ERC223-token-standard/blob/16d350ec85d5

[2018-06-25 17:17] ukstv commented on #1035
Yay! That would greatly help with off-chain scaling schemes like state channels.

[2018-06-25 17:58] mg6maciej commented on #998
@flockonus @mudgen https://github.com/ethereum/EIPs/issues/1180 proposes a generic solution for validation when selling NFTs.

@mudgen

I think your assumptions are wrong here. If I understand this bottom-up concept correctly, child token is never directly transferred to its parent, i.e. `childContract.ownerOf(someTokenId) != parentContract` is true, unless someone just sent a token to a contract

[2018-06-25 18:11] shrugs commented on #1155
I don't have strong opinions yet, but did y'all explore the option of composing ERC721 and 20/721 to get similar functionality? As in, creating a `AllItems` contract that is 721 but fully controlled by whatever governance mechanism you'd prefer. Then, owners can create a new item set like `createNonFungible(...)` to deploy a 721 contract and add that new contract address as one of the tokens track

[2018-06-25 18:21] mg6maciej commented on #827
@p0n1 I agree this is not too much of a problem with another tokens accidentally sent to ERC827 contract.
I'm concerned mostly with something like this: https://gist.github.com/mg6maciej/8af66a0cfb6ac318fa8cedeb4fd246d3
This code is safe for ERC20, ERC223, ERC667 and ERC777, but anyone putting ERC827 will lose them to an attacker.
If you look at this code as a base for DEX like EtherDelta, but wit

[2018-06-25 18:47] AC0DEM0NK3Y commented on #1155
Hi @shrugs while not getting too far into the implementation details of a system that uses this standard, in the above example where two different fungible types and one non-fungible set were operated on what a user/creator could do is call a "deployERCAdapter" function on the particular type if they so wish which will deploy an adapter contract that is either fully ERC721 or ERC20 compatible depe

[2018-06-25 18:55] shrugs commented on #1155
@AC0DEM0NK3Y the ERC adaptor is interesting, yeah.

The fungible/non-fungible tokens would not be tracked in a single 721; their contract addresses would be.

[code]

[2018-06-25 19:01] AC0DEM0NK3Y commented on #1155
That is a way to track perhaps, but is much less user/network friendly. If I want to send you an NFT A and and NFT B and do that through your tracking contract I'd have to call approve on contract A and B separately to give the tracking contract the allowance, then call the tracking contract to do the transfer.
That is 3 individual transactions (4 if your tracking contract doesn't support arrays f

[2018-06-25 19:35] shrugs commented on #1155
I mentioned that above as well, perhaps I wasn't clear enough; you can implement multi-send functionality by making the `AllItems` contract a designated operator (or a super user of sorts) for transferring tokens/items and then implement access control at the `AllItems` layer, allowing you to skip approvals and send multiple items with a single transaction exactly as you do in 1155. Nothing has ch

[2018-06-25 20:05] AC0DEM0NK3Y commented on #1155
It sounds like it _could_ work, but it doesn't fix the wastage/management issue. Deploying a contract for every NFT is not future proof imho.

Your pattern seems like it would work with 1155 though. The register function that you are proposing could be something someone implements and then this returns an ID to match the contract address when calling the function. The call to transfer A and B in t

[2018-06-25 20:34] shrugs commented on #1155
superuser would need to be added, yes. you could also get away with operator functionality that already exists; simply default to setting the approved operator of every token to the `AllItems` contract. users could revoke, but 1) why would they and 2) to restore previous behavior, they can simply re-approve the operator. compatible with both 20 and 721.

The data/logic separation via proxy is a we

[2018-06-25 20:52] AC0DEM0NK3Y commented on #1155
"((an aside: using an existing standard is the definition of futureproof))"

I would call that backwards compatible but hey :)

[2018-06-25 22:42] amittmahajan commented on #1155
Thanks for putting this together!

A few folks (@petejkim (Cipher/Toshi), @lsankar4033 (PepeDapp), @pkieltyka (Horizon Games), and myself (Rare Bits/Fan Bits)) were actually bouncing around a Semi Fungible Token standard that may make sense to combine efforts on given the similarities. I've put it below for posterity. That being said, a couple ideological things that may be worth considering:

1.

[2018-06-25 23:34] PhABC commented on #1155
@amittmahajan Could you explain what `ownerOf` and `totalOwners` are referring to? It's not clear to me what the intentions are with these functions.

[2018-06-25 23:39] amittmahajan commented on #1155
@PhABC `totalOwners` is referring to the number of unique addresses that hold a given tokenType. `ownerOf` is one element of that "owners" array of a given tokenType. it allows you to enumerate every owner of a given tokenType.

[2018-06-25 23:47] AC0DEM0NK3Y commented on #1155
Thanks for adding that @amittmahajan and we'll discuss it internally. What first springs to mind however is that your proposal standard does not allow for approving/transferring etc. on multiple things in one shot as they do not take array arguments.

Also the functions such as @PhABC is talking about like totalOwners sound immediately to me like they would need more storage and so gas costs to ma

[2018-06-25 23:49] PhABC commented on #1155
Ah I see. How do you keep track of all the owners? I can understand iterating over all token types of the number of types is somewhat low by just querying `balanceOf(_owner, I)`, but you can't really iterate over the owners unless you keep a big array of owners for each token types. Any insights?

[2018-06-25 23:55] dwking2000 commented on #1155
Good to see this proposal. <p>Our use case is for ERC-20 tokens. We want to 'color' tokens by community while allowing them to be fungible on exchanges as a 'clear' token. Within communities transfer of colored tokens will be allowed in the community color only, but outside of communities the rest of the world will see the tokens as a single ERC-20 type token. This looks like a similar solution I

[2018-06-26 00:00] amittmahajan commented on #1155
@PhABC @AC0DEM0NK3Y re: `totalOwners`, `ownerOf`. not married to including these because we've built out the infra already to support it but I included it with the intent of spurring the discussion if there was a more clever way to implement it / see what the community demand for such a feature would be.

re: multiple token transfer, i think it's a good idea and has a lot of use cases. That being

[2018-06-26 00:06] PhABC commented on #1155
@amittmahajan batch transfer is critical for these types of tokens, imo, it's really what makes such an interface interesting. I personally vote for `batchTransferFrom(..)`.

[2018-06-26 00:07] AC0DEM0NK3Y commented on #1155
We originally had a transfer (single) and multiTransfer (array) in the standard but after testing gas differences and usability we decided it better to just off the array version and name it transfer for simplicity.

If you pass in MEW for eg. as well as other methods, the difference in array vs non-array method is almost identical (it is identical in MEW) and the gas difference is negligible and

[2018-06-26 00:13] PhABC commented on #1155
With my implementation, it costs around 400k gas to send 100 token types, but single transfer is about 2k gas more expensive using the `batchTransferFrom` function compared to the `transferFrom()`.

[2018-06-26 00:29] lsankar4033 commented on #1155
@AC0DEM0NK3Y one downside of a single `transfer` method (vs. separate `transfer` and `multiTransfer` methods) is that there's an additional burden on 3rd parties integrating with all standards, as they have to remember that `transfer` has different argument lists for ERC721/20/1155.

I think the simplicity cost of having two methods is worth the integration win of cleaner unification with existing

[2018-06-26 01:31] AC0DEM0NK3Y commented on #1155
@lsankar4033 We'll talk/test about that internally and come back on it.

My first thought is that transfer has to change even in singular form to include the token/item type:

so if it has to change signature anyway, why not go for the most powerful version if it is just as easy to call, almost as cheap and provides the opportunity for much more functionality?

[2018-06-26 01:39] AC0DEM0NK3Y commented on #1155
@dwking2000 we intend it for both. In our implementation we mix erc20 and erc721 style, can transfer (and lots of other ops) both types in the same tx and can deploy an adapter for each type that fully supports ERC20 and ERC721 API on the tokens if the user wishes.

We've tried to plan for the future while supporting current standards whilst also trying to keep the on-chain storage as low as possi

[2018-06-26 01:45] PhABC commented on #1155
@AC0DEM0NK3Y When you say you tested the gas cost difference of using arrays by default, would you mind sharing the numbers?

[2018-06-26 02:01] AC0DEM0NK3Y commented on #1155
@PhABC I didn't personally complete those tests. I've pinged the person who did for exact numbers (it's a stat holiday here so won't be answered until tomorrow) but from the figure I have at hand from chat logs it looks like it was ~500 gas more for a single transfer and then ~9% less overall on larger multi transfers due to less need to call the function itself, the potential to reduce checks per

[2018-06-26 02:08] PhABC commented on #1155
Great to hear.

One thing I would like to note, however, is that the standard should not be rushed to be finalized and should definitely not be made internally. As you can see, many people are implementing interfaces that are practically identical (from, to, type, amount) and a concensus should be reached among various groups for it to be a successful standard. I fear people will otherwise propose

[2018-06-26 02:16] AC0DEM0NK3Y commented on #1155
Absolutely. Keep the comments and concerns coming in this thread and lets all try to come together to an agreed solution.

[2018-06-26 03:47] lsankar4033 commented on #1155
@AC0DEM0NK3Y the address vs. address[] is particularly confusing because how the same semantic item (an address) is passed in changes b/w 20/721 and 1155. so even though the whole signature is changing, it might cause some errors

[2018-06-26 03:57] PhABC commented on #1155
I would argue that`_from[]` and `_to[]` are somewhat of a niche functionality that seem to better suit custom examples. I would prefer not to include this as a standard as I suspect it's unnecessary for most use cases (especially the current format,, where you send the same amounts from same IDs from different sources to different recipients). This is like minting not being part of most token stan

[2018-06-26 07:17] OrdonTeam commented on #1180
Why do we need array of StateHashHolder? Wouldn't one be enough? Extending hash functionality can be achieved by creating new StateHashHolder which uses previous one.

[2018-06-26 08:51] edmundedgar commented on #1161
Agree with @cag on the bytes32 thing, I know that's how Oraclize *serves* the data (as a string, which it's then up to you to parse), but I reckon what contract authors are usually doing as soon as they get that data is to squidge whatever they get from there back into 32 bytes so they can actually use it...

We've assumed everything is a bytes32 for Reality Check; On our current scheme (implement

[2018-06-26 09:05] edmundedgar commented on #1161
On `getOutcome()` and `isOutcomeSet()`, Reality Check calls `revert()` in its equivalent to `getOutcome()` (`getFinalAnswer()`) if the outcome isn't set. This is intended to avoid the need to call the contract twice in a transaction, although you still want to be able to call `isOutcomeSet()` to find out what's going on, most likely for UI purposes but possibly for use in a contract.

[2018-06-26 10:48] mg6maciej commented on #1180
@OrdonTeam There are many unrelated contracts that might keep state of a single token.

Let's take CryptoKitties as an example: as a user when buying a kitty, you may be interested in any combination of:
1) how many children the one you decided to buy has,
2) if it has a hat on kittyhats.co,
3) never took part in a race (or never lost one) on kittyrace.com

Each of these states is kept in separate

[2018-06-26 10:52] jleeh commented on #1161
I disagree with this being restricted to just `bytes32` as that is a limitation with what current Oracle solutions report back with, and will have the following side-effects:
- Code duplication in each of the contracts that implement this interface, having methods for typecasting `bytes32` values to `uint`, `int`, `bool` etc.
- Increased GAS cost for either the Oracle reporting or the contract tha

[2018-06-26 11:38] edmundedgar commented on #1161
@jleeh I'm all for saving gas and we jumped through all kinds of hoops to make Reality Check economical but the gas cost of these conversions is extremely small - here's a demo contract that just logs an event, one with a bytes32->uint conversion and one without:

https://pastebin.com/D55x8e9K

======= contract.sol:GasDemo =======
Gas estimation:
construction:
   117 + 69000 = 69117
external:
   c

[2018-06-26 11:43] MicahZoltu commented on #1161
This isn't accurate, Augur doesn't represent results as a single value, it represents them as an array of values.  This is because the result is a distribution of assets to token holders, and that distribution may not be 100%/0%.

Invalid is represented by an equal distribution to all parties (along with a special flag to differentiate from a valid exactly-middle resolutios.).

[2018-06-26 12:22] erasmospunk commented on #84
@MicahZoltu when a user creates an account with a specific path it cannot change and using a new path means that they have to move their coins. There are millions of people using different paths, hence the "de facto standards".

[2018-06-26 12:29] jleeh commented on #1161
@edmundedgar Good point, just tested the same for `int256` with a twos compliment hex and got the same also, 55 gas difference.

I was thinking more along the lines of the literal "32" being passed as a bytes32, rather than 32 being pre-encoded to uint/int.

[2018-06-26 13:03] MickdeGraaf commented on #1155
Maybe erc20 adapters can be deployed on demand by anyone.

[2018-06-26 13:41] OrdonTeam commented on #1180
:+1: I didn't get that as a buyer I'm choosing in with `StateHashHolder` I'm interested in. Now it make perfect sens.

[2018-06-26 14:20] PhABC commented on #1155
I'm wondering if the `totalSupply` is really necessary. Afaik, the only third parties using total supplies are blockchain explorers, who already track evens anyway. Updating the supply of each minted tokenID can be quite expensive, especially when batch minting. Supply can easily be calculated off-chain for anyone with a full-node. Any examples where on-chain access to totalSupply is important?

[2018-06-26 17:44] AC0DEM0NK3Y commented on #1155
@MickdeGraaf It's already done in our implementation (and for erc721), works well.

@PhABC I think totalSupply is necessary for the user to asses rarity of item but I see in the future the possibility of people using supply model mechanics for their item distribution which would need this info on chain to do so trustlessly. Exchanges may also want to quickly pull this without having to run through

[2018-06-26 19:11] PhABC commented on #1155
That's possible, but that would be implemented by the owner of the contract, not third parties imo, or it would be quite specific to a given supply model.

I don't recall seing an exchange that lists the token total supply to users. Do you have examples?

Perhaps I am misunderstanding some of the specs. How does the total supply work for NFTs and fungible tokens? From my understanding, each ID is

[2018-06-26 19:40] AC0DEM0NK3Y commented on #1155
I don't. But it seems to me that this is something (total and circulating perhaps) that may be wanted by exchanges/browsers like CMC going forward. We don't have good examples for anything like this, yet.

If you have a token 0x1234 and that is fungible, you can return the totalSupply for that just fine. For NFT when we are storing multiple definitions in a single contract, to get that info I woul

[2018-06-26 19:48] PhABC commented on #1155
I'm just thinking that for every NFT created, you have at least 3 `SSTORE` operations ; `balance[to,NFT_family + index]` , `totalSupply[NFT_family]`, `totalSupply[NFT_family + index]`, which would cost 45k gas minimum instead of 25k (or 20k without any supply).

[2018-06-26 20:13] shrugs commented on #1180
Neat! Defining state holders & the oracles around them will be an interesting problem, but I like this approach for condensing that information into an on-chain-checkable value.

[2018-06-26 20:34] PhABC commented on #1155
I am not sure I understand. Clearly if `NFT_family + index` does not exist yet, the supply will be `0`?

[2018-06-26 20:39] mbeylin commented on #721
Was there a reason why the `transferFrom` method doesn't return a `bool` similarly to how ERC20 tokens do? For contracts which desire to allow transactions in ERC20/721 tokens interchangeably, the function must return a bool to conform to the existing practise of wrapping a `transferFrom` call in a `require` to ensure it completes successfully.

[2018-06-26 21:01] AC0DEM0NK3Y commented on #1155
True, but if 0 < index <= totalSupply I can assume the owner is the "creator/manager" in that case.

[2018-06-26 22:05] fulldecent commented on #721
@mbeylin Yes, there is a good reason. That is very common question in this thread. Please open the standard at https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md and scroll down to the **Rationale** section to study more. The specific section you are interested in is "Transfer Mechanism".

[2018-06-26 23:17] fulldecent commented on #838
Please explain the caveat "when it's not prefixed by zero" in the backwards compatibility section.

I am concerned what is the cost in practice of this EIP against deployed contract size. The contract size limit is at https://github.com/ethereum/EIPs/blob/master/EIPS/eip-170.md

Here is a contract I am familiar with https://github.com/0xcert/ethereum-erc721/blob/master/contracts/tokens/NFToken.sol

[2018-06-26 23:28] mbeylin commented on #721
@fulldecent I can see it noted that these alternatives were considered (and I notice they were originally recommended to be in the standard to maintain backwards compatibility), but the actual reasoning itself seems to be absent. Do you longer documentation on why `transfer` was omitted and the bool return (JUST FOR TRANSFERS) were removed?

[2018-06-27 00:17] PhABC commented on #721
I personally do not like the `transfer()` function anyway, since it's really a special case of `transferFrom()` where `from` is `msg.sender`. I personally prefer simpler interfaces in general and always complained about `transfer()` existing. Perhaps `transfer()` should've been implemented as `transferFrom()` in the first place, now it seems like we are stuck with the `transferFrom()` name for som

[2018-06-27 00:49] PhABC commented on #721
I'm not sure I exactly understand. Most dapps I know don't use the `transfer()` function, but the `transferFrom()` function, unless the users deposit their tokens instead of calling `approve()`. If a contract wants to transfer via `transferFrom()`  while the contract hold the tokens, they don't need to call `approve()` first either.

In general, I am in favor of reusing the same interface when pos

[2018-06-27 01:14] fulldecent commented on #721
@mbeylin Sorry, please see also #841 for further discussion, it is not all in this thread.

I expect most applications will use the simple and unsafe transferFrom or they will use the one-step safeTransferFrom. And the safety will be done by the app before calling those functions. However there are MANY transfer scenarios that are enabled that is why we have so many work flows. We really do have t

[2018-06-27 01:44] ericbinet commented on #1155
ERC-165 signatures (correct me if I'm wrong)
[code]

[2018-06-27 01:50] se3000 commented on #1161
@edmundedgar one scenario we consider is something like parsing bytes32 [`"425.53"`](https://www.bitstamp.net/api/v2/ticker/ethusd) into a uint256. How would you handle that? You can cheaply change the type, but the content isn't preserved. Based on what you describe above, it seems like a type is specified in the request and then converted by the Oracle Handler. Chainlink does something similar a

[2018-06-27 02:14] se3000 commented on #1161
@cag some thoughts on specification and how we talk about this stuff at Chainlink: We're all for [ubiquitous language](https://martinfowler.com/bliki/UbiquitousLanguage.html) and so try to be pretty explicit about naming things. Because there's two parts to an Oracle, the on-chain and off-chain part, we specifically refer to the on-chain part as the "Oracle Contract", and have historically called

[2018-06-27 03:35] mbeylin commented on #721
@PhABC

This is true for EIP721 tokens yes but not true for ERC20 tokens. From every implementation I've seen, one must always call `approve()` first on the token before calling `transferFrom()` even if the `from` field is the `msg.sender`. For instance we use the default `transfer()` function in StandardBounties, and would desire to allow for our new contract to manage ERC20s and ERC721s seamless

[2018-06-27 03:57] PhABC commented on #721
Yes, the overhead does increase, but it's very unlikely only two token standards will be successful and preparing for more seems like a more thorough approach. Although I find it strange people would pay bounties in ERC-721 (hard to efficiently value), there might be other standards where it make more sense. Ideally they all have compatible interfaces, but it's unlikely, especially in the next 5-1

[2018-06-27 05:45] mg6maciej commented on #1180
Wyvern already has something similar built-in (search for `STATICCALL`), also for seller side:

https://github.com/ProjectWyvern/wyvern-protocol/blob/master/build/whitepaper.pdf

https://github.com/ProjectWyvern/wyvern-ethereum/blob/master/contracts/exchange/ExchangeCore.sol

[2018-06-27 06:16] AC0DEM0NK3Y commented on #1155
@ericbinet to summarize what I think has been said so far...

It's looking like from conversations above and after tests that the transfer will break out into transfer and batchTransfer and the array option would be in the batch version to save gas for single transfers, but those seem like the basic categories to me yeah.
Possibly dropping transfer and only having transferFrom if further tests sho

[2018-06-27 07:46] frozeman commented on #735
Concerning the `addClaim`,  as far as is understand the spec conventions SHOULD means can, but not must, MUST means must, and COULD means totally optional.

So if its 1 out of 1, the execution could go through immediately, but should still fire the events.

Im not understanding why you want to parse the function hash?

Concerning the topic numbers: http://schema.org/Person could be a good start re

[2018-06-27 07:46] juliosantos commented on #725
Gotcha, that makes sense. No point in narrowing down on implementation possibilities.

[2018-06-27 07:52] frozeman commented on #939
@Agusx1211 the proposal looks the same like #735 as @MrTibbles mentioned. I see the point of having claims which would not need to go through an approval process. But 735 could also allow that, as its not enforced that it must be approved. I would like to put work on getting the standard for claims right once, even if you create a sub standard later, but at least know how to interact with those. S

[2018-06-27 09:52] AugustoL commented on #827
I created a gitter channel to discuss about ERC827 standard, implementations and governance of the standard.

https://gitter.im/ERC827/Lobby

I also created a public calendar on google calendar for ERC827 community calls, maybe to happen once every two weeks, where anyone in the community can join. The first call will be 5 of june at 5pm GMT +2.

Link to the call: https://calendar.google.com/event

[2018-06-27 11:10] federicobond commented on #838
Note that we are already moving towards having rich error reporting in contracts. This EIPs is intended to avoid the wastefulness of storing full strings like “The amount needs to be positive” instead of short 4-byte error selectors with optional arguments.

I haven’t made any calculations on the increased storage requirements, I believe those belong in the discussion of REVERT itself.

[2018-06-27 16:10] lsankar4033 commented on #1155
Great summary @AC0DEM0NK3Y!

To comment on the extra functions @amittmahajan brought up (below from his original comment):
[code]

These functions would certainly add untenable storage requirements in some cases, but in others (in my app, for example), the storage requirement isn't untenable and the benefit of having a standard way for exchanges, etc. to *enumerate* all of my assets would be reall

[2018-06-27 17:39] PhABC commented on #1155
@AC0DEM0NK3Y

Why do we need try to distinguish NFT from fungible tokens in the standard itself? A NFT is simply a tokenID with a `totalSupply` of 1, where fungible IDs have a `totalSupply` > 1. Why not make two contract, one for fungible and one for NFTs? What is the advantage of having both NFTs and fungibles in the same contract?

[2018-06-27 19:09] HarryR commented on #174
So basically this is getting shelved until WASM comes along, at which point it will become a non-issue?

Makes sense, and the ABIv2 encoder is making things workable in the meantime.

[2018-06-27 19:20] cag commented on #1161
There shouldn't be a conversion gas cost, as the EVM doesn't have a conception of "type" in its memory, just that the Solidity compiler enforces type semantics, and there are EVM opcodes which assume a piece of memory is typed in some way and does an operation accordingly. I think the gas difference is an accident of function selector order and maybe implementation details regarding stack memory u

[2018-06-27 19:28] mg6maciej commented on #777
A couple of questions:
* What's are the identified use-cases for `operatorData`? I can see tremendous value in a single `bytes data` if different contracts implement callbacks like `tokensReceived` as it allows communication between contracts without knowing their ABIs, but can't figure out, when the second would be used.
* Is there a need for storing `bytes data` in events? These seem application

[2018-06-27 19:52] jbaylina commented on #777
Hello @mg6maciej
1. `operatorData` is data introduced for the operator. Examples could be the checkNumber, or an exchange transaction. `userData` is introduced by the sender, and is more similar that the normal `data` field in a regular Ether transaction like the function and parameters.
2. This data goes into Log Event.  It makes a lot of sense that all parameters of the transfer, included the da

[2018-06-27 20:18] mg6maciej commented on #777
Ad. 1 I'm not sure I understand. Do you have any examples of code using `operatorData` (or maybe together with `userData`)? I can see how exchange transaction could be made using just `erc777.send(exchangeContract, 10000, [exchange specific data like order id to be filled])`.
Ad. 2 Why would it be important to log everything inside token contract itself? If we take example from previous point, som

[2018-06-27 21:38] edmundedgar commented on #1161
@cag One thing we haven't really discussed here is how the question is formatted, except that it has a question, a type and may specify decimals - in the Gnosis context, what the content of that IPFS file looks like.

I don't know if that's too specific for the EIP which currently mainly talks about how the data is delivered, but I'd at least like to make sure that Reality Check supports something

[2018-06-27 22:28] mcdee commented on #777
@mg6maciej an example might be https://github.com/wealdtech/wealdtech-solidity/blob/erc777/contracts/tokenssender/CounterSignature.sol where the user data is the nonce for the request and the operator data is the signature that authorises the request.

[2018-06-27 23:28] gitcnd commented on #777
@mg6maciej [EIP1111 ](https://github.com/ethereum/EIPs/issues/1111) carries a proposal that implementers can use if they want to make public all the details of their use of these metadata fields, along with several example.

[2018-06-27 23:37] mudgen commented on #721
The ERC721 standard says this:

I would like to know in what circumstances will an old contracts return 1 when it doesn't implement a function. The standard only specifies the DelegateCallReturnValue bug which I don't think applies to the onERC721Received function. So in what cases does it actually make sense for onERC721Received to return a value?

[2018-06-28 00:13] AC0DEM0NK3Y commented on #1155
That is one way of doing it.

A better way imo that this standard allows would be to have NFTs as an ID and supply of totalSupply. In that way it can be X number of Y category NFTs that each have a balance of 1 and that balance can stay at 0 and be assumed as creator owned initially if it is within totalSupply range.

There are absolutely huge benefits of mixing fungible and non-fungilble in the s

[2018-06-28 05:04] fulldecent commented on #721
@mudgen Please can we have that discussion on Stack Exchange. The 721 standard has pointed out the relevant rationale. But the discussion of DelegateCallReturnValue is applicable to anybody writing contracts.

[2018-06-28 05:13] reductionista commented on #963
All [changes](https://github.com/ethereum/EIPs/commit/0fe9ffabd6b2c081dbdae141870a43f1d447854c) have been merged now--closing issue.

[2018-06-28 05:13] #963 closed

[2018-06-28 06:31] mg6maciej commented on #777
@mcdee Very nice and clear examples in both `tokenssender` and `tokensreceiver` directories (except for `EmitMessage` which doesn't seem very useful). They look like they are designed to be used by all. Do you have them deployed using Nick's method described in 820?

Your `CounterSignature` seems to not adhere to statement in the 777 specification:

as both nonce and signature are provided by the

[2018-06-28 06:50] mudgen commented on #721
@fulldecent Okay, I posted a question about this on Stack Exchange here: https://ethereum.stackexchange.com/questions/52258/what-are-good-specific-reasons-the-onerc721received-function-returns-a-magic-val

I feel the rationale for `onERC721Received` is incomplete and mentioning the DelegateCallReturnValue bug doesn't make sense because I don't know of any case using the delegatecall opcode to call

[2018-06-28 14:43] simon-jentzsch opened #1186 "EIP-1186: RPC-Method to get Merkle Proofs - eth_getProof"
---
eip: 1186
title: eth_getProof
author: Simon Jentzsch <simon.jentzsch@slock.it>, Christoph Jentzsch <christoph.jentzsch@slock.it>
discussions-to: simon.jentzsch@slock.it
status: Draft
type: Standards Track (Core, Networking, Interface, ERC)
category : Interface
created: 2018-06-24
---

## Simple Summary

One of the great features of Ethereum is the fact, that you can verify all data of the stat

[2018-06-28 15:08] MicahZoltu commented on #1186
It feels like this should be paired with an `eth_verifyProof` method.  Getting a proof with no _easy_ way to verify it feels significantly less useful.

[2018-06-28 16:45] mg6maciej commented on #777
Oh, yeah. My first thought was that you could write a composite sender / receiver contracts and users could enable and disable simple contracts like your examples via this composite, but it doesn't work, because `msg.sender` is lost. Or maybe there is a way to do it?

It was certainly easier to write the code, but if you show examples that contradict specification, then it's a problem. Even if non

[2018-06-28 17:55] mcdee commented on #777
Yeah that's not so easy with the existing interface.  I suspect that we'll end up with second-degree contracts that have a slightly different interface that will allow for iterating through multiple token senders/receivers.

Both the nonce and the signature would be supplied by the operator.  In fact, in a world where the tokens sender contract might reject a `send()` all sending should go through

[2018-06-28 19:11] pemulis commented on #827
Is this bug actually a feature if a token is only meant to be used within a particular ecosystem, targeting specific contracts that don't have a tokenFallback function, and not freely traded or sent to arbitrary contracts? This vulnerability pretty much guarantees that ERC827 tokens couldn't be listed on decentralized exchanges, and would therefore be less vulnerable to securitization if the token

[2018-06-28 20:21] simon-jentzsch commented on #1186
a `eth_verifyProof` might be helpful, but not required since you can easily verify this inside you dapp. (or even outside).  , but if you call `eth_getBlockBy...` and take the `stateRoot`. you can easily verify the proof within your app. by simply calling

[code]

[2018-06-28 20:46] tenthirtyone commented on #1155
I think this is a good idea for the same reason I thought the 821 asset repository was a great idea. I'm still wrapping my head around issuance for ERC-20 but think this solves problems we are approaching. I'm excited to give it a try and wanted to voice tentative support.

Will respond with any findings when I start swapping out 721/20 in our current contracts.

[2018-06-28 22:04] fulldecent commented on #838
Actually, even the 4-byte selectors are unnecessary. I could explain how that works but it might be a premature optimization. That's why I'm asking for some metrics.

[2018-06-28 22:38] ricmoo commented on #838
Keep in mind one advantage of the 4 byte selector is determi omg error conditions vs correct operation. All results from a contract are currently congruent to 0 mod 32 bytes. The 4 bytes extra provides a nice safe way to detect something isn’t normal. Just something to keep in mind. :)

[2018-06-29 07:41] mavstronaut commented on #1155
Our team at Playfold is interested in developing this standard to alleviate the redundancy and complexity weighing on the blockchain. As a decentralised media company I am working on the language to translate the use case where an ERC721 may have value over a 721/20 token if not for the sake of existing as its own individual asset rather than a "mass produced" item.

@AC0DEM0NK3Y

The most obvious

[2018-06-29 10:12] vbuterin opened #1187 "Gas cost reduction for ECADD, ECMUL and ECPAIRING"
### Specification

If `block.number >= CONSTANTINOPLE_FORK_BLKNUM`, the gas cost for the following precompiles is reduced:

* `ECMUL`: reduced from 40000 to 10000
* `GPAIRINGBASE`: reduced from 100000 to 40000
* `GPAIRINGPERPOINT`: reduced from 80000 to 40000

### Motivation

Currently, operations using the alt_bn128 curve are much more expensive than secp256k1 signatures: an ECRECOVER implicitly

[2018-06-29 10:46] MCouzic commented on #1155
At Fieldcoin, the agriculture land project (exchange and manage farmland with mobile app), we were projecting to use the ERC721 token for our land physical land exchange.  I just got to be aware of the new protocol today. ERC1155 provides many advantages so as delays alleviation by grouping multiple items together during swaps, but also reduced transaction costs, less steps process... I will revie

[2018-06-29 10:59] m-schmoock commented on #735
@frozeman @NEO2756

anybody can add an execution request for a function that is implemented by the ClaimHolder imlpementing contract, right? This includes: addClaim (obviously), but also removeClaim, possibly malicious encoded event execution (Im not yet sure about this one), possibly functions that are offered by this specific (bad/extensive) implementation of the ERC735 contract, and maybe other

[2018-06-29 11:07] frozeman commented on #735
I am not sure about the origin implementation. The idea is that the execution request is only fired if the executed function is called. For addClaim it should fire the respective event, which then would make the user call the improve function, with the right ID.
There might be some confusion here when execute is used
On 29. Jun 2018, 12:

[2018-06-29 12:19] NEO2756 commented on #735
@m-schmoock @frozeman
I am also not aware of origin implementation. But I don't want anybody to add claim to my identity without my permission/approval. So i recommend to have MUST in case claim issuer is not MANAGEMENT key holder (i.e. no approval required for self claim) and approval process (via claimRequested event ) for any other execution for claim addition.

[2018-06-29 14:11] jbaylina commented on #777
@mcdee and @mg6maciej  Yes, in this example, nonce should be part of the `operatorData` .  Also note that `userData` should be part of the countersigned `hash`,  as is part of the call.

As a rule, userData is defined by the recipient of the tokens, and operatorData is defined by the operator.

In case the sender wants to add some data to the transaction (for logging) he can add it to the operator

[2018-06-29 14:47] aneequesafdar commented on #225
In the Attack Vector: Censoring signer it is mentioned K = `floor(SIGNER_COUNT / 2) + 1` prevents a signer from censoring votes, would K > `floor(SIGNER_COUNT / 2) + 1` offer better security? let say if K = `SIGNER_COUNT` doesn't that mean an attacker would need 100% of the signer to launch an attack? Also since it is a PoA doesn't it also make sense to just have 1 signer proposing blocks instead

[2018-06-29 16:18] Shadowfiend commented on #1187
This is currently proposed in [EIP-1108](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1108.md), though with different numbers (generally smaller by a factor of 10 rather than a factor of ~2 based on the benchmarks posted by geth).

Not sure how the EIP process proceeds in these cases; I'm happy to update EIP-1108 with the numbers from here if they have a better basis, and the motivation h

[2018-06-29 21:59] codesinthedark opened #1189 "Intertwine PoS protocol with state-channel network"
**Simple summary**
Stake in PoS should be put into a good use instead of rewarding someone for just owning a large stake. The stake should be used in state-channel network to allow users to have cheap instant transactions that would be off chain and not increase the size of the chain.

**Assumptions:**

- If we really want blockchain technology to replace fiat then we really need some state-channe

[2018-06-30 01:39] coinfork commented on #1155
Thank you for the feedback everyone. We've created a repository with a reference implementation (work-in-progress) of ERC-1155. The standard is also updated with single and batch functions for the time being.

The repository is here: https://github.com/enjin/erc-1155

We'd love to hear your feedback on this latest version. My own thoughts are that there are now too many required functions (with bo

[2018-06-30 04:49] mudgen commented on #1155
Help me understand this code from the implementation:
[code]
If `_nfiType & TYPE_MASK == 0` then how could `_nfiType & NFI_BIT  != 0`?

Because this code checks to see if any of the 128 high bits of `_nfiType` are 1 and throws if so.  Then it checks if the highest bit of `_nfiType` is not 0 and throws if it is 1. This doesn't make sense to me. Am I missing something?

[2018-06-30 05:10] coinfork commented on #1155
@mudgen you're right it was a bug, and it's fixed now. Tests are being written at the moment so there may be some bugs - please consider this a beta implementation to show the general idea until the unit tests are in place :)

[2018-06-30 15:57] mudgen commented on #1155
@coinfork I understand. Thanks for your answer.

[2018-06-30 23:51] mattlockyer commented on #1180
@mg6maciej love this idea. I just had a conversation with @mudgen and this topic came up!

We definitely need exchanges, wallet and dapps to be able to treat common token types as equals, provided their on-chain representations meet a certain level of criteria.

Thanks for posting and starting the conversation! 😃

[2018-07-01 20:59] MCouzic commented on #1155
Hi, I would have a question. How do you group all the items in one transaction? If they can be grouped, it means they can be separated. One of the key advantage of ERC1155 is to create one and not multiple tokens. This is where I would need more insight. If you group items, it also means they can be sent separately. In this case, they should be linked and represented by a unique token. Is there so

[2018-07-01 21:20] amittmahajan commented on #1155
I'd like to re-raise the issue of naming. I think Item is too specific of a naming convention and we should revert to the word Token when describing the assets that this contract represents.

Especially since we keep describing the functionality of this contract in terms of erc721 and erc20 tokens. It seems like an unnecessary departure and would require re-education of an entire ecosystem of deve

[2018-07-01 22:07] CarlosRoldanx commented on #900
Hey!

I was wondering how useful this simple staking interface can be applied for the creation of masternodos through this standard?

[2018-07-01 23:13] aalimk opened #1190 "Non-fungible royalty token"
eip:
title: Non-fungible royalty token standard
author: Aalim Khan (aalim.khan@gmail.com) and Shaan Ray (twitter.com/shaanray)
status: Draft
type: Standards Track
category: ERC
created: 2018-06-24

### Simple Summary

A standard interface for non-fungible tokens that pay royalties for a digital asset to the original creator(s) and/or owner(s).

### Abstract

This standard will allow for the implem

[2018-07-02 12:04] cbruguera commented on #725
@frozeman I'm working on an implementation of this standard, yet I'm having a problem trying to figure out what is the purpose of making a call to the `approve` method with `_approve == false`. Given that a task approved status would be already false by default, what sense does it make to spend a call to this method while making no effect whatsoever? Any views on this?

Note: I'm basing myself on

[2018-07-02 12:08] nick commented on #725
@cbruguera it could be useful when implementing a multisig identity where parties must cast an explicit yes/no vote. I believe @mirceapasoi's [implementation](https://github.com/mirceapasoi/erc725-735) has support for that.

[2018-07-02 14:30] PhABC commented on #1035
Strongly related to #1077 by @alexvandesande. Have you considered collaborating on this one @k06a?

[2018-07-02 14:36] conejoninja commented on #725
I have a doubt, as an issuer, the way to _remove_ a claim made on another identity, is to remove the key that signed such claim, right? so each claim should be made with a different key so it has control to revoke specific claims (the verification will fail). Is this right?

[2018-07-02 15:57] nick commented on #725
Yes although that's probably not very efficient if you're planning to revoke claims frequently. Check the description in [ERC 735](https://github.com/ethereum/EIPs/issues/735) for an alternative where the claim issuer is itself a contract called with the `data` stored in the original claim. That contract can return true or false depending on whether the claim is currently valid based on other data

[2018-07-02 16:17] conejoninja commented on #725
@nick Thanks, I don't plan to do it frequently but maybe you close a bank account you have previously verified... If the bank used the same key for all its customers all their customers has to re-claim they have a bank account or ask you nicely to remove the claim. Just wanted to check I understood it correctly. Some issuers will need a different _scheme_ as described in 735, thanks for the info

[2018-07-02 18:24] mg6maciej commented on #1003
While this might solve some issues with #827, it's vulnerable the same way #827 is, so I'd suggest putting a big warning "**This standard is still a draft and is proven to be unsafe to be used**" (copied from #827) at the top of this issue and closing it.
If you want to learn more, please read discussion on #827 and here: https://gitter.im/ERC827/Lobby

[2018-07-02 18:36] k06a commented on #1003
@mg6maciej ok, but why to close this issue?

[2018-07-02 18:41] k06a commented on #1035
@PhABC thanks, I'll dig into it!

[2018-07-02 18:58] mg6maciej commented on #1003
Unless you want to actively work on making it secure (maybe together with @AugustoL, author of #827), it's better if less eyes see it. Open issues are just a bit easier to browse though. Closed issue is also a warning sign. See #821, which was an alternative to #721 before they joined forces. Maybe @AnthonyAkentiev from Thetta/Thetta-DAO-Framework would not reference this and #827 if they were bot

[2018-07-02 21:38] jlwaugh commented on #1155
#888 is more generalized

[2018-07-02 22:14] AC0DEM0NK3Y commented on #1155
This as with other standards is not an implementation, but you can see an example implementation @coinfork posted earlier [here](https://github.com/enjin/erc-1155).
Our internal implementation for our particular use case for instance has some ideas that inspired that example but isn't identical at all.

Hi jlwaugh. I believe we discussed an idea around this too but decided while something like tha

[2018-07-02 22:41] AC0DEM0NK3Y commented on #1155
@jlwaugh #888 is more generalized

Hi jlwaugh. I believe we discussed an idea around this too but decided while something like that is generic on the chain (although at a cost in multiple ways) it makes off-chain interaction more complex and less predictable if using a dynamic key.
One example off-chain might be in a wallet, with a uint256 the UI designer can work with integrating that into their

[2018-07-02 22:41] AC0DEM0NK3Y commented on #1155
@amittmahajan I'd like to re-raise the issue of naming. I think Item is too specific of a naming convention and we should revert to the word Token when describing the assets that this contract represents.

It's a topic worth discussing for sure and one that we've discussed quite a bit ourselves and decided to go with "item" for what it is, rather than just pick "token" because that has been what h

[2018-07-02 22:58] PhABC commented on #1155
Hey @AC0DEM0NK3Y, @coinfork & others, we just released publicly [our implementation](https://github.com/horizon-games/multi-fungible-tokens#rationale) with a very similar interface as proposed here. We want to collaborate and do not wish to create a separate standard proposal. We think the interface could be improved and you can find the rationale of our interface design choices in the [rationale

[2018-07-02 23:20] amittmahajan commented on #1155
Appreciate the difficulty in naming things!

1/ Those distinctions can still be (and should be) made at the UI/App layer where more context is known. For example, we've already made that distinction on our properties. We call tokens "Collectibles" on Fan Bits and "Assets" on Rare Bits.

2/ The consumers of the word "token" will be almost entirely devs. Given that we have so much existing infrastru

[2018-07-03 03:33] mudgen commented on #223
The [ERC721 standard](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md) has a call back function called `onERC721Received` that returns a magic value to ensure that the function call and result is really valid. Why doesn't the `tokenFallback` function in ERC223 do this?

[2018-07-03 09:53] Azephiar opened #1194 "Trophy smart contract standard or draft"
We're building a dapp that will award a trophy as a smart contract, I tried to look on google if there is a draft or standard for something like that but I wasn't lucky.
The trophy is basically a transferable token with a supply of 1, it seems a little bit overkill using the ERC721, ERC20 or ERC223 interfaces.

Just to give you a better idea the contract should have these variables:
- winner: Addr

[2018-07-03 12:00] thekrol01 commented on #1194
You can also create a mapping with a struct like mapping(address (this is the creator)=> mapping( address(this is the winner)=>trophy) _trophy
The trophy struct contains all the contract details. So you don't need a new contract for every trophy. You can transfer to throphy to a new winner by whoeever is authorized.  For example a tournementowner. For example you can add a trophyowner address fiel

[2018-07-03 12:29] Ezechiele commented on #1194
The Dapp I'm building will award just one trophy, so this was thought in that way.

Do you have any case scenarios where is needed to award a big amount of trophies ( > 10 )? Because if you don't I don't see the need to have a single contract awarding a lot of trophies.

If 1 smart contract = 1 trophy and someone has the need to award multiple trophies nothing is preventing to create a "Trophy Fac

[2018-07-03 12:50] AC0DEM0NK3Y commented on #1155
That's fair. But I think you should give devs a little more credit, the better ones are are some of the most adaptable to change I find rather than just aim for the status quo and altering a name isn't exactly earth shattering, especially if we want to push a narrative about what these represent outside of the dev community.
For adoption I don't think it is particularly great for mainsteam news li

[2018-07-03 14:53] ericbinet commented on #1155
@PhABC wrote:

This reference implementation is interesting. I like the proposal of a safeTransferFrom function. However, to save on gas, I would keep the basic `transfer` function.

I tested the cost of adding a parameter to a function here:
[code]
`fct1` costs 28534 gas and fct2 costs 29956 gas.

[2018-07-03 16:51] jllaw commented on #725
Thanks @frozeman.  It makes sense that in a pure self-sovereign, the identity owner would control everything.  Without a reputation feature, I wonder if self-sovereign identity on Ethereum is limited though.   Because of the nature of the addresses, even though one might take comfort in knowing that many reputable parties have made positive claims that the self-sovereign accepts, there's no protec

[2018-07-03 18:11] tyleryasaka commented on #725
@jllaw I think there is certainly a need for decentralized reputation, but that is outside the scope of this proposal. ERC725 is a base identity layer, agnostic about how it might be used in something such as a reputation system. I am certainly interested in reputation standards that could be built on top of ERC725.

What you described is possible, but it would be an alternative to [ERC735](https:

[2018-07-03 18:43] jllaw commented on #725
Thanks @tyleryasaka!  Very, very helpful.  I agree that there isn't currently an on-chain method of verifying uniqueness (it's a problem I've dealt with because on a weekly basis, I'm asked (including by many blockchain experts and attorneys) if one can do aml/kyc or other verifications just off an Ethereum address, and I have to explain why we can't).  You guys have been so understanding and grea

[2018-07-03 21:19] coinfork commented on #1155
We have opted to remove the increase/decreaseApproval functions in favor of a more concise implementation that simply requires the current approval value, when calling approve().

This idea is found in the Secure Token Development and Deployment document by Dmitry Khovratovich and Mikhail Vladimirov. ( https://drive.google.com/file/d/0ByMtMw2hul0EN3NCaVFHSFdxRzA/view )

I've updated the ref. imple

[2018-07-03 22:06] pkieltyka commented on #1155
hey all, I just want to give a bit of background and thoughts on the above MFT interface / contract impl above posted by @PhABC. @PhABC and the team here at Horizon Blockchain Games developed the contract over the course of a few months during our work on SkyWeaver, a blockchain powered CCG, where we had a need for a batched ERC20 contract that consisted of multi fungible card types. We were just

[2018-07-04 00:07] JamesTherien commented on #1155
Hi,

reacting to the point number 1 in the post from @pkieltyka.

I think that leaving aside NFT in this standard would be a huge mistake. I think that the powerful idea of 1155 is to be able to build strong multi-token economies. Leaving out NFTs would weaken that concept considerably. Yes, 721 does a good job for NFT, but so does 20 fo Fungibles. That is not the point. 1155 brings them all toget

[2018-07-04 00:57] DaveAppleton commented on #223
In addition to those, COSS is a hybrid ERC223/ERC20 token.

You will note that all but SIX of those tokens also emit ERC20 transfer events - which is why you can link to etherscan token pages.

KUARTA, JBOX, RAISEYOURBET, Genevieve (Exchange and VC) show no token transfers on etherscan.

I would advise emitting an ERC20 transfer event in addition to the 223 Transfer event if you decide to go down

[2018-07-04 01:31] DaveAppleton commented on #223
It appears that JBOX have also migrated to the ERC20 transfer event model
https://etherscan.io/address/0x884e3902c4d5cfa86de4ace7a96aa91ebc25c0ff#code

[2018-07-04 02:55] ericbinet commented on #1155
@JamesTherien, @pkieltyka, I am envisioning on 1155 contract that could handle trading across dozens of independent games that want to enable transfers between their economies.

It would be amazing for a player to be able to trade 17 million gold in an unnamed MMO (fungible) for a unique ship in another MMO (non-fungible). All securely within the blockchain.

I see ways where an augmented 1155 con

[2018-07-04 08:12] MCouzic commented on #1155
@AC0DEM0NK3Y @amittmahajan About the thorny question of naming...  Here some thoughts. Item is interesting but there might be better than item... It is a token backed by something. The name token in itself may not be enough for common users to get a clear picture at 1st: Trade back or asset back token seems to long. Why just call it "asset token" or simply "asset" or "property - token".  Item of c

[2018-07-04 08:31] m-schmoock commented on #725
@jllaw I think it is possible to see if there are unconfirmed claims by checking the execution request array of the corresponding ERC725 contract. The way I understand the proposal, a claim has to be made by making an execution request on the ERC725 that will call the "addClaim" function of the ERC735. So you can 'simply' parse the execution requests function and arguments to see if people want to

[2018-07-04 09:12] hskang9 commented on #223
@mudgen I think ERC223 also has the "magic value"[function signature(0xc0ee0b8a)] which identifies fallback function

`tokenFallback(address, uint256, bytes)`

same as the one from ERC721

`onERC721Received(address,address,uint256,bytes)`.

ERC223transfer's result is also valid when _data is that function signature.

The implicit declaration of that is(this might work to ERC721 with changing hexad

[2018-07-04 09:50] kosecki123 opened #1197 "ERC-1197 Meta Payments"
I'm opening this ERC as a means for further discussions.

# Simple summary

Standard interface for meta payments

# Idea

The idea of payment is included in proposals like #865 or #1077 as well as protocols like Ethereum Alarm Clock (https://github.com/ethereum-alarm-clock/ethereum-alarm-clock) as the reward for execution of the requested task.

All proposals/protocols mentioned above using the re

[2018-07-04 11:16] AugustoL commented on #827
I just added a PR with a proposal with changes over current standard that adds more control to the receiver contract allowing it to specify which functions can be executed over it from the token contract.

https://github.com/windingtree/erc827/pull/2

[2018-07-04 14:52] CarlosRoldanx commented on #900
Hey @decanus!

I was wondering how useful this simple staking interface can be applied for the creation of masternodos through this standard?

[2018-07-04 15:23] pkieltyka commented on #1155
@ericbinet @JamesTherien hey guys, I agree trading fungibles for non-fungibles, vice-versa, or perhaps a mix of the two are real use cases that should be supported efficiently. One idea we discussed with @PhABC is a dapp could leverage #998 (cc: @mattlockyer) in a contract that combines MFTs and NFTs to achieve those very use cases. Which leads to the important question by CIS, how you'll support

[2018-07-04 15:52] jllaw commented on #725
@m-schmoock, thanks.  Having the knowledge of unconfirmed claims is useful information as well.  Basically, I'm curious if an address has ever seemed to be used for a different identity, which would imply that maybe the original identity (even with all the positive claims) might not be reliable any longer and at least require further diligence.

[2018-07-04 16:48] AC0DEM0NK3Y commented on #1155
Another good and valid option. "Asset" goes even further than item I would say to describing a physical or valuable thing that the standard could represent so I think it's also a very good choice for many applications.

So to summarize naming options as I understand it:

**Token(s):**
_-Pros_
The most agnostic, matches well with previous and related standards, has good momentum with dev community

[2018-07-04 17:21] AC0DEM0NK3Y commented on #1155
1155 makes such "bundling" very easy, 998 is a very nice solution but imho is also showing up some of the problems that have been imposed by the 721 standard.

In our articular implementation of 1155 we have had "composibles" of multiple NFT's and FT's running with unit tests with various features such as transfer fees and crypto currency backing for quite some time. We have decided to take a look

[2018-07-04 17:35] amittmahajan commented on #1155
Re: Naming, let's see where the voting lands out. one last point on this: if you look at the conversations and the terms people are using in this thread, it gravitates towards "Token". The point being that the word token (or NFT or MFT) is already being used to describe and ground what these things are, leading me to believe we have the descriptive word we need already.

We have, I think drawing i

[2018-07-04 19:01] pkieltyka commented on #1155
hey @AC0DEM0NK3Y thanks for the response, see below too

I agree 998 is still a WIP, but which problems do you speak of specifically that are similar to 721? As well, how do you define "bundling"? when I think about compos(ai)bles, I think about how in the physical world we turn steel into a sword or sand into glass, or glass into a bottle, an element of immutable change, or a unique/rare vehicle

[2018-07-04 21:17] k06a commented on #888
A few additions, including mentioned by @flygoing:
https://gist.github.com/k06a/b7677850ebe6d11dc6f3eb174db6dbd6

[2018-07-04 21:18] AC0DEM0NK3Y commented on #1155
OK I see where you are headed now.

I think at least in the short term as 721 has quite a bit of traction right now that strategy will work well. It will work for what people are currently calling "blockchain games" which I suppose sits in the realm of collectibles, turn based strategy/card games and other such things that lend themselves to low bandwidth interactions between users and certain asy

[2018-07-04 22:20] k06a commented on #827
Let's just add `ERC827Caller` contract this way:
[code]
And use it this way:
[code]

[2018-07-05 10:37] quantumproducer opened #1198 "A standard contracts to have for Self Contained HTML"
The biggest obstacles to true standalone "decentralized" applications is hosting.

For applications that do not depend on data kept offchain, all that is  needed to
run the dapp is an html page. This proposal is thus: Smart Contracts include an `html` function that returns a string which is valid HTML for viewing and accessing the page.

It might make sense to reference packages like JQuery or eth

[2018-07-05 12:05] Arachnid commented on #1198
This seems like a bad idea to me - there's absolutely no need to store this data onchain.

[2018-07-05 14:14] AugustoL commented on #827
@k06a I dont see how forwarding the calls trough another contract will fix the current issue of allowing arbitrary calls executed by default to any contract from the token contract.

I think the solution in the PR https://github.com/windingtree/erc827/pull/2 might be better because it removes the allowance of arbitrary calls from the token contract by default, but any contract can allow the execut

[2018-07-05 14:40] k06a commented on #827
@AugustoL the main problem of old implementation of ERC827 was that token may own some other tokens/resources and performing arbitary calls allows someone to steal this resources. I propose to forward calls with another contract, that should own nothing...

[2018-07-05 14:51] k06a commented on #827
@AugustoL I personally think I could use the proposed version with my current project: MultiToken - ERC20 token abstraction, which contains some nested ERC20 tokens. It was impossible with old version because someone was able to seat upgraded or AirDropped tokens to MultToken contract.

[2018-07-05 14:59] AugustoL commented on #827
@k06a why not collaborate here first?

[2018-07-05 15:00] k06a commented on #827
@AugustoL sure! Not going to use it until we found a best possible solution. Working on PR to this repo: https://github.com/windingtree/erc827

[2018-07-05 15:03] quantumproducer commented on #1198
@Arachnid  How can fully decentralized applications be realized then? The hosting will be dependent on a third party -- github is centralized.

[2018-07-05 15:36] Arachnid commented on #1198
Using Swarm, IPFS, Tor, or any number of other offchain solutions.

[2018-07-05 18:36] k06a commented on #827
@AugustoL Here it is: https://github.com/windingtree/erc827/pull/3

[2018-07-05 20:14] quantumproducer commented on #1198
IFPS requires a node to stay online, Tor also requires centralized hosting. Swarm, AFAIK, is just a reference to a storage but not a storage medium itself?

[2018-07-05 20:50] AC0DEM0NK3Y commented on #1155
Was thinking about the naming a bit and what could be done here given the voting is looking like it is leaning mildly towards tokens, a good compromise might be to name all the underlying function signatures etc. with token but for the standard's non erc numbered name we have some marketable easy to remember name that speaks to both.

This way we can keep close to the old standards by having token

[2018-07-06 07:55] techracers-blockchain opened #1200 "ERC-1200 (ERC extension)"
## Abstract
Token contract usually have a monolithic design that is not friendly to upgrades. The following proposal describes a more distributed token contract architecture that has a simple upgrade-ability protocol and allows to bring in new functions after being deployed.

## Motivation
There have been countless number of tokens where due to the inability to upgrade and fix bugs, contract holde

[2018-07-06 08:00] MicahZoltu commented on #1198
Decentralized storage is certainly hard, but I agree with @Arachnid that using Ethereum as a storage system is generally a poor solution due to how crazy expensive it is.

In many/most cases, there _is_ some central entity that has incentive to keep the data available.  That entity may operate in the dark (anonymously, hiding from state censors, etc.), but that doesn't matter.  If such an entity d

[2018-07-06 09:32] zemingyu opened #1201 "ERC-1201 Two Tiered Token Structure for Non-fungible Asset Ownership and Rental Rights"
# Summary
---
A two tiered token standard for non-fungible assets which tokenises both ownership rights and rival rental rights.

# Purpose
---
This is inspired by the [ERC-809 standard](https://github.com/ethereum/EIPs/issues/809) (Renting Standard for Rival, Non-Fungible Tokens), which is an extension for the ERC-721 non-fungible token standard.

While the ERC-809 standard caters for rental righ

[2018-07-06 09:51] jpitts commented on #1198
@quantumproducer you might consider a thorough listing of what needs you are addressing, and options for going about fulfilling the needs.

A method of referencing the default DApp for different screen sizes might be helpful to someone who finds a contract directly or in a blockchain explorer, but go as far as to put those assets in a smart contract is wasteful.

A more important driver here may b