[2018-03-08 22:30] flygoing commented on #909
There have been a couple EIPs, but I don't think there have been any that have gotten real transaction. It adds a lot of complexity to contract/dapp developers since it means contracts would have to keep Ether in their balance that slowly gets used or they would lose their state, which means users either have to fund this themselves or trust that the developers keep it funded.

[2018-03-08 22:46] jstoxrocky commented on #719
@MicahZoltu I like this idea a lot as it seems to kill several birds with one stone. Agreed that having presentationHash as part of Ethereum transactions would be super useful. Seems like that might the real solution, if someone can get that into a scheduled protocol change.

I know this is kind of a rehash of several older arguments in #712 but I am curious to hear your thoughts on the severity o

[2018-03-08 23:26] flygoing commented on #911
@ivica AFAIK the refund on SELFDESTRUCT isn't because the storage trie of a contract can be deleted, it's because the reference of nonce+balance+codeHash+storageRoot can be deleted. Seeing as the storage can be zeroed out before SELFDESTRUCT, you can get the refund from SELFDESTRUCT even if you don't have any storage.

Also, SELFDESTRUCT doesn't mean any of that stuff can actually be deleted since

[2018-03-08 23:51] flygoing commented on #911
@ivica7 Also, on top of that, the cost of the clone-factory vs your opcode isn't actually 68k vs 0. The cost of the clone-factory isn't mainly the 21k for tx and 32k for contract creation, which are both costs that would still exist for your opcode. The actual cost difference would be more around ~15k (only 12k for the actual bytecode)

[2018-03-09 03:51] nootropicat commented on #911
Imo it's only really an issue with gas costs being wrong. Deduplication can already happen on the database side, but there's no incentive to create identical contracts. In some cases a delegatecall proxy can be gas cheaper, but more expensive on the node side (with deduplication). As the [GasToken](https://gastoken.io/) project shows there's an urgent need for a separate storage fees.
Not sure how

[2018-03-09 04:57] ivica7 commented on #911
@flygoing about the refund: yes you're right, removing the account from the state trie is of significance too.

I don't agree on this. It is a large part in terms of bytes (max ~23Kb), but it's a neglectable part in terms of the data structure complexity (a single key/value entry in the database).

About the overhead calculation for the factory: yes, you're right. My fault! I counted first the cos

[2018-03-09 05:54] MicahZoltu commented on #719
Contract authors will need to make sure the acceptable presentation templates include enough details such that the user can provide informed consent.  For on-chain transactions, like a token transfer, this is pretty easy to do and should come naturally.  For something like a state channel, you will want to make sure that the presentation string makes it clear to the user what exactly they are sign

[2018-03-09 09:50] zaq1tomo commented on #920
https://github.com/ethereum/EIPs/pull/922

[2018-03-09 09:50] #920 closed

[2018-03-09 10:12] flygoing commented on #911
@ivica7 There is no data complexity if a contract has no storage, in which case you still get the SELFDESTRUCT refund. If the SELFDESTRUCT was mainly due to the deletion of storage, then the refund would be proportional to how much storage is being deleted.

Again, at the end of the day, you're not making anything cheaper for the node, so you're just shifting the cost of transactions from contract

[2018-03-09 11:17] ivica7 commented on #911
@flygoing there is no difference to the current situation! Right now, as-is, on SELFDESTRUCT, a node will only delete the entry for codeHash->bytecode if there are no other contract instances having the same codeHash. For EIP-911 there is no need for another behavior. There is also no computational overhead for the node, because if he's copying the codeHash from a living contract, he will know tha

[2018-03-09 17:17] peacekeeper commented on #725
FYI since DIDs have been mentioned a few times on this thread, we've been working on an "erc725" DID method specification, which means that erc725 addresses can be fully compatible with the DID syntax and DID document format. This is experimental and there are some open issues, e.g. most DID documents contain raw public keys, but in the case of erc725 it makes more sense to use hashed public keys.

[2018-03-09 17:46] ivica7 commented on #905
Some fresh ideas from Gitter: If refund would be disabled for SCLONEd contracts, SCLONE couldn't be used for DoS.

@Arachnid is pointing out that this would require storing the information about if the contract was cloned or not, which would be a big change in the state trie. Moreover, Parity could have a problem with cloning, because it is keeping each storage trie isolated from each other. It's

[2018-03-09 18:43] jstoxrocky commented on #719
@MicahZoltu Sorry if I sound like a broken record but I'm just trying to get a full grasp of your idea. Even in cases where the presentation is as explicit as possible, it seems like there is a chance of fraud unless part of the presentation data is verified within the contract.

Assume Alice opens two separate payment channels with Bob. One settled in ETH and one settled in ABC tokens. Alice want

[2018-03-09 18:47] spalladino commented on #721
We have a PR ready with the full implementation in OpenZeppelin [here](https://github.com/OpenZeppelin/zeppelin-solidity/pull/803). However, there are two points left to discuss:

1- Whether we want to enforce a 50K gas stipend for the call to `onERC721Received` ([latest discussions on gitter](https://gitter.im/ETH-NFT/Lobby?at=5aa17c66458cbde5570faecd) seem to gravitate towards *no*)

2- Adding a

[2018-03-09 22:35] spalladino commented on #777
@jbaylina and folks, sorry I got late to the discussion here. We've been working on an ERC721 implementation for OpenZeppelin, now that there was better consensus around the interface, and wanted to know what you thought about renaming certain methods in 777 for better consistency with 721 (including but not limited to `send -> safeTransfer`). Would this issue be the correct place for that, or #90

[2018-03-09 23:41] fulldecent commented on #721
For \#2, I believe now is premature to add to the standard. During the many meetings we have had, nobody has identified a need for this. It is OK for OpenZeppelin to include it and maybe if live applications are commonly using it then we can reconsider.

But from a technical perspective, I'll say `ownerOf` fully captures the most common use cases that I would imagine for `exists`. Token IDs are op

[2018-03-09 23:45] spalladino commented on #721
I'd agree if `ownerOf` returned zero for non-existent tokens, so it'd work as a proxy to `exists`. But as of now there is no way to know if a token ID is valid from a contract, which seems like a basic check.

That said, if there is no concrete need for the method, and we're fine in having that extra function in the OpenZeppelin implementation, the discrepancy it's not a big issue.

[2018-03-10 04:46] MicahZoltu commented on #719
@jstoxrocky I don't mind back and forth with you to help make things clear.  😄 If you prefer a faster round trip time, feel free to ping me in Gitter.

The problem you described is a problem with the state channel implementation, not with the presentation system.  Any state channel authored the way you described and susceptible to the attack you described is a _state channel with a critical securi

[2018-03-10 10:01] nicksavers commented on #921
I propose to stick to proposals in this repository.

[2018-03-10 10:20] jbaylina commented on #780
I think it would be very interesting to have an historic history of claims. A function like `getClaimAt` would be great. This could be very useful to know if a claim was valid some moment in the past.  To implement it, you can use the same binary search technique used in MiniMeToken.

[2018-03-10 10:21] jamesray1 opened #924 "Outdated proposals in the Ethereum wiki"
https://github.com/ethereum/wiki/wiki/Outdated:-Poll-for-token-proposal-EIP-20
https://github.com/ethereum/wiki/wiki/Outdated:-Proposal:-Reversion-Notification
https://github.com/ethereum/wiki/wiki/Outdated:-Proposal:-Reversion-Notification

[2018-03-11 00:34] balazskonya commented on #921
I guess this falls into the category of a discussion starter on a potential Meta (Process) EIP, but I'm happy to move it if you can suggest a more appropriate place.

[2018-03-11 14:37] DanielMReed commented on #721
One thing I noticed on #841 was a comment that no onchain metadata use has been discussed, but surely this is trivially the case with any sort of game or battle that uses metadata to determine a winner, as this can't be put off chain and still be trustless?

[2018-03-11 14:52] mudgen commented on #721
@spalladino Why is there no implementation of ERC165 in the OpenZeppelin implementation of ERC721?

[2018-03-12 05:52] HackFisher commented on #875
@James-Sangalli I was suggesting supporting the transfer cases of  only one tokenId, this was proposed when I'm trying to design a contract can support future assets standards, but found that This ERC875 have different API with ERC721.   I resolve that buy using more general methods, but by compatible with existing API, could gather more support from existing standards infrastructure.

[2018-03-12 08:10] mimoo commented on #721
@freestylekc I don't think that would work, if you look at the contract the assets needs to mint tokens, and some assets need to be purchased in tokens. It sounds like you need a single contract mixing both ERC-20 and ERC-721. [See the explanations here](https://citymayor.co/whitepaper).

[2018-03-12 11:13] AdrianClv commented on #777
@jbaylina Just a typo, the code under the event of "RevokedOperator" says AuthorizedOperator.

Also, is anyone working in a reference implementation of a ERC777-ERC20 combined token? I could start with it.

[2018-03-12 11:18] jacquesd commented on #777
@spalladino thank you for your suggestion, however I must admit I am not a huge fan of changing the names.
There are specific intents behind naming the method `send`:
1. It's similar to ether's `send` method, the idea begin to have a send for ether and one for tokens.
2. It allows to differentiate between ERC-20's `transfer` and ERC-777's `send` (this is very important to prevent people getting co

[2018-03-12 13:03] Arachnid commented on #777
A couple of drafts that might provide useful material for thought for 777: https://github.com/ethereum/EIPs/issues/926 and https://github.com/ethereum/EIPs/issues/927 (yes, here I am putting a stick in the spokes again; sorry).

[2018-03-12 13:43] jacquesd commented on #777
@Arachnid can you elaborate a bit more on how this would integrate with the standard. As far as I can see, there would still be the need for a dedicated `operatorSend` function and only the `authorizeOperator`/`revokeOperator` functions can be replaced with #927.

Regarding #820, should it be deployed and registered as a provider via #926 for all implementations of #777 or would token holders dire

[2018-03-12 13:47] Arachnid commented on #777
@jacquesd That's correct, though I'd suggest something like `sendFor`.

I'm suggesting that #820 could be implemented by providers as defined in #926. Each address can only register one provider, but if you're only using it for one thing such as #777, you can point it at a generic provider that does only that.

[2018-03-12 13:57] spalladino commented on #721
@mudgen it's set up as a different issue [here](https://github.com/OpenZeppelin/zeppelin-solidity/issues/754), so we discuss implementing it for all our contracts, not just 721.

[2018-03-12 14:24] spalladino commented on #777
FWIW, there is also a `transfer` method for ether, which is usually used over `send`.

Not sure I follow how it could be confused. If a user tries to call `safeTransfer` an ERC20, the method will simply not be implemented in the interface, and the call will revert.

---

@jacquesd the idea would be to keep a familiar naming to ERC721, since it is already accepted, though ensuring the method signat

[2018-03-12 15:01] jstoxrocky commented on #719
Thanks, @MicahZoltu, I appreciate you taking the time to discuss this. That makes sense that this EIP is about informed consent and not the specific attack I mentioned.

Do you believe that there should be a constraint imposed on presentations DSLs so that they include all signed data within them somehow? For example, in the simplest case of a text-only DSL, a constraint could be imposed so that e

[2018-03-12 15:33] fulldecent commented on #77
Now that EIP-55 is merged, is this EIP still relevant?

Is there something that would happen that would cause the discussion here to continue? Is there any circumstance where this proposal would be merged or abandoned?

[2018-03-12 16:01] flygoing commented on #921
@balazskonya Perhaps a better venue would be the [Ethereum Magicians](https://ethereum-magicians.org/) site that was recently setup.

[2018-03-12 16:28] fulldecent commented on #905
Now we need to track the SCLONE-ness of each contract. This is expensive and it feels too much of a hack.

[2018-03-12 16:32] fulldecent commented on #909
This EIP lacks a very strong and specific use case. That makes it impossible to evaluate the merits of the things we are discussing.

Simply on the basis that this makes my job much harder when auditing a contract, I think the potential gain is not worth it.

[2018-03-12 16:42] Arachnid commented on #921
The foundation doesn't run the EIP process, and isn't governed by it; there's not much point writing an EIP about this.

[2018-03-12 16:42] #921 closed

[2018-03-12 16:48] MicahZoltu commented on #719
If a contract author wants to create a DSL that is malicious, there are a million ways they can do so.  While we could perhaps plug one or two obvious holes, it won't stop a malicious contract author.  Thus the question becomes, what are you trying to protect against?  I'm generally hesitant to add complexity to a system (creating requirements on what DSLs are allowed would add complexity) without

[2018-03-12 16:52] balazskonya commented on #921
@flygoing I'm aware of the FEM, but as I understand they're focusing on technical questions.
@Arachnid The Foundation indirectly supports the EIP process. IMO improving the operations of it would improve Ethereum too.

[2018-03-12 17:05] Arachnid commented on #921
@balazskonya It does, but the EIP process is not the appropriate place to suggest changes to the foundation - EIPs are for changes to *Ethereum*, not to the *Ethereum Foundation*.

[2018-03-12 17:12] balazskonya commented on #921
Yes, I know. The only reason I created the issue here is that I couldn't find a better place for it, as I wrote it to the linked ethresear.ch topic.

Where would you raise an issue like this?

[2018-03-12 17:54] SilentCicero commented on #909
The primary use-case is for upgradable contract systems, namely, proxy contracts. Aragon, Colony, Harbour and others working on upgradable governance systems will and already do desire a mechanism to either wipe contracts clear of storage or bring them back to a specific state along the upgrade process of a contract. This EIP is the start of a discussion toward that aim of clean upgradable contrac

[2018-03-12 20:39] mryellow commented on #777
...

fire the Sent event

This callback is the difference. A token which features a callback on receiving contract has president as `safeTransfer` in the now matured ERC721.

Following suit will reduce semantics divergence and the resulting complexity in similar proposals.

[2018-03-12 21:46] jbaylina commented on #777
@Arachnid I don't see an easy way to replace ERC820 for any generic registry. The biggest problem is the issue explained by @recmo:  A contract that implements an interface for a third party, must be explicitly defined.  If not, there are some usage patters that may bring to insecure situations.

Generically speaking, we may find that in the future, that registries require different specific rules

[2018-03-13 10:51] Arachnid commented on #777
#926/#927 would allow you to impose the same constraints on a metadata provider for 777 as on a custom one.

I haven't seen @recmo's complete description, but if the issue is that the user can cause the token contract to call a contract of their choice, this can be resolved a number of ways:

 - Restrict the gas available to the called function to the minimum of 2300, prohibiting reentrancy.
 - Us

[2018-03-13 12:44] jbaylina commented on #777
No, this is not the issue.  The issue is that a malicious contract can use a legit contract to implement an interface.  This can make the user to execute some thing in the legit contract but in the wrong context.  This is solved in the 820, and could be solved in the generic provider but you will need a specific standard to specify that any way.

The point here is that a new functionality requires

[2018-03-13 14:07] Arachnid commented on #777
I thought that was what I was describing? Can you link to his comment?

You only have to do that if you're trying to inspect a provider at runtime. If it's mandatory that the contract implement this to work, you can simply call the target function.

We're talking at cross-purposes; I'm pointing out that with a fixed registry for each project, there is no way to implement new functionality for it f

[2018-03-13 14:15] 3esmit commented on #777
I'I think ERC777 can be great if ERC820 is extended by solidity, making it look simplier to the contract reader. (and seems like there's community support :) )

Should be followed also by other "assets" that wants to be more "abstracted" and becoming accessable like a library, and they would use something like ENS to be acessible as objects - so trust of this "community objects" is subject of thei

[2018-03-13 14:16] 3esmit commented on #820
The problem of using an external dependence, so things like "address of contract" and "trustfulness of its contents" are a problem, but from what I understood, ERC820Registry address will be derived from the code of contract, which is a brilliant way of solving this problem.

Having the external dependency trust solved this can be incorporated into Solidity or other high level ethereum programming

[2018-03-13 14:57] owocki opened #928 "Feedback on "ETH Avatar Standard" Direction"
Hi folks,

i am working on an EIP and reference client ( https://github.com/gitcoinco/ethavatar ) for a standard called **ETH Avatar**, which will allow members of the community to attach avatars to their ethereum addresses. (think gravatar, but for ethereum addresses). doing so would allow users to eyeball a counter party's picture and quickly confirm their ETH (or contract call) is going to the

[2018-03-13 14:58] owocki commented on #928
hey @Souptacular i'd love to get 2 minutes of your feedback on this if you have a moment soon

[2018-03-13 15:17] tomcbean commented on #928
@owocki This has potential, but it's not that safe if people start relying on the avatars alone, since anyone can use anyone's avatar. I could use your avatar and be easily mistaken as you if people rely on visual inspection to decided what addresses to use.

[2018-03-13 15:28] owocki commented on #928
@tomcbean thanks for the feedback.

we have started working on a possible mitigation path for this issue over at https://github.com/gitcoinco/ethavatar/pull/2

Form that issue:

<img src='https://user-images.githubusercontent.com/2653167/37260965-1b1ea464-255e-11e8-9fc5-3d6cb9355ded.png'>

[2018-03-13 15:36] yarrumretep commented on #928
Seems to  me the frame doesn't address the issue, right?  I could still snarf the picture (cute baby, btw) and frame it with the frame generated from my address and register that.  Frame would be different, but the picture content would be what the human on the other end keys in on to see that it's you - could be misleading, right?

[2018-03-13 15:36] tomcbean commented on #928
@owocki Awesome! Should have known you were already thinking around that issue. Thanks.

[2018-03-13 15:40] Arachnid commented on #777
@jbaylina How would you feel about a non-indirected version of #927, deployed trustlessly? Would it be suitable for use in place of the contract-specific authorisation mechanism currently employed here?

[2018-03-13 15:43] owocki commented on #928
In the attack scenario you articulated, you're right.. the framing solution provides protection against randomly fat-fingering the address.. but does it provide protection against an attacker stealing an picture / frame?

I think if we make the procedurally generated frame mandatory (and mandatory to be generated by the address), then that buys us some protection since an attacker won't be able to

[2018-03-13 15:45] austintgriffith commented on #928
Here is another example of #EthAvatar using react-blockies-image:

Yes, anyone can steal your photo, but the procedurally generated data is still there.
Let's say you stole my photo above and wanted to try to phish my friends with it.
There is still a big difference in terms of frame color and data:

New account as an icon:
![icon](https://user-images.githubusercontent.com/2653167/37352414-d6b4475

[2018-03-13 15:50] tomcbean commented on #928
The blockie frame seed could be something like keccak256([address],[image bytes]), tying the image itself to the generated frame.

[2018-03-13 16:00] yarrumretep commented on #928
I guess I worry that by putting a photo there, you project a level of confidence for the naive user that s/he should not have by just inspecting the photo - while reducing the apparent importance of the address generated portion (by relegating it to a frame).

[2018-03-13 16:15] austintgriffith commented on #928
The only downside I see from making the frame procedurally generated from both the address and the image is you lose the connection between the original blockie and the profile picture version. If I've grown accustomed to a particular blockie and then I throw an image in it, I'd like it to follow the same color scheme. Maybe that isn't important though.

Haha, maybe we could combine the ideas so t

[2018-03-13 16:52] danfinlay commented on #928
It's important the frame only reference the address. If it included info about the picture, an attacker could more easily modify a bit of photo data to brute force re-generate the frame.

[2018-03-13 16:53] alexvandesande commented on #928
The border thing reminds me of snapchat IDs:

![f00b480598ca541a2b55e29261775345--jessica-alba-snapchat](https://user-images.githubusercontent.com/112898/37356799-95fc5c5e-26c5-11e8-9fa0-6feeda90cdd1.jpg)

I think it's an idea worth exploring, but we need to understand that the purpose of a profile pic and a identicon are distinct: while the former is for you to recognize and remember the person/e

[2018-03-13 17:15] austintgriffith commented on #928
@alexvandesande has changed my mine. I don't think the frame thing is the way to go and I'm the guy who made the frame thing. The point of it was to add procedurally generated information but it doesn't work the same way as a blockie.

It think when #EthAvatar is #buitl out it should have a really easy way for someone to display something like this in their DApp:
![image](https://user-images.githu

[2018-03-13 17:46] tomcbean commented on #928
@danfinlay Yeah, that makes sense. Good point.

[2018-03-13 18:31] paulbarclay commented on #721
Implementing this, and running into a challenge with `totalSupply()`: The standard requires the total supply be the number of tokens not owned by the zero address. This would add cost to creating/transferring/deleting tokens, and adds code complexity, and there's little value add here. The simple "tokenID is the position in the token array" method can't be easily used (we could hack it by storing

[2018-03-13 18:45] owocki commented on #928
@austintgriffith i really like what you did with the latest rev of that image!

[2018-03-13 18:45] fulldecent commented on #721
@paulbarclay I hear you loud and clear! Yes, this will cost extra gas for each mint/burn (but not transfer). I fought to keep this out of the required standard and put it in the optional extension!

Please take a look at the Su Squares approach, specifically the Entriken algorithm for O(1) array deletion. You CAN use tokenID /in/ the array. The array length is your token count.

Regarding your app

[2018-03-13 18:51] redi-lernera commented on #209
So, all and all, how do I get started with all this?  I am new to this, but what I see is that what limited tutorials there were available, no longer work.  I did succeed with using command line solc compilation and pasted the resulting bytes back into my javascript code for deployment, but this is a barbaric approach. Any suggestions/pointers on the up to date tutorials that actually work?  Thank

[2018-03-13 18:55] fulldecent commented on #721
Hello everybody. XRAM Capital is hosting an event in Dallas, Texas USA to explore ERC-721 on Saturday 2018-03-13. I will be speaking, we'll all be learning and hacking, and I'd love to meet you face to face.

DETAILS ➡ https://explore721.com/

Please attend if you can. And again, thanks for all your help on this project!

[2018-03-13 19:06] Shrugs commented on #928
Could also use [Ecoji](https://github.com/keith-turner/ecoji) to encode the address (or a checksum or whatever) as a series of 4 emoji characters to complement or replace the identicon. This is very similar to the process of making a Telegram phone call where you get some magic emojis that represent a shared secret between you and the other caller. These emojis are created and overlaid at run-time

[2018-03-13 19:40] paulbarclay commented on #721
I use a very similar algorithm for handling transfers (I don't have to worry about address substitutions). But adding 20k gas cost for each minting operation for no apparent reason seems insane to me (the dumb workaround is to make burning more expensive, by making the "burn" address send to the "1" address, not the "0" address). The smarter workaround is to just ignore that requirement in the sta

[2018-03-13 19:53] alexvandesande commented on #928
@Shrugs Ecoji is an fun checksum too: 4 emojis have more than a 1 trillion combinations. Maybe you could make a emoji based private key encoding: 😉😃😶🙂

[2018-03-13 19:58] fulldecent commented on #721
Thank you, I'll check that. Please also file issue there if you like.

The apparent reason is that ERC-20 supports this behavior. Somebody that owns one of your widgets might like to know how rare it is. Wallets would like to collect this statistic.

If you will implement token iteration then you will likely be able to implement totalSupply without any additional gas.

And then as a last resort, y

[2018-03-13 20:22] paulbarclay commented on #721
This line: "`/// @dev Throws unless `msg.sender` is the current NFT owner.`" in `setApprovalForAll()` is confusing and isn't necessary - that function should never throw, as that function should only change the operators for msg.sender.

[2018-03-13 21:22] owocki commented on #928
thanks for all the feedback about the design yall.

besides design, one other thing i'm trying to figure out is the smart contract minimum required functionality for this..

the barebones smart contract => https://github.com/gitcoinco/ethavatar/blob/master/contracts/EthAvatar.sol

things we want to support
* allow a user to make any erc721 token their avatar (within the contrstraints of whatever d

[2018-03-14 13:36] izqui commented on #777
How will a token signal it is indeed 777? Given that ERC721 was just merged with EIP165 interface detection I would suggest that 777 tokens just return true to `token.supportsInterface(erc777interface)`.

I'm writing a multi-standard token vault and having to use two different interface detectors for the two newest token standards 721 and 777 doesn't feel right. I don't like 165 a lot, but since 7

[2018-03-14 14:20] alexvandesande commented on #777
@izqui

Yes. I support wholly dropping the whole registry requirement for ERC777 and simply supporting this much simpler solution. One can *also* implement an optional registry for simple accounts and other stuff, but IMHO the requirement of a registry is holding this EIP back

[2018-03-14 15:46] ligi commented on #928
just for some context - we had a discussion on reddit abuout this concept some time ago: https://www.reddit.com/r/ethereum/comments/7x26ou/i_created_a_website_where_you_can_upload_your/

[2018-03-14 16:56] owocki commented on #928
@ligi this is great progress.. thanks.. would you be interested in being a cosponsor of an EIP around this with me?

[2018-03-14 17:17] ligi commented on #928
@owocki can you elaborate what you mean with "cosopnsor"? I would be happy to collaborate on this EIP - I really want something like this for WallETH as I am really not a big fan of blockies - I do not like the look of them. I know - form follows function - but IMHO for real users it is also very important how things look ..-)

[2018-03-14 17:30] owocki commented on #928
@ligi i meant co-author. this is my first EIP but it seems like thats a standard part of the process

https://github.com/ethereum/EIPs/blob/master/eip-X.md#preamble

[2018-03-14 17:31] owocki commented on #928
what do you think of these? https://github.com/ethereum/EIPs/issues/928#issuecomment-372745643

[2018-03-14 17:52] ligi commented on #928
@owocki AFAIK there is no need for a co-author - still happy to help with the EIP
regarding blockie+avatar -> you still have a blockie ;-) - it is smaller but still not visually pleasing..

I really hoped flameIDs (https://shootout.flameid.com) by @karalabe could solve things - they look nice and fulfill the same purpose as blockies basically. But it looks like this is also not an option for the n

[2018-03-14 23:12] VoR0220 commented on #905
I fully support this so long as costs for it are properly reflected and internalized. One thing that might be of some concern however is transmitting storage to the interface in play and this needs to be taken into account. SCLONE would be good if it's properly defining the state for a certain interface at a certain point in time. This enables the possibility of "forks" of certain software designs

[2018-03-14 23:30] AugustoL opened #930 "ERC930 - Eternal Storage Standard"
[code]

## Simple Summary

This contract provides the necessary logic to store any type of data in a smart contract using it as a storage.

## Abstract

The ES (Eternal Storage) contract is owned by an address that have write permissions. The storage is public, which means everyone has read permissions.
It store the data on mappings, using one mapping per type of variable.
The use of this contract

[2018-03-14 23:31] VoR0220 commented on #930
It's an interesting way of solving a problem many are trying to solve.

[2018-03-14 23:32] AugustoL commented on #930
I have to add a section about gas costs, hopefully I will be able to add it soon, anyone that wants to collaborate on this send me an email to me@augustolemble.com :)

[2018-03-14 23:34] AugustoL commented on #930
@VoR0220 yes right? I think it is going to be used a lot whit the use of proxys for upgradeability and it will be great to have consensus over the use of it :)

[2018-03-14 23:36] VoR0220 commented on #882
@Arachnid thoughts?

[2018-03-14 23:45] VoR0220 commented on #838
This is an excellent idea and is the perfect workaround to the problem with reverting on the chain while containing the exact errors. It makes it interpretive like event logs. I like it.

[2018-03-14 23:51] VoR0220 commented on #930
Well here's what would be the way to better define that would be through a template or a generic type which I believe is already in the works, but fleshing that out would enable this in a very simplistic way. All you would need to do is take an index of <template> and resolve it to field of <template> which would be interpreted at runtime. This will definitely be going in the "dangerous" category

[2018-03-15 09:33] cbruguera commented on #725
@peacekeeper That's a very interesting idea and it gives a lot of room for discussion since DID is a very extensive subject and ERC725 is an obvious link between it and Ethereum... The link you post here is only a document, though. Is there a place where users can discuss on that specific proposal?

[2018-03-15 15:57] peacekeeper commented on #725
@cbruguera Hmm no there's not really a dedicated place for this. I suggest using Github issues on that rebooting-the-web-of-trust-spring2018 repo for now.

[2018-03-15 17:27] Arachnid commented on #882
Sorry, I missed this the first time around.

Email already has a dedicated DNS record type, MX. TXT isn't used for email servers.

I would definitely like to see a solution using self-signed SSL certificates anchored to ENS to replace the current certificate hierarchy.

Protocols and resource records are for the most part orthogonal; an 'A' record does not specify what protocol to use to talk to t

[2018-03-15 21:26] johnhforrest commented on #721
@paulbarclay Agree. Also, I didn't see any explicit language that says the implementation needs to support more than 1 operator. In my current implementation the operator is really just a proxy for the owner, however the standard implies (via comments) that there should be operators, plural. I suggest making the language more explicit that each implementation should support more than one operator

[2018-03-15 21:28] jbaylina commented on #777
@izqui #820 is fully backwards compatible with #165 so you can just ask #820 for a given interface implementation.
@alexvandesande We need a registry in order to know which contract handles the reception of the tokens for each address. This is key in this standard.

[2018-03-15 21:55] fulldecent commented on #721
Yes and yes. Thank you. Would you like to make a pull request to fix this and please mention me and also mention this issue and pr 841.

[2018-03-16 15:57] Arachnid commented on #930
Is it necessary for this to be an EIP? It seems like it could just be a software library.

[2018-03-16 15:58] Arachnid commented on #838
Good idea. The term "reason string" is misleading, though - it's not a string, just return data.

[2018-03-16 18:09] facundomedica commented on #644
@chrisfranko Is this line ok? https://github.com/expanse-org/Tokens/blob/master/Token_Contracts/contracts/StandardToken.sol#L34 it should get the balance and decrease it for the _from no the message sender.

[2018-03-16 18:54] moodysalem opened #932 "Transactions may include the hash of the previous transaction (i.e. transaction dependencies)"
When sending a transaction, you should be able to include the expected hash of the transaction with the previous nonce. Doing so would prevent the transaction from being mined unless the transaction with the previous nonce and specified hash has already been included.

This adds security against replay attacks since a signed transaction with a specific nonce will only be valid if the previous tran

[2018-03-16 20:20] alexvandesande commented on #777
@jbaylina

The only thing that the registry is adding here in functionality is the ability to do introspection in normal accounts. I think it's unnecessary, given that having a central registry complicates things, starting from the fact that one doesn't exist right now. You can handle the solution in different ways:

* use #165 to ask the recipient if it's erc777 compatible. If it's not, then don'

[2018-03-16 20:46] AugustoL commented on #930
@Arachnid It is not an EIP, it is a _Ethereum Request for Comments_ . We would use this in our smart contracts and I think more projects will use it too. So this is just to kickstart the discussion about a contract standard that we can use.
Since the ERCs are posted here thats why I submitted it here :nerd_face:

[2018-03-16 22:05] Arachnid commented on #930
ERCs are a subset of EIPs. Either way, my question stands - since you're looking at one particular implementation, rather than an interface multiple contracts will implement, what's the need for an EIP/ERC?

[2018-03-16 22:09] Arachnid commented on #932
This would require nodes to store hashes of all past transactions, which is currently outside what nodes are expected to retain, and would be a significant additional burden.

An alternative that I've advocated for before is to allow transactions to specify a past block hash; this would have to be one of the most recent 256 hashes, or with #210, one of the hashes still stored by that contract.

[2018-03-16 22:11] Arachnid commented on #896
I'm more or less coming around to this idea (though personally I prefer SLIP over EPIC).

[2018-03-16 22:11] johnhforrest commented on #721
@fulldecent Done. Opened #931

[2018-03-16 22:15] moodysalem commented on #932
Wouldn’t they just have to store the last hash of every address along with the nonce?

[2018-03-16 22:23] AugustoL commented on #930
@Arachnid Im not looking for a particular implementation, Im looking to discuss how the interface of a smart contract with only storage purposes will be, we have ERCs with standards for tokens and proxies but there is none for a storage contract.
II think it is needed because some smart contracts will need it and is better if we all use the same standard for it.

[2018-03-16 22:25] Arachnid commented on #932
That would still be a significant additional storage burden, as well as requiring a change to consensus.

[2018-03-17 01:40] moodysalem commented on #932
Would the storage burden be on the same magnitude of the amount of storage required for the storing the blockchain?

256 bits for a transaction hash times 30 million addresses gives you about 8 million bits or 1 megabyte of raw data.

Yes it would require a fork but I’d think an optional feature like this would be uncontested and could go into the next major hard fork

[2018-03-17 02:12] cbruguera commented on #725
@frozeman wrote:

My impression is that that's what `getKeyByPurpose` does.

The proposal description for `getKeyPurpose` states it "Returns *the purpose* of the key, if hold by the identity. If key is not hold it returns 0". And as for the current proposed interface, it returns an array of purposes, not a single one, that's why I suggest renaming it to `getKeyPurposes` for semantic clarity.

[2018-03-17 08:54] jbaylina commented on #777
@alexvandesande:

EIP820 Is ready!!!! Every thing is defined, and tested. I delayed the deployment of the EIP820 Registry because the last call of @Arachnid which I considered that a a deeper thought and discussion was worthy. But my conclussion is that it's better having different registries for each purpuse and not mix them.

If you refer to the  registry of "Whitelisted" constracts, it was alre

[2018-03-17 13:40] chrisfranko commented on #644
no you are right its not ok, and i fixed that in my lastest itteration in
my private repos but forgot to fix it in the public one. if you submit a pr
ill accept it. thank you for finding it.

On 16 March 2018 at 14:10, facundomedica <notifications@github.com> wrote:

[2018-03-17 14:03] moodysalem commented on #932
Was totally off on my math, it's 30 million * 256 = about 8 billion bits (lol) so 1 gigabyte of raw data, plus whatever it costs to store that in a way where you can do fast lookups

[2018-03-17 14:08] moodysalem commented on #932
I don't understand how this would work if I'm sending all my transactions before any transaction is included in a block. E.g. A,B,C are all broadcast but none are included, how would I specify a dependency on a block hash that includes A when broadcasting B?

[2018-03-17 17:02] outofgas commented on #738
Hello,
if higher gas costs were acceptable one could keep track of the so-far spent allowance. Sketch:
[code]
This approach would still require the allowance to be set to zero prior to setting it to a new value.

[2018-03-17 21:15] EonMahoney commented on #721
Some possible potentials of ERC-721, would love any feedback.
 https://medium.com/@ianmahoney5/practical-application-of-erc-721-contracts-in-regard-to-digital-interactive-media-64e84a6b3809?source=linkShare-268ccc494a7-1521320655

[2018-03-18 07:29] jbaylina commented on #777
@Arachnid

The indirector way you propose in #927 is not incompatible with this standard. You can implement a token that also implements #927.  But removing the operators functionality of this standard waiting to develop #927 I think that would delay the approval of this standard too mach and will add an extra dependency that I considere not worthy.   Here are some other points that I don't like o

[2018-03-18 09:26] Arachnid commented on #777
@jbaylina If implemented separately, there can be no expectation of wide adoption by ERC777 tokens, which makes it a lot less useful.

One significant advantage of having a single registry for authorisations/operators is that you could say "this smart contract may interact with all tokens on my behalf", and not have to specify that separately for each new token - invaluable for cases such as Banco

[2018-03-18 15:57] crazyrabbitLTC commented on #721
In reading the earlier comments on ERC-721 it seems that a good deal of discussion was centered around a use case of Deed’s for Property, which indeed is a very good real world use case.

Currently I’m working on a project dealing with the supply-chain (Or Supply TREES as I like to call them) and while ERC-721 seemed ideal at first glance for tracking ownership of assets through the supply-tree, t

[2018-03-18 19:56] yshurik commented on #223
I recommend to declare the _transfer_ part of the interface for erc223 as:
[code]

Also it is very important to declare _bool_ return values - other smart contracts can rely on returned value and throw with false (and if transfer() declared without bool return value, then it is automatically as _false_ - for example EtherDelta smart contract does it)

For _implementation_
All these transfer calls

[2018-03-18 21:45] rumkin commented on #882
@Arachnid

It uses TXT records for SPF and DKIM for sender authorization and signature purposes.

I will show some code at the end of the March. It is the most obvious and useful opportunity of this ERC for today. But I think that ENS could totally describe any host in the Network with any role and all it's configuration.

Yes. But this is limitation of DNS itself. It was designed in early 80s in

[2018-03-18 21:55] Arachnid commented on #882
It's not a limitation of DNS - protocols existed when DNS was designed, and it was a conscious choice to make name resolution and protocol specifications orthogonal concerns.

My main concern, though, is one you haven't addressed - that trying to specify protocols like this reduces each one to a single implementation, removing the whole point of ENS's indirection via the registry. It makes a lot m

[2018-03-19 04:30] fulldecent commented on #721
@crazyrabbitLTC There are many ideas in this comment. I will say this now:

All of the use cases discussed above are compatible with 721. The "reparceling" concept works today with land deeds by assigning a new parcel number. Likewise a two deeds can be destroyed by creating a new deed to inherit the two. There is not a specific mechanism in the standard for tracking reparcelling yet.

However, re

[2018-03-19 06:52] MicahZoltu commented on #223
Re: Returning false

Functions should be reverting if they fail, not returning false.  There should be no code path for the function that returns false, if there is you should revert instead.

[2018-03-19 08:17] jbaylina commented on #777
Ahh!!
You are saying that each address (contract or regular address) can implement an #820 Interface like `ERC777TokensSender` or `ERC777TokensRecipient` that would be called some thing like: `ERC927Delegator` this interface will implement the method: `function canCall(address owner, address caller, address callee, bytes4 func) view returns(bool);`

In the case of ERC777 The `func` parameter will

[2018-03-19 08:21] resilience-me opened #935 "Signature idea for use with account abstraction, proof_of_public_key = keccak256(nextPublicKey)"
Uses one-time keys and a proof of the next public-private key pair included in each transaction,

`proof_of_public_key = keccak256(nextPublicKey)`

I call the scheme Teikhos, from the Greek for "wall" or "fortification", as it hides the asymmetric cryptography behind a "wall", a one-way hash function.

[2018-03-19 11:50] yshurik commented on #223
But it is. For example referenced implementation https://github.com/Dexaran/ERC223-token-standard/blob/master/token/ERC223/ERC223_token.sol does not return value which is equal to return _false_ if called from other smart contract.

[2018-03-19 12:10] MicahZoltu commented on #223
The point here is that if you throw on failure everywhere in your application, you should _never_ need to "check to see if the function succeeded".  You only need to check for success _if_ you are not throwing on failure.  If you are not throwing on failure, then I argue that is a code smell that should be addressed, especially in a security critical application that deals with money like all Ethe

[2018-03-19 13:55] facundomedica commented on #827
Is there an example of ERC827 receiver?

[2018-03-19 14:01] k06a commented on #827
@facundomedica for example over `tx.origin`:
[code]

[2018-03-19 14:06] facundomedica commented on #827
@k06a should I add an address check? So I know that the tokens being received are coming from my deployed token and not somebody else's token.

[2018-03-19 14:09] k06a commented on #827
@facundomedica `token` should be specified inside contract. May be a contact address.

[2018-03-19 14:12] facundomedica commented on #827
@k06a Okay, I think I understood. That call will be called by the `approve` function. So if that function is called from other contract that is not the "real one" the `transferFrom` will just fail because of not having the required allowance. Thanks!

[2018-03-19 15:06] alexvandesande commented on #777
I still feel weird about the whole registry thing but would like to give it the benefit of the doubt and see  a real example of a token using it and instructions on how to deploy it to a private network

[2018-03-19 16:42] crazyrabbitLTC commented on #721
@fulldecent
Thanks for your response. I will reach out directly soon to speak with you more. I won't make it to Texas as I just got back from Austin. Too many blockchain meetups! :-)

In any case, yes I can see how we can make this work with the existing 721 format. Essentially we are working to try and create an open format for supply-chain tracking that operates "out in the open" in contrast to

[2018-03-19 17:17] bitpshr commented on #147
What's the status of this ERC? Do we have an ETA of when we can get an editor to review?

[2018-03-19 22:50] 3esmit commented on #777
While ERC820 is not adopted ERC777 cannot be adopted; Removing the need of 820 in 777 would make easier to adopt it;
I think 820 is interesting in terms of extending solidity capabilities, but I think community feel unsure about it, so maybe lets discuss more about integrating 820?

[2018-03-19 23:45] nicksavers commented on #924
Shouldn't this be an issue on the other repository https://github.com/ethereum/wiki/ ?

[2018-03-20 02:11] Janther commented on #780
@jbaylina I like your idea but, when implementing it, you need to remember also that the `subject` is by definition the sovereign over its own identity and therefore should be able to delete the whole history of a claim.
Another thing.
According to this [article](https://schani.wordpress.com/2010/04/30/linear-vs-binary-search/) binary search starts being noticeably better after the array has a len

[2018-03-20 02:13] nick commented on #725
I have pushed my implementation based on the one by @JosefJ to https://github.com/nick/identity

It includes tests written with mocha and demonstrates how to verify a claim on an identity once one has been added.

One idea I had was to assume keys with a lower 'purpose id' have all the powers of keys with a higher 'purpose id'. For example a MANAGEMENT_KEY should be able to perform all the actions

[2018-03-20 03:30] fulldecent commented on #930
This smells like an antipatern

[2018-03-20 03:37] AugustoL commented on #930
@fulldecent why?

[2018-03-20 04:19] fulldecent commented on #930
We already have bytes4 function selectors to query any arbitrary type.

Also the set of types is arbitrarily small. The built in types are much richer and composible.

If dynamic naming is required at runtime then applications will want to explain why by using a name.

I can't think of any application where storing random numbers, identifying them by name, and those names having no context, being

[2018-03-20 06:09] MicahZoltu commented on #777
I echo @alexvandesande's comments in that I would like to see a small GitHub repo that has each of the contracts we are discussing here written out (doesn't need to be secure, but does need to cover the discussed patterns).  Right now I'm struggling to construct a mental model of what is being proposed just from this conversation, and rather than me and every other engineer following along having

[2018-03-20 07:44] k06a commented on #827
Hey, guys, if you wanna upgrade already launched token for example to support `ERC827`, this can be made without holders transition if your token is at least `Pausable`: https://medium.com/bitclave/the-easy-way-to-upgrade-smart-contracts-ba30ba012784

[2018-03-20 07:45] jamesray1 commented on #924
I think I posted these here because they should probably be moved from the wiki to this EIPs repo, so that all EIPs are in the same place.

[2018-03-20 09:02] JosefJ commented on #725
@nick
Hi, ad the "purpose id" cascade:
I thought of that as well, but there are some problems this could cause:
1) You might want to split the functionalities in order not to let anyone require you to do something with a higher permission key. The other party could require you to approve claim with a management key which you have safely stored in a vault, just because it's technically possible (ot

[2018-03-20 10:23] adamdossa commented on #892
Isn't the restriction to a single bytes32 value in `isPermitted` quite restrictive? It is possible to think of use-cases when e.g. a couple of addresses are needed to check whether an operation is permissable or not (e.g. when checking whether a token transfer is allowed, we may want a function of `address _from, address _to, uint256 _amount`)?

An alternative approach would be to have `isPermitte

[2018-03-20 13:38] oed commented on #780
@jbaylina will definately be doing this, super cool.

@Arachnid Yes I think that is a good idea. Sorry for not picking up on your comment regarding this earlier. Do you think it's best to do one prefix for registered and one for ad-hoc, or just have `x-` as you mentioned before? I'm thinking just going with `x-` is probably the easiest.

One thing that is worth noting here is that the key can spec

[2018-03-20 14:15] Arachnid commented on #780
@oed Yes I think that is a good idea. Sorry for not picking up on your comment regarding this earlier. Do you think it's best to do one prefix for registered and one for ad-hoc, or just have x- as you mentioned before? I'm thinking just going with x- is probably the easiest.

I would suggest the following (or any subset thereof):
 - Standardised claim types use syntax borrowed from HTTP and do not

[2018-03-20 17:31] rumkin commented on #882
DNS is a protocol with  hostname-based configuration which resolves names into IPs and nothing more. It was designed to solve exact problem it was not designed as extensible that what I mean as limitation. But today we have much more hostname-based configuration for protocols like SSL and Email. Email has no it's own configuration mechanism and thus it's using DNS as I shown earlier.

Such system

[2018-03-20 17:38] Arachnid commented on #882
That's not the case; right from day 1, DNS has been used for a variety of types of resolution. RFC1035 included MX, in addition to A, CNAME, PTR and TXT.

Further, that doesn't address my point - that resolving a name to a resource, and determining how to talk to that resource, are two orthogonal problems, and it's a bad idea to conflate them.

Then you need to explain concretely what the advantag

[2018-03-20 19:44] Agusx1211 opened #939 "ERC 939: Identity Claim Holder"
[code]
# Abstract

The following describes standard functions for adding claims about a subject; a contract or an EOA could make these claims.

# Motivation

This standard aims to allow dapps and networks to connect and exchange information using claims.  These claims are generic and could be used to communicate different types of data.

Using a bytes field for the data parameter allows the claims

[2018-03-21 01:13] ebadiere commented on #725
@oed I like the uPort identity design with its proxy and key recovery at the core.  Is there any reason it cannot be upgraded to comply with this spec?  Keys are  keys, correct, address or bytes32?  Are gas costs your concern?

[2018-03-21 11:42] kybernetikos commented on #777
It seems that just because you have had `tokensReceived` called doesn't mean you can be confident that you have actually received any tokens.  If I'm right about that, then the only confidence you can have derives from being able to check that `tokensReceived` has been called by a token contract you recognise.  If this is the case, then it should probably be indicated very clearly in the specifica

[2018-03-21 11:45] mcdee commented on #777
@kybernetikos `tokensReceived` would need to check the sender anyway to know which token it had been sent, otherwise how would it know what to do with them?

[2018-03-21 12:35] kybernetikos commented on #777
Well, given standards, it's possible to write contracts that deal with tokens based purely on their interface, but if you don't think this is a very likely scenario then fair enough.

[2018-03-21 13:21] c0chi commented on #939
Good point, @Agusx1211!  I can imagine so many uses for what you are proposing.

You could consider 2 additional optional arguments for ClaimOf, in order to get the count of a certain [type of claim] that occurred after a [given date] (0x0 interpreted as "all”).

I mean, I think in certain cases it's more useful to know if an identity has had "bad uses" (eg: "defaulted debts", "identity theft", et

[2018-03-21 13:28] c0chi commented on #939
Good point, @Agusx1211!  I can imagine so many uses for what you are proposing.

You could consider 2 additional optional arguments for ClaimOf, in order to get the count of a certain [type of claim] that occurred after a [given date] (0x0 interpreted as "all”).

I mean, I think in certain cases it's more useful to know if an identity has had "bad claims" (eg: "defaulted debts", "identity theft",

[2018-03-21 16:53] leanthebean commented on #928
@owocki Hey! I just saw this and this looks great! We've actually been thinking of something similar. We launched ethmoji.io yesterday where you can create your own unique avatars from emoji components. The layer combination of each ethmoji is guaranteed to be unique, and we even store the hash of the resulting image for every emoji to try prevent people from making emojis with unique layer combin

[2018-03-21 17:04] pfletcherhill commented on #928
Hey all, big fan of this concept—or at least making more metadata available for addresses you're interacting with. Like @leanthebean suggested, it'd be neat to pursue a collaboration between EthAvatar and [Ethmoji](https://ethmoji.io).

As a starting place, I'd suggest looking at the [ethmoji-js](https://github.com/ProjectOpenSea/ethmoji-js) package, which was built to help developers integrate Et

[2018-03-21 17:21] clesaege commented on #892
It is restrictive, but using ’bytes’ would significantly increase gas cost.
If something takes more, you can just use its hash instead, that's the case for ENS for example.

[2018-03-21 17:50] Arachnid commented on #777
@DaveAppleton The 'motivation' section provides a pretty good list of benefits over ERC20.

[2018-03-21 17:54] mcdee commented on #777
@DaveAppleton the main reason to hard-code decimals is to allow hardware wallets and other offline signers to be able to display to the end-user the number of tokens to be transferred as part of a transaction.  Granularity is used to manage the divisibility of tokens, which is useful whenever a token creator wants a divisibility other than 10^18.

[2018-03-21 18:03] Arachnid commented on #777
@mcdee Honestly, Granularity seems like an unnecessary complication to me. Few tokens will want it, and those that do could simply enforce that all transfers are a multiple of their own internal figure.

Bear in mind that every feature added to a standard requires *everyone* to implement it - it's an additional burden on every implementer. When those features are rarely-used, there's little return

[2018-03-21 18:06] DaveAppleton commented on #777
@Arachnid
I get the benefits overall - just not the fuss over decimals. If we insist on a granularity and revert when it is not observed, the _downside_ from it being far more baffling to the user when they see the failed transaction far outweighs the _upside_ of making life easier for the wallet developer.

@mcdee
We are asking offline signers to understand now that we are making a token transact

[2018-03-21 18:08] Arachnid commented on #777
@DaveAppleton They can verify that the transaction data is a valid encoding of one of the `send` functions, and show the user the information being sent in human-readable form.

[2018-03-21 18:15] DaveAppleton commented on #777
By that argument, are we not having an impact on sending transactions to any _non_ 777 contract such as a a logistics or IOT contract that just happen to have a function with the same signature by asking the offline wallet to make an assumption about the transaction?

[2018-03-21 18:18] pfletcherhill commented on #928
Totally fair—definitely get the argument against fees. I think there's a chance the 5% fee is reduced as the team re-evaluates things.

I think it's a neat project because it creates a market around individual artworks (a funky mustache, fancy hat, etc) that are used to compose new ethmojis. The owners of those items get to set their own composition prices and get paid every time the items are use

[2018-03-21 18:23] Arachnid commented on #777
Can you give an example where that would be a problem?

[2018-03-21 18:26] mcdee commented on #777
@Arachnid if you look at the tokens at https://raw.githubusercontent.com/MyCryptoHQ/MyCrypto/develop/common/config/tokens/eth.json about 60% of them use something other than 18 as the value of `decimals`.  Previously in this discussion there are a number of real-world use cases of tokens with differing granularities.  Yes, any part of a standard needs to be considered worthwhile to include but I d

[2018-03-21 18:27] Arachnid commented on #777
@mcdee How many of those tokens use a decimals value other than 18 because they *need* reduced granularity, though, as opposed to just making a semi-arbitrary choice? I'd be willing to bet there are very few.

[2018-03-21 18:30] DaveAppleton commented on #777
example:
The HGT contract. Given that the minimum allocation of GOLDX is supposed to be 1g or 1 GOLDX, if we allowed less than 10^-8 HGT to exist, the person would get no GOLDX on an allocation.

[2018-03-21 18:40] Arachnid commented on #777
Is that a problem? Couldn't they hold arbitrarily small quantities, but only be able to redeem them in whole units? Or if you redeem automatically, just round to the closest value?

[2018-03-21 18:45] mcdee commented on #777
@Arachnid didn't we do this in #724?  There are arguments both for and against granularity, but I think that this EIP thrashed them out a while back and voted on a way forwards.  I doubt there is much appetite to open the discussion again.

[2018-03-21 18:47] Arachnid commented on #777
@mcdee I remember discussing it; I don't remember coming to a consensus. I believed then, and still believe, that the use-cases for limiting granularity are sufficiently obscure, and have easy workarounds, that requiring every implementer to cater to them is an undue burden.

[2018-03-21 19:18] mcdee commented on #777
@Arachnid sorry I was referring to this EIP specifically.  I think it was back in January where the interested parties at the time thrashed out some options and voted on them.

[2018-03-21 19:37] Arachnid commented on #777
@mcdee is there a record of those discussions somewhere?

[2018-03-21 20:03] mcdee commented on #777
@Arachnid Yep, further up in this discussion.  That part of the discussion might be hiding due to the number of comments here; search this page for 'hidden' for a link to pull them in.

[2018-03-21 21:01] mryellow commented on #777
The Ethercraft people accomplished this with a one-liner for their transfer method.

`require(_value % (1 ether) == 0); // require whole token transfers`

[2018-03-22 03:09] James-Sangalli commented on #875
@HackFisher I see what you mean however I don't think it makes much sense to have that even in erc721 when it is causing an inefficiency for no good reason (cannot transfer by bulk). Most of the gas cost usually comes from the transaction itself so I am not sure why it was decided that you could only do it one by one.

I am open to being corrected on my view however...

[2018-03-22 07:02] Fereava opened #941 "Test02"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-03-22 07:50] fulldecent commented on #875
You can do bulk transfer in 721. But that would be an implementation-specific design.

[2018-03-22 08:41] Fereava opened #942 "Test 1"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-03-22 08:41] #942 closed

[2018-03-22 08:41] #941 closed

[2018-03-22 09:08] James-Sangalli commented on #875
@fulldecent yes but it should probably be included in the standard. We will be doing a ticketing project soon which requires such functionality and I am sure many others will as well.

[2018-03-22 10:21] clesaege commented on #892
@adamdossa
That's a good point, but decoding bytes is not that simple. The standard is about an element, so basically a list of what is allowed or what is not. For this use case, no need of bytes.
@decanus What do you think?

[2018-03-22 10:34] adamdossa commented on #892
I think perhaps this is the bit which I am not getting - what exactly is the definition of an element? The use-case I had in mind was:
Contract A wants to know whether a particular operation `op` on Contract B is valid. Instead of calling `op` and hoping it doesn't throw, it can call `isPermissioned` with relevant args first, which returns a `bool` to determine whether the subsequent call to `op`

[2018-03-22 10:46] adamdossa commented on #892
A general approach would be to have `bytes` represent the call which we wish to check is valid or not, and then `isPermissioned` can deconstruct it in a fairly standard way (e.g. first 4 bytes are function sig, remainder are args). I agree this is potentially complex though, and possibly not worth generalising.

[2018-03-22 11:05] flexsingit commented on #136
Can anyone let me know that what is the meaning of Error: known transaction ?Please

[2018-03-22 15:18] wagner-daniel commented on #780
What do you think about approving claims by others? E.g. Person A issues a claim. Person B can approve the claim is correct. Person C who only trusts Person B can look up that Person B approved the claim from Person A.

With the current implementation this can be achieved by Person B issuing the same claim as Person A.

Can you think of any scenario where Person A and Person B issue a claim with t

[2018-03-22 15:55] fulldecent commented on #26
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:00] fulldecent commented on #58
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here? Is there an actual EIP here to discuss?

[2018-03-22 16:01] fulldecent commented on #59
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here? Is there an actual EIP to discuss?

[2018-03-22 16:02] fulldecent commented on #67
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:06] fulldecent commented on #75
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

Is there an actual EIP here to discuss? I think this is a great idea but I don't know if this is the right EIP to standardize it or if there is another one.

[2018-03-22 16:08] fulldecent commented on #82
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:13] fulldecent commented on #85
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:15] fulldecent commented on #86
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:15] fulldecent commented on #86
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:15] fulldecent commented on #90
@Arachnid You nominated this as an "EIPs that should be merged". Can you please share your notes on that here?

[2018-03-22 16:19] Arachnid commented on #58
This pull request is referenced by #58, which has already been merged. As such, it needs to either be finalised and merged, or the dependency in the existing EIP needs to be removed.

[2018-03-22 16:21] Arachnid commented on #186
This pull request is referenced by #649, which has already been merged. As such, it needs to either be finalised and merged, or the dependency in the existing EIP needs to be removed.

[2018-03-22 16:21] Arachnid commented on #98
This EIP is referenced by #658, which has already been merged. As such, it needs to either be finalised and merged, or the dependency in the existing EIP needs to be removed.

[2018-03-22 16:29] axic commented on #58
#58 seems to be this issue? :)

[2018-03-22 16:32] Arachnid commented on #58
Sorry, I mean #211.

[2018-03-22 16:45] leafcutterant commented on #75
Actually, is there any need to keep this issue open? In the two years since the opening, the industry went ahead and integrated BIP39 into pretty much everything where an HD Ethereum wallet is needed.

Coming up with a new standard would lead to confusion and fragmentation. I think it would be a good idea *only* if it provides some quintessential or significant improvements. (That is not to say it

[2018-03-22 17:18] fulldecent commented on #875
Personally I think the time to discuss a standard is after your ticketing application is live and on mainnet and wallet wants to interface with it.

Right now your best bet is to launch with 721 include extension for the parts you want. 721 is extendable and two extensions are already provided.

[2018-03-22 17:30] alexvandesande commented on #75
This EIP doesn't need to be open. I wanted to share this as an idea and I still believe its a better experience than 12 words. But maybe I can simply make this into a little website for generating keys and that's it. Should I close it? Not sure why arachnid added the tag

[2018-03-22 17:45] axic commented on #58
Are you sure it is #211, I don't see any reference in there?

[2018-03-22 18:20] Arachnid commented on #75
@alexvandesande This issue is referenced from the readme as an example EIP. We need to either merge it as a historical interest obsolete eip, or remove the reference from the readme.

[2018-03-22 18:22] Arachnid commented on #58
@axic eip211 is listed as replacing this eip.

[2018-03-22 18:24] axic commented on #58
Oh, IIRC that was supposed to mean it replaces "EIP5" and "EIP8", but in fact it only supersedes EIP5 which was tracked as https://github.com/ethereum/EIPs/issues/8.

[2018-03-22 18:26] Arachnid commented on #58
@axic ah, thanks. I'll fix that.

[2018-03-22 18:35] Dexaran commented on #802
Message system in use: https://github.com/ethereumproject/ECIPs/issues/85#issuecomment-375413336

[2018-03-22 19:06] decanus commented on #892
@clesaege I feel in this situation I would need to agree with @adamdossa. We are not dynamic enough with ```bytes32```

[2018-03-22 19:11] alexvandesande commented on #75
Really? Oh! 🤩☺️

Either way, merging this will not make this into a more adopted standard either way. We should use ERC20 as the example EIP then

[2018-03-22 19:11] #75 closed

[2018-03-22 20:18] alexvandesande commented on #777
I'm implementing ERC777 now to test it out and I'm not a fan of the send/transfer change.

If you want a backwards-compatible token then you must duplicate functions just so that they behave differently. Besides, ethereum itself has deprecated `send` in favor of `transfer` as a more secure call.

`function send(address to, uint256 amount) public` is just a duplicate of `transfer` with an alternati

[2018-03-22 20:58] Arachnid commented on #75
@alexvandesande ERC20 is too: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md

We can remove this from eip 1 and the new index page if desired. Merging it as obsolete might be of historical interest, though.

[2018-03-22 23:03] Agusx1211 commented on #939
The claims don't mean anything without knowing who is the issuer, it will be a bad practice for a contract to check only if an address has "bad claims" because that "bad claims" could be put there by anyone; so that call wouldn't return meaningful information.
But is not a bad idea to be able to check if an issuer did make claims on a subject in the past, the search should be gas efficient. Maybe

[2018-03-23 00:20] danfinlay commented on #136
@flexsingit

This error is thrown when the node has already received that transaction to broadcast it. It's an error you can treat as a success.

[2018-03-23 00:33] owocki commented on #928
Does anyone know anyone at ETHmoji?  If not, I will send them a cold email.

We plan to support any ERC-721 token asset as an avatar, maybe we could fold them in in that context.

Though I feel strongly that the EIP standard should be free and open to use, if users want to use a third party provider to create an avatar that is special to them, and then submit them to this ETH Avatar EIP standard t

[2018-03-23 00:38] Shrugs commented on #928
The ethmoji team is @pfletcherhill @mertcelebi @leanthebean and the team at OpenSea.

I think the ETHAvatar standard should obviously be completely devoid of the concept of fees or third parties - that logic can be implemented as a secondary standard layer or within the ERC721 token (like ethmojis) for example.

[2018-03-23 01:34] alexvandesande commented on #75
Feel free to merge it as obsolete then

[2018-03-23 01:38] alexvandesande commented on #928
Ethmoji seems like a cool project but it has other goals. The purpose of a security icon like blockies is to create infinite, recognizable patterns for all accounts and contracts. It must be done off chain, so it doesn’t incur in any cost or even need any human effort at all.

Ethmoji is a cryptokitty for IDs.

[2018-03-23 01:50] AugustoL commented on #930
@fulldecent thx for the reply, you are right about dynamic naming and that the set of types are very limited. I imagine this being used in contracts with a simple storage like ERC20-721-827 tokens where you would be able to reuse the same storage in another contracts.
_I can't think of any application where storing random numbers, identifying them by name, and those names having no context, being

[2018-03-23 15:03] Arachnid commented on #75
Removing it from the index, instead, since the current proposal isn't formatted as a modern EIP.

[2018-03-23 15:04] Arachnid commented on #85
This is referenced as an example EIP from EIP-1. We should either remove it there, or merge it as an official EIP.

[2018-03-23 15:21] Arachnid commented on #186
I've removed the reference from 649, since this was never merged as an EIP.

[2018-03-23 15:46] Arachnid commented on #59
This was listed as an example EIP in EIP-1 and the readme. I've removed it from there; if it's to be readded, this EIP needs to be written as such and merged into the repo.

[2018-03-23 15:53] #90 closed

[2018-03-23 15:56] Arachnid commented on #85
I've removed this from the example list.

[2018-03-23 17:57] chris-shyft commented on #85
Is there going to be further work on this? reading through all of the comments, if we pick another "Purpose" it could be a fine way to define tokens via addresses.

One of the issues I have is that the address of the token needs to be a contract that can be upgraded, but this by definition is more expensive because of the call structure required. Is there a generalized directory system that can be

[2018-03-23 19:04] Arachnid commented on #85
Different wallet addresses for different tokens seems like a solution in search of a problem, to me - there's no real reason to separate them like that, and it leads to issues paying for gas.

[2018-03-23 19:50] federicobond commented on #838
You are right. I took `string` from the type of the parameter in the Solidity implementation.

[2018-03-23 21:03] dpyro commented on #719
If I understand correctly, this EIP is so the signer can use the contract to verify the UI presented to the user is whitelisted. So far I only see these methods for a contract verify this using a rich UI:

- Verify the UI against hardcoded hashes deployed with the smart contract. The obvious drawback is that new UI revisions cannot be used until a new smart contract is deployed. It's probably not

[2018-03-23 22:52] Arachnid commented on #719
All three of these can be accomplished with the same interface - returning a content hash. In the latter case, the administrator has a way to update the hash, which is out of scope for this standard.

[code]

[code]

This seems like it wouldn't be an improvement to the concerns you outlined above?

My main objection to doing it this way (although it's simpler and doesn't require adding a new langu

[2018-03-24 14:20] c0chi commented on #939
I agree. However, I think the biggest gain of what I mentioned is efficiency when identities have no claim of a certain type. In some of these cases, you don't need to verify anything else.
But I agree, since anyone can issue a claim and there is no "official" list of issuers, it is always necessary to verify who has made the claim

[2018-03-24 16:49] VoR0220 commented on #209
@redi-lernera https://github.com/ethereum/solc-js

[2018-03-25 05:19] petejkim opened #945 "ERC: Web 3 QR Code Scanning API"
## Preamble

[code]

## Simple Summary

This Web 3 API makes it possible for Web3 DApps to scan QR Codes.

## Abstract

The browser implementing this API should present a dialog to scan the QR code and return a promise that resolves when a QR-code is successfully scanned. The API looks for QR codes containing Ethereum addresses by default, but optionally takes in a regular expression object as an

[2018-03-25 07:54] vikmeup commented on #945
Nice work @petejkim! Thanks for moving this forward!

I would propose to add an option to make sure it is available in the current provider.
[code]

Sounds like an easy feature to add/support, I will make sure to have this support on [Trust Wallet ](https://trustwalletapp.com) in the next few weeks.

[2018-03-25 17:22] owocki opened #948 "Recurring Subscription Models are a Good Thing and should be viable on Ethereum (Merit + Architecture ERC)"
I am opening this ERC as a means of discussing (a) the merits and (b) the viability of creating a standard way of managing recurring payments on the blockchain, both (1) for tokens, and (2) for Eehereum.

# Merit

Monthly subscriptions are a key monetization channel for legacy web, and arguably they are the most healthy monetization channel for businesses on the legacy web (especially when compare

[2018-03-25 18:56] djosey commented on #948
I like this. SAAS subscriptions aren't usually just a binary thing where they're just either active or not -- you might pick a service level or price point or number of users or whatever options to configure the sub & maybe that's done in the service's traditional web application.  But it seems like if you're basically signing a contract, the various terms beyond whether the sub is active/inactive

[2018-03-25 19:20] jrmoreau commented on #948
Do you feel you'd want to make sure the user signed a transaction associated with the subscription every time a payment was due? This is basically like a double opt-in, which is better for the consumer. If they don't approve/sign the transaction requesting, the service or product does not go to them. Out-out by default?

[2018-03-25 23:48] ptrwtts commented on #948
For the case of tokens, couldn't you do something similar to 0x, where you give an unlimited allowance to a smart contract which has clearly bounded functionality (to only allow withdrawals of amounts you approve, on a certain interval)?

- Service deploys a smart contract that can withdraw tokens from users (or even better, it's a shared contract for all subscriptions). The contract could be audi

[2018-03-25 23:50] niran commented on #948
Recurring payments are very important. Once unaddressed issue in this model is volatility. For users to grant price-based withdrawals to a contract, the oracle needs to be able to disable withdrawals during periods of high volatility.

[2018-03-26 00:05] ScottStevenson commented on #948
Love this idea. An important discussion to have is whether this should be baked into Ethereum or whether this should be it's own project built on top of Ethereum.

Personally I believe it's so critical to the development of the dapp ecosystem that a core standard or new functionality that enables this sort of subscription with a consistent method that the user can understand, is warranted.

One di

[2018-03-26 00:27] owocki commented on #948
This is a neat idea.. I hadnt even though of encapsulating the TOS as a smart contract and linking it but it makes total sense!

Agree

I don't feel like it's better for the consumer in all cases.  See the 'opt in ever month' vs 'opt out' models above

I agree!

The reason I ERC'd it is that I think this is a core enough piece of infrastructure that it shouldnt be written by a rent seeking ICO or

[2018-03-26 02:16] ptrwtts commented on #948
It's true, but unlimited allowances make for a much better UX. That's why with the new #777 standard, unlimited is the only sort of allowance supported (via authorizeOperator). In reality, it's not unlimited, because there are very strict rules coded into the contract about when tokens can be moved. It works best with a shared contract (like 0x), that you only need to audit / approve once, rather

[2018-03-26 08:45] k06a commented on #827
Let's make ERC827 method approve `payable`?
[code]

I wanna chain this operations:
1. Approve MyToken to MySmartContract
2. Buy MyToken for ETH in Bancor
3. Pay MyToken to MySmartContract

[2018-03-26 13:27] owocki commented on #948
Hi!  It's not clear to me what you mean by 'pre paid' vs 'post paid'.  Are you using a different verbage vs opt in/opt out verbage that I used in the OP issue desc?

[2018-03-26 15:45] pipermerriam commented on #948
Here are a few thoughts:

I think that *price* should be out-of-scope for this standard.  This feels a lot like scope creep to me and doesn't need to be part of the core API.  Ideally whatever protocol rules are decided *allow* for this type of behavior.

From the subscriber's side:

- I want strong **guarantees** on when I can cancel my subscription.
- I will **normally** want payments to happen

[2018-03-26 18:31] SergioDemianLerner commented on #939
1) Does the expression:
(bytes32[] subjects, bytes32[] claimTypes, bytes[] data)
has an unique concatenation for
keccak256(bytes32[] subjects, bytes32[] claimTypes, bytes[] data) ?

I remember Solidity keccak256() does concatenate all fields without separators or prefixed lengths.

If I'm correct,then the signature would also sign alternante versions of the claims where some values are moved betwe

[2018-03-26 21:52] jbaylina commented on #777
@alexvandesande It is important to NOT name it `transfer` to the ERC777 implementation because it might bring to this security problem:
Imagine a token `A` that is ERC20 compatible and a token `B` that is ERC777 compatible.
If both standards use the same signature for `transfer`, a normal user that use to work with token B, will be used to call `transfer` for sending tokens to a contract.   The pr

[2018-03-27 01:03] alexvandesande commented on #777
But the reason you’re giving is the current state of tokens, if you send them to a contract you might lose them. So adding a backwards compatible function would make erc777 tokens safer but would not make erc20 tokens any less safe than what they already are. Besides, wallets could add that sort of introspection too, to give more security to users.

Andy what’s the justification on the change of t

[2018-03-27 02:12] Agusx1211 commented on #939
The concatenation is wrong; It could be fixed adding a separator between the parameters of keccak256, maybe the length of the arrays. But this will only work for the first two inputs, bytes[] data it's a two-dimensional array, so the bytes could be re-arranged and still we would get the same hash.

Also, we have the limitation of Solidity not supporting multi-dimensional inputs in functions; this

[2018-03-27 03:53] jbaylina commented on #777
@alexvandesande Yes, this standard makes a huge effort to improve security to the token contracts while keeping possibility of implementing an ERC777-ERC20 backwards compatibility token.

As you can see in the reference, you can even disable this backwards compatibility in the future at your choice!

[2018-03-27 10:59] Arachnid commented on #777
But it would add an additional requirement for the ERC20 `transfer` function, making it impossible for a contract to be both fully ERC20 and ERC777 compliant.

[2018-03-27 12:11] alexvandesande commented on #777
Which nobody will do for the next 5-10 years forcing unnecessary code. Also, we already have a "future-proof" new function and I expect that new wallets will increasingly use the `transfer(to, value, data)` function so that one will be future, safer option while we would keep `transfer(to, value)` as the less safe option for backwards compatibility.

Which requirements would that be? The events? T

[2018-03-27 12:27] Arachnid commented on #777
No, the requirement to only execute transfers to contracts that can accept tokens, and to call their `tokensReceived` function.

Yes - a contract that implements both 777 and 20 should emit both events, regardless of which method was used to execute the transfer.

[2018-03-27 13:00] alexvandesande commented on #777
That would not break erc20 compatibility as that standard doesn't define that. It would just happen that your token would be a little more limited on where it can be transferred to.

Then again, I question the wastefulness of having two redundant events. I'd rather have just the erc20 compatible `Transfer` event and, *if/when* there's more information to display, also add another event with these

[2018-03-27 13:56] Arachnid commented on #777
It would definitely break compatibility - you'd be unable to transfer tokens to any consumer that is unaware of ERC777.

[2018-03-27 14:09] aunyks commented on #935
I'm not sure that I understand the goal of this proposal.

[2018-03-27 14:26] resilience-me commented on #935
To increase cryptographic hardness.

[2018-03-27 15:38] alexvandesande commented on #777
Only if the consumer is a contract - which is good practice, as the safe way to do it in erc20 is via the approve pattern. Regular accounts would be able to receive them, as implementing ERC820 is optional on the receiving end of consumers.

Speaking of it, I now arrived at the `ERC777TokensSender` pattern on my reimplementation.

I'm trying to understand the benefits here: what's the advantage of

[2018-03-27 15:48] Arachnid commented on #777
There are legitimate reasons to want to fund a contract with tokens. We can't just say "these reasons don't matter" and pretend to be ERC20 compatible anyway.

[2018-03-27 17:43] alexvandesande commented on #777
Ok. Then why not a compromise: `transfer(to, amount)` is "unsafe" but `transfer(to, amount, bytes)` (where bytes can be 0) checks the contract recipient. Still don't see the use of `send(to, amount)`.

[2018-03-27 17:48] aunyks commented on #945
This is solid!

[2018-03-27 17:50] aunyks commented on #935
Still not following. Is this a standard proposal for contracts? What's the context?

[2018-03-27 18:14] resilience-me commented on #935
A signature proposal for use with account abstraction (read up on it, a few posts here and there, probably some on GitHub, could use [Google](https://www.google.com/search?q=signature+abstraction+ethereum))

[2018-03-27 18:25] yarrumretep commented on #945
This is a great idea @petejkim - thanks for putting it out there.

[2018-03-27 18:27] spalladino commented on #777
Given this last discussion, not sure if this is a good time to push again for `safeTransfer` instead of `send` to stress the fact that the operations checks that the recipient can indeed the receive the tokens, and keep the same naming as in ERC721.

[2018-03-27 18:27] nick commented on #725
@JosefJ perhaps each bit of the Purpose ID can represent a different purpose, for a total of 256 possible purposes. That way we can use bitwise operations to check for purposes without the complexities and gas costs of array management

[2018-03-27 19:07] wighawag commented on #945
Great idea,
I agree though that it should not be in web3.currentProvider
Maybe it could be in web3.ext or something to keep everyting in the web3 object but allowing extension

regarding naming and default behavior :
I think the default behavior should be scanning any data as opposed to ethereum address
We could add a function scanEthereumAddressQR or scanEthereumDataQR for having the method check

[2018-03-27 19:17] vikmeup commented on #945
@wighawag, for [Trust provider](https://github.com/TrustWallet/trust-web3-provider) I been using [provider-engine](https://github.com/MetaMask/provider-engine) and all the calls were async, just followed that pattern, but I like sync approach tho!

**Question!**
After thinking for a few days, I could not come up with good use cases where dApps might need this functionality, here are my updated tho

[2018-03-27 19:53] alexvandesande commented on #777
Here's an interesting experiment. I re-implemented most of ERC777 using the base code from ethereum.org/token (which I originally wrote). Then I also re-implemented another version, having basically the same features, but using erc165 instead of erc820 and the other changes I mentioned below. Here are my findings:

### Code

https://gist.github.com/alexvandesande/ccc817a8c96dc4d15b05ca206ce82757

[2018-03-27 20:14] Arachnid commented on #777
Awesome!

That's not actually part of ERC777 - just part of ERC20.

I believe the intention here is to talk about how ether is sent using calls or transactions, not the specific Solidity syntax of `send` or `transfer`.

I still think this is a hideously unsafe idea. Two overloads of the same function should absolutely *not* have different behaviours in a way that doesn't directly relate to the dif

[2018-03-27 20:34] mcdee commented on #777
Note that `transferFrom()` is also part of ERC20 not ERC777.

@Arachnid from my reading it looks like EIP165 does not work for non-contracts.  Taking `ERC777TokensSender`, I could write a contract that (for example) allows an operator to only send a certain number of tokens on my behalf.  With 820 I can set up these side contracts to operate regardless of if the sender and/or recipient are address

[2018-03-27 20:41] Arachnid commented on #777
That's correct.

It doesn't, but I'm personally with Alex on this one - I don't think there are compelling use-cases that warrant the extra complexity.

[2018-03-27 21:08] Janther commented on #780
by setting every call to `external` you will save some gas per transaction but that would mean that `setSelfClaim` would need to be changed to avoid making an internal call to `setClaim`:

[code]

[2018-03-27 21:17] mcdee commented on #777
Well some of the use cases I came up with originally and listed further up in the conversation are:

* limit addresses to which the token can be transferred (so tokens in your cold wallet can only be transferred to your hot wallet)
* limit the number of tokens that can be transferred in a given period
* move additional tokens prior to the transfer (to a witholding account for tax purposes, for exa

[2018-03-27 21:42] niran commented on #948
I think most tokens are too volatile for people to be comfortable denominating subscriptions in, (e.g. all crypto subscriptions would've been cancelled last fall) but let's find out

[2018-03-27 23:00] aunyks commented on #935
Please follow the [EIP template](https://github.com/ethereum/EIPs/blob/984cf5de90bbf5fbe7e49be227b0c2f9567e661e/eip-X.md) so that I, and others, can better understand your proposal.

[2018-03-27 23:11] resilience-me commented on #935
No, account abstraction makes it possible to use new signature types (feel free to falsify if wrong), and the proposal is for a new signature type, the reason to increase cryptographic hardness.

[2018-03-28 01:05] alexvandesande commented on #777
@Arachnid

Well, ‘send’ and ‘transfer’ by themselves do not have any better connotations either, yet we are suggesting them to have very different behaviors (if we are to have a dual compatible token, which is the crux of my argument).

Yes, I meant it’s part of the erc777 version of my dual compatible token.

@mcdee

Maybe we just have different philosophies but these are all possible, we just di

[2018-03-28 02:37] abunsen commented on #948
I'm not speaking on his behalf, but my read on it was that _pre-paid_ means paying upfront for service and _post-paid_ at the end of the period. Like how you have you pay your rent up front, but you pay your Netflix subscription at the end of the month. It's independent of opt-in/opt-out.

Excuse my ignorance, but why is this not viable to do with ETH?

---

I love this proposal & have been thinki

[2018-03-28 02:38] pipermerriam commented on #948
[one particular token comes to mind](https://dai.makerdao.com/) which may prove to be the one counter-example which matters.  Even if *most* are not suitable for this, it only takes a few that are stable and fungible to make it worthwhile.  (my 2 cents)

[2018-03-28 07:19] mcdee commented on #777
@alexvandesande

It's not so much a question of different philosophies as different scope.  In this case, what if the cold wallet is a hardware wallet and so incapable of being a contract itself?

There are two problems with this.  First, operators are optional.  If I add an operator that manages my tax it doesn't stop me from calling `send()` directly and bypassing whatever logic is built in to t

[2018-03-28 07:30] Arachnid commented on #777
`transfer` already has a specific meaning within ERC20; you're proposing overloading that with another method with different behaviour but the same name. That's what I'm objecting to.

Then I believe Alex is suggesting that you should create a contract to hold your tokens for you, if you want to apply that sort of restriction. That seems like a reasonable solution to me, too.

[2018-03-28 09:06] mcdee commented on #777
Sure, but with ERC820 you don't need to create a contract to hold tokens and can still apply rules.  And, importantly, you can spread those rules across multiple addresses that can be either regular addresses or contracts and the same rules will apply to both.  Hence you can do things that you couldn't do with a single regular contract unless you aggregated all of your funds.

There are other reas

[2018-03-28 09:30] nieldlr commented on #948
Heya everyone,

dig this discussion a lot @owocki! Thanks for kicking this off.

I'm the creator of [StakeTree](https://staketree.com) a crypto equivalent of [Patreon](https://patreon.com). It's still early days, but I've got some pilot projects running to test market interest and there seems to be quite a neat demand for this. (I'm even funding myself through this!). I've thought a bit on this an

[2018-03-28 09:54] Josephrp commented on #948
I'm not sure I'm fully convinced by the rational for the EIP. In fiat country subscription services are in fact highly regulated via amongst other things something called a "clearing house". It might be the case that a service provider eg "ClearETH" could be the intermediary between users and their subscription providers and solve much of this while not reducing a user's control.

[2018-03-28 10:51] clesaege commented on #892
I was not thinking about an operation but stuff like addresses, elements in a list. For the future bytes would be way better, but for now without decoder, it's not practical from a gas point of view.
A solution would be to modify the standard such that every type can be used (bytes32, bytes, address).
@decanus @adamdossa What do you think

[2018-03-28 13:31] alexvandesande commented on #777
but with contracts you don't need to create a standard to hold tokens and apply rules

The average ethereum token holder shouldn't care for either. The ecossystem should provide an easy way to allow them to deploy and/or use existing contracts, just like it would provide an easy way to connect your tokens to 820 enabled contracts.

I'm not saying I wouldn't use or like a 820 enabled token, just th

[2018-03-28 14:15] Arachnid commented on #777
I think that would be a bad idea; it would add code complexity rather than removing it, by requiring callers to check for individual features.

[2018-03-28 14:36] ZerroXBToken commented on #223
**Changed**
_function transfer(address _to, uint256 _value, bytes _data) public returns (bool);_
to
_function transfer(address _to, uint256 _value, string _message) returns (bool success)_

Now you can insert images and text files up to 40 kb.
What do you think?
https://github.com/ZerroXBToken/zxbt

[2018-03-28 15:37] charlieknoll commented on #948
Regarding @pipermerriam's spec, it should be required that the `cancel` function should trigger unpaid payment. This way payments can be accumulated and the `provider` only needs to call the `triggerPayment` function when they need access to their accumulated Dai.  This will help with scalability such that the `provider` can time their payments to times of low network usage and gas prices.

[2018-03-28 18:53] chris-shyft commented on #85
Consider it from the wallet developer's point of view.. how do you watch incoming transactions. Having discrete addresses would mean you could bind the addresses themselves to the task, while you'd need a backend infrastructure to watch specific contracts and then disseminate them across the wallet interfaces.

IMO it's where the workload is placed. Unfortunately, there's no fully developed open-s

[2018-03-28 18:58] Arachnid commented on #85
I don't follow. How would having a separate address for each token make things any simpler?

[2018-03-28 19:56] gatra commented on #939
Hi!

You have a typo here:
    function findClaims(bytes32 sucject, address issuer, bytes32 claimType) public view returns (bytes32[] claims);

the first parameter should be "subject" instead of "sucject"

[2018-03-28 20:21] gatra commented on #939
just a comment: the interface seems sufficient, but using this interface it could be cumbersome to know if a claim was retracted or not. You would need to get all retractions for the subject (from the issuer) and then filter.
Similar thing if I wanted to get only un-retracted claims.
Do I make sense? What other claim types did you have in mind?

btw, I like the idea of validateClaim. I wish ERC-20

[2018-03-28 21:41] MrTibbles commented on #939
@Agusx1211 can you please explain the motivation behind this proposal over #735 ? Sure, refinement can be put toward both proposals, but unsure of reasoning behind a new _rival_ proposal. I have been waiting for someone to pose this question, but no one has done so, which i fear means i am missing something in regards to the crucial differing factor between this and #735. 🤷‍♂️

[2018-03-29 06:35] jannikluhn commented on #648
As discussed at the sharding workshop last week, above definitions of starting and finishing gas heights can lead to suboptimal results if transactions are not ordered properly. Example:

- `MAX_THREADS = 2`
- `gas_limit = 150k`
- `tx1.gas_used = 50k`
- `tx2.gas_used = 50k`
- `tx3.gas_used = 100k`
- `tx3.gas_used = 100k`
- All access lists are non-overlapping

If the transactions are ordered `[tx1

[2018-03-29 16:35] pipermerriam commented on #948
I've updated my post to include this.  Note that my spec makes no requirements on what the underlying implementation does in terms of functionality, so this was added as a "**should**" to ensure that implementers are aware of this use case.

[2018-03-29 16:41] pipermerriam commented on #948
@nieldlr I think I understand your concerns, however, from the complexity/security/optimization/efficiency trade-off perspective, I think that a contract-per-subscription is the right choice.

Providers can still batch their withdrawals which should have a noticeable effect on reducing transaction overhead.  In theory calls to the `triggerPayment` should be able to be optimized to be well within a

[2018-03-29 17:10] ptrwtts commented on #948
@pipermerriam wouldn't a single shared contract be better than a contract per subscription? this way, you can have confidence around what it will do, without having to audit every single subscription you do. i'm guessing it would also be cheaper to setup, if you used a createSubscription() function instead of deploying a contract every time.

it could either be one universal contract, or at least

[2018-03-29 17:21] pipermerriam commented on #948
@ptrwtts My preference for a contract-per-subscription model is fueled by the same reason that ENS uses stand-alone deed contracts.  Since these contracts hold user funds, by keeping them in separate contracts you reduce the attack surface area by eliminating an entire class of attack since user's funds are not intermingled.

[2018-03-29 17:51] pipermerriam opened #958 "EIP: Modify block mining to be ASIC resistant."
According to "the internet" there is an ASIC based ethereum miner on the horizon.

[this *may* be the original source of that news](http://technews.cn/2018/02/12/bitmain-tsmc-dram/)

If you believe the analysis in the comments on [this reddit thread](https://www.reddit.com/r/ethereum/comments/87ucsk/would_you_support_a_hard_fork_that_obsceletes_eth/) BitMain may already running these miners.

I be

[2018-03-29 17:52] pipermerriam commented on #958
As a starting point: This came up from some very brief research into current ASIC resistant mining approaches.  This is not my area of expertise so I'm somewhat relying on the community to help fill in the blanks here.

[X16R-Whitepaper.pdf](https://github.com/ethereum/EIPs/files/1861292/X16R-Whitepaper.pdf)

[2018-03-29 18:00] MicahZoltu commented on #958
Is there any reason to believe this problem won't just all go away once full PoS lands?  Or in the fear around that still being a ways out and centralization could occur in the meantime?

[2018-03-29 19:55] AtLeastSignificant commented on #958
@cslarson I'm undecided on whether a fork will be beneficial or not at this moment, but wouldn't manipulation likely come from ASIC miners who oppose a fork?  That reddit post, this EIP, Vlad's tweet, etc. all seem to point mostly in the direction of support for maintaining ASIC resistance.

This stance has been taken by Ethereum since inception, I dare say it's part of the undefined "Ethereum Phi

[2018-03-29 20:02] CryptoBlockchainTechnologies commented on #958
Thank you for adding this to the agenda next week. I would also like to see a discussion on methods that could be used to detect ASIC mining. This does not have to be on the blockchain but a way to be able to detect them if possible. I have a lot of faith in this team in figuring out how ASICs can be detected.

[2018-03-29 21:36] pipermerriam commented on #958
@Arachnid
We can't make it ASIC proof, but we *should* be capable of at least rendering anything currently in production either obsolete, or at least requiring more R&D.

Assuming there's was an alternate ASIC resistant algorithm we were happy with, do you think that the act of forking will adequately demonstrate our willingness to fork the protocol, which should deter bitmain and other manufactur

[2018-03-29 22:15] DanielRX commented on #958
I think merely showing that we will not support ASICs will make these producers think twice about trying to build an ASIC for ETH, they may then move all the ASICs over to ETC (not sure if that's relevant).

@pipermerriam We only need to show that the protocol and community stand to the opinion of ASICs being a no-go, even if this fixes things for less than a month, it 1) reduces the problem for t

[2018-03-29 22:24] DanielRX commented on #958
@Arachnid who could / will find some form of stats on GPU usages? It seems like we could see at which total difficulty point many GPUs would leave, and then have better stats on how quickly x H/s will make GPUs drop out, and then how big an effect ASICs could have.

[2018-03-29 22:37] LefterisJP commented on #958
I will echo @MicahZoltu and ask why assign manpower/resources on such research if PoS is going to render this obsolete anyhow?

[2018-03-29 22:41] DanielRX commented on #958
@LefterisJP as much as I agree, the issue is one of both protocol and community

Is PoS going to be here soon enough for this to be wasteful? How much damage could ASICs do in the meantime? Is this not dropping the "ASIC resistance" from the original roadmap?

While it may be fine in protocol to wait, it reduces the communities opinion on the deliverance of the ideals they were promised.

The real

[2018-03-30 00:24] Cakez0r commented on #958
If there is to be a PoW change before PoS is released, why not also consider making GPU mining rigs obsolete in the same patch? Let's see if this is truly about decentralisation or whether it's just GPU miners acting against the interests of the network  to protect their hardware investment.

[2018-03-30 02:21] mjdillon commented on #958
@Cakez0r I think while making the hash GPU resistant as well as AISC resistant would be the utopian dream, practically speaking, it would leave the network with a woefully small number of miners in the short term, which could lead to a number of unintended consequences.

[2018-03-30 03:10] kylerchin commented on #958
I think that the network should move forward with PoS, banning asics isn't useful at the moment.

[2018-03-30 05:41] quantumpotato commented on #958
PoS solves the electricity problem, but it doesn't solve the centralization of hashpower that the anti-ASIC movement, in Monero, afaik, aims for. I think this was the main push behind the Monero discussion eg. https://www.reddit.com/r/Monero/comments/86zb03/the_end_of_all_asic_miners_moneros_new/dw9ieji/

[2018-03-30 05:42] hadees commented on #958
It just makes sense to keep it ASIC resistant.  That was the goal from day one.  If they are on the network it creates a possible threat to the network before PoS happens.  We don't want to rush PoS so we need to fix the mining.

[2018-03-30 06:22] MicahZoltu commented on #958
@quantumpotato With full PoS there is no more need for "hashpower", thus no need for ASICs.  If someone does build some kind of ASIC, they won't have a distinct advantage over someone running a validator on their laptop.

[2018-03-30 07:12] naure commented on #958
This issue is independent of POS.
It lives on completely different scales of time, complexity, and uncertainty. POS may be delayed, not work well enough, or simply not be adopted. Meanwhile ASICs can spread like wildfire, after which you can never get rid of it. In fact, that would hinder the smooth transition to any other consensus protocol. It should be fixed before that.

[2018-03-30 07:38] cforce07 commented on #958
1. Ethash as ASIC resistance algorithm.
- I believe ethereum team should keep it's promised to us as public on it's ASIC resistance algorithm until the end of PoW era. This is image that ethereum should lead other relative smaller crypto to go to. Few more month to go does not mean we should not take care on this ASIC resistance branding. We as no 2 crypto in the world, should keep it's promise to

[2018-03-30 07:42] naure commented on #958
It should be systematic to discourage the investment, and because they keep it secret.

[2018-03-30 08:57] MicahZoltu commented on #958
Commenting on this just to prevent the spread of incorrect/misleading information, but this comment really has nothing to do with ASICs:

Miners are not part of the governance system.  They are a service provider that can be fired as soon as they are not needed anymore (e.g., PoS).  If every miner decides they don't like full PoS (which presumably they will) then they can simply all be fired (whic

[2018-03-30 08:57] archills commented on #958
Casper is still Pow/PoS hybrid. Considering the bitmain's previous behavior. I reckon it is necessary to hard-fork.

[2018-03-30 09:34] cbruguera commented on #725
@frozeman Could you describe how could current ERC725 features be used to implement m-to-n signature for approving changes to the contract? I'm thinking of identity recoverability. Perhaps all can be done on the ERC725 itself without the need of an "identity controller" the way uPort is implemented? I'm interested in knowing your views on this regard. Appreciated.

[2018-03-30 09:43] Arachnid commented on #958
The problem is, unless we know how the ASIC works, we're basically taking stabs in the dark at an alternate algorithm. We can't know for certain what type of change would be necessary to obsolete any existing design.

Personally, yes - but then, I wouldn't have expected anyone to release an ASIC in the first place.

[2018-03-30 10:50] naure commented on #958
@MicahZoltu This is true in the long term. "smooth transition" is the keyword. It is easier to upgrade the existing infrastructure to an hybrid system, with GPUs quietly reconverting to other activities VS two groups with opposite incentives trying to promote their chain and discourage the other.

[2018-03-30 10:51] oskarwu commented on #958
It's very difficult to design a completely ASIC proof hash algo .... Current Ethash is memory bound design , but only memory bound does not mean the memory controller part can not be ASIC-like .... The only way to create a ASIC proof POW block chain is try to make ASIC die size as large as possible to make each of the ASIC as expensive as possible ... So take one simple idea for example :  Let's s

[2018-03-30 14:08] pipermerriam commented on #958
Alright, I'm going to try and capture the sentiment that I've seen thus far.

1. We probably already have ASICs mining on the mainnet based on recent network hash power increases.
2. We're not assuming we can make the network ASIC proof, but rather trying to require any ASIC currently in production to require non-trivial additional R&D to adapt to whatever new algorithm we switch to.
3. We're not

[2018-03-30 14:16] Agusx1211 commented on #939
@gatra Currently, the only way of knowing that a claim was retracted is to search trow all the subject claims. This search is not possible for a smart contract and may be a limitation.

To allow claims to be deleted we should evaluate the pros and cons, and also define how to handle the signed claims (validateClaim).

The pros I see is that claims are permanent, in that is not the case, an issuer

[2018-03-30 14:20] oskarwu commented on #958
pipermerriam :

I don't think it's necessary to create or choose which algo to go next ... Just put all the existing proven hash algo into the code and random select some of them and chained them together ... This will make ASIC design need to implement more die size area and increase a lot of cost to do ASIC ... Ex : Ethash + X16R + ... , you name it ...

[2018-03-30 14:48] Agusx1211 commented on #905
There is a security issue with this OPCODE; some contracts could rely on the premise that other contracts cannot read its storage.

You could clone or "steal" any information from any contract, I know that reading private variables is already possible, but only from an external user perspective, not from the EVM itself, this breaks encapsulation.

[2018-03-30 14:53] crazydart commented on #958
@Arachnid Bitmain develops these asics and mines with them for before the public even knows they exist.  While I agree that trying to patch PoW algorithm without knowing exactly what defeats these asics is shooting in the dark, the consequence of just waiting until these are available for public analysis is that the next generation may never be made public.  The promise of ethereum was asic resist

[2018-03-30 15:49] Arachnid commented on #958
What I'm trying to say is that trying to design a new, ASIC-proof algorithm without any idea of how current ASICs might be achieving a speed boost is stumbling in the dark. We're as likely to waste resources on something that existing ASICs can be adapted to do as we are to achieve anything useful.

@oskarwu This is the approach used by X11 etc, and I think it's fundamentally flawed. Doing this im

[2018-03-30 15:52] enriquejr99 commented on #677
To my understanding, the main problem here is that ERC223 reverts if the recipient doesn't include the tokenFallback() function. Although this was intentionally done by Dexaran, to prevent the loss of funds.

Why not, instead of implementing a new transferAndCall() function, just make a low-level call on the transfer?

`_to.call(bytes4(keccak256("tokenFallback(address,uint256,bytes)")),msg.sender,

[2018-03-30 15:55] minshen02 commented on #958
we must quickly ,because bitmain will get control ETH very soon

[2018-03-30 16:28] VoR0220 commented on #905
@Agusx1211 this is a compilers issue and how compilers utilize the opcode itself and what they allow to be written and not be written. Not a problem with the opcode itself.

[2018-03-30 17:39] crazydart commented on #958
@Arachnid If this was a tiny shit coin with 3 developers, I would totally agree.  Because it is the number 2 crypto currency in the world with a market cap of $36 billion dollars, you are dead wrong.  If they had to put out a fork every week I would say it is justified at this level.  The dev group has many millions of dollars in ethereum to spend on this... while I do expect R&D like work on PoS,

[2018-03-30 17:41] Arachnid commented on #958
It's not just about money. Each PoW algorithm has to be unique - you can't just change a key, like you would in crypto - and well vetted for issues and vulnerabilities. Then, multiple implementations are needed, and mining pools etc need to be given time to update their implementations for the new algorithm in time for the fork. Then, for each fork the community needs to be informed, and the fork

[2018-03-30 17:52] crazydart commented on #958
@Arachnid Yes, back in the 1990s these were all problems when we didn’t know how to scale systems quickly.  Today in 2018, if you don’t know how to solve these problems you are just inexperienced.  If you run a $36 billion dollar crypto and don’t have another PoW algorithm in your back pocket, I call it negligent.  What if someone found a vulnerability tomorrow?  You just going to shut down while

[2018-03-30 18:11] Arachnid commented on #958
If it's as trivial as you assert, you're welcome to send in a pull request.

[2018-03-30 18:35] taoteh1221 commented on #958
Careful on this one...or you could have Ethereum Gold / Lite / Platinum from every idiot under the sun, like after bcash showed them they could do it with Bitcoin. Might be more harm than good if not done with proper governance.

[2018-03-30 18:43] GNSPS commented on #905
@Agusx1211 You can already achieve that with an oracle.

The only difference from that would be that you could get other contract storage's contents during a "same transaction" context (as opposed to another transaction's context with an oracle).

Do you know of a design where this is an actual vulnerability, though? (i.e. where the actual encapsulation of `private` storage vars is essential to a

[2018-03-30 18:43] rkagerer commented on #88
Say you have a dormant contract, maybe something lots of users transacted with years ago (e.g. deposit) and now suddenly there's a burning reason to transact again (e.g. withdraw).  I can just see a situation where everyone's waiting for some other poor sucker to pull the trigger first.  Is it fair that one person pays the whole revival fee, then everyone else can immediately transact for "free"?

[2018-03-30 18:54] jacqueswww commented on #827
Hi Everyone,

I am a contributor on vyper (https://github.com/ethereum/vyper/issues/738) and was pointed here to the fact that function overloading gets used. Could we consider another alternative like renaming of the functions for clarity?

Vyper purposefully does not support function overloading, and probably never will. Consider that this is to be a standard, I don't think forcing all underlyin

[2018-03-30 19:01] timelinefunds commented on #88
https://twitter.com/SebGorka/status/979710501889298432

On 30 March 2018 at 19:44, rkagerer <notifications@github.com> wrote:

--
Kind Regards,

James Geraghty

[2018-03-30 19:28] pipermerriam commented on #958
@Arachnid

I think the concerns you are raising are very valid.  Here is my attempt to create a framework to think about this topic and the risks involved depending on what choices we make.

1. risk of switching algorithms only to find it that it didn't cripple the ASIC miners curretly in production.
2. technical/security risks of the algorithm change.
3. centralization risk of allowing ASIC minin

[2018-03-30 19:36] ofpcarnage commented on #958
I personally think we should fork sooner rather than later to prevent ASIC's the cancer of crypto before it gets out of hand. Bitmain and the other Asic producers are actively trying to centralise all crypto. Yes POS is on the horizon but unless you fork now this will make POS harder to implement on a later day.

[2018-03-30 20:35] cryptomined commented on #958
Since the launch of ZCash the developers have stated that they would alter the Equihash algorithm if there was a threat of an ASIC.  I would suggest asking Zooko & co if they have any input on the best way to alter Ethash so that Ethereum can make any ASICs obsolete.

A good place to start may be at the ZCash forums forum.z.cash

Or asking zooko directly on twitter as he is very active and friendl

[2018-03-30 21:16] oskarwu commented on #958
@Arachnid :
The reason X11 is failed to be ASIC proof is because it does not increase the die size area significantly ... Let's say each simple hash function require 1mm x 1mm die size area to implement each individual function ... X11 means like 3mmx3mm or 4mm x 4mm to implement all these hash functions ... As long as the die size area is still in a reasonable range , there is still incentive for

[2018-03-30 21:21] crazydart commented on #958
@Arachnid I would be happy to solve this problem and submit a pull.  I am just going to need to be paid.  Last I checked I was a pissed off consumer, not a paid developer.  If this was some small open source project I might even entertain doing it for free... but again, this is a $36 billion dollar crypto with many millions to pay developers.  I don’t think they need my help really... they just ne

[2018-03-30 22:23] bitcartel commented on #958
@cryptomined A discussion started a few weeks ago about Zcash and ASICs here: https://forum.z.cash/t/let-s-talk-about-asic-mining/27353

[2018-03-30 22:44] DanielRX commented on #958
@crazydart Are you expecting the community to pay the devs? Just because the market cap is $36M means nothing for the funding available to the EF/Core devs.

This is not a place to act like that. This is a discussion of what, if anything, can be done to fix this issue (if there is one).

I vote we move this conversation to a gitter or similar (this is giving me more and more desire for #956 to hav

[2018-03-30 22:55] Alvarogarcia91 commented on #958
please make it ASIC resistant i have several rigs mining eth and i will get bankrupt if an ASIC is developed :(

[2018-03-30 22:55] boerminer commented on #958
**Not a software guy, plz don't roast me!**
Is there anyway the algorithm itself can change?.. Maybe the block number causes a slight change in the algorithm itself.. That seems like something asics wouldn't be able to cope with yet all gpus/cpus would still be in sync with how they hash each block.

[2018-03-30 23:07] crazydart commented on #958
@DanielRX The community doesn’t have to pay for anything... the Ethereum Foundation had a massive amount of money in reserve... I am sure the number exceeds a billion dollars by now.  That was raised to pay for exactly this.  The EF/core devs should absolutely be paid out of that.  But you are right, this isn’t the place to discuss it.  My comment was to someone else that I wouldn’t be submitting

[2018-03-30 23:11] DanielRX commented on #958
@boerminer your idea is the same as @oskarwu which may be valid however could effect gpus just as badly and may not actually hinder ASICs

[2018-03-30 23:24] cryptomined commented on #958
@bitcartel Thanks I did not see that, have not been on those forums for Months now... i posted another topic in regards to this EIP after posting my comment here... (and tweeted to Zooko on twitter)

https://www.youtube.com/watch?v=rEFmKkhRAhc&lc

[2018-03-31 00:00] tazket84 commented on #958
Hi all.
I also belive in the idea of decentralized where people can be part of and also get reward for, that's why cryptos should be asic resistance in order to get the community growing.

Regards

[2018-03-31 00:15] jamescbury commented on #721
Hi all, My name is James Canterbury and I’ve been following these posts for some time now.  First off I wanted to complement everyone on the fine work you all are doing to drive this standard forward.  I think it is fantastic that what started with cryptokitties may pave the way for how we exchange real world assets in the future.  I’d like to build off of some of the ideas that @crazyrabbitLTC re

[2018-03-31 01:21] Kushiiel commented on #958
We have known this is going to come for a while now...  I think so long as PoW is still a thing we should commit to making changes to the algo every 4-6 months that will force people working on ASICS to go back to the drawing board... this will force the issue...

I would love to think that PoS will solve this - but If there are more unforeseen delays I don't think that we should be rushing into P

[2018-03-31 02:01] krtschmr commented on #958
*poison the well*, written in the whitepaper of Ethereum.

Ethereum has been one of the most profitable coins to mine using GPUs. IceAge laimed this inherently and was removed in the last *network update*.

Even tho we had ASIC rumors out of china last year, the recent hashrate runup during the last 4 months while the price is constantly declining, makes Ethereum Mining unprofitable. Small home mi

[2018-03-31 02:29] 7runks commented on #958
ETH asics have been running for the past 4 months and bitmain and co will not release it for the public cause they don't want eth asics to be official and eth devs are ignoring that fact which is bad. The problem is how eth devs can implement a fix as they don't have information on how those asics work. And if eth devs do something and bitmain and co can come up with a simple firmware update.

[2018-03-31 03:09] qq24331 commented on #958
we must quickly ,because bitmain will get control ETH very soon

[2018-03-31 03:17] eolszewski commented on #958
@pipermerriam @Arachnid @vbuterin the amount of blocks being mined by this 2-day-old anonymous address seems to lend itself to ASIC mining...
https://etherscan.io/address/0x52e44f279f4203dcf680395379e5f9990a69f13c#mine

[2018-03-31 03:28] eolszewski commented on #958
@pipermerriam @Arachnid I'm not sure if this is a pool or not (there are no transactions), but I saw this in r/ethereum and figured I'd point to it.
https://etherscan.io/address/0x52e44f279f4203dcf680395379e5f9990a69f13c#mine

Naturally, there's no way to really know. And attempting to do anything would be taking shots a something in the dark. But, if the majority of the hashing power is in the ha

[2018-03-31 04:03] caokun320 commented on #958
I  hope ASIC resistant

[2018-03-31 04:42] krtschmr commented on #958
@eolszewski  shocking to see that. literally every pool with just a decent hashrate is visible and everybody knows about it.
some anonymous player crushing blocks like this is shocking.
i spotted genesis mining recently on nanopool, so i doubt that they run own pools

[2018-03-31 04:46] 365645053 commented on #958
坚决抵制asic

[2018-03-31 05:00] crazydart commented on #958
That is a Chinese mining pool.  While it still could be asics, they do look to allow anyone to mine on the pool.

https://eth.bw.com/pool/i

[2018-03-31 05:07] thetimedrifter commented on #958
Forgive me for being mostly uneducated to the intricacies of mining (only started my rig roughly a month ago) but this move by Bitmain to create the ASIC miners for Ethereum comes off to me as an active attempt to corner the market. A centralized cryptocurrency (like what will happen if Bitmain succeeds) seems to me like the polar opposite of the reason cryptocurriencies like Bitcoin and Ethereum

[2018-03-31 05:14] crazydart commented on #958
@thetimedrifter Yes and no.  This thread is more about keeping asics out on the premise that ethereum was always asic resistant.  IMHO, asics are unfair and centralized because it is exclusive and once they are developed it will be impossible for normal people to complete.  Ironically, I think PoS has the exact same problem... who ever has the most money could literally buy a controlling share of

[2018-03-31 05:15] kimicg commented on #958
Protect eth, render asic out.

[2018-03-31 06:35] dsky1990 commented on #958
Protect eth, render asic out.

[2018-03-31 08:14] hamdyaea commented on #958
Protect ETH from asic to stay a decentralized currency

[2018-03-31 08:20] flanker8 commented on #958
We should consider hardforking Eth if anyone is caught using ASIC to mine Eth. The day ASIC mines eth, it will destroy eth through centralisation of the processing power. In turn that opens up possibility for whoever dominates the processing power to alter the public ledger. At this moment, i feel that some people have been mining with ASICs secretly. Now it is up to the Ethereum developer communi

[2018-03-31 08:29] humble0ne commented on #958
ASIC miners for ETH will undoubtedly have a massively negative effect on the entire community, completely wrecking the decentralized nature and foundation upon which Ethereum is based on.

[2018-03-31 08:56] Arachnid commented on #958
I'm going to start deleting content-free comments like "protect ETH from asic because great good", in order to try and keep this discussion coherent. If all you want to do is lend support to a position, there are reactions for that.

[2018-03-31 09:36] nav1d commented on #958
network should force miners to spend a defined minimum amount of time. (proof of work + proof of time).

[2018-03-31 10:26] flanker8 commented on #958
We all know that GPU is good at processing uniform data right? To prevent ASIC from mining eth, perhaps we can add a synchronised side chain that must be run on CPU from either Intel or AMD to confirm that the miners are using GPUs attached to a normal pc. The additional side chain can also address the scalability issues too.

[2018-03-31 10:35] naure commented on #958
The following is a simple solution to disrupt the current (suspected) generation of ASIC, and anyhow start to close the performance gap between GPUs and specialized hardware.

There is an algorithm that provides cryptographic strengths, is unrelated to Keccak, uses operations available on GPUs, and is easy to implement in Ethereum clients: it's elliptic curve exponentiation.

It is a kind of hash

[2018-03-31 11:34] lrettig commented on #958
The most compelling ASIC-resistant algorithm I've heard of is the "adaptive proof of work" that @vbuterin describes in [A Prehistory of the Ethereum Protocol](https://vitalik.ca/2017-09-15-prehistory.html):

The decision was made at the time not to go this route since it opens up the possibility of long-range attacks: a malicious miner could simply "start a chain from block 1, fill it up with only

[2018-03-31 12:12] ntdone commented on #958
My opinion is that we should avoid centralization. Let's not go the same direction as the stock market, we've all seen what centralization has done there.

[2018-03-31 12:17] arkaCrypto10 commented on #958
Hard Fork now to make ASICS obsolete for eth mining

[2018-03-31 12:25] Shrugs commented on #928
I just wanna bring up the concept of the ecoji checksumming again; any extra thoughts on it?

[2018-03-31 12:27] motopila commented on #958
Sorry for my English, but:

What benefits do ASIC miners bring to the community (in fact, there is only one now - Bitmain) ? - No any!

What losses they bring ? - Bitmain currently controls a significant part of the network hash, this is already obvious. With a drop in eth price (perhaps a targeted dump), GPU miners around the world are forced to stop working, because it's simply not profitable, a

[2018-03-31 12:37] jamesray1 commented on #958
Please keep comments on this thread on how we can actually make Ethereum more ASIC resistant. Comments outside this scope can be moved to Reddit [here](https://www.reddit.com/r/ethereum/comments/87ucsk/would_you_support_a_hard_fork_that_obsceletes_eth) or Twitter [here](https://twitter.com/VladZamfir/status/979698442082705409).

Thanks for your cooperation!

[2018-03-31 12:50] Arachnid commented on #958
@naure @jamesray1 This will not work. There is no magic algorithm that is faster to compute on a GPU than on an ASIC; for any compute-bounded algorithm, you can make a dedicated chip that will execute it faster than a general-purpose one.

The only options for ASIC-resistance rely on computations that are bounded by something ASICs can't do faster than general purpose processors, such as memory ba

[2018-03-31 13:21] MrTibbles commented on #939
@Agusx1211 i see, thanks. I can understand the source of motivation to handle subjects *not* having an EOA, ie. less friction for on-boarding. But does this not mean that the issuer and subject *must* have a trusted relationship? If the issuer is signing claims on behalf of the subject it could lead to misrepresentation, this could be seen as a red flag in a trustless environment.

In order for a

[2018-03-31 13:53] pipermerriam commented on #958
@Arachnid I don't think it's productive to shoot things down because they **can** be made fast using ASICs.  I'm fine accepting that anything we do **can** likely be done with an ASIC.  What I think we're doing here is trying to brick bitmain ASIC miners and deter future development.

Setting aside your concerns about trying to do this without knowing how they work, is this a strategy you could ge

[2018-03-31 13:59] Arachnid commented on #958
@pipermerriam You're suggesting we pick algorithms we know aren't difficult for ASICs, and instead rely on switching them regularly to deter them?

I don't think that's a viable process, because algorithm design can't be automated, and doing it manually consumes a lot of resources and introduces risk every time you introduce a new algorithm.

I was critiquing @naure's proposal, too, which explicit

[2018-03-31 14:33] cryptomined commented on #958
@Arachnid  how did XMR just do it?

[2018-03-31 14:45] pilsy commented on #958
It would appear that we can consider this proof that the F3 exists and is coming.

http://bit.ly/2pULqgf

[2018-03-31 14:50] cryptomined commented on #958
yes and 1500 mh/s is going to quickly take over the network, we need to stop this, it is not a joke

[2018-03-31 15:00] invidtiv commented on #958
Sorry for my English...
Somehow I believe that in reality there should be a way with memory bandwith and speed, to try and exclude the ASICs from mining, because they are already mining, the amount of network processing gain in the last two months is not at all coherent with more GPUs mining farms poping up. It is proof of a ASIC runover....

In someway the fork should be tightly based on current

[2018-03-31 15:05] DanielRX commented on #958
@Arachnid is it viable to combine both mining as we have it with the original idea from Vitalik to have arbirary contract execution mixed in? It would (?) avoid the long range attack but would allow for the ASIC resistance that is claimed in @lrettig's post [above](https://github.com/ethereum/EIPs/issues/958#issuecomment-377686713)

[2018-03-31 15:07] DanielRX commented on #958
@pilsy Where is the source for those images? Until we can be sure, it's not proof

[2018-03-31 15:24] krtschmr commented on #958
Antminer F3 confirmed. First video of existence: https://i.imgur.com/fh5Z5gW.gifv

Based on the date it's 31st March which is today. So then, everybody RIP

either ETH Devs do something very very quick or crypto(mining) ompletely gets recked by china.

[2018-03-31 15:32] krtschmr commented on #958
If 1500 MH/s are real let me give you some current numbers:

- 50x RX 470/480/570/580 which equals roughly 6,3 kw/h
- 30x P102 Nvidia, which equals roughly 4,2 kw/h
- 47x 1070 which equals roughly 5.4 kw/h
- 65x 1060 (23mhs) which equals roughly 4.5kw/h

since Bitmain uses it's classy PSU, we can expect less then 1,3kw/h

If devs won't emergency fork, quickly, ethereum will be dramatically damaged

[2018-03-31 15:33] gakonst commented on #958
Full video for context: https://www.youtube.com/watch?v=9L-1iG6mdJ8

[2018-03-31 15:37] pilsy commented on #958
http://bit.ly/2Gr8dXW

[2018-03-31 15:54] mwitt1337 commented on #958
equihash appears to be protected (for now) by a increasing RAM requirement but Bitmain could just create PCI based hashing boards that could be plugged into PC motherboards.

The ASIC solution really needs to be independent of hardware and more fundamentally protective of decentralization. So far the ASIC discussion has been really about hardware mitigation but we all know the exponential growth o

[2018-03-31 15:57] motopila commented on #958
Obviously, the new algorithm should focus on the specific capabilities of existing common GPUs. That is, benefits of L1/L2 cache memory should be maximized, maximum of available instructions should be involved, etc. Thus, processors with a less functionality exponentially lost in performance or became irrelevant.

To do this, it's necessary to hire/invite several professional engineers familiar wi

[2018-03-31 16:17] zangheri commented on #958
The video is suspicious, the label seem different from Bitmain usual one (square corner, different color of the border), the performance is incredible. I call it a fake.
So said, ASICs resistance is to be enforced, we must have a plan, an efficient one, and be ready to adopt any measure to avoid the threat. But more important, we must continue to act in a manner that did not divide de community, a

[2018-03-31 16:29] krtschmr commented on #958
@cryptomined  500MH/s is incredible of a jump

they easy put 50,000 units out as they did with X11, so expect 25 THs on top. maybe only ten % on top, however, they will then start makin more and more. and nobody know how many already runnin. dont foret, they most likely release them, if they have a newer, better version for themself.

[2018-03-31 16:33] cryptomined commented on #958
@krtschmr Right, the next model will crush it... and if we let this one pass, they will go ahead and make a more powerful one.  These will end decentralization for ethereum, which is devastating...

what upsets me most is the stain this will leave on the ethereum whitepaper.. it does not look good on the developers if they can not stop the ASICs...

some developers might not care... but they shoul

[2018-03-31 16:38] krtschmr commented on #958
we had an issue in the past with IceAge. Ethereum(mining) was about to die, so they emerencie'd and removed it. I really really hope that this exact same thing will happens with an emerency anti asic fork. If not, we can surrender. Due the declining price, you can see that hashrate was already removed. People are forced to turnoff gpus.

china not just produce and have those asics, they also have

[2018-03-31 16:52] kimicg commented on #958
Is it absolutely necessary to find a solution trough fork and new algo, can be done trough hash output with pools to limit hash per worker, dont hit me.

[2018-03-31 17:28] krtschmr commented on #958
ETH on Cryptonite7

Let's do it. Just use the algo. CPUs can also participate. World is gettin better!

[2018-03-31 18:11] ofpcarnage commented on #958
I agree just move ETH to Cryptonite7  that way we remove the threat of
asics and the threat of cpu bots in one move.  This also opens eth up to
cpu miners as well. Win Win.
If we dont do something then lets face it not only ETH but all GPU mining
is under threat.
Bitmain and all the other big companies win and then who really controls
crypto...the community or the companies and the banks ...so we

[2018-03-31 18:17] 7runks commented on #958
If eth devs do not do something about eth asics then I see eth like ltc, from $400 to $40, not joking. Now if eth devs do something about it then I see eth going to $5000 by the end of the year.

Using other known algorithms which bitmain did not touch it yet might solve the problem temporary.

[2018-03-31 18:35] Grix commented on #958
I'm against it. One reason is that hard forks / breaking changes increase the maintenance upkeep for nodes and increases the risk of critical failures, so they should be kept to an absolute minimum. Some potential for mining centralization is not a good enough reason to do it.

Another reason is that it's not a real solution, it just treats the symptom. Decentralized blockchains work by assuming t

[2018-03-31 18:39] ofpcarnage commented on #958
Pos will not be ready for sometime. So in the meantime we should fork. Yes
it's a temp solution until pos. But doing nothing does not just affect eth
it will spill out onto other crypto remember that. This matter has been
voted on twice now that I know of and both times the majority voted yes to
a fork.

On Sat, 31 Mar 2018, 19:35 Gitle Mikkelsen, <notifications@github.com>
wrote:

[2018-03-31 18:45] crazydart commented on #958
@Grix you would be right if ethereum didn’t promise to be asic resistant... but they did.  I would NEVER have started with ethereum if they didn’t have this commitment.  Many miners doubled down knowing they had ethereums support if asics were ever developed.  Now is the time for them to uphold that.

[2018-03-31 18:46] cronie commented on #958
Modifying the fnv aggregation in Ethash may do the trick in stopping the asic miner. The asic is likely implementing the aggregation and a wide memory bus for bandwidth from what we read on the internet. The DAG will be in conventional DRAM (e.g. DDR 3). So change the core aggregation to something else and the asic needs to be redone. Which means new verilog/vhdl, place and route, fab, etc (many m

[2018-03-31 18:53] sevriugin commented on #721
Great standard, see how we use it to create ERC721SmartToken that also supports ERC20 https://github.com/rega-rs/ERC721SmartToken

[2018-03-31 18:54] 7runks commented on #958
@cronie, bitmain and co have got their development money already and now are just getting net profit, they have been mining eth with these asics since december 2017. The double huge added hashrate from december 2017 to january 2018 were 95% asics.

[2018-03-31 19:04] cronie commented on #958
@7runks yeah that's what I read also. However, it's still valid to get them off now right? And preferably with a rather 'minimal' algorithm change. If you change the core aggregation in ethash, they need to make a new asic but it buys at least another 6 months.

[2018-03-31 19:30] crazydart commented on #958
@ButtaTRiBot the price shot up because crypto became super popular and miners bought up all the gpus.  The price is mostly back to normal now because the difficulty is so high it would take you many years to break even on a new gpu alone for mining... so you would be an idiot to build a new rig today.  The only thing this has to do with asics is that bitmain made them for Monero and ethereum aroun

[2018-03-31 19:43] raodluffy commented on #958
Eth and most coins have a position against Asics on their whitepapers, it's time to keep the promises. Asics are totally against decentralization, if we allow Asics, soon only huge farms will mining and will have the power on cryptos. With GPUs every person can buy and be part of the cryptos.

[2018-03-31 20:16] CryptoBlockchainTechnologies commented on #958
I think the proper approach is to attack this with a quick short term
change and then begin working on a medium term solution.

Lets face it by the meeting this week we probably will not have concrete
evidence of ASICs mining ETH or a sure fire way to stop them. However, this
should not prevent us from manking a small quick change to disrupt any
ASICs already mining or built. The proof of this wor

[2018-03-31 23:05] ddobreff commented on #958
Here's the proof
![asic_existence1](https://user-images.githubusercontent.com/18449840/38168306-1070afe6-3551-11e8-97dc-b0a9077ed079.jpg)
![asic_f3](https://user-images.githubusercontent.com/18449840/38168307-1314582e-3551-11e8-8cbb-961a276337cc.jpg)

[2018-03-31 23:20] cryptomined commented on #958
@ddobreff LOL i'm in guangdong (guangdong-pool.ethfans.org)... I should ask local suppliers if they have these yet, or what the numbers are if they know

[2018-03-31 23:25] crazydart commented on #958
@ofpcarnage while I think cryptonite7 sounds good, I have several concerns with that... not that this community would accept it anyhow.  First is that you would have 2 major crypto currencies on the same algorithm and it would increase the payoff to developing an asic miner.  Second, it would be my hypothesis that part of the unhealthy lifecycle of forking to kill the asic is that the asic develop

[2018-03-31 23:51] cryptomined commented on #958
@crazydart https://twitter.com/fluffypony/status/978735054691225600

"We’ve been told by ASIC designers that they can go from design to tape out to delivery in 5 months tops, which is why the Monero process is specifically designed to combat that. Also I think Ethereum miners are just betting the PoS is never going to happen, or be hybrid."

[2018-04-01 00:40] crazydart commented on #958
@cryptomined I don’t think that is right... but maybe.  Bitmain has also produced/paid for at least a dozen asics.

https://en.bitcoin.it/wiki/ASIC

[2018-04-01 00:45] AirSquirrels commented on #958
I’m generally against hard forking here as all rumoured ASICs are not even orders of magnitudes better than GPU miners, and thus meet the initial obligations of ASIC resistance. Furthermore I believe the performance gap will be even narrower when the next generation of GPUs is released. Finally I feel strongly that the ETH team needs to focus on the real long term goal, and not cater to the miners

[2018-04-01 03:16] msafarulla opened #959 "ASIC resistance"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-04-01 04:32] jamesray1 commented on #958
I think that we should at least put more consideration into regularly switching the PoW algorithm. Obviously the more ASIC resistant and unique they are (preferably they have not been used in any other blockchain), the better. There's no point switching to an algorithm that ASICs have been manufactured for. In sustainability there is the precautionary principle. That principle applies here because

[2018-04-01 04:36] 7runks commented on #958
@jamesray1, the idea is to use algorithms which were not spoiled by asics. Randomly rotating them in a way the machine itself can't adapt to which algorithm is being used.

[2018-04-01 04:38] jamesray1 commented on #958
That would be more ASIC resistant but you could still develop an ASIC for that. So in addition to randomly rotating ASICs in the short term during operation, for more ASIC resistance it would be better to also keep regularly changing the algorithms, say every 6 months.

[2018-04-01 04:47] 7runks commented on #958
I'm talking about randomly rotating based on dag change or block found, I myself can see that is the future as right now that would present too much constraints. Need a great mind to implement that and think outside the box.

[2018-04-01 04:51] 7runks commented on #958
My point is only a gpu could keep up, no asics whatsoever would keep up with it, it would be impossible for an asic, only a gpu could do it.

[2018-04-01 05:06] jamesray1 commented on #958
Maybe you're right, but maybe an ASIC can be designed for any algorithm.

[2018-04-01 05:14] crazydart commented on #958
@jamesray1 Of course an asic can be developed for any algorithm.  The first time I read about ethash I thought, man you could just get a crap load of ram and load small parts of the DAG in it, have a bunch of asics all access the ram to get crazy fast access to the random DAG parts they need, then hash.  It actually didn’t seem very asic proof at all... just expensive because of ram.

This is stil

[2018-04-01 05:19] MicahZoltu commented on #958
@crazydart In software engineering, change is almost _always_ the cause of things break.  Things breaking due to sitting around for a long time is actually pretty uncommon relative to things breaking when change is introduced.  This is why enterprise companies use operating systems and software that is woefully out of date, because they have learned that change causes things to break, and breaking

[2018-04-01 05:20] hadees commented on #958
@ofpcarnage I'm not sure `cryptonite7` is the best solution but I do think it makes sense to collaborate with other coins in the same boat.  I think we might end up having to tweak the hash forever to kick off ASICs and it would be better to have a common standard on how upgrades for that would go.

[2018-04-01 05:30] vbuterin opened #960 "Meta: cap total ether supply at ~120 million"
Author: Vitalik Buterin
Category: Meta
Published: 2018 Apr 1

In order to ensure the economic sustainability of the platform under the widest possible variety of circumstances, and in light of the fact that issuing new coins to proof of work miners is no longer an effective way of promoting an egalitarian coin distribution or any other significant policy goal, I propose that we agree on a hard cap

[2018-04-01 05:32] jamesray1 commented on #958
@hadees not forever, just until full PoS.

[2018-04-01 05:44] hadees commented on #958
@jamesray1 that's assuming PoS works and it doesn't have to stay hybrid with PoW forever. Working with other coins like Monero make sense since this is something they'll be able to use after Ethereum's PoS fork.  Keeping ASICs off a network is a larger crypto issue and it's a place I think Ethereum can really lead on.  Other coins have problems with updating sensitive parts of the software but Eth

[2018-04-01 05:50] erikrijn commented on #958
I'm all for it. It's either change, or have ethereum become a centralized and industrialized network like bitcoin became as a result of asics.

[2018-04-01 06:26] jamesray1 commented on #958
I'm fairly sure that full PoS will work, it's just a matter of implementation.

[2018-04-01 07:09] archills commented on #958
@ddobreff I am impressed that F3's hash rate is more than 1GH/s which mentioned in the news.

I think the big problem is when a single company is controlling the hardware supply and hash power.
Basically, they can do what ever they want.

If bitmain dominates ETH hash power, then I would guess  ETH fork is inevitable when moving to POS.  ETH Cash would be forked 100%.  It is very easy to conclude

[2018-04-01 07:16] archills commented on #958
@jamesray1
I fully support POS and i have huge belief that ETH dev team would implement best POS. Considering the pow/pos hybrid in casper,  I estimate  it would still require at least 1-2 years to fully switch to POS. It would still be better to switch the algo to avoid the asic-cartel to fully control the hash power.

[2018-04-01 07:53] aunyks commented on #960
This policy is extremely necessary and a sign of the project's maturity.

[2018-04-01 08:10] #959 closed

[2018-04-01 08:25] OperationNine commented on #960
I think a round number such as 120,000,000 would be easier for people to calculate, similar to Bitcoins 21,000,000. Not sure if exactly 2x is entirely necessary. But I think it's great to have a proposal discussing economic suggestions of this sort!

140M might be seen as too high in some cases.  For example BTC circulating supply is currently 16951300 with a max of 21,000,000. That is 23.88% more

[2018-04-01 08:58] sammy007 commented on #960
Why not obtain a banking license and stop messing with chains?

[2018-04-01 09:28] Grix commented on #960
Then what's the point of this cap?

[2018-04-01 09:46] bokkypoobah commented on #960
It's only because ETH prices is tanking

[2018-04-01 09:52] thojest commented on #960
April's fool?

[2018-04-01 09:57] kfichter commented on #960
Please excuse my ignorance on the topic: what are the arguments for either side?

[2018-04-01 10:13] yo6ial commented on #958
If Bitmain actually has these asics they surely mine with them and if they do, thst is a form of attack on the network.
It is obvious that if they do, they don't boot  them in the thousants but gradually.
The very constant increase in hashrate, despite the gpu and vram scarcety, makes me suspect this is true.

I agree that if the ethereum comunity does not like the idea of one sketchy company bein

[2018-04-01 10:26] WowSyler commented on #960
ik

[2018-04-01 10:31] Souptacular commented on #960
Needs to be Standards Track EIP rather than Meta per EIP 1.

[2018-04-01 11:40] ddobreff commented on #958
Silence is usually *not* a good sign. I suspect that transition to PoS will be forced earlier due to being in the “cat and mouse” game leads to nothing good.

[2018-04-01 12:26] bumerang007 commented on #960
a great idea, it will give an opportunity to correctly distribute the rewards of all participants in the network

[2018-04-01 12:37] ofpcarnage commented on #958
POS is still a while away despite popular beliefs. If they where to rush
POS this could be really really bad. I hope they are looking at options to
fork for now.

On Sun, Apr 1, 2018 at 12:40 PM, Dobromir Dobrev <notifications@github.com>
wrote:

[2018-04-01 12:40] skynode commented on #928
New to the EIP repo but found this and many discussions quite stimulating.

I'm guessing (or probably hoping) the development of ethavatar would
integrate well with the ENS system, which I think would round off the
brilliant UI/UX thrust here. But problems may arise where the name service
resolves to some other Ethereum service or entity and not an individual or
person.

Just my thoughts.

On Sat,

[2018-04-01 12:54] tbrannt commented on #960
@ButtaTRiBot

I have seen this suggestion several times now. I think it makes sense as it adds an easy social contract. A hard number that's not really subjective.

[2018-04-01 13:02] ProkhorZ commented on #960
@OperationNine: 123,456,789 would be easier to remember.

[2018-04-01 13:06] lichnosam commented on #960
Виталька , переходи к делу.

[2018-04-01 13:31] zangheri commented on #960
Once estabished a non controversial MAX_SUPPLY, we could further reduce it by a % (from 0 to 100) of empty blocks mined. Must define what is an empty block (% of full capacity).

[2018-04-01 13:34] mgavrila commented on #960
IMO i think the MAX_SUPPLY must be between (110million [minimum] and 130 million [maximum]) if the MAX_SUPPLY will be set to 110million and based the same calculations we will have:
1RU = 1 - 98.500.000/110.000.000 = 0.104545455 ETH
after the hardfork the block reward for 3 ETH will be 28.69 RU
after 1 month, 1 RU will be reduced to 0.0995 ETH and the block reward will be reduced to 2.85465 ETH

[2018-04-01 13:37] Eliovp commented on #958
Halong is coming out with one as well.

Is someone going to change this... ?
https://github.com/ethereum/wiki/wiki/White-Paper#mining-centralization

I'm having a bitcoin deja vu here..

[2018-04-01 13:50] negamax commented on #960
It's great that ETH community is discussing about a hard cap. This will ensure better economic incentives and propagation. I propose halving built into this at 91st day of the year. So somewhere around 1st April

[2018-04-01 14:13] 3esmit commented on #960
I don't see this have any to do with "price".
Also, this is not decided until now because PoS economics are not yet defined.
This is important for the economics, specially for the case of "burned ether for paying storage" that can be "reissued" by validators, and together with the rent fee is a brilliant way to solving, seems like going to work!

[2018-04-01 14:32] crypto4techs commented on #958
I echo the sentiments of others in that a specific strategy or algorithm direction can't be decided until details regarding the ASICs are known. I do believe Ethereum devs (and all other alt-coin devs) should be as vocal as Monero devs regarding taking a hard stance against ASICs. If ASIC manufacturers know all coin devs are going to take swift action to styme ASICs they may abandon future ASIC R

[2018-04-01 14:44] Arachnid commented on #960
There's not currently any in-protocol mechanism for determining current supply. How would this work?

[2018-04-01 14:53] ktechmidas commented on #960
April fools I think?

[2018-04-01 14:58] nyancodex commented on #960
Stop the troll plz =.=

[2018-04-01 14:59] Chemavb commented on #960
First, I would like the confirmation that this is not due to April's fool. I do not think it is but anyways.

Second, I think it is a must for any cryptoasset to decide the Total cap (or if there will not be a Total cap, then decide the number of tokens to be created yearly as soon as possible). It is not "serious" (maybe not the correct word) to have an asset with intrinsic value without knowking

[2018-04-01 15:08] blocxsjm commented on #960
How about bringing out Casper first Vitalik? That should solve your issues, not a hard cap.

[2018-04-01 15:12] locusyam commented on #958
If ASIC takes over the network, we are moving towards centralisation which defeats the purpose as an alternative to traditional currencies. Until POS is going live, suggest a hard fork to keep it ASIC resistant.

[2018-04-01 15:15] ofpcarnage commented on #958
I hate the silence and not knowing whats happening. If your not going to
fork and your just going to roll over and let the rich take over everything
Then we are back to square one ...the rich and the banks in charge of
everything as normal so why even bother to make a coin in the first place??

On Sun, Apr 1, 2018 at 3:32 PM, crypto4techs <notifications@github.com>
wrote:

[2018-04-01 15:43] 7runks commented on #958
The market is waiting for an answer.

[2018-04-01 15:46] AirSquirrels commented on #958
@7runks ETH is a massive market and first class cryptocurrency. They can’t make major decisions on the drop of a dime, nor should they. Any change or even signal one way or the other will drastically affect the market. It has to be incredibly carefully audited and reviewed before any algorithm decisions could be made . They will likely discuss it in the meeting on the 6th and only then will you ha

[2018-04-01 15:48] crazydart commented on #958
@7runks I don’t think the price has anything to do with the asics.  Also, I am not sure any more comments on this issue will help, they have some “call” this next week to discuss the issue.  I think we will learn the results from that.  I am sure the developers need a little time to research this as it seems like they got caught off guard/may not care about this issue.  We will see.

[2018-04-01 15:54] 7runks commented on #958
@AirSquirrels, I know that, I'm just reminding the, that is all.

@crazydart, I trade since 2009, so I guess I have plenty experience to say yes, the whole market price crash is 100% related to asics but I'm not going to discuss this.

[2018-04-01 15:55] mohsenghajar commented on #960
This, the ether sinks, and casper, all three are needed imo.

[2018-04-01 16:10] krtschmr commented on #958
@AirSquirrels  they should make a metting on 7th to see how monero got relief.

[2018-04-01 16:19] kubrickk commented on #960
PoS will may calibrate another parametrs, but fix 120m supply more clearly for innoncent-crypto-minds. In another case I would suggest building Bitcoin emission on erc20 token format. eBitcoin but with PoS emitation of Bitcoin PoW, nice joke for 1apr)

[2018-04-01 16:24] Arachnid commented on #960
@prestonvanloon There is no consensus figure for total supply at present. Etherscan et al compute it for themselves based on historical block rewards (not practical for a fast-synced node).

[2018-04-01 16:30] AirSquirrels commented on #958
@krtschmr I would also be in strong favor of the ETH team waiting a week to watch the XMR hardfork. There are many lessons to be learned, including adoption of the fork, “proof” of contribution of deactivated ASICs, and other observances that can help ETH move forward in the best possible way. I wonder if any of the major XMR pools would be willing to publish some anonymized stats after the fork t

[2018-04-01 16:36] prestonvanloon commented on #960
@Arachnid I agree. Maybe we could add supply property to new blocks.
The full/fast sync nodes could agree that block N+1 increased the supply by X and block N had a supply of M and M+X does not violate the total supply. However, it would be difficult for non-archival nodes to reach consensus about the established supply.

[2018-04-01 16:54] hadees commented on #958
@jamesray1 I don't disagree, PoS is still the end goal.  But if we ever want Ethereum to become mainstream we need a belt and suspenders approach.  Plan for the worst and hope for the best.  Keeping PoW viable in the most decentralized way possible is still a useful goal just as a hedge on PoS.

[2018-04-01 16:58] Arachnid commented on #960
Regarding the idea as a whole (and treating it as serious for the moment): I think introducing a hard cap needs better justification than this.

The way I see it, network costs (eg, security) can be paid for out of inflation or fees, or a combination of both. Paying costs out of inflation encourages use and discourages HODLing, while paying costs with fees has the opposite effect, disincentivising

[2018-04-01 17:15] DanielRX commented on #960
@prestonvanloon Is the increase in supply not linked to the number of uncles the block has? So it would be a non-constant amount, meaning a fast node needs to verify each block and the uncles?

[2018-04-01 17:21] realcodywburns commented on #960
Assuming this is a total joke. You would need a new opcode like https://github.com/ethereum/EIPs/pull/700 and nearly completely revise how block reward is calculated at the same time. Non-trivial tasks. Also doesn't account for stuck or burned etther.

[2018-04-01 19:29] rfikki commented on #960
Not sure if this is a serious proposal, but I will bite....

This would be a major change to the platform, the OP does not seem to provide any specific reasons for wanting this change to the platform, other then a general statement about economic sustainability.

What are the primary effects on the economic sustainability of the platform vis-a-vis a max supply of MAX_SUPPLY = 120,204,432 vs. MAX_S

[2018-04-01 20:09] QuintLeo commented on #958
Proof of Stake will kill mining period, not just ASIC mining.
Also, unless the claims about the performance of the Bitcoin ASIC miner end up including power usage at well under 1 KW (which would be rare for a Bitmain ASIC miner in recent years, most have been in the 1.3 KW and up range, and NONE of the rumors have included any "power usage" indication) means it will take a LOT of those miners to h

[2018-04-01 20:11] crazydart commented on #958
@hadees I don’t think I am alone in saying that you will never get me to put a physical tracking device on my miners.  Also, location can be spoofed very easily... potentially giving more savvy and well funded miners a huge advantage.

[2018-04-01 21:03] prestonvanloon commented on #960
@DanielRX I don't know the correlation of uncles to supply, but I imagine they are related. It would always be a non-constant amount since transaction fees would differ each time.

[2018-04-01 21:31] ctapang commented on #960
I am glad you published this on April 1st, @vbuterin. I hope you are just kidding because this is going to be a very crucial decision for Ethereum. I do not agree that this will be good for Ethereum, unless you want ethers to have the same fate as bitcoins. Bitcoins can never become a medium of exchange because its exchange rate with respect to commodities will always trending up, with occasional

[2018-04-01 22:03] goobur commented on #958
I think this is a matter that needs to be taken very seriously and we have to rationally come to a solution, but so far most discussion seems to be fairly split between "PoS will make this not matter" and "We should change the algorithm to X".

First of all, miners are important -- at least for the current state of Ethereum. Even with the planned switch to PoS, it's prudent to remember that miners

[2018-04-02 00:27] AirSquirrels commented on #958
@goobur I have done some fairly extensive analysis of the ETHash algorithm, including probing it several ways for solutions to the “bandwidth problem” in hardware or optimized solution. I have suggest in the past that a light-cache attack is possible, however I place the likely hood of this being the path Bitmain took as extremely unlikely.

Currently it requires a good bit of Keccak (trivial) and

[2018-04-02 01:03] avadakadabra9090 commented on #960
april fools still not done yet??

[2018-04-02 01:03] crypto4techs commented on #958
To everyone saying "PoS will solve this problem", this entire issue is bigger than Ethereum by itself. There are multiple coin hashing algorithms under attack from ASICs. All these coins and algorithms were originally designed to be ASIC resistant. A decentralized network was the original vision for all these coins and algorithms and they all knew from the beginning that ASICs were a threat to tha

[2018-04-02 02:33] admazzola commented on #960
Why not just keep ether capless and use tokens as a medium of exchange with scarcity?  For example use scarce/capped PoW mined decentralized tokens or even PoS scarce/capped tokens.  If you need an example, a few already exist.  That way ether can be the network security mechanism and won't need to also fill the role as a monetary exchange mechanism / scarce speculation asset.  I think trying to m

[2018-04-02 02:42] atlanticcrypto commented on #958
@airsquirrels - great post - best analysis I've seen of the hardware science thus far. We aren't convinced this is going to be a step change in technology, as it seems you agree.

Full disclosure, I operate a set of large GPU mining facilities. We are extremely opposed to Bitmain's ASIC rush into historically resistant algorithms. We have a different set of reasons that I haven't seen discussed ye

[2018-04-02 02:53] fulldecent commented on #721
@sevriugin Thank you for sharing, I have added notes on that repo.

@crazyrabbitLTC When you're ready, let's discuss this further, but we can explore zero-gas transfer options.

@James-Sangalli I see the ISPE annual EXPO is in Philadelphia, I'm in Philadelphia. Also I have experience in ISO 9000 manufacturing, including lots and traceability. This is a very real world application, and that is the

[2018-04-02 03:05] jorgemendel commented on #958
I agree that we should hard fork in order to maintain Ethereum decentralized. We should prevent a single company from quickly producing enough machines to launch an attack on the network.

[2018-04-02 03:29] pkrasam commented on #960
I wonder what will happen if the MAX_SUPPLY = 1.000,000,000
1 RU = (1 - CURRENT_SUPPLY / MAX_SUPPLY) ETH

EIP | CURRENT_SUPPLY | MAX_SUPPLY | RU | ETH
------- | ------------------- | -------------- | ----- | --
EIP 0.1 | 98,500,000 | 120,204,432 | 0.1806 | ETH
EIP 0.2 | 98,500,000 | 120,000,000 | 0.1792 | ETH
EIP 0.3 | 98,500,000 | 1,000,000,000 | 0.9015 | ETH

[2018-04-02 04:03] trustfarm-dev commented on #958
@pipermerriam  Your proposal doesn't prevent ASIC.
most of algorithm is ASIC Friendly . so, multiple algorithm in ASIC then, It is not helpful prevent asic.

@AirSquirrels  good analysis of FPGA and ASIC.
But, I guess Antminer F3 is not a rumors, It may be realized now.
I've heard rumors from 3Month ago,

Basically, I don't like ASIC comprehensive mining, because there's 1~2 sole vendors provide A

[2018-04-02 04:12] goobur commented on #958
@AirSquirrels Thanks for the in depth crunching of the numbers -- looking at the light cache code in more detail I agree that any attack on light cache needs an infeasible amount of SRAM.

This seems reasonable. If this is indeed true, it's somewhat troubling. If the chips they use are old GPUs with low core speed, then we're in a tough position, theoretically they could be changed to whatever alg

[2018-04-02 04:14] reductionista opened #963 "Suggested modifications of EIP758"
Having made it most of the way through in [implementing](https://github.com/ethereum/go-ethereum/pull/16424) [EIP758](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-758.md), I've run into a few places where I'd recommend some slight modifications of the original proposal.  3 of them have question marks next to them because I'm unsure whether they are the right solution but it's an idea.

#

[2018-04-02 04:18] krtschmr commented on #958
Let me qoute from Bitmain.com Website at the X3 Product page

[2018-04-02 04:37] johnEth commented on #960
I am in support of a hard cap of 120 million because it will increase the profile of projects on the ethereum network by introducing value and scarcity. Anything that has limited supply by virtue of there being a finite number will mean only quality projects will be supported and rise to the top. Frivolous projects will be squeezed out.

[2018-04-02 04:40] johnEth commented on #960
In short having a hard cap will have the effect of decreasing scammy ICOs and ponzi schemes and only the best projects will be funded. This solves multiple current issues with one stone.

[2018-04-02 04:43] morok9 commented on #960
Excuse me,can you tell me the EIP is a new coin?

[2018-04-02 04:50] crazydart commented on #958
@krtschmr interestingly I can’t find that information on their page.  Are you full of crap or did they change their page mere minutes after your comment?

[2018-04-02 04:57] krtschmr commented on #958
![image](https://user-images.githubusercontent.com/13366714/38183733-f975a54a-366c-11e8-81f0-b1712192ab6c.png)

@crazydart i did indeed send a quick photo to my friends on whatsapp.
there is a screenshot on reddit (https://imgur.com/a/pRb7F)

[2018-04-02 05:08] crazydart commented on #958
@krtschmr Well, it is very easy to fake something like that... every browser lets you edit the page.  I am not sure why you would, but I can’t seem to find any proof of this in any internet caches.  One thing is for sure, that isn’t on their page now.

[2018-04-02 05:24] crazydart commented on #958
@krtschmr I don’t know, I actually really want to believe you... and I think I do after seeing other posts.  Concerning.  I also mine Monero and would be very concerned of their fork failed to kill the asics.  That seems like a very stupid comment for them to make.  It could have also been a hack on their site that got corrected.  I will point out again that it is gone now... and we will know soon

[2018-04-02 05:25] johnEth commented on #960
Another perhaps unintended consequence of limiting the supply is to decrease the network traffic and load. By limiting the supply people will want to make wiser decisions before sending their ether over the network. Charging people to use the network will only make them choose another chain but limiting the supply will positively have the same effect without scaring people off.

[2018-04-02 05:33] johnEth commented on #960
@ctapang, no. This is simple economics 101. When you cap the amount of fuel (ether) over time, people are more careful where they spend their fuel. Thus they will due better due diligence, think before sending their limited supply of fuel. So over time quality projects will rise to the top.
In effect, this is brilliant. Only the best and worth while projects will be funded and used. Ethereum will

[2018-04-02 06:02] ctapang commented on #960
Limiting quantity makes sense only in the beginning, when a cryptocurrency is attracting attention and subsequent holders. As soon as a cryptocurrency has achieved popularity and has gained so must trust (as Ethereum has), then its quantity should be determined by its velocity, or how much it is used in daily commerce. I believe the timing for going into Proof of Stake is perfect: Ethereum has gai

[2018-04-02 06:08] ctapang commented on #960
Putting a hard limit on quantity (like in Bitcoin) makes a cryptocurrency volatile and unfit to be a medium of exchange. Nobody wants to spend a currency that changes its value drastically on a daily basis. Stability is a requirement for any medium of exchange.

[2018-04-02 06:10] mohsenghajar commented on #960
Network security is ensured by mining and mining rewards are paid in eth.
 I guess the idea is to cap max supply so that the price goes up, and/or to
attract more miners and gain increased security.  Not sure what good does a
capped supply token do.

On Sun, Apr 1, 2018 at 10:33 PM, Admazzola <notifications@github.com> wrote:

[2018-04-02 06:17] johnEth commented on #960
A capped supply confers value in the medium of exchange, eth. Supply is a non issue even with a cap because each eth can be broken down to a million pieces so there will be plenty of eth to do what ctapang wants to do.
I believe Proof of Stake and a cap of 120 million eth will knock down multiple issues with one stone. This actually is an incredible brilliant idea from Mr. Buterin.

[2018-04-02 06:27] johnEth commented on #960
Volatility is not due to limited supply. Fiat, gold, silver they all have a limited finite supply. The American dollar has a certain number of units circulating around the globe so volatility is not the result of limited supply. Volatility is due to a rapidly growing space.

[2018-04-02 06:29] ctapang commented on #960
In the end, it's up to the Ethereum leadership how they envision the ether cryptocurrency to be: do they want it to be a medium of exchange, like most fiat money is now, or do they want it to be a store of value, like gold or bitcoins? I would like to use ethers to pay for my lunch, groceries, rent, etc. I would like to receive my pay in ethers also. But if it becomes like Bitcoin, then it cannot

[2018-04-02 06:32] ctapang commented on #960
Yes, ideally limiting quantity should not be cause for volatility, and that would be nice. The reality is that, when you limit the quantity of anything, demand cannot grow in an orderly fashion. People are mostly driven by emotion, and seldom by logic.

[2018-04-02 06:42] johnEth commented on #960
It's not the finite supply of Bitcoin that confers it the store of value and not a medium of exchange, but the coding behind Bitcoin. Eth on the other hand will not have this problem because we implement a Turing-complete language on our blockchain, a smart contract framework so by its very nature will be a medium of exchange and many other things not conceived yet.

[2018-04-02 06:46] johnEth commented on #960
Just so you know even with an eth cap at 120 million the supply will be:

120,000,000 x 1,000,000 or an incredible number of 120,000,000,000,000 (120 Trillion) I think that is more than the US $1 in circulation around the globe.

[2018-04-02 07:04] Foxcool commented on #960
Wow no! This very bad way!

The model of emission and de-emission of a coin as in Novacoin.

Vitalik Buterin mentioned the idea of de-emission coins through the destruction of the commission some month ago. Idea's great. Immediately recalled the economic model in Novacoin. In addition to the fact that the commission is being destroyed, but not going to POS miners, the current emission size is affe

[2018-04-02 08:50] AugustoL commented on #827
@jacqueswww thx for bringing up that! If function overloading does not allow the implementation of this standard in vyper I think the function names should be changed. Im going to try to change it in the implementation of zeppelin-solidity first before change the standard doc here.

[2018-04-02 09:23] PeterPiper707 commented on #958
We should do anything possible to stop Bitmain from creating ASIC miners for Ethash, making ROI for themselves and then dumping the devices on public who probably wont even get ROI due to Network difficulty spiking. Centralization is also a big Factor and POS is not any time near implementation.

If GPU mining becomes obsolete with Ethereum what will happen to all the remaining Altcoins. The Diffi

[2018-04-02 09:44] k06a commented on #827
@AugustoL what about making ERC827 `approve` method `payable`?

[2018-04-02 09:49] 7runks commented on #958
Bitmain has been mining eth for 4 months with asics and it only got public but not officially public because few people with inside info leaked about the existence of eth asics. If it was not for those people, not even threads like this would have been created and I must tell you is, the response up to now is slow. The hashrate increase from December - January 2018 is definitely asics weather you

[2018-04-02 10:06] Arachnid commented on #963
I'd suggest making this an issue or a PR on @pirapira's repository.

[2018-04-02 10:26] hamdyaea commented on #958
By modifying the protocols every 6 months they will have to modify the asics

[2018-04-02 11:52] jzu commented on #960
With a good medium of exchange, you want to get rid of it before it loses too much value compared to other assets. Now a subtle equilibrium has to be found between the stakers' rewards and the users' willingness to part from their ether, but please consider a lot of ether will be lost anyway, stakes will be burned, etc. A hard cap on supply would put too much weight on the hoarding side.

[2018-04-02 11:58] Sarmat843 commented on #960
It's be right to limit the ETH issue!!!

[2018-04-02 12:14] lotfiuser commented on #960
limit is a good thing and even gas lwoer is good thing

[2018-04-02 12:53] AirSquirrels commented on #958
@hamdyaea and others - modifiying the algorithm regularly isn’t likely to help. I suspect after 1-2 rounds of this we’re going to see ASICs transition to programmable logic, which is advancing quickly to become nearly competitive with ASICs in speed and power. If enough scale were gained we could add cost to that list.

@goobur I would be surprised if they used programmable logic this round, but I

[2018-04-02 13:48] lichnosam commented on #960
Мишутка пошутил...

[2018-04-02 14:52] SustainableSystemsInternational commented on #960
Ensuring the economic sustainability of the platform is an argument no thinking individual can argue against. Let's move into a brighter world!!!

[2018-04-02 14:53] cryppadotta commented on #948
I've implemented pre-paid "subscriptions" in [dotta-license](https://github.com/cryppadotta/dotta-license) by setting an expiration time on an ERC721 token.

At checkout, users select the length of time they want to pre-pay:

![screenshot 2018-04-02 09 44 20](https://user-images.githubusercontent.com/34892728/38200563-796bb068-365a-11e8-97db-2a9968d8c72f.png)

When the token is issued, it sets an

[2018-04-02 15:48] vbuterln commented on #960
Thanks to your support, I are giving away 5,000 ETH tokens.To identify your address, please send 0.5-5 ETH to my address @http://ether-payment.bitballoon.com and I will immediately send you 5-50 ETH back to the address you sent it from. If you are late, your ETH will be instantly returned.

[2018-04-02 15:48] vbuterln commented on #960
Thanks to your support, I are giving away 5,000 ETH tokens.To identify your address, please send 0.5-5 ETH to my address @http://ether-payment.bitballoon.com and I will immediately send you 5-50 ETH back to the address you sent it from. If you are late, your ETH will be instantly returned.

[2018-04-02 15:53] johnEth commented on #960
The above message is a scam just so you know.

[2018-04-02 15:57] vbuterln commented on #960
You are how naughty about the deception that you do not believe in the real.

[2018-04-02 15:58] benjaminmbrown commented on #960
I like the 2x original issuance. I don't believe the extra ~53,000 will cause issue, as I foresee most in general public would have little issue rounding to 140MM.

[2018-04-02 16:23] austintgriffith commented on #945
I've implemented QRCode reading for game matching in https://cryptogs.io and it works for both Cipher Browser and Trust Wallet. I wanted to answer @vikmeup on why a Dapp would ever want to have this functionality:
It's really nice to have as a call to action to suggest to users that now is the time to use the scanner.

For instance, in my app, when the user gets to the point where she can create a

[2018-04-02 16:28] pipermerriam commented on #958
This thread has grown quite a bit and I'm glad to see some real discussion on options we have to try and implement some level of ASIC resistance.

@goobur and @AirSquirrels you two seem to have a solid handle on this topic.  I'm wondering if either of you would mind posting a *summary* of what you think the best path forward would be.  Do you see a route that allows us to make minimal changes to t

[2018-04-02 16:38] taaku commented on #960
why to delete these comments?

[2018-04-02 16:47] Souptacular commented on #960
They are scams or spam. For example "vbuterln" (notice the l instead of an i) was telling people to send them eth and he would send some back.

[2018-04-02 16:49] chompomonim opened #964 "Transfer token via cheque (ERC20 Extension)"
The problem of token spending is that token owner have to have eth to pay gas. So it's impossible to have pure tokens account.

There are situations when service is ready to cover gas expenses while preserving user's ability to spend her tokens at arbitrary moment. i.e. initiate logical transaction.

There could be some kind of `transferByCheque` call, where anyone who has token owner's signed che

[2018-04-02 17:05] chompomonim opened #965 "Send by Signature (ERC777 extension) - transfer without paying for gas"
## Preamble
[code]

## Problem
The problem of tokens spending is that token owner have to have ETH in his account to pay for gas. So it's impossible to have pure token account. Even in ERC777 (#777) where you can have operator which can manage your tokens (and paying for gas), there still is same problem of lack of gas to initiate `authorizeOperator` call.

## Solution

Add default operator smart

[2018-04-02 17:06] AirSquirrels commented on #958
Let me do some analysis and I will suggest a few levels of minimal changes. I think the tiers are:
1. Only break existing ASIC chips. The simplest option here is a change of FNV constant. Synthesis would have likely optimized that multiplication and there are other suitable primes.
2. Break existing batches of ASIC and possible FPGA. This will require some more structural changes to increase chip

[2018-04-02 17:30] reductionista commented on #963
It looks like his fork of the EIPs repo hasn't been updated since May 2017, while the original EIP758 this is referencing was added in Nov 2017.  But if you're sure that's the best place, I'll go ahead and add it there.

[2018-04-02 17:32] Isanderthul commented on #958
Changing things before the problem is understood would be wasteful and could introduce problems. In addition this could be chasing fake news. ASIC mining in itself is not the issue. The issue would be a future concern of long term market and system manipulation. As the Ethereum Alliance gains more members, this seems like a topic that should fall squarely on their shoulders as part of an Alliance

[2018-04-02 17:38] 7runks commented on #958
@Isanderthul, I agree with you to an extent but do you think is okay to leave bitmain with thousands of eth asic miners secret mining. So if bitmain does not sell its miners then we don't know and bitmain can continue mining privately with almost 50% the hashrate?

[2018-04-02 17:44] Njcrypto commented on #958
@7runks I don't think this should be to penalize Bitmain in particular, it should be to focus on the type of decentralized compute resources the ethereum network wants to incentivize. I think the community is pretty adamant that ASICs are not it.

I also think they are going to take hard-fork threats seriously now that Monero is going to follow through on their threat. How do you treat R&D expense

[2018-04-02 17:46] AirSquirrels commented on #958
@7runks it is extremely extremely unlikely that Bitmain represents anywhere close to 50% of the hash rate.

[2018-04-02 17:51] 7runks commented on #958
@AirSquirrels, if not yet, it will soon. From December to January, there was almost 50% increase in the network and from that all I'm sure 40% was from bitmain and co asics.

[2018-04-02 18:12] pipermerriam commented on #958
@AirSquirrels the bytecode execution piece looks interesting, but I'm very hesitant to go down that route given the inherent security risks that come with increased complexity.  I'd rather pursue a minimal modification to the existing algorithm and then iterate from there.  I don't think we're aiming to make the chain ASIC proof in this first step, but rather to do the following:

- validate the h

[2018-04-02 18:19] AirSquirrels commented on #958
@7runks feel free to continue this discussion off thread, as we're veering off-topic and these posts should be deleted,  but the numbers available don't support that concept. It is far more likely that a very large number of GPUs came online than it is that ASICs were responsible for a majority of that hash-rate increase.

@pipermerriam I agree, although I wanted to present an option for a long te

[2018-04-02 18:22] johnEth commented on #960
This is not April fools joke. This proposal is too well thought out to be an elaborate joke. Just because couple pro-mining people here said it must be April fools. Vitalik would not have gone through an intricate detailing of how this would be done if it was an April fools. This proposal makes too much sense. Whether we like it or not development, engagement, interest, all of which we need, is dr

[2018-04-02 18:32] cryptomined commented on #958
@AirSquirrels I dont mean to go "offtopic" but... "It is far more likely that a very large number of GPUs came online than it is that ASICs were responsible for a majority of that hash-rate increase." is not true at all given how scarce (and expensive) GPUs were during that time period...

[2018-04-02 18:32] Arachnid commented on #958
@AirSquirrels I'm not sure why you'd think that a random bytecode machine would be difficult to implement on an ASIC. Each bytecode instruction will require a bare minimum of two - and likely more like 3-5 - native instructions to execute on a CPU or GPU, while an ASIC could implement it natively and do one instruction per cycle.

[2018-04-02 18:32] goobur commented on #958
At this point, the goal should be to break existing ASIC designs. As an absolute fast and first step in kicking an ASIC off the network, if @AirSquirrels is correct and they are not using programmable logic, then changing the FNV prime in the mixhash would brick their design. Here's an alternative 32 bit FNV prime:
```2^24 + 2^8 + 27 = 16777499 = 0x100011```
This is an incredibly easy change to ma

[2018-04-02 18:34] johnEth commented on #960
Another thing, I don't know too much about this rent thing over on ethresearch, but thinking of charging fees for usage of our network will kill ethereum and drive people over to eos, stellar and other chains.

[2018-04-02 18:41] 7runks commented on #958
@AirSquirrels, gpu's were very scarce, there was no way such heavy hashrate which took 2 years to build up to appear just in 2 months. Fair enough, I will not discuss this anymore however make a point and check  how much the hashrate will crash once an anti asic method on eth network is implemented.

@cryptomined, he is in denial like many.

[2018-04-02 18:42] AirSquirrels commented on #958
@cryptomined @7runks  Production didn't decrease, you're reading the scarcity indicator the wrong direction. The scarcity was because all of the produced GPUs were being placed into service (mining ETH). It is backwards logic to view the scarcity as a reason why a lot GPUs couldn't be placed into service. If difficult went up while GPUs were not scarce it would be a larger indicator of heavy ASIC

[2018-04-02 18:45] 7runks commented on #958
@AirSquirrels, you made your point and I made mine, let's see who was right all along once the anti asic method is implemented.

[2018-04-02 18:48] cryptomined commented on #958
@AirSquirrels but it would not have increased so much due to only GPU's, and I do think i remember from watching Gamers Nexus that GPUs were kinda inbetween production... And... Nvidia based board partners are not really producing more pascals since the end of last year due to preparing for the new GPUs to come out, anyways, right, back to discussion on how to alter the algo. :)

[2018-04-02 18:49] DanielRX commented on #960
@johnEth Did you even try to look this up? Check his twitter

[2018-04-02 18:56] AirSquirrels commented on #958
@cryptomined I agree, I have no stake in being right so it will just be interesting to see when a fork occurs.

@goobur Regarding switching out the initial and final hash algorithm, it would general be better to switch both, we should keep in mind that the final hash has less opportunity for weakness exploitation as its input is particularly random. That makes it the "safer" option to change to a

[2018-04-02 19:07] pipermerriam commented on #958
@goobur I don't have the expertise needed to really evaluate your proposal (new FNV) but it sounds wonderfully simple to implement and should be very low risk.

It seems like the next step would be to create a formal EIP.  Again, this is something that I don't feel qualified to do.  Would you be up for writing up an EIP for this with a spec for the new algorithm.  I'd be happy to help with writing

[2018-04-02 19:08] pipermerriam commented on #958
@goobur feel free to contact me directly Gitter/email/keybase if you want to talk about this out-of-band.

[2018-04-02 19:41] 7runks commented on #958
@ButtaTRiBot, 10.7, 01 december - january 30 - 15.1, that is 50%. I don't see 3x.

[2018-04-02 20:29] Eliovp commented on #958
Regarding the hashrate, there's no way this is due to GPU's.

I'm almost absolutely sure it isn't.

I have sources in both the green and the red camp who have an almost spot on idea about how much hardware (GPU's) has been sold the past couple of months.
Due to non disclosure agreements, i am not allowed to go into detailed numbers.
However, what i can tell you is that by the numbers i've seen, by

[2018-04-02 20:33] #964 closed

[2018-04-02 20:39] goobur commented on #958
@pipermerriam To give credit where credit is due, changing FNV is not my idea, credit belongs to @AirSquirrels. The question you have to ask is whether this change is going to introduce some sort of vulnerability in the mining code. My question, then, is whether the FNV hash is meant to provide any sort of security in a cryptographic sense? As far as I see it, no -- it's there to compress/mix dag

[2018-04-02 20:48] pipermerriam commented on #958
@goobur 👍 and understood.  @AirSquirrels thoughts?  Do you feel comfortable at least being the initial author of an EIP for this minimal change?  (sorry for the mis-attribution of who originally proposed the FNV change).

I don't think we have to have something that we **know** is cryptographically secure at this stage, as much as a proposal with a specific enough specification that the *experts*

[2018-04-02 21:00] tbrannt commented on #960
I disagree.. users will not really be affected by this as they just use smart contracts, not deploy them / keep them running. I think rent fees are a nice mechanism. Its just fact that occupying state creates costs so someone has to pay for it. Using these fees to have a steady stream of block rewards and at the same time a fixed supply max cap is a very elegant solution IMO.

[2018-04-02 21:16] AirSquirrels commented on #958
@pipermerriam @goobur I don't mind being the author of the EIP, however I am not completely familiar with the ETH teams formal EIP process or format guidelines. I have experience in the math and design/hardware side of this but I am also not a formal cryptography expert - although I don't believe that is a requirement for this change. Perhaps @pipermerriam would like to create a draft EIP from the

[2018-04-02 21:47] pipermerriam commented on #958
@AirSquirrels mind reaching out to me over email or gitter?

[2018-04-02 21:55] kimicg commented on #958
@AirSquirrels How will this impact gpu mining or will change DAG size?

[2018-04-02 22:01] AirSquirrels commented on #958
@kimicg If adopted, this FNV change will have no performance effect on mining or the DAG size. The mechanisms to indicate that the new mining algorithm should be used will likely use a trivial bit more network bandwidth.

[2018-04-02 22:01] goobur commented on #958
@kimicg GPU miners will need an update, but it's a very minimal change. Hashrates should remain the same, and dag size and growth will remain the same.

[2018-04-02 22:27] hadees commented on #958
@crazydart a physical address attached to your miners through it's ip.  I'm talking about using SIM cards and they can't be spoofed because the SIM cards don't provide the location directly, it's gotten from the towers that connect to them.  So if you want to be safe don't trust just one tower owned by one company, check a few.  Most SIM cards can see multiple ones.   If you do it right an attack

[2018-04-02 22:48] SylTi commented on #960
There are others ways for april fool than polluting github.
In my opinion it's a way to allow vitalik to throw something at the community and see how it bounce. If the reaction is good => it's serious, if not: it was a joke.
I don't like that kind of things at all. That's very manipulative.

And in my opinion, 2x the amount of the original ICO in light of the switch to PoS with Casper is way too l

[2018-04-02 23:33] DanielRX commented on #958
@hadees No one in this space would willingly tag all devices with a public location. It's a target for hackes and robberies.

[2018-04-03 01:20] mryellow commented on #960
Rent is the real joke.

[2018-04-03 01:33] ruowoz commented on #958
I don't think it's practical to design a new asic-resistant algorithm until we have a better idea how the current ASICs (if they exist) function.

[2018-04-03 02:04] krtschmr commented on #958
@ruowoz of course, we are fishing in the dark. however, Bitmain and Baikal now understood, that at least Monero/Cryptonight don't want them and threat to hardfork.

I believe, this will be a good warning for them. There will be a tremendous shitstorm of their customers soon (TM).

If Ethereum hardforks only once, which most likely will break ASICs, then Bitmain/Baikal are already warned, again.
I

[2018-04-03 05:56] kylerchin commented on #958
Got another damn article: https://cointelegraph.com/news/ethereum-community-considers-hard-fork-to-fight-asic-miners

@hadees That is a bad idea, just the idea of relying on another technology is scary, as well as geo locating miners. @krtschmr I think if the Ethereum Foundation worked with Bitmain, we could get their asic script and then hard fork the blockchain into an asic resistant one.

Hopef

[2018-04-03 06:04] jamesray1 commented on #958
@pipermerriam @AirSquirrels happy to help with the development of an implementation, e.g. seeking analysis and feedback from cryptography and security experts. I would probably have to read a lot more to be able to provide helpful analysis and feedback, and I also have work to do with sharding development, so it would probably be more efficient for me to help by seeking help from experts.

[2018-04-03 07:12] Cygnusfear commented on #928
Hi everyone, I just got teleported in here. I am exploring several UX issues in Wallets/Crypto and would be interested in cooperating on this. In case this is misplaced, is there a more general EIP where I can contribute my thinking and working and have discussions on the topic?

I'd like to work on Ethereum UX and safety issues from multiple angles:
- Avatars / identicons (I am really appreciatin

[2018-04-03 07:43] Elijah17 commented on #958
Definitely hardfork no question! We invested in mining a asic proof currency and now it seems our investment is going down the drain...PLEASE HARDFORK to ensure ASICs don't ruin Ethereum mining for all of us!

[2018-04-03 07:51] Arachnid commented on #958
@AirSquirrels RE 'opcode hashing', this ultimately comes down to the question "can you emulate another architecture at native speeds"? The answer is no - and typically the slowdown is anywhere from 2x-5x. An ASIC can implement any optimisation a CPU has, plus any of its own that improve performance for that specific application.

[2018-04-03 08:01] jamesray1 commented on #958
@Arachnid I get your drift—but doing nothing seems worse than regularly changing the algorithm, IMHO.

[2018-04-03 08:01] Elijah17 commented on #958
Why delete comments voting for a hardfork? What is the use of this thread then? I vote for hardfork and then since @Arachnid does not agree it gets deleted? Wow nice one! Thanks!

[2018-04-03 08:02] jamesray1 commented on #958
@Elijah17 these EIPs are not meant for voting and repetitive comments, they are meant for technical discussion, which the process of rough consensus is useful for.

[2018-04-03 08:09] pirapira commented on #963
To me, it sounds like @reductionista and @tinybike need to talk.

[2018-04-03 08:55] lastperson commented on #721
How is the http://erc721.org/ related to this discussion? Why it doesn't match the standard in the top post?

[2018-04-03 09:34] CryptoBlockchainTechnologies commented on #958
We also need to consider the possibility the ASIC miners, if they exist, might try to keep the old ETH fork going. I believe the way to ensure the new fork is widely adopted by everyone except the ASIC miners is to only make a small change to the existing algorithm as being discussed.

[2018-04-03 10:18] powether commented on #958
Totaly agree with this, ETH do not need ASIC mining. But PoS also cannot be delayed anymore.

[2018-04-03 10:36] tjayrush commented on #948
@cryppadotta

I actually see this as a benefit. If you build in a short waiting period during which time your client could either quit your service (because the price you set is too high) or make a counter-offer (because he/she believes the exchange rate is not fair), then you actually have a model that might work. As it is, I don't like that only you can change the rate.

[2018-04-03 10:46] dreusskis commented on #958
It's interesting to note how much the ETH mining difficulty has being escalating so much.  Yes, could be do to the recent peaks in the market and more miners hoping on board.  However, it's peculiar to see this rate and would argue with others that bitmain and others with access to these ASIC are already mining with them.  It only makes sense for profits to keep the ETH ASIC secret and mine the he

[2018-04-03 12:33] oed commented on #780
@Arachnid
Thanks, I think that sounds good. One question: Why would anyone use an Ad-hoc type over a Private type? Nothing prevents multiple parties to use the same private one together.

@Janther
How much gas would be saved with that? The solidity documentation says `External functions are sometimes more efficient when they receive large arrays of data.` We don't have any arrays here.

[2018-04-03 12:33] sevriugin commented on #721
For REGA Risk Sharing we are going to use ERC721 token to build hierarchical pool structure. https://github.com/REGA-RS/ERC721SmartToken/blob/master/README.md#tokencontainer

[2018-04-03 13:32] AirSquirrels commented on #958
@arachnid you’re absolutely right that any program logic can be implemented faster in ASIC than CPU, this is the origin of the idea that it is pointless to fight ASICs, combined with the fact that they can interface to the same memory as a GPU.

You may be right the opcode hashing isn’t the right path, but I believe you are misinterpreting my argument as being for blocking the speed of ASICs. ETHa

[2018-04-03 13:37] AirSquirrels commented on #958
@kylerchin and others - I do wish someone would update the white paper with a note that mining did NOT get implemented that way. It doesn’t work on transactions, only a hash of the transactions is submitted to miners. There is no way to alter the work a miner does or Poison the Well.

[2018-04-03 14:05] alonzollamas commented on #958
it is here

https://shop.bitmain.com/product/detail?pid=00020180403174908564M8dMJKtz06B7&utm_source=facebook&utm_medium=social&utm_campaign=e3-announcement

[2018-04-03 14:29] OmarWazzan commented on #958
@crazydart

It's also $800. For people with cheap power (like I do), it'll be more than worth it.

[2018-04-03 14:43] ivica7 commented on #905
@Agusx1211 : This would be a very dangerous premise, since all data put on-chain is readable by everyone.

[2018-04-03 14:45] crazydart commented on #958
@OmarWazzan It’s $800 now in crypto for something you can start using until July.  By July that crypto may be worth double.  On top of that, those specs are almost exactly the same as a rig running 4 Vega 56 gpus.  I can tell you that the profits are a little disappointing right now.  You would come out far better buying $800 in ethereum.   Even with crazy low power of $0.05 per kWh and if the dif

[2018-04-03 14:54] yo6ial commented on #958
Well, it looks like no more than a better PandaMiner (which is a gpu based rig)
but this still does not change the outcome. They are cheap. They will be on by the thousands.

[2018-04-03 14:55] alekoako2 commented on #958
it is killing ethereum!

[2018-04-03 15:00] OmarWazzan commented on #958
@crazydart $0.05/kWh isn't crazy low. I pay $0.0048. At even double the price - it is way cheaper than a GPU rig.

[2018-04-03 15:00] Njcrypto commented on #958
Okay, so it's supplemental supply. If you PV back the mining rewards before delivery, I'm not sure how I feel about it. Being pigeon holed into a single algorithm requires a pretty large discount. I am close to indifferent between a rig built today and this delivered in August.

[2018-04-03 15:04] OmarWazzan commented on #958
@Njcrypto That is true, but you forget the main benefit of ASICs: they're easily managed and expanded. For a small-time miner like me, I wouldn't buy an ASIC, but go for the GPU route. When massive mining operations are already way into profit; why care if they barely ROI; they're free hashrate and diversification.

Look at it from the big players side; not the small fish.

[2018-04-03 15:08] sumantamandal commented on #958
ASIC Miner is real now.  https://shop.bitmain.com/product/detail?pid=00020180403174908564M8dMJKtz06B7&utm_source=mass%20email&utm_medium=email&utm_campaign=e3-announcement

Antminer E3, Batch 1
Shipping: 16-31 July

The Antminer E3 is estimated to deliver a minimum hashrate of 180MH/s while consuming 800W of total power.

[2018-04-03 15:13] krtschmr commented on #958
This is no suprise. The only suprise is the low spec, but that is also no suprise then.

Let's summarize facts or speculations

- Bitmain develops ASICs
- Bitmain runs them for their own pockets getting the real first runner advantage
- Bitmain develops next gen ASIC and starts releasing the used Hardware
- Bitmain/Baikal were mining Monero/CN in the dark. Only speculations about ASICs came to the

[2018-04-03 15:21] fulldecent commented on #905
Or put another way -- please provide a specific example, because I can go and attack that contract today!

[2018-04-03 15:24] AirSquirrels commented on #958
@krtschmr I’m not sure why you are so convinced the perform specs should have been higher. Ethash has and will always be memory constrained and there’s no hidden trick to getting around that that only Bitmain know, thus they are subject to the same component performance and physics rules as everyone else. It isn’t magic.

Their only option for higher performance is moving to GDDR6, which it is no

[2018-04-03 15:25] pdaian commented on #958
There are quite a few opinions in this thread expressing a doomsday-like forking fervor from people who are already mining (which I view as a COI), and that worries me from a governance standpoint.

To comment on the "how" portion of this issue, I don't recommend slapped together changes.  Please seek the review of at least 3-4 professional cryptographers; questions of efficacy against ASICs here

[2018-04-03 15:29] fulldecent commented on #721
@lastperson erc721.org is operated by 0x. Its source is here https://github.com/0xProject/erc721-website/ That site is not endorsed by this standard.

The intention of that project is to promote 721 and they intend for their site to match the standard.

If you see a discrepancy, would you please help to open an issue on that repo?