[2017-12-05 06:09] gcolvin commented on #615
You are right on the punctuation.  I was too lazy to crawl through layers of menus to find the em-dash.  I took the array syntax from the yellow paper (e.g. µs[0]).  It would be nice if markdown wasn't too primitive (that is, more primitive than what we used 40 years ago) to support subscripts, but might we still do better to switch from SP and FP to µs and µf?

You are also right about the exampl

[2017-12-05 11:24] oed commented on #780
Added a function called **setSelfClaim** which allows the caller to not have to specify the `subject`. Instead `msg.sender` is used.
This is useful if you want to set a claim with a proxy contract which is also created in the same call, so you don't know the address beforehand.

[2017-12-05 13:27] Hackdom commented on #223
Coming back to this after a couple of months, I don’t see any discussion about account abstraction, there was one brief mention earlier. How would this work if all, including EOA, accounts show data at the address?

[2017-12-05 14:25] machinae commented on #780
What is the reason for only allowing an issuer to set a claim, but either the issuer or the subject to remove a claim? It seems inconsistent and could lead to potential unexpected outcomes.

For example, there was discussion on reddit about registering a claim that a particular address is malicious. You would not want to enable that malicious contract to unilaterally remove claims about itself.

[2017-12-05 15:18] ukstv commented on #780
@machinae Flagging an address as malicious contradicts the very notion of Self-Sovereign Identity, and claims logic. For SSI to work a claim has to be made that the address is _safe according to the party_.

I bet claim removal is for an erroneous claim only.

[2017-12-05 15:29] SergioDemianLerner commented on #174
You could adopt the RSK standard for DUPN and SWAPN, which receives arguments in the stack.
You can check this code here:
https://github.com/rsksmart/rskj/blob/master/rskj-core/src/main/java/org/ethereum/vm/VM.java#L953

This way we could keep in sync ETH with RSK.

[2017-12-05 15:35] SergioDemianLerner commented on #222
You can adopt RSK TXINDEX implementation, which is very similar to the one discussed here. You can check RSK's TXINDEX here:
https://github.com/rsksmart/rskj/blob/master/rskj-core/src/main/java/org/ethereum/vm/VM.java#L849

[2017-12-05 15:38] SergioDemianLerner commented on #154
You can use RSK's code header. Defined here in the code:
https://github.com/rsksmart/rskj/blob/master/rskj-core/src/main/java/org/ethereum/vm/program/Program.java#L1236

This way we can keep ETH in sync with RSK. Soon I will publish our RSKIPs where the explanations are.

[2017-12-05 15:57] VoR0220 commented on #223
I've been looking into this and experimenting with it for a project of mine. I think what's great about this is that it's 100% backwards compatible with the current "standard" and enables this to be used on exchanges that have already specced out what they are using. Less gas cost is also a big plus. Yes you have to write error handling for other tokens in your contract, but if you really don't wa

[2017-12-05 16:00] machinae commented on #780
@ukstv That makes sense, thanks for explaining. In other words, claims could be made by issuers to whitelist the subject, but not blacklist.

@oed should this proposal include any mechanism for attestation/third party validation of claims, or is that out of scope?

[2017-12-05 16:11] oed commented on #780
@machinae Can you elaborate? Since `msg.sender` is used the signatures are verified by ethereum. What kind of validation are you talking about?

[2017-12-05 16:44] machinae commented on #780
@oed I mean more like proof of off-chain validation of the substance of the claim itself.
Sticking with the self-sovereign identity theme, if I submit a claim that my date of birth is 01-01-1970, `msg.sender` lets you prove that I am the one who issued that claim, but not that the claim itself is true. You would need a trusted third party that can check my DOB off chain to attest to the validity o

[2017-12-05 17:27] oed commented on #780
@machinae this could be done now by the "validator" calling **setClaim** with the same data as you (or anyone else) did.

[2017-12-05 22:38] seed commented on #615
We finished the Lem implementation of JUMPIF, JUMPTO, JUMPSUB, RETURNSUB, BEGINSUB, GETLOCAL, PUTLOCAL.
See https://github.com/seed/eth-isabelle/blob/evm15/lem/evm.lem

Few questions/comments resulting from this:
- Should the address popped from the return stack by RETURNSUB point to a JUMPDEST? Or is JUMPSUB implicitly implying that the next instruction is the target of a RETURNSUB.
- It seems mo

[2017-12-05 22:48] axic commented on #615
It can compile "Solidity inline assembly" programs to EVM 1.5:

[code]

using `solc --assemble --machine=evm15 test.asm`

[2017-12-05 23:42] seed commented on #615
@axic thanks, I'll look into it.
Has anyone written tests to stimulate that part of the compiler, which we could potentially use to compare the behaviour of new instructions?

[2017-12-06 00:25] axic commented on #615
@seed it is not tested since the testing client (cpp-ethereum) build we have didn't support it. It could be added if some submits a PR.

[2017-12-06 01:08] gcolvin commented on #615
@seed  Are talking about initializing the return stack in the cpp-ethereum code or in the validation pseudocode?

No JUMPDEST is involved.  Just a JUMPSUB to a BEGINSUB, and a RETURNSUB back to the JUMPSUB.  The x86 CALL instruction pushes the PC on the stack and RET pops it and jumps to it.  Then the PC gets incremented in the usual way.  That was the model I had in mind, so it might actually be

[2017-12-06 01:14] gcolvin commented on #615
So I'm suggesting that that call/return semantics be something like:

Execution of a subroutine begins with `JUMPSUB` or `JUMPSUBV`, which
* push `PC` on the return stack,
* push `FP` on the frame stack,
thus suspending execution of the current subroutine, and
* set `FP` to `SP + n_args`, and
* set `PC` to the specified `BEGINSUB` address,
thus beginning execution of the new subroutine.
(The _main

[2017-12-06 06:04] decanus commented on #223
I think we should potentially standardize the token receiver too. So that when transferring a token to a specific contract, it is first checked if that token is supported. Something like `isTokenSupported(address token)`

[2017-12-06 10:13] gaitchs commented on #642
can u merge it to one file so i can launch in mist wallet ?

[2017-12-06 11:34] simondlr commented on #721
@dete Awesome stuff!

Can I propose that we have the most up to date reference in the top post? The link at the top already links to an out of date reference (using takeOwnership vs transferFrom).

[2017-12-06 12:37] clesaege opened #792 "ERC 792: Arbitration Standard"
EIP: 792
      Title: Arbitration Standard
      Status: Draft
      Type: Informational
      Category: ERC
      Author: Clément Lesaege <clement@kleros.io>
      Created: 2017-12-06

Abstract
--------------

The following describes a standard of `Arbitrable` and `Arbitrator` contracts. Every Arbitrable contract can be adjudicated by every Arbitrator contract.  Arbitrator contracts give rulings

[2017-12-06 13:44] jamespic commented on #223
@VoR0220 The backwards compatibility situation is somewhat complicated. But it's scattered throughout the discussion, and I'd been hoping someone would collate it all in one place, but since that hasn't happened yet, I'll do it here.

I'm going to make some definitions I'll use later:
- An "ERC223-aware" contract is one that implements the proposed `tokenFallback` function
- A "wallet" contract is

[2017-12-06 13:52] NoahMarconi commented on #223
@jamespic to add to the backwards compatibility summary, ERC223 does not have `approve` and `transferFrom` methods making it intentionally *incompatible* with ERC20.

A token contract that implements ERC223 `transfer` and ERC20 `approve` and `transferFrom` conforms to neither spec and is a hybrid of the two.

Unless,`approve` and `transferFrom` are added to ERC223 the claim of backwards compatibil

[2017-12-06 13:56] Hackdom commented on #223
Ok... repeating, I'm either really dumb and missing something or we're pretending it isn't an issue because this wasn't answered a few months ago either... account abstraction = Ethereum is moving to no visible difference between EOA and contract accounts, what then? Should we open an EIP first on keeping some sort of distinction then see where that goes? It appears on the surface, that if it isn'

[2017-12-06 14:08] jamespic commented on #223
@Hackdom I think it's an important issue, but one that hasn't been discussed much in the belief that even today, the compatibility issues are too serious. The account abstraction stuff is itself still being hammered out, but my expectation is that EOA accounts would act as "permissive wallets", in the terminology above. So with the current proposal, they'd unquestioningly accept token transfers, b

[2017-12-06 15:01] Hackdom commented on #223
@jamespic Got it.

So this is my one hold-out for putting it in our library repo. It looks like there is a willingness to fall in line here with what it is, but can't see proactively supporting a bunch of these tokens out in the wild without this being more clear.

[2017-12-06 16:52] damoonazarpazhooh commented on #223
@buhrmi
Thank you for your feedback. Honestly speaking, while Zeppelin's team did a fantastic job with their boilerplate, to me, it seems like their library is over convoluted.
I analyzed more than 15 ICO before I started to work on this, it seemed like many of the token type, crowdsale types, etc that Zeppelin has is simply not used.
Also, following their inheritance chain can be quite confusing

[2017-12-06 16:53] damoonazarpazhooh commented on #223
@decanus
That is a great suggestion, In my implementation, I used a modifier called tokenPayable that would check to see if the address is supported or not ( assuming your contract can only accept a single token)

[2017-12-06 16:53] damoonazarpazhooh commented on #223
@jamespic
to sum up the issues, you have brought up these that I thought were the main points:
Regarding Backwards compatibility, you brought up :
* If the contract is a permissive exchange contract, the transfer will succeed, and the tokens will be lost
I might have gotten this wrong, but it is to my understanding that exchanges should support the tokens first and also you should not be able to s

[2017-12-06 17:18] decanus commented on #223
@damoonazarpazhooh I feel it would be nicer to have a function that can be called by a user interface as well. To ensure that a user selected token is valid for example.

[2017-12-06 17:25] jamespic commented on #223
@damoonazarpazhooh As it stands today, if you send ERC20 tokens to EtherDelta using `transfer`, those tokens will be lost, since it doesn't know the transfer has occurred, or who it was from. It needs to use the `approve`, `transferFrom` pattern to know this.

EtherDelta has a strict fallback function, so if you sent ERC223 tokens to it, the transaction would abort, but there are plenty of contrac

[2017-12-06 17:31] jamespic commented on #223
@damoonazarpazhooh I'm not certain I understand how the `tokenPayable` modifier would work. IIUC, this is dealing with the case where you've accidentally sent an ERC20 token using `transfer`. In this case, there's nothing the receiving contract can do, because the receiving contract's code is not called at all during an ERC20 `transfer`.

[2017-12-06 18:50] Shrugs commented on #223
@damoonazarpazhooh just as a heads up on the OZ test situation; I put some effort into a [standardization PR](https://github.com/OpenZeppelin/zeppelin-solidity/pull/581) that was accepted the other day; the tests should be much more consistent. (and the crowdsale situation is being fixed with CompositeCrowdsale, ideally in the next release) 😃

Assuming that we reach a consensus around the points y

[2017-12-06 23:22] rados-io commented on #223
I couldn't agree more more with @damoonazarpazhooh. Zeppelin-solidity are good people and they mean well. On the other hand their repo looks like "Oh, I just learned that there's inheritance in the language so I'm going to use it everywhere".

It's over engineered and makes it hard to read code in its entirety in order to understand it. Reminds me of reading Parity's contracts and simply giving up

[2017-12-06 23:25] Hackdom commented on #223
@rados-io The whole reason we started https://github.com/Modular-Network/ethereum-libraries

[2017-12-07 02:04] onetom commented on #721
@dete There are a few references to `approveTransfer` but there is only an `approve` method defined in the document. What am I missing?

[2017-12-07 02:37] onetom commented on #721
@jpitts I'm not really in favour of `json-ld`, because there are more well-thought-out alternatives with also quite [wide range of supported languages](https://github.com/edn-format/edn/wiki/Implementations), for example: https://github.com/edn-format/edn
Sticking to JSON, just anchors us stronger into this suboptimal place where JavaScript sucked us into.
It's a bit like: just because humanity pi

[2017-12-07 12:36] oojr commented on #637
@frozeman I am trying to catch up why `tx.origin` is being deprecated? Approved addresses mapping will solve all middleman problems, having the user approve and then transferFrom in two different contracts is okay but having another transfer function that can check `tx.origin` should be fine, if people send money to a malicious contract `tx.origin` or `msg.sender` will not matter. What am I missin

[2017-12-07 14:13] frozeman commented on #725
@3esmit what you mean with "move keys to the other account"?

I would suggest not using the ACTOR key as MANAGEMENT key, to improve security, but when a key management contract is used, it could be one address, certainly.

I dont understand the `bytes32`, vs `uint256`, could you give an example? Whats the benefit, as i can also have a mapping with `utint256` values.

Concerning the multiple approv

[2017-12-07 14:18] frozeman commented on #735
@stephanlotter This function doesn't make much sense, as the data blockchain is publicly readable anyway. But you are right there should be a process of how i can make claims CONTENT data accessible, which is not defined in this standard and needs to be around a claim data retrieval standard.

so whatever claim references you put on your public profile will be readable by everybody. BUT you 1. onl

[2017-12-07 16:31] Samyoul commented on #792
Good work, I really like the look of this. I am very interested in this standard as I am also currently developing platform functionality for arbitration of contracts : https://github.com/TiiQu-Network/TiiQu-Network/wiki/White-Paper#crowd-sourced-arbitrage

[2017-12-07 18:30] damoonazarpazhooh commented on #223
@jamespic
so let me summarise the cases where an error in token transfer might occur:
* ERC20 Token transferred to and from ERC223 receiver contract.
* ERC223 Token transferred to and from ERC20 receiver contract.
----------------------------
1. ERC223 Token transferred to and from ERC20 receiver contract.
This is the case in which I think might cause to be somewhat problematic. For instance, let'

[2017-12-07 18:33] damoonazarpazhooh commented on #223
@Hackdom
I just saw your repo, you guys have done a marvelous job. It would help so many people that are transitioning to solidity. Sadly, Solidity documentation does not have many examples, and I think most people learn by going through examples and you guys have done an amazing job. You should advertise more though, maybe write some tutorial articles on Medium; it would help the community tremen

[2017-12-07 18:38] damoonazarpazhooh commented on #223
@decanus
It is a design choice. I prefer to use modifier because it would look the same as ethereum's `payable`  ... after all , modifiers just add some lines to our function. One can easily even remove the modifier and just encapsulate the code in a function that is supposed to receive tokens in a `if() statement`  or you can put it in a function. I just prefer modifiers in this case .

[2017-12-07 18:40] decanus commented on #223
@damoonazarpazhooh to be able to handle these token recievers generically however I would suggest a function. So that it can first be checked against

[2017-12-07 19:02] damoonazarpazhooh commented on #223
@decanus
can you elaborate ? why can't you use modifiers ?
in the modifier , you would check to see if the token's contract address is supported or not. what difference would it make if you do that in a function or in a modifier ?

[2017-12-07 19:25] decanus commented on #223
@damoonazarpazhooh I mean before sending a function, you can call it before actually sending the tx. Just to validte it on user side.

[2017-12-07 19:48] moeadham commented on #648
To be clear, the only changes needed by transaction originators/wallets would be to add `ranges` when we build transactions?

Reference implementations of RLP generation would also be great so we can design client-side JS libraries.

[2017-12-07 22:48] rados-io commented on #223
@decanus, while a good idea in theory I think in practice

* people won't bother calling this function. Safety should be handled at the token level, if there's an error just `revert();`
* Function calls can be expensive, blockchain memory and smart contract execution are very expensive commodities

@damoonazarpazhooh I think for accepting ERC20 tokens in ERC223 smart contracts there's a more simpl

[2017-12-08 02:46] moodysalem commented on #721
Would like to see the following features incorporated into this spec:

- transfer methods should allow to transfer more than a single NFT at once
  - e.g. if you wanted to sell a 'lot' of different tokens at a discount
- `approveAndCall(address _to, uint[] _tokenIds, bytes _extraData)`
  - e.g. you could implement an AuctionHouse contract by encoding the AuctionHouse sale call into the extraData p

[2017-12-08 03:03] mgraczyk commented on #721
I understand that this EIP addresses a real need for wallet software. However, if it were framed more like "this is a read-only key-value store with object-level permissions", I think it would be even more useful as a building block for other smart contracts.

Specifically, `tokenMetadata` is "looking up an object", and `transfer` is "modify the owner of a key". With less token-specific language,

[2017-12-08 07:46] 3esmit commented on #725
@frozeman
I think I'm missing something here then, can you show me how I should fit the return of `addClaim of 735` in `approve` defined by 725?

I see that 735 specifies:
[code]
It `returns (bytes32 claimRequestId)`

while execute:
[code]
it `returns (uint256 executionId)`;

See, they are uncompatible.
For me it's obvious how to approve execute using
[code]
?

Should I convert the bytes32 to the

[2017-12-08 16:27] gcolvin commented on #615
So far as a formal spec (or implementation) goes I think you can specify it however you like, so long as the PC winds up in the right place.  It could be changed here too if it helps, but I find it more clear the way it is.

[2017-12-08 16:34] wanderingstan commented on #792
Seconding the good work. We are developing a marketplace at www.originprotocol.com and arbitration will be important. I'll share this with our team.

[2017-12-08 18:55] dzyk commented on #725
ok. im want it))) its good idea. thx

[2017-12-08 19:56] Dexaran commented on #223
ERC20 compatible token version: https://github.com/Dexaran/ERC223-token-standard/tree/ERC20_compatible

[2017-12-09 02:13] rados-io commented on #223
The compatibility problem of ERC20 and ERC223 lies not with human users, but with how transfers between smart contracts happen. This is the root cause of why EtherDelta doesn't work with ERC223 tokens, and why Radex, our decentralized exchange, doesn't work with ERC20.

We've found a way how to *upgrade* an existing ERC20 token, such as EOS for example, by creating a translator contract that deleg

[2017-12-09 03:02] ricmoo commented on #721
I think the enumeration API is wildly useful to offer (optionally), for wallets and other user interfaces for the purpose of not maintaining a separate database to cache the keys, and to provider authoritative data. I think there needs to be two (both of which could be optional, but either is sufficient) operations to iterate.

The current (which, for performance, is assuming tokens are contained

[2017-12-09 05:58] VoR0220 commented on #648
Considering Cryptokitties...this ought to be moved up the priority queue.

[2017-12-09 06:07] robcat commented on #648
The only direct economic incentive seems for miners: with this proposal they can fit `MAX_THREADS` more transactions in a block and earn more fees.

What about an alternative approach where there are no new transaction types, but transactions in a block a grouped in batches of independent transactions? The client would optimistically execute all the transactions in each batch and reject the block

[2017-12-09 06:42] GoldenDave commented on #223
There are a number of ERC223 features in this contract set.
Also some other really nice stuff....

https://github.com/Neufund/ico-contracts

[2017-12-09 11:19] Dexaran commented on #223
### Request for comment; standardize token upgrading process.

I'd like to raise one more problem that needs to be resolved.

It's obvious that smart-contracts needs an upgrade mechanism. I think that this is relevant for token contracts as well. I can suggest to standardize a process of token upgrading. **(For example we will decide to apply some changes on this standard and it will be necessary

[2017-12-09 12:05] mcdee commented on #223
@Dexaran there are lots of different ways of upgrading contracts.  I wouldn't want to see ERC-223 be lumbered with a single way of upgrading, especially one that requires action from every user holding the token.

[2017-12-09 16:34] rados-io commented on #223
@dexaran we were considering doing a similar approach for token upgrades, except we wanted to make it both ways: send ERC20 receive ERC223, send ERC223 receive ERC20.

However this places unnecessary burden on the users. That's why we decided to go with this approach instead https://github.com/rados-io/erc223-shim

[2017-12-09 17:34] damoonazarpazhooh commented on #223
@Dexaran
While I really like your approach , I think @rados-io approach is more universal since it doesn't depends on users upgrading their tokens manually.

[2017-12-09 17:48] bgrbitcoin1983 commented on #757
Cek akun

[2017-12-09 19:26] rados-io commented on #223
One can implement a similar translator from ERC223 to ERC20. It's gonna have to have a `mapping` for allowances and track that, and tokenFallback in that contract should validate the address of the original ERC223. I'd welcome a contribution with this smart contract to https://github.com/rados-io/erc223-shim

[2017-12-09 20:46] christianlundkvist commented on #780
@machinae

One goal of this kind of spec is to add credibility to claims by letting specific parties validate the claims. If my neighbor claims I have a degree from Harvard that might not mean much, but if Harvard themselves have an identity then they can issue the attestation claiming I have a degree from there, and this would be basically a proof of the substance of the claim.

If the claim is d

[2017-12-11 00:41] lucianopel commented on #20
What I do wrong in the code to the token goes to the address 0x00000000?

pragma solidity ^0.4.13;

contract ERC20 {
     function totalSupply() constant returns (uint256 totalSupply);
     function balanceOf(address _owner) constant returns (uint256 balance);
     function transfer(address _to, uint256 _value) returns (bool success);
     function transferFrom(address _from, address _to, uint256

[2017-12-11 00:45] lucianopel opened #795 "ERC20 error"
What I do wrong in the code to the token goes to the address 0x00000000?

pragma solidity ^0.4.13;

contract ERC20 {
     function totalSupply() constant returns (uint256 totalSupply);
     function balanceOf(address _owner) constant returns (uint256 balance);
     function transfer(address _to, uint256 _value) returns (bool success);
     function transferFrom(address _from, address _to, uint256

[2017-12-11 12:30] frozeman commented on #725
@3esmit thats a mistake on my side then. It should be `uint256`, as the event below is also `uint256`, i mixed the up between the claimID and the claimRequestId.

[2017-12-11 13:16] Shrugs commented on #795
this isn't the correct forum for this, sorry. please try one of the gitter chats

[2017-12-11 15:36] #795 closed

[2017-12-11 20:48] nicksavers commented on #736
Good idea. @HaleTom Could you close this issue and create a pull request to incorporate this phrase near the beginning of EIP-1 so it can be reviewed and merged?

[2017-12-12 01:33] axic opened #797 "Extend EIP1 with an option for "EIP editor""
There are a lot of specifications which could be published as an EIP/ERC, which have been around and (un)maintained in random places. Some of these include: ABI specification, NatSpec, secure private key storage in clients, RPC methods, etc.

Since these have been specification efforts by many parties, it may look weird if someone creates an EIP with a single author and collecting all the authors

[2017-12-12 06:33] naumenkogs commented on #769
Why do you think this approach is better than [Consensus/Gnosis](https://github.com/gnosis/MultiSigWallet/blob/master/contracts/MultiSigWallet.sol) stuff?
Why not to store all the pending transactions inside the smart contract?

In my opinion, more high-level contract (like one I mentioned above) would be more easily extended. It's hard to imagine this guy to provide daily limits or whatever polic

[2017-12-12 10:38] drandreaskrueger commented on #721
We suggest

    tokensOfOwnerByIndex(address _owner, uint _index) constant returns (bytes32 tokenHash)

instead, so any arbitrary ID type can be represented.

[2017-12-12 14:39] VoR0220 commented on #769
@naumenkogs because a multisig is useful for more than just handling transactions. It's in the name. It's made to do something when multiple signatures create a quorum.

[2017-12-12 16:48] pipermerriam commented on #168
If I understand correctly, this could be a very bad rule that ends up deleting accounts that should not be considered *dusty*.  If someone sends a transaction with an extremely high gas price then this would end up wiping out their account entirely even though it still has plenty of ether in it.

[2017-12-12 17:46] naumenkogs commented on #769
@VoR0220 well, it's still not clear why _actions_ should be stored off-chain. Even though it's not just handling transactions, we can always store message/payload/... in the contract memory.

Could you provide a rough example of token transfer daily limits extension, for example? I could imagine that it works if [something like this](https://github.com/ethereum/solidity/issues/3229#issuecomment-34

[2017-12-12 18:41] Arachnid commented on #769
I would argue the reverse: Unless you have a good reason that actions (or anything else) have to be stored onchain, don't.

[2017-12-12 21:43] naumenkogs commented on #769
Well, I could agree about most of the cases. I think it would be cool to have an adjustable standard and the proposed guy has strong assumptions about off-chain storing, but probably it's too hard to generalize it here.

I still have concerns about extending this guy. I think policies are very important and there should be at least some way to support various business-logic policies. Probably, a p

[2017-12-13 12:54] pabloruiz55 opened #798 "ERC : Sellable Contracts"
## Preamble

    EIP: <to be assigned>
    Title: Sellable Contracts
    Author: Pablo Ruiz <me@pabloruiz.co>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2017-12-12

## Simple Summary
The Sellable Contract protocol allows contracts to be sold in exchange of ether.

## Abstract
The following discusses a protocol for smart contracts that can be sold by their owners.
Use

[2017-12-13 13:55] Shrugs commented on #798
Might be worth architecting this as a `[The Contract] -> [Ownership Auction Contract]` situation, where `TheContract` has a spec something like

[code]

and the auction contract handles all of the bidding/whatever using whatever model people want (`DutchAuction`, `FirstPriceAction`, `DutchAuction`, `EnglishAuction`, `FirstComeFirstServeAuction`) and then calls `transferOwnershipFromAuction` to tra

[2017-12-13 14:03] pabloruiz55 commented on #798
@Shrugs Yes, sounds like a nice add-on, and I thought about that while working on the implementation example, but I left it out from here as I am not sure if it would be better to make it into a separate EIP. Something like an Auctionable Contract.

[2017-12-13 14:12] Shrugs commented on #798
I'm not sure combining the auction logic with the contract you're selling is desirable; deploy costs will be high (and unnecessary if you never auction it), it makes it impossible to change the auction structure later (maybe it's first-come-first-serve first, but the new owner runs a dutch auction). You could inline the auction creation logic (so a function like `startAuction () onlyOwner returns

[2017-12-13 14:50] optimator999 commented on #721
It seems one implementation of NFTs would be the real world mapping of assets to the blockchain. It is likely real world assets will contain their own reference numbers or the real world characteristics of the asset will be hashed to create a unique value.

As a thought experiment, consider property deeds that have been recorded in a county and assigned a number (Perhaps Book and Page).

If tracke

[2017-12-13 18:51] VoR0220 commented on #769
@naumenkogs I would say that you *could* practice inheritance here and execute from there. Wrt to the payload issue, if you're going to be performing an external message call, why wouldn't you prepare the payload based off the function you intend to call from the multisig ala the example above using the `data` parameter at the end?

[2017-12-13 22:42] abandeali1 commented on #721
I think the current implementation of `approve` is pretty lacking in functionality. Generally, token owners will want to grant approval to a smart contract to transfer _any_ of their NFTs, not just a single one. It is highly inefficient and poor UX to require an `approve` call for each individual NFT.

There needs to be either an `approveAll` function OR we can special case a certain tokenId that

[2017-12-13 23:36] moodysalem commented on #721
@abandeali1 I don't think there's a good use case to approve/transfer `all` of your tokens (same with ERC20), but I do think there are many use cases to approve N specific NFTs. Plus it would be hard to implement `approveAll` without creating a function that has unbounded gas usage, or creating a vulnerability by giving the approved address access to all newly acquired tokens.

I asked for the abi

[2017-12-13 23:57] abandeali1 commented on #721
@moodysalem , it would be easy to implement with bounded gas usage with a separate `allowedAll` mapping. When checking allowances, the contract would first check `allowedAll` and then fall back to `allowed`. There are other ways to do this (special casing a tokenId), as mentioned in my previous comment https://github.com/ethereum/EIPs/issues/721#issuecomment-351549040.

I also strongly disagree th

[2017-12-14 06:58] buhrmi commented on #721
Hello guys, I wondered if there already is an effort to make a standard "shop" kind-of contract that works with the token-standard proposed here. I'm thinking of a contract or online shop that somehow can gain knowledge of the ERC-721 tokens and attach an price to it, making it purchasable, or run an auction on them.

[2017-12-14 11:51] karalabe commented on #781
Geth 1.8 (not yet released) has a `debug.getModifiedAccountsByHash/Number` API endpoint that can produce a list of accounts modified by a block (https://github.com/ethereum/go-ethereum/pull/15512). It is based on state diffs as you suggested.

An important limitation of this approach however is that it cannot detect modifications that change a storage slot, and than change it back to its original

[2017-12-14 16:55] pirapira commented on #797
Some people don't care and file EIPs that mainly refer to resources on the Internet (e.g. https://github.com/ethereum/EIPs/pull/779/files) as an author.

If an EIP is not filed by the author, I cannot trust the CC0 notice so I cannot merge it.

[2017-12-14 22:13] rados-io commented on #223
[Radex](https://exchange.rados.io), a decentralized exchange for both ERC223 and ERC20 tokens, is now live. If you plan to make a ERC223 token now you don't need to worry about getting listed on an exchange.

[2017-12-14 23:51] dete commented on #721
Great to see all these new comments. Sadly, I've been a [touch busy](https://www.coindesk.com/ethereums-cryptokitties-blockchain-deluge-sparks-ico-delay/) over the past couple of weeks... 😀

I've updated the first post as requested, and hope to digest the additional feedback and questions soon. I'm especially interested to get more info from @eordano and other implementers. For example, our implem

[2017-12-15 03:47] buhrmi commented on #721
Hmm, I think the `transferFrom` method can be removed since the `from` parameter depends on `tokenId` anyways. Instead, we can use `transfer` for approved `msg.sender` too.

[2017-12-15 20:56] jamesray1 opened #800 "List of EIPs for each hard fork."
May we please have EIPs for Byzantium and other hard forks in separate lists for the finalized ones? It doesn't need to be in the main readme, but a link to such lists in the readme would be good. I didn't get around to reading through all of those Byzantium EIPs.

[2017-12-16 00:34] gururise commented on #223
What is the recommended reference implementation for ERC223 token?  Master branch of @Dexaran  repo?  Or the implementation @rados-io posted a few days ago?

[2017-12-16 05:20] nicksavers commented on #800
That is already a pull request for that https://github.com/ethereum/EIPs/pull/676 but it depends on https://github.com/ethereum/EIPs/pull/779/ to be merged.

[2017-12-16 05:20] #800 closed

[2017-12-16 05:40] nadavhollander commented on #721
Wrote up yet another generic implementation of the standard for our own use at [Dharma](https://dharma.io), would love to share with the community for use / feedback.  Contributions more than welcome!

https://github.com/dharmaprotocol/NonFungibleToken

The contract code borrows heavily from Decentraland's awesome implementation above, and wraps it all in a fairly thorough TypeScript test suite.

[2017-12-16 12:28] jianchang653 commented on #162
"In order to limit dependence on the Initial Registrar, new auctions will stop after 4 years, and all ether held in deeds after 8 years will become unreachable."
What does that mean?

[2017-12-17 22:21] axic commented on #797
To clarify, the idea is here that the person is still the author of the text, but not necessarily the ideas represented in it (e.g. formalising the ABI spec as an EIP).

[2017-12-18 03:35] rados-io commented on #223
I think we both agree that the most important part of the standard is `tokenFallback(address,uint,data)`.

The main difference is the overloaded `Transfer` event in @Dexaran's implementation vs `Transfer` for ERC20 compatibility + `ERC223Transfer` for logging data in ours. Tokens with overloaded `Transfer` event did not show up properly in my Mist or on Etherscan.

[2017-12-18 12:30] monoman commented on #725
Small typo. The description of addKey needs to be uptaded to reflect the greater number of key types now enumerated:

**addKey**
Adds a _key to the identity. The _type specifies the type of key. Initially we propose **_two_** types:

**addKey**
Adds a _key to the identity. The _type specifies the type of key. Initially we propose **_four_** types:

[2017-12-18 14:29] svenstucki commented on #735
I like the idea of adding an expiration date. I think it's better than a creation / issue date, since it's very easy to check. With an issue date only, there's external information needed to check a claim.

I think it's also much more practical than revoking keys all the time - e.g. imagine you are the equivalent of a CA for ERC725/735 and issue a lot of claims. If you want them to have an expirat

[2017-12-18 14:37] frozeman commented on #735
@svenstucki I was discussing this with @chriseth as well. Adding an expiry means this needs to be part of the signature.

It might be inefficient to revoke keys, but would give a real time expiry. But i am open for discussion about adding that.

[2017-12-18 14:38] frozeman commented on #735
I added a change to #735 in the claim structure, in so far that `signatureType` is changed for `scheme`. A scheme number will determine how the claim can be validated, e.g. scheme number 25 could mean that `data` is a function call, and `issuer` a contract address.
It can also have the meaning of a specific type of signature, or a specific way of how the actual claim data can be checked.

[2017-12-18 16:24] svenstucki commented on #735
@frozeman Let's not mix expiration and revocation. For expiration removing keys is not great, the issuer has to actively trigger the transaction at just the right time and the real time aspect actually is a disadvantage.

Whether expiration should be part of the standard is debatable - but if it's included an expiration date field IMHO makes the most sense.

I think a claim registry (in addition t

[2017-12-18 18:57] jpantunes commented on #661
I like this and I wanted to contribute with a suggestion for an alternative way of assuring replay protection:
// Replay protection
  require(played[signer][msg] == false);

[2017-12-18 19:30] aunyks commented on #798
I recommend renaming the title of this ERC to ~Saleable~ Sellable Contracts

[2017-12-18 20:04] pabloruiz55 commented on #798
@aunyks I don't mind renaming it although according to what I found online Saleable is as valid as Sellable and even Salable is a possibility.

[2017-12-18 22:53] moodysalem commented on #721
I understand the use case. However the blanket approval to transfer tokens seems like it shouldn't be granted for a non-fungible token. Even with ERC-20 you are not technically approving all tokens, you are approving a specific amount of tokens.

My concern is that with the `approveAll` feature you are requesting, it is not clear whether you are approving all your currently owned tokens, or just d

[2017-12-19 14:20] tbocek commented on #735
@frozeman Can you be a bit more specific with:

As far as I understand it, a claim holder that adds a self-issued claim will call ```approve``` right away. For any other claim that is added, the claim holder will need to call at a later stage```approve``` with the respective ```claimRequestId```. How about something like this:

Returns ```claimRequestId```: can be used for the ```approve``` functi

[2017-12-19 15:00] cdetrio commented on #28
@greggmojica @Asone discussion on this topic is continuing here https://ethresear.ch/t/tradeoffs-in-account-abstraction-proposals/263

[2017-12-19 15:01] cdetrio commented on #678
Discussion of account abstraction proposals has continued here https://ethresear.ch/t/tradeoffs-in-account-abstraction-proposals/263

[2017-12-19 15:57] Asone commented on #28
@cdetrio : Thanks for pointing out ! Added to my favs.

Can i suggest to add the EIP in readme.md and point out the link to the new discussion or should it stay completely outside of the readme ?

This EIP is a major one, and even if far away of being implemented, easing users to find the new location will allow many to stay up to date about the discussion.

Much datalove

[2017-12-19 16:48] clesaege commented on #792
About

I was wondering that the `0` could both mean "No ruling yet" or "Refused to give a ruling", distinction which in some cases may be relevant.
What do you think about using `uint(-1)` for "No ruling yet" to separate those?

[2017-12-19 17:46] abandeali1 commented on #721
That seems reasonable. I am definitely not tied to the name `approveAll`, but just want to make sure that functionality is included somewhere.

[2017-12-19 18:22] PhABC commented on #721
Effectively `approveAll` is the same as `delegateOwner` and seems like a special case of `approve()`. Contracts like Etherdelta and 0x use the `approve()` function and set it to 2^256-1, i.e. they have access to all the balance of a token you will ever possess. This is necessary otherwise every new order would need to have a transaction on-chain, which is not efficient (both with 0x and ED, you si

[2017-12-19 18:28] nadavhollander commented on #721
I'm much more in favor of `delegateOwner()` -- people who interact with ERC721 contracts should not have to make any assumptions about which `tokenId`s are earmarked for special functionality.

[2017-12-19 22:48] Dexaran opened #802 "ERC: address-to-address messaging system protocol"
[code]

## Abstract

The following describes the details of the smart-contract based messaging system which aims to allow Ethereum users to directly contact the address owner without having to know who hi (she) is.

## Motivation

Ethereum lacks a central messaging system that will allow to contact an address owner directly. You can send him a transaction with ASCII message attached as `data` but

[2017-12-19 23:06] 3esmit commented on #798
Sellable seems better, I needed to read twice to understand what was about the title, not sure why but at first glance I read it as sealable :rofl:

Interesting proposal through, probably useful for decentraland :+1:

[2017-12-20 02:35] pabloruiz55 commented on #798
@3esmit Yeah, I'll change the name. Sellable sounds the best. I'll update it shortly.

[2017-12-20 05:23] PhABC commented on #721
I am in favor of using an entirely new name to make it more obvious indeed. Just like `transfer()` could be argue to be a special case of `transferFrom()`, but it's better to have both separated.

[2017-12-20 05:47] ricmoo commented on #721
I'm working on a quick blog about a solution that may also make sense for NFT. Emphasis on **may**, as it is somewhat complex, and I plan to use it for somewhat different purposes.

Basically, you could two methods:

[code]

A token owner can take the set of all tokenId they wish to authorize, use them as the leaves of a merkle tree and publish the merkleRoot to the contract and share the ordered

[2017-12-20 06:02] PhABC commented on #721
That's a very interesting proposal RIchard. How expensive is it to verify the merkle proof?

[2017-12-20 06:08] ricmoo commented on #721
I believe my StickerRegistry uses about 85k gas per claim, so I guess around 64k gas for the proof.

https://etherscan.io/address/0xb90e64082d00437e65a76d4c8187596bc213480a#code

[2017-12-20 13:54] optimator999 commented on #721
Consider a real world contract that is evidenced by a hash of the contract stored in an implementation of an NFT token.

In order to prove ownership the real world contract, the address of the NFT token would need to be referenced inside the real world contract. If it wasn't anyone could create another ERC721 token with the real world contract hash claiming ownership. A hash and a timestamp is not

[2017-12-20 14:32] svenstucki commented on #677
Let's revive the discussion here.

I think there are two main things that should be addressed:

- Return value and its interpretation. ERC223 got rid of it, so maybe we should follow that. On the other hand, it's also quite easy to implement @chfast - just `revert()` when the fallback returns false. And it would prevent the problem mentioned by @3esmit, so there is some advantage to having it.

-

[2017-12-20 15:12] svenstucki commented on #677
Also how should `transferAndCall` handle transfers to regular accounts? For ERC223 it makes sense to simply not do the call - however when using `transferAndCall` the intention could be to actually trigger a call and sending to an account would indicate a problem.

[2017-12-20 20:04] Dexaran commented on #802
@pabloruiz55 Thanks for the useful idea. I'll update the code with `events` to make it easier to watch events of the contract for third party services.

[2017-12-20 20:17] abandeali1 commented on #721
I think Richard's idea is pretty interesting, but not a replacement for `approveAll`/`delegateOwner`. When you're delegating ownership, you actually want the tokens that you will own in the future to be included in the set of allowed transferable tokens.

[2017-12-21 09:24] frozeman commented on #735
@tbocek as it says "COULD" it means that it doesnt have to, which in return means the implementation can determine that. This is also not really important for standardisation, as long as the right events are fired (Which is what interfaces use to determine if things passed or not). I personally would like to keep it as concise as possible in the spec.

@svenstucki i am also in favour of claim regi

[2017-12-21 14:44] Dexaran commented on #802
Added events: https://github.com/EthereumCommonwealth/Address-to-Address-messaging

[2017-12-21 15:14] pabloruiz55 opened #804 "ERC: Separating Token Balance from Voting Rights"
## Preamble

    EIP: <to be assigned>
    Title: Token Voting Rights Separation
    Author: Pablo Ruiz <me@pabloruiz.co>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2017-12-21

## Simple Summary
The proposed ERC20 add-on allows the decoupling of voting rights and token balance.

## Abstract
The following discusses the implementation of a backwards-compatible ERC20 ad

[2017-12-22 09:46] RorschachRev commented on #802
We could possibly enhance this a little. If someone sends a transaction it exposes their public key. A blockchain explorer could act as an oracle in this case.
If we add a "MSG!" Token and send them to people, this may get noticed by wallets and block chain explorers. With a "watch this address" that some explorers already have, the user would get an actual email. We could potentially include the

[2017-12-22 22:56] GoldenDave commented on #223
@Dexaran

https://github.com/Dexaran/ERC223-token-standard/blob/Recommended/ERC223_Token.sol#L70L71

1) you do not need to cast `_to` because the next line can simply call the address
2) you do not check the return value of the call, hence reverting the call would not have any impact
in which case the whole effort has been negated because you can send tokens to any contract even if it refuses them

[2017-12-23 12:28] termslang commented on #20
Proposed improvement to erc20 protocol:
Add optional (or maybe required?) getOwner() method.

The need for this emerges in our case of decentralised token exchange where only token owner is able to change the token's metadata like name of the company, web link etc (subject to decentralised token exchange implementation). There is no other way for such exchange to learn if the information provided

[2017-12-23 19:10] Dexaran commented on #223
https://github.com/Dexaran/ERC223-token-standard/commit/8b473ca617458616f5dcc016d8dab8727d2e7fd3

[2017-12-23 21:53] 3esmit commented on #725
Thanks, this changes makes lots of sense, especially for the new uses of off-chain technologies.
Maybe I missed something but I would like to understand in the new design how we define a key that is another contract?
I see that we can have a type specifically for handling this that would not use a signature, instead the address of `msg.sender` as valid signature, but then I think we should define

[2017-12-24 00:01] rados-io commented on #223
I think custom name for `tokenFallback` needlessly overcomplicates the standard and is a step back in the design. It's a standard, we're trying to choose a convention and stick to it, not to develop a turing-complete language.

[2017-12-24 04:07] 3esmit commented on #802
That's would be a very expansive way of sending messages.

[2017-12-24 10:33] Dexaran commented on #223
@rados-io I think that a possibility of calling a handler function with custom name is overcomplicating standard too. As the result, it is not standardized and not described at this proposal.

On the other hand, in some cases this possibility can be useful. I will say that it is a detail of implementation, but not a part of token standard.

[2017-12-24 11:45] Shrugs commented on #802
@3esmit the expense doesn't really matter here; use public key cryptography to organize conversation off-chain. This serves the (particularly useful) purpose of a central location to check for messages that you want to send to an address, without having to know anything about someone besides their address.

@Dexaran I would also include that this is also useful for contacting owners of ENS domains

[2017-12-24 12:52] tal-beja commented on #223
Hi,
We implemented ERC223 token standard and receiver for our token (CLN)
https://github.com/colucom/CLN-solidity/tree/erc223

I would love to get comments on the implementation.

AFAIK, there is no one that implement that in production, other then @Dexaran  and Aragon (https://github.com/aragon/ERC23) concept.

[2017-12-24 13:40] jamespic commented on #223
@tal-beja your implementation differs from @Dexaran, in that you return the Boolean returned by the `tokenFallback` function from the `transfer` method. If the goal is maximum ERC20 backwards compatibility, I believe this should only return `false` if the transfer couldn't be completed, whereas in this case, the tokens have been transferred.

[2017-12-24 14:23] tal-beja commented on #223
@jamespic Thanks for the reply.
Yes I know, but if I will change it (in the token `contractFallback` function) to:
`require(reciever.tokenFallback(msg.sender, _origin, _value, _data));
return true;`
instead of:
`return reciever.tokenFallback(msg.sender, _origin, _value, _data);`
Then I couldn't send the token to a contract that isn't support `ERC223Receiver` protocol, like most (if not all) exchan

[2017-12-24 14:30] yudilevi commented on #223
@Dexaran hey :) can you please give some more info about ERC20 backward compatibility and also about backward compatibility with existing multisig wallets etc.

This is my main point of concern with this standard and as much as I'd like to see an improvement over ERC20, I'm worried that we move fast to promote this standard and existing systems are going to partly break.

Thanks!

[2017-12-24 14:36] jamespic commented on #223
@yuidlevi I put a comment a bit further up summarising backwards compatibility. But the really short version is that the current draft of ERC223 requires `transfer` to have different semantics to ERC20, and there are corner cases where tokens can be lost.

[2017-12-24 14:38] tal-beja commented on #223
You can see my previous posts about the problem in backward compatibility.
In a nut shell, If you want to revert the token transfers of the inner function fails (or not implemented) then you can't use existing functions that didn't implemented ERC223Receiver protocol, meaning every contract.
If you don't implement that, then tokens can be sent but the inner function can fail (as I implemented in m

[2017-12-24 15:08] jamespic commented on #223
@tal-beja The problem is more insidious than that. Existing contracts with a (regular, non-token) fallback function that doesn't do anything will not fail, even if they have no means to handle tokens received. So the tokens will become lost.

There are proposals that mitigate this, but they usually sacrifice something else instead (such as account abstraction compatibility).

Ultimately, the issue

[2017-12-24 15:26] yudilevi commented on #223
So I'm just saying that I'm really worried about pushing this standard forward - which might result in some market adaptation - until these issues are resolved.
Even if it means putting this on hold until the EVM/language supports whatever we need for it to support for this to be 100% backward compatible.

Otherwise we might create an issue bigger than the one we're trying to solve.

[2017-12-24 15:39] jamespic commented on #223
@yudilevi @MicahZoltu's last comment is germane. Do not feel like you have to implement this proposal - many others in the community are not.

[2017-12-24 15:41] rados-io commented on #223
@yudilevi there's but a handful of *actually* useful smart contracts that work with tokens. Namely, exchanges and multisig wallets. [Exchange](https://exchange.rados.io) is covered, multisig wallets need to be written but, frankly speaking, that should be a fairly trivial modification of existing ERC20 multisigs.

[This implementation](https://github.com/rados-io/radex/blob/master/contracts/ERC223

[2017-12-24 15:46] yudilevi commented on #223
Since we (bancor) are creating a network of tokens, we would need to support both standards in a reasonable fashion. I do realize it's not a huge issue since it's only one company, but it's just an example.

Also, it will add complexity in general to future contracts that would like to support both standards as well, so it's not only relevant to already existing contracts.

This actually also work

[2017-12-24 15:54] rados-io commented on #223
@yudilevi you might want to exclusively support ERC223 standard and use [this](https://github.com/rados-io/erc223-shim) to add ERC20 compatibility layer to your smart contracts

[2017-12-24 15:56] Arachnid commented on #223
Thank you jamespic for [your analysis of backwards compatibility](https://github.com/ethereum/EIPs/issues/223#issuecomment-349643402); it's an excellent summary.

This is what really worries me. Presently the advice is "do not use `transfer` to send to a contract`. If ERC223 becomes common, the advice would have to be "use `transfer` to send to a contract if the token is ERC223; otherwise, don't o

[2017-12-24 16:12] tal-beja commented on #223
@jamespic @Dexaran
So If I want to create a new token today. ERC223 is not the one to choose from.
What about ERC677 (transferAndCall), and then I can safely add `require` on the inner function and revert the transfer to a non supporting (ERC223\677 receivers) contracts.

[2017-12-24 16:28] jamespic commented on #223
ERC677 sidesteps the worst of the issues, since `transfer` always has ERC20 semantics, and `transferAndCall` always has ERC223 semantics, so you always know what you're going to get.

But the "permissive exchange" scenario detailed above remains.

[2017-12-25 00:21] woodydeck commented on #708
I've been thinking...Why not make domains over a certain number of letters permanent without fees, and keep premium domains active? You could also offer instant registration to longtail domains for a one time fee benefiting maintenance costs of the ENS. There is a good reason I found for this when hashing out one idea.

Plan:

I want to to distribute original art that permanently is stamped with a

[2017-12-25 00:28] Dexaran commented on #802
@RorschachRev it is an interesting idea to use Ethereum's private and public keys of an address to encrypt/decrypt messages, but it's not related to the logic of the smart-contract in any case. Encryption/decryption process should be off-chain.

[2017-12-25 00:30] Dexaran commented on #802
@Shrugs

I suppose that it is up to UI and this should not be part of messagin contract as well.

[2017-12-25 01:43] paullizer commented on #798
Building Ownership transference into Ethereum dramatically improves trust between parties that may have little inherent confidence with paperwork legalities and ensures a balance of power between individuals during the sale process. I think Pablo's proposal solves the problem.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-25 08:39] Shrugs commented on #802
@Dexaran  Of course, I mean this is a good usecase for entering negotiations with squatters (for example, we've been trying to obtain truebit.eth for ages, including with ascii transactions, but without progress).

[2017-12-25 13:42] tal-beja commented on #223
I implemented both erc223 and erc677:
https://github.com/colucom/CLN-solidity/tree/erc223
https://github.com/colucom/CLN-solidity/tree/erc677

This is the comparison between them both:
https://github.com/colucom/CLN-solidity/compare/erc223...erc677

I would love to get comments on my implementations since I didn't find any production ready implementation on any other token for this EIP.

* I comme

[2017-12-25 13:42] tal-beja commented on #677
I implemented both erc223 and erc677:
https://github.com/colucom/CLN-solidity/tree/erc223
https://github.com/colucom/CLN-solidity/tree/erc677

This is the comparison between them both:
https://github.com/colucom/CLN-solidity/compare/erc223...erc677

I would love to get comments on my implementations since I didn't find any production ready implementation on any other token for this EIP.

* I comme

[2017-12-25 13:56] Dexaran commented on #677
Critical security vulnerability: https://github.com/colucom/CLN-solidity/blob/erc677/contracts/Standard677Token.sol#L15

You can not rely on return values in solidity. https://github.com/ethereum/solidity/issues/2630

Example:

[code]

If you will call `A.transferAndCall(B, 10, 0x0);` then contract B will successfully return a random value from stack and likely it will be `true` and everything wil

[2017-12-25 14:10] tal-beja commented on #677
@Dexaran  So?
Don't  `transferAndCall` to a contract that "fake" the receiving protocol.
The `require` (in line 22) doesn't safe guard you from transferring tokens to a non "truly" erc223 receivers, but if they do, then the transfer will fail when the inner method didn't returned true.

[2017-12-25 14:11] Dexaran commented on #223
I'm hardly against ERC677 because it only adds an extra function `transferAndCall` to the already-existing functions of the ERC #20 token standard. This will not solve a problem of lack of transaction handling at all and result in loss of millions of dollars exactly as it is with ERC20.

In few words: ERC677 suffers the same problems as ERC20 https://medium.com/@dexaran820/erc20-token-standard-cri

[2017-12-25 14:19] Dexaran commented on #223
@jamespic https://github.com/ethereum/EIPs/issues/223#issuecomment-349643402

And it will be possible to lose tokens exactly as it is now with ERC20. Great.

Junk data problem will completely outweight the benefit of returning a boolean. If you call a fallback function with some data payload and check the return value then it will likely be `true`. As the result, it will cause even more confusion.

[2017-12-25 14:26] tal-beja commented on #223
@Dexaran
Yes I understand you perfectly, I would love to choose 223 instead of 677, it is more simple to understand and as you said doesn't add new functions to the standard.
That said, it is not truly backward compatibility and present a catch:
Either I expect the receiver to return a specific value (no necessary `true`) and revert otherwise, which can on the one hand prevent token lost by transf

[2017-12-25 14:38] Dexaran commented on #223
It depends on how much you care about the money of people who will use your token. If you don't care then ERC #20 or ERC #677 is a good way to go. Look at EOS devs, they have just burned about a million of dollars of users funds and they are happy: https://etherscan.io/address/0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0

NOTE: You can always say "I have just implemented the thing that was standardi

[2017-12-25 15:51] gzduan commented on #156
If some particular account has lost its key, then (if they can prove it) we can give them their money back later as part of some other hard fork.

[2017-12-25 15:53] LefterisJP commented on #156
@gzduan how do you prove that you used to hold the private key for an account?

[2017-12-25 16:22] rados-io commented on #223
I think this discussion is being steered into a fruitless direction again. The point of a new standard is to **NOT** be compatible with ERC20 because ERC20 has **design flaws**. And the earlier we adopt it the less infrastructure we'll have to rewrite and the more money we'll save for our users.

[2017-12-25 18:03] jamespic commented on #223
I'm no more keen for users to lose money than anyone else. My interest is for a project I'm working on which will interact with tokens, and I need to ensure that I avoid the situations where ERC223 tokens can be lost - either by supporting it correctly, or failing safely if it encounters ERC223 tokens.

If the ERC223 method has a different name, this also helps ERC223 purists. Purists can implemen

[2017-12-25 19:31] rados-io commented on #223
Like I said earlier, you can build smart contracts that work with only one standard (thus reducing the scope, complexity and testing surface), and you can bring ERC20 along using an [upgrade protocol](https://github.com/rados-io/erc223-shim).

*ERC223/ERC20 purist* sounds like an insult. Developers are not monks who get a kick out of naming things *the right way* and following a standard to the do

[2017-12-25 20:00] jamespic commented on #223
I apologise if purists sounded like an insult - I certainly didn't intend it to be, and only meant it as a convenient term for projects that only need to support one standard.

But the main thrust of the argument remains: if the names don't clash, then it's easier to reason about how a (potentially unknown) token will behave. You can always assume ERC20 methods will have ERC20 semantics, and you c

[2017-12-25 20:51] rados-io commented on #223
Don't worry, nobody's taking things personally here (I hope). I appreciate the no-conflict attitude and swift deescalation. I tend to be quite harsh when I communicate my ideas and I offer my apologies to all of those who were hurt by my words.

Back to the discussion. I know there's a tendency among coders to value code over product, and what I meant with my earlier rant about *purists* is that w

[2017-12-25 21:24] winsvega commented on #156
it is impossible to prove such a thing.
you could create some foundation that will payout compensations to those who lost founds by accident.

[2017-12-26 00:45] Dexaran commented on #802
There is one concern that I'd like to discuss: crosschain interoperability.

## Request for comment: cross chain interoperability

The whole Ethereum ecosystem lacks an address to address central messaging system. It is not a local problem of Ethereum, it is a bit more global. Currently, there are some "Ethereum-compatible" chains: ETC, PIRL, UBQ, EXP, MusiCoin (and probably RootStock) and they al

[2017-12-26 18:10] clesaege commented on #792
Another solution would be to add a `disputeStatus` function returning an `enum {awaiting, appealable, final}`.
I like better the second solution.

[2017-12-26 19:44] mkovarsk commented on #725
@frozeman @tjayrush I am the co-founder of The Humanized Internet and similarly we are looking at various scenarios working with the UN etc. Part of our team is someone who went through several of those scanarios and can speak to them. Scenarios include being A) captured and ability not to reveal real identity B) little to no smartphone penetration (slums and refugees) how do you capture an identi

[2017-12-26 21:06] obaqueiro opened #807 "plie"
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2017-12-26 23:41] slee981 opened #809 "ERC: Renting Standard for Rival, Non-Fungible Tokens"
# Preamble
[code]

# Summary
A standard interface for renting rival non-fungible tokens.

# Definitions
_Rival good_: a good is rival if its consumption by one individual prevents simultaneous consumption by other individuals. For example, driving a car is rival but watching the sunset is non-rival.

_Non-Fungible good_: a good is non-fungible if it is not interchangeable. For example, cars are no

[2017-12-27 03:09] jrpereira commented on #724
The point of decimals is not to establish a minimum, it's to establish a *minimum increment*. A token can represent a unit of something, and that unit can be divisable only down to a certain amount, for a reason.

There seems to be some confusion between *unit* and *precision* in this discussion. Depending on what we're measuring, we can have the same SI Unit, but different precision needs. Let's

[2017-12-27 03:48] eordano commented on #721
@dete Some questions from the recent update:

- Why no `transfer(to, tokenId, data)` option? It's almost a must for new tokens to be https://github.com/ethereum/EIPs/issues/223 compatible -- it saves a lot of problems.
- I'd push for `delegateOwner` functionality
- What's the reasoning behind being so strict with `allow` and the `transfer`/`transferFrom`/`takeOwnership` methods? I think that it's

[2017-12-27 11:05] Arachnid commented on #223
A wrapper is a kludge at best, and worsens user-experience: users would have to authorise the wrapper to spend their ERC20 tokens, an additional and unnecessary transaction.

Personally I can't support any standard that doesn't permit writing a single token contract that's compatible with both it and ERC20.

[2017-12-27 11:08] Dexaran commented on #223
@Arachnid this is only related to what you mean by "compatible".

[2017-12-27 14:34] pabloruiz55 opened #810 "ERC: Account Reputation System"
## Preamble

    EIP: <to be assigned>
    Title: Account Reputation System
    Author: Pablo Ruiz <me@pabloruiz.co>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2017-12-27

## Simple Summary
The proposed idea provides a system for smart contracts to retrieve the reputation of another account so they can decide how to interact -or whether or not to interact- with said

[2017-12-27 14:50] pabloruiz55 commented on #809
Hi Steven, I like the idea. You can check this article/code I wrote a while ago about renting smart contracts, if it helps:

I'm concerned about the way a reservation is made and checked:

If I understand correctly, you propose storing each time that falls within `_start` & `_stop` for the token being rented and then checking with `now` to see if the caller actually is currently set within the map

[2017-12-27 14:55] gzduan commented on #156
Can add a variable in the account, if it is 1 means  someone have used the private key of  this account , by default, all the variable of new account  is 0, if someone used the private key of the account, this variable is automatically into 1. Otherwise the variable will always be 0, if you accidentally sent many tokens to the account that variable is 0 , the system will be in after a period of ti

[2017-12-27 15:19] rados-io commented on #223
*an additional and unnecessary transaction* that you have to do if you want to use ERC20 with smart contracts anyway. Try using a 0x relay or etherdelta and guess what, you'll have to `approve` anyway.

I completely agree that it is *an additional and unnecessary transaction* in theory. In practice the underlying ERC20 asset makes this transaction *necessary* by design and there's no getting away

[2017-12-27 17:32] fivedogit commented on #156
Well we've veered off the path from "mathematically provable ether stuck in contracts" into "ether stuck in accounts whose owners lost keys or passwords". (Unfortunately, I'm in this camp for a significant amount.) For the latter, I thought about this kind of "touch requirement" solution, too. i.e. Require a "touch" of accounts to prove they're not dead, then refund (to sender) those that remain u

[2017-12-27 17:34] slee981 commented on #809
Hi Pablo, thanks for the feedback. Just checked out your article and Rentable contract. It looks good. Have you thought of a different way of using your rentable contract to make reservations in the future? For example, with movies this wouldn't matter since many people can rent simultaneously (the good is non-rival), but in the case of renting a seat on an airplane, rental car, or hotel room, you

[2017-12-27 18:28] Hackdom commented on #223
The standard is unnecessary, we can fix the token trap issue with proper interfaces. This is where development should occur. We don’t dictate browser behavior via uri standards. We develop interfaces with links. ERC20 is simple and sweet, I personally can’t see this becoming a standard at this point.

[2017-12-27 18:38] SerpentChris commented on #792
I really don't like the _extra_data bytes argument. Languages are typed to make code easier to analyze, and this feature forces developers to obscure type information. This could make bugs harder to catch. One way to fix this would be to remove _extra_data and force Arbitrator contracts to store relevant custom data using the disputeID, and to have their own functions for providing details about e

[2017-12-27 18:40] Dexaran commented on #223
@Hackdom

You could fix this for the past 2 years. Do you see any solutions? - No, I see that there were $40,000 lost 8 months ago and now there are $3,000,000+ and the amount is still growing.

Ethereum suffers bandwidth problems. ERC20 requires double transactions in case of deposit to contract. ERC223 requires single transactions. As for bandwidth issues, ERC223 is definitely better.

ERC223 us

[2017-12-27 19:18] clesaege commented on #792
@SerpentChris
Well the thing is that when we create an Arbitrator contract, we don't know what other parameters the arbitrator may need.
In my usecase: https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L396 , this _extraData is used to define the amount of jurors which will be drawn. In further versions it could also contains the ID of a specialized subcourt. And I guess other `

[2017-12-27 19:25] supRNurse commented on #156
Is there a way to isolate or quarantine indefinitely an address? If Ether is replaced from the un-spendable  account (example my old friend the 0x0000...) can the zero address be isolated or quarantined in order to both prevent any future misdirected ETH landing there?

[2017-12-27 19:39] clesaege commented on #810
I think reputation of account is interesting to be standardized. But from my point of view, what you described is an application, not a standard.

I would however be very interested by a reputation standard like
`function reputation(address _target) returns(uint rep)`
where you could get a reputation score for any account according to the reputation contract.
(It's just an idea, I haven't looked i

[2017-12-27 19:50] MicahZoltu commented on #810
Without solving the Sybil attack you mentioned I don't think this really has any value.  Trust/reputation networks are a _very_ hard problem and largely unsolved.  Without solving that problem, any trust/reputation system is doomed to be attacked trivially.  See eBay's rating system, where you can just buy whatever rating you want.

[2017-12-27 20:01] pabloruiz55 commented on #810
@clesaege I did describe it as a system / application, yes. What would make it more like a standard and less like an application, from your point of view?
The idea indeed would be for accounts to hold some kind of reputation within the Reputation Contract, which other contracts could consult before transacting with them in order to change how that transaction is approached depending on the reputat

[2017-12-27 20:13] Hackdom commented on #223
All fair responses, time will tell.

[2017-12-27 22:09] clesaege commented on #810
@pabloruiz55 Like I told in my first comment. A standard allowing different kind of contracts giving a reputation score. Which may not use the same algorithm.
Reputation is hard, you can look at the Trust is Risk work of Open Bazaar: https://www.openbazaar.org/blog/trust-is-risk-a-decentralized-trust-system/

You could also investigate a trust system where trust is not an absolute value, but depen

[2017-12-27 22:14] clesaege commented on #804
I think it's easier to make a voting right token separated from the main one for the cases you described.
About token with voting rights, you can look at the Minime https://github.com/Giveth/minime/blob/master/contracts/MiniMeToken.sol where you could fork the token to have a vote token.

[2017-12-28 01:39] winsvega commented on #156
what you could do is to create another smart contract which would do all the logic you want.
lets say it will be insurance contract that would have a control of your founds. so if you lose key, you could initiate a procedure to claim your founds back. this way you wont need a hardfork.

then, if you are afraid that you loose you key, you just registrate your wallet at insurance contract / or shoul

[2017-12-28 04:17] #807 closed

[2017-12-28 08:21] gzduan commented on #156
Can add a variable in the account, if it is 1 means someone have used the private key of this account , by default, all the variable of new account is 0, if someone used the private key of the account, this variable is automatically into 1. Otherwise the variable will always be 0, if you accidentally sent many tokens to the account that variable is 0 , the system will be in after a period of time,

[2017-12-28 12:34] winsvega commented on #156
no need to add such a flag.
if there is a transaction in the network from this account then someone has it's private key,
if there is no transaction from this account, then someone still could have it's private key.

[2017-12-28 13:40] clesaege commented on #792
@SerpentChris
I looked more into it and we may be able to have better typing when https://github.com/ethereum/solidity/issues/1707
will be implemented.
This way the `Arbitrator` contract functions could use types and the `Arbitrable` contract use a bytes which would be formatted using the encode method offchain.
Note that this would not break backward compatibility with the current proposal.

[2017-12-28 16:18] tjayrush commented on #725
@mkovarsk I think this (protecting people from unscrupulous uses of this new "Identity-tech") is a super-important issue. I don't know how to help, but I support your efforts.

[2017-12-29 00:47] dete commented on #721
I honestly don't understand the purpose of the optional data. Can you explain a use case? (I wish I understood EIP-223 better... Is there a way to come up to speed short of reading that whole thread?)

Yup. I like this.

 \- and -

Oh boy. This is much more philosophical than practical. I'm trying to follow [Postel's Law](https://en.wikipedia.org/wiki/Robustness_principle) here: "Be conservative i

[2017-12-29 00:58] dete commented on #223
I've got to jump in with @Hackdom here. I thought about adding something like `tokenFallback()` to [EIP-721](#721) and it just felt awkward. The right solution to user mistakes is better user interface, not better APIs. It's a bit like adding an "Are you sure?" prompt to the [`unlink()` system function](https://linux.die.net/man/2/unlink) instead of the [`rm` command](https://linux.die.net/man/1/r

[2017-12-29 03:59] kirch commented on #721
Why there is no allowance function like ERC20 ?

[2017-12-29 10:25] freegold commented on #721
Reading through these comments and looking at each draft, I have to say that ERC 721 is truly fascinating. But, unfortunately, crypto dev and others must come up with new and distinctive languaging. For instance, you consistently use fungibility which means a good or asset's interchangeability with other individual goods or assets of the same type. And I wonder if a mushroom collector originally c

[2017-12-29 17:46] rados-io commented on #223
@dete you know how they say, *the road to hell is paved with good intentions*. Yes, people should make better user interfaces to help users avoid making mistakes. However, with blockchain, people are free to implement whatever they want that corresponds to the spec. If an app doesn't do what you personally would love it to there's no moderator that's going to delete it from the app store. If it's

[2017-12-29 17:48] clesaege commented on #792
I added the `disputeStatus` to the standard.

[2017-12-29 18:36] Hackdom commented on #223
@rados-io this goes back to my point with the question. ERC223 does not prevent tokens from being trapped, it merely checks if the contract developer intended for tokens to be sent to this contract. A contract with tokenFallback can still trap tokens if it is not coded correctly Either way you're depending on development. Add this to the still unanswered question regarding account abstraction, and

[2017-12-29 19:15] jollysean opened #811 "EIP: Hyperlocal Dapps with DAG-ish sub-layer: For unclogging and faster ETH"
## Preamble

    EIP: <to be assigned>
    Title: Hyperlocal Dapps with DAG-ish sub-layer
    Author: Prabhat K Singh <prabhat@talking.im>
    Type: Standard Track
    Category: Core
    Status: Draft
    Created: 2017-12-30
    Requires: <EIP number(s)>
    Replaces: <EIP number(s)>

## Simple Summary
Proposed hyperlocal Dapp have it's own (secondary) blockchain, where main blockchain mines only

[2017-12-30 00:23] freegold commented on #721
OK for instance, from when fungible was coined, you could pretty much trade 1 particular kind of mushroom for another, more or less. So, for these hunters/gatherers, your wealth was equated with the total amount of mushrooms in your possesion (yes this is simplistic and this person could well have had deer and bear and whatever). But, real wealth was transferred via fungi and hense we call wealth

[2017-12-30 00:29] freegold commented on #721
Also, I am now going to take the time to look into the coding of CryptoKitties and see how it is working. I am very concerned with the government/private attempt at controlling all things blockchain in the new NEO project and I'm hoping for the rest of us that we can develop enough tools on the eth block chain to maintain a working environment NOT controlled by various governments!

[2017-12-30 02:42] eordano commented on #721
@dete

1) `transfer(..., data)` allows a contract to dispatch execution of something upon receiving it. For example, the registration for Decentraland's Terraform required 2 transactions because we are not ERC223 (and I suffered that a lot). First transaction is an approve, second transaction is "transferFrom + additional calculations" (like registering how much was received for your address, appl

[2017-12-30 14:08] hiddentao commented on #642
@gaitchs That's pretty easy to do, just replace the following lines:

[code]

With the actual contents of those files.

[2017-12-31 00:02] 7flash commented on #721
I am really fascinated by the power of cryptocurrency to reflect the non-fungible values. Here is my approach to use it in order to give someone joy these holidays: https://github.com/7flash/giftchallengedo

[2017-12-31 03:59] montsamu commented on #809
I’m also interested in this and would plan to implement it in my next project.

[2017-12-31 07:49] Dexaran commented on #223
@Hackdom

Show me this unanswered question about account abstraction.

Please, read the **Motivation** section of this EIP description.

[2017-12-31 13:00] Nanolucas commented on #721
It looks like the references in the standard draft to `approveTransfer` should simply be `approve`. I imagine it was renamed at some point, but the comments weren't updated.

[2017-12-31 22:19] Hackdom commented on #223
@Dexaran

I previously asked how account abstraction would affect this ERC and @cjol showed me where you mentioned this on May 3:

So adoption of this standard would require adoption at the core of the network. The likelihood is still in question.

[2018-01-01 04:12] jamesray1 commented on #725
As @oed said you could trustlessly use ZK-S(N/T)ARKs rather than trusting a claim issuer.

[2018-01-01 08:13] gzduan commented on #156
It's like you have to bind a phone number when you use Facebook account

[2018-01-02 00:14] michaelsproul commented on #598
What's the status of this? I've been playing around with Viper and have noticed that `pyethereum` is the only client with support for a `decimal` ABI (since commit https://github.com/ethereum/pyethereum/commit/237df71d1eafeafaafd6bca16d0ba066f3d1fff3).

Elsewhere, there is discussion of using the `fixed` types to implement Viper's `decimal` (here: https://github.com/ethereum/vyper/issues/566).

I

[2018-01-02 09:48] nt11 commented on #155
Perhaps I'm missing something. EP-155 states:

"If block.number >= FORK_BLKNUM and v = CHAIN_ID * 2 + 35 or v = CHAIN_ID * 2 + 36, then when computing the hash of a transaction for purposes of signing or recovering, instead of hashing only the first six elements (ie. nonce, gasprice, startgas, to, value, data), hash nine elements, with v "

These are instructions for the hashing party, but not the

[2018-01-02 12:04] jhoenicke commented on #155
@nt11: 35/36 encodes the low bit of R.y, which is needed to recover the
public key.  Note that you need to flip that bit when doing low s
normalisation.

[2018-01-02 14:49] talbp commented on #155
@jhoenicke could you please elaborate a bit on the meaning of "R.y" and "low s normalization"? I wasn't able to find either terms.
A reference to a place which defines them, could also be great.

Thanks in advance!
Tal

[2018-01-02 20:27] finnious commented on #809
I heard [Arthur Camara of CrypoKitties on The Blockchain Guy podcast](http://blockchain.global/cryptokitties/). Arthur talked about ERC-721. I can't help but think how your functions give more power to the participants. While CrypoKitties maintain ultimate control of the tokens(kitties) via their marketplace.

@slee981 What are your thoughts on how much control over a token should fall under the o

[2018-01-03 02:11] jruffer commented on #809
This is great!  Are you thinking this would also work for time sharing for others to be able to re-rent their timeshare? Also, this looks like it could also work for items?

[2018-01-03 05:35] mrpullen commented on #735
I am not sure what value is provided by creating a finite set of claimTypes as an enumeration...

Is this meant to be some form of typing arrangement so data stored will have a specific format, address could be [string],[lat],[long] to create a standard around how specific types of data are stored into the byte[] data array?

A claim is any statement about a user, that has been agreed to by the is

[2018-01-03 05:49] fulldecent commented on #165
**Straw man proposal: use bool functions to achieve goal of EIP 165.**

Implementation example [found in the wild](https://ethfiddle.com/09YbyJRfiI):

[code]

Why not simply add `supportsEIP20Basic() public pure returns (bool);` to every basic token and then `supportsEIP20() public pure returns (bool);` to full tokens?

Does this straw proposal have a greater or lesser footprint on the EVM than EI

[2018-01-03 13:57] veox commented on #165
@fulldecent That wouldn't be very future-proof.

For the question of "does contract C support interface I?", we'd like to be able to get a `yes/no` answer, as compared to the current `yes/{execute fallback code}`.

Imagine this EIP having been widely adopted. Contract Ali wants to check if contract Bob supports Ali's favourite interface. Ali calls Bob with a standard function (the pre-known 4-byte

[2018-01-03 17:31] facuspagnuolo commented on #721
@dete did you meant `throw` per se? I mean returning invalid opcode? I would suggest using `revert` in some cases, e.g. for `ownerOf`

[2018-01-03 18:28] slee981 commented on #809
@finnious I think the main reason that the CryptoKitties creators may have so much control over their tokens is that standard wallets aren't yet compatible with the ERC-721 interface. Thus, they control the interaction. Same applies here.

Wallets will most likely adapt once there are more applications that use non-fungible tokens, and hopefully the same applies for renting.

[2018-01-03 18:43] slee981 commented on #809
@jruffer in principle this should work with timeshares, but depends on how payments are incorporated. Right now I see a few options:

1. **Auctions**: reservation goes to highest bidder
2. **Pay-per-time**: access cost per unit time. This might make more sense for non-rival goods though, like movie rentals, where it returning earlier or later doesn't impact someone else's ability to rent the item.

[2018-01-03 23:24] fulldecent commented on #165
@veox Thank you for the explanation.

We must always be prepared for executing fallback code because targets may not implement EIP-165. However I see the value EIP-165 creates is that checking for *n* interface compliances would only execute at most one fallback code. Using straw man this could trigger up to *n* fallback codes.

And of course *n* grows fast when we start talking about ERC-20Basic,

[2018-01-04 12:37] wizzleio commented on #721
The ERC721 looks very interesting for representing physical assets as tokens (something that we are very interested in). However, I am not sure that an integer tokenId and externally stored metadata (e.g. stored using IPFS) is sufficient. For instance, chips with a physically unclonable function (PUF) might not generate an integer as the unique identifier. The PUF ID could be stored as metadata, b

[2018-01-04 12:52] izqui commented on #777
I propose renaming `operatorData` to `logData` to make more explicit that the purpose of that data is no other than being part of a log. The ability of adding context to token transfers is powerful, and the gas hit is minimal when they are not used.

Really like and support this proposal, exactly the vision that made me excited about ERC223 10 months (!!!) ago. We are considering making ERC777 the

[2018-01-04 13:50] onbjerg commented on #777
This is an interesting proposal, but I worry about the entire ecosystem having to migrate to new multisig wallets in order to be able to receive ERC777 tokens.

It seems like there was an attempt made to create a whitelist of contracts that one can safely transfer to even if they do not implement `ITokenReceipient`:

But there is no appendix, I would love to see it 😊

[2018-01-04 20:48] jbaylina commented on #777
@onbjerg We are working on it. We are thinking in keeping this list open for a while (centralized) and close the list at some point (make it decentralized).

[2018-01-04 22:35] sohkai commented on #777
Was there any consideration over allowing users to specify how much an operator can control, e.g. changing `authorizeOperator()` to:

`function authorizeOperator(address operator, uint authorizedAmount) public`?

One could use `2^256 - 1` (or hypothetically the `totalSupply()` if that never grows) to simulate the previous `true` behaviour and `0` for `false`.

---------------

I find this somewhat

[2018-01-04 23:08] jbaylina commented on #777
@sohkai:
1.- The idea o authorizeOperator is mainly to authorise a contract.
The maximum allowed limitation and many others limitations, like a daily limits, should be implemented in the operator contract and keep this standard as clean as possible.

2.a. - The idea is that the receiver should have the warranty that the `tokensReceived()` method is ALWAYS called. Even if it is called via an obsole

[2018-01-04 23:19] MicahZoltu commented on #777
As I have mentioned in other threads, I strongly recommend removing `decimals`.  Here is a cross post of what I have said elsewhere:

Decimals are easily the number one source of confusion for both token authors and users of ERC20. I strongly recommend removing this as a variable and instead asserting that tokens must have a certain "humanizing divisor". Reasonable choices IMO are:

* `0` - The pu

[2018-01-04 23:20] MicahZoltu commented on #777
You mention `function send(address to, uint256 value, bytes userData, bytes operatorData) public;` in the interface but it doesn't appear in the function descriptions below.  Perhaps it was meant to be replaced by `operatorSend` but you forgot to delete it from the interface?

[2018-01-04 23:33] MicahZoltu commented on #777
I recommend splitting `function authorizeOperator(address operator, bool authorized) public;` into:
[code]
At the callsite, this will provide a lot more clarity as to what is happening.

[2018-01-05 02:36] mattdf commented on #174
I'm going to revive this because this limit in the EVM (and solidity by extension) is honestly such a pain when you're trying to do anything non-trivial, especially when feeding in things like signatures for EC operations...

@gcolvin why does #615 make this EIP unnecessary?

[2018-01-05 03:30] gcolvin commented on #174
@mattdf #615 divides up the stack into subroutines and provides opcodes to get at all the variables in a subroutine.  So does #48.  This is of course a smaller change.

[2018-01-05 04:49] bwheeler96 commented on #777
This is rad. Its going to be a long, slow journey to move away from ERC20 but this is a good first step. Couple things:

1. Why has spender authorization been moved to a boolean? I personally haven't found a use-case for allowing a spender to access a specific amount, but it seems like a nice feature to have since its already part of an existing standard.
2. Why use the noun `operator`? I understa

[2018-01-05 05:18] nepalbitcoin commented on #777
Public state variable for decimal is `string public decimals;`?
I think that should be `uint8 public decimals;` based on `function decimals() public constant returns (uint8)`. Prolly a typo.

[2018-01-05 08:40] GoldenDave commented on #777
Unfortunately quite a few coins have a very good reason for selecting a different number of decimals. Many of them are in the wild already. Forcing all 10 n decimals would require internal restrictions that would, for example, force rounding of values or revert if an incorrect amount is specified.

Our objective is seldom to expect people to interact directly with the blockchain but, as an example

[2018-01-05 11:38] mattdf commented on #174
What's the timeline for something like #615 making it into the protocol?

[2018-01-05 11:41] jbaylina opened #820 "EIP 820: Pseudo-introspection using a registry contract."
Please, see: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-820.md for further discussion.

----
## Preamble

    EIP: 820
    Title: Pseudo-introspection using a registry contract.
    Author: Jordi Baylina <jordi@baylina.cat>
    Type: StandardTrack
    Category: ERC
    Status: Draft
    Created: 2018-01-05

## Simple Summary

This standard defines a universal registry smart contract whe

[2018-01-05 13:42] eordano opened #821 "EIP 821: Distinguishable Assets Registry (Contract for NFTs)"
EIP: <not assigned>
    Title: Distinguishable Assets Registry
    Author: Esteban Ordano <esteban@decentraland.org>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2018-01-05
    Updated: 2018-02-21

## Summary

A Distinguishable Assets Registry (DAR for short) is a contract that tracks ownership of, and information about a set of assets that are distinguishable from eac

[2018-01-05 14:18] alexvandesande commented on #777
Should the `ITokenRecipient` contract also have a function that always returns true stating it's capable of this? It's a way to allow wallet implementers to know which function to use, and therefore save gas.

[code]

[2018-01-05 15:08] lyricalpolymath commented on #777
Great stuff!

1- initially I too thought as @sohkai that `authorizeOperator()` would need a form of limiting the amount. In the end the [ERC20](https://github.com/ethereum/EIPs/issues/20) `approve` (which is a confusing name) does have a value up to which the spender is allowed.

I understand and share what you say

But I also think that it's an interesting addition to remind implementers to inclu

[2018-01-05 15:20] gcolvin commented on #174
@mattdf I'd say  #48 is more likely, but there is no real process for deciding these things, so I can't guess at a timeline.  If you want #174 to go through you need to write up a proper EIP and make a PR.

[2018-01-05 15:41] axic commented on #174
Please note there is a "proper EIP" written under #663 (I didn't notice this one when I wrote it), though that proposes to take the last stack item as index.

Benefit of that is that tools wouldn't need to be upgraded to support another immediate opcode (which for some reason seems to be the preferred way), downside is it goes against static analysis. I am actually in favour of having it as immedi

[2018-01-05 15:48] mattdf commented on #174
It doesn't make much difference to me whether N is inline or a stack arg, so I'd support the construction #663 for immediate merge as well. When using complex bn/crypto related functions this limit becomes a nightmare.

[2018-01-05 17:14] jbaylina commented on #777
@lyricalpolymath
3- New contracts that use new tokens must use `send()` and not `transfer()`. `transfer()` is just for backwards compatibility.   mainly old smart contracts, as I expect that UI will be upgraded at some point.
Stay tunned for (1 & 2)

[2018-01-05 17:18] jbaylina commented on #777
@alexvandesande To know if a contract implements `ITokenRecipient`, the reverseENS is used (EIP672) which will never throw and you will know if it implements or not the Interface. The gas cost should be the same as the one you propose.

[2018-01-05 17:18] frozeman commented on #725
As i see it this standard is for your _public_ profile, meaning the things you want people to be able to access and proof about yourself. Like we fill pages on linkedin with quite personal data, to create display our experience.

If you want to have private claims, they can always be in a private (encrypted?) claim storage based on [DIDs](https://w3c-ccg.github.io/did-spec/), which can actually be

[2018-01-05 17:26] frozeman commented on #735
I cant really follow your example :(

For the claimTypes. Its a finite number, but a very large one, so there will be enough claim types available for all kind of things.
Important for the verification and fetching of the claim data is the claim `scheme` of the claim.

I would actually propose to rename `claimType` to `topic`, as it is the topic of the claim.

[2018-01-05 17:42] MicahZoltu commented on #777
@GoldenDave Others have made the same argument in the past but were unable to provide (IMO) a compelling argument as to why forcing the humanizing divisor to the same for all tokens is bad.  The most common cited example is "what if I have a token that is pegged to USD (or similar), which only has 2 decimals?"  In this case, you can still have 24 decimals (or whatever the standard defines) exposed

[2018-01-05 18:32] alexvandesande commented on #777
@jbaylina I support reverse ENS, but I don't see why not also add this to the contract itself. Is simpler to build, will work on any network, including test networks etc. Also, to check ens resolver you need to have multiple calls (see if there's a resolver, then check the resolver etc) AND to have an extra function on the constructor function to set the ens resolver info.

Again, I'm all for ENS,

[2018-01-05 18:42] alexvandesande commented on #662
Has there been a consensus in implementation? I'd like to move forward with a token standard that has a function for sending transactions without the end user needing ether to pay gas

[2018-01-05 19:30] DaveAppleton commented on #777
During the HelloGold token sale, contributors received HGT which entitled them to a share of a reward token GBT (our gold backed token) which is related to the amount of management fees that we receive for storing clients' gold pro rated to the person's HGT holding.

In order that anybody holding the minimum amount of HGT should receive GBT during a distribution we calculated that GBT would work w

[2018-01-05 19:49] DaveAppleton commented on #777
It is great idea - but when I ran a quick test on remix, a contract with a simple fallback function would falsely satisfy your requirements.

[code]

appears to return true when a non existent `function xyz() returns (bool)` is called.

https://gist.github.com/DaveAppleton/ef44e9745b1f57c7ae0d6744a15bc5c6

[2018-01-05 22:33] MitchK opened #822 "Idea: Making transaction nonce checking more flexible"
I hope this is the right place to discuss the feasibility of an idea that could improve performance and reliability of applications and services writing data in high frequency to the Blockchain.

We are currently working on a service where we write hash values in a storage smart contract on behalf of users (document notarization use case).

The problem that we are currently facing is that because

[2018-01-06 07:56] jbaylina commented on #777
@alexvandesande One of the nicest think of this standard is that not only you can have functionality in smart contract recipients, but also in any regular account.  You can program for examle that you don't accept tokens sent to your public regular account. Or that you send half of it to a charity.
I agree that using EIP672 is a little complicated, and what's the worst, ENS still is centralised in

[2018-01-06 08:02] jbaylina commented on #777
@alexvandesande Regarding the `provable` functionality, the idea is to do that via an operator.  The operator can, for example, accept signed checks, which they are very much `provable` transfers.

This standard should allow for token contract creators to set some default operators to be authorised for everybody.

[2018-01-06 12:56] AnthonyAkentiev commented on #642
Is there any known ICO that used/is using this approach?

[2018-01-06 16:54] skylarrudolph commented on #721
ERC721 is a must need and great work @dete. I have looked over the proposal and implemented it myself, but am unsure of the most efficient way to:

1. Create a token of limited supply that are assigned ("minted" to me).

The proposal talks about creating the NFT but not so much the preferred way of declaring ownership in a cost effective way to me or my application. As it stands right now, the gas

[2018-01-06 17:18] ryanschneider commented on #721
Maybe instead of actually assigning them to a starting account, give that
account the ability to transfer any "unclaimed" NFTs in a certain range to
another account?  They wouldn't quite show up as owned by said account
(unless a lot of other special casing was done), but you would save a lot
of gas at startup (though with higher gas prices on transfer due to the
special casing).

On Sat, Jan 6, 2

[2018-01-06 20:01] nicksavers commented on #822
Bitcoin has something called [Child Pays For Parent](https://themerkle.com/what-is-child-pay-for-parent/) (CPFP) - That could work by adding it into miner software and as an option for the users in wallets. Basically you'd send a new transaction with `nonce of the unconfirmed transaction + 1` and pay a higher gas price that pays for both. Miners will see the new transaction and include both in a b

[2018-01-06 23:16] alex-miller-0 commented on #662
@alexvandesande I ended up not implementing this, but I still think the original design is a reasonable specification for simplicity. If you want to link an implementation to this issue or open up a ERC let us know!

[2018-01-07 07:11] gaitchs commented on #642
What do u mean

On 06-Jan-2018 6:26 PM, "Anthony Akentiev" <notifications@github.com> wrote:

[2018-01-07 07:50] TGOlson commented on #721
@ryanschneider I was wondering if something like that would be possible. Initializing all tokens upfront could definitely be cost prohibitive.

Looking through the `Transfer` event section, though, does it seem like keeping some NFTs "unclaimed" conflicts with the below spec?

Or does this mean that in order to satisfy the spec, we need to not actually mint any coins (and not increase the total su

[2018-01-07 12:18] AnthonyAkentiev commented on #642
@gaitchs I mean that is there any project already that wants to use this approach (that is of course still "in development")?

I am categorising ICO models in this doc -https://docs.google.com/document/d/1hnMjwaaYUZGch-rprvAtqay9e_ivePCpezBY5ywrrKE/edit?usp=sharing

I've already added the "Proportional Refund Model" to it.
Btw, you can help me and add your text/comments to the document!
Your feedb

[2018-01-07 17:44] inhumantsar commented on #721
@TGOlson @ryanschneider Could a transfer have the same address for `_to` and `_from`? Would that cost normal-tx levels of gas to process?

[2018-01-07 20:19] nicksavers commented on #100
PR has been merged and EIP is active in the main repository with status Final
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-100.md
@vbuterin The document still references this issue for discussion, but I imagine it can be closed.

[2018-01-07 20:19] #100 closed

[2018-01-08 17:32] alexvandesande commented on #777
@DaveAppleton I just tested your code and got

[code]

So it seems it should work.

[2018-01-08 17:37] GoldenDave commented on #777
Remix or testnet?

Maybe remix is not the best playground..
![image](https://user-images.githubusercontent.com/18424493/34683645-9c72d9a6-f4dd-11e7-8c09-596344e70d6e.png)

[2018-01-08 18:42] alexvandesande commented on #777
@jbaylina I like the approach of using the approved operator for that sort of thing.

Regarding EIP672 or 820, I don't like the idea of requiring any registry contract: these will change depending on the network, the wallet must be aware of them and makes the whole code a lot less reusable. I would simply support introspection in the contract itself,  it's literally one line function and adding su

[2018-01-08 18:57] Shrugs commented on #822
Not sure if the ETH protocol requires that nonce must be `prev + 1` or whether it allows nonce to just be `> prev`. But it may be possible to sign nonces "10", "20", and "30" and then if one fails you only need to sign a single transaction instead of all of them (assuming correct order).

[2018-01-08 21:33] jbaylina commented on #777
@alexvandesande
1.- How would you associate a piece of code to a regular account? I don't see any other way than a registry contract (ENS or notENS).   EIP820 is very interesting because it allows to execute a code every time that tokens are received. Even if the destination is a regular account.  For example, you can prevent receiving tokens, or send some of the tokens to a charity.  Using EIP-16

[2018-01-08 21:35] MrTibbles commented on #777
@Arachnid  👏 👏 👏

[2018-01-08 23:06] MitchK commented on #822
It actually allows you to submit a transaction ```> prev``` but it will stick in the transaction pool. Only if ```nonce = prev + 1``` it can get mined. Transactions that stick in the transaction pool for too long will eventually time out.

[2018-01-09 05:20] Shrugs commented on #822
Gotcha, so not a real solution, then. Taking myself out of the convo 😄

[2018-01-09 09:29] drandreaskrueger commented on #721
wizzleio [commented 5 days ago](https://github.com/ethereum/EIPs/issues/721#issuecomment-355272067)

Agreed. We [suggest](https://github.com/ethereum/EIPs/issues/721#issuecomment-351012886)

    tokensOfOwnerByIndex(address _owner, uint _index) constant returns (bytes32 tokenHash)

instead, so any arbitrary ID type can be represented.

[2018-01-09 13:32] nagydani commented on #777
Now that we have all those nice cryptographic primitives in EVM that allow for untraceable tokens, it would be reasonable to create a token standard that would actually support untraceable tokens. In order to do so, the transfer of tokens that currently both debits the payer account and credits the beneficiary account in the same transaction needs to be separated into two steps:
 * withdraw: debit

[2018-01-09 14:27] alexvandesande commented on #777
I agree Daniel, but I feel it could be a separate standard that tokens can
also adhere to

On Tue, Jan 9, 2018 at 11:32 AM, Daniel A. Nagy <notifications@github.com>
wrote:

--
Alex Van de Sande
Lead Designer
Ethereum Mist Team

[2018-01-09 14:33] frozeman commented on #777
I really love this standard @jbaylina, as it takes the good of #223 and makes it more clear, also due to the new function names. At the same time it can is backwards compatible.

One note: i would rename `isOperatorAuthorizedFor(..)` to `isOperatorFor(...)` to make it more concise, as `Operator` already implies that its operating in somebodies name.

[2018-01-09 18:59] tinybike opened #825 "No file for EIP-198"
I was reading through previous EIPs, and noticed that there isn't a corresponding `EIPS/eip-198.md` file for https://github.com/ethereum/EIPs/pull/198.  Creating an issue in case this wasn't intentional!

[2018-01-09 19:07] alexvandesande commented on #777
@nagydani actually a testimony on how flexible is the operator model, this could make so that any ERC777 coin would be automatically untraceable if so desired: you can add a ring signature mixer as an approved operator, and then it will automatically transfer coins to itself and out.

[2018-01-10 02:07] nadavhollander commented on #721
@dete Two points we ought to coalesce around a common interface for:

1. An analogue to the ERC20 `allowance` method -- `getApproved`? `getDelegate`? If we shift to `delegateOwner` nomenclature, I'd favor the latter, and vice versa.
2. ERC20 `transfer` and `transferFrom` methods return `true` on success.  I'm indifferent on whether ERC721 should mimick this behavior, but just wanted to raise the s

[2018-01-10 02:14] abcoathup commented on #721
For ERC721 tokens to be displayed in wallets it would be useful to have metadata for the entire token contract.  The token contract metadata should include an image.

MetaMask uses name and logo in their metadata. https://github.com/MetaMask/eth-contract-metadata
Which is how we get a kitty image next to the CK symbol in MetaMask for CryptoKitties.

Ideally the name, symbol and the token metadata

[2018-01-10 13:32] nervous-energy commented on #735
@frozeman Really appreciate your work on this. A common use case for an expiration field would be professional certification. For example a doctor claiming a licence to practice in a particular jurisdiction, or claiming that they have a particular professional competency -- e.g. have completed an ATLS trauma course in the past 3 years. This data could be held within the claim itself -- i.e. as par

[2018-01-10 14:31] alexvandesande commented on #777
@jbaylina I'm still unsure about using an external registry: I tried to understand how that worked on the Yoga token example but it's rather complex and not very obvious. Do you have a short gist showing an example of a constructor function that self-registers a token on a registry, without requiring the token to have 'owners' and such?

[2018-01-10 15:42] jorpand commented on #735
@frozeman regarding to the Claim IDs, just a quick comment:

So I assume that a single contract or account with a single address is the issuer of different claims for different identities, the definition says:

Isn't it necessary to add the subject_address somehow in the hash calculation to generate unique ID's, otherwise as the issuer issues more than a claim these won't be unique? For example:

[2018-01-11 02:27] nagydani commented on #777
@alexvandesande could you elaborate a bit on this? The simplest example would involve four participants (Alice, Bob, Carol, Dave), with Alice and Bob each sending a coin and Carol and Dave each receiving a coin, but it should be impossible to tell whether it was A→C, B→D or A→D, B→C.
BTW, separating the debit and the credit parts of a transfer transaction might come handy with Ethereum 2 as well:

[2018-01-11 14:26] AugustoL opened #827 "ERC827 Token Standard (ERC20 Extension)"
[code]

## This standard is still a draft and is proven to be unsafe to be used

## Simple Summary

A extension of the standard interface ERC20 for tokens with methods that allows the execution of calls inside transfer and approvals.

## Abstract

This standard provides basic functionality to transfer tokens, as well as allow tokens to be approved so they can be spent by another on-chain third par

[2018-01-11 14:47] spalladino commented on #827
I really like the fact that it remains fully ERC20 compatible, and does not force receivers of the token to implement a certain function to signal that they accept them.

One question though: what is the rationale behind making the external call _before_ the transfer or approval? I would have expected the call to occur afterwards, so the receiver of the tokens can check the transferred/approved ba

[2018-01-11 15:02] AugustoL commented on #827
@spalladino In the `approveData` method the call is executed after the `approve` and in the transfer methods the call is executed before the transfer. At first all calls were executed before the ERC20 methods, but I changed the order in the `approveData` because I think the next call to be executed after an approve will want to have the amount to be transfered already approved, doing this you can

[2018-01-11 15:14] spalladino commented on #827
Oops sorry, I misunderstood the order in `approveData`. As for the order in `transferData` and `transferDataFrom`, I'd follow the same approach of transfer-then-call as in approve, for the same reasons you mention. WDYT?

[2018-01-11 15:42] AugustoL commented on #827
I agree, im going to change the description in the issue.

[2018-01-11 16:19] Shrugs commented on #827
I like this. Where do you envision this standard relative to ERCs 20, 223, and 777? It seems like 827 is a _fantastic_ stopgap that's 20-compatible that should be adopted relatively quickly before the community gets around to ratifying 223 or 777.

Thoughts?

[2018-01-11 18:05] facuspagnuolo commented on #827
I really like this, thanks a lot! What do you think about overloading `transfer`, `approve` and `transferFrom` functions considering the new `bytes _data` argument?

[2018-01-11 18:14] AugustoL commented on #827
@Shrugs yes I agree, less code is safer and easier to test, and I think this new methods fulfill the needs that the rest of the standards are trying to cover.

@facuspagnuolo but if we do that we will change the ERC20 function signatures and it wont be ERC20 compatible anymore, right? I think we cant have functions with the same name and different arguments, or we can? :thinking:

[2018-01-11 18:29] facuspagnuolo commented on #827
@AugustoL as far as I know, if we provide an overloaded function changing the amount of parameters, I think it won't change the signature of the ERC20 `transfer` function:
- ERC20 `transfer` function will keep being: `keccak256("transfer(address,uint256)")`
- ERC827 `transfer` function will be: `keccak256("transfer(address,uint256,bytes)")`

am I right?

[2018-01-11 18:30] AugustoL commented on #827
@facuspagnuolo I think you are, let me do a quick test! :eyes:

[2018-01-11 18:39] facuspagnuolo commented on #827
Another quick thing, we might want to distinguish between `throwing` and `reverting` in the spec

[2018-01-11 19:41] AugustoL commented on #827
@facuspagnuolo I changed the method names to be the same as ERC20 but with the data argument and the signature is different so there is not issue on having the same name but with the `_data` argument.

[2018-01-12 14:19] axic commented on #48
@wanderer as agreed on AllCoreDev#31, can you please close this?

[2018-01-12 15:58] Dsummers91 commented on #809
If the minimum times are going to be standard throughout the contract (i.e. daily for hotel, or hourly for bike rental). Instead of having minimum times, you could partition each tokens time by that time block.

For a hotel each individual day would in essence be its own token within each NFT room token. So lets say initialTime is noon (43200) and each _timeBlock is a day (86400), and _startTime i

[2018-01-12 17:39] froid1911 commented on #735
any ideas how we can keep the data secret? not everybody should be able to read the provided data.

[2018-01-13 00:42] rumkin opened #829 "ERC: Functions as first class citizens"
[code]

First class citizen function is designed to bind `msg.caller` (or `this` for contracts) to some function.

It helps to interact with several contracts in a single transaction. This will extremely simplify contract creation and interaction.

## Example

User wants to deposit tokens in some DeFi service. Doing this user should send two transactions: first with token transfer approval and sec

[2018-01-13 11:34] tawaren commented on #829
This is already done in some multisig contracts without the need of lambdas.
Simply put the target address and the byte array containing the function identifier (4 Bytes) and the parameters into the queue and when you need to execute it send the bytes to the address

[2018-01-13 12:07] AnthonyAkentiev commented on #777
+1 to removing 'decimals' (set it to some default value, like 18))

[2018-01-13 12:24] rumkin commented on #829
Yes, but you cannot to receive a result of such call.

[2018-01-13 13:49] tawaren commented on #829
You can, just not with Solidity, but the EVM supports it if you know how much bytes you except in return and in which format to interpret them. However, I don't know if you can access the result by using inline assembly or not

[2018-01-14 16:06] kyriediculous commented on #777
Looks like this user copied the previous standards , renamed a bunch of functions and added some that don't make sense. This is a piece of shit, litterally.

[2018-01-14 21:06] fulldecent commented on #165
@chriseth Will you please update the original issue at the top to include the latest proposal, with bytes4. If you wish to preserve the current text for some reason, you might see how they did it at #721.

Also, can you please include a solidity interface at the top following all best practices so that others can copy paste it. Maybe this would be it.

[code]

[2018-01-14 21:32] fulldecent commented on #165
Security note: it is not very difficult to create collisions in the 32-bit xor "hashing" algorithm here. If you wanted to design an interface that has the same signature as the ERC20 signature then you could do it in a reasonable amount of time.

You could then have other contract authors unwittingly implement your interface. And those contracts would test positive for your interface and for the E

[2018-01-14 22:31] fulldecent commented on #721
Here is an interface you can code against for the current version of ERC-721.

[code]

[2018-01-15 02:11] fulldecent commented on #721
Following along in this comment thread is painful. What is the process to turn all this talk into an Interface I can actually use and  a PR? CryptoKitties already launched and earned 7+ figures USD, so I don't think @dete has much interest in changing the specification from what CK has.

[2018-01-15 03:39] fulldecent commented on #721
Here is a super cheap implementation of `tokenMetadata`.

[code]

I assume your have a HARD limit on some 5-digit number of tokens.

[2018-01-15 09:48] Dexaran commented on #223
@Hackdom permissive fallback function will be sufficient as well.

In any case, it will be necessary to allow contract-accounts to receive the Ether somehow. I suppose that tokens would be received in the same way (e.g. permissive fallback function by default).

Anyways it depends on the "account abstraction" implementation.

[2018-01-15 11:06] stevenh512 commented on #820
I was a fan of EIP-672 (with the minor changes I made to preserve normal reverse resolution), but I really like this, it's a lot simpler.

I wonder if `managers` really needs to be its own mapping. I realized with EIP-672 that the same mechanism can be used to assign roles in situations where you want to enforce one address per role (think CryptoKitties, their contract has `CEO`, `COO`, and `CFO`

[2018-01-15 11:43] stevenh512 commented on #804
The problem with this is, if I buy a large amount of your tokens at ICO and sell them immediately, I would retain my voting rights as if I still owned those tokens. Meanwhile, the person or people who just bought a million tokens from me get no voting rights at all unless I voluntarily transfer rights to them. If all of Ethereum's users were as tech savvy as the people here on GitHub writing code

[2018-01-15 13:25] alexvandesande commented on #777
@nagydani Alice authorizes "mixerContract" as an operator for her tokens. Alice signs a message creating some off chain information and sends it (directly or via someone else) to the MixerContract, which then removes all coins from her account. Alice sends some information to Bob, off chain, and Bob provides this to the MixerContract (maybe via Carol), which now credits Bob with the tokens. From t

[2018-01-15 14:33] mcdee commented on #777
Any reason that the events have mixed tense?  `Send` is current tense but` RevokedOperator` is past tense.  There would be less mental confusion if only one tense was used for all event names.

[2018-01-15 14:36] ligi commented on #829
this is possible: https://github.com/gnosis/gnosis-safe-contracts/blob/master/contracts/Proxy.sol#L19  @rmeissner also mentioned today that there might be a new way that does not need assembly

[2018-01-15 14:36] mcdee commented on #777
`NOTE: The decimals value returned SHOULD be 18.`

Not a fan of this, unless you can give a solid reason *why* it should be 18.  Reasons that don't wash include:

  - "offline wallets can rely on it".  No they can't, unless `decimals` is mandated to be 18 rather than suggested
  - "Ethereum uses 18".  So what?  Tokens aren't Ether
  - "your token contract can restrict transfers to a lower precisio

[2018-01-15 14:41] devzl commented on #777
A standard shouldn't be opinionated and lock you in a way of doing things. The decimal value should be up to the user's needs and situation, and be their to decide.

[2018-01-15 15:23] rmeissner commented on #829
it seems that wont be the case for quite some time :(

[2018-01-15 17:23] bwheeler96 commented on #777
@mcdee I think there will be more user confusion when someone trades 10 ETH for 0.001 ABC token because an exchange listed the "decimals" value incorrectly and it looked like they were getting 10,000 ABC.

Let's be real, most users aren't checking the difference between `0xde0b6b3a7640000` and `0x38d7ea4c68000` in their transaction data. Standards like this make life easier for users, and for deve

[2018-01-15 19:19] tbocek commented on #735
Here is the latest interface for this ERC
[code]

[2018-01-15 19:20] tbocek commented on #725
Here is the latest interface for this ERC
[code]

[2018-01-15 19:35] mcdee commented on #777
If the exchange bothered to read the `decimals` value from the chain this wouldn't happen.  Suggesting that reading this value is somehow to onerous for the exchange to handle, or too complex for them to handle correctly, doesn't seem particularly realistic.

Saying that a value "should" be a particular figure is the worst of all worlds.  It isn't definitely a given value, so no assumptions can be

[2018-01-16 00:04] MicahZoltu commented on #777
To be clear, I would rather "keep decimals" than have decimals be **SHOULD**.  I think specs should take hard-line stances and not be vague whenever possible.

Please remember that `decimals` is a _humanizing multiplier_.  Since it is not possible to predict the future value of your token, and tokens _will_ fluctuate in value relative to each other, all tokens will at some point need to use SI pre

[2018-01-16 00:07] MicahZoltu commented on #777
Also, I do think there is value in being able to render the number of tokens in an offline signer even if you don't have the symbol.  Being able to say

is significantly better than

[2018-01-16 00:17] MicahZoltu commented on #777
Regarding the "indivisible token" argument, there are a few options:
1. Use SI prefixes like everyone else and people will just buy/sell 1 yoctotoken or 1 attotoken rather than 1 gigatoken like they do with some others.
2. Make it so your token transfer either rounds or throws when people try to transfer sub-tokens.
3. Allow for token divisibility for the sake of transferability, but round down to

[2018-01-16 05:08] fulldecent commented on #721
Language in the top proposal is inexact. The following two sentences for `approve` are contradictory.

Specifically, `are not limited to` contradicts `if and only if`. In others words my application will restrict `approve` calls in some circumstances. This is illegal as per sentence one and legal per sentence two.

[2018-01-16 05:40] Nanolucas commented on #721
@fulldecent In your interface example you're using `constant` which is [deprecated](https://github.com/ethereum/solidity/issues/992) in function declarations.

After reading through this thread over the last few weeks this is the interface I came to based on what I could gather as the most current agreed versions of all the functions:

[code]

[2018-01-16 05:51] fulldecent commented on #721
@Nanolucas

I do not think `implementsERC721` is agreed based on discussion above. Also I vote against it.

[2018-01-16 06:27] Nanolucas commented on #721
That's fair, I included that in my interface since it seemed like the simplest solution until [EIP165](https://github.com/ethereum/EIPs/issues/165) is finalised, but that thread seems like quite a mess, so who knows when that would be.

[2018-01-16 06:45] superphly commented on #721
Are we done discussing the optional feature where a user would have to accept the transfer of a token? I bring this up, because there are some uses for this interface that a user may not want to have ownership of something.

For instance, there's a piece of land that has a tax lien on it. You shouldn't be able to just push that property off on someone without them being willing to accept it. This

[2018-01-16 07:56] mcdee commented on #777
Must we?  What about a token that represents a right to use (for example a software license)?  It can be both indivisible and fungible, and its price will naturally float to a reasonable value (in ETH or USD, depending on prevalence) rather than suffer significant speculation (especially if the token has an uncapped total supply).

Note I'm not saying that the above is definite, but it is possible

[2018-01-16 08:35] 7flash commented on #721
@fulldecent how should `setMetadata` looks like according to your `tokenMetadata` implementation?

[2018-01-16 13:05] ImAllInNow commented on #821
I don't think create() and update() should necessarily be part of a standard ERC821 token. They seem optional, and for many assets, their creation probably won't be a publically accessible function and updating might not be relevant for that contract.

[2018-01-16 13:40] inhumantsar commented on #721
@superphly how would you update the interface to allow that? my first thought reading your comment was to have an "accepted" flag that needs flipping (or maybe a timestamp that needs setting?) by the receiving user before they can do anything with the token.

[2018-01-16 16:08] eordano commented on #821
Thanks @ImAllInNow!

1) Regarding `assetByIndex`. The idea behind this is to have that accessed from a smart contract. Use case: access from another contract for migrating all assets in batch mode to a new owner. `allAssets` might consume too much gas, or kill the evm stack

2) Nice idea. You're right about front-running. I'll keep them in the standard implementation as `internal`.

[2018-01-16 16:13] eordano commented on #821
Regarding `update` and the metadata: is there really a case where no errata would be published? For my quick checklist:
- [ ] Real world art pieces: `update` is good for appending new information (change of location, status, news)
- [ ] Virtual trading card games: `update` is great for amendment on card rules
- [ ] Virtual collectibles: `update` is used for errata or fixing typos

The rule of the

[2018-01-16 16:16] eordano commented on #821
Last note on `assetsOf`: there's a problem of concurrency, it would be nice to have a function that atomically returns all assetIds and all the associated data (otherwise if the order changes between fetches the UI will display erroneous information).

I'll add a note that UIs should list the items in sorted order, or keep their own information based on the transfer logs or user preferences.

[2018-01-16 16:36] ImAllInNow commented on #821
@eordano You're right about update. I was getting it confused with updating the assetId rather than the data associated with the assetId.

[2018-01-16 16:54] AnthonyAkentiev commented on #777
@jbaylina We have a real case DApp that we developed: ethlend.io
Every time we need to pass token amount from DApp to the LendingRequest contract or from coinmarketcap through the Oraclize -> we have to deal with different **decimals** value.

Everything becomes more complicated with decimals)
However, I think that option #5 is a good choice.

Thank you for providing awesome list of options.

[2018-01-16 17:04] alexvandesande commented on #777
@jbaylina not sure I understand what you mean by minimalUnit. And when you say Wei, you mean "the smallest possible unit of that currency, equivalent to Wei", right?

[2018-01-16 17:14] mcdee commented on #777
1 -> 6 (I believe it would confuse token contract developers)
2 -> 4 (I still don't like the idea of setting one value above others)
3 -> 0 (there really, really are valid scenarios for having variable per-contract decimals)
4 -> 4 (cop-out; let's reach some consensus here)
5 -> 8 (the only immediate downside is that no-one can have divisibility higher than 10^18, but I don't think that this is so

[2018-01-16 17:31] alexvandesande commented on #777
Oh with @mcdee comments I think I get it now. I agree with *5*: set all tokens to be automatically divisible to 10^18 and phase out the `decimals` standard. Instead set some minimum divisibility standard that tells wallets not to try to send anything less than that (which is enforced by the code itself).

[2018-01-16 17:45] bwheeler96 commented on #777
Option 5 seems like a best of both worlds. Enforce 1 token = 1e18 but allow developers to set their own `minimumUnit`. This keeps the math consistent across applications but allows for an additional constraint to be applied if desired.

[2018-01-16 18:13] MicahZoltu commented on #777
Is `minimalUnit` a tooling hint or something that **MUST** be enforced by the contract?  If I have a `minimalUnit` of 10^15 (and for the sake of this example 10^18 is used as `basicUnit`) and a tool tries to send 10^14 attotokens is the contract expected to fail or is the contract expected to succeed?

[2018-01-16 18:20] MicahZoltu commented on #777
If we do go with `minimalUnit` my recommendation in this case is to have the spec say:

I still would like to hear some examples of tokens that are problematic when divisible.  People keep saying they exist but so far I haven't heard any convincing arguments for castrating divisibility.  Even in the software license example, I don't see a _problem_ with a software license being divisible.  You nee

[2018-01-16 19:43] mcdee commented on #777
That's *really* opinionated.  Define what it means, give examples, and let people choose for themselves.

The problem is that the token creator might not want people to trade fractions of licenses.  If you don't have a problem with the concept of fractional licenses that's fine but that doesn't mean that everyone should follow suit.  A standard that actively reduces functionality is not good and w

[2018-01-16 20:02] MicahZoltu commented on #777
All standards reduce functionality, constraining what people can do is what it means to have a standard.  The more permissive a standard is, the harder it is for people to integrate with it.  Decimals is a good example of this because it adds complexity to tools which now need to handle variable decimals, something that they wouldn't have to code for if the standard were less permissive.

For any

[2018-01-16 20:44] mcdee commented on #777
Yes this is the trade-off.  My opinion on it is that a more flexible standard is worthwhile because it will gain wider use. Your appears to be that it isn't worthwhile because of the additional work involved.  Guess we'll have to go with the majority opinion.

[2018-01-16 22:24] superphly commented on #721
Yes, but it would be an optional feature that would be set at the top level. Essentially a bit that you can check to see if it requires acceptance by the recipient.

[2018-01-17 00:44] abcoathup commented on #821
For those coming straight to ERC821 @eordano has written a distinguishable asset manifesto: https://blog.decentraland.org/the-non-fungibles-revolution-of-2018-304270525b05

[2018-01-17 01:20] abcoathup commented on #821
My original thinking for (unique) assets was given existing ERC20 support in wallets was to create assets that are ERC20 compatible, rather than get wallets to support (unique) assets but if we can get enough support for a unique assets standard for wallets to implement, then all the better.

[2018-01-17 04:47] eordano commented on #821
Thanks for the comments, @abcoathup! Please note that I've updated the body of the proposal to include as much detail as I thought necessary

1) Cost: I can run some benchmarks tomorrow and give you some estimate

2) Should we add a `logo`? Should there be some kind of specification, perhaps following iOS or Android's standard for logo sizes?

3) CUD: Updated to reflect your thoughts. Note:

```Ou

[2018-01-17 06:40] abcoathup commented on #821
@eordano rather than description for the DAR, I was thinking this should be data (metaData) in the same format as the data for the NFT and include a logo.

Suggest reaching out to wallets and dApp browsers (e.g. the likes of MetaMask, Toshi, Status.im and Cipher Browser) for input on logo specifications.

[2018-01-17 06:44] caldwell254 opened #834 "Having Issues with Smart Contract Transactions "Value transfer dis not complete, most likely as a result of a Revert opcode""
ATTENTION! If you would like to submit an EIP and it has already been written as a draft (see the [template](https://github.com/ethereum/EIPs/blob/master/eip-X.md) for an example), please submit it as a [Pull Request](https://github.com/ethereum/EIPs/pulls).

If you are considering a proposal but would like to get some feedback on the idea before submitting a draft, then continue opening an Issue

[2018-01-17 06:45] caldwell254 commented on #834
![image](https://user-images.githubusercontent.com/35519364/35029249-ad391500-fb1f-11e7-899a-32b1ddb8f961.png)

[2018-01-17 07:18] wighawag commented on #777
I really like this standard as an evolution from erc20.

But I would remove "decimals", "name" and "symbol" from the standard. These are not needed for the token operation and since contracts have a fixed address, wallets can get these info through other means including a registry (as part of another EIP) (if they want to use the blockchain for that).

Naming should also not necessarily be dictate

[2018-01-17 09:55] mcdee commented on #777
A common requirement for token contracts is to carry out bulk transfers i.e. multiple transfers in the same transaction.  Often this is purely for gas savings, but sometimes there is a requirement for atomic transfer of tokens to multiple recipients.

I'm torn on if this should be considered for inclusion in to the standard.  It does have utility, but there are two issues.  On a cleanliness-of-sta

[2018-01-17 10:32] izqui commented on #777
@mcdee I think bulk functionality should be kept outside the standard as it can be performed in a second layer protocol easily. This is a toy project I have been working on exploring that exact idea to achieve super cheap token transfers: https://github.com/aragonlabs/pay-protocol/blob/master/contracts/PayProtocol.sol#L106

[2018-01-17 11:29] mcdee commented on #820
Should there be a standard, or at least a recommendation, for interface names?  The example interface name `Ierc777` requires people to remember the capitalisation and also confuses ERC with EIP.  It also starts with 'I', which is implied by the definition of what the registry provides.

Stating that interface names should be lower-case, and those that come from an EIP should be of the format eipx

[2018-01-17 11:40] eordano commented on #821
`safeHolderOf` is a cheaper way of calling `exists` and `holderOf`.

Discussion comes from #721 throwing on `ownerOf` if the asset doesn't exist. I think this prevented `exists` from being calculated.

My take on this is that both are valid use cases... that you might want to save *some* gas by just calling `safeHolderOf`, but that there might be some useful way of checking `holderOf` and calculat

[2018-01-17 11:46] eordano commented on #721
@fulldecent ERC #820 can help with that in the same way #677 and #777 tried to improve the standard.

[2018-01-17 13:11] jacquesd commented on #777
1-> 3 (too much flexibility, it will introduce confusions and misinterpretation)
2-> 6 (that is how is now, not the best but I'm OK with it)
3-> 7 (not enough flexibility, I can't think of a use for variable `decimals` but if there is, this blocks it)
4-> 0 (too much of a flexibility, it will introduce confusion and misinterpretation)
5-> 9 (could it prevent some contracts from working properly if

[2018-01-17 14:34] AnthonyAkentiev commented on #821
Thx for great idea.
I think that you have to describe how #821 is different/better from the #721.

As long as #721 was added before, it is your goal to clearly describe why you decided to add new non-fungible token standard. Thx again.

[2018-01-17 14:39] superphly commented on #721
Maybe a method for "acceptToken"? This would require a second event, maybe in addition to Transfer, we have "Accepted".

[2018-01-17 14:43] Beskhue commented on #721
Perhaps `transfer` should be optional. Then the receiver will always have to call `takeOwnership` to accept the token.

[2018-01-17 16:10] fulldecent commented on #721
@7flash There is no set metadata. Metadata is hosted off blockchain and is mutable. Basically it is an opaque format.

The Dec 15 specification does not clearly enough specify the protocol for metadata. What is the transfer encoding json, plaintext, markdown, markdown in json? WTF is multiaddress and IPFS? Those things are way too alpha.

[2018-01-17 16:34] eordano commented on #821
I'll expand later, but for the time being:

1) If I have 100 NFTs, calling `approve` 100 times with the same `to` value (a decentralized exchange probably) is very inefficient, specially given that it's usually used that way (see Etherdelta, 0x)
2) Lack of `exists` function in #721 -- There's no way to do a "try-catch" for `ownerOf` from a contract.
3) Lack of `transferAndCall` functionality -- Mo

[2018-01-17 16:34] fulldecent commented on #721
**Review of transfer techniques**

* ERC-20 approve / transferFrom
  * Original implementation
    * [ERC-20 `function approve(address _to, uint256 _tokenId)`](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20-token-standard.md#approve)
    * [ERC-20 `function transferFrom(address _from, address _to, uint256 _value) returns (bool success)`](https://github.com/ethereum/EIPs/blob/master/EIPS/

[2018-01-17 16:40] dete commented on #821
Lots of good thinking has gone into this. Decentraland brings a perspective to NFTs that we don't have at CryptoKitties. Thanks for bringing this to the community, @eordano!

I'm confused as to why you think this needs to be an whole new standard, tho. I don't know about anyone else, but I don't consider ERC-721 as finalized, and I'm not sure it's appropriate to have a whole new standard that is l

[2018-01-17 16:43] eordano commented on #721
@fulldecent everybody I discussed this with is currently backing #777 -- which sports a version of `transferAndCall`.

By the way, `transferFrom` as described here has an unnecessary argument, `from`. It's always `owner[assetId]`.

[2018-01-17 16:56] fulldecent commented on #721
*TO EVERYONE*

This issue is turning into a conversation. There are many undecided items and much more discussion to have. I want us to find the solutions and get it done. Please join me for a live discussion on these matters.

----

TIME: This meeting convenes 2018-01-19 17:00 GMT. It will last 60 minutes.

LOCATION: https://gitter.im/ethereum/topics/topic/5a5f7ef95a9ebe4f759b8d42/erc-721-discuss

[2018-01-17 16:58] fulldecent commented on #721
@eordano Regarding three-argument transferFrom, this is incorrect.

1. Mary has token 5
2. Mary does `approve(Robot, token 5)`
3. Robot does `transfer(Mary, Bob, token 5)`
4. Now Bob owns the token

[2018-01-17 18:08] mcdee commented on #777
@izqui yeah like I say I'm torn on it.  It's easy enough to add or not to the token contract, or to run as a separate contract or second layer service, it just seems to be asked for a lot as a function so would be used.  Not having it in the standard doesn't hurt, though, as people can add it to their own contracts anyway.

@jacquesd `granularity` is probably the best of those options (I proposed

[2018-01-17 18:29] alexvandesande commented on #777
So let me understand if that would be a good summary of what it seems everyone is converging in the tokens discussion:

* **Keep `decimals()` as a standard for backward compatibility, but require that all tokens keep it to 18**
* **Add a secondary information called `granularity()`, or `minimalDivisor()` or something similar, that should be kept at 0, *unless* the creator wants to make their token

[2018-01-17 18:36] mcdee commented on #777
@alexvandesande on the second point, it should be `1` not `0` as the minimum, but apart from that I'm in agreement.  I'd also make the value an absolute value rather than a power of 10, which means that unlike `decimals` this should be a `uint256`

[2018-01-17 21:10] eordano commented on #821
Hey Dieter, I thought this was a better way to express the wholeness of the changes I was proposing (as you see, they are quite a lot).

The three things were I think we've got completely different approaches are:

* Using `authorizeOperator` instead of individually `approve`-ing every asset
* The need for `transfer` to prevent tokens from getting lost to contracts that can't handle them
* Upgrada

[2018-01-17 21:11] eordano commented on #721
3. Robot does `transfer(bob, token 5)`
3.bis. The contract infers `from = ownerOf[token 5] = Mary`

[2018-01-17 21:30] fulldecent commented on #721
@eordano Yup, you win. Thanks for sharing.

[2018-01-17 21:33] fulldecent commented on #721
Could anyone here please explain the convention of prefix underscores for all function inputs? Is this a documented best practice? Documented where?

[2018-01-17 22:54] MicahZoltu commented on #721
Public storage variables have auto-getters created for them in Solidity, and those getters are named after the variable.  So if you have a storage variable named `owner` and you mark it as public then a function named `owner()` will be automatically created for you.  Further, there is often a desire to have function parameters or local variables with the same name as a storage variable.  The most

[2018-01-17 23:19] dete commented on #821
[I like this!](https://github.com/ethereum/EIPs/issues/721#issuecomment-354381410) I haven't had a chance to integrate it into the 721 draft, however.

Unfortunately, we do disagree on this. I think that preventing user errors is a [porcelain problem](https://git-scm.com/book/en/v2/Git-Internals-Plumbing-and-Porcelain), not a plumbing problem. It's not the job of the filesystem to decide if the fi

[2018-01-17 23:47] Beskhue commented on #721
@fulldecent The interface signature as of December 14, 2017 (as calculated by your interface code) is 0x19595b11, *not* 0xa9059cbb.

[2018-01-18 06:17] ImAllInNow commented on #821
I agree with @dete that moving towards one NFT standard is preferable to multiple standards especially when this concept is new and has not been specifically supported by wallets/exchanges yet (that I know of).

Definitely some good improvements suggested in the interface as described here. I like the use of an authorized operator and the idea of storing an index mapping to allow for a users asset

[2018-01-18 10:57] simondlr commented on #821
I think regardless whether the UI should prevent the user from doing this (I think it should), it's still valuable to have another contract be notified with only requiring 1 transaction (from a plumbing perspective).

[2018-01-18 14:15] ImAllInNow commented on #721
@skylarrudolph you could "lazy load" your NFTs. Basically assume they have been created and are owned by you already and only when they are transferred to someone else are they actually created.

[2018-01-18 18:50] alexvandesande commented on #834
This is not a forum for troubleshooting smart contracts. If you're the one building the contract, please refer to stack overflow on solidity, if you're trying to use someone else contract, then ask them for better instruction on why your tx is being rejected.

[2018-01-18 18:50] jbaylina commented on #777
Updated the standard and the reference implementation with the `granularity()` and the fixed decimals.  Please, check  you see it ok.

[2018-01-18 21:30] swswsw commented on #721
@dete FYI. There might a small typo.  "NTF IDs" should be "NFT IDs".

[2018-01-18 23:06] fulldecent commented on #721
@skylarrudolph That is an implementation problem. The way I did it was to understand 0 as meaning owned by me.

[2018-01-19 08:41] pirapira commented on #716
I saw `ldb` errors and I couldn't sync further.  Maybe the problem might have been fixed in cpp-ethereum.  I'll rebase and try again.

[2018-01-19 12:17] mcdee commented on #777
@jbaylina cool.  If you're going to use past tense for all events you should also change Mint->Minted and Burn->Burned

[2018-01-19 15:49] jacquesd commented on #777
@mcdee Nice catch, it's been changed at jacquesd/eip777/pull/18 It will be updated here very soon.

[2018-01-19 17:05] fulldecent commented on #721
The meeting is NOW, please join if you're interested

[2018-01-19 17:06] jadhavajay commented on #721
How to join?

On Fri, 19 Jan 2018 at 10:35 PM, William Entriken <notifications@github.com>
wrote:

--
Regards,
Ajay Jadhav

[2018-01-19 17:12] nicksavers commented on #825
True, the PR for this is in progress and has not been merged yet.

[2018-01-19 17:12] #825 closed

[2018-01-19 17:13] fulldecent commented on #721
Just login on Gitter and click that link. Then keep hitting reply and reloading the page.

It's a pretty stupid tool if you ask me. But it seems canonical for ETH discussions.

[2018-01-19 18:44] fulldecent commented on #721
We just concluded the meeting on Gitter. See details at https://gitter.im/ethereum/ERCs?at=5a62259b5ade18be3998eec4

Participants:

- @fulldecent William Entriken
- @ImAllInNow Rob from DEC Gaming / Presenting Michigan Ethereum Meetup Feb 7
- @Arachnid Nick Johnson
- @jadhavajay Ajay Jadhav from AyanWorks
- @superphly Cody Marx Bailey - XRAM Capital / Sharing at hackathon Jan 20

Discussion:

- Re

[2018-01-19 19:27] stevenh512 commented on #777
@onbjerg

Why would people need to migrate to new multisig wallets? By design, multisig wallets can execute any arbitrary transaction, there's no reason they can't register an `ITokenRecipient` interface registrar and/or register themselves with the tokenable contracts registrar. Once you've done either of those things, as long as your multisig's fallback function doesn't throw/revert on a 0 value

[2018-01-19 23:37] abandeali1 commented on #827
I think that allowing the token contract to call any function at any address is much less useful than calling some sort of `tokensReceived` method (as in ERC223/777). Receiving contracts have no way of knowing that the calling address is a token contract, so they can't really do anything useful with the passed in data.

A big part of this is that `msg.sender` will always be the token address, wher

[2018-01-20 00:05] AugustoL commented on #827
@abandeali1 thanks for the feedback! But I think this is more useful because you dont need to have any specific method in the receiver contract to call it, but if the contract has it you can still use it, so you can call any other contract and make use of the `tokenFallback` function. In fact I think we can say that this token is also ERC223-Receiver compatible ?

There is way to know who executed

[2018-01-20 02:18] abandeali1 commented on #827
@AugustoL this is partially true. The major difference is that in ERC223/777, `from` and `value` are always passed to the `tokensReceived` callback, so receiving contacts can rely on those arguments with the assumption that the token conforms to the standard. With ERC827, what is preventing me from telling the receiving contract that I transferred 10000000 tokens when I actually only transferred 1

[2018-01-20 05:22] fulldecent commented on #165
^ If anyone thinks this *is* a security issue, please share! Then I will have an excuse to find a collision!

[2018-01-20 05:23] fulldecent commented on #165
@jbaylina This interface should be updated to `pure` mutability. Otherwise, caching will not work!

Current PR does not have this https://github.com/ethereum/EIPs/pull/639

[2018-01-20 05:23] fulldecent commented on #165
Ping @chriseth

[2018-01-20 14:53] federicobond opened #838 "EIP 838: ABI specification for REVERT reason string"
EIP: 838
    Title: ABI specification for REVERT reason string
    Author: Federico Bond
    Status: Draft
    Created: 2017-01-20

## Simple Summary

A proposal to extend the ABI specification to include typed errors in the REVERT reason string.

## Abstract

This proposal specifies how to encode potential error conditions in the JSON ABI of a smart contract. A high-level language could then prov

[2018-01-20 15:06] veox commented on #165
@fulldecent I disagree on the `pure` part.

There are already examples of upgradable dispatcher/proxy contracts with `DELEGATECALL`s to libraries. I'm working on furthering this, to support those as swap-{in,out} modules.

Hard-coding supported interfaces into bytecode would work against this use case.

The fact that the use case breaks caching is, well, unfortunate. Perhaps the assumption that su

[2018-01-20 19:15] sinzin91 commented on #838
Great idea!

[2018-01-20 20:10] fulldecent commented on #165
It is true that programers will deploy half-baked contracts onto the network. See Cryptokitties. But that's their fault. If a contract advertises compliance with an interface then I expect it to comply with that interface -- today, tomorrow, or whenever I feel like interacting with it.

I know people would love to deploy an empty contract, and then set a delegate contract to do all the processing.

[2018-01-20 22:43] grosu commented on #717
Has anybody done an empirical amortized analysis of the gas savings?  Indeed, you do save gas when you want to approve some account without limitation, but on the other hand you spend gas to evaluate the unnecessary `allowance < MAX_UINT` condition for all the other accounts.

[2018-01-21 00:15] macalinao commented on #821
Have you considered implementing something for lienholders?

Let's say you have a plot of LAND that you are using as collateral for a bond, i.e. a mortgage. What if there was a way to allow a contract to transfer ownership of a plot of LAND without the land owner being able to revoke this access?

[2018-01-21 15:51] ImAllInNow commented on #721
@mimoo Can you explain your use case? Could you not have two separate contracts, one for the ERC-20 tokens and one for the ERC-721 tokens? How can your token be both fungible and non-fungible?

[2018-01-21 16:46] mimoo commented on #721
I could have two contracts but imo it makes the code more complex (although I haven't thought long and large about it). The use case is just to have a token and a set of assets tightly tied together.

[2018-01-21 17:47] eordano commented on #721
@fulldecent some comments on your notes I have after reading the chat transcript:

1. NACK on one-step transfer optional. This issue is too controversial and the main criticism is "garbage items". That looks like a UX problem that is easily solved there. The two-step transfer is too expensive and the UX is terrible: I send you an item, you have to filter events and be notified, approve the transac

[2018-01-21 20:11] Shrugs commented on #821
I expect lienholders (new word for me!) to be a strong usecase for collectibles, especially as we move to a tokenized future. Think loans collateralized by fine art (or, hell, cryptokitties). Same with, say, propy houses.

It'd be possible to create that functionality with a "wrapper" contract (like an escrow), but that's not _entirely_ ideal.

Could either be an optional extension to this EIP (ni

[2018-01-21 20:15] Shrugs commented on #721
@mimoo can you expand on your usecase? As I see it, fungibility and non-fungibility are mutually exclusive; something couldn't both confirm to ERC20 (where each token is interchangeable) and also ERC721 (where each token is logically separate).

[2018-01-21 20:21] fulldecent commented on #721
@eordano Thanks for the feedback.

Garbage items is more in scope for #721 than #20 because #721 includes deeds. An additional criticism of one-step transfer is explained in #223.

Regarding #820, that does not require an interface (like 721) to do anything to support it. That is up to the individual contract implementations to do it.

I hear you loud and clear on the third point. This will be in

[2018-01-21 21:19] ryanschneider commented on #721
RE: ERC20 naming conflicts. This is a good point. What if I want to use an
ERC20 token as the unit of price for my ERC721 assets?  In seems like
having both defined in the same contract can save on gas and ease the
implementation, but isn’t possible with name conflicts.

On Sun, Jan 21, 2018 at 12:21 PM William Entriken <notifications@github.com>
wrote:

[2018-01-22 09:21] pirapira commented on #838
Pinging @axic: he had some ideas how to use `REVERT` when he proposed `REVERT`.

[2018-01-22 14:47] fulldecent commented on #721
What if you want to use an ERC20 as the unit of price for a different ERC20 in the same contract? Likewise, that wont work. So it is not abnormal that ERC721/ERC20 has the same limitation.

[2018-01-22 19:13] hyperfekt commented on #821
I suggest that every ERC821 asset registry must register the "IAssetRegistry" interface with ERC820, that way contracts can automatically discern if a given NFT conforms to this standard.
An example of how that would be used: https://github.com/hyperfekt/ethereum-auctions/blob/master/NFTAuction.sol

[2018-01-22 20:59] fulldecent commented on #165
Or, said another way:

[2018-01-23 03:50] hyperfekt commented on #809
May I suggest that we work towards making individual reservations NFTs conformant to ERC821/721? This would allow reusing smart contracts that handle these kinds of NFTs for individual reservations, and reimplementing e.g. transfers, auctions and sales could be avoided.

[2018-01-23 03:59] mjdillon commented on #777
I have to say, I'm really not a fan of relying on tying a new token standard to the use of an external function registry. I think determining how a token transfer should process should be left as part of the token implementation if the author wants to do anything beyond perhaps querying the receiving address as to its capabilities.

If there needs to be more than one way to transfer a token based

[2018-01-23 08:16] hyperfekt commented on #777
The standard says that the ERC20 functions transfer()/transferFrom() SHOULD also call onTokensReceived (if it is registered), which I think is a very good solution to gain the functionality of this standard while maintaining compatibility with ERC20. This wouldn't be possible with your suggestion.

[2018-01-23 11:02] hyperfekt commented on #798
I could imagine that it would be possible to drastically increase compatibility by implementing the ability to own a contract with an ERC821/721 registry, and the contract looking its owner up there.
We would gain all the work done in different transfer methods for these, as a smart contract can effectively be seen as a non-fungible token.

[2018-01-23 12:06] lichuan commented on #20
is this closed?

[2018-01-23 13:02] frozeman commented on #20
Yes: The final standard can be found here: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20-token-standard.md

[2018-01-23 13:03] frozeman commented on #725
Thanks will add this to the ERC above

[2018-01-23 13:16] frozeman commented on #725
i changed `type` to `keyType`. But i would actually like to rename that to `type`, any ideas on that?

[2018-01-23 13:22] jchittoda commented on #223
I have an Smart Contract which does handing with ERC20. Can the same Smart Contract will be able to accept the ERC223 tokens as well ? I think it will fail because this transferToContract() method will be called and it will not find the fallback method on my Smart Contract.

[2018-01-23 13:26] Souptacular commented on #20
Yes this is closed as @frozeman says.

[2018-01-23 13:33] AnthonyAkentiev commented on #223
Yes, this is a huge problem for us.
ERC223 states that it is "backward compatible" with ERC20. However ERC223 can not be used to transfer tokens TO the contract that only works with ERC20 tokens.

Is that as was intended?
Or is it a bug?

See here - https://github.com/Dexaran/ERC223-token-standard/blob/Recommended/ERC223_Token.sol#L98

[code]

[2018-01-23 15:35] Dexaran commented on #223
Every contract that is intended to work with ERC20 tokens **MUST** receive tokens via `transferFrom` function. If a contract can receive ERC20 tokens via `transfer` function then it is a bug of ERC20 token standardand and a critical security issue (silent lack of transaction handling).

It was fixed in ERC223.

[2018-01-23 15:36] Dexaran commented on #223
If you implement a `transferFrom` function in ERC223 token then it will work the same as if it is ERC20 token.

[2018-01-23 16:12] tbocek commented on #725
In [ERC735](https://github.com/ethereum/EIPs/issues/735) you have "scheme" for the type of the key:

[code]

[2018-01-23 16:43] TCOA commented on #721
Certainly I am coming to this very late, however, as one currently [looking for a solution to a land/parcel problem](https://ethereum.stackexchange.com/questions/37232/creating-a-financially-feasible-land-title-blockchain/37238#37238), ERC721 does seem to be what I'm looking for.

One feature that I didn't read about in the comments is a common thing in real estate transactions - where the two par

[2018-01-23 16:53] LefterisJP commented on #20
@frozeman @Souptacular It could then be beneficial to lock this thread as no further discussion should happen here. HOWTO: https://help.github.com/articles/locking-conversations/

[2018-01-23 17:00] chriseth commented on #165
@fulldecent @jbaylina I'm fine with handing off this EIP to someone else. Others have spent far more time thinking about this than me. I'm not sure github can do transferring issue ownership, but otherwise it might also be a good idea to open a pull request if people think that some form of this is already solidified.

Note that the hash collision issue is also present in function selectors themse

[2018-01-23 17:01] chriseth commented on #165
By the way, I would not consider this too much of a problem for this EIP (it is a problem for auditors and tools have to warn auditors), since what a contract announces to support and how it actually behaves are two different things anyway.

[2018-01-23 17:07] 3esmit commented on #677
There is a lot of problems caused by ERC20, specifically the bad usage of transfer to contracts supporting usage of approval.
I think it would be interesting to block direct transfers to contracts, I mean, using the method `transfer(address to, uint amount)` to an address which `codesizedata > 0`. But this block would not exist in `transferFrom(address from, address to, uint amount)`, or would be

[2018-01-23 17:09] 3esmit commented on #20
There is a lot of problems caused by ERC20, specifically the bad usage of transfer to contracts supporting usage of approval.
I think it would be interesting to block direct transfers to contracts, I mean, using the method `transfer(address to, uint amount)` to an address which `codesizedata > 0`. But this block would not exist in `transferFrom(address from, address to, uint amount)`, or would be

[2018-01-23 17:24] devzl opened #839 "A clearer naming convention for events"
The only convention that differentiates triggering an event from calling a function now, is the capital letter at the beginning of an event.

I think it will be a better thing, to make the code of a Solidity snippet more clear, and make a developer's intentions explicit, is to prefer another naming convention for events such as:

* Putting an "E_" at the beginning. Example: E_Transfer
* Ending the

[2018-01-23 17:58] flygoing commented on #822
You can always just resubmit a tx with the same nonce with a higher gas price to get it mined faster. Nodes will only keep one in the transaction pool, and they'll favor the one with a higher gas price.

[2018-01-23 18:19] MitchK commented on #822
@flygoing That's true! However, how would you detect that I need to overwrite a nonce? Wouldn't I need to wait for some time? And wouldn't I lose a transaction?

[2018-01-23 20:36] fulldecent commented on #165
Oh yeah, functions only have four byte signatures!

Cool. Maybe I can help here after ERC721.

[2018-01-23 20:37] fulldecent commented on #721
TCOA. Thank you for declaring this use case. I have an implementing coming this week and it does address this use case.

[2018-01-23 22:55] mcdee commented on #777
`send()` might be problematic for a couple of reasons.  First, `truffle` (at least, unsure about other Javascript apps) creates contract objects with a `send()` method for their own purposes and as a result it is not possible to test an EIP-777 token within `truffle` (calling `send()` goes in to a loop and eventually throws with an insane out of gas issue).  Second, overloading `send()` causes pro

[2018-01-24 03:01] Souptacular commented on #20
Thanks @LefterisJP I'll lock it.

[2018-01-24 06:12] fulldecent commented on #721
Thank you everyone! I have written up my interpretation of ERC-721 and I am moving forward with the standards process. Please continue this collaboration, I really appreciate the discussion.

# CONTINUE THE DISCUSSION HERE vvv

# > > > > > > > > https://github.com/ethereum/EIPs/pull/841 < < < < < < <

# CLICK HERE ^^^^^

mentions @ImAllInNow @Arachnid @jadhavajay @superphly @dete @TCOA @ryanschnei

[2018-01-24 07:33] jbaylina commented on #777
@mcdee `send` is a perfectly valid method name in solidity.  And I think it's the best name because it remembers the "Ethereum method" to send tokens. And it's very diferent to `transfer`which is what I want to avoid.

As a work arround for this you can use:  `token.methods['send(address,uint256)`]` to call a send function and to explicitily distinguish between overloaded methods.

[2018-01-24 10:20] stevenroose commented on #650
The current implementation (as found in Quorum) breaks the concept of the "pending" block, used in several calls, but most notably in `eth_getTransactionCount` ([`PendingNonceAt`](https://godoc.org/github.com/obscuren/go-ethereum/ethclient#Client.PendingNonceAt) in `ethclient`):

In Ethereum, the pending block means the latest confirmed block + all pending transactions the node is aware of. This m

[2018-01-24 10:23] mcdee commented on #777
@jbaylina I agree with everything you say (although note that `truffle-contract` doesn't allow overloading of methods at current).  The concern comes from thinking about ease of adoption, testing, etc.  Perhaps it comes down to ensuring that good annotated examples are provided for situations like this where developers might be caught out.

[2018-01-24 12:01] superphly commented on #721
So now this is ERC-841?

[2018-01-24 14:02] AusIV commented on #821
What is the operatorData argument of `transfer()` for? The description of "the operatorData argument" is a self-referential description, and says nothing about what data goes there.

I'm kind of assuming it's just a blob of information that people can use when they need to communicate something not defined by the spec, but I feel like it needs more clarification.

[2018-01-24 14:29] AusIV commented on #821
I feel like there's still room for an `approve()` call.

Calling `recipient.onAssetReceived()` eliminates part of the need for `approve()` in that you an send an asset and invoke the recipient in the same call, rather than needing to call `approve()`, invoke a separate contract and have it execute `transferFrom()`.

Having `authorizeOperator()` addresses another part of the need for `approve()`, f

[2018-01-24 15:22] fulldecent commented on #721
My understanding is that for now pull request 841 is just a pull request  we are still ERC-721. The final EIP number is decided by the EIP editor. The proposed EIP number of the pull request is 721.

Authority:

Source: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md

[2018-01-24 17:05] fulldecent commented on #721
Hello everyone. #841 is now a candidate for acceptance. Please see https://github.com/ethereum/EIPs/pull/841 and vote there.

Acceptance is not the end, it is just the beginning. If you are reading this then you are the collaborators. Your vote of confidence is required to continue this process.

# PLEASE GO TO #841, CLICK THAT EMOJI.

[2018-01-24 18:20] strotter commented on #827
As of yesterday's release of zeppelin, those links in the above post no longer work because the contract code has been migrated into separate directories:

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC827/ERC827Token.sol

[2018-01-24 19:03] ajunge commented on #780
More context here: https://medium.com/uport/different-approaches-to-ethereum-identity-standards-a09488347c87

[2018-01-24 19:33] fulldecent commented on #165
Here is some progress. @chriseth do you have an opinion on whether a `supportsInterface` should be pure?

Arguments for:

* Caching works
* After you query supportsInterface you can be confident the interface is supported

Arguments against:

* Contract behavior (as far as whether it supports an interface) can't be changed after it is deployed

[2018-01-24 19:34] flygoing commented on #839
I think this would fit better as an issue in the Solidity repo regarding the [Solidity Style Guide](https://github.com/ethereum/solidity/blob/develop/docs/style-guide.rst). Events are specific to Solidity (the actual language in the yellow paper is *logs*) and naming conventions for languages that compile to EVM bytecode fit under preferred styling and not so much as an EIP. I believe the accepted

[2018-01-24 19:37] fulldecent commented on #165
Progress on a draft. Still has work to do. But I would not want to continue until more discussion on `pure` -- because that affects a large part of this proposal.

---

## Preamble

[code]

## Simple Summary

Creates a standard method to publish and discover what interfaces a smart contract implements.

## Abstract

This standard consists of the standardization of the following procedures:

1. How

[2018-01-24 19:48] devzl commented on #839
I reposted it in the Solidity repo, you are right, it will fit better over there.

[2018-01-24 19:48] #839 closed

[2018-01-24 20:32] AugustoL commented on #827
Thanks @strotter ! fixed :)

[2018-01-24 22:37] mcdee commented on #777
A slightly more left-field suggestion: add an `ITokenSender` interface that is the equivalent of `ITokenRecipient` but runs before the tokens are transferred.

The purpose of `ITokenSender` would be to allow a sender to put filters and actions in place prior to sending tokens.  It came out of consideration of how to put limits on an operator's ability to send tokens (similar to the limited `approv

[2018-01-25 01:38] mjdillon commented on #777
Might I suggest that tokensRecieved() be changed from

```function tokensReceived(address from, address to, uint amount, bytes userData, address operator, bytes operatorData) public;```
to
```function tokensReceived(address from, uint amount, bytes data) public;```

**Rationale:**
1. I have quite a bit of difficulty seeing a use case where a contract would need to get a copy of it's own address in

[2018-01-25 06:57] mcdee commented on #777
@mjdillon the contract handling `tokensReceived` does not need to at the `to` address, it can be a separate contract (`to` doesn't even need to be a contract it can be a regular address).  `operator` can be useful for auditing/accounting purposes, at the least.

[2018-01-25 11:14] jbaylina commented on #777
@mcdee I like the idea of `ITokenSender`.

I would follow the philosophy of just throw or not throw to accept the operation. Instead of returning true/false.

I would like to hear the opinion of the community on this proposal before including it. Specially if there is a strong opposition to this. If not, I'm going to add it.

^^@channel^^

[2018-01-25 11:25] mcdee commented on #777
@jbaylina throw/not throw means that the `ITokenSender` cannot both alter state and refuse the transfer, so use cases such as time-locked sends wouldn't be possible.

That said, I prefer throw/not throw in the general case.  If `ITokenSender` ends up using throw/not throw it reduces but doesn't eliminate the value that it brings.  I could certainly live with either solution but thought I'd highlig

[2018-01-25 11:29] jbaylina commented on #777
@mcdee Can you put a concrete example that would not be possible with throw/not throw?

[2018-01-25 11:33] wowa1983 commented on #777
19*27 ?

Am 25.01.2018 12:30 schrieb "Jordi Baylina" <notifications@github.com>:

[2018-01-25 11:45] mcdee commented on #777
@jbaylina here's a thrown-together example of a time-locked `ITokenSender`.  A real-world one would have separate times for each token as well as the to/from pair, generate an event when the initial request was denied (to allow the owner of the funds to be made aware of the clock ticking), and various other features to make it useful but this should be enough to show where allowing state updates b

[2018-01-25 12:24] frozeman commented on #735
@oed proposed a [Claim Holder Registry ERC780](https://github.com/ethereum/EIPs/issues/780). Which i think can work well together with your own self controlled and customised #735 identity.

[2018-01-25 13:45] flygoing commented on #822
If the tx isn't mined yet, get the estimated recommended gas price and if estimated time for the pending tx to be mined is longer than you'd like, replace it. What do you mean "lose a transaction"? You can replace the tx with only the gas price differing.

[2018-01-25 16:17] jbaylina commented on #777
@mcdee In general, I don't like when you use a method to do another. In this case make a transfer to activate the side effect of triggering a timer.

Let me propose you 2 alternative ways to solve it to see if I convince you:
[code]

And the second alternative

[code]

In general a smart contract that makes a transfer and return, wants it have the waranty that the tokens are transfered.

[2018-01-25 16:56] veox commented on #165
My previous comment on `view`/`pure` was that this is a compile-time distinction. It may be unenforceable at runtime (at least ATM). It's also Solidity-centric.

-----

In the draft, is the example token supposed to be ERC20-compliant?.. There's no indication to that effect, and it does lack `transferFrom(address,address,uint256)`, so I'd guess no; it would be nice, however, to explicitly state th

[2018-01-25 17:00] tbocek commented on #735
@frozeman you mean #725 identity?

[2018-01-25 19:08] mcdee commented on #777
@jbaylina 1) uses a separate function and 2) requires a user to send two different transactions to carry out the operation.  I agree there are lots of different ways of doing this, but none of them are as clean as just sending the same transaction twice.

That's an assumption that I've seen voided many times in contracts, although I do tend to agree with it unless there is a good reason to not.  A

[2018-01-26 03:19] nootropicat commented on #615
For formal analysis purposes, all of this is implementable right now as an intermediate language that's easily compilable to evm. PUTLOCAL and GETLOCAL are indeed very useful but there's no need for separate opcodes - stack could be mapped to negative memory and accessed with MLOAD/MSTORE (ie. the stack starts at (-32) and every push goes downwards). Space of one-byte opcodes is limited.

Why not

[2018-01-26 03:38] gcolvin commented on #615
The difference with PUTLOCAL and GETLOCAL is that they have to respect frame boundaries.  This proposal was meant to break compatibility less than eWasm, which breaks it completely.

[2018-01-26 03:41] SergioDemianLerner commented on #827
I find one important problem with this standard. The call to the receiver's contract is not authenticated. The receiver's contract cannot tell if the data received comes in fact from the sender or anyone else. I see people will start using it in this way:

token.transfer(receiver,amount, abiEncodingOf(received(sender ,amount))
The receiver contract would have a method received(address sender, uint

[2018-01-26 03:47] nootropicat commented on #615
Respect how? You replied previously that they doesn't throw "It pushes FP[-n] on the stack.". So they act as memory access just with fp as the offset.

[2018-01-26 04:23] gcolvin commented on #615
Validity condition 3.  Programs that try to get or put a stack slot outside of the local frame are invalid.  Memory access isn't constrained that way.

[2018-01-26 07:51] mcdee commented on #777
A few notes looking at minting and burning.

1. the `Minted()` event does not have operator data.  Given that the requirements for minting tokens requires `operatorData` and the `Sent()` event contains this data it seems like an odd omission
2. the documentation around `tokensReceived` for minting seems to be corrupted, specifically the second paragraph.  It is also unclear if `tokenable` contract

[2018-01-26 13:48] AugustoL commented on #827
@SergioDemianLerner Thanks for your feedback!

We require that the the `_spender` and `_to` cant be the token address itself but I didnt had any note about that in the spec.

If the contract have any other tokens or assets they are open for grabs, I dont see a problem there since the contract in my opinion in only responsible of handling the internal balances.

Authentication is something that I t

[2018-01-26 16:02] FBrinkkemper commented on #780
I have been following and reading the various ERC discussions for identity standards, and thanks to the above linked article decided to join the discussion.

An obvious use-case for this, that is being worked on by many already, is a registry for academic degrees. I am currently in the final stage of my master thesis around this subject, and have used the implementation of this standard for a Proo

[2018-01-27 03:21] eordano commented on #821
@AusIV the `operatorData` is there for protocols like 0x where you'd like to log some information about *why* the transaction was successful, for better auditability. For example, you could have the market making order be the operatorData, and the `userData` would be whatever arguments you want to pass on to the contract receiving the asset.

I think you're right about allowing `approve` as well a

[2018-01-27 03:23] eordano commented on #821
@hyperfekt I think the correct way to go about this is that the DAR should register the `ERC821` interface (an empty interface, just using it for the name) as a way of signaling that it implements the interface... what do you think?

[2018-01-27 03:24] eordano commented on #821
I just updated the post with the following changes:

* 2018/01/26: Alias "balanceOf" to "assetCount" for ERC20 compatibility
* 2018/01/26: Add decimals for more ERC20 compatibility
* 2018/01/26: Propose more metadata to be stored on-chain.
* 2018/01/26: Make EIP820 compatibility optional to receive tokens if onAssetReceived(...) is implemented.
* 2018/01/26: Add isERC821 flag to detect support.
*

[2018-01-27 09:30] albpal commented on #827
MEW doesn't recognize ERC827 as ERC20 standard:
![image](https://user-images.githubusercontent.com/18371158/35470615-edb756d4-034c-11e8-87bf-cfd1e9805809.png)

[2018-01-27 09:36] wowa1983 commented on #827
Was kann ich schnell korigiren?

Am 27.01.2018 10:30 schrieb "Albert Palau" <notifications@github.com>:

[2018-01-27 09:39] wowa1983 commented on #827
I can correct quickly

Am 27.01.2018 10:36 schrieb "Vladimir Galliardt" <wladigall@gmail.com>:

Was kann ich schnell korigiren?

Am 27.01.2018 10:30 schrieb "Albert Palau" <notifications@github.com>:

[2018-01-27 09:43] wowa1983 commented on #827
how do I correct that best

Am 27.01.2018 10:39 schrieb "Vladimir Galliardt" <wladigall@gmail.com>:

[2018-01-27 12:10] mcdee commented on #777
The documentation for `send()` says:

The second point appears to be incorrect.  Perhaps it should say "Specifically, it is a contract that neither registers an address (its own or another) via EIP-820 implementing the `ITokenRecipient` interface nor whose hash of the source code is in the whitelisted codes listed in the appendix of this code."

There is also no mention of `Tokenable` (hideous nam

[2018-01-27 12:25] hyperfekt commented on #821
@eordano What makes you propose an empty interface? I might be confused what you mean by this - shouldn't every registry announcing ERC821 support offer the full interface?

One thing that I'm a bit concerned with is the balanceOf alias - this could lead users who are not aware of the non-fungible nature to accidentally transfer random NFTs with id <= assetCount instead of that number of tokens, c

[2018-01-27 13:12] hyperfekt commented on #821
Also I fear that allowing to detect support via a method seriously hampers upgradeability in the spirit of #820.
I've not really seen 820 in the wild yet as I'm an utter newb, but this is the sort of thing I imagine that it would prevent (here we could assume ERC821 support is being added to an old NFT registry):
https://github.com/hyperfekt/ethereum-auctions/blob/proxylib/interfaces/EIP820/Upgrad

[2018-01-27 13:54] wowa1983 commented on #820
Es tut mir leid ich habe viel Stress ich habe nicht so viel Ahnung von github habe eigentlich das gemeldet deutlich habe 13 Kinder für die ich sorgen muss bin jetzt auch psychisch überlastet mit dieser Situation krige nicht deutige antworten übersetze kann kein Englisch die Hälfte was ich übersetze wird falsch übersetzt beklaut dazu dann waren Leute da aus denn Ausland haben nach mir gesucht mit e

[2018-01-27 13:54] wowa1983 commented on #820
Verwird *

[2018-01-27 13:56] wowa1983 commented on #820
In Dunkelheit *

[2018-01-27 15:05] hyperfekt commented on #777
I wholly support adding ITokenSender, I believe it's essential to making operators useful and the standard becomes very extensible to a lot of applications.
I don't see the harm in allowing side effects, especially since transactions in ERC20 can already fail without reverting, so this change would mirror that signature. But if that is adopted, I suggest allowing the same for ITokenRecipient, as w

[2018-01-27 16:57] AusIV commented on #821
What are you thinking in terms of a filter contract? Would that be something the user could specify that would be called to determine whether a given operator was allowed to move a given asset? That might work, but I'd hope to see some kind of pattern established for what it would look like. One thing to keep in mind is that people implementing DARs are expected to have some level of competency in

[2018-01-27 17:44] eordano commented on #821
@hyperfekt People implementing DARs would be organizations creating new kinds of digital assets. The DARs don't have to register themselves as IAssetHolder (in fact, they probably shouldn't -- that's why 223 initially started, token contracts usually are not meant to hold tokens). But they might choose to register the "erc821" interface and point the resolution to the same contract.

[2018-01-27 17:44] eordano commented on #821
@AusIV The fact of the matter is that the `approve` function is used with ~infinite values in practice. We built an application with non-infinite approve values and it was a pain to handle that. Wallets would be the implementators of the filtering functionality --supposedly experts as well.

To summarize, on one side:
* In practice, `approveAll` is all that's needed
* It's less expensive in gas co

[2018-01-27 18:37] wowa1983 commented on #776
Mit was für Modul macht Mann das ?Befehl? Oder kann Mann denn auf bestimmte Zahl runter regeln ? Bitte um info

[2018-01-27 19:06] hyperfekt commented on #821
@eordano
I think you might have misunderstood me. I was saying registries should register themselves as implementing "IAssetRegistry", not "IAssetHolder".

I'd like to support the argument of @AusIV for 'filter contracts'. Take a look at #777 where a perfectly analogous discussion is happening right now. This is a very important feature that would greatly increase flexibility, reduce the trust nec

[2018-01-27 19:50] eordano commented on #821
Oh I see @hyperfekt sorry for the confusion! Thanks for the correction. I'll take a look at the discussion!

[2018-01-28 02:55] AusIV commented on #821
I'm not opposed to allowing unlimited operators, but I'd like to see an option to just authorize specific items. I think the answer of "hold different assets in different accounts" may be limiting, depending on the nature of the DAR. It's not hard to imagine asset types where holding assets in the same account might offer some advantage over holding them in separate ones.

Some ERC20 tokens have a

[2018-01-28 10:55] mcdee commented on #777
I've spent a bit of time looking at `Tokenable` and have some concerns about its design and its impact on this EIP.

The idea of `Tokenable` is stated as:

The key word here is "themselves".  For a contract to register itself as able to accept tokens it needs to have knowledge of the tokenable contracts registry.

Given that the tokenable contracts registry is being presented as part of this stand

[2018-01-28 16:48] hyperfekt commented on #777
I was under the assumption that the main mechanism for transferring tokens would still be transfer() for a long while, even under ERC777 tokens, which means the protection would only be gained  for new contracts which actively choose to block receiving.
I don't see how manually adding contracts to the Tokenable registry would be capable of remotely covering the necessary contracts. Allowing manual

[2018-01-28 17:36] mcdee commented on #777
@jbaylina yeah a "centralized and trusted database" doesn't sound like it fits very well with the rest of the design.  Seems like dropping `Tokenable` is a good idea.

If a token contract is expected to send tokens to existing contracts it appears to make most sense to suggest that the token contract developer provide both EIP-777 and ERC-20 functionality, then they can fall back to `transfer()` w

[2018-01-28 17:37] mcdee commented on #777
@hyperfekt the problems with asking contracts to remove themselves from a registry are that a) some contracts might not know about the registry and b) some contract might not be able to remove themselves from the registry.

[2018-01-28 18:02] hyperfekt commented on #777
@mcdee Sorry, some redundancy slipped in there by accident. That provision was mostly just for the few contracts which might support before the registry goes live, but that is covered by checking for ITokenRecipient first.
The proposed registry (which includes ALL old contracts) just changes the protection from 'all contracts which are new and choose to implement ITokenRecipient' to 'all contracts

[2018-01-28 20:03] 3esmit commented on #191
@holiman Thanks for this ERC, I think that you version byte means that the wallet softwares that provide UX could understand one, or several subtypes of signatures.  I think 255 types are more then we need, but 0xFF can be used to extend this to the second byte, just like if this type contain subtypes.
0x45 (hex of char `E`) should be also a supported type by wallets, as is the legacy support, so

[2018-01-28 21:14] 3esmit commented on #191
Consider the following example:
[code]

`getApplicationUnsignedDataHash(bytes data, uint nonce) ` would be used by UI to help signing a transaction.
This could be improved within solidity, by adding a new keyword to specify that function purpose is to build a signed term to the contract.
With this, a interface could be created that could be used with ABI to wallets able to sign a message to that c

[2018-01-28 21:36] 3esmit commented on #725
@frozeman can you confirm `keyType = 0` is used for contract calls as signature?

[2018-01-28 22:18] Hackdom commented on #191
@alex-miller-0 and @3esmit I was just messing with this today. I think the chainId is an important addition, we have to assume 1) There will be multiple public chains for which the same data packet would be useful and 2) Users prefer to have the same addresses cross chain. I defined the chainId in the contract constructor, this is ideal since you could deploy the same contract in any EVM network,

[2018-01-29 03:43] vst42 opened #857 "ERC: Search interface standard"
## Preamble

    EIP: <to be assigned>
    Title: Search interface standard
    Author: Vincent Stark <vince@xiveti.com>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2018-01-28

## Simple Summary
Define a search interface standard to be used by Ethereum search engines. This would provide a way to search for data inside smart contracts' history.

Each smart contract tha

[2018-01-29 08:55] laksh95 commented on #23
I have a small doubt here, does delegate call allows the callee contracted to access the msg.sender(ethereum address of the account) of the caller contract?

[2018-01-29 12:07] mcdee commented on #777
@hyperfekt token contract developers have two options.  They can either include ERC-20 functionality, in which case they can have the "benefits" of ERC-20 compatibility, or they can exclude ERC-20 functionality.  Either way, though, sits outside what I see as the remit of EIP-777.

[2018-01-29 12:26] mcdee commented on #777
Apologies for the scattered nature of these comments but I believe that it makes sense for the `Burned()` event to also have a data parameter, `userData`, analagous to `Sent()`.

There are also issues with the `Sent()` and `Minted()` events over the ordering of their arguments.  Indexed arguments are stored as topics rather than data, so taking `Sent()` as an example in fact the values will be sto

[2018-01-29 12:42] chriseth commented on #165
`view` will be enforced using `staticall` soon.

[2018-01-29 12:51] jacquesd commented on #777
@mcdee The idea of tokensToSend is interesting, however I don't see any use case which
could not be done with an operator and `operatorSend`.

Quick examples to illustrate what I mean with your examples

1. limit addresses to which the token can be transferred (so tokens in your cold wallet can only be transferred to your hot wallet):
[code]

2. limit the number of tokens that can be transferred i

[2018-01-29 14:18] jacquesd commented on #777
@mcdee
### `userData` in `Burned`
In `Sent`, the `userData` is intended for the recipient not the sender. With `Burned` there is no recipient so the `userData` would be intended to no one.

Passing `userData` in `Burned` to the "burner" would compare to passing `userData` to the sender in `Sent` but that is meaningless since the `userData` is originating from the sender.
What type of data are you

[2018-01-29 14:20] mcdee commented on #777
@jacquesd regarding using `operatorSend()` instead of `ITokenSender`: yes you could use external contracts to carry out the operation, but they would not trigger when called through functions that are part of the proposed standard.  The benefit of `ITokenSender` is that it triggers on a standard call to the token contract's `send()`, which makes it very powerful and, in my opinion, greatly increas

[2018-01-29 15:28] mcdee commented on #777
### `userData` in `Burned()`

In general (i.e. across all functions), I can see `userData` having two different purposes.  The first is to allow `ITokenSender`/`ITokenRecipient` to receive additional information and act upon it.  The second is to provide some sort of additional record to the transaction, for example it might contain a reference ID (order number when sending to a vendor, account nu

[2018-01-29 15:41] wowa1983 commented on #777
Wie korrigiere ich das oder ist ok

Am 29.01.2018 16:28 schrieb "Jim McDonald" <notifications@github.com>:

[2018-01-29 15:41] wowa1983 commented on #777
Gips App dafür ein Tip zum verbessern

Am 29.01.2018 16:40 schrieb "Vladimir Galliardt" <wladigall@gmail.com>:

[2018-01-29 16:10] dadeg commented on #827
@AugustoL To be clear,

You are talking about a pattern like this?

[code]

This would require the receiving contract be aware of the token contract address. It would be nice if the sender and value were passed as arguments so we would not need to do the approval-allowance-transferFrom dance.

[2018-01-29 16:11] hyperfekt commented on #777
I see what you mean. My worry is that with so much infrastructure using ERC20 in place it will aeons for ERC777 `send` to become the default, as it basically requires replacing every contract that deals with tokens at all. (I don't see any tokens not implementing ERC20 for now).
I might however be mistaken in the number of new contracts that implement tokensReceived, I admit I have a somewhat pess

[2018-01-29 16:29] AugustoL commented on #827
@dadeg Something like that, yes! Keep in mind that you can send the value in the call data and you also can instantiate a ERC20 token using the msg.sender address.
[code]
Although I would recommend to have some way to specify the token address in the contract itself, if not it can be called from any ERC827 token.

[2018-01-29 16:44] dadeg commented on #827
Thanks! I am unsure if sending value is a wise idea, considering there is no guarantee that the value mentioned in the `_data` argument matches the `value` argument in the original `approve` call: `token.approve(receiver, 10, keccak256("canReceive(sender, 1000)"))`

As long as the receiving contract knows the address of the token contract, this `approve-allowance-transferFrom `pattern seems like a

[2018-01-29 17:18] fulldecent commented on #165
@chriseth thanks for the note. Currently we are discussing the distinction between view and pure. This is not impacted by `staticcall`.

[2018-01-29 17:25] mudgen commented on #721
Instead of calling them "non-fungible tokens", or "NFT", we could call them "nungibles".

[2018-01-29 20:29] vbuterin opened #859 "Account abstraction for main chain"
The following is a copy of the account abstraction proposal discussed [here](https://ethresear.ch/t/tradeoffs-in-account-abstraction-proposals/263) but coalesced into one piece and adapted for the ethereum main chain by adding back in mandatory in-transaction nonces.

### Specification

A new type of transaction is allowed, with the following format:

[code]

Executing a transaction of this format

[2018-01-29 21:55] VoR0220 commented on #23
yes.

[2018-01-30 03:53] fulldecent commented on #857
I don't see any use case. Always start with the use cases.

[2018-01-30 04:39] fulldecent commented on #820
I am working on the competing ERC-165. We are suffering from one very specific problem: how to deal with these crazy DELEGATECALL contracts that may implement an interface today and stop implementing tomorrow. This solution certainly has a solution to that.

[2018-01-30 04:58] hyperfekt commented on #820
@fulldecent There's some source code linked here:
https://github.com/ethereum/EIPs/issues/777#issuecomment-356103528

[2018-01-30 04:58] fulldecent commented on #820
There is no need to choose a special name for the manager's interface. Simply set the hash directly.

[code]

Here is an implementation passing all test cases: https://github.com/jbaylina/eip820/pull/3

[2018-01-30 05:13] fulldecent commented on #820
Now here's a crazy idea.

What if 165 did the same thing is this but just removed the `[addr]` part?

[2018-01-30 07:37] yhuag opened #860 "ERC860: Custodian-Client Contract Standard"
## Preamble

    EIP: <to be assigned>
    Title: Custodian-Client Contract Standard
    Author: Lee Ting-Ting <tingtinglee.codingirl@gmail.com>, Hu Yao-Chieh <cs.yaochieh.hu@gmail.com>
    Type: Standard
    Category: ERC
    Status: Draft
    Created: 2018-01-30

## Simple Summary
A standard interface of custodian smart contracts that allows on-chain creating and tracking of client smart contrac

[2018-01-30 08:42] mcdee commented on #777
@jacquesd I read through the latest version of the EIP and there are a few grammatical/layout changes I'd like to make to help readability.  I'm happy to do it whenever, but wouldn't want to clash with any functional changes to the EIP so let me know when you'd like me to make the tweaks and I'll send over a PR.

[2018-01-30 08:46] laksh95 commented on #23
@VoR0220 will be available in the msg.sender itself or in some other variable?

[2018-01-30 09:35] jacquesd commented on #777
@mcdee Thanks, I am aware of some of them too but since we are still updating the standard I would wait a bit. I have a couple typos already fixed and a few things to move around so a PR now will clash. I'll let you know but a PR once the standard is updated will be appreciated.

[2018-01-30 13:15] cslarson opened #861 "EIP 858: Reduce block reward"
[EIP: 858](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-858.md) is a proposal to reduce the block reward to 1 ETH.

* [Reddit discussion (28-01-2018)](https://www.reddit.com/r/ethereum/comments/7tjiru/reduce_issuance_yes_again/) - Reduce issuance (yes, again)
* [Reddit discussion (05-02-2018)](https://www.reddit.com/r/ethereum/comments/7vewys/10000_tons_co2_per_day_and_climbing_eip_858/)

[2018-01-30 14:47] jacquesd commented on #777
@mcdee
#### `userData` in `Burned()`
You are right, there could be uses case where a user would want to add some information as to why tokens are burned. And it also possible that an operator wishes to add data when burning tokens.

#### `operator` in `Minted()`
You may be confusing the meaning behind `from`, `UserData`, `operator` and `operatorData`. This is not localized to minting but is valid

[2018-01-30 14:49] fulldecent commented on #820
@hyperfekt Thank you, and is there anything more that explains the calculations?

[2018-01-30 15:53] hyperfekt commented on #820
Pinging @Arachnid, since he came up with that technique.

[2018-01-30 17:09] mjdillon commented on #777
Generally speaking, until ERC820 is implemented, no one issuing a new token
is going to implement ERC777. It's one thing to implement a single draft
standard, but two is a business risk.

On Tue, Jan 30, 2018 at 11:59 AM, GoldenDave <notifications@github.com>
wrote:

[2018-01-30 18:10] hyperfekt commented on #777
I was not arguing people are not going to implement ERC777, but rather that they will implement ERC20 in the same token and people will keep using the ERC20 `transfer` function.

[2018-01-30 21:58] Recmo commented on #165
The cache could have a public function `queryContract(address, bytes4)` that bypasses cache and re-queries contract. This allows contracts that change their interface to eventually update caches.

There will be a period with stale data in the cache. In the case of a contract adding support for an interface, this should not matter much as the contract works as advertised by the cache. New functiona

[2018-01-30 22:21] Recmo commented on #165
@fulldecent  In your token example you only claim support for ERC223, but it also supports ER20Basic. It would better illustrate the point of this EIP if it flags support for more interfaces:

[code]

(Alternatively it could be done by declaring more interface contracts and using inheritance.)

[2018-01-31 00:06] fulldecent commented on #165
@Recmo. Thank you, I will work this into the next version.

[2018-01-31 01:17] Recmo commented on #165
@fulldecent I've written a bunch already ([source](https://github.com/0xProject/0x.js/pull/353/commits/52c566612e0a9afe543adf2039668a433ac19ae6)). I went with your inheritance approach.

@all: Would it make sense to have a canonical repository for these interface contracts somewhere? Perhaps as part of the `ethereuem/EIPs` repo. These interface contracts are currently being copy-pasted to all sort

[2018-01-31 02:19] fulldecent commented on #165
Right now we have a few solutions for what we are trying to solve:

|                                          | 165-VIEW | 165-PURE | 820  |
| ---------------------------------------- | -------- | -------- | ---- |
| Can express if you implement an interface | YES      | YES      | YES  |
| Can change if you implement an interface | YES      | NO       | YES  |
| Can accurately cache results with

[2018-01-31 02:36] fulldecent commented on #165
---

Also, we could just be a boss and do actual introspection on the blockchain from a contract.

* This only works from Solidity
* This exploits the fact that Solidity inserts function dispatch boilerplate at the beginning of all contracts
* Function dispatch knows of all defined functions
* This wont work if the contract has some fancy assembly in its fallback function (i.e. it's own function d

[2018-01-31 03:16] fulldecent commented on #820
Proposal for naming interfaces.

# Interface name

Your interface name is hashed and sent to `getInterfaceImplementer()`. If you are writing a standard, it is best practice to explicitly state the interface name and link to this published EIP 820 so that other people don't have to come here to look up these rules.

## If it's an approved EIP

The interface is named like `erc20`. The meaning of thi

[2018-01-31 04:43] vince-stark commented on #857
@fulldecent I've updated the issue with some more examples. I think there is value there. This `search()` function is a very important piece of the upcoming Ethereum infrastructure, providing a unified interface to search data within any smart contract.

[2018-01-31 04:57] 3esmit commented on #861
The EIP mentions a security risk in high mining hashrate. Can you explain?

The complexity is in community consensus, not code.

[2018-01-31 07:23] Recmo commented on #165
Haha, yes, I non-seriously considered decompiling too. (Btw, the current selector prequel has a gas cost linear in number of functions, but low constant cost is quite doable using a map)

Just to be clear. With 'heuristics' in my earlier comment I meant something similar to @jbaylina's `noThrowCall` to check for the existence of never-throw functions like `owner`, `balanceOf`, `allowance`, `name`,

[2018-01-31 07:30] Recmo commented on #820
What happens if I make a token contract, and then maliciously set the erc20 implementer to the Golem token contract. Will contracts using my token now unexpectedly call `transfer` on the Golem token?

[2018-01-31 11:18] cslarson commented on #861
The demand the Ethereum network creates for mining now has a significant affect on the market for GPUs: stimulating supply as well as the conversion from other purposes to mining. While (productive) mining secures the network, the threat mining is securing the network from is other (adversarial) mining. Once hashrate has reached a point at which costs of an attack are prohibitively high, further g

[2018-01-31 11:41] jbaylina commented on #820
@fulldecent
I would remove the drafts part. You will break the compatibility when the standard is defined.

Regarding the name, i like the interfaces to have readable names:

erc20-token
erc777-token
erc777-tokenHolder

[2018-01-31 11:49] jbaylina commented on #820
@fulldecent Updated the proposal with your proposed changes without the drafts...

[2018-01-31 11:52] jbaylina commented on #820
@Recmo  The manager of the golemContract would be the only one to change the implementation for his address.  And in the case of the token interface, this does not apply.

[2018-01-31 14:29] fulldecent commented on #857
These are all supposed use cases. Presently, Crypto Kitties has not identified a need for searching historical kitty names, Crypto Kitties users have not expressed a similar need, people do not use Ethereum for blogs, newspapers have not talked about Ethereum being used for blogs. Usually the actual use cases come first, then competing implementations happen, and then when everybody has made their

[2018-01-31 14:37] MrTibbles commented on #857
[Etherscan](https://etherscan.io/) springs to mind....

[2018-01-31 14:43] fulldecent commented on #820
The issue regarding drafts is, for example with 721, there are now 7+ unversioned and incompatible interfaces for ERC-721. If cryptokitties launched with "I support 721" then somebody using 721 interefaces will be disappointed when CK doesn't do it the way that is standardized.

[2018-01-31 19:49] Recmo commented on #820
@jbaylina Let me illustrate with a more explicit example. Consider the following hypothetical exchange that implements EIP820:

[code]

We will attack this exchange. First, I deploy a reasonable token contract that implements EIP820:

[code]

Looks reasonable, right?

Now I get people to trade this token on the exchange. When the conditions are right, I make the following transaction (pseudo-code)

[2018-01-31 20:03] fulldecent commented on #820
Ah... no. There is no contract that needs to inherit from ERC-820. ERC-820 is not an interface. It is just a specific contract on the blockchain.

[2018-01-31 20:06] Recmo commented on #820
@fulldecent I'm using [EIP820](https://github.com/jbaylina/eip820/blob/master/contracts/EIP820.sol), which to me looks like it's intended to be inherited from. (I think you might confuse it with [InterfaceImplementationRegistry](https://github.com/jbaylina/eip820/blob/master/contracts/InterfaceImplementationRegistry.sol)).

I can rewrite the attack to work without inheritance, if you like.

[2018-02-01 00:58] fulldecent commented on #820
Yes, the attack is valid. Good fix.

[2018-02-01 04:56] jbaylina commented on #820
@Recmo @fulldecent Updated the proposal with your suggestion.  Please review.

[2018-02-01 11:32] amitkumarj441 opened #863 "EIP: Ether balance updation/modification"
It's possible to change the balance of a contract in 3 different ways:

- Send a transaction to it.
- Send a transaction to it before it has even been deployed.
- Make it the beneficiary of a kill function, which triggers no internal transaction.

Below Contracts in use:

- `StraightPay` sends Ethers to addresses.
- `WithoutValue` is a contract that rejects Ether transfers via transactions.
- `Let

[2018-02-01 16:44] devzl opened #864 "Divisible non-fungible tokens (Shared ownership over NFTs)"
For our project we are exploring the need to have divisible non-fungible tokens, or in other words, shared ownership over a non-fungible token.

At first we thought about using the ERC-721, but it was illogical to have someone considered as the sole owner of a token when in fact he/she could only have a percentage of that token.

So the idea is that each unique, non-fungible token can be separated

[2018-02-01 16:45] lgalabru opened #865 "ERC865: Pay transfers in tokens instead of gas, in one transaction"
## Preamble

	EIP: <to be assigned>
	Title: Token standard
	Author: Ludovic Galabru
	Type: Informational
	Category: ERC
	Status: Draft
	Created: 2018-01-30
	Requires: EIP20

## Simple Summary
Ability for token holders to pay transfer transactions in tokens instead of gas, in one transaction.

## Abstract
The following describes one standard function a token contract can implement to allow a user t