[2018-02-01 16:50] jamslevy opened #866 "EIP 867: Standardized Ethereum Recovery Proposals"
## Preamble

    EIP: 867
    Title: Standardized Ethereum Recovery Proposals
    Author: Dan Phifer (dp@musiconomi.com), James Levy (james@taptrust.com), Reuben Youngblom (reuben@taptrust.com)
    Type: Meta
    Status: Draft
    Created: 2018-02-02

## Simple Summary
Provide a standardized format for Ethereum Recovery Proposals (ERPs), which relate to recovery of certain classes of lost funds.

[2018-02-01 17:52] WalterBoles commented on #865
All of translations where heals up by the blockchain or Coinbase so I will pay again but I would like to be assured that they will sell them and pay me

[2018-02-01 18:18] WalterBoles commented on #864
So pay the gas from my ETH BTC can i do that

[2018-02-01 18:22] WalterBoles commented on #864
And I am okay with that if it help please do so is Coinbase in San Francisco open tomorrow and can I pick up some cash there

[2018-02-01 18:29] VoR0220 commented on #23
you would have to send it alongside another variable. Also tx.origin could do it as well I suppose. But then you expose your own contract to security faults in there as well.

[2018-02-01 18:50] rohithpr commented on #864
At [rakshe.com](https://rakshe.com), we're working on smart contract insurance. We'll be issuing transferable insurance policies as tokens on the blockchain. We have somewhat similar goals in mind and it would be simpler to explain our use case with examples so I'm going to do that.

- A policy for ENS and a policy for Etherdelta are not the same (non-fungible)
- A policy for ENS with 100 ETH insu

[2018-02-01 19:25] WalterBoles commented on #864
Thanks I do appreciate it

[2018-02-01 19:29] WalterBoles commented on #864
Can I make couple of those to where I can trade for pot stocks and other ICO

[2018-02-01 19:38] WalterBoles commented on #864
So I’m in a partnership for some of these accounts where’s that in the white paper

[2018-02-01 20:54] PhABC commented on #864
Hum, I am  not sure why these tokens need to be non-fungible.

If each co-founder has an equivalent weight and equal power, then all the "equity" tokens are identical and hence fungible. If they have different weight in the company, then the number of tokens they have could represent their weight.

Is it because you want to have many companies registered on the same contract, where each NFT is the

[2018-02-01 21:43] devzl commented on #864
After thinking about it more thoroughly and having a discussion over [reddit](https://www.reddit.com/r/ethdev/comments/7uk605/exploring_the_need_to_have_divisible_nonfungible/), I think it will be totally possible to have divisible NFTs while the contract is #721 compliant.

The tradeoff will be to consider the owner who has the biggest % as the "ownerOf()" the token, and if there are multiple own

[2018-02-01 23:46] hashguide commented on #35
What about having a separate type of node that has a higher incentive to store and execute contracts than the miners to verify blocks. There can be set gas limits for each type of node usage in this case so anyone deploying or writing/reading smart contracts have to pay slightly higher fees than one just sending plain transaction to a friend or exchange. I realize this has nothing to do with this

[2018-02-02 04:42] tenthirtyone commented on #821
This may work better as a separate EIP but I wanted to bring this up because I don't see it anywhere else.

I want to use NFTs to facilitate DAO voting. In executing a proposal the DAO will call balanceOf on the Shareholder ERC-20 to tally the votes. The way balanceOf was implemented in the original 721 spec was a disadvantage. Instead of counting each NFT as 1 vote, it would be better to count th

[2018-02-02 07:13] phiferd commented on #866
Here's the PR: https://github.com/ethereum/EIPs/pull/867

[2018-02-02 07:27] jamslevy commented on #866
Reopening for discussion (/issues/867 redirects to the pull request)

[2018-02-02 07:50] kyriediculous commented on #721
It's quite sad that the ethereum community appears to be so stupid that the only thing they care about is developing more tokens while non fungability is a concept that doesn't need tokens in any way. It's a digital signature bound to an address, you transfer ownership by signing the transferrance of that signature (hash pointer). No tokens needed, of course you need half a brain for that.

[2018-02-02 10:16] 3esmit commented on #865
I'm working on something simmilar for about a week now, but I've come with a different implementation.
I've realized this idea while writing this comment https://ethresear.ch/t/pos-and-economic-abstraction-stakers-would-be-able-to-accept-gas-price-in-any-erc20-token/721/7?u=3esmit as I was told it was probably not going to happen I came up with this solution https://github.com/status-im/ideas/issu

[2018-02-02 10:57] adriamb commented on #735
Some random thoughts...

- Include all data except the signature itself in the signature (so add `scheme` also)

- What about adding a `validity` field to a claim? Since is not possible to "automatically" prove that the ERC735 implementation will allow the claim issuer to remove this claim in the future (due to a bug, or bad intentions), this it's a good way to ensure that this assertion is not go

[2018-02-02 11:23] gumb0 commented on #169
Possible downside of this I see: fast sync after downloading the state trie would need to go over all accounts to find the current `MAX_NONCE`

[2018-02-02 13:43] 3esmit commented on #861
This looks like those many Bitcoin forks which just change some parameters and then you create "money" out of nothing, then whales can be happy to sell that clone token for the original one and become bigger.
I think PoS is eminent and will solve energy waste problem in state of art.

[2018-02-02 14:27] cslarson commented on #861
It is not my intention to propose a fork that would result in two chains that would continue forever, but that the 1 ETH chain would supplant the 3 ETH chain. If the new chain garners sufficient levels of mining support then there is good reason to believe that users would adopt that chain.

In the **week** since I made the [r/ethereum post](https://www.reddit.com/r/ethereum/comments/7tjiru/reduce

[2018-02-02 14:33] Matthalp commented on #650
I'm sorry to disrupt the technical discussion here with a non-technical question: What is the intention for including this in the EIP repository? In particular I was wondering:

(1) Is this proposal seeking public protocol adoption (it seems private chain focused, really at extending `quorum` with the aims of also moving upstream to `geth`)?
(2) Does the scope of EIPs in this repository extend bey

[2018-02-02 14:46] ptrwtts commented on #865
Nice work @3esmit. Do you have any comments on the pros / cons of this implementation vs yours?

[2018-02-02 15:00] lgalabru commented on #865
@3esmit pretty cool!
I updated the code and added an exemple of the off chain implementation.

[2018-02-02 15:21] mcdee commented on #777
@jacquesd

Thanks for the response.  In general the changes look good, but I'd like to drill down a little on the difference between minting and sending (which ultimately ties in to the definition of `operator` and the arguments for `tokensReceived()` when receiving freshly minted tokens).

I think that the paragraph that best shows the difference between our thought processes is:

both tokensRece

[2018-02-02 15:32] gumb0 commented on #168
Some more recent data points I've collected while playing with warp snapshots.

As of block 4,945,000 (Jan-21-2018)
out of total ~23M accounts there are 12,53,9049 accounts that have balance < 420 szabo and no code.

And state trie DB savings in case of cpp-ethereum would be
9.7 Gb with dust vs 7.3 Gb without dust
(that's full state trie for one block, with storage and code and without prehashes)

[2018-02-02 15:33] JosefJ commented on #725
Just to wrap my head around the key types:

What are the scenarios where I would use different types?

The interface so far doesn't seam to allow to send additional key/hash(key) parameter in order to leave the contract public and just require the right key as an input, so you will need to derive the authorization from the msg.sender anyways (right?).
If it is the case to implement these function

[2018-02-02 16:58] bokkypoobah commented on #865
See https://github.com/bokkypoobah/BokkyPooBahsTokenTeleportationServiceSmartContract#how-it-works

[2018-02-02 17:39] JosefJ commented on #725
Just to wrap my head around the key types:

What are the scenarios where I would use different types?

The interface so far doesn't seem to allow to send additional key/hash(key) parameter in order to leave the contract public and just require the right key as an input, so you will need to derive the authorization from the msg.sender anyways (right?).
If it is the case to implement these function

[2018-02-02 17:47] 3esmit commented on #865
@ptrwtts My approch support arbitrary contract executions in SNT network, so we can even create a new contract and pay the gas relayed by SNT "gas".

@lgalabru I'm not sure why supporting any contract address for building the txHash, initially I did so and used `address(this)` at it's calling, and should not be a problem. If you prefer that, I suggest setting function as pure.

@bokkypoobah live i

[2018-02-02 17:53] bokkypoobah commented on #865
BTTSTokenFactory on mainnet - https://etherscan.io/address/0x594dd662b580ca58b1186af45551f34312e91e88#code

And while developing it, I was getting an out of stack space for variables problem in Solidity when using r,s and v, so switched to using sig.

[2018-02-02 19:04] lgalabru commented on #865
@3esmit the idea was to use the same method (indeed, pure), on-chain and off chain.
From the smart contract, you could have use:
[code]

And off-chain, you could have use:
[code]

After testing this approach, the problem is that off chain, when building data, all the arguments are padded vs being tightly-packed on chain.

[2018-02-02 19:13] 3esmit commented on #865
Fundamentally to process the contract call you need to be synced with state, the only difference is that you can call that function `pure` then, there is no other benefict, I would stay with being processed internally because this is a known common header of signature and to benefict of a simplier function signature.
Maybe if gets cheaper in gas by using the pure function, then would be interestin

[2018-02-02 19:50] sponnet commented on #865
https://github.com/swarmcity/SCLabs-gasstation-service and https://github.com/swarmcity/SCLabs-gasstation-client

[2018-02-02 21:59] seweso commented on #865
Wouldn't a way simpler solution be to have contracts set gasprice & startgas  so miners are allowed to take gas from the contracts balance?

Then nodes/miners would use limited gas per transaction to determine if these transactions are mineable at all (gas price is high enough) and warrant to be re-broadcast over the network. In other words, nodes/miners are executing the code of transactions (whe

[2018-02-02 22:06] yarrumretep commented on #827
Please correct me if I'm wrong, but doesn't this standard mean that the resulting 827 tokens will not be compatible with most (all?) ERC223 #223  receiver contracts (to the extent they exist)?  ERC223 requires that the receiving contract accept tokenFallback from pre-approved sending contract addresses to validate that the second argument 'value' represents a guaranteed transfer to the receiver. I

[2018-02-02 22:20] aakilfernandes commented on #865
Very cool. This would be extremely useful from a UX perspective (users don't have to hold multiple tokens).

I'd also like to see a way to pay the delegate a fee (in the token, not ether). That way you could imagine a bunch of nodes which accept any delegate transaction in exchange for a fee.

[2018-02-02 22:54] lgalabru commented on #865
@seweso I think the change you're describing needs to happen on the EVM level (and is on the roadmap if my understanding is correct).
This is less trivial than just iterating on top of ERC20.

[2018-02-02 22:59] mattdf commented on #865
It would be good to standardize this to cover delegated ETH transfers as well when token = 0x0, for things like withdrawing from ring signature mixers. As otherwise, you would have to "pre-fund" the withdrawing account, thereby linking your deposit and withdraw addresses.

[2018-02-02 23:10] seweso commented on #865
@lgalabru Yes agreed. And it is a direction Ethereum needs to go into.

Do you know how this is called on the roadmap? I couldn't find it.

[2018-02-02 23:47] ojanssens commented on #865
I think this is a great idea and an answer to my problem I’ve been struggling with: https://forum.ethereum.org/discussion/16990/transaction-fees-for-an-erc20-currency

I only have 1 concern though: Wouldn’t this make Ether itself redundant? If miners would be able to directly accept tokens as payment, the utility of Ether would become less relevant except for staking and securing the network (whic

[2018-02-03 00:38] Philipinho commented on #865
@bokkypoobah, i'm curious to ask. What happens if the tokens are without worthless? How will the BTTS pay for the gas in ether when the  token has no value?

[2018-02-03 01:07] bokkypoobah commented on #865
@Philipinho I plan to provide a smart contract that the token contract owner has to top up with ETH, and this smart contract will buy tokens from the BTTS service provider at a specified rate.

[2018-02-03 03:07] 3esmit commented on #865
I think that defining a gasPrice instead a fee is more safe and dynamic, there is no reason for not doing this.
It's trivial to calculate the gas cost of an operation inside the smart contract. The global `msg.gas` returns the remaining gas, so simply read this value at bounds of operation (right after sending the gas).

This is really important for approveAndCallPreSigned, because this function c

[2018-02-03 03:39] Arachnid commented on #865
Excellent idea! Why explicitly encode the sender when it's provided by ecrecover, though?

Also, why encode the delegate, instead of letting the first person to get a transaction in harvest the fee?

[2018-02-03 05:39] jdkanani commented on #865
Great. @lgalabru `nonce` wouldn't work.  Possible race condition - `require(_nonce > nonces[_from])` prevents older transactions to go through, even if `sig` is valid.

[2018-02-03 06:23] lgalabru commented on #865
@jdkanani
Amazing, I had the race condition in my radar and was dubitative, thanks for your workaround!

@Arachnid
Right, we need to pass it, but it doesn't have to be encoded. Good catch

Great idea!

@3esmit
Using msg.gas price makes sense, but we should probably come up with another name, since "gas price" is usually in wei.
Concerning the naming of the methods, what would you think of prefixin

[2018-02-03 09:07] cbruguera commented on #725
If now keys are able to be present with multiple purposes (inferring that from the fact that method `getKeyPurpose` returns an array), I would suggest renaming to plural `getKeyPurposes`.

[2018-02-03 10:53] izqui commented on #865
I have been working on this idea for a side-project, the [pay-protocol](https://github.com/aragonlabs/pay-protocol/blob/master/contracts/PayProtocol.sol#L52). This feature is something that can be achieved in a **layer 2 protocol** rather than adding this functionality to every token contract. Which also has the ability that every token currently deployed could use it, just by having people that w

[2018-02-03 12:19] cbruguera commented on #735
@frozeman Nice job on this effort for standardization of identity. These are just some thoughts on the present discussion:

With regard to "claim expiration", I'm not an advocate of making this an explicit functionality of a claim standard, since "expiry date" of a given claim can be different according to different "relying parties". For example, in the banking KYC scenario: _Bank A_ might requir

[2018-02-03 12:54] 3esmit commented on #865
@lgalabru "Delegated" means that you transfered temporarily trust to other, is not the case here, so I think the naming transferPreSigned() or signedTransfer() are more correct, but `transferPreSigned` actually describe exacly what the function is (a transfer which been pre signed.)

I don't think is bad to use `gasPrice` as the name, it also describe exactly what is this parameter for, and it wor

[2018-02-04 04:30] axcrest commented on #865
How do you handle the ERC-20 approve() requirement?  No one can withdraw funds from your token account without you first approving them, and that approve() step costs ETH.

[2018-02-04 06:52] fulldecent commented on #165
Quick updates:

* I need to hear from somebody who would vote on this ERC-165 as to their thoughts on which direction we should take.
* That gives me a reasonable hope that my effort here can result in a win.
* We can harmonize interface names with #820
* Maybe we should separate interface names from XOR function selectors
* I built an awesome Solidity decompiler, almost works. Does introspection,

[2018-02-04 08:16] izqui commented on #865
@axcrest you are right that in pay protocol if you already have tokens you need to create an approval to the contract. But if you receive the tokens directly in your pay protocol account, then you never need ether to operate.

@3esmit you are right the token isn't handling the moving and that's why it is very efficient, token transfers are only settled in the token contracts when tokens need to mo

[2018-02-04 14:28] mcdee commented on #777
One other comment on the use of `amount` Vs. `value`:  `amount` is technically more accurate, as `value` implies the worth of the tokens rather than the number of tokens. It also has the added benefit that any contract interacting with Ether can logically separate `amount` for tokens and `value` for Ether.

[2018-02-04 16:44] 3esmit commented on #865
@izqui Thanks for the information about signed message spec, I think the community should consensus in a default signed standard ASAP.
I liked #721 and I think it should be a subtype (version) of #191.
You are right about pay-protocol being cheaper, and it's an interesting solution, and should be used together with `approveAndCallPreSigned`.
The first transaction from someone entering this network

[2018-02-04 17:41] sohkai commented on #859
What is the rationale behind "refunding" the gas to the `target` rather than the callee? Since the callee's paying for the gas, shouldn't it also get the refund?

[2018-02-05 03:30] HodlDwon commented on #861
From this discussion (11 months ago): https://www.reddit.com/r/ethereum/comments/5x926o/gas_price_market_not_properly_working_dear/

There seems to be an economic case for reducing transaction fees by reducing the regular block reward relative to Uncle blocks. As explained in the linked thread, this is because as Miners include more transaction in their blocks, they risk producing and Uncle and lo

[2018-02-05 04:19] eordano commented on #821
Hey @AusIV I just updated the text to add `approve` as in ERC721. As a result, I think that except for requiring contracts to implement `onAssetReceived` to receive tokens, or functions like `takeOwnership` or `transferFrom` (that can be emulated with `transfer`), any ERC821 can be treated like an ERC721.

cc: @dete @hyperfekt Shrugs

[2018-02-05 04:20] eordano commented on #821
@tenthirtyone I just updated the text to make it more ERC-20 look-alike. In particular, I added `balanceOf`. Let me know of any other questions.

[2018-02-05 04:24] eordano commented on #821
@AusIV with regards to multiple authorizations, the solution you proposed adds a lot of complexity and I'd leave it for a filtering contract. Simple ERC-721-like authorization to "transferFrom" once (as it's used in the wild) looks more adequate to me for simplicity.

[2018-02-05 06:42] jayantbramhankar opened #869 "How to use gas from other wallet"
I've created an HD wallet containing many accounts, where wallet.GetAccount(0) holds ETHERs and other wallets been used receive ERC20 tokens for users.

How can I transfer these tokens from child to main(0) account.

Is there any way to use main account gas.
I'm using  [https://github.com/Nethereum/Nethereum](https://github.com/Nethereum/Nethereum) library in Asp.net MVC.

Thanks.

[2018-02-05 06:58] #869 closed

[2018-02-05 11:36] cslarson commented on #861
I apologise I made an error in my previous calculations of CO2 contribution from mining by dividing by the CO2/kwh (0.527) rather than multiplying. My apologies. [This spreadsheet](https://docs.google.com/spreadsheets/d/1Q2DvnsUzgy7nQXVAkbNgvxqPfU56cGx4ubx6H8Dg6pw/edit#gid=1934769196) now contains the relevant calculations, conversions, and sources to arrive at a daily network CO2 contribution of

[2018-02-05 15:33] kybarnet commented on #861
Last time I brought up block reward Alex and Nick effectively kicked and banned me out of the Ethereum community :P This is what I proposed... [9 months ago](https://imgur.com/a/t3b1D). Yes, that's 9 f-ing months ago.

I made a lot of 'top voted' posts regarding the issue, got onto Crypt0 news with Omar, etc. Nick and Alex REMOVED my posts claiming I WAS MAKING A MEME.

I spent 120 hours over seve

[2018-02-05 16:01] marcogiglio commented on #861
I would like to point of out that playing with the reward has the effect of increasing the uncle rate and decreasing the network throughtput, due to the consequences of the EIP649. I would also like to point out how this proposal may negatively effect the security of the network, as reducing the hashrate may lead to a much higher risk of 51% attack.

[2018-02-05 17:09] bitsanity commented on #223
ERC223 overloads the **Transfer** event making it incompatible with ERC20's definition.

[code]

Solidity does not (yet) support event overloading: only one definition of Transfer can go into the ABI.

Services such as ethplorer and etherscan are coded to expect the ERC20 definition only, so ERC223 is not backwards-compatible with ERC20 standard until sites update their code.

[2018-02-05 18:54] AusIV commented on #821
@eordano - Can you please elaborate on filtering contracts, or provide references on the topic? It's not clear to me how a filtering contract can restrict operator access after a user has granted an operator unlimited access to their NFTs.

[2018-02-05 19:45] Dexaran commented on #223
@bitsanity

https://en.wikipedia.org/wiki/Backward_compatibility

Such services as MEW and other wallets that work with tokens are designed to work with ERC20.
The input that is designed for ERC20 token will work properly with ERC223 as well.

[2018-02-05 22:15] JosefJ commented on #725
@cbruguera on the same note, shouldn't the struct contain `uint256[] purposes` instead of just `uint256`?

[2018-02-05 23:15] kirillseva commented on #223
@bitsanity look at the tokens on [this contract](https://etherscan.io/address/0x9462eeb9124c99731cc7617348b3937a8f00b11f). Etherscan seems to be able to deal with them just fine. And MetaMask and MEW can store ERC223 tokens just as well.

N.B. Overloaded `Transfer` doesn't work indeed because web3 doesn't handle such events well. That's why we, for production use, ended up going with this interpre

[2018-02-05 23:48] bitsanity commented on #223
@Dexaran Thanks for comments and from Kirill too.

Below is link to transfer transaction. If you click on 'Event Logs' you see the ERC223-version of the Transfer event. All working as expected, but etherscan does not recognize it.

[etherscan](https://etherscan.io/tx/0xdfe1684b2731f5c622afb9b06f4fb6a90486af2fddfcf80364effa1fe1937609)

Here is a reply from an exchange site (not etherscan):

Persona

[2018-02-05 23:49] kirillseva commented on #223
@bitsanity take a look at the tokens inside [this smart contract](https://etherscan.io/address/0x9462eeb9124c99731cc7617348b3937a8f00b11f). Etherscan, MEW and MetaMask handle those very well.

Granted, @rados-io does not use `Transfer` event overload. I think Etherscan and others don't work well with overloaded events because of a bug in how web3.js deals with them. They use `ERC223Transfer` for t

[2018-02-05 23:56] kirillseva commented on #223
@bitsanity technically there is no reason why Etherscan and exchanges couldn't work with overloaded events. I wonder why web3.js cannot load them? Maybe somebody who knows the internals can comment on this.

The standard can be much better and safer, but if it is not building upon existing tools and requires code rewrite from major players I do not think it'll see any adoption in ETH markets.

[2018-02-06 01:55] Recmo commented on #232
To add to @emansipater's use cases: it allows you to atomically set an allowance on a number of tokens and execute a transaction using it. This is very useful for decentralized exchanges.

Note that this code-in-context-of-from transaction (let's call it 'cicof') transaction is a [sole sufficient operator](https://en.wikiversity.org/wiki/Sole_sufficient_operator)! All other current transactions ty

[2018-02-06 11:17] vbuterin commented on #859
Good point! Added that option to the specification.

[2018-02-06 12:59] cslarson commented on #861
[Another post](https://www.reddit.com/r/ethereum/comments/7vewys/10000_tons_co2_per_day_and_climbing_eip_858/) I submitted to r/ethereum about this topic was removed by a moderator (despite having 118 comments and 65 upvotes) 14 hours after it was posted. I'll post here the explanation after it is received.

[2018-02-06 13:07] holiman commented on #859
My notes after reading through this...

Note, this is the same as `Gtxdatanonzero` and `Gtxdatazero` from YP, no change.

Notable differences:

* Contract creation does not 'just happen' when `to` is missing. Instead, whenever sending tx to an `empty` target, the contract creation process is started.
* The new contract-creation is a two-step thing, where first there's a contract creation (load ini

[2018-02-06 14:54] zmanian commented on #859
Does this design imply that ethereum implementation must store and check for uniqueness against all published nonces for each transaction in an account for the entire existence of an account. This sounds inefficient.  How about a counter instead of a nonce?

[2018-02-07 00:02] lgalabru commented on #865
A first implementation of this EIP is available here: https://github.com/PROPSProject/props-token-distribution/blob/master/contracts/token/ERC865Token.sol.
I'll probably open a pull request on zeppelin after getting some feedbacks from you guys.

@3esmit I'm not convinced by this idea of computing the gas cost on the fly because you're adding more complexity to the method, when you want to be real

[2018-02-07 15:51] eordano commented on #821
@AusIV no longer necessary as I added an `approve`, but I meant something like transferring ownership of your tokens to a contract similar to this:
[code]
where you are the owner and you have authorized this contract to be an operator. Yes, it can move any token, but the code is simple enough to be considered pretty safe to be allowed operation of all your assets.

[2018-02-07 17:06] ptrwtts commented on #865
@izqui I'm curious how you envisage a decentralized settlement system working for these sorts of transactions?

We realized that if you leave the transactions open for anyone to settle, then it's possible for someone to watch the mempool and front run them.

You can avoid it, but there needs to be some back and forth. First, the user broadcasts their intent to make a transaction. Then delegates pr

[2018-02-07 19:25] eayllon1 commented on #721
I made this standard using an updated format and naming system for future updates to the standard after it's approval. It only includes the initial proposal and none from the 841 page. All changes should be easy to implement though.
[ERC721-201802.pdf](https://github.com/ethereum/EIPs/files/1704447/ERC721-201802.pdf)

[2018-02-07 19:40] Arachnid commented on #865
I agree - being conformant with #191 makes much more sense to me.

[2018-02-07 19:55] antonizoon commented on #721
@eayllon1's standard provides an explanation of a fossilized version of the ERC721 standard as was built for Cryptokitties, which people have probably implemented long before the pull request was made with updated functions. Even the pull request could change somewhat before it gets accepted.

Since Cryptokitties and its descendants are likely going to stick around in some way, their conception of

[2018-02-07 21:23] johnda98 commented on #67
Whats the latest on this Ether team ?, is it likely ever that a SC can be called from the standard issued mobile Ethereum wallet app ? using a QR code.

[2018-02-08 04:48] James-Sangalli opened #875 "ERC875 for non fungible tokens and simple atomic swaps"
## Summary
A simple non fungible token standard that allows batching tokens into lots and settling p2p atomic transfers in one transaction. You can test out an example implementation on rinkeby here: https://rinkeby.etherscan.io/address/0xffab5ce7c012bc942f5ca0cd42c3c2e1ae5f0005 and view the repo here: https://github.com/alpha-wallet/ERC-Example

## Purpose
While other standards allow the user to

[2018-02-08 10:20] gumb0 commented on #168
The graph of balances of accounts without code
x: account balance in wei, log scale
y: number of non-contract accounts with balance <= x

420 szabo is approximately the middle of x-axis.

y-axes doesn't start at 0, because there are 10,230,424 accounts with balance 0. (so the line starts at (0, ~10^7) )

![image](https://user-images.githubusercontent.com/1863135/35967428-2738f4a8-0cc1-11e8-954e-fb

[2018-02-08 13:40] ligi commented on #67
@johnda98 please have a look at ERC-681

[2018-02-08 16:50] rosulucian commented on #223
wait, I can`t see how  erc223 can prevent accidental transactions of tokens to contract addresses. If the receiver contract does not implement tokenFallback() the call will go to the contract (standard) fallback function. If the standard fallback is not implement either, the call will of course throw.
Otherwise, if the tokenFallback() is not implement but the standard fallback is (payable or nonpa

[2018-02-08 17:26] lgalabru commented on #865
@Arachnid what should I change on
https://github.com/PROPSProject/props-token-distribution/blob/master/contracts/token/ERC865Token.sol
if we want to conform to #191?

[2018-02-08 17:32] yudilevi commented on #223
I personally think that the main reason for the ERC223 standard in general should be usability and not security.
I think the focus should be on usability (a single transaction instead of approve/transferFrom) and not on tokens that are lost forever.
I agree that lost tokens is an issue but in a multi billion ecosystem, few millions of lost tokens are not the end of the world IMHO, especially when

[2018-02-08 22:52] JosefJ commented on #725
I tried to naively implement the key and execution handling [https://github.com/JosefJ/IdentityContract/blob/master/contracts/KeyHolder.sol](https://github.com/JosefJ/IdentityContract/blob/master/contracts/KeyHolder.sol)
The contract deviates from the so far stated description from the first overview post a bit as I applied the changes suggested in my last comment above.

[2018-02-09 11:29] daniel-jozsef commented on #223
@yudilevi I've mostly pulled out of this discussion because it seems my aims are not really lining up with the aims that drive _EIP_223. Personally I don't see any value in EIP223 over ERC20 as it is now, and where it is going. And yes, the core idea behind EIP223 is to prevent tokens sent to contracts that can't handle them.

Personally, I'm thinking of kicking off another discussion somewhere on

[2018-02-09 14:53] alexvandesande commented on #168
My opinion that 420 Szabo is extremely high. Anything that is in the order of magnitude of cents, can become actual money depending on the very volatile market. It wasn't that long ago that 0.42 ether was worth $0.42.

I would prefer some longer term change: either introduce a "rent" concept where accounts would have to pay weis for storage or just create other styles of scalability.

Also, it's i

[2018-02-09 16:40] Dexaran commented on #223
@daniel-jozsef

Developing ERC20 tokens that will guaranteed result in lost money for your token users seems to be exactly the same as advising investors to store their money in hacked Parity multisig.

They both contain a well-known vulnerability and they both will result in money losses for end users.

The main goal of ERC223 is not only to prevent tokens from getting stuck inside contracts. The

[2018-02-09 22:03] JosefJ commented on #735
Following up on @jarradh implementation here: [https://github.com/status-im/contracts/tree/master/contracts](https://github.com/status-im/contracts/tree/master/contracts)
specifically on
[code]
Should the key with `keyPurpose == CLAIM_SIGNER_KEY` be considered an ethereum addresses (msg.sender) only?
I had the impression that the `CLAIM_SIGNER_KEY` types of keys should rather be declaration of "my

[2018-02-10 01:07] joe-roth commented on #721
@dete, You said it best in your #841 comment: "imagining how this stuff will be used is very different than actually seeing it in action at scale."  You're one of the few who has actually used this standard at scale, and I find your insight into this standard most valuable.  Thanks for taking the time.

I think the best way to bring this standard forward is to carefully reflect on lessons learned

[2018-02-10 03:19] vbuterin commented on #859
No. This design still requires transactions with the same target account to have sequentially incrementing nonces. It's the [sharding abstraction proposal](https://ethresear.ch/t/tradeoffs-in-account-abstraction-proposals/263) that doesn't have that feature, and it doesn't even care if the same transaction gets included in the chain multiple times.

[2018-02-10 22:33] LefterisJP commented on #827
Since when is it a good idea to execute arbitrary calls to contracts? Let alone make that part of a token standard?

Just popping in since I heard "microraiden".

Basically re-iterating what @abandeali1, @SergioDemianLerner and @yarrumretep mentioned.

In the spec you have this function:

[code]

You describe it as:

So essentialy I can do an ERC20 transfer of 1 token to contract `_to` but in the

[2018-02-11 03:38] dadeg commented on #827
@LefterisJP i think your example highlights a weakness in the target contract, not in this token standard.

[2018-02-11 04:24] yarrumretep commented on #827
@dadeg As a 'receiving' contract under this standard as described above all I effectively get is a ping that my balance may change in the future by some unspecified amount.  Because the standard does not mandate anything about the contents of the _data (nor could it really control that without a significant on-chain burden), the receiver isn't guaranteed anything in particular about the arguments

[2018-02-11 04:38] dadeg commented on #827
@yarrumretep "Receiver can't even keep his old balance and compare to verify because the actual transfer is not completed until after his call."

This is interesting. If a user called approve, would the receiving contract be able to inspect the allowed amount (by calling allowance on the token) within the same transaction, or would it fail (or return 0) because the approve call does not finish unt

[2018-02-11 04:44] yarrumretep commented on #827
@dadeg not only inspect, but modify.  Receiver can consume the allowance in the call directly.

[2018-02-11 05:00] dadeg commented on #827
@yarrumretep ok, that seems like a good thing. Would a receiving contract be able to do the same sort of inspection on a transfer call? Seems so. But there would be no way to guarantee the _data had the correct sender address. Transfer seems useless like you said.

Although a 223 tokenFallback receiver would have the same issue. There is no guarantee that tokenFallback is being called by a trustwo

[2018-02-11 10:21] daniel-jozsef commented on #223
It's not a vulnerability. Hammers do NOT have a "vulnerability" because you can bash your own head in with them. That is by design. Vulnerability is when you're doing everything correctly, and someone can magically still make the hammer bash your head in without your knowledge or consent.

I find that ironic given multiple comments from Vitalik Buterin expressing that he'd like Ether to behave lik

[2018-02-11 11:47] Dexaran commented on #223
We are not discussing hammers here. We are talking about the software.

Lack of possibility to reject wrong transaction is a security concern. Lack of possibility to handle transactions is a design flaw because it is obvious that handling is necessary in most cases.
I will not call the thing that caused loss of millions of dollars for end users a "design feature".

If it is a design feature then i

[2018-02-11 12:50] Dexaran commented on #223
For those who are saying "This is not a bug of ERC20 standard".

### ERC20 token standard bug definition.

Take a look at software bug definition: https://en.wikipedia.org/wiki/Software_bug

I will quote it for you:

I would say that if you send your tokens via the `transfer` function then it should transfer tokens.

This is how the transfer function is specified at the ERC #20 token standard:

[c

[2018-02-11 18:14] nmushegian commented on #721
I think multi-approval is pretty critical, I think it totally breaks this approach

Here's dappsys' equivalent https://github.com/dapphub/ds-items

[2018-02-11 19:43] willwarren89 commented on #721
The 0x and Decentraland teams are strongly in favor of [ERC 821](https://github.com/ethereum/EIPs/issues/821) for NFTs.

[2018-02-11 22:42] fulldecent commented on #721
@willwarren89 Thanks for staying in this conversation. Please give me a call (I'm New York time), I'm around today.

I'm working on 741, and other standards. If you can catch up with me this will be very helpful and move things faster. I'm not married to any of these standards but I need to find the implementers to do it right.

And for transparency, I always follow up live discussions with notes

[2018-02-12 01:34] AugustoL commented on #827
@yarrumretep @dadeg @LefterisJP @ptrwtts Thanks for the discussion and your feedback!

A quick summary of each function and their capabilities:

- **approve**: Probably the one that you will need, maybe the only one since it allows the receiver contract to use "authenticated" balance. No issues here.
- **transfer**: There is no way to check that the balance that will be transfered is the correct o

[2018-02-12 07:49] kayado commented on #223
Greetings, I apologize for commenting on programming matters, I know you are the experts, but there is one thing that is getting old and they are being a little selfish and they are thinking of you as developers and not so much in the user that is putting your trust and money in a technology like ethereum (intelligent contracts), in this case I am totally in agreement with @Dexaran the developer o

[2018-02-12 12:28] daniel-jozsef commented on #223
This is an old story, we've been through this so many times. Last time we discussed this, you said if I don't think it's an issue then I should use ERC20, and I said that's what I'm doing. So really no point in reiterating it beyond making people aware what EIP223 is _all about,_ as apparently some aren't quite clear on that.

As for the whole crying over spilled millions, seeing people sending si

[2018-02-12 15:27] kayado commented on #223
@ daniel-jozef
It is valid that you as developers defend the structure of ERC20, but all this that you comment, I see it NOT as a solution, I see it more like a patch.

Crying over money lost?, It's easy to say this when the lost money is not yours. you do not lose because you know about the code structure, but a person who works hard to get money to invest in this new for many.

 I prefer to use

[2018-02-12 16:47] jacquesd commented on #777
@mcdee

The standard purposely does not define how minting happens, only that when minting, the correct events must be fired and `tokensReceived` must be called on the recipient. Therefore yes, there may be a use case where an address `A` mints tokens directly for `B` (and `A` != `B`) and a different case where `A` mints his own tokens and then sends them to `B`. Those could be viewed as the same

[2018-02-12 17:04] naterush commented on #875
There are parts of the example implementation that diverge from the specification or are added functionality (e.g. the `endContract`, `getContractAddress`, `myBalance` functions). I think it might be good to keep this contract as close to the spec as possible.

Also, it's possible to implement atomic swaps for tokens in a single transaction with contracts that exist above current ERC token so that

[2018-02-12 21:09] cylon56 commented on #875
Does this standard allow someone to store the different ERC721 tokens in the same ERC875 token? I.e. Could I create an ERC875 token that hold a basket of assets such as stocks, bonds, real estate, all of which have a different ERC721 standard?

[2018-02-12 22:22] dekz commented on #721
0x is considering organising a working group to discuss and push forward the adoption of an NFT standard. I understand that it is fairly short notice, are there any interested parties who are also attending ETHDenver who would like to join such a discussion?

If there is enough interest we can carve out a time during ETHDenver and invite those who are interested or have contributed to the various

[2018-02-12 22:23] dekz commented on #821
0x is considering organising a working group to discuss and push forward the adoption of an NFT standard. I understand that it is fairly short notice, are there any interested parties who are also attending ETHDenver who would like to join such a discussion?

If there is enough interest we can carve out a time during ETHDenver and invite those who are interested or have contributed to the various

[2018-02-13 00:33] James-Sangalli commented on #875
@naterush Hi Nate, thanks for your comment! I added those functions in as boilerplate, they are not part of the ERC Spec by default I just wanted them in there in case I wanted to remove the contract later etc.

The getContractAddress() is needed in this spec as a protection against double spending (i.e. I could get you to sign a message for my contract and rebroadcast it on another contract, by a

[2018-02-13 00:43] James-Sangalli commented on #875
@cylon56 the token itself is a 256 bit unsigned int, you could represent multiple assets in the one variable via encoding but it depends how complete your info is. From my understanding this would not be the case for cryptokitties as each cat requires the full 256 bit number to be represented, however if you asset info is simple enough, you could represent multiple assets in one token index.

[2018-02-13 01:13] macalinao commented on #821
Interested @Jacob. Sent an email
On Mon, Feb 12, 2018 at 16:23 Jacob Evans <notifications@github.com> wrote:

[2018-02-13 02:27] James-Sangalli commented on #875
Hi @Nanolucas , Thanks for the feedback! I am open to have it be an extension or it's own standard or a standard that has proposed changes which are implemented. This is only meant as an initial draft and I am open to hearing suggestions to change it.

[2018-02-13 03:52] Nanolucas commented on #875
In #821 you can see the optional extensions `ERC721Metadata` and `ERC721Enumerable`, I think providing your proposal in that format as some sort of `ERC721Trade` would be much more logical.

That way, the base functionality of the NFT/deed/asset registry standard isn't something you have to worry about when your focus is on developing a standardised way to perform swaps or multiple transfers.

[2018-02-13 05:35] rstormsf commented on #827
@AugustoL what would be the difference between ERC677 ?  it seems pretty much the same

[2018-02-13 05:55] fulldecent commented on #165
OK. I am going to go forward with writing this up for EIP165-VIEW variant. PR coming.

[2018-02-13 07:47] fulldecent commented on #165
@chriseth Responding to your offer to hand off this work, I have accepted the challenge and here is https://github.com/ethereum/EIPs/pull/881.

If you believe my effort should be canonical, would you please add a large note to the top of this issue:

[2018-02-13 08:10] fulldecent commented on #165
@Recmo Sorry, that link broke, can you please send again?

[2018-02-13 10:38] dhaileytaha commented on #79
@MrChico
can you specify the data types of the verify function ??
function verify(bytes32 message, bytes32 ??? signature, address address) returns (bool valid) {
}

[2018-02-13 12:32] elenadimitrova commented on #763
Just did some comparative gas cost calculations between [SimpleMultiSig](https://github.com/christianlundkvist/simple-multisig) and [MultiSigWallet](https://github.com/gnosis/MultiSigWallet/blob/master/contracts/MultiSigWallet.sol) for reference:
`SimpleMultiSig` only ever needs one transaction (which contains all signatures)
[code]

`MultiSigWallet` needs an initial transaction submission and the

[2018-02-13 13:44] jacquesd commented on #777
@mcdee

good idea, I've applied the changes: jacquesd/eip777#33

[2018-02-13 13:48] rumkin opened #882 "ERC 882: ENS Custom Protocols"
EIP: 882
      Title: ENS Custom Protocols
      Status: Active
      Type: ERC
      Author: Rumkin <dev@rumk.in>
      Created: 2018-02-13

ENS Layers is DNS replacement with new kind of resolvers which acts like custom protocols and provide any protocol support. For example today email has no it's own resolver and it's using DNS TXT record to provide mail server addresses. Another technology is

[2018-02-13 18:17] mcdee commented on #777
My point is that although this is technically accurate it can cause confusion.  Consider three scenarios:

1. Account `A` sends tokens to account `B`
2. Operator `O` sends tokens from account `A` to account `B`
3. Account `A` mints tokens to account `B`

Assume I, as owner of account `B`, want to accept tokens from a whitelist.  Let's try a suitable check in `tokensReceived()`:

    require(whitel

[2018-02-13 19:17] AugustoL commented on #827
@rstormsf The ERC677 adds only a call after transfer and the contract receiver need to have implemented the `tokenFallback` function, ERC827 dont ask the receiver contractto have any fallback function implemented since it can use approveAndCall strategy to work with authenticated/allowed balance.

[2018-02-13 20:16] alex-miller-0 commented on #763
@elenadimitrova Cool stats. How many signatures went into the 75k `SimpleMultiSig` cost? Every additional signature should require ~3k gas due to the `ecrecover` plus a few computations.

[2018-02-13 22:57] rstormsf commented on #827
ok, I see...hmmm. so technically, I can send a transfer of 10 tokens and have some data that would send even more tokens like 1mm if the user accidentally got malicious data parameter.

[2018-02-13 23:36] AugustoL commented on #827
Yes, thats why you should use the `transfer` method with a fallback function to that will receive the value transfered as parameter. You should use `approve` in that case.
I added some notes about howto/when use each function, if you do it that way you shouldnt have any issue.

[2018-02-13 23:44] AugustoL commented on #865
@lgalabru love the idea! please tag qhen you add the PR to zeppelin-solidity, looking forward to have it there!

[2018-02-14 09:43] rumkin commented on #829
@ligi Thanks for your comment.

It looks I should to spend some time to look closer at EVM to produce explicit solution.

[2018-02-14 10:47] elenadimitrova commented on #763
@alex-miller-0 you're right, that test was using 2 signatures so I updated to 3 and cost went up with ~10,000 gas. Updated the stats to reflect that.

[2018-02-14 13:00] frozeman commented on #725
The idea was that you can get one key per purpose, and using `getKey(key, purpose)` you can know if the key exists. To get all its key purposes there is the extra function `getKeyPurposes`. Otherwise one could say you dont need to `getKeyPurposes` function at all, if the getKey gives you all purposes directly.

My idea was that smart contracts can simply determine with one call, if key X of purpos

[2018-02-14 13:00] MrChico commented on #79
@dhaileytaha check out the library contract by @axic https://gist.github.com/axic/5b33912c6f61ae6fd96d6c4a47afde6d.
` function ecverify(bytes32 hash, bytes sig, address signer) returns (bool)`

[2018-02-14 13:03] frozeman commented on #725
Actually now reading @cbruguera comment again. The idea of `getKeyPurpose()` was to check if a key exists for a specific purpose.

We should think about a clean way to check that a key exists for a purpose, and having purposes returning an array, makes that tricky, as the smart contract would need to get the key and then check if the purpose is in the array, which is more costly. I would like to h

[2018-02-14 13:05] frozeman commented on #725
@JosefJ testing your code, i dont seem to be able to get the key added in the constructor:
In remix:
"call to KeyHolder.getKey errored: VM error: revert.
revert	The transaction has been reverted to the initial state.
Note: The constructor should be payable if you send value.	Debug the transaction to get more information. "

[2018-02-14 17:51] dete commented on #721
Our big concern here was that people might think that the "right way" to put a Kitty up for auction (assuming they are accessing the smart contracts directly, and not using our website) was to first `transfer()` the Kitty to the auction house, and then create an auction. Unfortunately, that is NOT how it works. The auction house needs to know the parameters of the auction to create the auction, so

[2018-02-14 17:57] dete commented on #721
I remain confused about why 0x and Decentraland teams feel the need to create a new standard rather than collaborating to finalize an existing one that is still under discussion. The differences between 721 and 821 do not seem insurmountable. Surely the point of standards is to have as few as possible!

[2018-02-14 18:13] rca03 commented on #721
It might be helpful if 0x / decentraland provided a comparison between ERC721 and ERC821, particularly for those organizations that have already begun to focusing time and effort on ERC721 implementations.

ERC721 currently has the advantage in first-to-market adoption; there is greater "friction" in giving consideration to 821 that will need to be surmounted.

[2018-02-14 19:57] JosefJ commented on #725
@frozeman
Ad `getKeyPurpose`)
I think that's kind of what the function `hasRight` did in my case, (I agree that searching in an array of `key.purposes` will be better then in an array of keys with a purpose
As there is this redundancy with `getKey`, I think it would be better to rename this particular functionality as:
`keyHasPurpose(function keyHasPurpose(bytes32 _key, uint256 _purpose) public vi

[2018-02-14 20:14] dekz commented on #721
@rca03  Part of creating a standard is continually engaging with the community and understanding the different use cases from various parties. Simply first through the door is not a good enough reason for something to be standardised. The only way we can agree that something is a standard is when it is adopted by the majority. The only way it is adopted by the majority is by working together in th

[2018-02-14 20:36] rca03 commented on #721
@dekz I fully agree with your points, and I am hopeful that the ETHDenver working group will provide the community with additional insight on these issues, particularly with respect to 721 versus 821. What I feel would be helpful to the larger audience is a more targeted discussion on the distinctions between 721 and 821, or how these can coexist. My comment is merely intended to suggest what curr

[2018-02-14 21:34] ricmoo commented on #721
Is there any more info on this ETHDenver working group? My partner and I will likely have our noses to the grindstone, for most of it, but we plan to be working on an ERC 721 (or whatever) project, and could certainly tear ourselves away from our laptops for a bit.

[2018-02-14 21:38] lgalabru commented on #865
@AugustoL PR available here: https://github.com/OpenZeppelin/zeppelin-solidity/pull/741

[2018-02-14 21:51] 3esmit commented on #763
I think that offchain ethereum signed messages can be included in the same function, that would call internal methods that are the same used by the regular ethereum signed transaction calls to the contract, that fill _from with msg.sender instead of recovered address, and this can be part of another ERC.
I think this ERC should coordinate only in defining the common method calls, if you need offch

[2018-02-14 23:33] alex-miller-0 commented on #763
@elenadimitrova very interesting that it would take 10k gas for an extra signature since `ECRECOVER` should only be 3000 gas ([source](https://github.com/ethereum/pyethereum/blob/fd70d67ea91a021376fe13c819b2203bad2d3cd2/ethereum/opcodes.py#L115)). I suspect recasting `lastAdd` is making up the difference, but I don't see any reason for that operation in `execute`. @christianlundkvist can you shed

[2018-02-15 00:30] inhumantsar commented on #821
The only issue I have with this PR is the naming. _Distinguishable Asset Registry_ isn't terrible, but I think it makes sense to drop NFT here and now.

I could say to people, "This DAR tracks NFTs and their owners," but then the next words out of my mouth are *always* going to be "distinguishable asset registry and non-fungible token". If I don't lose their attention right then and there, I'm goi

[2018-02-15 00:47] joe-roth commented on #821
Things I want as a developer of an NFT contract:
- Professionally developed, vetted, and tested reference implementation (https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/contracts/token/ERC721)
- Battle-proven at scale (https://etherscan.io/address/0x06012c8cf97bead5deae237070f9587f8e7a266d)

From my research, ERC 721 best meets these requirements, and given OP's unique experience wi

[2018-02-15 01:00] opentaps commented on #725
Hello, Do you think something similar to this should be done for products or assets?  For example, multiple parties could provide information about a product, such as what it is (Model X Car), what its  specs are (Electric Vehicle 4 passenger sedan), to what its status is over a period of time (New 2015-10-01, Transferred at 20,000 km 2017-06-01, Major Repair 2018-02-10)?

[2018-02-15 02:47] joe-roth commented on #721
I'm not 100% clear on this....what additional safety does #821 provide over #721?  If there are ways to make ERC 721 safer, why aren't those ideas discussed here?  What necessitates the need for a new ERC?

[2018-02-15 03:13] 3esmit commented on #865
I'm working here with a contract that should be able to use approveAndCallPreSigned, https://github.com/status-im/StandardBounties/blob/bounty-manager/contracts/BountyManagerPreSigned.sol#L51

It's not ready yet, but thats the idea.

[2018-02-15 03:49] fulldecent commented on #165
Hello channel. #881 is very far along. I have described it faithfully as was discussed here ("165-VIEW" as above). As yet, I have seen no controversy in the 165-VIEW approach.

Previously there was an inconsistency with the 165-VIEW approach and the EIP165Cache from @jbaylina. I have resolved this by rewriting the cache.

Previously there was an open item from 165-PURE discussion about the gas cos

[2018-02-15 04:40] fulldecent commented on #866
Here's the unintended consequence of have a readily available, well documented, and standardized tool like this available:

[2018-02-15 04:50] jamslevy commented on #866
@fulldecent this would require massive coordination among people clients to succeed, essentially like any other kind of 51% attack. And to further eliminate the possibility of such a thing occurring it would be possible to put in place certain hardcoded safeguards, mainly in the interest of stopping people from even attempting this sort of thing thinking it has any chance of working.

As one of th

[2018-02-15 07:36] JosefJ commented on #725
@opentaps I think the [#735 - Claim holder](https://github.com/ethereum/EIPs/issues/735) functionality would be the case for items. I'm currently working on a project that requires experts (identities) to issue claims about objects and it kind of makes sense to utilize a similar claim scheme on those objects themselves. Combination of ERC20 & ERC735, sort of.

[2018-02-15 08:22] edmundedgar commented on #866
Since any given recovery proposal may result in an economic fork if implemented by clients, and the first one to be implemented undoubtedly will, an ERP should also specify an alternative network ID to minimize disruption.

I'm not sure what the process would be for deciding which fork gets the existing network ID and which one uses the new ID, but I guess that's outside the scope of this EIP.

[2018-02-15 09:29] holiman commented on #217
I just now stumled upon this when searching for something like [swagger](https://swagger.io/swagger-editor/) to define and generate documentation for our json-rpc apis. Unfortunately, swagger isn't for json-rpc.

@cdetrio Have you found any good editors to write/generate the specifications above? Or did you do it by hand?
I also found [jrgen](https://github.com/mzernetsch/jrgen), which is more gea

[2018-02-15 10:10] jamesray1 commented on #235
Hard fork voting seems like a good idea. Personally I've come to lean towards disapproving of non-trivial technical hard forks that return lost or stuck funds when there's no proof of who owns the funds and how the funds were lost/stuck. But that's a sub-issue of hard forks, it would also apply for other potentially contentious forks e.g. the transition to PoS.

[2018-02-15 10:13] jamesray1 commented on #235
I like user based voting, although I suggest that tokens are generated with a relatively fixed amount per transaction, similar to gas fees. (If you send 1000 ETH the gas fee isn't 1000x as expensive as sending 1 ETH.) I also like identity based voting as it creates a UBI of votes for everyone, which is truly democratic, providing liquidity.

[2018-02-15 10:16] jamesray1 commented on #235
Tokens for niche users would also have benefits, although users that participate more in commits, on Reddit, etc., a more likely to get delegated more votes.

[2018-02-15 16:06] fulldecent commented on #866
IMHO, all changes should update the network ID. The baseline is no network ID change. Technically we would stop using the term "hard fork" and then call it "new version".

Yes, this is version number bloat.

Semver already provide ample support for bloating version numbers before making rather than making changes with the same version number.

[2018-02-15 16:56] eordano commented on #721
My main reasons for writing a new spec were:

- lack of `approveAll` functionality
- lack of ERC223-like protection. Over 5 million USD worth of tokens are currently assigned to contracts that can't transfer tokens.
- slow responses and lack of process to update the standard
- lack of a reference implementation

[2018-02-15 17:01] eordano commented on #821
@inhumantsar the reality is that NFT is sticky. Deed doesn't have that catchy-ness.

I came up with "DAR" to avoid the issue of having to differentiate between "NFT" and "the NFT contract" (something that happens a lot with ERC20s). It actually stuck with some other people I have discussed this standard with.

[2018-02-15 17:18] fulldecent commented on #165
@jbaylina,

The supporting documentation for RJ @VoR0220, Hudson @Souptacular and Griff @griffgreen
 being listed as authors in this standard are inside your Google Doc version at https://docs.google.com/document/d/16AC8gBylYgPE5zr9C4mz2fS1oYLHQf1o8sGjxmw8Juw/edit#heading=h.kkpgop5ftnhc

I do not have access to that history. FILE-> VERSION HISTORY -> PRIOR VERSIONS.

Would you please review this h

[2018-02-15 18:05] tenthirtyone commented on #866
I think forking is easier, better and preferable to a bureaucratic process.

As you point out, this proposal is just the Tyranny of the Majority

I can misunderstand too. But I see forking as the solution to immutable history if you disagree with the history.

Furthermore, I think this fundamentally misunderstands the point of cryptocurrency. A major appeal, for me, is the push vs pull type of tra

[2018-02-15 18:31] Volodath commented on #866
Let me just make sure I understand what this is EIP is about; 'Let's standardize the way that we can react to any DAO-type events?'

That's like asking 'let's create a process for using our get out of jail free card' ignoring the fact that you only get one get out of jail free card.

If this EIP is implemented it's as good as saying 'yes we'll hard fork again to recover lost funds'. This kills the

[2018-02-15 18:33] arthurcamara1 commented on #721
I've been asking myself the same exact question. A new spec doesn't seem to be (1) necessary (2) constructive or (3) progressive.

_Even if_ ERC223-like protection would be a requirement for ERC 721 `transfer`, the use case for ERC 721 is very clear and it is a simple, basic and functional standard that would serve its purpose well.

[2018-02-15 18:44] ryanberckmans commented on #866
Given the community split around this EIP, and its potential for major damage, is it possible to have a wider RFC for the broader community?

[2018-02-15 18:50] inhumantsar commented on #821
Organizational inertia is a terrible excuse to maintain any practice though. If everyone just stuck to whatever came first, we wouldn't be discussing this vs. #841.

I'll agree that "Deed" isn't the sexiest word for engineers to use but engineers aren't the only people we need this to catch on with. We can use a term other than Deed, but intentionally moving toward jargon and opaque acronyms is an

[2018-02-15 18:50] Mushoz commented on #866
Personally, I cannot find words to express how strongly I am against this proposal, and many people from the Reddit community seem to share this opinion. I would strongly urge to somehow gather the opinion from the broader community on this topic before this is even considered.

[2018-02-15 18:51] arsenicks commented on #866
First, I'm sorry for your lost and all others who lost ETH in parity bug or others who had lost eth in the wild.

Second, I am really scared by what I'm reading on this EIP(I'm a sysadmin so no blockchain/coder skilled guy). If I get this right, you are proposing a way to submit, let's use the right word, a request to revert transaction or refund ETH and that not only for a one time deal but as a

[2018-02-15 19:15] jstoxrocky commented on #866
I am also against this proposal. An irregular state change should be by definition, _irregular_. This EIP is an attempt to standardize irregular state changes, making them _regular_ state changes. There is no possible way everyone in the community will be able to read/digest/vote on all manual state-changes going forward if this EIP is accepted - reducing the decentralization of the platform. Ther

[2018-02-15 20:13] DanielMReed commented on #866
I have to agree with all the other users against this proposal. Issues like the ones this claims to "help" are the very thing we should not be standardising. These are exceptional issues and should only be considered when the community has a calling for it. Not when some "standard form" you fill out gets sent to some group and agreed on.

[2018-02-15 20:15] shutfu commented on #866
I am 100% against this as a long-time eth miner and supporter

[2018-02-15 20:22] justbotrelatedthings commented on #866
Fuck off with your bullshit. This is nothing that should be on the Ethereum network.

[2018-02-15 20:22] eordano commented on #721
@arthurcamara1 read https://github.com/Dexaran/ERC223-token-standard and https://github.com/ethereum/EIPs/issues/777 -- I propose a similar mechanism as in #777

[2018-02-15 20:23] nootropicat commented on #866
This should be renamed to
"EIP 867: Turn Ethereum into a shitcoin"

[2018-02-15 20:23] Mushoz commented on #866
No matter how much we hate this proposal, please keep the discussion civil. While I agree with your sentiment, there are other words that can be used to express that opinion.

[2018-02-15 20:24] DanielMReed commented on #866
@nootropicat @justbotrelatedthings

This is not a place for profanity. If you can't keep it civil, don't say it

[2018-02-15 20:26] androolloyd commented on #866
100% opposed to this EIP it's very damaging to the future of Ethereum.

[2018-02-15 20:29] brenthompson2 commented on #866
I am curious as to how having EIP Editors could effect the centralization of the platform. Can anyone direct me to this `EIP-1`?

[2018-02-15 20:39] kamranrahman commented on #866
I don't support this. This sort of things shouldn't be built into the blockchain. If people really want to see this sort of capability I recommend letting dApps or DAOs handle this. That way, people can opt in our out such provisions.

[2018-02-15 20:41] mitucsaki commented on #866
Do not support this

[2018-02-15 20:41] julian-goldsmith commented on #866
@brenthompson2: EIP-1 is available [here](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md).  It deals with the format of EIPs.

I'll chime in with the others here, and say I oppose this proposal.  Standardizing the reversal of transactions on the blockchain cannot possibly end well, even moreso when a small group of people are relied on entirely to do so.

[2018-02-15 20:42] inhumantsar commented on #821
I think you have that exactly backwards. If you take a look at the press that CryptoKitties got though, you can clearly see that the high-level naming we choose, like the title of the spec, *not* just for developers. In fact, it's probably the only thing from the spec that the general population is going to be exposed to.

`holder` and `owner`, by contrast, will only ever be exposed to people writ

[2018-02-15 20:45] haokaiwu commented on #866
I am 100% against this proposal as an ETH holder and supporter. Since coming into the crypto world, I've believed in ETH and ETH only because I believed that it wouldn't pass proposals like this.

To be clear, I support open discussions about proposals like this, and I commend the Parity team for opening the dialogue.

That being said, beyond the concerns about standardizing an explicitly non-stan

[2018-02-15 20:45] DennisBPeterson commented on #866
Better than good example:

A crowdsale run by XYZ incorrectly published the testnet address of their crowdsale contract to their public website a week before the start of their crowdsale. Everybody had plenty of time to check for verified code at etherscan, and for a public audit referencing the production address. It quickly became apparent that XYZ had published the wrong address, so they correc

[2018-02-15 20:45] 88BlackAndWhite commented on #866
I'm opposed to this EIP.

[2018-02-15 20:46] Superkatzo commented on #866
sorry guys but im absolute against this proposal !  - if this goes trough, then ethereum has lost all its credibillity for me :(

[2018-02-15 20:46] Axismoto1 commented on #866
I am frankly surprised there would be even so much as a proposal of this sort.  I think a EIP to recover any funds is a slippery slope, one in fully enacted will thwart the viability and core advantages of Ethereum.  I am strongly opposed to this proposal as it hinders the immuabilty of EIP and will leave to external forces co-oping the network, governments, corporations, rouge entities, if it wer

[2018-02-15 20:50] kolarkso commented on #866
Opposed.

[2018-02-15 20:58] surrealgerman commented on #866
So a movement so dedicated to decentralization is trying to allow the opposite to slowly creep in because of expensive growing pains. Not the right means of going about it.

Let's see if the community's opinion actually matters.

[2018-02-15 21:03] machine-uprising commented on #866
Supporting and implementing this ERP proposal is setting a bad precedent that in future will most likely open up a range of problems. The only reason Ethereum would require this ERP is because there is overwhelming expectation of future occurrences of lost funds. It creates a "Lost Funds" help desk for Ethereum. Is that really what people want?

I believe that establishing this ERP will create two

[2018-02-15 21:05] Flupkees commented on #866
I'm very much against this. I can't put it any better than  @jstoxrocky above or Alex van de Sande in the following link:
https://github.com/ethereum/EIPs/pull/867#issuecomment-363091013

[2018-02-15 21:12] Jester2138 commented on #866
As a huge Ethereum fan, I am 100% opposed to anything of this sort. A blockchain that can be retroactively edited defeats the entire purpose of the blockchain.

[2018-02-15 21:12] fulldecent commented on #777
How is the operator design intended to work? This is what I see:

Addresses/contracts:

* Bob -- owns a token
* eBay3 -- a marketplace
* craigslist3 -- another marketplace
* Mary -- wants to buy the token

How it works:

1. Bob wants to sell, so it grants operatorship to eBay3 and craigslist3 and makes a sale offer
2. eBay3 has funds on file from Mary and Mary accepts the sale offer
3. (Same trans

[2018-02-15 21:27] elliotthill commented on #866
This goes against everything I _thought_ this movement was for

This is introducing censorship by the back door

You are suggesting the following people should have the power to be censors of the network:

`People or organizations that have a demonstrable history within the Ethereum community that are unaffected by the issue but may serve as relatively impartial adjudicators`

Christopher Hitchens

[2018-02-15 21:29] x-ETHeREAL-x commented on #866
This is wrong for so many reasons besides the moral hazard of fund recovery. The issue is much deeper and goes to the heart of what a decentralized network is.  We do not pick winners and losers, we do not pick kings and rulers, and so we do not pick people or organizations as the "adjudicators" no matter how impartial you think they are.  I am surprised that this even made it this far...

[2018-02-15 21:29] faustow commented on #866
Sad but unsurprised about this, it was going to be proposed at some point... I really hope this doesn't get implemented. If we allow humans to submit (potentially biased) ERPs and put EIP editors in a position to get bribed then we're basically killing the fairness of the ecosystem.

[2018-02-15 21:36] fulldecent commented on #866
Looks like we're having a Star Wars Battlefront / Darth Vadar moment in the EIP process!

[2018-02-15 21:36] haokaiwu commented on #866
@faustow  Couldn't agree more. Bribery is a great angle to review this proposal. In a (not-so) dystopian world, what's stopping an "EIP editor" from effectively be a paid position where everyone who had lost money would pay the editor a cut to rubberstamp their EIP?

We've got no way to confirm whether an EIP editor is getting bribed, and we're basically asking for this to happen by putting editor

[2018-02-15 21:43] jlarrieux commented on #866
I vehemently oppose this!

[2018-02-15 21:48] mpdwyer12 commented on #866
While I feel for anyone who lost funds, I can’t express enough how against this I am. In fact - if this goes through I am out.

[2018-02-15 21:58] sulkhanp commented on #866
I oppose this as well.

[2018-02-15 22:13] octafbr commented on #866
Honestly it seems like someone is pushing for this as it's definitely against the beliefs of the majority of the users. It's clearly a step away from decentralization, I wanna vote against this somehow.

[2018-02-15 22:17] salake commented on #866
Oppose 👎

[2018-02-15 22:20] elliotthill commented on #866
@jamslevy **I put this challenge out to the authors of this proposal and anyone reading ** to name me one specific person or group with a 'demonstrable history within the Ethereum community' to who you would give the power to reverse transactions on the network - and then prove how we can be certain it would never create a conflict of interest, never be used wrongly and never be used maliciously.

[2018-02-15 22:23] vulkoplusplus commented on #866
As a longtime supporter of Eth I totally oppose EIP, since it run the risk of undermining neutrality as well as censorship resistance. And please lets try to get Yoichi back, one of the more prolific developers on the ETH platform.

[2018-02-15 22:26] postables commented on #866
I can't believe this is even getting considered. This is a complete disgrace to the Ethereum community, and Blockchain as a whole. I'm sorry you lost money, but WE the ETHEREUM COMMUNITY shouldn't have to pay for the fuck up of someones mistake.

The real person who is at fault here is Gav Woods (be real with yourself, who else has lost the community millions of dollars), and every other solidity

[2018-02-15 22:27] postables commented on #866
Why does the **majority** have to pay for the fuck ups of a small few (https://github.com/gavofyork) @gavofyork

[2018-02-15 22:59] rohanagarwal commented on #866
I oppose this proposal; very surprised it's even being considered.

[2018-02-15 23:00] rvegas commented on #866
Opposed, close this issue.

[2018-02-15 23:03] PresidentPorpoise commented on #866
Opposed. The responsibility to recover funds and reverse transactions is not one of the Ethereum code. People who lost money lost money, and it is the responsibility of law enforcement to do what they can, although that is very limited. This threatens censorship resistance. The DAO might have led to a fork at a crucial time when Ethereum couldn't take the blow, but Ethereum isn't a baby anymore an

[2018-02-15 23:04] athwaites commented on #866
I am completely opposed to this proposal. It would compromise the trustlessness and immutability of the Ethereum blockchain.

[2018-02-15 23:06] aribo commented on #866
We **don't need standards for recovery of funds**, because recover funds should not be in any case the object of any function of the platform and, thus, of its developers.

The **main objective of Ethereum** is to be _a decentralised platform for the provable and finalised execution of coded smart contracts_. In order to create and sustain this platform, it's necessary to build an economic system

[2018-02-15 23:09] koomanan commented on #866
Blockchain developer here.  Completely against this proposal and what this community stands for.

[2018-02-15 23:24] #866 closed

[2018-02-15 23:25] cashlionjp commented on #866
I hereby declare my opposition to this proposition.

I can still hear you saying
You would never break the chain
Chaaaiiiiinnnn keep us together

[2018-02-15 23:27] amadeobrands commented on #866
This is the worst EIP I have ever seen ... 100% against changing any previous blocks so that users cab get funds back or potentially steal them.

[2018-02-15 23:37] ryanberckmans commented on #866
@jamslevy thank you for closing this issue! Thank you for listening to the community feedback.

[2018-02-15 23:53] chrisdbarnett commented on #866
I am 100% against this EIP.

Immutability isn't just about censorship or money, it's also about security and decentralisation.

Anything that compromises immutability, also compromises security AND decentralisation.

People can talk about frozen funds adding up to millions or even billions of dollars and the emotions involved if it was YOUR money.....but on the other side of the scale is an amount

[2018-02-16 00:07] jbaylina commented on #777
@fulldecent In general, operators should be smart contracts that you trust the behabior. In thise case eBay and craiglist3 should be a watantee that transfers are done only if money is sent back.

[2018-02-16 00:30] elzach commented on #866
I am opposed to this EIP. In no way is excusing irresponsible behavior, in the form of an "undo" button backdoor, an excuse to introduce centralization to a platform that was born to oppose it.

Ethereum as a project will lose face and credibility in the cryptocurrency community if this proposal passes and I, for one, will stop supporting the project and stop investing in it.

[2018-02-16 00:44] jwhelan72 commented on #866
I am absolutely opposed to this EIP.  Those that lost funds through the Parity muiltsig bug should find alternative ways to cover their losses.  Perhaps Parity technologies can donate a chunk of their allocated DOT tokens to cover those whose ETH is locked up forever?  That is a far better solution IMHO.

[2018-02-16 00:49] flockonus commented on #721
@eordano - about the `transfer` method, this point you made caught us by surprise considering the ERC-821 spec seem to heavily rely on an overloaded `transfer`.

The latest positioning that @dete made [is about making it optional](https://github.com/ethereum/EIPs/pull/841#issuecomment-363946435), and @fulldecent [seem to be in agreement with that](https://github.com/ethereum/EIPs/pull/841#issuecom

[2018-02-16 01:00] pozyx commented on #866
I am strongly opposed.

[2018-02-16 01:03] MughalMugz commented on #866
We cease to exist when we do not rise together for justice. This measure would be the first step towards that abyss.

[2018-02-16 01:07] quiuquio commented on #866
I oppose this EIP simply because it is not an improvement for the ethereum network.

[2018-02-16 01:08] RexetBlell commented on #866
I completely oppose this EIP, thank you for closing it.

[2018-02-16 01:28] maxzzze commented on #866
Opposed

[2018-02-16 01:49] milo-42 commented on #866
Strongly opposite this EIP.

[2018-02-16 02:09] andrewmoroz commented on #866
Categorically opposed.

[2018-02-16 02:18] ExistentialPrime commented on #866
Thank you to all the devs that have put work into this EIP. The approach is thoughtful and the end state is a valid approach to keeping the EVM from becoming an unforgiving 'code is absolute law' wasteland that companies avoid because one minor oversight or bug could wipe them out completely. And as a Dev myself, I know better than anyone that we are not perfect.

[2018-02-16 02:18] britmob commented on #866
The last thing we need is for funds to be easily recovered. That will just ruin Ethereum. Certain cases make sense, but *this can not be a standard procedure*. Things like the DAO and Parity hack(s) would make more sense for an EIP, but not *this*.

I oppose.

Does anyone actually support this?

[2018-02-16 02:26] andrewmoroz commented on #866
I quote Nick Szabo from twitter today:

"When software engineers are called upon to make legal and accounting decisions, their
fears of legal action are quite well placed.

Community norms should forbid expanding the scope of software upgrades to include making particular legal and accounting decisions to modify balances. It's an abuse of the software upgrade process, an invitation for lawyers to

[2018-02-16 02:26] phiferd commented on #866
Do you think a company that is just running their business on the blockchain but has no connection to the client teams or other major players could coordinate such a process?

Also, the primary issue that is addressed in this EIP is to say (a) the ERP process only covers cases where there is no contention about ownership (it can't be used to resolve disputes), and (b) there needs to be some way fo

[2018-02-16 02:28] omarchy commented on #866
I am opposed to this proposal.

[2018-02-16 02:47] haydenhab57 commented on #155
https://github.com/ethereum/yellowpaper/pull/412

[2018-02-16 02:56] aribo commented on #866
@phiferd there are cases where a hard-fork (or a soft-fork) is necessary in order to safeguard the security and stability of the system. There might be cases that this action may have as a consequence, among others, the recovery of loss funds. But this recover should never be the end of the intervention. The end of the fork is "safeguard of the system" not "recovery of funds".

This proposal puts

[2018-02-16 04:07] 1sn0s commented on #866
Shouldn't be a standard. So No.

[2018-02-16 04:18] neuhaus commented on #866
I think having a way to recover funds is a good thing. It needs to be done in a way so that bribery is impossible.

[2018-02-16 04:22] pmaji commented on #866
Categorically opposed. Not that I think your intentions are bad, but because of the repercussions if accepted. Thanks for closing it.

[2018-02-16 05:35] kayado commented on #223
@daniel-jozsef
Thanks for the information.

[2018-02-16 07:48] TacoByte commented on #866
I wish all the people “categorically opposed” to this EIP would remember we already had this debate a year ago. You are free to use ETC because according to your values you should not be using ETH, so what are you doing in here?

[2018-02-16 09:06] silver84 commented on #866
Categorically opposed to anything which would enable backdoor and  fundamentally damaged the nature of a trustless network protocol like Ethereum

[2018-02-16 09:07] fulldecent commented on #777
That's the problem. Bob trusts Craigslist3, because he made it.

When Mary takes the token she does not know about, nor did she consent to, Craigslist3 controlling it.

Mary has no reason to check that Craigslist3, or a number of other contracts, has control of it.

[2018-02-16 09:13] mcdee commented on #777
@fulldecent an operator is specific to a sender, so if Cragislist3 is an operator for Bob they cannot take tokens once they have been transferred to Mary.

[2018-02-16 09:19] fulldecent commented on #777
Thank you for clarifying.

What about this scenario:

1. Bob buys EaglesCoin on Jan 1 2018.
1. Bob lists it for sale on eBay3 and Craigslist3 for $100
1. Mary buys it for $100
1. Bob doesn't have any EaglesCoin left, he forgets about it
1. The Eagles win the superbowl, market value skyrockets
1. Mary sells it back to Bob for $500
1. Joe buys it from Bob for $100 FTW

Bob didn't want that last tran

[2018-02-16 09:30] xpepermint commented on #721
Hey everyone. I propose changing the `uint256 _tokenId` to `string _tokenId` or `bytes _tokenId`. We need to support UUIDs.

[2018-02-16 09:32] fulldecent commented on #721
UUIDs can directly encode into uint256.

Strign and bytes are dynamic length and therefore costly. Those are unnecessary.

[2018-02-16 09:36] xpepermint commented on #721
Thanks @fulldecent. What about a case when tokenId is some unique hash (checksum). Currently we add methods to retrieving the hash from auto increment token id, but it would be great to be able to just use hash-es as IDs. What do you think would be the right approach?

[2018-02-16 09:42] fulldecent commented on #721
sha3(anything) is directly convertible to uint256. This is a design decision.

[2018-02-16 09:46] fulldecent commented on #721
I have added your cases as justification for the uint256 choice here: https://github.com/fulldecent/EIPs/commit/dd3396a3ce5b95eb0f901f1451859c290b6e2086

Thank you!

[2018-02-16 09:49] xpepermint commented on #721
Thanks @fulldecent!

[2018-02-16 10:28] mattdf commented on #866
I oppose this EIP and any like it.

[2018-02-16 10:55] SCBuergel commented on #866
I am against this EIP and I am for an open and honest discussion. We are not discussing a "general governance issue" here, we are in this discussion only and exclusively because one corporation created a too large loss of funds because they did not adhere to coding standards, did not audit their code and did not employ any tests. Any discussion that does not acknowledge this as a foundation of the

[2018-02-16 11:11] mcdee commented on #777
@fulldecent an operator has the ability to transfer tokens from any account to which they have been given access by said account holder.  So if Bob gives EBay3 operator access then EBay3 can transfer any of Bob's tokens up until the point that Bob revokes EBay3's access.  It is incumbent on Bob to revoke the access once granted.  That said, step 7 in the example you gave is not possible unless it

[2018-02-16 11:18] britmob commented on #866
The issue was not with their code.

[2018-02-16 12:00] moustachio-belvedere commented on #866
I am also against this EIP. As kamranrahman suggested, anything like this should be implemented in siloed in DApps/DAOs.

[2018-02-16 12:02] kunili commented on #866
помогите я не шарю  вообще

[2018-02-16 12:03] kunili commented on #866
как исправить

[2018-02-16 12:05] kunili commented on #866
я выше почитал ,так понимаю на косячил

[2018-02-16 12:06] kunili commented on #866
выиграть выиграл а не понимаю

[2018-02-16 12:09] kunili commented on #866
всем кто пострадал от моих действий компенсирую с лихвой

[2018-02-16 12:37] supRNurse commented on #866
Sir I do not agree. This discussion has been evolving since way before Parity. (see EIP-156). The large amount of Ether lost in the Parity issue did create some traction but there are plenty of small groups and individuals (like myself) with Ether stranded in un-spendable accounts such as the 0x000000000000000 address. If you are against this EIP based on technical issues I can respect that'd urge

[2018-02-16 12:46] alexvandesande commented on #67
This proposal has been superseded by https://github.com/ethereum/EIPs/pull/681

[2018-02-16 12:46] #67 closed

[2018-02-16 12:51] kunili commented on #866
от меня сейчас что требуется

[2018-02-16 12:58] kunili commented on #866
вы где все раньше были я весь инет рыскал кто бы помог  мне ,а вы тут писюкались

[2018-02-16 13:03] sidthekidder commented on #866
It would take less than 5 years for major wall street companies to capture the positions/loyalty of these ERP reviewers by either bribing them in real life or pushing their own devs into the eth community, so that they would have effective power in reversing/allowing and disallowing ICOs etc.

If this EIP goes through, suddenly an ERP reviewer's job would become the most important job in crypto (b

[2018-02-16 13:07] kunili commented on #866
ой все, достали ребят  я  исправить хочу сейчас что делать

[2018-02-16 13:13] kunili commented on #866
из всей ситуации я чувствую вину ,лишь перед простыми обывателями за что прошу Принять мой искренние Извенения,
ХОТЯ ВЫ ЗНАЛИ САМИ ЧЕМ ЗАНИМАЕТЕСЬ ,ОСОЗНАВАЯ РИСК

[2018-02-16 13:16] kunili commented on #866
таких как я что не понимают сути уйма ,и будет на вашем пути много ))))

[2018-02-16 13:19] kunili commented on #866
Я и не думал что выиграю ,зашел на сайт от балды ,покрутил рулетку а на другой день бац выиграл

[2018-02-16 13:56] DZGoldman commented on #866
It's hard to overstate how much of a disaster this would be.

[2018-02-16 14:01] adamrabie commented on #866
i'm surprised so many people didn't see this as inevitable after the DAO situation.

Immutability is binary. Ethereum chose this path already.

[2018-02-16 14:12] trvski commented on #866
I am vehemently opposed to this proposition and call for it's rejection. The ideology underlying this proposal undermines the very foundations of the project, probably even decentralised crypto-economic platforms in general.

I would also further caution the contributors and users of ethereum. This may be just the beginning. The interested parties behind this proposal are applying some pressure bu

[2018-02-16 15:11] nairbv commented on #866
It's an interesting idea if there were a safe way to implement it, but all I'm seeing is how the communication would work. What's the proposal for how an erp would be approved? Did I miss that part?

Proof of stake voting doesn't seem sufficient, even with a 30 day window. That would require all users to monitor their addresses for potential reversion attempts at least once per month, and some mec

[2018-02-16 15:12] jhoenicke commented on #155
@talbp :  An ECDSA signature (r,s) is computed from a random nonce k: compute R = k*G and set r = (R.x mod ORDER) and throw away R.y.  To recover the public key one can use the formula 1/r*(sR - hG), but that requires to recover R from the signature.  If R.x < ORDER (which is almost always the case), then the missing part is R.y and there are two possibilities (one with low bit 0, one with low bit

[2018-02-16 15:13] Arachnid commented on #866
This EIP does not grant EIP editors any power they do not already have. EIP editors do not decide what makes it into a hard fork, implement the hard fork, release it, schedule it, or adopt it.

[2018-02-16 15:21] adamrabie commented on #866
if you don't want to lose something scarce, use a testnet

[2018-02-16 15:28] moskalyk commented on #821
**Non-Divisibility & Multiple Ownership** I believe is core to serving a Non-Fungible Token.

Whether this is incorporated in this standard, or, possibly the #874 conversation pertaining to Weighted NFTs.

**Use Case:**
The use case where I am encountering the need, is for a National Land Registry whereby a NFT / Title has the ability to contain many owners, and the future potential of using owner

[2018-02-16 15:53] jdetychey commented on #866
Strongly opposed

[2018-02-16 16:02] nfet commented on #866
I strongly oppose.

[2018-02-16 16:41] tenthirtyone commented on #821
@moskalyk I've played with splitting vote weight among the authorized operators, I think it will have to be separate from the operators. Perhaps authorized voters instead.

But if I understand correctly, you speak to multiple owners of one asset in the DAR. I certainly defer to @eordano

For my personal opinion, I agree something like a skyscraper would have multiple owners. I see a couple problem

[2018-02-16 17:18] n4ru commented on #866
Strongly oppose.

[2018-02-16 18:26] eordano commented on #721
Making `transfer` security optional completely defeats the purpose of adding the protection @flockonus

With regards to your points:

1. The ERC-820 functionality is optional. Calling a receiving contract's `onAssetReceived` function should not be.
2. This is overthrown by previous experience: "First" is not good enough for a standard
3. This defeats the purpose of standardization

After a discuss

[2018-02-16 18:33] eordano commented on #821
@moskalyk @tenthirtyone Indeed I've thought of that at length because most users in Decentraland will probably want to handle their land in sets, and between multiple parties. Right now I think a single contract owning all NFTs is definitely enough, with governance of that contract established with an Aragon organization or a simple vote with an ERC20.

I think we get into application-specific dom

[2018-02-16 18:38] armezit commented on #866
The consequences of this would be:
1. Exhausting human resources of Ethereum network in an unstoppable reviews of everyday ERPs
2. Introduces rise of hard forks in network
3. Normalizes centralized behaviors and theorize them as a basic concept/norm of Ethereum network
4. Opens a backdoor for many kinds of external pressures on Ethereum society and users. For example, just consider the **Good exam

[2018-02-16 18:40] IceAmaura commented on #866
Fund recovery isn't needed and raises way too many ethical problems, let alone going against what Ethereum _as far as I know_ stands for. Strongly opposed, do not reopen.

[2018-02-16 19:07] fulldecent commented on #821
Hello team. You have a lot of great ideas in here.

I have copied in the concept of an operator into #841 as well as a one-step transfer.

Thanks for your hard work on investigating these items.

For now our use case includes physical property transfers and some more complicated transaction mechanisms that require payment for a transfer (yes really). This is why our transactions may fail "for othe

[2018-02-16 19:16] fulldecent commented on #777
In this implementation, it seems like anybody that wants to transact using multiple operators is going to want to send it to a temporary smart contract.

That temporary smart contract seems like a better place to standardize the operator functionality.

---

My argument fizzles if this standard only supports one operator or if the list of operators is knowable.

[2018-02-16 19:18] fulldecent commented on #821
Also, I like here how it is specified when a function CANNOT throw. We have borrowed that idea too.

[2018-02-16 19:26] fulldecent commented on #821
Also, I notice the partial backwards compatibility with ERC-20. Of course we cannot be fully backwards compatible. So I am not sure about the merit of partial backwards compatibility being required.

Either way, I have added discussion in the 721 backwards compatibility to note that implementations MAY implement those function aliases to achieve partial compatibility if they want.

[2018-02-16 19:47] yuyang08 commented on #866
"The primary consideration for the approach described above was to minimize the amount of risk associated with recovery actions that would otherwise not have a viable solution. A secondary consideration was to standardize the format used in the proposals for recovery actions."

It is not clear to me why we need recovery actions.

[2018-02-16 19:59] thijstriemstra commented on #866
A decentralized coin without backdoors cannot have a recovery process by design so why are you even considering such a foolish idea? Go work for Microsoft and implement their NSA backdoors.

[2018-02-16 20:27] fulldecent commented on #821
Hello, @detz informs me that an event is being hosted at ETHDenver to discuss deeds/nft/dar standards but there is no internet connectivity at the event.

I have comments prepared for this discussion and I will post in the Gitter now

https://gitter.im/ethereum/EIPs

[2018-02-16 20:29] dete commented on #721
I think we're over-thinking things, folks!

Let's step _all_ the way back and ask ourselves what the purpose of this standard is: To make it _possible_ for certain systems (most notably wallets and exchanges) to interact with _all_ NFTs in a consistent way. It should allow these systems to effectively work with any conforming NFT contract, without any additional knowledge about the inner workings

[2018-02-16 21:20] mudgen commented on #721
I much agree with @dete and I rather like the term Non Fungible Tokens, or nungibles, more than deeds or digital distinguishable assets. I think adding whole new ERC721 standards adds confusion and uncertainty about what interface to actually implement and why.

[2018-02-16 21:36] fulldecent commented on #721
The issue presently is that we need a path *forward*. People have projects that they want to deploy *yesterday* and prefer to use *something, anything* as a standard.

This issue #721 sets forth great ideas. But is obvious that the steward here, and (GitHub limitation) the only person who can update the top comment here, will not see this standard through the EIP process.

It would be nice if the

[2018-02-16 22:13] dete commented on #721
To @fulldecent's point, please use the thread in #841 for any discussion about the details of the current draft. This thread, #721, can be used for meta-discussion, where warranted.

(This text has been copied to the first issue, also.)

[2018-02-16 23:29] stefangordon commented on #866
Is this absurd idea actually being taken seriously?  The fact that it wasn't immediately dismissed raises massive concerns about the future of Ethereum and I'll certainly be moving my development to other platforms.

[2018-02-17 00:52] ngerrity commented on #866
Terrible idea, as mentioned over and over again above. These lost funds amount to two things: poor coding or administration. Flaws in 3rd party wallets, websites, and applications either in the code or the server stacks hosting them. It sucks, but to write safety measures to protect against these scenarios is illogical. Software, especially open source, will have flaws. Publishing and dealing with

[2018-02-17 00:54] nicola commented on #821
I wonder if multiformats can play a role in here (ping @whyrusleeping)

[2018-02-17 01:29] carver commented on #225
If an EIP based on this were accepted, should it mean:

1. Updating the main Ethereum spec to remove the constraint of 32 bytes maximum length on `extraData`, or...
2. Would 32 bytes remain the maximum of the main spec, and only this PoA sub-specification relax that constraint, or...
3. Some third option, like the data will end up somewhere else than `extraData`?

If the answer is number 2, it see

[2018-02-17 08:25] lusion-jaco commented on #866
The decision has to be based on what is best for the majority... EIP 867 is not it.

[2018-02-17 09:13] adamrabie commented on #866
@ngerrity the idea that DAO event would've rendered the network as useless is senseless and eth classic proves this point. Sounds like your not really sure what you do or dont support which is where this issue comes from.

[2018-02-17 09:25] ngerrity commented on #866
@adamrabie eth classic is worth far, far less in terms of market cap and overall user adoption. Aside from that, that wasn't the point I was making with that statement, simply that a hard fork like that one could be applicable to a situation that was worth than the DAO event. I'm fully aware of my position on this subject, but thanks for playing

[2018-02-17 09:31] adamrabie commented on #866
@ngerrity sounds like you're gonna need a system like this for arbitrating your not so clear line at all about where refunds should or shouldn't happen.

[2018-02-17 09:38] ngerrity commented on #866
The system is already in place, how do you think that original hard fork happened before this EIP existed? Furthermore, in the thread linked at the top now, I reiterated my statement above and included a link to a comment by another person that proposed an opt in type of insurance for ico/users that could potentially be a better solution without changing what many believe to be a core principal of

[2018-02-17 10:18] adamrabie commented on #866
@ngerrity original fork happened informally by @vbuterin et al getting pulse on community decision and acting as 'benevolent dictators' in interpreting and implementing their perception of what was wanted. If you think that informal process is better, great, but it's an ERP system nonetheless, just without the fancy name and more clear procedure this offers comparatively, and a lot of trust in Vit

[2018-02-17 10:53] Cryptosophies commented on #866
I'm on the ETC side for the immutability and the core values but I was wondering. Even if EIP 867 goes against some basic principles of decentralised technology, I believe that blockchain is still in a very early stage and we should test different kind of politics. ETC is the immutable side so why don't we let ETH try a different approach and let time be the judge of that ? The simple existence of

[2018-02-17 13:01] realcodywburns commented on #866
On this ethereum chain there is not a question of "if" a hardfork to correct contract bugs can happen, but rather under what circumstances. We had a similar debate around the time of the DAO split and it's result was that those who wanted the chain to be an immutable ledger where "code is law and contracts operate as written without regard to intent" were allowed to exist as ETC. The understanding

[2018-02-17 13:06] adamrabie commented on #866
@realcodywburns most sensible, honest Ethereum defender here.

[2018-02-17 13:35] Cryptosophies commented on #866
I understand and I respect that approach. I have another question in order to have a better opinion because for the moment, I have litterally no opinion on this. I don't have enough knowledge for that. Is EIP 867 a way for Ethereum to cover its back in case something goes wrong with the changes that are coming ? (Casper, PoW to PoS...) Beceause in that case, defining rules for EIP 867 seems a good

[2018-02-17 14:58] Illasera commented on #865
Get ready for a billion tokens payment method,

Not only that you will scare the every-day layman, But you will scare the actual blockchain users
with over-saturated market. If it doesn't work that way in the real world, its a bad idea.

Imagine if you have will to pay in special coupons for every single thing.
Shirt store coupons only
Pants store coupons only
Burger-town coupons only.

[2018-02-17 15:49] hyperfekt commented on #777
It appears to me this is a problem that's both somewhat orthogonal to the standard and not easily solved by it. I've played with the idea of using the Ethereum Alarm Clock schema for notifying other contracts of an event, which could be used to implement contracts that manage the scenario of offers on two independent platforms for the same item.

[2018-02-17 17:16] nakajo2011 commented on #865
this is cool proposal! I think it is more useful to add that "bytes inputData" argument to a delegate transaction.

[2018-02-17 18:07] Lietmotiv commented on #866
I understand immutability. However, I wish the people opposed to this measure would avoid hyperbole and state a real reason with a real world example of their dissent why this would be a world ending event. Just saying "No... can't do it... no way..." reminds me of oppressive religous nonsense..."No...women can't drive... no way.. it's law".  Everyone robotically and vigorously opposes any change

[2018-02-17 18:36] IceAmaura commented on #866
@Lietmotiv but nobody owes you anything, in both the case of getting your Eth back and in the case of meaningful discussion. Also, under what grounds would you have to sue an organization for? You didn't lose money, you lost Ethereum, in your example. Nobody has an obligation to keep your Ethereum safe for you. You need to do that for yourself before anyone else.

[2018-02-17 19:32] Lietmotiv commented on #866
@IceAmaura the hypothetic eth cost fiat. I guarantee if we played out the Dao hack without the hard fork it ends badly for ethereum. No one would risk capital on it going forward. Who would? I don't want to argue hypotheticals. We live in the real world with real world problems and solutions. Dogma is fine for guidance but rigidity and inflexibility due to dogma has never been qualities of a susta

[2018-02-17 20:35] Cryptosophies commented on #866
@Lietmotiv : I think that you're right about the DAO hack fork. Without it, ETH and ETC wouldn't be where they are. The context is different today. I understand you but I also understand the other side. They're defending a different kind of vision for Blockchain tech in general. It's not only about Ethereum. This is a complicated situation we're in but I think that opening this discussion is a ver

[2018-02-17 21:04] troverman opened #888 "ERC 888: MultiDimensional Token Standard"
**EIP #888**

**Multidimensional Token Structure: [address][_id][_value]**

**Summary**

**Abstract**
_Short (~200 word) description of the technical issue being addressed._

**Specification**
_The technical specification should describe the syntax and semantics of any new feature. The specification should be detailed enough to allow competing, interoperable implementations for any of the current

[2018-02-17 21:10] jashmenn commented on #821
I've started a Google doc that attempts to show the compatibility table between ERC-721 NFTs / #841 Deeds / #821 etc. [Here's the link](https://docs.google.com/spreadsheets/d/1SmZCt3j385Z678WzqLRj1LNj6Dd-7FLkEMY9Bg_sWvU/edit?usp=sharing). Feel free to comment or request edit access.

Unfortunately I can't make it to the meeting at ETHDenver, but maybe this chart can be helpful there.

[![screensho

[2018-02-18 00:51] flygoing commented on #888
This is pretty interesting. It reminds me of this short lived conversation around Divisible NFTs from a couple weeks ago: https://github.com/ethereum/EIPs/issues/864.

The idea around divisible NFTs is to allow partial ownership of assets, which is pretty powerful. Imagine owning .001% of a van Gogh painting. Have you considered expanding this standard to cover both MDTs as well as DNFTs?

Realist

[2018-02-18 01:30] rohanagarwal commented on #866
@lietmotiv there’s a difference between standardizing a process for ethereum recovery vs. doing a hard fork, as in the case of the DAO. In my opinion, the protocol and code are law, and introducing a human offchain procedure for reversing transactions can erode trust in the system. However, I think hard forks can be encouraged. If most people disagree with the protocol and/or state of the system,

[2018-02-18 15:28] cardassian-tailor commented on #866
Feel like this thread is rampant with misunderstandings and an offical blog post outlining the specifics of this should be done to allow for formal and well informed debate and "vote".

First, the EIP specifically states:
**it is intended to address cases where there is no disagreement about the right outcome between directly affected parties**

Lets start here, if I understand correctly - we aren

[2018-02-18 18:36] MicahZoltu commented on #866
That is correct @cardassian-tailor.  This EIP just defines to framework for _proposing_ recovery proposals.  It does not propose any recovery itself and it does not guarantee that any recovery proposal will go through and me implemented my clients.

[2018-02-18 20:18] urosm123 commented on #821
Does anyone know the results of this discussion in Denver? Can I track that somewhere?

[2018-02-18 20:58] 3esmit commented on #865
@Illasera If someone willing to pay ether-gas to get a valueless token then is problem of who is including the presigned transaction to the contract.

[2018-02-18 21:32] fulldecent commented on #821
I do not like what happened with erc721.org. There are several problems and inaccuracies:

* This should definitely be a project that is open source / hosted from GitHub or some other open access mechanism and which allows collaboration (and the domain is registered under privacy)
* It presents a brand new interface, which is not discussed anywhere -- EIP is an established process for discussing E

[2018-02-18 21:35] fulldecent commented on #721
Cross post from https://github.com/ethereum/EIPs/issues/821#issuecomment-366549682

---

I do not like what happened with erc721.org. There are several problems and inaccuracies:

* This should definitely be a project that is open source / hosted from GitHub or some other open access mechanism and which allows collaboration (and the domain is registered under privacy)
* It presents a brand new int

[2018-02-18 21:44] nbablockchain commented on #821
From a very brief glance, erc721.org seems to suggest an affiliation with 0x at first glance, but a somewhat closer inspection makes me skeptical.

If 0x is not affiliated with erc721.org, I would strongly suggest 0x and its rights holders consider taking action against the website to stop the confusion and false association that this is going to create.

If 0x is affiliated with this site, I woul

[2018-02-18 22:53] tomhschmidt commented on #821
Hey @fulldecent -- I made erc721.org for the ETH Denver hackathon.

erc721.org is currently being served using GH Pages from this GH repo: https://github.com/0xProject/erc721-website. The site could definitely use some improvements, so feel free to submit a PR if there are changes you'd like to see!

As @dekz mentioned in the discussion under EIP-721, many in the community are worried by the fragm

[2018-02-18 23:03] fulldecent commented on #821
This process seems opaque. I wasn’t able to attend a three-day notice
meeting. Then at the meeting internet was not available. Now before minutes
being made available, I see a new proposed standard is deemed “final”,
outside the process of EIP. And all this is being done by a single entity.

I respect initiative. I’m here to help. Include me.

That website is missing parts. Let me digest, fix it a

[2018-02-19 00:37] rca03 commented on #821
The 0x team has demonstrated a pattern of trying to run roughshod over any semblance of process to establishing a standard here. It is ultimately self defeating.

[2018-02-19 00:48] willwarren89 commented on #821
It is unfortunate that not everyone was able to attend the working group. It was never intended to be some sort of official process. That being said, it was certainly not opaque. [Almost all of the NFT projects were represented](https://twitter.com/arthur_camara/status/964634044708384768) and, IMO, it was a huge relief to be able to communicate directly with these projects IRL rather than through

[2018-02-19 00:56] rca03 commented on #821
@willwarren89 There are many projects that are not accounted for in your summary (including private, commercial B2B use cases)—this is not to make a value judgement on the significant contributions made by the hastily organized working group over the weekend.

My only caution here is would be towards the lack of participation in the well-established, community EIP process by this select cohort. De

[2018-02-19 01:01] Shrugs commented on #821
For context, the plan _is_ to work within the EIP process as a join effort by the stewards of 721 and 821.

Regarding private, commercial, etc requirements, the plan (as I understand it) is to produce a standard that is as general as possible and allow additional features (like fine-grain access control, pull-payments, etc) as layers as additional EIP standards.

[2018-02-19 01:09] fulldecent commented on #821
@willwarren89:

The artifact of this meeting, erc721.org includes the statements that make this appear as an official process.

![screen shot 2018-02-18 at 8 03 57 pm](https://user-images.githubusercontent.com/382183/36359247-fdb912e2-14e6-11e8-994c-38c03d29ff42.png)

![screen shot 2018-02-18 at 8 04 05 pm](https://user-images.githubusercontent.com/382183/36359248-ffc3bb3c-14e6-11e8-9128-4ffba7c48

[2018-02-19 01:15] fulldecent commented on #721
@dete I have been in private discussion with @dekz. @dekz informs me that a representative of Crypto Kitties has attended ETHDenver and represented the group as saying they will not require operators to be in the standard. We expect @dekz / the 0x project will make these minutes publicly available.

However in good faith, I will assume this is accurate.

You granted stewardship of this issue (via

[2018-02-19 01:16] dekz commented on #821
To be clear, this is the first time a diverse representation of the community has sat down together and actually worked on a NFT proposal as a group together.

Let's try and get these Github issues back on track and see if they can be as productive as the Working group was.

[2018-02-19 01:24] superphly commented on #721
I'm with @fulldecent on this. There's a procedure, community and standard way of going about things. A closed group running off and ramming a standard down folks throats is offensive and off putting. Is that really the way we want standards to be done?

William and I were not able to attend ETH Denver, unfortunately, but I feel like this is a slap in the face. We've put in a lot of hard work over

[2018-02-19 01:42] amittmahajan commented on #821
This works for us (RareBits, https://rarebits.io) and has our support. As an ERC721 marketplace, we have interacted with a lot of these contracts that are live and are supportive of this effort to standardize the implementation. While this doesn't include everything that the community will want eventually, it at least it locks in a "v1" API that devs can build against safely.

[2018-02-19 01:42] hyperfekt commented on #821
Is my understanding correct that the intended process by the 'working group' is to now discuss everything anew on a different Github from the beginning instead of continuing the work / understanding already done / come to here? This would include everything agreed upon at the meeting since, there is no discussion available for these decisions.
To me that seems highly counterproductive. If you coul

[2018-02-19 08:08] fulldecent commented on #821
Hello everyone. As promised, I have made significant changes at pull request #841. Cross post from https://github.com/ethereum/EIPs/pull/841#issuecomment-366613937

----

Major change implemented:

* **Rename functions** to harmonize better with ERC-20
* **Add `delegate` function** which reduces the entire Operator extension into a single line
* **Switch to one `transfer` function** (still works t

[2018-02-19 08:09] fulldecent commented on #821
@dete Correction. ETHDenver was the second diverse meeting on NFT workgroup. I have documented the history of consensus building meeting in the #841 standard.

[2018-02-19 08:10] fulldecent commented on #821
@dekz  Correction. ETHDenver was the second diverse working group for NFT. I have documented the history of consensus-building meetings at #841.

[2018-02-19 08:16] fulldecent commented on #821
I just want to say I appreciate the effort of setting up that last minute meeting and getting it through. I hope you enjoy my latest update.

Let's review, let's talk. The major departure is `acceptAll`. I have made that slightly different in my standard and took into account many people's interests -- specifically doing two-step transfer for single items.

Now is a critical time because I think w

[2018-02-19 12:24] pirapira commented on #168
I oppose account removals without the consent of the affected private key holders.  There is no method to tell all of them about the to-be-removed accounts.

[2018-02-19 12:43] jbaylina commented on #777
1.- Clearly it's a good idea to have a list of all authorised operators for an account. (Specially now that the EVM allows variable length returns) The only concern is that this will cost an extra gas for storing the list on the state.

2.- @fulldecent  This example balances me more about adding @mcdee 's idea about tokensToSend. You can see a PR of the implementation here: https://github.com/jacq

[2018-02-19 13:37] johnda98 commented on #67
Thanks Ligi and Alex :-)

[2018-02-19 19:25] fulldecent commented on #777
Circling back from ERC-841. We are working on a very similar problem. Here is the solution we currently have:

* `transfer` -- works with zero, one, or two levels of indirection
* `approve` -- allows someone to take a specific deed from from the owner
* `delegate` -- allows someone to take anything from the owner, or approve others

FYI, we are working on _deeds_, each deed is unique, we don't hav

[2018-02-19 20:53] AlexeyAkhunov commented on #168
More data in this blog post for reference: https://medium.com/@akhounov/more-data-for-eip-168-kill-dust-accounts-83e8dd0938d3

[2018-02-19 21:27] fulldecent commented on #821
@hyperfekt I do not support "v1". a) It is not a standard, you can't implement it b) it is incomplete.

We have taken "v1" and with considerable effort, discussion and consensus building (from people that have identified skin in the game) turned it into a standard at #841. This was not too bad because "v1" is very similar to what we already had.

Also, we have documented CONSIDERABLE amounts of ra

[2018-02-20 01:29] dekz commented on #721
[Here is the minutes and actions](https://docs.google.com/document/d/1tnetruSsWG_ZWXBDOE_kg8zKoX_cZuUefTmyixh_N0k/edit?usp=sharing) from the ETHDenver Working Group. If anything in that document was misrepresented or I have misunderstood, let me know and we can clarify.

There was no desire for this meeting to be some back room deal, we're all apart of the same community and it doesn't help any pa

[2018-02-20 05:16] superphly commented on #721
Awesome. Glad to hear we can all work together.

[2018-02-20 07:32] alexanderatallah commented on #821
We at OpenSea (https://opensea.io, an NFT marketplace) endorse this v1 API. At the EthDenver meet, the emphasis wasn't on finalizing the standard, but instead on establishing a name and location to send to devs who want to work with non-fungible tokens. This is important because many, many tokens haven't been following any standard at all, in part due to all these balkanized github EIPs. @tomhschm

[2018-02-20 09:29] hyperfekt commented on #821
@fulldecent
Sorry for the confusion, you might have misunderstood me. My comments were addressed at v1.
I have been following #841; and was doubting the arguments for using v1 at all in the presence of #841, specifically asking if v1 prevents functionality #841 allows for; and asking for rationale for decisions made in v1 so they may be considered for #841 instead.

[2018-02-20 12:49] volodg commented on #140
I think bug still happens, ETH was withdrawn but transaction is failed - https://etherscan.io/tx/0x2d6948d4ce3e6e9550aed035d4368e047464baea142a084716c054178b7ef321

[2018-02-20 15:27] #672 closed

[2018-02-20 18:08] eordano commented on #821
I do not agree with https://erc21.org and I'm asking to get Decentraland's logo out of there (it's irresponsible to champion a standard without transfer security), but I've got the upmost respect for the 0x team.

[2018-02-20 18:13] OFRBG opened #891 "ERC 891: Mineable Distribution Layer"
## Preamble

    ERC: 891
    Title: Mineable Distribution Layer
    Author: Oscar Fonseca - hiro@cehh.io
    Type: ERC
    Status: Draft
    Created: 2018-02-20
    Requires: ERC20

## Simple Summary
The objective of ERC891 is to give developers an alternative method to distribute ERC20 tokens.

## Abstract
The ERC891 provides an extension for ERC20 tokens that adds an interface for distribution.

[2018-02-20 19:30] Shrugs commented on #821
imo transfer security can/should be part of a secondary EIP that doesn't enforce a specific use-case onto a general standard

[2018-02-20 21:02] tawaren commented on #891
Why is this pseudo? Isn't this just normal proof of work but instead of generating tons of hashes and checking if they win something I generate tons of private keys and check if the corresponding address wins something.
A user that uses this transparently has no chance of keeping up with users that know that this token is minable so it makes nearly zero sense to call mine implicitly from check bal

[2018-02-20 21:18] OFRBG commented on #891
It is true that a "normal" (compared to a miner) user will be at a disadvantage compared to miners, but that isn't a problem. Look at Bitcoin or Ethereum. If anything, it makes the system more even because, even without mining pools, users can get tokens.

The importance of the transparency is that all the existing interfaces don't need to add special cases or update to make a transition. Normal u

[2018-02-21 01:31] fulldecent commented on #777
@dekz has proposed adding operators as defined in #777 into #721 (#841). This is a well put rationale.

Cross-referencing here for your benefit and to ask if the people here have any feedback. https://github.com/ethereum/EIPs/pull/841#issuecomment-367180260

[2018-02-21 01:53] clesaege opened #892 "ERC 892: Permission Standard"
EIP: 892
    Title: Permission Standard
    Status: Draft
    Type: Informational
    Category: ERC
    Authors: Clément Lesaege <clement@kleros.io>, Dean Eigenmann <dean@tokenate.io>
    Created: 2018-02-21

Abstract
--------------

This standard specifies that the standard naming of a public function indicating that an element is permitted is `isPermitted`.

Motivation
--------------

Some contr

[2018-02-21 02:02] realcodywburns commented on #168
Rather than burning coins, why not add the dust to the `blockreward` of the block in which the transaction occurs that would drop an account below `keepalive` level. Burning coins, even dust, feels wasteful.

[2018-02-21 02:27] rstormsf commented on #820
https://github.com/jbaylina/eip820/issues/5

https://github.com/jbaylina/eip820/blob/master/contracts/ExampleImplementer.sol#L5
[code]

If I unlock the fallback function and provide some default behavior, then it would break those checks because of strange behavior by design in solidity if a method does not exist it will instead execute the fallback function, and if the fallback function does not

[2018-02-21 07:49] carloschida commented on #721
As I examine this initiative, I have written (and keep writing) some rather lengthy comments. I've decided to split them.

First, as asked by @fulldecent allow me to introduce myself (the most boring of all these posts).

Until a couple of months ago, I was working at the leading crowdinvestment platform for real estate in Switzerland. During that time, I was given a project to examine the legal a

[2018-02-21 07:52] carloschida commented on #721
## Choice of word 'deed'

_Most unlinked eferences are to this [Proposal](https://github.com/ethereum/EIPs/pull/841#issuecomment-360030881)_.

**SUMMARY**: I recommend employing **'crypto title-deed'** whenever the term is firstly introduced and exhort the use of the following translations.

| English | (crypto title-)deed |
|---------|-----------------------
| German  | (Krypto-)Urkunde
| Spanish

[2018-02-21 08:51] colourful-land commented on #875
@Nanolucas, I guess you refer to ERC721Enumerable in #841.

A few years ago I was involved in a project by Sydney entrepreneur Nick Addison (now of Consensys Sydney) where we wanted to tokenise subway advertisement screens in batches of 5-minute. For example, someone can buy the 5-minutes ad of Sydney Townhall station LCD ad in a rush hour because it's his birthday, or because he believes it was u

[2018-02-21 09:23] Nanolucas commented on #875
@colourful-land My reference to `ERC721Enumerable` was only as an example of an optional extension for the `ERC721` base standard. I was suggesting that the non-base functionality of this proposal should be in the form of an `ERC721Trade` extension to `ERC721` so that the base functionality doesn't have to be reproduced in a separate standard.

I was certainly not meaning to imply there was an exi

[2018-02-21 09:49] James-Sangalli commented on #721
@dete and all.

I suggest adding this optional function because it will allow p2p atomic trading with low fees, it is already implemented in this standard: https://github.com/ethereum/EIPs/issues/875.

**function trade(uint256 expiryTimeStamp, uint256 tokenId, uint8 v, bytes32 r, bytes32 s) public payable**

A function which allows a user to sell a non-fungible token without paying for the gas fee

[2018-02-21 11:42] eordano commented on #821
@Shrugs doesn't that defeat the purpose of security? Having deployed a ERC20 of some popularity, I'm baffled about the idea of allowing a protocol to exist that can lead to loss of funds "because reasons".

[2018-02-21 13:56] okwme commented on #821
@eordano shouldnt the eip allow interoperability without enforceing specific use cases? If *your* token that *you* deploy needs an extra layer of security you should force unsafe/unwanted transactions to fail. As discussed at ethdenver this will still adhere to the api.

[2018-02-21 16:45] Shrugs commented on #821
There exist perfectly valid reasons to allow ERC20s to be sent to arbitrary addresses. For example, perhaps they represent debt. Or are tokens representing a "claim" against an address to signify KYC or something. This is even more relevant for NFTs.

Sure, it's not the primary usecase, but that's not the point of a general standard. Transfer security can and should be part of a secondary standard

[2018-02-21 17:24] alexvandesande commented on #891
I don't get this proposal. The only advantage I can see on using PoW for a token distribution is if somehow the algorithm is designed so it's feasible to mine on consumer desktops, not GPU or ASIC farms. The Monero algorithm, for instance has been so successful on that front that it's sometimes used as a replacement for ads in websites. I'm still not convinced the "crypto miner.js" revenue model w

[2018-02-21 18:16] flygoing commented on #891
Yeah, I'm not really getting the point of this, either. With real PoW, the work is actually how the network is secured, and the miners are rewarded for securing the network. This "PPoW" is just the same thing but with no purpose. It's just burning electricity to burn electricity. Why not just allow people to purchase the tokens from the smart contract? It'd be the same thing without the wasted ene

[2018-02-21 18:17] tawaren commented on #891
The last checkReward function is inconsistent as you can lose money in the transparent case because between when you call getBalance() totalSupply_ may have another value to when you call it the next time or call transfer().

[2018-02-21 18:19] Arachnid commented on #891
Is this actually "proof of work"? It reads more like an airdrop.

[2018-02-21 18:39] OFRBG commented on #891
@flygoing @alexvandesande This doesn't solve the problem of distribution. It's more about this: https://coinmarketcap.com/coins/views/all/. There are hundreds of clone PoW. If some people will make them anyway, allowing bundle mining would reduce electricity wasting in the big picture.

@flygoing I think mint-on-demand tokens already exist. However, there is the question of where the paid ETH goes

[2018-02-21 19:21] Arachnid commented on #891
How is it any kind of PoW? I don't see any mechanism to mine using proof of work described here.

[2018-02-21 19:28] OFRBG commented on #891
It is because the core problem is solved by hashing private keys into addresses. It doesn't secure the Ethereum network, hence PPoW.

[2018-02-21 19:33] OFRBG commented on #891
That's why I called it "pseudo" PoW. You are rewarding for proving you did some work. The concept of PoW has been so strongly linked to blockchain mining that it has become to some extent a synonym.

[2018-02-21 20:28] alexvandesande commented on #891
Wow. So there are tons of coins that use PoW without any real understanding on why it exists, so let's simply simulate PoW on ethereum for no reason at all for coins that have absolutely no idea how a blockchain work but that really want the same PoW thingie that bitcoin has.

![cargo3](https://user-images.githubusercontent.com/112898/36503552-404bb8ca-172c-11e8-95f1-4bb032e0643a.jpg)
*White men b

[2018-02-21 20:53] OFRBG commented on #891
If those coins are going to happen anyway, at least curb their range of influence. Not because Ethereum is taking the moral high-road others will follow. If you really care about the electricity being wasted, give those coins a way to be unified, and even some of those polluting coins might show their worth thanks to easier access. Give current PoW coins a reason to join. Tolerance of different op

[2018-02-21 21:30] shamatar commented on #603
@mattdf

Thanks for bringing this. Secp256k1 is heavily optimized and can potentially have much more much more affordable scalar multiplication and point addition prices. Also use of the compatible curve will allow users of various hardware wallets to use it. We can finally see confidential transactions and ring signatures on chain.

[2018-02-21 21:50] eordano commented on #821
I see your point but I dismiss it, as the use cases seem to me to be out of scope for the meaning of `transfer` and can be implemented, like you suggested, as an additional standard on top of a secure one (it's easy to break the chain, not easy to build it).

But I've only come this far and I'll agree to disagree.

Like I said in private, I'm concerned about negligently championing a standard that

[2018-02-21 21:51] eordano commented on #821
Updated the main text

* Added `totalSupply`
* Dropped `name`, `description`, `symbol`

[2018-02-21 22:20] Arachnid commented on #891
Deriving an address from a key, or signing a message, are not proofs of work. They also lack any kind of difficulty adjustment mechanism, do they effectively become an invitation for massive Sibyl attacks to get free coins. I simply can't see how this would be in any way useful.

[2018-02-21 22:21] Arachnid commented on #891
Deriving an address from a key, or signing a message, are not proofs of work. They also lack any kind of difficulty adjustment mechanism, do they effectively become an invitation for massive Sibyl attacks to get free coins. I simply can't see how this would be in any way useful.

[2018-02-21 22:43] #165 closed

[2018-02-21 23:45] freegold commented on #721
Please I'm in America and I need some clarification from carloschida and his  'crypto title-deed' ... In America, we have what is called "property." It's sub categories are "real" "personal" "thought" "creative" "commons" and "creative flow (i.e. Property Rights to Radio Spectrum see http://www.jstor.org/stable/10.1086/467404?seq=1#page_scan_tab_contents)" etc. So, I realize that carloschida works

[2018-02-22 00:00] ligi opened #896 "EPIC Proposal (separation of contract interfaces)"
This is a proposal to split the EIP process in **E**thereum **P**roposals for **I**nterfaces of **C**ontracts that only specify contract interfaces (think ERC #20,ERC #721,ERC #801,..) and other EIPs (no change here).
This will have the following advantages:
 1. easier to find and get an overview of all contract interfaces (my current pain point)
 2. can be less opinionated than changes that might

[2018-02-22 00:02] nicksavers commented on #165
The PR for this in https://github.com/ethereum/EIPs/pull/881 has been merged

[2018-02-22 02:44] Shrugs commented on #821
aside: I don't expect any legal argument around this to stand up in court. Ethereum is a tool, just like a hammer, and that precedent has been set. If you're actually worried about legal implications of not including transfer security, that has everything to do with your specific implementation of the NFT standard rather than the standard itself. Unnecessarily restricting user behavior because of

[2018-02-22 03:11] OFRBG commented on #891
Difficulty adjustment is up to developers to implement. As mentioned before, I showed an example with difficulty adjustment based on total supply. The implementation is flexible, and could even take block number into account, but I do not recommend that.

[2018-02-22 05:39] rstormsf commented on #777
I love the idea of allowance with time expiration! We must have it.
@jbaylina

[2018-02-22 09:57] benjaminion commented on #896
Excellent idea, but might need a rename: https://github.com/ethereumproject/ECIPs

[2018-02-22 10:01] ligi commented on #896
thanks - not sure if a rename is needed - different namespace here and collisions in 3LA/4LA are not too uncommon.

[2018-02-22 10:10] Arachnid commented on #891
There's no mechanism for adjusting difficulty in your EIP - only the reward. These are not the same thing at all.

This is not any form of proof of work.

[2018-02-22 10:41] MoMannn commented on #875
With the delegation added to the current 721 standard shouldn't atomic swap be possible with the use of a proxy(the same way 0x project is doing it)?

[2018-02-22 10:52] thomkeh commented on #896
Why not split the process along the already existing axis of EIP vs ERC. EIPs would be for core protocol improvements and ERCs for everything else that developers should agree on (like contract interfaces). Separating ERCs from EIPs seems like a good idea in general.

[2018-02-22 11:01] ligi commented on #896
would also work - but you would not get (8) and a bit less of the other advantages as this shard is a bit bigger. Also you do not get the epic name - just say ERC (sounds like someone puking) - vs ECIP ;-)

[2018-02-22 13:14] alexvandesande commented on #891
You are looking at the wrong list, see this: https://coinmarketcap.com/tokens/views/all/ Not a single PoW token.

Here's how suggestion on how an ethereum can be "Pseudo-PoW" without being bad on the environment. Add a function like this:

[code]

This allows any Ethereum miner to also claim rewards on your token. Since ethereum is PoW, then this would make your token also a PoW.

[2018-02-22 13:56] aribo commented on #896
What about shorten the name to ECP (Ethereum Contract Proposals)?

[2018-02-22 14:00] aribo commented on #896
What about calling them EPIC? Ethereum Proposal for Interface of Contracts. Long name is more of a mouthful, but totally compensated by the really epic acronym.

[2018-02-22 15:31] flygoing commented on #891
@OFRBG those tokens are doing PoW to *secure their network*. Those coins could easily be implemented as ERC20 on the Ethereum blockchain, but that means that extra electricity doesn't need to be spent to secure them. What @alexvandesande suggested with just rewarding the miner of a block with the tokens would make a ton more sense as an EIP. It could also be implemented to be run on past blocks (p

[2018-02-22 15:42] Arachnid commented on #896
I agree that proposing changes to the network and proposing protocols that run *on* the network are different things; I'm not sure if they're different enough to warrant entirely separate systems or not.

If we do separate things, though, we should use the opportunity to sit down and reconsider the whole process on both sides.

[2018-02-22 16:30] pakokrew commented on #223
I just realized that when the destination contract have a regular fallback method but no `tokenFallback`, when calling `tokenFallback`, the normal fallback is called, so the ERC223 contract thinks that the destination is compatible (if the fallback doesnt throw)

Am I wrong ? Is there a way to alleviate this ?

Sorry if the question has already raised before, the conversation is quite long ;)

[2018-02-22 16:34] OFRBG commented on #891
@flygoing That's something I can agree with. I started with PPoW because I don't think these altchains care about securing their network more than just playing the PoW game. Showing a middle ground "neither you nor me" could help to make them jump over. However, as you mentioned, this can be easily extended to create a non-ICO and non-airdrop distribution system. Especially with regulations starti

[2018-02-22 16:36] rosulucian commented on #223
@pakokrew I said the same thing a couple of weeks ago but these are more interested discussing their esoteric stuff instead. i don`t think they even notice my comment.

[2018-02-22 16:39] ligi commented on #896
Not sure about this - trying to combine actions like this can lead to not doing them. That said - we can start the ECIP process with new parameters and reconsider the process this way. If they work out in ECIP then we can apply them to EIP later in any case.

[2018-02-22 17:43] carloschida commented on #721
**The word 'deed' is not constrained neither by definition nor by employment to real estate**

@freegold, I assume that with 'America' you mean the US. If so, my claim still holds: a deed, although usually related to real estate, is in definition, and employment a document that refers to the transfer of property.

With the definition, this time I mean the US standard, [Merriam-Webster](https://www

[2018-02-22 17:48] Arachnid commented on #896
Why not call them ERCs? That's already the term for EIPs that don't modify consensus.

[2018-02-22 18:10] flygoing commented on #891
I believe the amount of new chains (ignoring forks that are forking just as a cash grab) are creating their own chains for a good purpose. Many new chains are either trying to do what Ethereum does, but better, so they can't really just be built on top of Ethereum, and thus they need their own consensus protocol, of which PoW is usually the easiest choice.

I don't disagree. Coins like Bitcoin tha

[2018-02-22 18:24] ligi commented on #896
I think ERCs are intended to be broader than I would ECIPs to be. E.g. I would all ECIPs to be able to have a ERC #881 interfaceID - as far as I understand the scope of ERCs this would not be the case there.

[2018-02-22 19:25] OFRBG commented on #891
Regarding this point, I think PPoW or the ERC which you generalized would be reformatted to work to something I like to call ultra compression: compression by hashing. Setting up the fundamental pieces to avoid new chains popping up that need to do the reverse hash and secure the network, give those GPUs a home. It also worries me that those GPUs could flood the market. Just as their price rockete

[2018-02-22 20:35] Arachnid commented on #896
Is there a reason for a separate process for EIPS-about-smart-contract-interfaces and other EIPs? It seems to me that both would need the same sort of process.

[2018-02-22 21:29] Bradymck commented on #892
If this is a bit out of context please excuse I'm still learning but out of curiosity, is this referencing a way to block certain contract functions based on external data from an oracle or user facing UI components or something?

[2018-02-22 21:35] richard-ramos commented on #735
@frozeman

Reviewing the interface specification I see that for ClaimIds sometimes bytes32 is used, and sometimes uint256, so I assume the original idea was to have everything using uint256, right?

If that's not the case, the approve function of #725 will get complex to implement since it expects to receive uint256 Ids for both executions and claims and we would have uint256 execution ids, and by

[2018-02-22 21:38] decanus commented on #892
@Bradymck This standard could be used to block certain functions yes, in ens it is currently implemented to tell us which ENS names we are permitted to resolve and which we aren't.

[2018-02-22 22:01] Bradymck commented on #892
@decanus Ah, interesting. Seems like the path to programmatic compliance and self regulating systems.

[2018-02-23 00:10] sfultong opened #898 "Formalize EIP acceptance protocol"
in order to avoid situations where The Ethereum Foundation works against the will of the community, the community needs an explicit voice capable of vetoing implementation of EIPs.

I think the least bad implementation of this would involve a coin vote, although I'm open to other suggestions.

At the very least, if the community is not to have an explicit voice, more clarity and transparency (is E

[2018-02-23 02:08] alexaltair commented on #79
@MrChico Does closing this issue mean it's been decided not to include these helpers into solidity itself (as a precompiled contract or whatever)? I can find a lot of example implementations on the internet, but it'd be really good to have a canonical version sanctioned by the ethereum development team.

[2018-02-23 08:25] Arachnid commented on #898
Here's my understanding of the current process, based on EIP 1 and experience:

 1. Someone submits a draft EIP as a pull request
 2. Interested participants debate the proposal until consensus on the contents of the draft have been reached.
 3. An EIP editor merges the PR as a draft
 4. Someone submits a PR to update the draft; repeat from step 2.
 5. Once the EIP is 'mature', if it modifies the

[2018-02-23 08:55] fulldecent commented on #721
# Now is the time to discuss the name of the ERC-721 standard (Assets/Deeds/Distinguishable Assets/NFTs/Titles/etc.)

**Please discuss here -> https://github.com/fulldecent/EIPs/pull/2**

That discussion ends Sunday. I will use that consensus to update this standard. Any further discussion on naming will be out of scope after that date!

[2018-02-23 09:04] mcdee commented on #777
@jbaylina I can see the use and purpose of `revokeAllOperators()` but not sure about `authorizeAllOperators()`: what is the use case for this?

[2018-02-23 09:26] swaldman commented on #898
@Arachnid

A few comments:

1. I think quite legitimately, many members of the community would perceive approval of an EIP at an All Core Devs meeting and its marking as 'accepted' as being quite strong "coordination flags" (in @vbuterin's terminology). Yes, in a formal sense, neither core devs nor the Ethereum Foundation can insist that nodes upgrade, but in practical terms dissenting once such s

[2018-02-23 10:49] jnr101 commented on #780
Would it be an idea to make "subject" also of type "bytes32"? If "subject" is of type "address", it implicitly means imo that the subject is an entity/address in the Ethereum world, but there are use-cases where this is not so.

An example of another type of subject is the usage of DIDs as described in https://w3c-ccg.github.io/did-spec/ . An example of a DID: "did:example:123456789abcdefghi"

As

[2018-02-23 13:07] Arachnid commented on #898
@swaldman Well put. I don't agree with everything you say, but I think you're broadly right.

The question, though, is whether there's a way to reliably assess community consent on a proposal, without making the standardisation process a political quagmire? I'm strongly of the opinion that good standards are not written by voting, and that approving a standard (independent of implementing it or de

[2018-02-23 14:07] alexvandesande commented on #232
Would the (1) have a similar effect to this: https://github.com/ethereum/EIPs/pull/877 ?

[2018-02-23 14:14] kris-davison commented on #866
Strongly oppose this. I was not happy about the DAO decision please don't make that mistake again.

[2018-02-23 16:10] fulldecent commented on #820
@rstormsf I have heard this before too, but do you know of the canonical source which explains this further. I would just like to double check before we go thinking we solved the problem.

[code]

[2018-02-23 16:20] decanus opened #900 "ERC900: Simple Staking Interface"
## Preamble

    EIP: 900
    Title: Simple Staking Interface
    Author: Dean Eigenmann <dean@tokenate.io>, Jorge Izquierdo <jorge@aragon.one>
    Type: Standard Track
    Category: ERC
    Status: Draft
    Created: 2018-02-22

## Abstract

The following standard describes a common staking interface allowing for easy to use staking systems. The interface is kept simple allowing for various use c

[2018-02-23 16:55] k06a opened #901 "EIP901: Additional EVM Transaction Global Variables"
EIP: 901
    Title: Additional EVM Transaction Global Variables
    Author: Anton Bukov <k06aaa@gmail.com>
    Category: EVM
    Created: 2018-02-23
    Updated: 2018-04-23

Simple Summary
--------------

Some additional global variables are technically possible to be added but not yet added to EVM: `tx.hash`, `tx.nonce`, `block.chain_id`.

Motivation
------------

`tx.hash`:
Hash of the transacti

[2018-02-23 17:12] moeadham commented on #168
Could we not first ask the offender (ex. s-s dot io) to reconsider their implementation, and attempt to clean up their current mess, before penalizing all users of the network?

[2018-02-23 18:45] Arachnid commented on #901
I think this needs more concrete motivation than is provided. It's unclear what you mean by the first part, too - we can already link to blockchain explorers from backendless applications.

[2018-02-23 18:53] realcodywburns commented on #698
Bump

[2018-02-23 18:54] k06a commented on #901
@Arachnid, for example, I wanna store `tx.hash` in smart contract to form URL in Dapp later: `https://etherscan.io/tx/{tx.hash}`

[2018-02-23 19:06] Shrugs commented on #900
Do we want a `totalStaked()`? I see we have `totalStakedAt(blockNumber)` already.

[2018-02-23 19:11] izqui commented on #900
It would just be `token.balance(this)` in most cases, right?

[2018-02-23 19:16] decanus commented on #900
@izqui good point, but maybe for consistency sake it makes sense

[2018-02-23 19:32] decanus commented on #900
@Shrugs @izqui I updated

[2018-02-23 19:41] Shrugs commented on #900
Is it worth using Interface Detection instead of `supportsHistory`?

[2018-02-23 19:49] whereskarlo commented on #866
Completely opposed to this proposal. It makes ethereum fragile and pointless. It's either immutable or a waste of everyone's time. Choose one.

[2018-02-23 19:56] decanus commented on #900
I feel like in this scenario a simple boolean function is more readable, than an interface detection function.

[2018-02-23 19:56] sfultong commented on #898
Well, one thing I'd like is some clarification of what "not in keeping with the Ethereum philosophy" means. Is the Ethereum philosophy solely the discretion of the EIP editors?

If an EIP moves to the "Final" state, does that mean it's officially part of Ethereum and users can take it or leave it, or can users somehow prevent an EIP from becoming part of the standard simply by not using supporting

[2018-02-23 20:20] sfultong commented on #898
@Arachnid Thanks for describing the process in detail.

I'm not sure I'd want all changes to Ethereum driven by majority vote, but I think if there's overwhelming community opposition to an EIP, it should be rejected before being scheduled in a hard fork. I think most people would agree to that; the tricky part would be to define "overwhelming".

[2018-02-23 20:39] AtLeastSignificant commented on #900
Is there a staking protocol you can link to that is in a state where all the variables and rules are completely fleshed out?  I just want to make sure this interface covers all the bases / actually applies to where it may be used.

[2018-02-23 20:57] decanus commented on #900
@AtLeastSignificant This standard grew out of something built for both Harbour and Aragon, we've tried to build it as generically as possible. The previous implementation from aragon has been reworked to fit to this standard.

[2018-02-23 21:17] AtLeastSignificant commented on #900
@decanus Gotcha. Unfortunately, I'm not familiar enough with this to have very valuable input on your interface without a more concrete protocol to reference.

One thing I noticed though - the ```unstake``` function requires that tokens be returned to the user, but it's my understanding that this is not possible in staking systems where unstaking is a process that happens over a period of time (ST

[2018-02-23 21:20] decanus commented on #900
@AtLeastSignificant the wording I used in the ```unstake``` function is probably a little wrong. Tokens must be returned if an unstake is successful, however if you aren't at a time yet where you can unstake this function can of course trigger a revert.

[2018-02-23 21:23] AtLeastSignificant commented on #900
@decanus hmm, then perhaps an ```initUnstake()``` function is more appropriate. In systems where unstaking is instant, a successful execution would return the tokens, but in systems where unstaking is something you do over time, a successful return would be confirmation that the status of the account has changed from staked to unstaked/unstaking.

[2018-02-23 21:25] decanus commented on #900
Well a user would still need to call unstake, splitting ```initUnstake``` and ```unstake``` into 2 separate functions seems to be a bit of an over complexity.

[2018-02-23 21:29] AtLeastSignificant commented on #900
I was more suggesting that ```initUnstake``` would replace ```unstake```.  That, or ```unstake``` should be worded to more generally reflect that unstaking could be a single instant process or multiple processes over time.

It could just be that ```unstake``` is used and the protocol knows whether or not it's time to allow tokens to be returned, but that means checking both the current staked bala

[2018-02-23 21:33] veox commented on #896
One (weak) reason: "rebooting" the numbering.

Currently, still - and in conflict with EIP-1 - ERCs and other EIPs tend to get a number assigned ad-hoc, commonly using the number of a github issue that a PR closes. This creates gaps in the numbering, as well as draws from the same number pool. (I hoped this would be remedied by a more strict adherence to the merge-as-draft workflow.)

On this poin

[2018-02-23 21:34] decanus commented on #900
I wouldn't call it ```initUnstake``` as that usually means initialize, which definately then shouldn't run the unstake process. I think that unstake here is probably a better name which is generic enough. Also I would expect that an application knows some of the rules for unstaking, if they need to they could implement a function called ```canUnstake``` which they can use. However this being part

[2018-02-23 21:50] veox commented on #896
@ligi:

IMO a search engine query for `ethereum ecip <X>` should not return results for two different proposals, in two similar projects.

(It likely wouldn't, by way of search engine filtering. Still, "query-bombing" is not nice.)

Besides, **E**thereum **P**roposal for **I**mproving **C**ontracts isn't really _that_ much of a mouthful; and EPIC is much easier to pronounce than ECIP.

[2018-02-23 22:10] ligi commented on #896
Good argument i am happy with changing to EPIC - but for Ethereum Proposal for Interface of Contracts as @aribo suggested - not Ethereum Proposal for Improving Contracts as you just stated. I think the interface aspect is quite important. We need systems that interface well with each other IMHO.

[2018-02-23 22:47] jpitts commented on #898
Excellent description of the process as it currently works, @Arachnid.

The AllCoreDevs meeting is a good forum in which to discuss the technical merits of an EIP, but may not be the best forum in which to discuss the moral/ethical/legal/philosophical implications of decisions. Those attending AllCoreDevs are mostly engineers after all, not experts in M/E/L/P. Still, I am not alone in saying that

[2018-02-23 23:49] christoph2806 commented on #900
We have a very similar staking contract; see here for reference.
https://github.com/etherisc/tokensale/blob/develop/contracts/protocol/TokenStake.sol

[2018-02-23 23:55] jpitts commented on #898
@sfultong, there clearly there needs to be an improvement in how the process incorporates M/E/L/P objections, but as I mentioned in the above post, I don't think changes can happen in the EIP process until the stakeholders in the community better define themselves and clarify their views.

But your concern that the EIP process is biased is a very important one, and this can partly be addressed by

[2018-02-24 01:52] sfultong commented on #898
@jpitts
I'm talking about one well-defined and measurable category of stakeholders: everyone who owns eth. Their views can be clarified through a carbon votes on whether or not EIPs should be implemented in clients. if a carbon vote is 80% against an EIP, do you think it should still be implemented?

I don't think bias among EIP editors is my only or even primary concern. What happens when EIP edi

[2018-02-24 02:42] jpitts commented on #898
RE: voting. A vote based on the holding of ether may be the direct approach that can be thought of as fair, but holding may lead to technical decisions that badly effect the network and the other important stakeholders.

Who has the most weight in decisions needs to be very carefully established.

[2018-02-24 02:43] jpitts commented on #898
RE the concern-spamming: this is important to point out because it shows the need for an improvement in the process. The posts here objecting on M/E/L/P grounds could be happening because there is a strong need not addressed by the current process.

[2018-02-24 02:52] jpitts commented on #898
RE: EIP editors. It is a very difficult situation for EIP editors to have burdens beyond assessing the EIP for format, clarity, and technical soundness/feasibility. And it turns out that an additional burden is clearly specified in the [EIP-1](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md):

Here is one huge problem in the process: we don't know exactly what Ethereum philosophy is, an

[2018-02-24 08:04] jbaylina commented on #820
@fulldecent @rstormsf  Just added compatibility with EIP165 and the magic return.

Please review.

[2018-02-24 09:48] decanus commented on #900
@cbruguera No that's not possible, a user needs to execute that manually.

[2018-02-24 09:49] decanus commented on #900
@christoph2806 Looks interesting, looks like a lot of your *code* work with the interface we have defined.

[2018-02-24 17:17] sfultong commented on #898
I feel I need to stress again that when I'm talking about a carbon vote, I'm not talking about using it as the sole determinant of whether EIPs are implemented in clients.

If 80% of a carbon vote is against an EIP, though, I think that either the EIP must be terribly flawed, or the distribution of wealth in Ethereum is terribly unbalanced and not representative of most members of the community.

[2018-02-24 17:24] fulldecent commented on #820
This magic value is much better than 42. Because the function signature may collide with other functions and 42 will collide with other people that choose 42.

[2018-02-24 21:05] ngrinkevich commented on #900
@cbruguera a solution that might help, there's so called `approveAndCall` pattern. Example can be found here [https://www.ethereum.org/token](https://www.ethereum.org/token)

Staker just calls this function on the token contract providing the address of the staking contract as `_spender`, it approves the amount and calls `receiveApproval()` on the staking contract. Based on [zeppelin Standard toke

[2018-02-24 23:37] taoteh1221 commented on #866
This would set a dangerous precedent for smart contract programmers to think they have a rescue button. In general many programmers are lax on proper security to begin with, and this won't help. This type of thing should be handled by a community vote off chain, because it relates to emergency changes to the state.

[2018-02-24 23:58] jpitts commented on #898
@sfultong could you re-phrase the proposal to be specific about how a carbon vote might be employed in the process, and what aspects it would add or modify in the current EIP process defined in EIP-1?

Looking more into this, I realize here that the AllCoreDevs group is not even described in EIP-1, nor is EIP acceptance itself (only what is required to accept). This is an opportunity to clarify th

[2018-02-25 05:39] sfultong commented on #898
Thanks for the guidance @jpitts

I've opened a new PR: https://github.com/ethereum/EIPs/pull/904

My proposal is a bit different than your example, but I like your example as well and would be glad to modify my PR to be more in line with it.

[2018-02-25 07:45] masterkrang commented on #866
This doesn't even solve the problem, it multiplies the problem.

This could bog down the system with endless bureaucracy.

Coupling this concern to ETH could be significantly detrimental.

Stay lean.

-1

[2018-02-25 13:50] supRNurse commented on #866
I discount that risk. To change the chain a Court, King, President, Dictator, or Satan would have to proceed just like everybody else and write an EIP.

[2018-02-25 14:31] AusIV commented on #821
Another thing that crossed my mind with regard to transfer security:

Account abstraction is coming with the constantinople hard fork, after which I expect we can see many people starting to use contracts as their primary wallets. Wallet contracts are generally structured such that  they can proxy arbitrary transactions once those transactions have been validated. In general, they can do anything

[2018-02-25 15:55] necro-nemesis commented on #866
Trying to correct a problem at the strategic level will ultimately undermine the integrity of the platform. The immutability of a DApp should be a consideration during development by the developer making a specific decision on how powerful a role governance takes over code for their specific application. This decision should not default to the platform as it undermines the objectives of the platfo

[2018-02-25 16:14] sunnya97 commented on #223
@rosulucian @pakokrew Yep, I noticed this too.
https://github.com/sunnya97/WETH10/blob/master/test/TestWETH10.sol#L51

`payableReceiver.call(0xc0ee0b8a, weth.toBytes(this), amount, empty)` should return false, but returns true, because it just calls the fallback function which passes.

[code]

[2018-02-25 16:17] sunnya97 commented on #223
@rosulucian @pakokrew Yep, I noticed this a few weeks ago too.
https://github.com/sunnya97/WETH10/blob/master/test/TestWETH10.sol#L51

`payableReceiver.call(0xc0ee0b8a, weth.toBytes(this), amount, empty)` should return false, but returns true, because it just calls the fallback function which passes.

[code]

To me this renders the primary function of ERC223 invalid.

[2018-02-25 16:18] muf18 commented on #866
ETH isn't decentralized in a way, that one foundation is in a whole process of code writing, so why are you opposing, when in fact ETH and it's consensus aren't decentralized, as DAO hack has shown.
Just let them do it, nothing will stop them.

[2018-02-25 17:04] James-Sangalli commented on #875
@MoMannn yes, however this is an alternative implementation.

The proxy could either hold a key or hold a batch of signed orders and release them according to expiry, neither is fully trust-less but the attack vector is limited.

[2018-02-26 00:51] rosulucian commented on #223
@sunnya97 the question now becomes: can we work our way around this and find an implementation that actually works? i`ll look into it, it would be cool if we found something and erc223 actually worked.

[2018-02-26 02:06] sunnya97 commented on #223
Ok so admittedly I'm not an EVM expert, but basically what I'm thinking is that we'd need to use the EXTCODECOPY opcode to copy the receiver contract's code to memory and then scan it for the presence of the function signature `0xc0ee0b8a`.  I'm not sure how gas expensive this would be to do.

[2018-02-26 04:16] jamesray1 commented on #898
It's interesting that the search results for Ethereum philosophy refer to an old version of the White Paper, while the current version does not have such a philosophy and list of principles.

Old version: https://github.com/ethereum/wiki/blob/c02254611f218f43cbb07517ca8e5d00fd6d6d75/drafts/%5Benglish%5D-old-ethereum-whitepaper.md#philosophy

Current version: https://github.com/ethereum/wiki/wiki/W

[2018-02-26 08:43] izqui commented on #900
@AtLeastSignificant @decanus I really like the idea of having asynchronous `unstake()`, however I think the function that initiates the action should still be called `unstake()` and maybe a subprotocol or a extension of this one with some optional methods, can be written to support the notion that a unstake action might take some time (some methods to get these timespans would be great too). Then

[2018-02-26 10:18] ivica7 opened #905 "EIP 905: New Opcode SCLONE - fast clone the storage by copying the storage root hash of the source contract (Draft)"
## Preamble
[code]

## Abstract

The following EIP describes an opcode which would replace the storage root hash of the contract with the storage root hash of another contract instance, effectively cloning the storage.

## Motivation

In most situations smart contract code (like any other software) needs the possibility to be upgraded/changed. Reasons are obvious: bugs and changing requirements. I

[2018-02-26 10:35] ligi commented on #896
just changed to EPIC as the argument of @veox convinced me and a lot of people like the name as it seems when looking at the emojis here: https://github.com/ethereum/EIPs/issues/896#issuecomment-367689060

[2018-02-26 11:40] gitcnd commented on #87
At today's storage prices, you can hold 153,846,153 average-sized transactions for $1 - or in other words, each transaction costs $0.0000000065 - and this cost is falling *Extremely* rapidly.
Proposing to pay rent on something that's worth $0.0000000065 which you already paid more than a million times it's worth to store in the first place is not sensible.

[2018-02-26 15:29] HackFisher commented on #875
I think it is important that there should be a compatible method as following with-in ERC20 & ERC721:

[code]

Otherwise, some existing contracts using "transfer" will not be able support ERC875, e.g.

[code]

[2018-02-26 19:09] villesundell commented on #223
Could we modify the fallback prototype to return the amount of tokens handled as a uint? As a sanity check, return value should be therefore > 0?

[2018-02-26 20:41] easmith commented on #721
Functions **transfer** and **approve** must return bool as well as ERC20
[code]

[2018-02-26 23:24] dmdque commented on #777
I'm not yet convinced that granularity is strictly better than variable decimals.

Granularity complicates the math somewhat since `1 grain` isn't idempotent as a base unit should be. This problem is explained in more detail in the [ds-math library](https://github.com/dapphub/ds-math) which also implements special math for it.

This requires any derived class to be aware of this issue by carefully

[2018-02-27 07:08] mcdee commented on #777
@dmdque granularity is not the same thing as rebasing the unit, it is just a limit on divisibility.  Other contracts need to be aware of the concept of granularity, and if carrying out division need to round accordingly to avoid errors when attempting to send tokens, but that's the only additional restriction that is put on contract developers.

`decimals` was problematic because it conflated two

[2018-02-27 09:00] jbaylina commented on #820
Just open the PR https://github.com/ethereum/EIPs/pull/906 to be merged/approved.

[2018-02-27 09:01] jbaylina commented on #777
Just open the PR #907  to be merged/approved.

[2018-02-27 13:42] adamrabie commented on #866
“Build unstoppable applications
Ethereum is a decentralized platform that runs smart contracts: applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third-party interference.”

lol

[2018-02-27 15:04] jasondavies commented on #152
I used wasm-metering to measure the gas cost of a blake2b compress invocation when using [blake2b-wasm](https://github.com/mafintosh/blake2b-wasm), and it only took ~31.2 gas per compress invocation (much lower than I had expected based on the discussions above).

My branch of blake2b-wasm is [here](https://github.com/plutomonkey/blake2b-wasm/tree/metering); it simply logs to the console the cost

[2018-02-27 15:11] axic commented on #152
@jasondavies note, the ewasm gas costs we have aren't final yet

[2018-02-27 15:24] axic commented on #152
@jasondavies also thank you for reporting this, will need to look into it. It would be nice if you could join https://gitter.im/ewasm/Lobby

[2018-02-27 17:16] frozeman commented on #725
@JosefJ I think its important that if the key is < 32 bytes, that it is not hashed, otherwise its hard to read a key of an identity, and if its a contract, to interact with this contract,as you cant go back to the original address anymore.

but converting bytes32 to bytes20 should be possible.

[2018-02-27 17:28] frozeman commented on #725
@JosefJ concerning the new `getKey` would you also return the purposes as part of then key structure e.g.
`function getKey(bytes32 _key) constant returns(uint256[] purposes, uint256 keyType, bytes32 key);`?

[2018-02-27 17:51] PeterBorah commented on #859
It may be too late, but listening to the last core dev call it sounded like this isn't going to make it into Constantinople. This makes me sad, so I wanted to make an attempt to get people to reconsider.

As a dapp dev, this is probably the EIP I've been most excitedly waiting for. (The main competitor was [EIP 211](https://github.com/ethereum/EIPs/pull/211), which excitingly was released with Hom

[2018-02-28 14:30] maurelian commented on #896
I'd suggest Contract Layer Improvement Proposal. I think "contract layer" is appropriately general, and I like sticking with the xIP pattern that the community is familiar with.

I didn't realize this EIP existed, or I would have include ECIP and EPIC in this poll: https://twitter.com/maurelian_/status/968714675507679233

Lastly, I do have some concern that this divides protocol work from the cont

[2018-02-28 14:49] ligi commented on #896
thanks - yea I need to sharpen my skills in getting ideas out so people are aware of them - trying my best - posted it on reddit, twitter and akasha - but seems I need to do more here ;-)
But I am also happy about CLIP - as you see above I am not that attached to the name - my main wish is that this monolith gets split to make thins more effective.

Can you elaborate on your concerns here? As both

[2018-02-28 15:25] maurelian commented on #896
It's not a well thought out concern, your point that people can follow both is a good one.

A similar concern though is related to moderation. I imagine that it would be more work for the moderators of this repo to moderate two very active _IP repos.

@Souptacular, how would you feel about it?

[2018-02-28 15:38] damientam commented on #168
The proposal does not solve the problem
This policy could be bypassed easely by the offender simply by adding dumb code in the soon-to-be affected account.

The proposal creates other, bigger problems
This could also lead to destruction of account without their holder's knowledge. This destruction process could happened in the middle of an operation of exchange for example, Coins would leave, to b

[2018-02-28 19:33] Cryptosophies commented on #866
Is there a possibility to avoid this mess with a sidechain that audits smart contracts on the main chain ? A PoS sidechain that could be used to keep an eye on the main chain by registering main chain transactions on the sidechain, something like a RAID 1 hard drive configuration. That sidechain could have more supply than the main chain (around 10x the amount of ETH in circulation) and keep the e

[2018-02-28 19:51] k06a commented on #901
@flygoing some Dapps to not have backend at all. They use Ethereum node (or INFURA.io) as backend.

[2018-02-28 23:33] SilentCicero opened #909 "EIP 909: New opcode STORREVERT (Draft)"
## Preamble
[code]

## Abstract
The following EIP describes an opcode which would revert a contracts memory storage and layout (state) back to a specific block.

## Motivation
Many contract systems are growing in complexity and will want a simple way to revert and reset contractual changes or upgrades. Having a simple opcode which can do this would greatly increase the capability of the Ethereum v

[2018-02-28 23:35] lrettig commented on #859
For the record, [here are the notes](https://github.com/ethereum/pm/blob/master/All%20Core%20Devs%20Meetings/Meeting%2034.md#eip859) from the discussion of this EIP in the [last all core devs call](https://github.com/ethereum/pm/blob/master/All%20Core%20Devs%20Meetings/Meeting%2034.md). The sentiment seemed to be that 1. this is complex, 2. we don't have time to do this properly before Constantino

[2018-03-01 00:07] GNSPS commented on #909
I see the reasons to have both the options of opcodes described above (MEMBLOCK and MEMREVERT) but favour an initial implementation of MEMREVERT.

Also I’d recommend changing all the verbatim to use the term `storage` instead of `memory` since the latter gets reset per each transaction and there’s no _block_ reference to revert it to.

Awesome proposal, as always, @SilentCicero! 👏🙌

[2018-03-01 06:20] James-Sangalli commented on #875
@HackFisher are you suggesting containing two mapping variables with different balances types for compatibility with other ERC's like ERC20 and 721?

[2018-03-01 08:44] fulldecent commented on #721
We now have a complete draft standard.

And a bug bounty. Please see [the bug bounty program](https://github.com/fulldecent/su-squares-bounty) and win prizes.

_Right now the prizes are modest. Call me if you'd like to contribute! But I'm very proud to get this out there and would love to hear what you think._

[2018-03-01 09:34] izqui commented on #909
Actually per execution context :) I think there is a lot of value in having volatile memory that can be shared between contexts but dies at the end of the transaction execution. I think @chriseth made some comments about this in some EIP but I cannot find it right now!

[2018-03-01 09:34] oed commented on #780
@jnr101 It's an interesting idea to use `bytes32` instead of `address`. I generally really like the DID format, but DIDs can be longer than 32 bytes I'm not sure how much value changing it provides?
The reason I like addresses is because that makes more sense for on-chain contracts that wants to read the registry. I guess converting between `bytes32` and `address` is easy, but that can just as eas

[2018-03-01 10:04] axic commented on #909
I think the naming is misleading, you are talking about replacing storage with an earlier versions. Memory is never persisted.

The current proposal seem to put all the work on the clients and it doesn't seem to be compatible too much with light clients.

How about having explicit checkpointing and loading from those checkpoints? It could be done via a contract similarly how to the blockhash refac

[2018-03-01 12:26] GNSPS commented on #909
+1 for explicit checkpointing.

[2018-03-01 13:15] ValeryDubrava commented on #223
@villesundell good idea, but it add new tricky logic to implementation;
corresponding to @rosulucian and @pakokrew comments my sugges is to add boolean return value to tokenFallback function and check it on sending tokens

[2018-03-01 15:17] SilentCicero commented on #909
@izqui I agree this would be a huge load to implement client side, but I think this would be extremely useful on the VM side.
@GNSPS thanks! On the naming point:

Currently I chose this name as I sometimes conflate memory and state, when I'm sure in client/evm/metaphysical terms it is called/identified as something else.

I'd be open to change the name to `STATEREVERT` or `STATREVERT`

@axic the n

[2018-03-01 18:45] oed commented on #780
First iteration of this is now availiable at [uport-project/ethereum-claims-registry](https://github.com/uport-project/ethereum-claims-registry)!
It's also deployed to the following addresses:

|Network|Address|
| --|--|
|Mainnet (id: 1)|[0xdb55d40684e7dc04655a9789937214b493a2c2c6](https://etherscan.io/address/0xdb55d40684e7dc04655a9789937214b493a2c2c6)|
|Ropsten (id: 3)|[0x737f53c0cebf0acd1ea5916

[2018-03-01 19:35] flygoing commented on #901
@k06a my point was that since the dapp has access to the blockchain, via the node, it can access contract logs. So the contract can log data and the dapp, when it fetches events, can grab the tx hash from the log.

[2018-03-01 20:41] okwme commented on #864
Wrote about a few possible use cases for a continuously mintable "Re-Fungible" token owning an NFT here:
https://medium.com/@billyrennekamp/re-fungible-token-rft-297003592769

[2018-03-02 02:28] jpitts commented on #898
@jamesray1, that is very interesting!

Why was this set of design principles taken out?

1.  Simplicity
2. Universality
3. Modularity
4. Non-discrimination

Perhaps it is time to bring these back, update them, and have them guide the standards work.

As a side note, in the ["Old version"](https://github.com/ethereum/wiki/blob/c02254611f218f43cbb07517ca8e5d00fd6d6d75/drafts/%5Benglish%5D-old-ethere

[2018-03-02 07:11] Arachnid commented on #909
As you note in the proposal, this isn't really practical: it would require all nodes to be archive nodes.

Checkpoints would be possible, but a major engineering effort; personally I'm skeptical about the value of doing that when you can implement equivalent functionality at the contract later if desired.

[2018-03-02 10:23] ValeryDubrava commented on #223
I have a little bit tricky suggestion, how to solve issue with result value. As we know, adding only bool argument is not right, because, in case of empty eth fallback function it will not work. As result it takes last value from the stack - last argument of the function.

[2018-03-02 10:32] computerphysicslab commented on #735
At ERC-735 interface definition I guess
	function addClaim(uint256 _claimType, uint256 _scheme, address issuer
should be instead
	function addClaim(uint256 _claimType, uint256 _scheme, address _issuer
adding an underscore at parameter issuer, right? Thx!

[2018-03-02 11:16] ValeryDubrava commented on #223
I have a little bit tricky suggestion, how to solve the issue with result value. As we know, adding only bool argument is not solve the issue, because, in case of empty eth fallback function it will not work. As result it takes last value from the stack - last argument of the function. So, it might be false or true, depenance of the last argument which is shifted to the left for 4 bytes (function

[2018-03-02 11:17] computerphysicslab commented on #735
While claimRequestId is uint256, claimId is bytes32. Why? And why not every claim requested is added inmediatly? Is there any validation process needed to requested claims become added claims? Thx!

[2018-03-02 15:50] tbocek commented on #735
@computerphysicslab The claimRequestId is the id of a request (for adding a claim). Such a claim can be added by approve() from ERC725. The parameter type for the approve function is a uint256. After the approval, the claim gets added, which then can be accessed with the claim id (getClaim), which is a hash over the issuer address and the claim type.

[2018-03-02 20:06] GNSPS commented on #909
How do you feel about the "erasing all storage" part, tough, @Arachnid ?

You can't achieve that in the EVM without **a lot** of overhead, currently.

[2018-03-02 23:05] ivica7 commented on #909
Not sure, but wouldn't this be too powerful? Allowing developers to "hack" too much. Could be a smart contract trust killer from the user's perspective if it's potentially possible to revert the storage (thinking about a token contract).

[2018-03-03 09:12] Arachnid commented on #905
I like the idea; it would allow contracts to fork just like chains, and it has very low implementation cost. Systems like Augur could use something like this right now.

A few thoughts:
 - It shouldn't specify a block number, but rather just fork at the current state, or the state at the start of the present block. Specifying a block number would impose significant overhead on clients.
 - It shoul

[2018-03-03 09:25] ivica7 commented on #905
@Arachnid thank you for the feedback. I guess you're right, allowing to specify a blockNr sounds tempting, but it complicates the implementation. Instead of that, developers could decide do simply make a snapshot for a later reuse (like discussed in #909). Meanwhile I think, the enforcement with the empty state is unnecessary limiting. The argument with trust is not that strong anyway. It will be

[2018-03-03 11:20] SilentCicero commented on #909
I also think explicit check pointing would be worth it here. Even if the checkpoint is simple "bring me back to the initial deployment state" to start.

A clear out of all storage layout and pointers would be another option, to enable the proxy example I stated above, but with no revert to block functionality.

As for things being too powerful, contracts can already be whipped, and manipulated to

[2018-03-03 13:47] MicahZoltu commented on #905
The biggest problem I can see with something like this is "where does the ETH go"?  My assumption would be that the ETH remains in the old contracts and the application developer would need to build in a mechanism for migrating the ETH from the old system to the new one.  Similarly, any external contracts that track "ownership" (e.g., tokens) would leave the ownership on the original code rather t

[2018-03-03 14:27] flygoing commented on #909
I'm not sure explicit check pointing is the most useful method to achieve full state reversion. More useful in my opinion would be a SSTORE-like op that takes a memory start/length and a storage location that stores a range in memory to a range in storage. You can then have your initial state as push/mstore opcodes in the contract code itself. I'm not sure how efficient this would be for large ran

[2018-03-03 14:44] daniel-jozsef commented on #223
@ValeryDubrava are you even aware what you are doing? If you need to learn yoga to implement a pattern, it's probably time to abandon that pattern.

Some posts back I got asked on what I base my statement that EIP223 is inelegant... Well... among other things, on this. QED, the prosecution rests.

[2018-03-03 23:16] ivica7 opened #911 "EIP 911 - Zero redundancy/overhead bytecode deployments (Discussion/Draft)"
## Preamble
[code]
## Short Description

The user should not have to pay gas for deploying the code, which already exists in the DB, because the node has no extra work in this case except of setting the correct codeHash in the account, which is covered by the CREATE fee.

## Motivation

At the time of the mainnet block number 5200035, there are 5,212,554 active contract instances referring to 64,5

[2018-03-04 00:01] flygoing commented on #909
It's also unfeasible for clients to store entire snapshots of the storage as checkpoints 😉 Maybe this could be avoided by having a storage clear opcode as well, no need to reset all the values at random indices. Either way, I'm not sure of a proper use for checkpointing (or emulating checkpoints). Do you have a use case for it?

[2018-03-04 02:28] MicahZoltu commented on #87
20,000 gas per 256-bits = 625 gas per byte = 640,000 gas per KB = 655,360,000 per MB
1 megabyte * 36,000 nodes (replication factor) = 655,360,000 gas per 36,000 MB of disk space consumed = 18,204 gas per MB of disk space consumed
1 nanoeth per gas = 0.000018204 ETH per MB
850 USD per ETH = 0.0154734 USD per MB = 16 USD per GB

Cost of storage (AWS S3, bulk): 0.021 USD per GB per month

16 USD/GB g

[2018-03-04 04:41] gitcnd opened #912 "(discussion) Request for comments: convention for a Transparent Open Company/Organisation Contract/standard"
I wish to champion the following proposal, and want to know if others before me have done something similar, and/or discuss this idea before deciding to move (if appropriate) to an EIP:

# Transparent Open Organisation Contract (TOOC)

This standard seeks to define a financial mechanism that an organisation can adopt, which makes details of all transactions public.

It is useful for charities, clu

[2018-03-04 04:46] jamesray1 commented on #896
Alternatively you can just have a new label for EPIC, and then you can search via labels in the pull requests. For EIPs that are final and merged into the repo, you could have a sub-folder in the EIPs folder for EPIC.

[2018-03-04 07:39] eordano commented on #821
Closing this as #721 now implements the changes we wanted from it here #841

[2018-03-04 07:39] #821 closed

[2018-03-04 09:06] Arachnid commented on #911
How do you determine if the bytecode already exists? You cannot simply check the db, as results will differ if the contract that created it has self destructed, and the node was fast synced or uses pruning.

[2018-03-04 12:07] ivica7 commented on #911
Yes, you're right. I was thinking about limiting it to the state existing at the current block, but this will not be easy to implement too. I was hoping that with this simple change, we could avoid adding/changing an opcode. But it seems the most straight forward implementation would be to add a parameter to CREATE telling if the data is a contract whose code is to be copied or new bytecode. I wil

[2018-03-04 12:09] ligi commented on #896
I think just labels would not get us all the advantages I listed in the initial post. I do not see the disadvantages in fragmentation here - would rather call it modularisation - has a better connotation ..-)

[2018-03-04 22:56] ivica7 commented on #911
@Arachnid what do you think about this alternative:

Add following new OpCodes:

* createFromAddress(v, p, s) - return data from init code has to be an address. The codeHash of this address is directly copied -> saves gas
* createFromAddress2(v, n, p, s) -> Constantinopel-ready

Implementation (geth):

add a flag to evm:Create to signal which modus is used for the return data.
Old create-opcodes w

[2018-03-05 00:11] Physes commented on #864
Nuhanse Network already implementing this concept via a mechanism called quobands. (Public white paper on SSRN attached).

Basically a quoband involves an ERC20 token contract holding ownership over a specified NFT. The largest relative share is the "owner" of the NFT.

https://papers.ssrn.com/sol3/Papers.cfm?abstract_id=3107645

[2018-03-05 05:01] mryellow commented on #223
Consider the pattern implemented for ERC721 in https://github.com/ethereum/EIPs/pull/841

`function safeTransfer(address _to, uint _value) returns (bool)`

[code]

[2018-03-05 07:52] inzig commented on #834
@caldwell254  facing the same issue. Any solution??

[2018-03-05 08:54] mimoo commented on #721
By the way this is the mix of ERC-20 and ERC-721 I was talking about: www.citymayor.co
Due to the function names being the same between the two RFCs I had to modify this one's in order to have them both in the same contract.

[2018-03-05 09:58] #834 closed

[2018-03-05 10:00] Arachnid commented on #911
That approach is definitely more technically feasible.

I'm not totally convinced this is necessary given how Byzantium enables cheap delegate contracts as an alternative, though.

[2018-03-05 10:34] ivica7 commented on #911
@Arachnid yes, delegatecall helps to reduce code duplication, however, it adds infrastructure code, which also has it's own deployment costs, and it also adds to runtime costs because of the indirection.

Finally, to be able to decide if it's worth doing, we need conrete statistics about code instantiation in mainnet. As I said, I am trying to calculate some based on the current state of the block

[2018-03-05 11:54] Arachnid commented on #911
@ivica7 Byzantium introduced `RETURNDATASIZE` and `RETURNDATACOPY`; before that, it wasn't possible to write a generic delegate contract because return data size could not be determined ahead of time.

[2018-03-05 14:24] SilentCicero commented on #909
I think I'm leaning on more of a wipe everything opcode, as that would solve the initial example use case / problem of "resetting" a contract and turning it into something else. Which is very relevant for contract proxy designs and how we construct upgradable contractual systems.

The hope of this discussion was to settle on what is reasonable and achievable at the client level to solve some of th

[2018-03-05 14:45] flygoing commented on #911
@ivica7 Check this project: https://github.com/yarrumretep/clone-factory

It's a delegatecall proxy contract and deployer where the proxy contracts are 58-62 bytes. I had written up a EIP similar to this before I had helped write clone-factory, but quickly realized that these proxy contracts were only 12k gas worth of deployed bytecode. In my opinion, that doesn't really make it worth introducing

[2018-03-05 16:11] ivica7 commented on #911
@flygoing thank you for commenting. I appreciate it very much.

The clone-factory is an excellent work considering the circumstances. The code size of the proxy is small, but it's still a redundancy. Moreover, there are also runtime costs due to the overhead for DELEGATECALL + mem handling - ~ 1000 gas for every call.

At first glance it looks neglectable, but if we think large scale, and Ethereum

[2018-03-05 17:43] tjayrush commented on #911
@ivica7 Is there any chance that you post the code you're using to 'extract stats from the mainnet'? I'd be very interested in what that looks like. Understand if you'd prefer not to.

[2018-03-05 19:05] tjade273 opened #914 "EIP-197, generator P2 is not a point on Y^2 = X^3 + 3 over F_p^2"
The second group in the pairing check is a twist of the first curve with equation `Y^2 = X^3 + 3/(i+9)`.

[2018-03-05 20:13] ivica7 commented on #911
@tjayrush will do. Currently I have only some 30 line code traversing the state trie and counting the duplication on the contract code... there is more coming, I will publish it on GitHub soon.

[2018-03-05 20:21] erkinalp commented on #861
High-end GPUs have been sold out in most computer stores.

[2018-03-05 23:08] 7flash commented on #223
Why do we need both **_data** and **_custom_fallback** parameters?

[2018-03-05 23:29] 7flash commented on #223
Is it okay to implement ERC223 without **_bytes** field in **Transfer** event because I wanna to be compatible with etherscan?

[2018-03-05 23:36] mryellow commented on #223
Both are defined above:

`function transfer(address _to, uint _value) returns (bool)`
`function transfer(address _to, uint _value, bytes _data) returns (bool)`

[2018-03-05 23:40] 7flash commented on #223
@mryellow But in reference implementation **transfer(address _to, uint _value)** triggers **Transfer** event with empty **_bytes** fields. Can I implement **Transfer** event without **_bytes** field at all?

[2018-03-05 23:47] cdetrio commented on #914
Is this related to https://github.com/ethereum/EIPs/pull/913?

[2018-03-05 23:48] mryellow commented on #223
Oh event. Good point, probably room for options there.

If it stays this way, I believe you can probably pass it `""` or define `bytes memory empty;` and pass that in.

[2018-03-05 23:49] mryellow commented on #223
Original from ERC20 `event Transfer(address indexed from, address indexed to, uint tokens);`

Not sure redefining it here is the best idea. (Not sure about a lot of semantics in this proposal).

[2018-03-05 23:50] tjade273 commented on #914
Yep, that is exactly the issue. Thanks

[2018-03-05 23:50] #914 closed

[2018-03-06 01:26] Shrugs commented on #864
I would expect that this sort of governance should not be part of the token itself, but as a layer on top, which could take many different forms. For example, a multi-sig could be the owner of an NFT, or perhaps it's an Aragon corp or similar using token-based voting.

[2018-03-06 05:44] ivica7 commented on #911
@tjayrush the code is published at https://github.com/ivica7/eth-chain-stats-collector
More to come...

[2018-03-06 11:15] ValeryDubrava commented on #223
@daniel-jozsef what is the problem with my suggestion?

[2018-03-06 17:30] Arachnid commented on #777
I'd like to suggest using #780 as an alternative to EIP 820; it's already established, and can be used for the necessary functionality.

[2018-03-06 21:02] jbaylina commented on #780
I would suggest using the same deployment method as #820. This method allows to have a single address in all networks.

[2018-03-06 21:07] acceleratornetwork commented on #223
You guys need to drop the ERC, this is an entirely different system.  Its causing a lot of confusion and losses.   Ethereum is featureless.  Programming features into the token standard is against core beliefs.

[2018-03-06 22:51] jstoxrocky commented on #719
@MicahZoltu Do you have any thoughts on what you expect a concrete example to look like for signing arbitrary data? Something like this for a state-channel-like example?

The contract's function would look something like this:
[code]

The UI would send the following data to the signer via a new eth_signArbitraryMessage RPC endpoint(?):

The signer would present the user with the following transact

[2018-03-06 23:22] mryellow commented on #223
That may be true and this proposal may be a complete mess semantically, but receiving contracts could also benefit from notification of incoming tokens. In much the same way they benefit from being notified of ETH deposits.

[2018-03-07 00:22] acceleratornetwork commented on #223
Overhead = huge, blockchain dapps are not something you want to cram a bunch of extra functions like isContract, transferToContract,  ContractReceiver, struct TKN.  I'm getting anxiety thinking about this becoming standard because my gas bills would go through the roof.  Fix the UI, its the real issue here.  "Metamask/MEW notice: Hey are you really sure you want to transfer directly to a contract?

[2018-03-07 01:34] mryellow commented on #223
That doesn't solve notifying the contract that it has received tokens. Without this tokens can not be deposited to a contract and a balance held on a per user basis.

[2018-03-07 02:08] acceleratornetwork commented on #223
Is there any examples where these contracts are currently being used?  I think you are right, I just want to see it to make sure.  I'm concerned that the gas limits on these contracts for any transaction is going to be higher than the standard erc20.

[2018-03-07 02:46] mryellow commented on #223
An implementation of ERC721 with `onERC721Received(_from, _tokenId, data)` being called "if contract".

https://github.com/fulldecent/su-squares-bounty/blob/3fef2097286a423ba3c575d05912f94d655e4f40/contracts/SuNFT.sol#L400-L407

[2018-03-07 02:51] acceleratornetwork commented on #223
Sorry, I meant like an actual contract that can be viewed on Etherscan.  So we can checkout a regular transfer command sent to the contract and see what the gas limit looks like.  Thanks!

[2018-03-07 02:53] mryellow commented on #223
If it helps that contract is deployed on https://ropsten.etherscan.io/address/0x7bc6cfb376e2d607c0f0d608a3823ab3826173f6

[2018-03-07 02:59] acceleratornetwork commented on #223
Sweet!  Are there any contracts on the test-net with token transfers?

[2018-03-07 03:24] mryellow commented on #223
I'll implement something to that new ERC721 layout soon enough but haven't got anything ready to go sorry.

[2018-03-07 04:56] ivica7 commented on #909
@SilentCicero did you take a look on #905 ? It would allow you to make a snapshot of the state at any time and revert it later. Moreover, it would allow to clone the storage for upgrade purposes.

[2018-03-07 05:07] MicahZoltu commented on #719
I think for state channel updates I would do something like,

Payment channels are tricky because the off-chain nature of them means that they we can't actually do a diff compared to the previous state channel update, so we can't say "You are sending 0.001 ETH to jstoxrocky.eth" because that requires knowing the previous state channel update.

This wouldn't depend on web3, so you would probably do

[2018-03-07 09:19] SilentCicero commented on #909
My only issue with this is two fold, one, sometimes you don't know when the right snapshot time is and secondly, if I could just wipe out all storage in a contract, like a full refresh, it would serve the similar purpose for upgrading. I don't believe we actually need a revert per say to fork daos or contracts. I think Aragon would agree as well. You can just take state from the last set of contra

[2018-03-07 09:39] ivica7 commented on #909
Not sure if I understand exactly what you're trying to achieve... if you wish to wipe out all data with the machanism from #905 , you could ``SCLONE`` storage from a contract like ``contract Empty {}``. If you wish to revert to the state after the initialisation of the contract, you could make a snapshot with ``SCLONE`` directly after the initialisation and reset it later with ``SCLONE`` again to

[2018-03-07 11:04] yudilevi commented on #223
One more potentially interesting token standard that takes a different approach is 777 -
https://github.com/ethereum/EIPs/issues/777

It might be a bit too excessive but it takes a different approach to solving the problem we're trying to solve here while keeping the token fully ERC20 compatible.

Worth checking for anyone who didn't check it out yet.

[2018-03-07 14:16] freestylekc commented on #721
@mimoo Good point. I'm not 100% sure if this works in solidity, but if it's you own the code, you can have two separate methods that each cast to the correct base contract and call the base method impl.

Something like:
[code]

For external callers, like a wallet dapp working with your contract, I think you need to do two separate 'forwarding' contracts, but it's not exactly ideal.

[2018-03-07 14:22] freestylekc commented on #721
About the naming: I fully support the **NFT** naming for ... well, non-fungible tokens.
Anything else, like DEED, for example, implies there's a 'disconnect' between the on-chain token and it's metadata, which is not necessarily the case. Implementors are free to store (small) data directly on-chain, in the token itself, making it a completely self-contained entity.

[2018-03-07 20:32] jstoxrocky commented on #719
Thanks for that explanation.

So If I understand correctly, the dapp provides the DSL + parameters to sign. The signing UI plugs the parameters into the DSL and presents it to the user. If the user signs, the signing UI then checks the DSL against the DSL verification function in the contract. If that returns `true`, then it will send the transaction. Does this imply that contracts will need to im

[2018-03-08 11:24] ghasshee commented on #905
Wow, as @Arachnid explained, this enables forks of contracts.
And this simplifies the hard fork steps (thus non-developer could follow it easily) of the modifications in case contracts have bugs.

[2018-03-08 11:43] zaq1tomo opened #920 "Why is there an eip-EIPS directory?"
I think that I should move from EIPS/eip-EIPS/eip-616.md to EIPS/eip-616.md.
I will create a pull request if you agree this proposal.

[2018-03-08 11:51] ghasshee commented on #905
I thought that SCLONE means nothing in terms of state trie, is it right ?
Is this an alias of copying the same code and creates the same contract?

I am currently interpreting yellow paper and it seems that
SCLONE provides just a simple alias for it.

[2018-03-08 11:58] ivica7 commented on #905
@ghasshee SCLONE would be a new opcode in the EVM. It would copy the storageRootHash of a source contract for the contract instance where it's executed. Logically, you would have the storage cloned with this.

[2018-03-08 12:03] ghasshee commented on #905
@ivica7

I meant that is it the specification of the current ethereum ?
Do you know how the trie db is constructed ?
I do not know well, but I thought that it is the current specification in terms of db size.
so, your implementation of the new opcodes seem to be just an alias of copying the new code.

Is this right ?

[2018-03-08 12:17] daniel-jozsef commented on #223
@mryellow

There's an ERC for that. A proper one, that isn't a mess. Also de-fact accepted, implemented in OpenZeppelin. [ERC827](https://github.com/ethereum/EIPs/issues/827)

@ValeryDubrava

If you don't see what the problem is, I don't know what to tell you.

Essentially you've designed a car that ships from the factory with a smashed windshield that's held together with duct tape and pieces of

[2018-03-08 13:02] ivica7 commented on #905
@ghasshee you can meet me in Gitter later.. then we can have a chat. I am not sure if I exactly understand what your question is.

[2018-03-08 13:08] ghasshee commented on #905
Yeah, I am happy to hear having the opportunity !
And I should say I am so slow interpreter of yellow paper, now it has passed 3 years since I decided to read  it that I might not know well...
But now I am tracking yellow paper more deeply than before thanking to your idea!

[2018-03-08 13:12] rmi7 commented on #909
This would "in a way" break the _promise_ of the blockchain only moving **forward**, not by undoing entire blocks, but by undoing state changes included in the last `X` blocks of a given smart contract `Y`? Still feels like going back in time, no no 💣

For example: I wouldn't trust ERC20 tokens that have this feature in some `onlyOwner` accessible methods..they could just revert the ERC20 token ba

[2018-03-08 13:31] holiman commented on #905
While this is technically simple to implement, consider this:

* I clone the storage of btcrelay, or cryptokitties
* I delete every storage entry, get the gas-cashback for the deletion...

So basically I could use another contracts data (which it paid for), to create very cheap state modification (since the deletion of data is subsidized). Sounds like a DoS-attack to me.

[2018-03-08 13:40] GNSPS commented on #909
I think you’re kind of missing the point.
The capability to change storage contents  from a deployed smart contract have always been there.
If what you’re worried is that some contract developer does revert storage in the first place then you can already do that today.

Lack of _trustlessness_ in the development phase shouldn’t be an argument against this proposal.

[2018-03-08 13:41] Arachnid commented on #780
It'd also be good to define a format for claim keys so people don't collide - maybe one prefix for keys registered in an EIP, and another for ad-hoc ones

[2018-03-08 13:43] JosefJ commented on #725
@frozeman
ad key hashing)
As we were discussing, there are probably reasons why to store the plain keys (transparency) but also why to hash them (privacy). Not sure what's the right approach but specifying that per key might be good. I think the case of Ethereum addresses as keys are a special case.
Something like adding the hashed/notHashed distinction to the key struct could help
[code]
OR this

[2018-03-08 13:51] balazskonya opened #921 "Pros and cons of making the Foundation more transparent (Discussion)"
Following up [this](https://github.com/ethereum/research/issues/81) issue, which was a follow-up to [that](https://ethresear.ch/t/meta-innovation/1272) question.

[2018-03-08 14:29] ivica7 commented on #905
Thanks for commenting @holiman. That's worth taking a closer look on it!

So what would an attacker do?

Case 1:
He SCLONE a contract and deletes all slots in one transaction. This would effectively cause no change in the trie, since the old contract is reusing the trie structure as is and the new empty contract would have a storage root hash poiting to empty storage.

Case 2:
The attacker SCLONE

[2018-03-08 14:32] MicahZoltu commented on #905
The attacker basically gets half off on all of their transactions by just suffixing them with a big deletion.

Alternatively, the attacker clones something like Augur periodically which prevents the trie nodes from being deleted, so when Augur transactions clear storage, the system can't actually clean up any space so other people end up getting gas refunds when they shouldn't.

I think the only w

[2018-03-08 14:57] flygoing commented on #909
@ivica7 SCLONE (EIP905) might be pointless and is at least dangerous. Since SCLEAR refunds gas, a contract could clone a contracts storage and just delete state from itself to save the calling tx gas. So, to bypass this issue, SCLONE would have to be at least as expensive as 20,000 * (the number of non-zero storage locations in source contract), making the opcode pointless anyway since it isn't re

[2018-03-08 15:09] ivica7 commented on #909
That's an interesting point. Have there been proposals for this (rent collection based storage)?

[2018-03-08 15:15] ivica7 commented on #905
@MicahZoltu @holiman : ok. I've got the point why this is dangerous.

Just for the reference @flygoing, made a good comment on this in #909 (it could work, if we would have rent based storage).

Ok, I am closing this ticket. I learned a lot! Thank you very much for your time and comments.

[2018-03-08 15:51] flygoing commented on #911
@ivica seeing as the average tx gas is around 50k, the 1.2k (~2%) added for clone calls. Obviously the delegatecall isn't necessary for all contracts, just for ones that are duplicate contracts. So you're looking at maybe 1%.

There are issues with creation with cheap code copy in that if a contract is SELFDESTRUCTED, they don't actually deserve the refund because the contract code can't actually

[2018-03-08 16:08] FBrinkkemper commented on #725
As commented at EthCC, it would be nice to split up identity into pluggable layers. Erc725 would then be the Identity keys management standard specification, while erc725/780 remain responsible of claims

Would it be possible to rename the erc?

[2018-03-08 19:46] ivica7 commented on #911
@flygoing the refund on SELFDESTRUCT is mainly deserved because the storage for the contract can be removed. Deleting/adding bytecode to the DB is O(1). Already now it's stored redundancy-free as codeHash->bytecode key-value-pair. I think this is not of significance in this case.

Counted at block number 5 200 035, there are 5 212 554 contract instances (see Stats from the Motivation-Section).
5 1

[2018-03-08 20:56] nerdralph commented on #861
At the risk of feeding a troll or kook, I'll give the benefit of the doubt and assume this EIP is just the product of ignorance.
Even if you assume CO2 emissions matter, there is no proof of the carbon intensity of ethereum mining numbers cited in this EIP.  Many of the largest crypto mining datacenters run off hydro power.
i.e. http://www.greatnorthdata.com/
If I had to wager, I'd bet that 50% of

[2018-03-08 21:00] mryellow commented on #223
`require(_to.call(_data));`

Ahhh I was under the mistaken impression that `call` was like the web3 implementations where it's only used for pure and views. Had assumed this was simply looking for a positive response but wouldn't forward the gas to run further code.